{% extends "layout.html" %}

{% block title %}Nyheter{% endblock %}
{% block breadcrumb_title %}Nyheter{% endblock %}
{% block extra_js %}
  <script src="{{ STATIC_URL }}js/article-list.js"></script>
{% endblock %}

{% block body %}

{% csrf_token %}

<div class="row">
  <div class="span12">
    <div class="article-listing" data-initial-count="{{ versions|length }}">
      <h1>Nyheter{% if tag %} &mdash; {{ tag }}{% endif %}</h1>

      {% if tag %}
        <p>
          Viser artikler tagget med "<em>{{ tag }}</em>". <a href="{% url articles.views.index %}">Vis alle artikler</a>.
        </p>
      {% endif %}

      {% for version in versions %}
        {% if forloop.counter0|divisibleby:"2" or forloop.first %}
          <div class="row-fluid" style="margin-bottom: 20px">
        {% endif %}

          {% include 'page/article-list-item.html' with version=version %}

        {% if not forloop.counter0|divisibleby:"2" or forloop.last %}
          </div>
        {% endif %}

      {% endfor %}

      <div class="article-loader">
        <img src="{{ STATIC_URL }}img/ajax-loader-large.gif" alt="Laster, vennligst vent..."><br>
        Laster flere artikler, vennligst vent...
      </div>
    </div>

    <h3>
      Våre tidligere publiserte artikler finner du foreløpig på <a href="http://{{ old_site }}/article.php">våre gamle sider</a>.
    </h3>
  </div>
</div>

{% endblock %}
