{% extends "layout.html" %}

{% block title %}Artikler{% endblock %}
{% block breadcrumb_title %}Artikler{% endblock %}

{% block body %}

<div id="article-list">
  <div class="row">
    <div class="span12">
      <h1>Artikler</h1>
    </div>
  </div>

  {% for version in versions %}
    <div class="item">
      <h2>
        <a href="{% url articles.views.show version.variant.article.id version.title.content|striptags|slugify %}">
          {{ version.title.content|striptags }}
        </a>
      </h2>
      <p class="date">{{ version.variant.article.pub_date|date:"j. F Y" }}</p>
      {% if not version.hide_thumbnail %}
        <a href="{% url articles.views.show version.variant.article.id version.title.content|striptags|slugify %}">
          <img src="{{ version.thumbnail }}" alt="{{ version.title.content|striptags }}">
        </a>
      {% endif %}
      <div class="preview-lede">
        <a href="{% url articles.views.show version.variant.article.id version.title.content|striptags|slugify %}">
          {{ version.lede.content|striptags|truncatewords:60 }}
        </a>
      </div>
    </div>
    <div style="clear: both;"></div>
  {% endfor %}


  <h3>
    Våre tidligere publiserte artikler finner du foreløpig på <a href="http://{{ old_site }}/article.php">våre gamle sider</a>.
  </h3>

</div>

{% endblock %}
