<div class="row ad">
  <div class="span12">
      <p class="ad-label">Annonse</p>
      {% if ad.ad.content_type == 'application/x-shockwave-flash' %}
        <script src="{{ STATIC_URL }}lib/swfobject/swfobject-2.2.js"></script>
        <script>
          var flashvars = {
            // Account for some unfortunate variations in clicktag capitalization
            clickTAG: "{% url page.views.ad ad.id %}",
            clickTag: "{% url page.views.ad ad.id %}"
          };
          {# Require flash version 9, not sure if this is reasonable? #}
          swfobject.embedSWF("{{ ad.ad.url }}", "ad", "{{ ad.ad.width }}", "{{ ad.ad.height }}", "9.0.0", undefined, flashvars);
        </script>
        <div id="ad">
          <a href="{% url page.views.ad ad.id %}">
            <img src="{{ ad.ad.fallback_url }}" alt="{{ ad.ad.name }}">
          </a>
        </div>
      {% else %}
        <a href="{% url page.views.ad ad.id %}">
          <img src="{{ ad.ad.url }}" alt="{{ ad.ad.name }}">
        </a>
      {% endif %}
  </div>
</div>
