{# Temporary hardcoded promo-box #}
{% if promo %}
<div class="widget promo">
  {% include promo %}
</div>
{% endif %}

<article>
  {% for row in rows %}
  <div class="row-fluid">
    {% for column in row.columns %}
      <div class="offset{{ column.offset }} span{{ column.span }}">
        {% for content in column.contents %}
          {% if content.type == 'html' or content.type == 'title' or content.type == 'lede' %}
            <div class="content">
              {{ content.content|safe }}
            </div>
          {% elif content.type == 'image' %}
            <div class="content image">
              {% if content.content.anchor %}<a href="{{ content.content.anchor }}">{% endif %}
                <img src="{{ content.content.src }}" alt="{{ content.content.description }}">
              {% if content.content.anchor %}</a>{% endif %}
              {% if content.content.description.empty %}
                <div class="img-desc">
                  {{ content.content.description }}
                  {% if content.content.photographer %}
                    Foto: {{ content.content.photographer }}
                  {% endif %}
                </div>
              {% endif %}
            </div>
          {% elif content.type == 'widget' %}
            <div class="content widget {{ content.content.widget }}">
              {% include content.content.template with widget=content.content %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>
  {% endfor %}
</article>
