{% extends "layout.html" %}
{% block body %}
<div id="grid">
  <div id="body">
    <div class="path">
      <a href="{% url page.views.page %}">Forsiden</a> /
    </div>
    <div id="content">
      <div class="top">
      <h1>{{ content.title }}</h1>
        Har du gått mye i høyfjellet og har fjellerfaring som du gjerne vil dele med andre?
        Lyst til å jobbe med ulike mennesker og kan ta beslutninger på vegne av andre?
        Har du lyst til å være turleder på DNTs fellesturer? Da er turlederutdanningen noe for deg!
      </div>
      <div id="context">
        <div class="mod ">
          <blockquote>"En god opplevelse med å være riktig kledd for både store og små ekspedisjoner"</blockquote>
          <p class="txt_r">- Ole Andreas Devold</p>
          <a href=""><img src="{{ STATIC_URL }}img/partner/devold-big.png" alt="Devold"  /></a>
        </div>
        <div class="mod modBox">
          <h2>Medlemsservice</h2>
          <p>Ring: 4000 1970</p>
          <p>Åpent alle hverdager: kl: 09.00 - 16.00
          e-post: medlem@turistforeningen.no</p>
          <p>Har du spørsmål om hytter, stier eller turforslag ta kontakt med din lokale forening</p>
        </div>
      </div>
      <div class="inner">
        <hr>
        {% for widget in widgets %}
        {% include widget.template %}
        {% endfor %}
        <hr>

        <h2>Instruktørutdannelsen er på fire nivå</h2>
        <p>Utdanningen er tenkt som en stige, der Ambassadør er laveste nivå, og vinterturleder høyeste nivå. Sentrale temaer er orientering, veivalg, ledelse, og kommunikasjon.</p>
        <p>Hele utdanningen kan du ta over 6 helger og gir en enhetlig basiskompetanse som sikrere trygghet og trivsel for turdeltakerne uansett årstid og alder. Som turleder er man et forbilde for andre, og formålet med utdanningen er å stimulere deltakerne til å drive et enkelt, aktivt, trygt og miljøvennlig friluftsliv i tråd med norske friluftstradisjoner.</p>
        <h2>De fire modulene er:</h2>
        <img src="{{ STATIC_URL }}ux-content/kurs/turleder-moduler.png" alt="moduloversikt"/>
        <p><strong>DNT-ambassadør</strong> er det første og enkleste nivået, og er en utdanning for organisering og gjennomføringen av turer uten bruk av kart og kompass. DNT-ambassadørkurs er på  en ½ dag, 3 timer.</p>
        <p><strong>Grunnleggende turlederkurs</strong> (modul 1+2) er det neste nivået. Dette er en turleder sommerstid med begrensinger til sti og vei i nærmiljøet. 4. Modul 2 - tar 2 dager eller 15 timer</p>
        <p><strong>Sommerturleder</strong> (modul 1-3) er turleder sommerstid i høyfjellet, og det tredje nivået i utdanningen. Modul 3 tar 2 dager eller 15 timer</p>
        <p><strong>Vinterturleder</strong> (modul 1-4) er det øverste nivået i utdanningen. En vinterturleder kan fungere som turleder ved alle DNTs arrangementer hele året. Modul 4 tar 2 dager eller 15 timer.</p>
        <p>For å bli med på instruktørutdanningen må du sende inn en søknad.</p>
        <a class="button" href="#">SEND INN SØKNAD</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
