{% extends "layout.html" %}
{% block title %}Søk{% endblock %}
{% block body %}

<div id="search-results">
  <h1>Søk</h1>

  {% if query_too_short %}
    <p>
      Vennligst bruk minst {{ search_char_limit }} tegn når du søker, ellers vil du få alt for mange treff.
    </p>
  {% else %}
    {% if hits|length == 0 %}
      <p>
        Beklager, vi fant ingen sider eller artikler som inneholder "<strong>{{ search_query }}</strong>".
      </p>
    {% else %}

      <p class="hits">
        Antall treff: {{ hits|length }}
      </p>

      {% for hit in hits %}
        <div class="search-result">
          <h2><a href="{{ hit.url }}">{{ hit.title }}</a></h2>
          <p class="url"><a href="{{ hit.url }}">{{ hit.url }}</a></p>
        </div>
      {% endfor %}
    {% endif %}
    <p>
      Kanskje det du leter etter ligger på våre <a href="http://{{ old_site }}/">gamle sider</a>?
    </p>
  {% endif %}
</div>
{% endblock %}
