<div class="display large" data-toggle="modal" data-target=".item-{{ item.id }}">
  <img src="{{ item.images.standard_resolution.url }}">
  <div class="hover-content hide">
    <div class="content">
      <p>
        Bruker: <a href="http://instagram.com/{{ item.user.username }}/" class="noexternal">{{ item.user.username }}</a>
      </p>

      <p>
        {# Unless the tags are really really long, this magic amount of tags should be able to fit in this image #}
        {% for tag in item.tags|slice:":50" %}
           #{{ tag }}
        {% endfor %}
      </p>
    </div>
  </div>
</div>
{% include 'main/instagram/modal.html' with item=item %}
