/**
 * Stylesheet for page/article editing
 */

article .insertable {
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(65, 65, 65) !important;
  color: rgb(195, 195, 195) !important;
}

article .insertable, article .empty {
  text-align: center;
  color: rgb(125, 125, 125);
  font-size: 180%;
  font-style: italic;
  line-height: 100%;
}

article .hover-remove {
  cursor: pointer;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.ui-widget-overlay {
  position: fixed;
  z-index: 900;
}

div.overlay-loader {
  position: fixed;
  top: 200px;
  left: 200px;
  right: 200px;
  min-width: 250px;
  text-align: center;
  background-color: white;
  border: 1px solid rgb(200, 200, 200);
  padding: 40px;
  z-index: 1000;
}
@media (max-width: 650px) {
  div.overlay-loader {
    left: 10px;
    width: 200px;
  }
}

article .meta.static {
  cursor: not-allowed;
}

article div.image img {
  display: block;
  background-color: rgb(0, 0, 0);
  min-width: 20px;
  min-height: 20px;
}

article div.image img:hover, article div.widget:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: alias;
}

input.url {
  width: 350px;
}

article div[contenteditable='true'].selected {
  background-color: rgb(215, 215, 215);
}

article div[contenteditable='true']:hover:not(.selected) {
  background-color: rgb(235, 235, 235);
}

article .moveable {
  cursor: move;
}

article .moveable.horizontal {
  background: url("/static/img/arrow-left.png") left center no-repeat, url("/static/img/arrow-right.png") right center no-repeat rgb(238, 238, 238);
}

article .moveable.vertical {
  background: url("/static/img/arrow-up.png") center top no-repeat, url("/static/img/arrow-down.png") center bottom no-repeat rgb(238, 238, 238);
}


#toolbar {
  position: fixed;
  top: 50px;
  right: 50px;
  width: 500px;
  z-index: 1000;
}

#toolbar .tab-content, #toolbar li.active a {
  background-color: rgb(245, 245, 245) !important;
}

#toolbar ul.nav li a:hover {
  background-color: rgb(200, 200, 200);
}

#toolbar ul.nav {
  /* Negate the default bootstrap margin */
  margin-bottom: 0 !important;
}

#toolbar ul.nav li a {
  background-color: rgb(225, 225, 225);
}

#toolbar .tab-content {
  padding: 9px;
  border-left: 1px solid rgb(221, 221, 221);
  border-right: 1px solid rgb(221, 221, 221);
  border-bottom: 1px solid rgb(221, 221, 221);
}

#toolbar .save input.autosave-frequency {
  width: 20px;
  height: 0.8em;
}

#toolbar a.button {
  display: block;
  float: left;
  cursor: pointer;
  width: 27px;
  height: 27px;
}

#toolbar a.button:hover {
  text-decoration: none;
}

#dialog-columns h1 {
  font-size: 140%;
  text-align: center;
}

#dialog-columns img:hover {
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

#dialog-add-widget div.widget-thumbnail {
  cursor: pointer;
  float: left;
  margin: 12px;
  padding: 10px;
  border: 1px solid rgb(0, 0, 0);
  min-height: 200px;
  text-align: center;
}

#dialog-add-widget div.widget-thumbnail img {
  display: block;
  margin-bottom: 10px;
}

#dialog-add-widget div.widget-thumbnail p {
  font-size: 160%;
  font-weight: bold;
}

div.alert p.delete-content-warning {
  font-size: 120%;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}
