{% extends 'central/layout.html' %}

{% load advertisement %}

{# Children will have to define the breadcrumb and title #}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/public/instagram.js"></script>
{% endblock %}

{% block body %}

<div class="instagram-header">
  {% block intro %}{% endblock %}
</div>

<div class="instagram-wrapper" data-load-url="{% url 'instagram.views.load' %}">
  <div class="items"></div>

  <div style="clear: both;"></div>

  <div class="infinite-loader">
    <button class="btn btn-large">Se flere bilder</button>

    <div class="loading form-border jq-hide">
      <img src="{{ STATIC_URL }}img/common/ajax-loader-large.gif" alt="Laster, vennligst vent..."><br>
      Laster bilder, vennligst vent...
    </div>
  </div>

  <div class="ender jq-hide">
    Dette var alle bildene vi klarte å finne i denne omgang.
  </div>

  <div class="instagram-skeleton jq-hide">
    <div class="wrap2 left"></div>
    <div class="right"></div>
    <div class="wrap2 left"></div>
    <div class="wrap2 left"></div>
    <div class="wrap2 right"></div>
    <div class="left"></div>
  </div>

</div>

{% advertisement %}

{% endblock %}
