{% extends 'main/admin/layout.html' %}
{% block title %}Analyse &mdash; {{ block.super }}{% endblock %}
{% block header %}<a href="{% url admin.analytics.views.index %}">Analyse</a>{% endblock %}
{% block extra_js %}
  <script src="{{ STATIC_URL }}js/admin/analytics.js"></script>
{% endblock %}
{% block body %}

<h2>Søkestatistikk</h2>

<p>
  Merk: Det gjøres ikke forskjell på store/små bokstaver ved opptelling, derfor har alle søk i flest treff-lista små bokstaver.
</p>

<p>
  Flest treff-listen er ganske stor og caches i 24 timer.
</p>

<div class="row">

  <div class="span6">
    <table class="table">
      <tr>
        <th colspan="2">Flest treff</th>
      </tr>
      {% for search in most_searched %}
        {% if forloop.counter < 50 %}
          <tr>
            <td>{{ search.count }}</td>
            <td>{{ search.query }}</td>
          </tr>
        {% else %}
          <tr class="hide">
            <td>{{ search.count }}</td>
            <td>{{ search.query }}</td>
          </tr>
        {% endif %}
        {% if forloop.counter == 50 %}
          <tr class="expand">
            <td colspan="2"><button class="btn"><i class="icon-plus"></i> Vis alle</button></td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
  </div>

  <div class="span6">
    <table class="table">
      <tr>
        <th colspan="2">Nyeste søk</th>
      </tr>
      {% for search in latest_searches %}
        <tr>
          <td>{{ search.date|date:"H:i" }}</td>
          <td>{{ search.query }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>

{% endblock %}
