{% extends 'common/admin/layout.html' %}

{% block title %}Kampanjer — {{ block.super }}{% endblock %}

{% block admin_menu %}{% with 'sites' as active_entry %}{{ block.super }}{% endwith %}{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}lib/jcrop/js/jquery.Jcrop.min.js"></script>
  <script src="{{ STATIC_URL }}js/admin/images/util/image-archive-picker.js"></script>
  <script src="{{ STATIC_URL }}js/admin/images/util/image-upload-dialog.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/campaigns/edit.js"></script>
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/jcrop/css/jquery.Jcrop.min.css" media="screen">
{% endblock %}

{% block body %}

<div class="edit-campaign">

  <div class="row">
    <div class="col-lg-12">
      <h1>Kampanjer <small>opprett eller rediger en kampanje</small></h1>
      <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i> <a href="{% url 'admin.views.index' %}">Sherpa</a></li>
        <li><a href="{% url 'admin.sites.views.index' active_site.id %}">Nettsteder</a></li>
        <li><a href="{% url 'admin.sites.views.index' active_site.id %}">{{ active_site.domain }}</a></li>
        <li><a href="{% url 'admin.sites.campaigns.views.index' active_site.id %}">Kampanjer</a></li>
        {% if campaign %}
          <li><a href="{% url 'admin.sites.campaigns.views.edit' active_site.id campaign.id %}">{{ campaign.title }}</a></li>
        {% else %}
          <li><a href="{% url 'admin.sites.campaigns.views.edit' active_site.id %}">Ny kampanje</a></li>
        {% endif %}
      </ol>
    </div>
  </div><!-- /.row -->

  <div class="row">
    <div class="col-lg-12">

      <ol class="section-progress" data-choose-image-warning="Velg bakgrunnsbilde før du går videre!">
        <li class="active">
          <a href="javascript:undefined" data-step="1">Velg bakgrunnsbilde</a>
          <span class="divider">
            <i class="fa fa-angle-right"></i>
          </span>
        </li>
        <li>
          <a href="javascript:undefined" data-step="2">Velg utsnitt på bildet</a>
          <span class="divider">
            <i class="fa fa-angle-right"></i>
          </span>
        </li>
        <li>
          <a href="javascript:undefined" data-step="3">Sett inn tekst/knapp</a>
          <span class="divider">
            <i class="fa fa-angle-right"></i>
          </span>
        </li>
        <li>
          <form action="{% url 'admin.sites.campaigns.views.save' active_site.id %}" method="post" class="save">
            {% csrf_token %}
            <input type="hidden" name="campaign">
            <input type="hidden" name="existing_campaign" value="{{ campaign.id }}" data-campaign="{{ campaign.to_json }}">
            <input type="hidden" name="photographer" value="{{ campaign.photographer }}">
            <button class="btn btn-success" type="submit">Lagre</button>
          </form>
        </li>
      </ol>

      <hr>
    </div>
  </div>

  <div class="step" data-step="1">
    <div class="row">
      <div class="col-lg-12">
        <p>
          Du kan hente et som allerede finnes i bildearkivet eller laste opp et fra din PC. Bildet bør være ganske stort, helst mer enn 940x480 piksler.
        </p>

        <button class="btn btn-default pick-from-image-archive"><i class="fa fa-picture-o"></i> Hent et bilde fra bildearkivet</button>
        <button class="btn btn-default upload-new-image"><i class="fa fa-upload"></i> Last opp et bilde fra din PC</button>

      </div>
    </div>
  </div>

  <div class="step jq-hide" data-step="2">
    <div class="row">
      <div class="col-lg-12">

        <p>
          Velg et utsnitt i bildet under og klikk på knappen når du er fornøyd:
          <button class="btn btn-default accept-crop"><i class="fa fa-check"></i> Ok, dette utsnittet er fint!</button>
        </p>

        <img src="" alt="" class="chosen-image" data-image-scale-warning="Utsnittet du valgte er så lite at bildet kan bli kornete. Vil du ta sjansen på at det ser OK ut?">
        <img class="chosen-image-ajaxloader jq-hide" src="{{ STATIC_URL }}img/ajax-loader-large.gif" alt="Laster, vennligst vent...">

      </div>
    </div>
  </div>

  <div class="step jq-hide" data-step="3">
    <div class="row">
      <div class="col-lg-12">

        <p>
          Her kan du sette inn tekst og knapp. Trykk på teksten for å endre den, og dra den rundt for å plassere den der du vil.
        </p>

        <div class="form-inline campaign-title">
          <div class="form-group">
            <label>Kampanjens tittel:</label>
            <input type="text" name="campaign-title" class="form-control" value="Kampanje">
          </div>
        </div>

        <div class="campaign-container">
          <img src="" alt="" class="cropped-image">
          <div class="button campaign-element movable">
            <a href="http://www.turistforeningen.no/" class="btn btn-danger" contenteditable="true">Klikk på meg</a>
          </div>
          <div class="photographer campaign-element jq-hide">
            Foto: <span class="name"></span>
          </div>
        </div>

        <div class="edit-button" data-wrapper="campaign-button">

          <h2>Knapp og tekster</h2>

          <div class="form-inline">
            <label class="checkbox-inline">
              <input type="checkbox" name="exclude-button"> Skjul knapp
            </label>

            <label class="checkbox-inline">
              <input type="checkbox" name="large-button"> Ekstra stor
            </label>

            <div class="form-group">
              <label>Lenker til:</label>
              <input type="text" name="button-anchor" class="form-control" value="http://www.turistforeningen.no/">
            </div>
          </div>

        </div><!-- /[data-wrapper='campaign-button'] -->

        <div class="edit-photographer" data-edit="photographer">

          <div class="form-inline">
            <label>Fotograftekst:</label>

            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-default">
                <input type="radio" name="photographer-alignment" value="left"> Venstre
              </label>
              <label class="btn btn-default">
                <input type="radio" name="photographer-alignment" value="right"> Høyre
              </label>
            </div>

            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-default">
                <input type="radio" name="photographer-color" value="white"> Hvit
              </label>
              <label class="btn btn-default">
                <input type="radio" name="photographer-color" value="black"> Sort
              </label>
            </div>
          </div>

        </div><!-- /[data-edit='photographer'] -->

        <div class="text-editors">
          {# Will be filled out with jquery #}
        </div>

        <p>
          <button class="btn btn-default add-text-editor"><i class="fa fa-text-width"></i> Legg til mer tekst</button>
        </p>

      </div>
    </div>
  </div>

  <div class="text-template campaign-element movable jq-hide" contenteditable="true">
  </div>

  <div class="text-editor-template jq-hide">

    <div class="form-inline">

      <div class="form-group">
        <label>Skrift:</label>
        <select name="font-sizes">
          {% for font_size in font_sizes %}
            <option value="{{ font_size }}px">{{ font_size }}px</option>
          {% endfor %}
        </select>
      </div>


      <label>Farge:</label>

      <div class="form-group">
        <div class="colorselector">
          <div style="background-color: #333"></div>
        </div>
      </div>

      <label class="checkbox-inline">
        <input type="checkbox" name="bold"> Fet tekst
      </label>

      <div class="form-group">
        <button class="btn btn-danger remove">
          <i class="fa fa-times"></i> Fjern
        </button>
      </div>

    </div>
  </div>
</div>

{% include 'common/admin/images/util/image-archive-picker.html' %}
{% include 'common/admin/images/util/image-upload-dialog.html' %}

{% endblock %}
