{% extends 'common/admin/layout.html' %}

{% block title %}Kampanjer — {{ block.super }}{% endblock %}

{% block admin_menu %}{% with 'sites' as active_entry %}{{ block.super }}{% endwith %}{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}lib/jcrop/js/jquery.Jcrop.min.js"></script>
  <script src="{{ STATIC_URL }}js/admin/images/util/image-archive-picker.js"></script>
  <script src="{{ STATIC_URL }}js/admin/images/util/image-upload-dialog.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/campaigns/edit.js"></script>
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/jcrop/css/jquery.Jcrop.min.css" media="screen">
{% endblock %}

{% block body %}

<div class="edit-campaign" data-dnt-container="edit-campaign">

  <div class="row">
    <div class="col-lg-12">
      <h1>Kampanjer <small>opprett eller rediger en kampanje</small></h1>
      <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i> <a href="{% url 'admin.views.index' %}">Sherpa</a></li>
        <li><a href="{% url 'admin.sites.views.index' active_site.id %}">Nettsteder</a></li>
        <li><a href="{% url 'admin.sites.views.index' active_site.id %}">{{ active_site.domain }}</a></li>
        <li><a href="{% url 'admin.sites.campaigns.views.index' active_site.id %}">Kampanjer</a></li>
        {% if campaign %}
          <li><a href="{% url 'admin.sites.campaigns.views.edit' active_site.id campaign.id %}">{{ campaign.title }}</a></li>
        {% else %}
          <li><a href="{% url 'admin.sites.campaigns.views.edit' active_site.id %}">Ny kampanje</a></li>
        {% endif %}
      </ol>
    </div>
  </div><!-- /.row -->

  <div class="row">
    <div class="col-lg-12">

      <ol class="section-progress" data-dnt-container="section-progress" data-dnt-choose-image-warning="Velg bakgrunnsbilde før du går videre!">
        <li class="active">
          <a href="javascript:undefined" data-dnt-step-trigger="1">Velg bakgrunnsbilde</a>
          <span class="divider">
            <i class="fa fa-angle-right"></i>
          </span>
        </li>
        <li>
          <a href="javascript:undefined" data-dnt-step-trigger="2">Velg utsnitt på bildet</a>
          <span class="divider">
            <i class="fa fa-angle-right"></i>
          </span>
        </li>
        <li>
          <a href="javascript:undefined" data-dnt-step-trigger="3">Sett inn tekst/knapp</a>
          <span class="divider">
            <i class="fa fa-angle-right"></i>
          </span>
        </li>
        <li>
          <form action="{% url 'admin.sites.campaigns.views.save' active_site.id %}" method="post" class="save" data-dnt-container="save" data-intro="Når du er ferdig, klikker du her for å lagre kampanjen." data-step="6">
            {% csrf_token %}
            <input type="hidden" name="campaign">
            <input type="hidden" name="existing_campaign" value="{{ campaign.id }}" data-dnt-campaign="{{ campaign.to_json }}">
            <input type="hidden" name="photographer" value="{{ campaign.photographer }}">
            <button class="btn btn-success" type="submit">Lagre</button>
          </form>
        </li>
      </ol>

      <hr>
    </div>
  </div>

  <div data-dnt-step="1">
    <div class="row">
      <div class="col-lg-12">
        <p>
          Du kan hente et som allerede finnes i bildearkivet eller laste opp et fra din PC. Bildet bør være ganske stort, helst mer enn 940x480 piksler.
        </p>

        <p>
          Hvis bildet du henter har oppgitt hvem som er fotograf, så vil det automatisk komme opp på bildet.
        </p>

        <button class="btn btn-default pick-from-image-archive"><i class="fa fa-picture-o"></i> Hent et bilde fra bildearkivet</button>
        <button class="btn btn-default upload-new-image"><i class="fa fa-upload"></i> Last opp et bilde fra din PC</button>

      </div>
    </div>
  </div>

  <div class="jq-hide" data-dnt-step="2">
    <div class="row">
      <div class="col-lg-12">

        <p>
          Velg et utsnitt i bildet under og klikk på knappen når du er fornøyd:
          <button class="btn btn-default accept-crop"><i class="fa fa-check"></i> Ok, dette utsnittet er fint!</button>
        </p>

        <img src="" alt="" class="chosen-image" data-dnt-chosen-image data-dnt-image-scale-warning="Utsnittet du valgte er så lite at bildet kan bli kornete. Vil du ta sjansen på at det ser OK ut?">
        <img class="jq-hide" src="{{ STATIC_URL }}img/ajax-loader-large.gif" alt="Laster, vennligst vent..." data-dnt-ajaxloader-for="chosen-image">

      </div>
    </div>
  </div>

  <div class="jq-hide" data-dnt-step="3">
    <div class="row">
      <div class="col-lg-12">

        <div class="form-default form-horizontal">

          <div class="form-group">
            <div class="col-md-2 control-label">
              <button class="btn btn-default btn-lg" data-dnt-trigger="introjs">
                <i class="fa fa-question"></i> Slik gjør du
              </button>
            </div>
            <div class="col-md-10" data-intro="Her ser du en hvordan kampanjen kommer til å se ut!<br><br><strong>Klikk på tittelen</strong>, og begynn å skrive, for å endre hva som står der.<br><br><strong>Dra tittelen rundt</strong> for å plassere den der du vil ha den.<br><br>Det samme gjelder for knappen." data-position="left" data-step="1">
              <div class="campaign" data-dnt-container="campaign" data-dnt-too-long-sentence-warning="Du har ikke plass til en så lang setning! Ta bort et ord eller to, og bruk 'enter' for å få en ny linje.">
                <img src="" alt="" data-dnt-cropped-image>
                <div class="button campaign-element movable" data-dnt-container="button" data-dnt-movable>
                  <a href="http://{{ main_site.domain }}/" class="btn btn-danger" contenteditable="true">Klikk på meg</a>
                </div>
                <div class="photographer campaign-element jq-hide" data-dnt-container="photographer">
                  Foto: <span class="name" data-dnt-photographer-name></span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group" data-intro="Her gir du kampanjen et navn. Denne blir ikke synlig på kampanjen men brukes bare for å finne kampanjen igjen i Sherpa." data-position="top" data-step="2">
            <label class="col-md-2 control-label">Tittel</label>
            <div class="col-md-10">
              <input type="text" name="campaign-title" class="form-control" value="{{ campaign.title|default:"Kampanje" }}">
              <div class="form-hints">
                Denne vises ikke på selve kampanjen, det er bare en intern tittel du kan bruke til å finne tilbake til denne kampanjen senere
              </div>
            </div>
          </div>

          <div class="edit-button" data-dnt-container="edit-button" data-intro="Her velger du hvordan knappen ser ut og hvilken adresse den peker til.<br><br>Kampanjen bør peke til en landingsside som er relevant for det kampanjen handler om, og knappen bør oppfordre til noe, for eksempel: <strong>Les mer på UT.no</strong>." data-position="top" data-step="3">

            <div class="form-group">
              <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="exclude-button"> Ikke vis knapp
                  </label>
                </div>
              </div>
            </div>

            <div data-dnt-container="button-controls">
              <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="large-button"> Ekstra stor knapp
                    </label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-2 control-label">Knapp lenker til</label>
                <div class="col-md-10">
                  <input type="text" name="button-anchor" class="form-control" value="http://{{ main_site.domain }}/">
                </div>
              </div>
            </div><!-- /[data-dnt-container='button-controls'] -->

          </div><!-- /[data-dnt-container='edit-button'] -->

          <div class="edit-photographer" data-dnt-edit="photographer">

            <div class="form-group">
              <label class="col-md-2 control-label">Fotograftekst</label>
              <div class="col-md-10">

                <div class="form-inline">
                  <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default">
                      <input type="radio" name="photographer-alignment" value="left"> Venstrestilt
                    </label>
                    <label class="btn btn-default">
                      <input type="radio" name="photographer-alignment" value="right"> Høyrestilt
                    </label>
                  </div>

                  <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default">
                      <input type="radio" name="photographer-color" value="white"> Hvit
                    </label>
                    <label class="btn btn-default">
                      <input type="radio" name="photographer-color" value="black"> Sort
                    </label>
                  </div>
                </div>

              </div>
            </div>

          </div><!-- /[data-dnt-edit='photographer'] -->

          <div class="text-editors" data-dnt-container="text-editors" data-intro="Her velger du hvordan teksten på bildet <strong>ser ut</strong>, altså størrelse, farge og tykkelse.<br><br>Det er også her du kan <strong>ta bort</strong> tekst som du ikke vil ha på kampanjen likevel.<br><br>Når du endrer noe her, må du scrolle opp til forhåndsvisningen for å se hvordan det ser ut." data-position="top" data-step="4">
            {# Will be filled out by javascript... #}
          </div>

          {# ... with these #}
          <div class="text-editor jq-hide" data-dnt-container="text-editor" data-dnt-template="text-editor">

            <div class="form-group">
              <label class="col-md-2 control-label">Tekst</label>
              <div class="col-md-10">
                <p class="form-control-static content" data-dnt-trigger="content"></p>
                <a href="javascript:undefined" class="remove" data-dnt-trigger="remove">
                  <i class="fa fa-times"></i> Ta bort
                </a>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-2 control-label">Størrelse</label>
              <div class="col-md-10">
                <select name="font-sizes">
                  {% for font_size in font_sizes %}
                    <option value="{{ font_size }}px">{{ font_size }}px</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-2 control-label">Farge</label>
              <div class="col-md-10">
                <div class="colorselector" data-dnt-container="colorselector">
                  <div style="background-color: #333"></div>
                </div>
              </div>
            </div>


            <div class="form-group">
              <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="bold"> Fet tekst
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-offset-2 col-md-10" data-intro="Denne knappen lar deg legge til flere tekstelementer.<br><br>Kanskje du vil ha både en <strong>tittel</strong>, samt en <strong>liten, kort tekst</strong> litt under." data-position="top" data-step="5">
              <button class="btn btn-default add-text-editor"><i class="fa fa-text-width"></i> Legg til et nytt tekstelement</button>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="text campaign-element movable jq-hide" contenteditable="true" data-dnt-container="text" data-dnt-template="text" data-dnt-movable>
  </div>

</div>

{% include 'common/admin/images/util/image-archive-picker.html' %}
{% include 'common/admin/images/util/image-upload-dialog.html' %}

{% endblock %}
