
<div class="panel-group" id="dates">
  {% for i, date in aktivitet.get_dates_ordered %}
    {% include 'common/admin/aktiviteter/edit/date.html' %}
  {% empty %}
    {% include 'common/admin/aktiviteter/edit/date.html' with i=0 date=Null %}
  {% endfor %}
</div>

<div class="jq-hide" data-dnt-template="date">
  {% include 'common/admin/aktiviteter/edit/date.html' with i="tmp" date=Null %}
</div>

<div class="form-group">
  <div class="col-md-offset-0 col-md-10">
    <button class="btn btn-default add-date">
      <i class="fa fa-plus"></i> Legg til enda en turdato
    </button>
  </div>
</div>

