<div class="aktivitet-date">
  <div class="summary">
    <div class="control-group">
      <div class="controls">
        <div class="square-well">
          <table>
            <tr>
              <th>Tur:</th>
              <td class="date">{{ date.start_date|date:"j. F Y" }}</td>
              <td>til</td>
              <td class="date">{{ date.end_date|date:"j. F Y" }}</td>
            </tr>
            {% if date.signup_enabled %}
              <tr>
                <th>Påmelding:</th>
                <td class="date">{{ date.signup_start|date:"j. F Y" }}</td>
                <td>til</td>
                <td class="date">{{ date.signup_deadline|date:"j. F Y" }}</td>
              </tr>
              <tr>
                <th>Avmeldingsfrist:</th>
                <td class="date" colspan="3">{{ date.signup_cancel_deadline|date:"j. F Y" }}</td>
              </tr>
            {% else %}
              <tr>
                <td colspan="4">Ingen påmelding.</td>
              </tr>
            {% endif %}
            <tr class="management">
              <td></td>
              <td colspan="3"><a href="javascript:undefined" class="edit-date">Endre</a></td>
            </tr>
            <tr class="management">
              <td></td>
              <td colspan="3"><a href="javascript:undefined" class="delete-date" data-url="{% url 'admin.aktiviteter.views.delete_aktivitet_date' date.id %}">Slett</a></td>
            </tr>
            <tr class="ajaxloader hide">
              <td></td>
              <td>
                <img class="ajaxloader" src="{{ STATIC_URL }}img/ajax-loader-small.gif" alt="Lagrer, vennligst vent...">
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

  </div>
  <div class="editing hide" data-url="{% url 'admin.aktiviteter.views.edit_aktivitet_date' date.id %}">

    <div class="control-group start_date">
      <label class="control-label">Starter:</label>
      <div class="controls">
        <div class="input-append date">
          <input type="text" class="input-medium" name="start_date" value="{{ date.start_date|date:"d.m.Y" }}">
          <span class="add-on"><i class="icon-th"></i></span>
        </div>
        <input type="text" class="input-small" name="start_time" value="{{ date.start_date|date:"H:i" }}">
      </div>
    </div>

    <div class="control-group end_date">
      <label class="control-label">Slutter:</label>
      <div class="controls">
        <div class="input-append date">
          <input type="text" class="input-medium" name="end_date" value="{{ date.end_date|date:"d.m.Y" }}">
          <span class="add-on"><i class="icon-th"></i></span>
        </div>
        <input type="text" class="input-small" name="end_time" value="{{ date.end_date|date:"H:i" }}">
      </div>
    </div>

    <div class="control-group signup_enabled">
      <label class="control-label">Tillat påmelding:</label>
      <div class="controls">
        <input type="hidden" name="signup_enabled" value="{{ date.get_signup_enabled_json }}">
        <div class="btn-group" data-toggle="buttons-radio">
          <button class="btn enable{% if date.signup_enabled %} active{% endif %}">Ja</button>
          <button class="btn disable{% if not date.signup_enabled %} active{% endif %}">Nei</button>
        </div>
      </div>
    </div>

    <div class="signup-details{% if not date.signup_enabled %} hide{% endif %}">
      <div class="control-group signup_start">
        <label class="control-label">Påmeldingsstart:</label>
        <div class="controls">
          <div class="input-append date">
            <input type="text" class="input-medium" name="signup_start" value="{{ date.signup_start|date:"d.m.Y" }}">
            <span class="add-on"><i class="icon-th"></i></span>
          </div>
        </div>
      </div>

      <div class="control-group signup_deadline">
        <label class="control-label">Påmeldingsfrist:</label>
        <div class="controls">
          <div class="input-append date">
            <input type="text" class="input-medium" name="signup_deadline" value="{{ date.signup_deadline|date:"d.m.Y" }}">
            <span class="add-on"><i class="icon-th"></i></span>
          </div>
        </div>
      </div>

      <div class="control-group signup_cancel_deadline">
        <label class="control-label">Avmeldingsfrist:</label>
        <div class="controls">
          <div class="input-append date">
            <input type="text" class="input-medium" name="signup_cancel_deadline" value="{{ date.signup_cancel_deadline|date:"d.m.Y" }}">
            <span class="add-on"><i class="icon-th"></i></span>
          </div>
        </div>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <button class="btn btn-success save-date"><i class="icon-ok icon-white"></i> Lagre disse datoene</button>
        <img class="ajaxloader hide" src="{{ STATIC_URL }}img/ajax-loader-small.gif" alt="Lagrer, vennligst vent...">
      </div>
    </div>

  </div>
</div>
