{% extends 'common/admin/layout.html' %}
{% block title %}Aktiviteter &mdash; {{ block.super }}{% endblock %}
{% block header %}<a href="{% url admin.aktiviteter.views.index %}">Aktiviteter</a>{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/admin/images/util/image-archive-picker.js"></script>
  <script src="{{ STATIC_URL }}js/admin/images/util/image-upload-dialog.js"></script>
  <script src="{{ STATIC_URL }}js/admin/imagecarousel-picker.js"></script>
  <script src="{{ STATIC_URL }}js/admin/tags.js"></script>
  <script src="{{ STATIC_URL }}js/admin/aktiviteter/edit/description.js"></script>
{% endblock %}

{% block body %}

<div class="row">
  <div class="span12">

    <h2>Rediger aktivitet</h2>

    {% include 'common/admin/aktiviteter/edit/navigation.html' with active='description' %}

    {# TODO: Client-side validations #}
    <form action="{% url admin.aktiviteter.views.edit_description aktivitet.id %}" method="post" class="edit-aktivitet form-default form-horizontal" data-aktivitet-id="{{ aktivitet.id }}">
      {% csrf_token %}
      <input type="hidden" name="images" value="">

      <div class="control-group title">
        <label class="control-label" for="title">Tittel:</label>
        <div class="controls">
          <input type="text" class="input-xxlarge" name="title" value="{{ aktivitet.title }}">
        </div>
      </div>

      <div class="control-group description">
        <label class="control-label" for="description">Beskrivelse:</label>
        <div class="controls">
          <textarea rows="6" cols="80" name="description" class="input-xxlarge">{{ aktivitet.description }}</textarea>
        </div>
      </div>

      <div class="control-group difficulty">
        <label class="control-label" for="difficulty">Vanskelighetsgrad:</label>
        <div class="controls">
          <select name="difficulty" class="chosen" data-placeholder="Velg vanskelighetsgrad...">
            <option value=""></option>
            {% for difficulty in difficulties %}
              <option value="{{ difficulty.0 }}"{% if aktivitet.difficulty == difficulty.0 %} selected{% endif %}>{{ difficulty.1 }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="control-group audiences">
        <label class="control-label" for="audiences">Målgruppe:</label>
        <div class="controls">
          <select name="audiences" multiple class="chosen" data-placeholder="Velg målgruppe...">
            <option value=""></option>
            {% for audience in audiences %}
              <option value="{{ audience.0 }}"{% if audience.0 in aktivitet.get_audiences %} selected{% endif %}>{{ audience.1 }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="control-group tags">
        <label class="control-label" for="tags">Kategorier for <strong>{{ aktivitet.get_category }}</strong>:</label>
        <div class="controls">
          <select name="subcategories" class="chosen" data-placeholder="Legg til en kategori...">
            <option value=""></option>
            {% for category in aktivitet.get_missing_subcategories %}
              <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="control-group tags">
        <label class="control-label" for="tags">Opprett egne kategorier her:</label>
        <div class="controls">
          <input type="hidden" name="tags" value="">
          <p><input type="text" class="input-large" name="tag"></p>
          <div class="tag-box">
            {% for tag in aktivitet.category_tags.all %}
              <div class="tag">
                <a href="javascript:undefined" class="closer"></a>
                {{ tag.name }}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div style="clear: both;"></div>

      <div class="control-group hide_aktivitet">
        <label class="control-label" for="hide_aktivitet">Tilgjengelighet:</label>
        <div class="controls">
          <input type="hidden" name="hidden">
          <div class="btn-group" data-toggle="buttons-radio">
            <button class="btn show_aktivitet{% if not aktivitet.hidden %} active{% endif %}">Offentlig</button>
            <button class="btn hide_aktivitet{% if aktivitet.hidden %} active{% endif %}">Privat</button>
          </div>
          <div class="hints">
            {% if aktivitet.dates.count == 0 %}
              En privat aktivitet kommer ikke frem i <a href="{% url aktiviteter.views.index %}">søket</a>, men kan sees av hvem som helst hvis adressen besøkes direkte.
            {% else %}
              En privat aktivitet kommer ikke frem i <a href="{% url aktiviteter.views.index %}">søket</a>, men kan sees av hvem som helst på følgende adresse{% if aktivitet.dates.all|length > 1 %}r{% endif %}:<br>
              {% for aktivitet_date in aktivitet.get_dates_ordered %}
                <a href="{% url aktiviteter.views.show aktivitet_date.id %}">http://{{ site.domain }}{% url aktiviteter.views.show aktivitet_date.id %}</a>
                {% if not forloop.last %}<br>{% endif %}
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>

      <div class="control-group pub_date">
        <label class="control-label" for="pub_date">Publiseres:</label>
        <div class="controls">
          <div class="input-append date">
            <input type="text" class="input-medium" name="pub_date" value="{{ aktivitet.pub_date|date:"d.m.Y" }}">
            <span class="add-on"><i class="icon-th"></i></span>
          </div>
          <div class="hints">
            En upublisert aktivitet vises ikke på nettsidene (selv om den er privat).
          </div>
        </div>
      </div>

      <div class="control-group association">
        <label class="control-label" for="association">Arrangør:</label>
        <div class="controls">
          <select name="association" class="chosen" data-placeholder="Velg arrangør...">
            <option value=""></option>
            {% if user.get_profile.children_associations_sorted.central|length > 0 %}
              <optgroup label="Sentralt/nasjonalt">
                {% for association in user.get_profile.children_associations_sorted.central %}
                  <option value="{{ association.id }}"{% if aktivitet.association == association %} selected{% endif %}>{{ association.name }}</option>
                {% endfor %}
              </optgroup>
            {% endif %}
            {% if user.get_profile.children_associations_sorted.associations|length > 0 %}
              <optgroup label="Medlemsforeninger">
                {% for association in user.get_profile.children_associations_sorted.associations %}
                  <option value="{{ association.id }}"{% if aktivitet.association == association %} selected{% endif %}>{{ association.name }}</option>
                {% endfor %}
              </optgroup>
            {% endif %}
            {% if user.get_profile.children_associations_sorted.small_associations|length > 0 %}
              <optgroup label="Lokale turlag">
                {% for association in user.get_profile.children_associations_sorted.small_associations %}
                  <option value="{{ association.id }}"{% if aktivitet.association == association %} selected{% endif %}>{{ association.name }}</option>
                {% endfor %}
              </optgroup>
            {% endif %}
            {% if user.get_profile.children_associations_sorted.hike_groups|length > 0 %}
              <optgroup label="Turgrupper">
                {% for association in user.get_profile.children_associations_sorted.hike_groups %}
                  <option value="{{ association.id }}"{% if aktivitet.association == association %} selected{% endif %}>{{ association.name }}</option>
                {% endfor %}
              </optgroup>
            {% endif %}
          </select>
        </div>
      </div>

      <div class="control-group co_association">
        <label class="control-label" for="co_association">Medarrangør:</label>
        <div class="controls">
          <select name="co_association" class="chosen" data-placeholder="Ingen medarrangør">
            <option value=""></option>
            {% if all_associations.central|length > 0 %}
              <optgroup label="Sentralt/nasjonalt">
                {% for association in all_associations.central %}
                  <option value="{{ association.id }}"{% if aktivitet.co_association == association %} selected{% endif %}>{{ association.name }}</option>
                {% endfor %}
              </optgroup>
            {% endif %}
            {% if all_associations.associations|length > 0 %}
              <optgroup label="Medlemsforeninger">
                {% for association in all_associations.associations %}
                  <option value="{{ association.id }}"{% if aktivitet.co_association == association %} selected{% endif %}>{{ association.name }}</option>
                {% endfor %}
              </optgroup>
            {% endif %}
            {% if all_associations.small_associations|length > 0 %}
              <optgroup label="Lokale turlag">
                {% for association in all_associations.small_associations %}
                  <option value="{{ association.id }}"{% if aktivitet.co_association == association %} selected{% endif %}>{{ association.name }}</option>
                {% endfor %}
              </optgroup>
            {% endif %}
            {% if all_associations.hike_groups|length > 0 %}
              <optgroup label="Turgrupper">
                {% for association in all_associations.hike_groups %}
                  <option value="{{ association.id }}"{% if aktivitet.co_association == association %} selected{% endif %}>{{ association.name }}</option>
                {% endfor %}
              </optgroup>
            {% endif %}
          </select>
        </div>
      </div>

      <div class="control-group images">
        <label class="control-label" for="images">Bilder:</label>
        <div class="controls">
          {# TODO make this one generic, and replace the CMS widget with this one? #}
          <div class="imagecarousel-picker" data-preload="{{ aktivitet.get_images_json }}">
            <div class="navigation form-border">
              <span class="status">
                Bilde <span class="current">1</span> av <span class="total">1</span>
              </span>

              <button class="btn prev" disabled><i class="icon-arrow-left"></i> Forrige</button>
              <button class="btn btn-danger delete"><i class="icon-remove"></i> Slett dette bildet</button>
              <button class="btn next hide">Neste <i class="icon-arrow-right"></i></button>
              <button class="btn new">Nytt bilde <i class="icon-plus"></i></button>
            </div>

            <div class="current-image form-border">
              <table class="inputs">
                <tr>
                  <td>
                    Bilde (URL):
                  </td>
                  <td>
                    <input type="text" name="url" value="" class="input-xxlarge" placeholder="Legg inn lenke til bilde...">
                    <div class="shortcuts">
                      <button class="btn pick-from-image-archive"><i class="icon-search"></i> Finn bilde i arkivet</button>
                      <button class="btn upload-new-image"><i class="icon-upload"></i> Last opp nytt bilde</button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Bildetekst:</td>
                  <td>
                    <input type="text" name="text" value="" class="input-xxlarge">
                  </td>
                </tr>
                <tr>
                  <td>Fotograf:</td>
                  <td>
                    <input type="text" name="photographer" value="" class="input-xlarge">
                  </td>
                </tr>
              </table>

              <div class="display">
                <img src="" alt="" class="display hide">
                <img class="ajaxloader hide" src="/static/img/ajax-loader-large.gif" alt="Laster, vennligst vent...">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="control-group submit">
        <div class="controls">
          <button type="submit" class="btn btn-success btn-large"><i class="icon-ok icon-white"></i> Lagre alle endringer</button>
        </div>
      </div>

    </form>

  </div>
</div>

{% include 'common/admin/images/util/image-archive-picker.html' %}
{% include 'common/admin/images/util/image-upload-dialog.html' %}

{% endblock %}
