{% extends 'common/admin/layout.html' %}

{% load taglist %}

{% block title %}{{ aktivitet.title|default:"Ny aktivitet" }} — {{ block.super }}{% endblock %}

{% block admin_menu %}{% with 'aktiviteter' as active_entry %}{{ block.super }}{% endwith %}{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/leaflet/leaflet.css" media="screen">
  <!--[if lte IE 8]>
      <link rel="stylesheet" href="{{ STATIC_URL }}lib/leaflet/leaflet.ie.css" media="screen">
  <![endif]-->
{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/admin/images/util/image-archive-picker.js"></script>
  <script src="{{ STATIC_URL }}js/admin/images/util/image-upload-dialog.js"></script>
  <script src="{{ STATIC_URL }}js/admin/images/util/image-carousel-picker.js"></script>

  <script src="{{ STATIC_URL }}lib/leaflet/leaflet.js"></script>

  <script src="{{ STATIC_URL }}lib/xmlToJSON/xmlToJSON.js"></script>
  <script src="{{ STATIC_URL }}lib/jQuery.SSR/jQuery.SSR.js"></script>

  <script src="{{ STATIC_URL }}js/admin/aktiviteter/edit/turleder_search.js"></script>
  <script src="{{ STATIC_URL }}js/admin/aktiviteter/edit/dates.js"></script>
  <script src="{{ STATIC_URL }}js/admin/aktiviteter/edit/validations.js"></script>
  <script src="{{ STATIC_URL }}js/admin/aktiviteter/edit/edit.js"></script>
  <script src="{{ STATIC_URL }}js/admin/aktiviteter/edit/position.js"></script>
{% endblock %}

{% block js_globals %}
  <script>
    window.Turistforeningen = {
      admin_user_search_char_length: {{ admin_user_search_char_length }}
    };
  </script>
{% endblock %}

{% block body %}

<div class="row">
  <div class="col-lg-12">
    <h1>
      {{ aktivitet.title|default:"Ny aktivitet" }}
      <small>legg inn opplysninger om denne aktiviteten</small>
    </h1>
    <ol class="breadcrumb">
      <li class="active">
        <i class="fa fa-dashboard"></i> <a href="{% url 'admin.views.index' %}">Sherpa</a>
      </li>
      <li><a href="{% url 'admin.aktiviteter.views.index' %}">Turer og aktiviteter</a></li>
      <li><a href="{% url 'admin.aktiviteter.views.edit' aktivitet.id %}">
        {{ aktivitet.title|default:"Ny aktivitet" }}
      </a></li>
    </ol>
  </div>
</div><!-- /.row -->

<div class="admin-aktivitet-edit">

  <div class="row">
    <div class="col-lg-12">

      {% for message in messages %}
        {% if message.message == 'save_success' %}
          <div class="alert alert-success">
            <p><strong>Endringene har blitt lagret!</strong></p>
            {% if aktivitet.dates.count > 0 %}
              <ul>
              {% for i, date in aktivitet.get_dates_ordered %}
                <li><a href="{% url 'aktiviteter.views.show' date.id %}">
                  Forhåndsvis "{{ aktivitet.title|default:"aktivitet uten navn" }}" fra
                  {% firstof date.start_date|date:"d.m.Y" "Ingen dato" %} til
                  {% firstof date.end_date|date:"d.m.Y" "Ingen dato" %}
                </a></li>
              {% endfor %}
            {% endif %}
          </div>
        {% elif message.message == 'invalid_date_format' %}
          <div class="alert alert-danger">
            <p><strong>Ugyldig datoformat</strong></p>

            <p>Vennligst se gjennom datoene du har lagt inn (publiseringsdato, turstart, turslutt,
            påmeldingsfrister osv). Datoene må legges inn med følgende format:
            <strong>dd.mm.åååå</strong> (dato, måned, år), for eksempel vil dagens dato se slik ut:
            <strong>{{ now|date:"d.m.Y" }}</strong></p>
          </div>
        {% endif %}
      {% endfor %}

      <form action="{% url 'admin.aktiviteter.views.edit' aktivitet.id %}" method="post"
        class="edit-aktivitet form-default form-horizontal"
        data-dnt-container="aktivitet"
        data-aktivitet-id="{{ aktivitet.id }}">

        {% csrf_token %}

        <input type="hidden" name="images" value="">
        <input type="hidden" name="preview" value="false">

        <div class="form-group submit-header">
          <div class="col-md-offset-2 col-md-8">
            <div class="row">
              <div class="col-md-6">
                <button type="submit" class="btn btn-success btn-lg btn-block">
                  <i class="fa fa-check"></i> Lagre alle endringer
                </button>
              </div>
              <div class="col-md-6">
                <button class="btn btn-lg btn-block preview" disabled data-confirm-if-published="Dette vil lagre og publisere datoen. Hvis du ikke vil det må du ta bort krysset for publisering i skjemaet. Gå videre likevel?">
                  <i class="fa fa-search"></i> Lagre og se forhåndsvisning
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="section forening">

          <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
              <h2>Arrangørforening</h2>
            </div>
          </div>

          <div class="form-group forening">
            <label class="col-md-2 control-label" for="forening">
              Hovedarrangør <span class="required">*</span>
            </label>
            <div class="col-md-6 col-lg-5">
              <select class="form-control" name="forening" id="forening"
                data-placeholder="Ingen arrangør valgt">

                <option value=""></option>
                {% for type, groups in all_foreninger.items %}
                  {% if groups %}
                    <optgroup label="{{ type | capfirst }}">
                      {% for g in groups %}
                        {% if aktivitet.forening == g %}
                          <option value="{{ g.id }}" selected>{{ g.name }}</option>
                        {% else %}
                          <option value="{{ g.id }}">{{ g.name }}</option>
                        {% endif %}
                      {% endfor %}
                    </optgroup>
                  {% endif %}
                {% endfor %}

              </select>
              <div class="help-block">
                <p>Velg den gruppen eller foreningen som arrangerer dette arrangentet.</p>
              </div>
            </div>
          </div><!-- /.form-group.co_forening -->

          <div class="form-group co_forening">
            <label class="col-md-2 control-label" for="co_forening">Medarrangør</label>
            <div class="col-md-6 col-lg-5">
              <select class="form-control" name="co_forening" id="co_forening"
                data-placeholder="Ingen medarrangør valgt">

                <option value=""></option>
                {% for type, groups in all_foreninger.items %}
                  {% if groups %}
                    <optgroup label="{{ type | capfirst }}">
                      {% for g in groups %}
                        {% if aktivitet.co_forening == g %}
                          <option value="{{ g.id }}" selected>{{ g.name }}</option>
                        {% else %}
                          <option value="{{ g.id }}">{{ g.name }}</option>
                        {% endif %}
                      {% endfor %}
                    </optgroup>
                  {% endif %}
                {% endfor %}

              </select>
              <div class="help-block">
                <p>Her kan du velge medarrangør. Det er <strong>ikke</strong> nødvendig å velge
                hovedforeningen hvis dette arrangementet arrangeres av en undergruppe!</p>
              </div>
            </div>
            <div class="col-md-2">
              <button class="btn btn-warning" data-dnt-action="remove-co-forening">
                <span class="glyphicon glyphicon-remove"></span> Fjern medarrangør
              </button>
            </div>
          </div><!-- /.form-group.co_forening -->
        </div><!-- /.section.forening -->

        <div class="section description">
          <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
              <h2>Beskrivelse og informasjon</h2>
            </div>
          </div><!-- /.form-group -->

          <div class="form-group code">
            <label class="col-md-2 control-label" for="code">Turkode</label>
            <div class="col-md-8 col-lg-4">
              <input class="form-control" name="code" id="code" type="text"
                value="{{ aktivitet.code }}">
              <div class="help-block">
                <p><span class="label label-info">Tips</span> Turkode brukes bare av noen
                foreninger! Ikke skriv noe her hvis arrangementet ikke trenger turkode.</p>
              </div>
            </div>
          </div><!-- /.form-group.code -->

          <div class="form-group title">
            <label class="col-md-2 control-label" for="title">
              Tittel<span class="required">*</span>
            </label>
            <div class="col-md-8">
              <input class="form-control" name="title" id="title" type="text"
                value="{{ aktivitet.title }}">
              <div class="hints error jq-hide">
                Du må jo skrive inn en tittel!
              </div>
            </div>
          </div><!-- /.form-group.title -->

          <div class="form-group description">
            <label class="col-md-2 control-label" for="description">
              Beskrivelse<span class="required">*</span></label>
            <div class="col-md-8">
              <textarea class="form-control" name="description" id="description"
                rows="6" cols="80">{{ aktivitet.description }}</textarea>
              <div class="hints error jq-hide">
                Du må legge inn noen få ord om turen her.
              </div>
            </div>
          </div><!-- /.form-group.description -->

          <div class="form-group difficulty">
            <label class="col-md-2 control-label" for="difficulty">
              Gradering<span class="required">*</span></label>
            <div class="col-md-10">
              <div data-toggle="buttons" class="btn-group">
                {% for difficulty in difficulties %}
                  {% if aktivitet.difficulty == difficulty.0 %}
                    <label class="btn btn-default {{ difficulty.0 }} active">
                      <input type="radio" value="{{ difficulty.0 }}" name="difficulty" checked>
                      {{ difficulty.1 }}
                    </label>
                  {% else %}
                    <label class="btn btn-default {{ difficulty.0 }}">
                      <input type="radio" value="{{ difficulty.0 }}" name="difficulty">
                      {{ difficulty.1 }}
                    </label>
                  {% endif %}
                {% endfor %}
              </div>
              <div class="hints error jq-hide">
                Du må velge vanskelighetsgraden for turen.
              </div>
              <p class="help-block">
                Angi hvor krevende aktiviteten er i henhold til
                <a href="http://www.merkehandboka.no" target="_blank">Merkehåndboka</a>.
              </p>
            </div>
          </div><!-- /.form-group.difficulty -->

          <div class="form-group audiences">
            <label class="col-md-2 control-label" for="audiences">
              Målgruppe<span class="required">*</span>
            </label>
            <div class="col-md-8 col-lg-4">
              <select class="form-control" id="audiences" name="audiences"
                data-placeholder="Velg målgruppe" multiple>

                <option value=""></option>
                {% for audience in audiences %}
                  {% if audience.0 in aktivitet.get_audiences %}
                    <option value="{{ audience.0 }}" selected>{{ audience.1 }}</option>
                  {% else %}
                    <option value="{{ audience.0 }}">{{ audience.1 }}</option>
                  {% endif %}
                {% endfor %}
              </select>
              <div class="hints error jq-hide">
                Du må velge minst én målgruppe.
              </div>
            </div>
          </div><!-- /.form-group.audiences -->

          <div class="form-group category" data-dnt-container="category">
            <label class="col-md-2 control-label">
              Kategori<span class="required">*</span>
            </label>
            <div class="col-md-10">
              <div class="btn-group" data-toggle="buttons">
                {% for category in categories %}
                  {% with val=category.0 name=category.1 %}
                    {% if aktivitet.category == val %}
                      <label class="btn btn-default active">
                        <input type="radio" name="category" value="{{ val }}" checked> {{ name }}
                      </label>
                    {% else %}
                      <label class="btn btn-default">
                        <input type="radio" name="category" value="{{ val }}"> {{ name }}
                      </label>
                    {% endif %}
                  {% endwith %}
                {% endfor %}
              </div>
            </div>
          </div><!-- /.form-group.category -->

          <div class="form-group subcategory{% if not aktivitet.category %} jq-hide{% endif %}">
            <label class="col-md-2 control-label">

              <!-- This toggles the correct span -->
              <div class="selected {{ aktivitet.category }}"
                data-dnt-container="subcategory-label">

                <span class="organizedhike">
                  Hva slags tur er dette?<span class="required">*</span>
                </span>

                <span class="course">
                  Hva slags kurs er dette?<span class="required">*</span>
                </span>

                <span class="event">
                  Hvilket arrangement er dette?<span class="required">*</span>
                </span>

                <span class="volunteerwork">
                  Hva slags dugnad er dette?<span class="required">*</span>
                </span>
              </div>
            </label>

            <div class="col-md-8 col-lg-5">
              <select class="form-control" name="category_type"
                data-placeholder="Velg underkategori">

                <option value=""></option>
                {% for sub in aktivitet.get_main_subcategories %}
                  {% if aktivitet.category_type = sub.name %}
                    <option class="subcategory {{ sub.category }}" selected>{{ sub.name }}</option>
                  {% else %}
                    <option class="subcategory {{ sub.category }}">{{ sub.name }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>

            <!-- There is a problem with the name="" being overloaded -->
            <!-- <div class="col-md-10">
              <div data-toggle="buttons" class="btn-group">
                {% for sub in aktivitet.get_main_subcategories %}
                  <label class="btn {% if sub.active %}btn-danger{% else %}btn-default{% endif %} subcategory {{ sub.category }} {{ sub.name }}">
                    <input type="radio" name="">
                    {{ sub.name }}
                  </label>
                {% endfor %}
              </div>
            </div> -->
          </div><!-- /.form-group.subcategory -->

          <div class="form-group tags{% if not aktivitet.category %} jq-hide{% endif %}">
            <label class="col-md-2 control-label">Tagger</label>
            <div class="col-md-8 col-lg-5">
              <select class="form-control" name="category_tags" multiple
                data-placeholder="Ingen tagger valgt">

                <option value=""></option>
                {% for sub in aktivitet.get_other_subcategories %}
                  {% if category != 'trip' %}
                    {% if sub.name in aktivitet.get_active_subcategories %}
                      <option class="subcategory {{ sub.category }}" selected>{{ sub.name }}</option>
                    {% else %}
                      <option class="subcategory {{ sub.category }}">{{ sub.name }}</option>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </select>
              <div class="help-block">
                <p>Her kan du ytterligere spesifisere arrangements-aktiviteter!</p>
              </div>
            </div>
            <div class="col-md-6 col-md-offset-2 col-lg-5 col-lg-offset-0">
              <button class="btn btn-warning" data-dnt-action="remove-category-tags">
                <span class="glyphicon glyphicon-remove"></span> Fjern tagger
              </button>
              <button class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span> Opprett ny tagg
              </button>
            </div>
          </div><!-- /.form-group -->

        </div><!-- /.section.description -->

        <div class="section pictures">
          <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
              <h2>Bilder</h2>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 activity-pictures">
              <div id="noPictures" class="alert alert-warning jq-hide">
                <strong>Ingen bilder!</strong>&nbsp;Husk å legge inn bilder fra turen din, slik at
                det blir synlig på forsiden av UT.no
              </div>
              <div class="row">
                <div id="" class="route-images-all-container ui-sortable">
                  <div class="activity-picture-wrapper col-sm-4 col-md-4 col-lg-3 jq-hide">
                    <div class="thumbnail removable">
                      <a id="deletePicture" href="#" class="removeItem">
                        <span class="glyphicon glyphicon-remove"></span>
                      </a>
                      <img src="http://gfx.nrk.no/thplIp5SIOaMmEZgIQUi-gDD0AHgY9GshITgUsysl5VA" alt="">
                    </div>
                    <div class="form-group required">
                      <div class="input-group" data-model-validation-field-name="beskrivelse">
                        <span class="input-group-addon">
                          <span class="glyphicon glyphicon-picture"></span>
                        </span>
                        <input name="beskrivelse" type="text" placeholder="Beskrivelse av bildet" class="form-control">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
              <div class="shortcuts">
                <button class="btn btn-default pick-from-image-archive">
                  <i class="fa fa-search"></i> Finn bilde i arkivet
                </button>
                <button class="btn btn-default upload-new-image">
                  <i class="fa fa-upload"></i> Last opp nytt bilde
                </button>
              </div>
              <p class="help-block">Legg til bilder til arrangementet ved å hente fra bildearkivet
              eller laste opp fra datamaskinen din.</p>
            </div>
          </div>

        </div><!-- /.section.pictures -->

        <div class="section position">
          <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
              <h2 id="omrade-og-posisjon">Område og posisjon</h2>
            </div>
          </div>

          {% with municipalities=municipalities counties=counties locations=locations %}
            {% include 'common/admin/aktiviteter/edit/position.html' with aktivtet=aktivitet %}
          {% endwith %}

          <div class="form-group">
            <label class="col-md-2 control-label">Adkomst</label>
            <div class="col-md-8">
              <textarea rows="4" cols="80" name="getting_there" id="getting_there"
                class="form-control">{{ aktivitet.getting_there }}</textarea>
              <div class="help-block">
                <p>Her kan du spesifiere hvordan man kommer seg til turens startpunkt.</p>
              </div>
            </div>
          </div>
        </div><!-- /.section.position -->

        <div class="section dates">
          <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
              <h2 id="turdatoer-og-pamelding">Turdatoer og påmelding</h2>
            </div>
          </div>

          {% include 'common/admin/aktiviteter/edit/dates.html' with aktivitet=aktivitet %}
        </div><!-- /.section.dates -->

        <div class="section publish skip-border">

          <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
              <h2>Publisering og synlighet</h2>
            </div>
          </div>

          <div class="form-group publish">
            <label class="col-md-2 control-label">Vist på nett</label>
            <div class="col-md-10">
              <div class="checkbox">
                <label for="publish">
                  <input id="publish" name="publish" type="checkbox" value="publish"
                    {% if aktivitet.published %} checked{% endif %}>
                  Gjør aktiviteten synlig på nettsiden
                </label>
              </div>
            </div>
          </div>

          <div class="{% if not aktivitet.published %} jq-hide{% endif %}"
            data-dnt-container="published-extras">

            <div class="form-group pub_date">
              <label class="col-md-2 control-label" for="pub_date">Vis fra</label>
              <div class="col-md-3">
                <div class="input-group date" data-dnt-container="pub-date">
                  <input class="form-control" id="pub_date" name="pub_date" type="date"
                    placeholder="dd.mm.åååå"
                    value="{% firstof aktivitet.pub_date|date:"d.m.Y" now "d.m.Y" %}">

                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </div>
            </div>

            <div class="form-group private_aktivitet">
              <label class="col-md-2 control-label">Synlighet</label>
              <div class="col-md-6">
                <input type="hidden" name="private">
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-default{% if not aktivitet.private %} active{% endif %}">
                    {% if not aktivitet.private %}
                      <input type="radio" name="private" value="public" checked>
                    {% else %}
                      <input type="radio" name="private" value="public">
                    {% endif %}
                    Offentlig
                  </label>
                  <label class="btn btn-default{% if aktivitet.private %} active{% endif %}">
                    {% if aktivitet.private %}
                      <input type="radio" name="private" value="private" checked>
                    {% else %}
                      <input type="radio" name="private" value="private">
                    {% endif %}
                    <span class="glyphicon glyphicon-lock"></span> Privat
                  </label>
                </div>
                <div class="hints">
                  En privat aktivitet vises ikke på aktivitetssidene, men kan likevel sees av de som
                  får adressen til aktiviteten. (Du finner adressen etter at du har lagret.)
                </div>
              </div>
            </div>
          </div>

        </div><!-- /.section.publish -->

        <div class="form-group submit-footer">
          <div class="col-md-offset-2 col-md-8">
            <div class="row">
              <div class="col-md-6">
                <button type="submit" class="btn btn-success btn-lg btn-block">
                  <i class="fa fa-check"></i> Lagre alle endringer
                </button>
              </div>
              <div class="col-md-6">
                <button class="btn btn-default btn-lg btn-block preview" disabled>
                  <i class="fa fa-search"></i> Lagre og se forhåndsvisning
                </button>
              </div>
            </div>
          </div>
        </div>

      </form>

    </div>
  </div>

  <div class="modal container" data-dnt-container="turleder-search" >
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Lukk</span>
      </button>
      <h4 class="modal-title">Finn turleder</h4>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" role="form"
        action="{% url 'admin.aktiviteter.views.turleder_search' %}">
        <div class="form-group">
          <label for="" class="col-sm-1 control-label">Søk</label>
          <div class="col-sm-11">
            <div class="input-group" style="margin-bottom: 10px;">
              <input type="search" class="form-control"
                placeholder="Skriv inn navn eller medlemsnummer">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit" data-loading-text="Laster...">
                  <i class="fa fa-search"></i> Finn
                </button>
              </span>
            </div><!-- /input-group -->
        </form>
      </div>

      <div class="table-responsive">
        <table class="table table-hover table-striped jq-hide">
          <thead>
            <tr>
              <th>Navn</th>
              <th>Født</th>
              <th>Forening</th>
              <th>Adresse</th>
              <th>Tlf / epost</th>
              <th>Valg</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>

    </div><!-- /modal-header -->

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button>
      <button type="button" class="btn btn-primary" data-dismiss="modal">Lagre endringer</button>
    </div>
  </div><!-- /.modal -->

  <div class="modal container jq-hide delete-date admin-aktiviteter-delete-date">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
      <h3>Bekreft sletting av turdato</h3>
    </div>
    <div class="modal-body">

      <div class="loading">
        Laster, vennligst vent...<br>
        <img class="ajaxloader" src="{{ STATIC_URL }}img/ajax-loader-large.gif" alt="Laster, vennligst vent...">
      </div>

      <div class="date-preview">
      </div>

      <div class="fail jq-hide alert alert-danger">
        Beklager, det oppstod en teknisk feil.<br>Vi skulle hente litt informasjon om turdatoen for
        at du skal kunne slette den, men noe galt skjedde underveis. Prøv å lukke dette vinduet
        (krysset oppe til høyre) og klikk på Slett-knappen igjen. Feilen har blitt logget automatisk
        og vi vil se på den så snart som mulig.
      </div>

      <div class="choose jq-hide">
        <button class="btn btn-lg btn-danger confirm" data-confirm="Siste sjanse til å angre. Er du helt sikker på at du vil slette turdatoen og påmeldtlistene?"><i class="fa fa-warning"></i> Ja, slett turdatoen og påmeldtlistene.</button>
        <button class="btn btn-lg btn-success cancel">Nei, avbryt og ikke slett noe.</button>
      </div>

    </div>
  </div>

</div>

{% include 'common/admin/images/util/image-archive-picker.html' %}
{% include 'common/admin/images/util/image-upload-dialog.html' %}

{% endblock %}
