{% extends 'common/admin/layout.html' %}
{% block title %}Aktiviteter &mdash; {{ block.super }}{% endblock %}
{% block header %}<a href="{% url admin.aktiviteter.views.index %}">Aktiviteter</a>{% endblock %}

{% block js_globals %}
  <script>
    window.admin_user_search_char_length = {{ admin_user_search_char_length }};
  </script>
{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/admin/tags.js"></script>
  <script src="{{ STATIC_URL }}js/admin/aktiviteter/edit/leaders.js"></script>
{% endblock %}

{% block body %}

<div class="row">
  <div class="span12">

    <div class="edit-aktivitet-leaders" data-aktivitet-id="{{ aktivitet.id }}">

      <h2>Rediger aktivitet</h2>

      {% include 'common/admin/aktiviteter/edit/navigation.html' with active='leaders' %}

      {# TODO: Client-side validations #}

      <p>
        Her kan du gi turledere tilgang til påmeldtlisten. Det trenger ikke nødvendigvis være en turleder, du kan hente ut hvem som helst fra medlemsregisteret, men han/henne <strong>må ha en bruker på Min side</strong>.
      </p>
      <p>
        Hvis aktiviteten har flere datoer, velger du hvilke datoer han/hun er turleder for. Husk derfor å gjøre deg ferdig med <a href="{% url admin.aktiviteter.views.edit_dates aktivitet.id %}">datoer og påmelding</a> først.
      </p>

      <div class="control-group">
        <label class="control-label">Turledere</label>
        <div class="controls">
          {% for date in aktivitet.get_dates_ordered %}
            <div class="date" data-date-id="{{ date.id }}">
              <h3>{{ date.start_date|date:"j. F Y" }} - {{ date.end_date|date:"j. F Y" }}</h3>
              <table class="table">
                {% for profile in date.leaders.all %}
                  <tr data-profile-id="{{ profile.id }}">
                    <td>{{ profile.get_full_name }}</td>
                  </tr>
                {% endfor %}
              </table>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="control-group leader" data-search-url="{% url admin.aktiviteter.views.leader_search %}">
        <label class="control-label" for="leader">Søk etter personer:</label>
        <div class="controls">
          <input type="text" class="input-xlarge" name="leader-search">
          <button class="btn leader-search"><i class="icon-search"></i></button>

          <table class="table leader-search-list hide" data-add-auto-url="{% url admin.aktiviteter.views.leader_add_automatically %}">
            <tr>
              <th>Navn</th>
              <th>Medlemsnummer</th>
              <th>Gi turleder-status</th>
            </tr>

            <tr class="no-hits hide">
              <td colspan="3">Fant ingen med navn eller medlemsnummer <span class="result-mirror"></span>.</td>
            </tr>

            <tr class="short_query hide">
              <td colspan="3">
                Du må bruke minst {{ admin_user_search_char_length }} tegn når du søker, ellers vil du få alt for mange treff.
              </td>
            </tr>

            <tr class="technical-error hide">
              <td colspan="3">
                <div class="alert alert-error">
                  Beklager, det oppstod en teknisk feil ved oppslag i databasen. Feilen har blitt logget og vi vil se på problemet så snart som mulig.
                </div>
              </td>
            </tr>

            <tr class="max-hits-exceeded hide">
              <td colspan="3">
                Du fikk veldig mange treff, kun et utvalg vises her.<br>
                Prøv å søke på noe litt mer spesifikt, som for eksempel medlemsnummeret.
              </td>
            </tr>

            <tr class="loader hide">
              <td colspan="3">
                Vennligst vent mens vi søker.<br>
                Medlemsdatabasen er stor, så dette kan ta noen sekunder.<br>
                <img src="{{ STATIC_URL }}img/ajax-loader-large.gif" alt="Laster, vennligst vent...">
              </td>
            </tr>
          </table>

          <div class="choose-date-loader hide">
            Lagrer turlederstatus, vennligst vent...<br>
            <img class="ajaxloader" src="/static/img/ajax-loader-large.gif" alt="Laster, vennligst vent...">
          </div>

          <div class="choose-date form-border hide" data-add-manual-url="{% url admin.aktiviteter.views.leader_add_manually %}">
            Velg hvilken dato <span class="name"></span> skal ha turlederstatus for:
            <div class="date-options"></div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}
