{% extends 'common/admin/layout.html' %}
{% block title %}Aktiviteter &mdash; {{ block.super }}{% endblock %}
{% block header %}<a href="{% url admin.aktiviteter.views.index %}">Aktiviteter</a>{% endblock %}

{% block js_globals %}
  <script>
    window.admin_user_search_char_length = {{ admin_user_search_char_length }};
  </script>
{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/admin/tags.js"></script>
  <script src="{{ STATIC_URL }}js/admin/aktiviteter/edit/description.js"></script>
{% endblock %}

{% block body %}

<div class="row">
  <div class="span12">

    <h2>Rediger aktivitet</h2>

    {% include 'common/admin/aktiviteter/edit/navigation.html' with active='participants' %}

    {% for date in aktivitet.get_dates_ordered %}
      {% if date.signup_enabled %}
        <h3>Påmeldte {{ date.start_date|date:"j. F Y" }} - {{ date.end_date|date:"j. F Y" }}</h3>
        {% if date.participants.all|length > 0 %}
          <table class="table">
            {% for profile in date.participants.all %}
              <tr>
                <td>{{ profile.get_full_name }}</td>
              </tr>
            {% endfor %}
          </table>
        {% else %}
          <p>Ingen påmeldte for denne turen.</p>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</div>

{% endblock %}
