.zipcode-inputs-inline() {
  input[name="zipcode"] {
    display: inline-block;
    width: 80px;
  }

  input[name="area"] {
    display: inline-block;
    width: 250px; // Longest zipcode area name in Norway is 20 characters
  }
}
