<div class="layout sidebar">
<div class="column col-1">
{% for item in layout.columns.0 %}
  {% if item.type == "html" %}
    {{ item.content|safe }}
  {% endif %}
  {% if item.type == "widget" %}
    {% include item.content.template with widget=item.content %}
  {% endif %}
{% endfor %}
</div>

<div class="column col-2">
{% for item in layout.columns.1 %}
  {% if item.type == "html" %}
    {{ item.content|safe }}
  {% endif %}
  {% if item.type == "widget" %}
    {% include item.content.template with widget=item.content %}
  {% endif %}
{% endfor %}
</div>
<div style="clear: both;"></div>
</div>
