.widget.campaign {
  .campaign {
    position: relative;
    width: 940px;
    height: 480px;

    font-family: "DTL Nobel" !important;

    .text, .button, .photographer {
      position: absolute;
    }

    .photographer {
      bottom: 5px;
    }
  }
}
