/* Promo widget - this sheet isn't very nice, fix sometime */

div.widget.promo {

  margin-bottom: 30px;

  /* The menu */

  div.menu {
    font-family: "DTL Nobel";
    position: absolute;
    top: 20px;
    font-size: 15px;

    ul {
      margin: 0;
      list-style: none;

      li:first-of-type {
        border-top: none;
      }

      li {
        padding: 5px 20px 5px 10px;
        background-color: white;
        border-top: 1px solid rgb(210, 210, 210);
        font-family: "DTL Nobel" !important;
        font-size: 15px !important;
        line-height: 18px;
      }

      li.active {
        background-color: @profile-red;
        color: white;
      }

      li:not(.active):hover {
        background-color: rgb(150, 150, 150);
        cursor: pointer;
      }

      li a {
        color: rgb(80, 80, 80);
      }

      li.active a {
        color: white;
      }

      li:not(.active):hover a {
        color: white;
        text-decoration: underline;
      }
    }
  }

  /* Hide menu by default on small screens */
  @media (max-width: 767px) {
    div.menu {
      display: none;
      position: static;
      background-color: white;
      padding-bottom: 20px;
    }
  }


  /* Set all of the layouts relative, for the menu */
  div.default, div.cover {
    position: relative;
  }

  /**
   * The default promo layout
   */

  div.default {

    /* Background-image and menu */

    img.background-image {
      width: 50%;
    }

    /* Right side */

    div.right {
      color: white;
      float: right;
      width: 46%;
      padding: 15px 2% 15px 2%;
    }

    div.right h1 {
      border-bottom: none;
    }

    div.right h1.lede {
      margin-bottom: 0;
    }

    div.right p.lede {
      font-size: 18px;
      font-weight: bold;
      font-variant: small-caps;
      margin-bottom: 20px;
    }

    div.right p.button {
      margin-top: 25px;
      margin-bottom: 25px;
    }

    div.right p.sponsor {
      font-size: 14px;
      font-style: italic;
      text-align: right;
      margin-top: 25px;
      padding-left: 60px;
    }

    div.right p.sponsor a {
      float: right;
    }

    div.right p.sponsor a.kvikk-lunsj {
      width: 80px;
    }

    div.right img {
      margin-left: 15px;
    }

    /* Centered promos */

    div.wrapper.centered div.right {
      text-align: center;
    }

    /* Specific styles for the different sections (mainly main) */

    div.wrapper.main {
      h1 {
        margin-top: 15px;
        font-size: 38px;
      }

      p {
        font-family: "DTL Nobel" !important;
      }

      p.button {
        margin-top: 35px;
        margin-bottom: 35px;
      }

      p.sponsors {
        font-size: 14px;
        font-style: italic;

        a.logo {
          display: block;
          margin-bottom: 10px;

          img {
            width: 200px;
            max-width: 90%;
          }
        }
      }
    }

    div.wrapper.ut {
      h1 {
        margin-bottom: 10px;
      }
    }

    /* Colors for the different sections */

    div.wrapper.main {
      background-color: @profile-red;
    }

    div.wrapper.main a.white-link {
      color: rgb(255, 255, 255);
      text-decoration: underline;
    }

    div.wrapper.main a.white-link:hover {
      color: rgb(170, 170, 170);
    }

    div.wrapper.ut {
      background-color: @profile-red;
    }

    div.wrapper.ut a.white-link {
      color: rgb(255, 255, 255);
      text-decoration: underline;
    }

    div.wrapper.ut a.white-link:hover {
      color: rgb(170, 170, 170);
    }

    div.wrapper.medlem {
      background-color: @profile-red;
    }

    div.wrapper.fellesturer {
      background-color: rgb(19, 42, 86);
    }

    div.wrapper.hytter {
      background-color: rgb(58, 81, 40);
    }

    div.wrapper.barn {
      background-color: rgb(206, 86, 0);
    }

    div.wrapper.senior {
      background-color: rgb(232, 232, 232);
    }

    div.wrapper.senior div.right {
      color: black;
    }

    div.wrapper.skole {
      background-color: rgb(178, 210, 238);
    }

    div.wrapper.skole div.right {
      color: black;
    }

    div.wrapper.kurs {
      background-color: rgb(204, 54, 2);
    }

    div.wrapper.tur-for-alle {
      background-color: rgb(38, 53, 26);
    }

    /* Small-screen layout */

    @media (max-width: 767px) {
      img.background-image {
        display: none;
      }

      div.right {
        float: none;
        width: auto;
        padding: 10px;
        margin-left: 6px;
      }

      div.right h1 {
        font-size: 28px !important;
        margin-bottom: 12px !important;
      }
    }
  }


  /**
   * New type of promo layout: 'cover', covers the entire block
   */


  /* Generic (more or less) */

  div.cover {
    height: 480px;
    background-position: top left no-repeat;

    div.content {
      color: white;
      text-align: center;

      h1 {
        border-bottom: none;
        font-size: 36px;
        margin-bottom: 25px;
      }

      p {
        font-family: "DTL Nobel" !important;
        font-size: 20px;
        line-height: normal;
        margin-bottom: 30px;
      }

      p.double-button-hack {
        a.full {
          display: inline;
        }

        a.small {
          display: none;
        }
      }
    }
  }

  div.cover.main {
    color: white;
  }

  /* Main rotated covers */

  div.cover.main.rotation-final-vennetur {
    background-image: url('/static/img/widgets/promo/vennetur_0407.jpg');

    div.content {
      @width: 410px;
      @padding-right: 0;
      padding-left: 940px - @width - @padding-right;
      padding-top: 190px;
      width: @width;
      padding-right: @padding-right;

      a.wrapper {
        display: block;
        padding: 10px 25px;
        background-color: @profile-red;
        text-align: left;
        color: white;

        h1 {
          text-transform: none;
          font-weight: normal;
        }

        p {
          font-size: 18px;
          margin-bottom: 0;

          span.fake-link {
            text-decoration: underline;
          }
        }

        @media(max-width: 767px) {
          padding: 0;
        }
      }

      a.wrapper:hover {
        text-decoration: none;
      }
    }
  }

  div.cover.main.rotation-10-turer-pa-topp {
    background-image: url('/static/img/widgets/promo/rotation-10-turer-pa-topp.jpg');

    div.content {
      @width: 450px;
      @padding-right: 10px;
      padding-left: 940px - @width - @padding-right;
      padding-top: 60px;
      width: @width;
      padding-right: @padding-right;

      h1 {
        margin-bottom: 10px;
      }

      h1, p {
        color: white;
      }
    }
  }

  div.cover.main.rotation-bli-medlem {
    background-image: url('/static/img/widgets/promo/rotation-bli-medlem.jpg');

    div.content {
      @width: 460px;
      @padding-right: 20px;
      padding-left: 940px - @width - @padding-right;
      padding-top: 150px;
      width: @width;
      padding-right: @padding-right;

      h1 {
        margin-bottom: 10px;
      }

      h1, p {
        color: black;
      }
    }
  }

  div.cover.main.rotation-hyttetur {
    background-image: url('/static/img/widgets/promo/rotation-hyttetur.jpg');

    div.content {
      @width: 470px;
      @padding-right: 20px;
      padding-left: 940px - @width - @padding-right;
      padding-top: 40px;
      width: @width;
      padding-right: @padding-right;

      h1 {
        margin-bottom: 10px;
      }

      h1, p {
        color: white;
      }
    }
  }

  div.cover.main.rotation-kom-deg-ut {
    background-image: url('/static/img/widgets/promo/rotation-kom-deg-ut-2.jpg');

    div.content {
      @width: 500px;
      @padding-right: 10px;
      padding-left: 940px - @width - @padding-right;
      padding-top: 200px;
      width: @width;
      padding-right: @padding-right;

      h1 {
        margin-bottom: 10px;
      }

      h1, p {
        color: white;
      }

      p {
        margin-bottom: 20px;
      }

      div.sponsors {
        p {
          font-size: 12px;
          font-style: italic;
          margin-top: 20px;
          margin-bottom: 10px;
        }

        img.left {
          margin-right: 10px;
        }

        img.right {
          margin-top: 9px;
          margin-left: 20px;
        }
      }
    }
  }

  div.cover.main.rotation-fjellfilm {
    background-image: url('/static/img/widgets/promo/rotation-fjellfilm.png');

    div.content {

      a.link-box {
        display: block;
        height: 480px;
      }

      div.mobile-content {
        display: none;

        a {
          color: white;
          text-decoration: underline;
        }

        a:hover {
          color: rgb(180, 180, 180);
        }
      }

      @media(max-width: 767px) {
        a.link-box {
          display: none;
        }

        div.mobile-content {
          display: block;
        }
      }
    }
  }

  div.cover.main.rotation-host {
    background-image: url('/static/img/widgets/promo/host2.jpg');

    div.content {
      @width: 520px;
      @padding-right: 10px;
      padding-left: 940px - @width - @padding-right;
      padding-top: 40px;
      width: @width;
      padding-right: @padding-right;

      h1 {
        margin-bottom: 0;
        font-size: 72px;
        color: rgb(252, 179, 70);
      }

      p {
        color: white;
      }

      p.lede {
        font-size: 44px;
      }

      p.bottom {
        margin-top: 210px;
      }

      p.photo {
        position: absolute;
        top: 4px;
        right: 6px;
        font-size: 13px;
      }

      @media(max-width: 767px) {
        p.bottom {
          margin-top: auto;
        }

        p.photo {
          display: none;
        }
      }
    }
  }

  div.cover.main.rotation-fotokonkurranse {
    background-image: url('/static/img/widgets/promo/fotokonkurranse_host.png');

    div.content {
      @width: 940px;
      @padding-right: 0;
      padding-left: 940px - @width - @padding-right;
      padding-top: 0;
      width: @width;
      padding-right: @padding-right;
      color: white;

      a.giant-anchor {
        display: block;
        height: 480px;
        color: white !important;
      }

      h1 {
        position: absolute;
        top: 16px;
        left: 380px;
        font-size: 36px;
      }

      p.lede {
        position: absolute;
        top: 130px;
        left: 690px;
        font-size: 32px;
        font-weight: bold;
      }

      p.bottom {
        position: absolute;
        bottom: 10px;
        right: 20px;
        margin-bottom: 0;
        font-size: 18px;
        font-weight: bold;
      }

      @media(max-width: 767px) {
        h1, p.lede, p.bottom {
          position: static;
        }

        a.giant-anchor {
          height: auto;
        }
      }
    }
  }

  /* Other cover-promos */

  div.cover.ung {
    background-image: url('/static/img/widgets/promo/dntung_basecamp_hyttebilde.jpg');

    div.content {
      @width: 260px;
      @padding-right: 500px;
      padding-left: 940px - @width - @padding-right;
      padding-top: 135px;

      width: @width;
      padding-right: @padding-right;

      color: black;
      text-align: left;

      h1 {
        margin-bottom: 0;
      }

      p:not(.double-button-hack) {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
      }
    }
  }

  div.cover.fjellsport {
    background-image: url('/static/img/widgets/promo/fjellsport_skredkurs.jpg');

    div.content {
      @width: 500px;
      @padding-right: 30px;
      padding-left: 940px - @width - @padding-right;
      padding-top: 30px;
      padding-right: @padding-right;
      width: @width;

      color: black;
      text-align: right;

      h1 {
        margin-bottom: 20px;
        font-size: 50px;
        color: white;
      }

      p {
        margin-bottom: 25px;
        color: rgb(43, 62, 145);
      }

      p.double-button-hack {
        margin-top: 160px;
      }

      @media(max-width: 767px) {
        p {
          color: white;
        }

        p.double-button-hack {
          margin-top: 20px;
        }
      }
    }
  }

  /* Small-screen layouts */

  @media(max-width: 767px) {
    div.cover {
      height: auto !important;
      background-image: none !important;
      background-color: @profile-red !important;

      div.content {
        padding: 15px !important;
        width: auto !important;
        color: white !important;
        text-align: center !important;

        h1 {
          font-size: 28px !important;
        }

        p {
          font-size: 16px !important;
          font-weight: normal !important;
        }

        p.double-button-hack {
          a.full {
            display: none !important;
          }

          a.small {
            display: inline !important;
          }
        }
      }
    }
  }
}
