div.widget.quote {
  blockquote {
    margin-left: 20px;
    color: rgb(80, 80, 80);
    font-size: 18px;
    font-style: italic;

    small {
      font-size: 15px;
      font-style: normal;
      margin-top: 5px;
    }
  }
}
