{% extends "layout.html" %}
{% block body %}
<div id="grid"> 
  <div id="body">
    <div id="content">
      <div class="path">
  <a href="index.php?file=/">Forsiden</a> / <strong>Medlemskap</strong></div>
            <div class="mod">
        

<img src="{{ STATIC_URL }}img/dummy/member-postcode.jpg" alt="Postnummer" />

      </div>
      <div class="line">
        <div class="unit size1of3"><div class="mod">
  <h2>Medlemsservice</h2>
  <p>Trenger du turtips?<br/>Finn turer og hytter på <a href="#">UT.no</a></p>
  <p><strong>Har du spørsmål om medlemskap?</strong>
  [<a href="#">Gå til medlemsservice</a>]

  <br/>Ring: 4000 1970<br/>
  Åpent alle hverdager: kl. 09.00 - 16.00<br/>
  E-post: <a href="mailto:medlem@turistforeningen.no">medlem@turistforeningen.no</a>
  </p>
  <p>Ta gjerne kontakt med oss på <a href="http://www.facebook.com/turistforeningen">Facebook</a> eller <a href="http://www.twitter.com/turistforeningen">Twitter</a></p>
</div></div>
        <div class="unit size1of3"><div class="mod">
  <h2>Gavemedlemskap</h2>
  <p>Et medlemskap i DNT varer lenge og kan brukes så mye man vil.</p>
  <strong>Du kan velge mellom:</strong>
  <ul class="uiListStyle">
    <li><a href="#">Vanlig medlemskap</a> (Ett kalenderår).</li>
    <li><a href="#">Dåpsgave</a> (Medlemskap i Barnas Turlag fra 0-12 år). Pris: 900,-</li>
    <li><a href="#">Jubileum</a> (Hovedmedlemskap i 10 år) Pris: 5300,-</li>
  </ul>
</div></div>
        <div class="unit size1of3 lastUnit"><div class="mod">
  <h2>Meld inn bedriften</h2>
  <p>Med et bedriftsmedlemskap i DNT bedrift får dere:
  </p>
  <ul class="uiListStyle">
    <li>en lokal turekspert/bedriftskontakt </li>
    <li>friske, sunne medarbeidere</li>
    <li>årlig fellestur med turleder</li>
    <li>verdikort for fri hytteovernatting</li>
    <li>tilbud om turlederutdanning</li>
    <li>Lokale turtips</li>
    <li>DNTs medlemsfordeler for alle ansatte</li>
  </ul>
  <a href="">Meld inn bedriften</a>
</div></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}