{% extends 'main/layout.html' %}
{% block title %}Gavemedlemskap{% endblock %}
{% block breadcrumb_title %}Gavemedlemskap{% endblock %}

{% block body %}

<div class="row">
  <div class="span12">
    <h1>Gi bort gavemedlemskap</h1>
    {% include 'main/enrollment/gift/progress.html' with step=3 %}
  </div>
</div>

<div class="row">
  <div class="span4">

    <h2 class="gift-from-to">Fra:</h2>
    <div class="form-border">
      <table class="gift-giver">
        <tr>
          <td><strong>{{ giver.name }}</strong></td>
        </tr>
        <tr>
          <td>
            {{ giver.address }}<br>
            {{ giver.zipcode }} {{ giver.area }}
          </td>
        </tr>
        {% if giver.memberno %}
          <tr>
            <td>Medlemsnummer: {{ giver.memberno }}</td>
          </tr>
        {% endif %}
        {% if giver.phone %}
          <tr>
            <td>{{ giver.phone }}</td>
          </tr>
        {% endif %}
        {% if giver.email %}
          <tr>
            <td>{{ giver.email }}</td>
          </tr>
        {% endif %}
      </table>

    </div>
    <p class="gift-confirmation-buttons">
      <a class="btn btn-large" href="{% url enrollment.views_gift.form %}"><i class="icon-arrow-left"></i> Tilbake</a>
      <a class="btn btn-large btn-success" href="{% url enrollment.views_gift.send %}"><i class="icon-ok icon-white"></i> Send bestilling</a>
    </p>
    <p>
      Faktura, gavekort og medlemskort blir sendt til din adresse så snart DNTs medlemsservice har godkjent bestillingen. Merk at medlemskapet ikke er gyldig før fakturaen er betalt.
    </p>
  </div>

  <div class="span8">
    <h2 class="gift-from-to">Til:</h2>

    {% for receiver in receivers %}
      <div class="form-border">
        <p class="gift-receiver-type pull-right">
          {{ receiver.type.name }}
          {% if receiver.type.code == 'normal' %}
            <a class="price-popover" href="{% url membership.views.index %}">
              <img src="{{ STATIC_URL }}img/icons/glyph/original/glyphicons_195_circle_info.png" alt="Pris" data-popover data-trigger="hover" data-placement="left" data-html="true" data-title="Prisen varierer" data-content="Pris for vanlig medlemskap varierer mellom medlemsforeningene og avhenger av alder og husstandsmedlemskap. Klikk for å se gjeldende kontingentsatser.">
            </a>
          {% else %}
            kr. {{ receiver.type.price }}
          {% endif %}
        </p>
        <table class="gift-receiver">
          <tr>
            <td><strong>{{ receiver.name }}</strong></td>
          </tr>
          <tr>
            <td>Født: {{ receiver.dob|date:"j. F Y" }}</td>
          </tr>
          <tr>
            <td>
              {{ receiver.address }}<br>
              {{ receiver.zipcode }} {{ receiver.area }}
            </td>
          </tr>
          {% if receiver.phone %}
            <tr>
              <td>Tlf: {{ receiver.phone }}</td>
            </tr>
          {% endif %}
          {% if receiver.email %}
            <tr>
              <td>{{ receiver.email }}</td>
            </tr>
          {% endif %}
        </table>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
