{% extends 'main/layout.html' %}
{% block title %}Gavemedlemskap{% endblock %}
{% block breadcrumb %}<em><a href="{% url 'enrollment.gift.views.index' %}">Gavemedlemskap</a></em>{% endblock %}
{% block extra_js %}
  <script src="{{ STATIC_URL }}js/enrollment/gift/entry.js"></script>
{% endblock %}

{% block body %}

<div class="row">
  <div class="span12">
    <h1>Gi bort gavemedlemskap</h1>
    {% include 'main/enrollment/gift/progress.html' with step=1 %}
  </div>
</div>

<div class="row-fluid">
  <div class="span9">
    <p>
      Tom for gaveidéer? Et medlemskap i DNT varer lenge og kan brukes så mye man vil. I tillegg til flotte naturopplevelser gir medlemskapet rabatt på overnatting på DNTs hytter, mulighet for å være med på turer, kurs og andre aktiviteter, samt en rekke andre fordeler. Velg mellom:
    </p>

    <form class="gift-entry" method="post" action="{% url 'enrollment.gift.views.form' %}">
      {% csrf_token %}
      <input type="hidden" name="type" value="">
      <div class="row-fluid">
        <div class="span6">
          <div class="types">
            <h2>Vanlig medlemskap</h2>
            <p>
              Ett kalenderår.<br>
              <em><strong>Pris:</strong> <a href="{% url 'membership.views.index' %}">Se gjeldende kontingentsatser</a></em>
            </p>
            <p><button type="submit" class="btn btn-danger" data-type="0">Bestill</button></p>
          </div>
        </div>
        <div class="span6">
          <div class="types">
            <h2>Dåpsgave</h2>
            <p>
              Medlemskap i Barnas Turlag fra 0-12 år.<br>
              <strong><em>Pris: {{ prices.baptism }},-</em></strong>
            </p>
            <p><button type="submit" class="btn btn-danger" data-type="1">Bestill</button></p>
          </div>
        </div>
      </div>
      <div class="row-fluid" style="margin-top: 20px">
        <div class="span6">
          <div class="types">
            <h2>Jubileum</h2>
            <p>
              Hovedmedlemskap i 10 år.<br>
              <strong><em>Pris: {{ prices.jubilee }},-</em></strong>
            </p>
            <p><button type="submit" class="btn btn-danger" data-type="2">Bestill</button></p>
          </div>
        </div>
        <div class="span6">
          <div class="types">
            <h2>Livsvarig medlemskap</h2>
            <p>
              Hovedmedlemskap x 25.<br>
              <strong><em>Pris: {{ prices.life }},-</em></strong>
            </p>
            <p><button type="submit" class="btn btn-danger" data-type="3">Bestill</button></p>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="span3">
    <div class="well">
      <p>
        <i class="icon-info-sign"></i> Husk å bestille i god tid, slik at vi rekker å sende ut gavekort og medlemskort innen du skal overrekke gaven.
      </p>

      <p>
        <i class="icon-exclamation-sign"></i> <strong>NB! Bestilling av gavemedlemskap gjelder kun i Norge.</strong>
      </p>
    </div>

    {% include 'main/membership/infobox.html' %}
  </div>
</div>

{% endblock %}
