{% comment %}
  Note that the carousel images contain some extra attributes (parentHeight, style etc.) used for cropping and
  achieving a fixed image height, that we are intentionally ignoring (for now).
{% endcomment %}

{% if widget.layout == "album" %}
  {% comment %}
    Not yet implemented.
  {% endcomment %}
{% elif widget.layout == "carousel" %}
  <div id="carousel{{ widget.id }}" class="carousel slide" data-interval="false" data-ride="carousel">
    <ol class="carousel-indicators">
      {% for image in widget.images %}
        <li data-target="#carousel" data-slide-to="{{ forloop.counter0 }}"{% if forloop.first %} class="active"{% endif %}></li>
      {% endfor %}
    </ol>
    <div class="carousel-inner">
      {% for image in widget.images %}
        <div class="{% if forloop.first %}active {% endif %}item">
          <img src="{{ image.url }}" alt="{{ image.description }}">
          {% if image.description or image.photographer %}
            <div class="carousel-caption">
              <p>
                {{ image.description }}
                {% if image.photographer %}
                  Foto: {{ image.photographer }}
                {% endif %}
              </p>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <a class="left carousel-control" href="#carousel{{ widget.id }}" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel{{ widget.id }}" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>

{% endif %}
