*.log
*.pot
*.pyc
local_settings.py
fabfile_settings.py
dnt.db
env/
*~
*.mo
*.sublime-project
*.sublime-workspace
*.swp
*.swo
.DS_Store
static/.sass-cache
static/.tmp
static/node_modules/
static/bower_components/
static/css/
static/polymer/dist/
