Django>=1.7,<1.8
Pillow==2.7.0
boto==2.36.0
cffi==0.9.0
cryptography==0.7.2
django-mptt==0.6.1
django-pyodbc-azure==1.2.6
django-recaptcha==1.0.3
djorm-pgarray==1.2
gevent==1.0.1
greenlet==0.4.5
gunicorn==19.2.1
ipython==3.0.0
lxml==3.4.2
ndg-httpsclient==0.3.3
psycopg2==2.6
pyOpenSSL==0.14
pyasn1==0.1.7
pycparser==2.10
pycrypto==2.6.1
pylibmc==1.4.1
pyodbc==3.0.7
raven==5.2.0
requests==2.5.3
six==1.9.0
wsgiref==0.1.2
