Django==1.5.8
Pillow==2.0.0
South==0.7.6
boto==2.9.4
cffi==0.8.6
cryptography==0.6.1
django-mptt==0.6.1
-e git://github.com/lionheart/django-pyodbc.git@8c3f91880c9fb08ba17c5b7950d0a379409d7c3a#egg=django-pyodbc
django-recaptcha==0.0.9
gevent==0.13.8
greenlet==0.4.0
gunicorn==0.17.4
ipython==0.13.2
lxml==3.2.1
ndg-httpsclient==0.3.2
psycopg2==2.5
pyOpenSSL==0.14
pyasn1==0.1.7
pycparser==2.10
pycrypto==2.6
pylibmc==1.2.3
pyodbc==3.0.7
raven==5.1.1
requests==2.4.3
six==1.8.0
wsgiref==0.1.2
