{% extends "admin/images/layout.html" %}

{% block imagebody %}
{% if not albums and not images %}
<div class="archive-gallery-notice"><p>Dette albumet er tomt.</p></div>
{% endif %}
<div id="archive-gallery">
  <ul>
  {% for album in albums %}
    <li class="album">
      <span class="buttons"><a class="delete" href="{% url admin.images.views.delete_album album.id %}"><img src="{{ STATIC_URL }}img/small_x.png" alt="Slett album"></a></span>
      <a class="image" href="{% url admin.images.views.list_albums album.id %}">
        <img src="{{ STATIC_URL }}img/icons/folder.png" alt="Album: {{ album.name }}">
      </a>
      <a class="text" href="{% url admin.images.views.list_albums album.id %}">{{ album.name }}</a>
    </li>
  {% endfor %}
  {% for image in images %}
    <li class="image">
      <span class="buttons"><a class="delete" href="{% url admin.images.views.delete_image image.id %}"><img src="{{ STATIC_URL }}img/small_x.png" alt="Slett album"></a></span>
      <a class="image" href="{% url admin.images.views.image_details image.id %}">
        <img src="" alt="{{ image.description }}">
      </a>
      <a class="text" href="{% url admin.images.views.image_details image.id %}">{{ image.description }}</a>
    </li>
  {% endfor %}
  </ul>
</div>
{% endblock %}
