{% extends "admin/images/layout.html" %}

{% block imagebody %}
{% if not albums and not images %}
<div class="alert alert-info">Dette albumet er tomt.</div>
{% endif %}

<div class="row">
  {% if current_album %}
  <div class="offset4 span2">
    <p><a class="btn btn-primary large-button dialog-button" data-dialog=".album-dialog" href="javascript:undefined">Opprett nytt album her</a></p>
  </div>
  <div class="span2">
    <p><a class="btn btn-primary" href="{% url admin.images.views.upload_image current_album.id %}">Last opp nytt bilde her</a></p>
  </div>
  {% else %}
  <div class="offset5 span2">
    <p><a class="btn btn-primary large-button dialog-button" data-dialog=".album-dialog" href="javascript:undefined">Opprett nytt album her</a></p>
  </div>
  {% endif %}
</div>

<div class="dialog album-dialog" data-title="Legg til album" data-width="auto">
  <form action="{% if album %}{% url admin.images.views.add_album album %}{% else %}{% url admin.images.views.add_album %}{% endif %}" method="post">
    {% csrf_token %}
    <p>Navn på nytt album: <input type="text" name="name"></p>
    <p><input type="submit" value="Legg til album"></p>
  </form>
</div>
<div id="archive-gallery">
  <ul>
  {% for album in albums %}
    <li class="album">
      <span class="buttons"><a class="delete" href="{% url admin.images.views.delete_album album.id %}"><img src="{{ STATIC_URL }}img/small_x.png" alt="Slett album"></a></span>
      <a class="image" href="{% url admin.images.views.list_albums album.id %}">
        <img src="{{ STATIC_URL }}img/icons/folder.png" alt="Album: {{ album.name }}">
      </a>
      <a class="text" href="{% url admin.images.views.list_albums album.id %}">{{ album.name }}</a>
    </li>
  {% endfor %}
  {% for image in images %}
    <li class="image">
      <span class="buttons"><a class="delete" href="{% url admin.images.views.delete_image image.id %}"><img src="{{ STATIC_URL }}img/small_x.png" alt="Slett album"></a></span>
      <a class="image" href="{% url admin.images.views.image_details image.id %}">
        <img src="http://turistforeningen.s3.amazonaws.com/images/{{ image.key }}-150" alt="{{ image.description }}">
      </a>
      <a class="text" href="{% url admin.images.views.image_details image.id %}">{{ image.description }}</a>
    </li>
  {% endfor %}
  </ul>
</div>
<div style="clear: both;"></div>
{% endblock %}
