{% extends "admin/layout.html" %}
{% block title %}Bildearkiv{% endblock %}
{% block header %} → <a href="{% url admin.images.views.dashboard %}">Bildearkiv</a>{% endblock %}

{% block body %}
<div id="image-toolbar">
  <form action="" method="post">
  <input type="text" size="40" id="search"> <input type="submit" value="Søk"> <a href="">Avansert søk</a>
  </form>
</div>

{% for parent in parents %}
{{ parent }}<br>
{% endfor %}

<div id="archive-gallery">
  <ul>
  {% for album in albums %}
    <li><a href="{% url admin.images.views.dashboard album.id %}">{{ album.name }}</a></li>
  {% endfor %}
  </ul>
</div>
{% endblock %}
