{% extends "admin/layout.html" %}
{% block title %}Bildearkiv{% endblock %}
{% block header %} → <a href="{% url admin.images.views.dashboard %}">Bildearkiv</a>{% endblock %}

{% block body %}
<div id="image-toolbar">
  <form action="" method="post">
  <input type="text" size="40" id="search"> <input type="submit" value="Søk"> <a href="">Avansert søk</a>
  </form>
</div>

<div id="album-path">
  <a href="{% url admin.images.views.dashboard %}">Bildearkiv</a>
{% for album in albumpath %}
  → <a href="{% url admin.images.views.dashboard album.id %}">{{ album.name }}</a>
{% endfor %}
</div>

{% if not albums and not images %}
<div class="archive-gallery-notice"><p>Dette albumet er tomt.</p></div>
{% endif %}
<div id="archive-gallery">
  <ul>
  {% for album in albums %}
    <li class="album"><a href="{% url admin.images.views.dashboard album.id %}">{{ album.name }}</a></li>
  {% endfor %}
  {% for image in images %}
    <li class="image"><a href="{% url admin.images.views.image image.id %}">{{ image.description }}</a></li>
  {% endfor %}
  </ul>
</div>
{% endblock %}
