<div class="dialog delete-dialog" data-title="Slett album/bilder" data-width="500">
  <p class="both hide">
    Er du helt sikker på at du vil slette alle albumene og bildene du har merket, for godt? Alle underalbum og bilder i merkede album vil også bli slettet for godt.
  </p>
  <p class="albums hide">
    Er du helt sikker på at du vil slette alle albumene du har merket, for godt? Alle underalbum og bilder i albumet vil også bli slettet for godt.
  </p>
  <p class="images hide">
    Er du helt sikker på at du vil slette alle bildene du har merket, for godt?
  </p>
  <form action="{% if current_album %}{% url admin.images.views.delete_items current_album.id %}{% else %}{% url admin.images.views.delete_items %}{% endif %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="albums">
    <input type="hidden" name="images">
    <input type="hidden" name="origin" value="{{ origin }}">
    <button type="submit" class="btn btn-danger perform-delete"><i class="icon-warning-sign"></i> Ja, jeg vil virkelig slette slette dem for godt.</button>
  </form>
  <button class="btn btn-success cancel-delete"><i class="icon-heart"></i> Nei, jeg vil ikke slette noe likevel.</button>
</div>

<div class="dialog album-dialog" data-title="Legg til album" data-width="auto">
  <form action="{% if album %}{% url admin.images.views.add_album album %}{% else %}{% url admin.images.views.add_album %}{% endif %}" method="post">
    {% csrf_token %}
    <p>Navn på nytt album: <input type="text" name="name"></p>
    <p><input type="submit" value="Legg til album"></p>
  </form>
</div>

<div class="dialog album-details" data-title="Oppdater albuminformasjon" data-width="auto">
  <form action="{% url admin.images.views.update_album %}" method="post">
    {% csrf_token %}
    <p>Nytt navn: <input type="text" name="name"></p>
    <input type="hidden" name="albums">
    <p><input type="submit" value="Oppdater album"></p>
  </form>
</div>
