{# This iframe will be rendered when an image upload process is complete. It will not be displayed, but it calls the 'uploadComplete' function with the appropriate result. #}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
    <script>
    {# the fast uploader rqueiers the url #}
    {% if url %}
      window.top.window.uploadComplete('{{ result }}', '{{ url }}');
    {% else %}
      window.top.window.uploadComplete('{{ result }}', '{{ ids }}');
    {% endif %}
    </script>
  </head>
  <body></body>
</html>
