{% extends "admin/images/layout.html" %}

{% block extra_js %}
  {{ block.super }}
  <script src="/static/js/admin/images/image_details.js"></script>
{% endblock %}

{% block imagebody %}

<div id="image-display" class="row">
  <div class="span6 metadata">
    <table class="table metadata">
    <tr>
      <th>Fotograf:</th>
      <td>
        {% if image.photographer %}
          <a href="{% url admin.images.views.search %}?q={{ image.photographer }}">{{ image.photographer }}</a>
        {% else %}
          (Ingen fotograf oppgitt)
        {% endif %}
      </td>
    </tr>
    {% if image.credits %}
      <tr>
        <th>Kreditering:</th>
        <td>
          {{ image.credits }}
        </td>
      </tr>
    {% endif %}
    <tr>
      <th>Bruksrett:</th>
      <td>
        {{ image.licence|default:"Standard DNT bruksrett." }}
      </td>
    </tr>
    <tr>
      <th>Tatt:</th>
      <td>{{ taken|date:"j. F Y"|default:"Fant ikke dato i EXIF-data" }}</td>
    </tr>
    <tr>
      <th>Lastet opp av:</th>
      <td>
        <a href="{% url admin.images.views.user_images image.uploader.user.get_profile.id %}">
          {{ image.uploader.user.get_full_name }}
        </a><br>
        {{ image.uploaded|date:"j. F Y" }}
      </td>
    </tr>
    <tr>
      <th>Åpne:</th>
      <td>
        <a href="http://{{ aws_bucket }}/images/{{ image.key }}.{{ image.extension }}">{{ image.width }}x{{ image.height }}</a>,
        <a href="http://{{ aws_bucket }}/images/{{ image.key }}-500.{{ image.extension }}">500px</a>,
        <a href="http://{{ aws_bucket }}/images/{{ image.key }}-150.{{ image.extension }}">150px</a>
      </td>
    </tr>
    <tr>
      <th>EXIF-data:</th>
      <td>
        {% if exif.items|length > 0 %}
          <a href="javascript:undefined" class="toggle-exif">Vis...</a>
          <div class="exif">
            <pre>{% for tag, value in exif.items %}{{ tag }}: {{ value }}
{% endfor %}</pre>
          </div>
        {% else %}
          Ingen.
        {% endif %}
      </td>
    </tr>
    </table>

    <p class="edit-button">
      {# This URL is kind of ugly, but it's just a URLencoded JSON-list of one image id #}
      <a class="btn btn-warning" href="{% url admin.images.views.update_images %}?bilder=%5B%22{{ image.id }}%22%5D&amp;origin={{ origin }}"><i class="icon-pencil"></i> Rediger bildeinformasjon</a>
    </p>
    <form method="post" action="{% url admin.images.views.delete_items %}" class="delete-image">
      {% csrf_token %}
      <input type="hidden" name="albums" value="[]">
      <input type="hidden" name="images" value="[{{ image.id }}]">
      <p class="edit-button">
        <button type="submit" class="btn btn-danger edit-link"><i class="icon-warning-sign"></i> Slett bildet</button>
      </p>
    </form>
  </div>

  <div class="span6">
    <p>
      <a href="http://{{ aws_bucket }}/images/{{ image.key }}.{{ image.extension }}">
        <img src="http://{{ aws_bucket }}/images/{{ image.key }}-500.{{ image.extension }}" alt="{{ image.description }}" title="{{ image.description }}">
      </a>
    </p>

    {% if not image.description %}
      <p style="text-align: center;">{{ image.uploader.user.first_name }} la ikke inn noen beskrivelse for bildet.</p>
    {% else %}
      <p class="image-description form-border">{{ image.description|linebreaksbr }}</p>
    {% endif %}

    <h3>Nøkkelord:</h3>
    <div class="tag-box">
      {% for tag in tags %}
        <div class="tag" data-href="{% url admin.images.views.search %}?q={{ tag.name }}">{{ tag.name }}</div>
      {% empty %}
        <p>{{ image.uploader.user.first_name }} la ikke inn noen nøkkelord for bildet.</p>
      {% endfor %}
    </div>
  </div>
</div>
<div style="clear: both;"></div>
{% endblock %}
