{% extends "admin/images/layout.html" %}

{% block imagebody %}
<div id="image-display" class="row">
  <div class="span6 metadata">
    <h1>{{ image.description }}</h1>
    <table class="table metadata">
    <tr>
      <th>Kreditering:</th>
      <td>{{ image.credits }}</td>
    </tr>
    <tr>
      <th>Fotograf:</th>
      <td>{{ image.photographer }} ({{ image.photographer_contact }})</td>
    </tr>
    <tr>
      <th>Lastet opp:</th>
      <td>{{ image.uploaded }} av {{ image.uploader.user }}</td>
    </tr>
    <tr>
      <th>Original:</th>
      <td><a href="">Åpne ({{ image.height }} x {{ image.width }})</a></td>
    </tr>
    <tr>
      <th>Mellomstor:</th>
      <td><a href="">Åpne (500 x 375)</a></td>
    </tr>
    <tr>
      <th>Liten:</th>
      <td><a href="">Åpne (150 x 113)</a></td>
    </tr>
    </table>
  </div>

  <div class="span6">
    <img src="http://www.turistforeningen.no/images/uq/Ek/qD.sized.jpg" alt="{{ image.description }}" title="{{ image.description }}">
  </div>
</div>
<div style="clear: both;"></div>
{% endblock %}
