{% extends "admin/images/layout.html" %}
{% block extra_js %}
  <script src="{{ STATIC_URL }}js/admin/images/main.js"></script>
{% endblock %}

{% block imagebody %}

{% include 'admin/images/breadcrumb.html' %}

<div id="image-display" class="row">
  <div class="span6 metadata">
    <table class="table metadata">
    <tr>
      <th>Fotograf:</th>
      <td>
        {{ image.photographer|default:"(Ingen fotograf oppgitt)" }}
      </td>
    </tr>
    {% if image.credits %}
      <tr>
        <th>Kreditering:</th>
        <td>
          {{ image.credits }}
        </td>
      </tr>
    {% endif %}
    <tr>
      <th>Bruksrett:</th>
      <td>
        {{ image.licence|default:"Standard DNT bruksrett." }}
      </td>
    </tr>
    <tr>
      <th>Tatt:</th>
      <td>{{ taken|date:"j. F Y"|default:"Fant ikke dato i EXIF-data" }}</td>
    </tr>
    <tr>
      <th>Lastet opp:</th>
      <td>
        {{ image.uploader.user.get_full_name }}<br>
        {{ image.uploaded|date:"j. F Y" }}
      </td>
    </tr>
    <tr>
      <th>Åpne:</th>
      <td>
        <a href="http://{{ aws_bucket }}/images/{{ image.key }}.{{ image.extension }}">{{ image.width }}x{{ image.height }}</a>,
        <a href="http://{{ aws_bucket }}/images/{{ image.key }}-500.{{ image.extension }}">500px</a>,
        <a href="http://{{ aws_bucket }}/images/{{ image.key }}-150.{{ image.extension }}">150px</a>
      </td>
    </tr>
    <tr>
      <th>EXIF-data:</th>
      <td>
        {% if exif.items|length > 0 %}
          <a href="javascript:undefined" class="toggle-exif">Vis...</a>
          <div class="exif">
            <pre>{% for tag, value in exif.items %}{{ tag }}: {{ value }}
{% endfor %}</pre>
          </div>
        {% else %}
          Ingen.
        {% endif %}
      </td>
    </tr>
    </table>

    {# This URL is kind of ugly, but it's just a URLencoded JSON-list of one image id #}
    <p class="edit-link"><a class="btn btn-warning" href="{% url admin.images.views.update_images %}?bilder=%5B%22{{ image.id }}%22%5D&amp;origin={{ origin }}"><i class="icon-pencil"></i> Rediger bildeinformasjon</a></p>
  </div>

  <div class="span6">
    <a href="http://{{ aws_bucket }}/images/{{ image.key }}.{{ image.extension }}">
      <img src="http://{{ aws_bucket }}/images/{{ image.key }}-500.{{ image.extension }}" alt="{{ image.description }}" title="{{ image.description }}">
    </a>
  </div>
</div>
<div class="row">
  <div class="span6">
    <h3>Beskrivelse:</h3>
      {% if not image.description %}
        <p>{{ image.uploader.user.first_name }} la ikke inn noen beskrivelse for bildet.</p>
      {% else %}
        <pre>{{ image.description }}</pre>
      {% endif %}
  </div>
  <div class="span6">
    <h3>Nøkkelord:</h3>
    <div class="tag-box">
      {% for tag in tags %}
        <div class="tag">{{ tag.name }}</div>
      {% empty %}
        <p>{{ image.uploader.user.first_name }} la ikke inn noen nøkkelord for bildet.</p>
      {% endfor %}
    </div>
  </div>
</div>
<div style="clear: both;"></div>
{% endblock %}
