{% extends "admin/images/layout.html" %}

{% block imagebody %}
<div id="image-display" class="row">
  <div class="span6 metadata">
    <h1>{{ image.description }}</h1>
    <table class="table metadata">
    <tr>
      <th>Kreditering:</th>
      <td>{{ image.credits }}</td>
    </tr>
    <tr>
      <th>Fotograf:</th>
      <td>{{ image.photographer }} ({{ image.photographer_contact }})</td>
    </tr>
    <tr>
      <th>Lastet opp:</th>
      <td>{{ image.uploaded }} av {{ image.uploader.user }}</td>
    </tr>
    <tr>
      <th>Original:</th>
      <td><a href="http://turistforeningen.s3.amazonaws.com/images/{{ image.key }}">Åpne ({{ image.height }} x {{ image.width }})</a></td>
    </tr>
    <tr>
      <th>Mellomstor:</th>
      <td><a href="http://turistforeningen.s3.amazonaws.com/images/{{ image.key }}-500">Åpne (500px)</a></td>
    </tr>
    <tr>
      <th>Liten:</th>
      <td><a href="http://turistforeningen.s3.amazonaws.com/images/{{ image.key }}-150">Åpne (150px)</a></td>
    </tr>
    </table>
  </div>

  <div class="span6">
    <a href="http://turistforeningen.s3.amazonaws.com/images/{{ image.key }}">
      <img src="http://turistforeningen.s3.amazonaws.com/images/{{ image.key }}-500" alt="{{ image.description }}" title="{{ image.description }}">
    </a>
  </div>
</div>
<div style="clear: both;"></div>
{% endblock %}
