{% extends "admin/layout.html" %}
{% block title %}Bildearkiv &mdash; {{ block.super }}{% endblock %}
{% block header %}<a href="{% url admin.images.views.list_albums %}">Bildearkiv</a>{% endblock %}

{% block body %}
<div id="image-toolbar" class="row">
  <div class="span12">
    <form action="" method="post">
    <input type="text" size="40" id="search"> <input type="submit" value="Søk"> <a href="">Avansert søk</a>
    </form>
  </div>
</div>

{% block imagebody %}{% endblock %}
{% endblock %}
