{% extends "admin/layout.html" %}
{% block title %}Bildearkiv &mdash; {{ block.super }}{% endblock %}
{% block header %}<a href="{% url admin.images.views.index %}">Bildearkiv</a>{% endblock %}

{% block extra_js %}
  <script src="/static/js/admin/images/layout.js"></script>
{% endblock %}

{% block body %}

<div class="row image-archive-navigation">
  <div class="span4">
    <div class="item{% if current_navigation == 'personal' %} current{% endif %}">
      <p>
        {% if current_navigation != 'personal' %}<a href="{% url admin.images.views.user_images user.id %}">{% else %}<span class="disabled-link">{% endif %}
        Mine bilder
        {% if current_navigation != 'personal' %}</a>{% else %}</span>{% endif %}
      </p>
    </div>
  </div>
  <div class="span4">
    <div class="item{% if current_navigation == 'associations' %} current{% endif %}">
      <p>
        {% if current_navigation != 'associations' %}<a href="">{% else %}<span class="disabled-link">{% endif %}
        {# Todo: Echo the currently active association #}
        Foreningsbilder
        {% if current_navigation != 'associations' %}</a>{% else %}</span>{% endif %}
      </p>
    </div>
  </div>
  <div class="span4">
    <div class="item{% if current_navigation == 'albums' %} current{% endif %}">
      <p>
        {% if current_navigation != 'albums' %}<a href="{% url admin.images.views.list_albums %}">{% else %}<span class="disabled-link">{% endif %}
        Alle bilder
        {% if current_navigation != 'albums' %}</a>{% else %}</span>{% endif %}
      </p>
    </div>
  </div>
</div>

<div class="row image-navigation">
  <div class="span4">
    <form action="{% url admin.images.views.search %}" method="get">
      <input type="text" name="q" placeholder="Søk etter bilder..." value="{{ search_query }}">
      <button type="submit" class="btn input-button-align"><i class="icon-search"></i></button>
    </form>
  </div>
  <div class="span4">
    <select name="association-images" data-placeholder="Andre foreningers bilder...">
      <option></option>
    </select>
  </div>
  <div class="span4">
    <select name="user-images" data-placeholder="Andre brukeres bilder...">
      <option></option>
      {% for profile in all_users %}
        <option value="{{ profile.id }}" data-href="{% url admin.images.views.user_images '0' %}">{{ profile.user.get_full_name }}</option>
      {% endfor %}
    </select>
  </div>
</div>

{% block imagebody %}{% endblock %}
{% endblock %}
