{% extends "admin/layout.html" %}
{% block title %}Bildearkiv &mdash; {{ block.super }}{% endblock %}
{% block header %}<a href="{% url admin.images.views.list_albums %}">Bildearkiv</a>{% endblock %}

{% block body %}
<div class="row image-search">
  <div class="span12">
    <form action="{% url admin.images.views.search %}" method="get">
      <input type="text" class="input-xlarge" name="q" placeholder="Finn album eller bilde..." value="{{ search_query }}">
      <button type="submit" class="btn input-button-align"><i class="icon-search"></i> Søk i bildearkivet</button>
    </form>
  </div>
</div>

{% block imagebody %}{% endblock %}
{% endblock %}
