{% extends "admin/images/layout.html" %}
{% block extra_scripts %}
  <script src="{{ STATIC_URL }}js/admin-imageuploads.js"></script>
  <script>
    var tags = {{ tags|safe }};
  </script>
{% endblock %}
{% block imagebody %}

<div id="image-uploader">
<div class="row">
  <div class="offset3 span6" style="text-align: center">

  <div class="messages">
    <div class="uploading">
      <p>Laster opp...<br>
        <img src="{{ STATIC_URL }}img/ajax-loader.gif" alt="Laster opp, vennligst vent...">
      </p>
    </div>
    <div class="alert alert-success upload-complete">
      Bildene har blitt lastet opp!<a class="close">x</a>
    </div>
    <div class="alert alert-error upload-failed">
      Et eller flere av bildene du forsøkte å laste opp er ikke en gyldig bilde-fil!<a class="close">x</a>
    </div>
    <div class="alert alert-error upload-no-files">
      Du må jo velge noen bilder å laste opp!<a class="close">x</a>
    </div>
  </div>

  <form class="image-uploader" action="{% url admin.images.views.upload_image current_album.id %}" method="post" enctype="multipart/form-data" target="iframe">
    <h1>Last opp nye bilder</h1>
    <input type="file" name="files" multiple><br>
    {% csrf_token %}
    <input class="btn" type="submit" value="Last opp valgte bilder til albumet '{{ current_album.name }}'">
    <iframe name="iframe" style="display: none;"></iframe>
    <p><a href="{% url admin.images.views.list_albums current_album.id %}">Avbryt opplasting</a></p>
  </form>

  </div>
</div>

<div class="row image-details">
  <div class="offset3 span6">
    <h2>Bildeinformasjon</h2>
    <form action="{% url admin.images.views.update_images %}" method="post" class="well">
      {% csrf_token %}
      <p><em>Mens bildene lastes opp er det fint om du kan fylle inn litt informasjon om dem:</em></p>
      <label>Kort beskrivelse av bildene:</label>
      <input type="text" class="span4" name="description" placeholder="F.eks. 'Kom deg ut-dagen 2012'..."><br>
      <label>Kreditering:</label>
      <input type="text" class="span4" name="credits" placeholder="Navn på person, forening e.l..."><br>
      <label>Fotograf:</label>
      <input type="text" class="span4" name="photographer" placeholder="Fullt navn..."><br>
      <label>Kontaktinformasjon for fotografen:</label>
      <input type="text" class="span4" name="photographer_contact" placeholder="Epost, telefon eller liknende..."><br>
      <label>Nøkkelord</label>
      <input type="text" class="span4" name="tags">
      <input type="hidden" name="tags-serialized">
      <div id="tags"></div>
      <div style="clear: both;"></div>
      <input type="submit" class="btn" value="Lagre bildedata">
      <p class="waiting">Bildene lastes fremdeles opp. Vennligst vent, så vil du bli videresendt når de er ferdig opplastet...</p>
      <input type="hidden" name="ids">
    </form>
  </div>
</div>

<div class="row">
  <div class="offset3 span6">
    <div class="alert alert-error licencing">
      <h2 class="alert-heading">Lisensiering</h2>
      <p>Alle bilder som lastes opp i bildearkivet kan brukes vederlagsfritt (med fotokredit) av alle medlemsforeninger i DNT med mindre annet er tydelig spesifisert under "bruksrett" tilknyttet bildet.</p>
    </div>
  </div>
</div>

</div>

{% endblock %}
