{% extends "admin/images/layout.html" %}
{% block extra_scripts %}
  <script src="{{ STATIC_URL }}js/admin-imageuploads.js"></script>
{% endblock %}
{% block imagebody %}

<div id="image-uploader">
<div class="row">
  <div class="offset3 span6" style="text-align: center">

  <form action="{% url admin.images.views.upload_image current_album %}" method="post" enctype="multipart/form-data" target="iframe">
    <h1>Last opp nye bilder</h1>
    <input type="file" name="files" multiple><br>
    {% csrf_token %}
    <input type="submit" value="Last opp valgte bilder">
    <iframe name="iframe" style="display: none;"></iframe>
  </form>

  {% if invalid_image %}
    <div class="alert alert-error">Et eller flere av bildene du forsøkte å laste opp er ikke en gyldig bilde-fil!<a class="close">x</a></div>
  {% endif %}

  <div class="well">
    <p class="">Bildene vil havne i følgende arkiv:<br>
    {% for album in albumpath %}
      <span class="label label-info">{{ album.name }}</span>
      {% if not forloop.last %}→{% endif %}
    {% endfor %}
    </p>
  </div>

  </div>
</div>
</div>

{% endblock %}
