@pages-tree-border-radius: 3px;
@pages-tree-margin: 5px;
@pages-tree-indent: 25px;
@pages-tree-node-padding: 3px 6px;

.tree {

  div.header {
    overflow: hidden;
    font-weight: bold;
    padding: @pages-tree-node-padding;

    div.disclose {
      display: block;
      float: left;
      width: 25px;
      position: relative;
      left: -3px;

      &.expand-all {
        .expand {
          display: inline-block;
        }
      }

      &.collapse-all {
        .collapse {
          display: inline-block;
        }
      }
    }
  }

  span.empty {
    font-style: italic;
    color: #999;
  }

  div.col {
    display: inline-block;
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    padding-right: 10px;

    &.date {
      width: 80px;
    }

    &.status {
      width: 90px;
    }

  }

  div.title {
    float: left;
    font-weight: bold;
  }

  div.meta {
    float: right;
  }

  div.disclose {
    cursor: pointer;
  }

  ol {
    list-style-type: none;
  }

  ol.sortable {
    padding-left: 0;
    > li {
      // Special rules for forside
      margin-top: 0;
      > div {
        margin-left: @pages-tree-indent;

        >.disclose {
          display: none !important;
        }
      }
    }

    .handle {
      cursor: move;
    }

    ol {
      padding-left: @pages-tree-indent;
    }

    li {
      position: relative;
      margin-top: @pages-tree-margin;

      &.mjs-nestedSortable-collapsed > ol {
        display: none;
      }

      &.placeholder {
        background-color: #d4d4d4;
        border-radius: @pages-tree-border-radius;
      }

      &.ui-sortable-helper {
        .disclose {
          display: none;
        }
      }

      div.node-wrapper {
        border: 1px solid #d4d4d4;
        border-radius: @pages-tree-border-radius;
        padding: @pages-tree-node-padding;
        background-color: #fff;
        overflow: hidden;

        &:hover {
          .actions {
            visibility: visible;
          }
        }

        .disclose {
          position: absolute;
          left: -22px;
        }

        .actions {
          float: left;
          clear: both;
          font-size: 12px;
          visibility: hidden;

          a {
            cursor: pointer;
          }

          div {
            display: inline-block;
          }

          div:after {
            content: ' | ';
          }

          div:last-child:after {
            content: '';
          }
        }
      }
    }
  }

  .expand, .collapse {
    display: none;
  }

  .mjs-nestedSortable-expanded {
    > div.node-wrapper {
      .disclose > {
        > .collapse {
          display: block;
        }
      }
    }
  }

  .mjs-nestedSortable-collapsed {
    > div.node-wrapper {
      .disclose > {
        > .expand {
          display: block;
        }
      }
    }
  }

  .mjs-nestedSortable-hovering > div.node-wrapper {
    background-color: #d9edf7 !important;
    border-color: #bce8f1 !important;
  }

}

.modal.new-page {
  margin-left: -320px;
  width: 640px;

  .select2-container {
    width: 100%;
  }

  .section {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .template-select {
    margin-bottom: 0;

    label {
      margin-bottom: 10px;
      position: relative;
      top: -5px;
      text-transform: uppercase;
      color: #999;
      text-shadow: 1px 1px 0 #fff;
    }

    .template-item {
      text-align: center;
      border-width: 3px;
      color: #333;
      margin-bottom: 0;

      &:hover, &:focus {
        text-decoration: none !important;
      }

      img {
        margin: 10px;
      }
    }
  }
}
