{# Note that this template is rendered in the site layout #}
{% extends active_site.template|add:"/layout.html" %}

{% block title %}{{ version.variant.page.title }} — {{ block.super }}{% endblock %}

{% load taglist %}
{% load repeat %}
{% load mptt_tags %}

{% block extra_js %}
  {# 3rd party libs #}
  <script src="{{ STATIC_URL }}lib/jquery-draggable/jquery.draggable.min.js"></script>
  <script src="{{ STATIC_URL }}lib/rangy/rangy-core.js"></script>
  <script src="{{ STATIC_URL }}lib/imagesloaded/jquery.imagesloaded.min.js"></script>
  <script src="{{ STATIC_URL }}lib/imgareaselect/js/jquery.imgareaselect.min.js"></script>
  <script src="{{ STATIC_URL }}lib/jcrop/js/jquery.Jcrop.min.js"></script>

  {# Custom libs #}
  <script src="{{ STATIC_URL }}js/lib/select2-tagger.js"></script>
  <script src="{{ STATIC_URL }}js/lib/select2-input-lookup.js"></script>
  <script src="{{ STATIC_URL }}js/admin/util/url-picker.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/image-utils.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/image-cropper.js"></script>
  <script src="{{ STATIC_URL }}js/admin/images/util/image-archive-picker.js"></script>
  <script src="{{ STATIC_URL }}js/admin/images/util/image-upload-dialog.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/pages/delete.js"></script>

  {# Editor specific scripts #}
  <script src="{{ STATIC_URL }}js/admin/sites/editor/main.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/content.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/content-move.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/page.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/save.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/image-dialog.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/widgets/articles.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/widgets/aktivitet_listing.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/widgets/carousel.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/widgets/embed.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/widgets/fact.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/widgets/quote.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/widgets/button.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/widgets/main.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/widgets/table.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/widgets/campaign.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/toolbar.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/sticky.js"></script>
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/jcrop/css/jquery.Jcrop.min.css" media="screen">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/editor.css" media="screen">
{% endblock %}

{% block js_globals %}
  <script>
    Turistforeningen.image_search_length = {{ image_search_length }};
  </script>
{% endblock %}

{% block editor_header %}
  <div
    class="editor-header page status"
    {% if version.variant.page.published %} data-published{% endif %}
    data-page-id="{{ version.variant.page.id }}"
    data-version-id="{{ version.id }}">

    <div class="form-horizontal label-align-left">
      <div class="static">
        <div class="container">
          <div class="fields">
            <div class="row">
              <div class="col-sm-6">

                <div class="form-group title">
                  <label for="title" class="col-sm-4 control-label">Tittel</label>
                  <div class="col-sm-8">
                    <input class="form-control" name="title" type="text" value="{{ version.variant.page.title }}">
                  </div>
                </div>

                <div class="form-group parent">
                  <label for="title" class="col-sm-4 control-label">Ligger under</label>
                  <div class="col-sm-8">
                    <select name="parent">
                      <option value="{{ root_page.id }}"></option>
                      {% for node in pages %}
                        {% if node.id != version.variant.page.id %}
                          {% if node.is_child_node %}
                            <option
                              value="{{ node.id }}"
                              {% if version.variant.page.parent.id == node.id %} selected class="default"{% endif %}>
                              {% with node.level|add:"-2" as count %}{% repeat count %}- {% endrepeat %}{% endwith %}
                              {{ node.title }}
                            </option>
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="form-group tags">
                  <label for="tags" class="col-sm-4 control-label">Nøkkelord</label>
                  <div class="col-sm-8">
                    <input
                      class="form-control"
                      name="tags"
                      data-dnt-existing-tags="{{ version.tags.all|taglist }}"
                      data-dnt-tags-url="{% url 'core.views.filter_tags' %}">
                  </div>
                </div>

              </div>
              <div class="col-sm-6">
                <div class="form-group publish">
                  <label for="publish" class="col-sm-4 control-label">
                    <input type="checkbox" name="publish"{% if version.variant.page.published %} checked="checked"{% endif %}>
                    &nbsp; Publiseres
                  </label>
                  <div class="col-sm-5">
                    <div class="input-group date">
                      <input class="form-control" type="text" name="date" value="{{ version.variant.page.pub_date|date:"d.m.Y" }}" placeholder="dd.mm.åååå">
                      <span class="input-group-addon">
                        <i class="glyphicon glyphicon-calendar"></i>
                      </span>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <input class="form-control " type="text" name="time" value="{{ version.variant.page.pub_date|date:"H:i" }}" placeholder="tt:mm">
                  </div>
                </div>

                <div class="form-group display-ads">
                  <label for="display-ads" class="col-sm-12 control-label">
                    <input type="checkbox" name="display-ads"{% if version.ads %} checked{% endif %}>
                    &nbsp; Vis annonser
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sticky">
        <div class="wrapper">
          <div class="actions">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="pull-left">
                    <a
                      href="{% url 'admin.sites.pages.page.list' active_site.id %}"
                      class="btn btn-link quit"
                      data-confirm="Husk å lagre eventuelle endringer før du avslutter redigering! Dersom du har ulagrede endringer og avslutter vil disse gå tapt. Er du sikker på at du vil avslutte redigering?">
                      Avslutt redigering
                    </a>
                  </div>
                  <div class="pull-right">
                    <div class="inline-label last-saved-msg"><span data-dnt-container="last-saved-msg"></span></div>
                    <button class="btn btn-success save">
                      <i class="glyphicon glyphicon-heart"></i> Lagre
                    </button>
                    <button
                      class="btn btn-success preview"
                      data-href="{% url 'admin.sites.pages.page.preview' active_site.id version.id %}"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="OBS! Når du forhåndsviser siden lagres den først, slik at alle endringer du har gjort blir lagret og evt. publisert dersom siden er publisert.">
                      <i class="glyphicon glyphicon-search"></i> Forhåndsvisning
                    </button>
                    <button class="btn btn-danger delete-page" data-dnt-delete-url="{% url 'admin.sites.pages.page.delete' active_site.id version.variant.page.id %}">
                      <i class="glyphicon glyphicon-warning-sign"></i> Slett
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="absolutes">
            <div class="wrapper">
              <div class="toolbars">
                <div class="wrapper" data-dnt-container="toolbars"></div>
              </div>
              <div class="alerts">
                <div class="wrapper" data-dnt-container="alerts"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="clear: both;"></div>
  </div>
{% endblock %}

{% block body %}

<div class="cms-editor">
  {% include 'common/admin/sites/editor/editor.html' %}
</div><!-- /.cms-editor -->

{% include 'common/admin/sites/pages/delete.html' %}

{% endblock %}
