{# Note that this template is rendered in the site layout #}
{% extends active_site.template|add:"/layout.html" %}

{% block title %}{{ version.variant.page.title }} — {{ block.super }}{% endblock %}

{% load taglist %}
{% load mptt_tags %}
{% load truncate_url %}

{% block extra_js %}
  {# 3rd party libs #}
  <script src="{{ STATIC_URL }}lib/jquery-draggable/jquery.draggable.min.js"></script>
  <script src="{{ STATIC_URL }}lib/jquery-ui-1.11.2-sortable/jquery-ui.js"></script>
  <script src="{{ STATIC_URL }}lib/rangy/rangy-core.js"></script>
  <script src="{{ STATIC_URL }}lib/imagesloaded/jquery.imagesloaded.min.js"></script>
  <script src="{{ STATIC_URL }}lib/imgareaselect/js/jquery.imgareaselect.min.js"></script>
  <script src="{{ STATIC_URL }}lib/jcrop/js/jquery.Jcrop.min.js"></script>

  {# Custom libs #}
  <script src="{{ STATIC_URL }}js/lib/select2-tagger.js"></script>
  <script src="{{ STATIC_URL }}js/lib/select2-input-lookup.js"></script>
  <script src="{{ STATIC_URL }}js/admin/util/url-picker.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/image-utils.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/image-cropper.js"></script>
  <script src="{{ STATIC_URL }}js/admin/images/util/image-archive-picker.js"></script>
  <script src="{{ STATIC_URL }}js/admin/images/util/image-upload-dialog.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/pages/delete.js"></script>

  {# Editor specific scripts #}
  <script src="{{ STATIC_URL }}js/admin/sites/editor/main.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/content.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/content-move.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/page.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/save.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/image-dialog.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/widgets/articles.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/widgets/aktivitet_listing.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/widgets/gallery.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/widgets/embed.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/widgets/fact.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/widgets/quote.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/widgets/button.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/widgets/main.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/widgets/table.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/widgets/campaign.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/toolbar.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/sticky.js"></script>
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300">
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/jcrop/css/jquery.Jcrop.min.css" media="screen">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/editor.css" media="screen">
{% endblock %}

{% block js_globals %}
  <script>
    Turistforeningen.image_search_length = {{ image_search_length }};
  </script>
{% endblock %}

{% block editor_header %}
  <div class="navbar navbar-default navbar-fixed-top navbar-inverse navbar-sherpa">
    <div class="container">
      <div class="navbar-header">
        <a href="/sherpa/" class="navbar-brand">
          <span class="title">Sherpa</span>
        </a>
      </div>
    </div>
  </div>
  <div
    class="editor-header page status"
    {% if version.variant.page.published %} data-published{% endif %}
    data-page-id="{{ version.variant.page.id }}"
    data-version-id="{{ version.id }}">

    <div class="form-horizontal label-align-left">
      <div class="static">
        <div class="container">
          <div class="fields">
            <div class="row">
              <div class="col-sm-6">

                <div class="form-group title">
                  <label for="title" class="col-sm-4 control-label">Tittel</label>
                  <div
                    class="col-sm-8"
                    {% if is_editing_root_page %}
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="Du kan ikke endre tittel på forsiden"
                    {% endif %}>
                    <input
                      name="title"
                      type="text"
                      value="{{ version.variant.page.title }}"
                      class="form-control"
                      {% if is_editing_root_page %} disabled{% endif %}>
                  </div>
                </div>

                <div class="form-group tags">
                  <label for="tags" class="col-sm-4 control-label">Nøkkelord</label>
                  <div class="col-sm-8">
                    <input
                      class="form-control"
                      name="tags"
                      data-dnt-existing-tags="{{ version.tags.all|taglist }}"
                      data-dnt-tags-url="{% url 'core.views.filter_tags' %}">
                  </div>
                </div>

              </div>
              <div class="col-sm-6">
                <div class="form-group slug">
                  <label for="slug" class="col-sm-4 control-label">Nettadresse</label>
                  <div
                    class="col-sm-8"
                    {% if is_editing_root_page %}
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="Du kan ikke endre nettadressen til forsiden"
                    {% endif %}>
                    <div class="input-group">
                      <div class="input-group-addon">
                        {{ active_site.domain|truncate_url:-12 }}/
                      </div>
                      <input
                        name="slug"
                        type="text"
                        value="{{ version.variant.page.slug }}"
                        class="form-control"
                        {% if is_editing_root_page %} disabled{% endif %}>
                    </div>
                  </div>
                </div>
                <div class="form-group publish">
                  <label class="col-sm-4">
                    <input type="checkbox" name="publish"{% if version.variant.page.published %} checked="checked"{% endif %}>
                    &nbsp; Publisert
                  </label>
                  <div class="col-sm-8">
                    <div class="alert alert-warning alert-sm{% if version.variant.page.published %} jq-hide{% endif %}">
                      <strong>Ikke publisert:</strong> Siden må merkes som publisert før den blir synlig på nettet.
                    </div>
                    <div class="alert alert-success alert-sm{% if not version.variant.page.published %} jq-hide{% endif %}">
                      <strong>Publisert:</strong> Siden må avmerkes som publisert dersom den skal skjules for besøkende.
                    </div>
                  </div>
                </div>

                <div class="form-group display-ads">
                  <label for="display-ads" class="col-sm-12 control-label">
                    <input type="checkbox" name="display-ads"{% if version.ads %} checked{% endif %}>
                    &nbsp; Vis annonser
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sticky">
        <div class="wrapper">
          <div class="actions">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="pull-left">
                    <a
                      href="{% url 'admin.sites.pages.page.list' active_site.id %}"
                      class="btn btn-link quit"
                      data-confirm="Husk å lagre eventuelle endringer før du avslutter redigering! Dersom du har ulagrede endringer og avslutter vil disse gå tapt. Er du sikker på at du vil avslutte redigering?">
                      Avslutt redigering
                    </a>
                  </div>
                  <div class="pull-right">
                    <div class="inline-label last-saved-msg"><span data-dnt-container="last-saved-msg"></span></div>
                    <button class="btn btn-success save">
                      <i class="glyphicon glyphicon-heart"></i> Lagre
                    </button>
                    <button
                      class="btn btn-success preview"
                      data-href="{% url 'admin.sites.pages.page.preview' active_site.id version.id %}"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="OBS! Når du forhåndsviser siden lagres den først, slik at alle endringer du har gjort blir lagret og evt. publisert dersom siden er publisert.">
                      <i class="glyphicon glyphicon-search"></i> Forhåndsvis
                    </button>
                    </button>
                    <button
                      data-dnt-delete-url="{% url 'admin.sites.pages.page.delete' active_site.id version.variant.page.id %}"
                      {% if is_editing_root_page %}
                        class="btn btn-danger delete-page disabled"
                        data-toggle="tooltip"
                        data-placement="bottom"
                        title="Du kan ikke slette denne siden, fordi nettstedet må ha en forside."
                      {% else %}
                        class="btn btn-danger delete-page"
                      {% endif %}>
                      <i class="glyphicon glyphicon-warning-sign"></i> Slett
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="absolutes">
            <div class="wrapper">
              <div class="toolbars">
                <div class="wrapper" data-dnt-container="toolbars"></div>
              </div>
              <div class="alerts">
                <div class="wrapper" data-dnt-container="alerts"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="clear: both;"></div>
  </div>
{% endblock %}

{% block body %}

<div class="cms-editor">
  {% include 'common/admin/sites/editor/editor.html' %}
</div><!-- /.cms-editor -->

{% include 'common/admin/sites/pages/delete.html' %}

{% endblock %}
