{% extends 'common/admin/layout.html' %}
{% load taglist %}
{% load repeat %}
{% load mptt_tags %}
{% block title %}Sider — {{ block.super }}{% endblock %}

{% block admin_menu %}{% with 'sites' as active_entry %}{{ block.super }}{% endwith %}{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}lib/jquery-ui-1.11.2-sortable/jquery-ui.min.js"></script>
  <script src="{{ STATIC_URL }}lib/nestedSortable-2.0alpha/jquery.mjs.nestedSortable.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/pages/pages.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/pages/delete.js"></script>
{% endblock %}

{% block body %}

<div class="row">
  <div class="col-lg-12">
    <h1>Sider <small>sett opp innholdet på <a href="http://{{ active_site.domain }}/">{{ active_site.domain }}</a></small></h1>
    <ol class="breadcrumb">
      <li class="active"><i class="fa fa-dashboard"></i> <a href="{% url 'admin.views.index' %}">Sherpa</a></li>
      <li><a href="{% url 'admin.sites.views.index' %}">Nettsteder</a></li>
      <li><a href="{% url 'admin.sites.views.show' active_site.id %}">{{ active_site.get_title }}</a></li>
      <li><a href="{% url 'admin.sites.pages.page.list' active_site.id %}">Sider</a></li>
    </ol>
  </div>
</div><!-- /.row -->

<div class="row">
  <div class="col-md-12">

    {% for message in messages %}
      {% if message.message == 'slug_not_unique' %}
        <div class="alert alert-danger">
          Adressen du valgte er allerede i bruk av en annen side! Prøv igjen med en ny adresse.
        </div>
      {% endif %}
    {% endfor %}

    <p>
      <a id="add-page" class="btn btn-success btn-lg new-page" href="javascript:undefined">
        Opprett ny side
      </a>
    </p>
    {% if not nodes %}
      <div class="alert alert-info">Det er ikke opprettet noen sider for dette nettstedet.</div>
    {% else %}
      <div class="pages tree">
        <div class="header">
          <div class="disclose collapse-all">
            <div class="expand" data-toggle="tooltip" data-placement="top" title="Vis alle undersider">
              <span class="glyphicon glyphicon-plus"></span>
            </div>
            <div class="collapse" data-toggle="tooltip" data-placement="top" title="Skjul alle undersider">
              <span class="glyphicon glyphicon-minus"></span>
            </div>
          </div>
          <div class="title">
            <span>Tittel</span>
          </div>
          <div class="meta">
            <div class="col tags"><span>Nøkkelord</span></div>
            <div class="col status"><span>Status</span></div>
            <div class="col created_by"><span>Opprettet av</span></div>
            <div class="col date created_date"><span>Opprettet</span></div>
            <div class="col modified_by"><span>Endret av</span></div>
            <div class="col date modified_date"><span>Endret</span></div>
          </div>
        </div>
        <ol class="sortable" data-reorder-url="{% url 'admin.sites.pages.page.reorder' active_site.id %}">
          {% recursetree nodes %}
            <li
              id="pageid_{{ node.id }}"
              class="mjs-nestedSortable-branch{% if not node.is_leaf_node %} mjs-nestedSortable-expanded has-children {% endif %}">
              <div class="node-wrapper {% if node.parent != None %} handle{% endif %}">
                <div class="disclose">
                  <div class="expand"><span class="glyphicon glyphicon-plus"></span></div>
                  <div class="collapse"><span class="glyphicon glyphicon-minus"></span></div>
                </div>
                <div class="title">
                  <a href="{% url 'admin.sites.pages.page.edit' active_site.id node.active_version.id %}"><span>{{ node.title }}</span></a>
                </div>
                <div class="meta">
                  <div
                    class="col tags"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="{% for tag in node.active_version.tags.all %}{{ tag.name }}{% if not forloop.last %}, {% endif %}{% empty %}Ingen nøkkelord{% endfor %}">
                    <span>{% for tag in node.active_version.tags.all %}{{ tag.name }}{% if not forloop.last %}, {% endif %}{% empty %}<span class="empty">Ingen nøkkelord</span>{% endfor %}</span>
                  </div>
                  <div class="col status">
                    {% if node.published %}
                      <div class="published"><span class="label label-success">Publisert</span></div>
                    {% else %}
                      <div class="draft"><span class="label label-warning">Kladd</span></div>
                    {% endif %}
                  </div>
                  <div class="col created_by"><span>{{ node.created_by.get_full_name }}</span></div>
                  <div class="col date created_date"><span>{{ node.created_date|date:"d.m.y" }}</span></div>
                  <div class="col modified_by"><span>{{ node.modified_by.get_full_name }}</span></div>
                  <div class="col date modified_date"><span>{{ node.modified_date|date:"d.m.y" }}</span></div>
                </div>
                <div class="actions">
                  <div><a href="{% url 'admin.sites.pages.page.edit' active_site.id node.active_version.id %}">Rediger</a></div>
                  <div><a href="http://{{ active_site.domain }}/{{ node.slug }}">Vis</a></div>
                  {% if node.parent %}
                    <div class="delete"><a data-dnt-delete-url="{% url 'admin.sites.pages.page.delete' active_site.id node.id %}">Slett</a></div>
                  {% endif %}
                </div>
              </div>
              {% if not node.is_leaf_node %}
                <ol class="children">
                  {{ children }}
                </ol>
              {% endif %}
            </li>
          {% endrecursetree %}
        </ol>
      </div>
    {% endif %}
  </div>
</div><!-- /.row -->

<div class="modal container jq-hide new-page" data-check-slug-url="{% url 'admin.sites.pages.page.check_slug' active_site.id %}">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">Opprett ny side</h4>
  </div>
  <div class="modal-body">
    <form action="{% url 'admin.sites.pages.page.new' active_site.id %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="template" value="0">
      <input type="hidden" name="slug" value="">

      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-3 control-label">Tittel</label>
          <div class="col-sm-7">
            <input type="text" name="title" class="form-control">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Permanent URL</label>
          <div class="col-sm-7">
            <span>http://{{ active_site.domain }}/</span><span class="slug"></span><span class="slash"></span>
            <i class="edit-slug fa fa-pencil"></i>
            <i class="save-slug fa fa-check"></i>
            <img class="loader" src="{{ STATIC_URL }}img/common/ajax-loader-small.gif" alt="Laster...">
            <span class="valid">
              <img src="{{ STATIC_URL }}img/admin/sites/pages/valid.png" alt="Gyldig URL">
              Ok!
            </span>
            <span class="invalid">
              <img src="{{ STATIC_URL }}img/admin/sites/pages/invalid.png" alt="Ugyldig URL">
              Denne URLen er allerede i bruk!
            </span>
          </div>
        </div>

        <div class="form-group parent">
          <label for="title" class="col-sm-3 control-label">Ligger under</label>
          <div class="col-sm-7">
            <select name="parent_id">
              <option value="{{ root_page.id }}">Ingen foreldreside</option>
              <option disabled>---</option>
              {% recursetree nodes %}
              {% if node.id != version.variant.page.id %}
              {% if node.id != root_node.id %}
              <option
                value="{{ node.id }}"
                {% if version.variant.page.parent.id == node.id %} selected class="default"{% endif %}>
                {% with node.level|add:"-1" as count %}{% repeat count %}- {% endrepeat %}{% endwith %}
                {{ node.title }}
              </option>
              {% endif %}
              {% if not node.is_leaf_node %}
              {{ children }}
              {% endif %}
              {% endif %}
              {% endrecursetree %}
            </select>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label">Mal</label>
      </div>
      <div class="well well-sm">
        <div class="row template-select">
          <div class="col-sm-3">
            <a href="javascript:undefined" class="thumbnail" data-template="1">
              <img src="{{ STATIC_URL }}img/admin/sites/editor/templates/empty.jpg" alt="Ferdigdefinert mal">
              <p>Tom</p>
            </a>
          </div>
          <div class="col-sm-3">
            <a href="javascript:undefined" class="thumbnail" data-template="2">
              <img src="{{ STATIC_URL }}img/admin/sites/editor/templates/full-width.jpg" alt="Ferdigdefinert mal">
              <p>Én kolonne</p>
            </a>
          </div>
          <div class="col-sm-3">
            <a href="javascript:undefined" class="thumbnail" data-template="3">
              <img src="{{ STATIC_URL }}img/admin/sites/editor/templates/sidebar.jpg" alt="Ferdigdefinert mal">
              <p>Sidebar (hele)</p>
            </a>
          </div>
          <div class="col-sm-3">
            <a href="javascript:undefined" class="thumbnail" data-template="4">
              <img src="{{ STATIC_URL }}img/admin/sites/editor/templates/3-columns.jpg" alt="Ferdigdefinert mal">
              <p>Tre kolonner</p>
            </a>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" data-dismiss="modal">Avbryt</button>
    <button class="btn btn-success" data-dnt-action="create-page">Opprett side</button>
  </div>
</div>

{% include 'common/admin/sites/pages/delete.html' %}

{% endblock %}
