{% extends 'common/admin/layout.html' %}
{% load mptt_tags %}
{% block title %}Sider — {{ block.super }}{% endblock %}

{% block admin_menu %}{% with 'sites' as active_entry %}{{ block.super }}{% endwith %}{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}lib/jquery-ui-1.11.2-sortable/jquery-ui.min.js"></script>
  <script src="{{ STATIC_URL }}lib/nestedSortable-2.0alpha/jquery.mjs.nestedSortable.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/pages/pages.js"></script>
{% endblock %}

{% block body %}

<div class="row">
  <div class="col-lg-12">
    <h1>Sider <small>sett opp innholdet på <a href="http://{{ active_site.domain }}/">{{ active_site.domain }}</a></small></h1>
    <ol class="breadcrumb">
      <li class="active"><i class="fa fa-dashboard"></i> <a href="{% url 'admin.views.index' %}">Sherpa</a></li>
      <li><a href="{% url 'admin.sites.views.index' %}">Nettsteder</a></li>
      <li><a href="{% url 'admin.sites.views.show' active_site.id %}">{{ active_site.get_title }}</a></li>
      <li><a href="{% url 'admin.sites.pages.page.list' active_site.id %}">Sider</a></li>
    </ol>
  </div>
</div><!-- /.row -->

<div class="row">
  <div class="col-md-12">

    {% for message in messages %}
      {% if message.message == 'slug_not_unique' %}
        <div class="alert alert-danger">
          Adressen du valgte er allerede i bruk av en annen side! Prøv igjen med en ny adresse.
        </div>
      {% endif %}
    {% endfor %}

    <p>
      <a id="add-page" class="btn btn-success btn-lg new-page" href="javascript:undefined">
        Opprett ny side
      </a>
    </p>
    {% if not nodes %}
      <div class="alert alert-info">Det er ikke opprettet noen sider for dette nettstedet.</div>
    {% else %}
      <div class="pages tree">
        <div class="header">
          <div class="disclose collapse-all">
            <div class="expand" data-toggle="tooltip" data-placement="top" title="Vis alle undersider">
              <span class="glyphicon glyphicon-plus"></span>
            </div>
            <div class="collapse" data-toggle="tooltip" data-placement="top" title="Skjul alle undersider">
              <span class="glyphicon glyphicon-minus"></span>
            </div>
          </div>
          <div class="title">
            <span>Tittel</span>
          </div>
          <div class="meta">
            <div class="col status"><span>Status</span></div>
            <div class="col created_by"><span>Opprettet av</span></div>
            <div class="col date created_date"><span>Opprettet</span></div>
            <div class="col modified_by"><span>Endret av</span></div>
            <div class="col date modified_date"><span>Endret</span></div>
          </div>
        </div>
        <ol class="sortable" data-reorder-url="{% url 'admin.sites.pages.page.reorder' active_site.id %}">
          {% recursetree nodes %}
            <li
              id="pageid_{{ node.id }}"
              data-mptt-lft="{{ node.lft }}"
              data-mptt-rght="{{ node.rght }}"
              data-mptt-level="{{ node.level }}"
              class="mjs-nestedSortable-branch{% if not node.is_leaf_node %} mjs-nestedSortable-expanded has-children {% endif %}">
              <div class="node-wrapper handle">
                <div class="disclose">
                  <div class="expand"><span class="glyphicon glyphicon-plus"></span></div>
                  <div class="collapse"><span class="glyphicon glyphicon-minus"></span></div>
                </div>
                <div class="title">
                  <a href="{% url 'admin.sites.pages.page.edit' active_site.id node.active_version.id %}">{{ node.title }}</a>
                </div>
                <div class="meta">
                  <div class="col status">
                    {% if node.published %}
                      <div class="published"><span class="label label-success">Publisert</span></div>
                    {% else %}
                      <div class="draft"><span class="label label-warning">Kladd</span></div>
                    {% endif %}
                  </div>
                  <div class="col created_by"><span>{{ node.created_by.get_full_name }}</span></div>
                  <div class="col date created_date"><span>{{ node.created_date|date:"d.m.y" }}</span></div>
                  <div class="col modified_by"><span>{{ node.modified_by.get_full_name }}</span></div>
                  <div class="col date modified_date"><span>{{ node.modified_date|date:"d.m.y" }}</span></div>
                </div>
                <div class="actions">
                  <a href="{% url 'admin.sites.pages.page.edit' active_site.id node.active_version.id %}">Rediger</a> <span>|</span>
                  <a href="/{{ node.slug }}">Vis</a>
                </div>
              </div>
              {% if not node.is_leaf_node %}
                <ol class="children">
                  {{ children }}
                </ol>
              {% endif %}
            </li>
          {% endrecursetree %}
        </ol>
      </div>
    {% endif %}
  </div>
</div><!-- /.row -->

<div class="modal container jq-hide new-page" data-check-slug-url="{% url 'admin.sites.pages.page.check_slug' active_site.id %}">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
    <h3>Opprett ny side</h3>
  </div>
  <div class="modal-body">
    <form action="{% url 'admin.sites.pages.page.new' active_site.id %}" method="post">
    {% csrf_token %}
      <input type="hidden" name="template" value="0">
      <input type="hidden" name="slug" value="">
      <div class="form-group">
        <label>Tittel</label>
        <input type="text" name="title" class="form-control">
      </div>
      <div class="form-group">
        <label>Permanent URL:</label>
        http://{{ active_site.domain }}/<span class="slug"></span><span class="slash"></span> <i class="edit-slug fa fa-pencil"></i><i class="save-slug fa fa-check"></i>
        <img class="loader" src="{{ STATIC_URL }}img/common/ajax-loader-small.gif" alt="Laster...">
        <span class="valid">
          <img src="{{ STATIC_URL }}img/admin/sites/pages/valid.png" alt="Gyldig URL">
          Ok!
        </span>
        <span class="invalid">
          <img src="{{ STATIC_URL }}img/admin/sites/pages/invalid.png" alt="Ugyldig URL">
          Denne URLen er allerede i bruk!
        </span>

      </div>

      <h2>Velg en ferdigdefinert mal her:</h2>

      <div class="row">
        <div class="col-sm-3">
          <img src="{{ STATIC_URL }}img/admin/sites/editor/templates/empty.jpg" alt="Ferdigdefinert mal" data-template="1">
          <p>Tom</p>
        </div>
        <div class="col-sm-3">
          <img src="{{ STATIC_URL }}img/admin/sites/editor/templates/full-width.jpg" alt="Ferdigdefinert mal" data-template="2">
          <p>Én kolonne</p>
        </div>
        <div class="col-sm-3">
          <img src="{{ STATIC_URL }}img/admin/sites/editor/templates/sidebar.jpg" alt="Ferdigdefinert mal" data-template="3">
          <p>Sidebar (hele)</p>
        </div>
        <div class="col-sm-3">
          <img src="{{ STATIC_URL }}img/admin/sites/editor/templates/3-columns.jpg" alt="Ferdigdefinert mal" data-template="4">
          <p>Tre kolonner</p>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a href="javascript:undefined" class="btn btn-default" data-dismiss="modal">Lukk vindu</a>
  </div>
</div>

{% endblock %}
