{# Note that this template is rendered in the site layout #}
{% extends active_site.template|add:"/layout.html" %}

{% block title %}{{ version.variant.page.title }}{% endblock %}
{% block header %}<a href="{% url 'admin.sites.articles.views.list' active_site.id %}">Nyheter</a>{% endblock %}
{% block body %}

<div class="alert alert-info">
  <a class="btn btn-default btn-lg" href="{% url 'admin.sites.pages.page.edit' active_site.id version.id %}">
    <i class="glyphicon glyphicon-arrow-left"></i> Tilbake til redigering
  </a>
  <span class="preview-notice pull-right">Dette er en forhåndsvisning av siden.</span>
</div>

{% include 'common/page/display-content.html' %}

<div class="alert alert-info">
  <a class="btn btn-default btn-lg" href="{% url 'admin.sites.pages.page.edit' active_site.id version.id %}">
    <i class="glyphicon glyphicon-arrow-left"></i> Tilbake til redigering
  </a>
  <span class="preview-notice pull-right">Dette er en forhåndsvisning av siden.</span>
</div>

{% endblock %}
