{% extends 'common/admin/layout.html' %}

{% block title %}Publisering — {{ block.super }}{% endblock %}

{% block admin_menu %}{% with 'sites' as active_entry %}{{ block.super }}{% endwith %}{% endblock %}

{% block body %}

<div class="row">
  <div class="col-lg-12">
    <h1>Publisering <small>publisér eller skjul nettstedet</small></h1>
    <ol class="breadcrumb">
      <li class="active"><i class="fa fa-dashboard"></i> <a href="{% url 'admin.views.index' %}">Sherpa</a></li>
      <li><a href="{% url 'admin.sites.views.index' active_site.id %}">Nettsteder</a></li>
      <li><a href="{% url 'admin.sites.views.index' active_site.id %}">{{ active_site.domain }}</a></li>
      <li><a href="{% url 'admin.sites.settings.views.index' active_site.id %}">Innstillinger</a></li>
      <li><a href="{% url 'admin.sites.settings.publish.views.index' active_site.id %}">Publisering</a></li>
    </ol>
  </div>
</div><!-- /.row -->

{% if active_site.is_published %}

  <div class="site-published-state">
    <div class="alert alert-success">
      Nettstedet <strong>{{ active_site.domain }}</strong> er publisert.

      <a class="btn btn-lg btn-danger change-state" href="{% url 'admin.sites.settings.publish.views.unpublish' active_site.id %}">Avpublisér nettstedet</a>
    </div>
  </div>

  <ul>
    {% if active_site.type == 'forening' %}
      <li>
        Denne adressen er oppført som {{ active_site.forening.name }}s hjemmeside. Hvis du avpubliserer den, vil <strong>{{ active_site.forening.get_old_url|default:"(Fant ingen adresse i gamle Sherpa)" }}</strong>, hentet fra gamle Sherpa, benyttes i stedet.
      </li>
    {% endif %}
    <li>
      Hvis du avpubliserer nettstedet vil den fremdeles være tilgjengelig på adressen <strong>{{ active_site.domain }}</strong>, men vise en advarsel om at det er en testside.
    </li>
  </ul>

{% else %}

  <div class="site-published-state">
    <div class="alert alert-danger">
      Nettstedet <strong>{{ active_site.domain }}</strong> er ikke publisert.

      <a class="btn btn-lg btn-success change-state" href="{% url 'admin.sites.settings.publish.views.publish' active_site.id %}">Publisér nettstedet</a>
    </div>
  </div>

  <ul>
    {% if active_site.type == 'forening' %}
      <li>
        {{ active_site.forening.name }} har <strong>{{ active_site.forening.get_old_url|default:"ingen hjemmeside" }}</strong> oppført som sin hjemmeside (hentet fra gamle Sherpa). Hvis du publiserer denne hjemmesiden, vil den nye adressen bli aktiv.
      </li>
    {% endif %}
    <li>
      Nettstedet er likevel tilgjengelig for alle på adressen <strong>{{ active_site.domain }}</strong> og vil vise en advarsel om at det er en testside. Hvis du publiserer nettstedet vil denne advarselen gå bort.
    </li>
  </ul>

{% endif %}

{% endblock %}
