<h1>
  1 skjorte, 3 DVDer, eller 498 hytter?
</h1>

<p>
  Vi har 498 hytter stående rundt omkring i hele Norge, og du kan gi dem bort, alle sammen. For bare 590 kr får du nemlig et medlemskap i Den Norske Turistforening som gir tilgang til alle våre hytter. God jul. Og god tur.
</p>

<p class="credits">
  Helberghytta på Hardangervidda. Foto: Jørn Følsta, DNTs fotokonkurranse.
</p>

<p class="double-button-hack">
  <a class="btn btn-large btn-danger full" href="{% url 'enrollment.gift.views.index' %}?utm_campaign=Gavemedlemskap_jul&amp;utm_source=Turistforeningen">Jeg vil gi bort 498 hytter!</a>
  <a class="btn btn-large small" href="{% url 'enrollment.gift.views.index' %}?utm_campaign=Gavemedlemskap_jul&amp;utm_source=Turistforeningen">Jeg vil gi bort 498 hytter!</a>
</p>
