/* Note - this file is actually included by main.less, because it's rendered in the main layout! */
span.preview-notice {
  font-family: "DTL Nobel" !important;
  font-size: 20px;
  font-weight: bold;
  margin-top: 8px;
}
