div.aktivitet-listing {

  div.navbar.toggle-filters-results {
    min-height: 94px;
    padding-top: 10px;
    font-family: "DTL Nobel";

    .toggle-button-sub {
      text-align: center;
      margin-top: 7px;
      font-size: 14px;
      font-weight: bold;
      color: #797979;
    }
  }

  div.search-filters {
    font-family: "DTL Nobel" !important;

    h3 {
      font-size: 18px;
    }

    button {
      background-color: #e2e2e2;
    }

    .section {
      margin-bottom: 30px;

      input[type="date"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        // Pasted from bootstrap.min.css which had a strange error messing up line height for certain elements
        line-height: 34px;
        line-height: 1.42857143;
      }
    }

    div.button-selections {
      button {
        margin-bottom: 5px;
      }
    }

  }

  div.column-filters {
    padding-top: 30px;

    h2 {
      font-size: 40px;
      text-transform: uppercase;
    }
  }

  div.column-results {

    @media (max-width: @screen-xs-max) {
      padding-left: 0;
      padding-right: 0;
    }

    .wrapper {
      background-color: #e4e4e4;
      padding: 15px;

      @media (min-width: @screen-sm-min) {
        padding: 30px;
      }

    }

    .aktivitet-item {
      .aktivitet-item-mixin();

      &.has-image {
        .category {
          position: absolute;
          display: block;
          top: 0;
          left: 0;
          padding: 7px 9px;
          z-index: 150;
          font-family: "DTL Nobel" !important;
          font-weight: normal;
          background-color: rgba(0, 0, 0, 0.6);
          color: #fff;

          &:after {
            display: none;
          }
        }
      }
    }

  }

  div.listing-header {
    margin-bottom: 15px;
  }

  div.listing-header,
  div.listing-footer {
    * {
      font-family: "DTL Nobel" !important;
    }
    p {
      float: left;
    }
    .pagination {
      float: right;
      margin: 0;
    }
  }

  div.loading {
    font-family: "DTL Nobel" !important;
    font-size: 20px;
    margin-bottom: 20px;
  }

  div.leaflet-map {
    margin: -5px -30px -30px -30px;
    height: 930px;
  }
}

div.aktivitet {
  h1 {
    border: 0;
  }

  .meta-container {
    margin-bottom: 20px;
  }

  .contactinfo-container {
    clear: right;
  }

  @media (max-width: @screen-sm-max) {
    .contactinfo-container {
      width: 100%;
    }
  }

  @media (min-width: @screen-md-min) {
    .contactinfo {
      border-left: 3px solid #9b9b9b;
      padding: 10px 0 10px 20px;
    }
  }

  &.has-headerimage {
    @headerimage-height: 380px;

    @media (min-width: @screen-sm-min) {
      div.header {
        margin-bottom: 20px;

        div.image {
          width: 100%;
          height: @headerimage-height;
          overflow: hidden;

          div.image-element {
            height: 100%;
            width: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
          }

        }

        h1 {
          position: absolute;
          bottom: 0;
          width: 100%;
          padding: 0 25px;
          color: #fff;
          text-shadow: 0 0 20px rgba(0, 0, 0, .75);
        }
      }
    }

    @media (min-width: @screen-md-min) {
      div.header {
        padding-top: @headerimage-height;

        div.image {
          position: absolute;
          top: 150px;
          left: 0;
          width: 100%;
          height: @headerimage-height;
          overflow: hidden;
          padding: 0;
          border-top: 1px solid #e5e5e5;
        }

        h1 {
          bottom: 50px;
          padding: 0 25px 0 0;
          font-size: 50px;
        }

      }

      .meta-container {
        margin-top: -@headerimage-height/2;
      }
    }
  }

  @media (max-width: @screen-sm-max) {
    div.meta-container.pull-right {
      width: 100%;
    }
  }

  div.meta {
    font-family: "DTL Nobel" !important;
    background-color: #e6e6e6;

    a {
      color: #333;
      border-bottom: 2px solid #333;
      text-decoration: none;
    }

    a.btn {
      color: #fff;
      border: none;
    }

    .heading {
      font-size: 22px;
      padding-bottom: 5px;
      border-bottom: 3px solid #9b9b9b;
    }

    dl {
      margin-bottom: 0;

      dt {
        color: @profile-red;
        display: inline;
        &:after {
          content: ':';
        }
      }
      dd {
        display: inline;
        &:after {
          display: block;
          content: '\A';
          white-space: pre;
          line-height: 6px;
        }
      }
    }

    div.signup {
      margin-top: 15px;

      div.no-signup {
        font-style: italic;
      }

      div.already-participating {
        font-weight: bold;
      }

      div.accepts-signups {
        span.deadline {
          font-style: italic;
        }
      }

      div.signup-countdown {
        font-style: italic;
      }

      div.signup-passed {
        font-style: italic;
      }
    }

  }

  // Hackish item for using carousel-caption (which need a positioned parent) on single images
  div.images {
    margin-bottom: 20px;

    div.single-carousel-item {
      position: relative;
    }

    // The caption might should use div.description (like in cms articles) instead?
    div.carousel-caption {
      p {
        font-family: "DTL Nobel" !important;
      }
    }
  }

  div.leaflet-map {
    height: 300px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }
}

div.aktivitet-signup {
  div.choices {
    div.choice {
      margin-bottom: 20px;
      cursor: pointer;

      p.title {
        font-size: 22px;
      }

      p.action {
        color: @profile-red;
        font-size: 18px;
        margin-bottom: 0;
      }

      div.inline-choice {
        border: 1px solid rgb(190, 190, 190);
        padding: 15px;
        min-height: 60px;
      }
    }

    div.choice.active {
      cursor: auto;
    }

    div.choice:hover {
      p.action a {
        text-decoration: underline;
        color: rgb(255, 0, 21);
      }
    }
  }
}

@media (max-width: @screen-xs-max) {
  body {
    padding-bottom: 64px;
  }
}
