/* Article listing */

div.article-listing {
  div.row-fluid {
    margin-bottom: 25px;
  }

  h2.media-heading {
    font-size: 22px;
  }

  /* Note: The anchor is only needed as a selector here for IE8. :/ */
  a.pull-left, img.media-object {
    max-width: 150px;
    max-height: 300px;
  }

  p.date {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  div.media-body p a {
    color: rgb(51, 51, 51);
  }

  div.media-body p a:hover {
    color: rgb(110, 110, 110);
    text-decoration: none;
  }
}

div.old-article-listing div.item {
  margin-bottom: 25px;

  h2 {
    font-size: 22px;
    margin-bottom: 0;
  }

  p.date {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  img {
    max-width: 150px;
    max-height: 300px;
  }

}
