{% load i18n %}

<form action="{{ action }}{% if next %}?next={{ next }}{% endif %}" method="post" class="form-default form-horizontal member-registration" data-memberid-url="{% url 'user.login.views.verify_memberid' %}">
  {% csrf_token %}

  <div class="step1">
    <div class="form-group" data-dnt-form-group="memberid">
      <label class="col-sm-4 control-label" for="registration_memberid">{% trans "Medlemsnummer:" %}</label>
      <div class="col-sm-8">
        <input class="form-control" id="registration_memberid" name="memberid" type="text">
        <span class="help-block">
          <a href="javascript:undefined" class="trigger-memberid-hint">{% trans "Glemt medlemsnummeret?" %}</a>
        </span>
      </div>
    </div>

    <div class="form-group" data-dnt-form-group="country">
      <label class="col-sm-4 control-label" for="registration_country">{% trans "Land:" %}</label>
      <div class="col-sm-8">
        <select class="form-control" id="registration_country" name="country">
          <optgroup id="scandinavia" label="{% trans "Skandinavia" %}">
            <option value="{{ countries.norway.code }}" selected>{{ countries.norway.name }}</option>
            {% for c in countries.scandinavia %}
              <option value="{{ c.code }}">{{ c.name }}</option>
            {% endfor %}
          </optgroup>
          <optgroup id="world" label="{% trans "Resten av verden" %}">
            {% for c in countries.other %}
              <option value="{{ c.code }}">{{ c.name }}</option>
            {% endfor %}
          </optgroup>
        </select>
      </div>
    </div>

    <div class="form-group" data-dnt-form-group="zipcode">
      <label class="col-sm-4 control-label" for="registration_zipcode">{% trans "Postnummer:" %}</label>
      <div class="col-md-8">
        <input class="form-control" id="registration_zipcode" name="zipcode" type="text" maxlength="4">
        <input class="form-control" name="area" type="text" disabled>
        <img src="{{ STATIC_URL }}img/common/ajax-loader-small.gif" class="ajaxloader zipcode jq-hide" alt="{% trans "Laster poststed..." %}" title="{% trans "Laster poststed..." %}">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-8">
        <button type="submit" class="btn btn-danger">{% trans "Gå videre" %} <i class="glyphicon glyphicon-arrow-right"></i></button>
        <img src="{{ STATIC_URL }}img/common/ajax-loader-small.gif" class="ajaxloader submit jq-hide" alt="{% trans "Sjekker medlemsnummer, vennligst vent..." %}">
      </div>
    </div>
  </div>

  <div class="step2 jq-hide">
    <div class="form-group">
      <p>{% trans "Velkommen" %}, <span class="name"></span>! {% trans "Nå trenger vi bare e-postadressen din og et passord, så er du ferdig registrert." %}</p>
    </div>

    <div class="form-group" data-dnt-form-group="email">
      <label class="col-sm-4 control-label" for="registration_email">{% trans "E-post:" %}</label>
      <div class="col-sm-8">
        <input class="form-control" type="text" name="email" id="registration_email">
        <span class="help-block email-found jq-hide">
          {% trans "Er din e-postadresse" %} <a class="email" href=""></a>? {% trans "Hvis ikke kan du endre den i feltet over." %}
        </span>
        <span class="help-block email-not-found jq-hide">
          {% trans "Her må du oppgi e-postadressen din." %}
        </span>
      </div>
    </div>

    <div class="form-group" data-dnt-form-group="password">
      <label class="col-sm-4 control-label" for="registration_password">{% trans "Passord:" %}</label>
      <div class="col-sm-8">
        <input type="password" class="form-control" name="password" id="registration_password">
        <span class="help-block">
          {% blocktrans %}Her må du velge et passord på minst {{ user_password_length }} tegn.{% endblocktrans %}
        </span>
        <span class="help-block error validator short jq-hide">
          {% blocktrans %}Passordet er for kort, det må være minst {{ user_password_length }} tegn.{% endblocktrans %}
        </span>
        <span class="help-block error validator unequal jq-hide">
          {% trans "Passordene er ikke like, har du skrevet feil?" %}
        </span>
      </div>
    </div>

    <div class="form-group" data-dnt-form-group="password-repeat">
      <label class="col-sm-4 control-label" for="registration_password-repeat">{% trans "Gjenta passord:" %}</label>
      <div class="col-sm-8">
        <input type="password" class="form-control" name="password-repeat" id="registration_password-repeat">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-8">
        <button type="submit" class="btn btn-lg btn-danger"><i class="icon-ok icon-white"></i> {% trans "Registrer deg" %}</button>
        <img class="ajaxloader submit jq-hide" src="{{ STATIC_URL }}img/common/ajax-loader-small.gif" alt="{% trans "Laster, vennligst vent..." %}">
      </div>
    </div>
  </div>

</form>

<div class="jq-hide alert alert-error user-exists">
  <strong>{% trans "Hmmm... det ser ut som om du allerede har en bruker!" %}</strong><br>
  <a href="javascript:undefined" class="toggle-login-tab">{% trans "Logg inn her" %}</a>. {% trans "Hvis du har glemt passordet kan du gjenopprette det der." %}
</div>

<div class="jq-hide alert alert-error no-memberid-match">
  <strong>{% trans "Ukjent bruker" %}</strong><br>
  {% trans "Beklager, vi har ingen medlemmer med disse opplysningene. Vennligst prøv igjen, eller kontakt" %} <a href="{% url 'membership.views.service' %}">{% trans "medlemsservice" %}</a> {% trans "hvis du mener at dette skal være rett." %}
</div>

<div class="jq-hide alert alert-error actor-is-not-member">
  <strong>{% trans "Medlemsnummeret er ikke tilknyttet et personlig medlemskap" %}</strong><br>
  {% trans "Kun personlige medlemmer i DNT kan benytte Min side. Vennligst ta kontakt med" %} <a href="{% url 'membership.views.service' %}">{% trans "medlemsservice" %}</a> {% trans "hvis du lurer på noe." %}
</div>

<div class="jq-hide alert alert-error memberid-lookups-exceeded">
  <strong>{% trans "Du kan ikke gjøre flere oppslag på medlemsnummer!" %}</strong><br>
  {% blocktrans %}Du har alt gjort {{ memberid_lookups_limit }} oppslag på medlemsnummer! Prøver du å gjette hva noen andre sitt postnummer er? Hvis du ikke er sikker på hva ditt medlemsnummer eller postnummer er, må du kontakte{% endblocktrans %} <a href="{% url 'membership.views.service' %}">{% trans "medlemsservice" %}</a>. {% trans "Du får ikke gjøre flere oppslag nå, men du kan prøve igjen i morgen." %}
</div>

{% for message in messages %}
  {% if message.message == 'invalid_memberid' %}
    {# This is *kind of* duplicated below, but not really since this is after a submit, but the message below is only shown with AJAX. #}
    <div class="alert alert-error">
      <strong>{% trans "Ukjent bruker" %}</strong><br>
      {% trans "Beklager, vi har ingen medlemmer med disse opplysningene. Vennligst prøv igjen, eller kontakt" %} <a href="{% url 'membership.views.service' %}">{% trans "medlemsservice" %}</a> {% trans "hvis du mener at dette skal være rett." %}
    </div>
  {% elif message.message == 'memberid_lookups_exceeded' %}
    <div class="alert alert-error">
      <strong>{% trans "Du kan ikke gjøre flere oppslag på medlemsnummer!" %}</strong><br>
      {% blocktrans %}Du har alt gjort {{ memberid_lookups_limit }} oppslag på medlemsnummer! Prøver du å gjette hva noen andre sitt postnummer er? Hvis du ikke er sikker på hva ditt medlemsnummer eller postnummer er, må du kontakte{% endblocktrans %} <a href="{% url 'membership.views.service' %}">{% trans "medlemsservice" %}</a>. {% trans "Du får ikke gjøre flere oppslag nå, men du kan prøve igjen i morgen." %}
    </div>
  {% elif message.message == 'too_short_password' %}
    <div class="alert alert-error">
      <strong>{% trans "For kort passord" %}</strong><br>
      {% blocktrans %}Du må ha minst {{ user_password_length }} tegn i passordet ditt. Vennligst velg et lengre passord.{% endblocktrans %}
    </div>
  {% elif message.message == 'user_exists' %}
    <div class="alert alert-error">
      <strong>{% trans "Hmmm... det ser ut som om du allerede har en bruker!" %}</strong><br>
      <a href="javascript:undefined" class="toggle-login-tab">{% trans "Logg inn her" %}</a>. {% trans "Hvis du har glemt passordet kan du gjenopprette det der." %}
    </div>
  {% elif message.message == 'invalid_email' %}
    <div class="alert alert-error">
      <strong>{% trans "E-postadressen din er ikke gyldig!" %}</strong><br>
      {% trans "Vennligst oppgi en gyldig e-postadresse." %}
    </div>
  {% endif %}
{% endfor %}
