<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="FIAhXuevMnC7YVDxnUZhTRzqTSZ_FYrkRNIHl0Z5HfI">
  <title>Teknisk feil &mdash; Turistforeningen</title>
  <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">

  <link rel="stylesheet" href="{{ STATIC_URL }}css/500.css" media="screen">

  <!--[if lt IE 9]><script src="{{ STATIC_URL }}lib/html5shiv/html5.js"></script><![endif]-->
  <script src="{{ STATIC_URL }}lib/jquery/jquery-1.7.1.min.js"></script>
  <script src="{{ STATIC_URL }}js/ga.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}lib/plax/plax.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/500.js"></script>
</head>
<body>

  <div class="plax">
    <img class="background" src="{{ STATIC_URL }}img/500.jpg" alt="Bakgrunn">
    <h1>
      Oops!
    </h1>

    <p class="description">
      <span>Beklager, her har det skjedd en feil! Feilen er logget i<br>
        <span>vårt system, og vi vil rette den så snart som mulig. Du<br>
          <span>kan forsøke å <a class="refresh" href="javascript:undefined">oppdatere siden</a>. Hvis feilen ikke går<br>
            <span>bort beklager vi at vi ikke kunne hjelpe deg akkurat nå,<br>
              <span>men håper du vil forsøke igjen senere, eller gå <a href="{% url page.views.page %}">tilbake</a><br>
                <span><a href="{% url page.views.page %}">til forsiden</a>.</span>
              </span>
            </span>
          </span>
        </span>
      </span>
    </p>

    <p class="photographer">
      Foto: Eldar Venes
    </p>

  </div>
  <div class="noplax">

    <h1>Oops!</h1>

    <p>
      Beklager, her har det skjedd en feil! Feilen er logget i vårt system, og vi vil rette den så snart som mulig. Du kan forsøke å <a class="refresh" href="javascript:undefined">oppdatere siden</a>. Hvis feilen ikke går bort beklager vi at vi ikke kunne hjelpe deg akkurat nå, men håper du vil forsøke igjen senere, eller gå <a href="{% url page.views.page %}">tilbake til forsiden</a>.
    </p>
  </div>

</body>
</html>
