<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
    <style type="text/css">
      html, body, p {
        margin: 0;
        padding: 0;
      }

      p {
        font-size: 11px;
        font-family: Verdana, Arial, Helvetica, sans-serif;
      }
    </style>
  </head>
  <body>
    <p>
      {% if available > 0 %}
        Ledige plasser: {{ available }}/{{ total }}
      {% else %}
        {{ available }}/{{ total }}, {{ waiting_list }} på venteliste
      {% endif %}
    </p>
  </body>
</html>
