{% extends 'common/admin/layout.html' %}
{% block title %}Publikasjoner &mdash; {{ block.super }}{% endblock %}
{% block header %}<a href="{% url admin.publications.views.index %}">Publikasjoner</a>{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/admin/tags.js"></script>
  <script src="{{ STATIC_URL }}js/admin/images/util/image-archive-picker.js"></script>
  <script src="{{ STATIC_URL }}js/admin/images/util/image-upload-dialog.js"></script>
  <script src="{{ STATIC_URL }}js/admin/publications/edit_publication.js"></script>
{% endblock %}

{% block body %}

<div class="row">
  <div class="span12">

    {% for message in messages %}
      {% if message.message == 'publication_info_saved' %}
        <div class="alert alert-success">
          <strong>Publikasjonen har blitt lagret.</strong>
        </div>
      {% elif message.message == 'release_info_saved' %}
        <div class="alert alert-success">
          <strong>Utgivelsen har blitt lagret.</strong>
        </div>
      {% endif %}
    {% endfor %}

    <h2>{{ publication.title }}</h2>

    <form action="{% url admin.publications.views.edit_publication publication.id %}" method="post" class="form-default form-border form-horizontal edit-publication">
      {% csrf_token %}

      <div class="control-group title">
        <label class="control-label" for="title">Navn:</label>
        <div class="controls">
          <input type="text" class="input-xlarge" name="title" value="{{ publication.title }}">
        </div>
      </div>

      <div class="control-group association">
        <label class="control-label" for="association">Tilhører:</label>
        <div class="controls">
          <select name="association" data-chosen data-placeholder="Velg tilhørende forening...">
            <option value=""></option>
            {% if user.get_profile.all_associations_sorted.central|length > 0 %}
              <optgroup label="Sentralt/nasjonalt">
                {% for association in user.get_profile.all_associations_sorted.central %}
                  <option value="{{ association.id }}"{% if publication.association == association %} selected{% endif %}>{{ association.name }}</option>
                {% endfor %}
              </optgroup>
            {% endif %}
            {% if user.get_profile.all_associations_sorted.associations|length > 0 %}
              <optgroup label="Medlemsforeninger">
                {% for association in user.get_profile.all_associations_sorted.associations %}
                  <option value="{{ association.id }}"{% if publication.association == association %} selected{% endif %}>{{ association.name }}</option>
                {% endfor %}
              </optgroup>
            {% endif %}
            {% if user.get_profile.all_associations_sorted.small_associations|length > 0 %}
              <optgroup label="Lokale turlag">
                {% for association in user.get_profile.all_associations_sorted.small_associations %}
                  <option value="{{ association.id }}"{% if publication.association == association %} selected{% endif %}>{{ association.name }}</option>
                {% endfor %}
              </optgroup>
            {% endif %}
            {% if user.get_profile.all_associations_sorted.hike_groups|length > 0 %}
              <optgroup label="Turgrupper">
                {% for association in user.get_profile.all_associations_sorted.hike_groups %}
                  <option value="{{ association.id }}"{% if publication.association == association %} selected{% endif %}>{{ association.name }}</option>
                {% endfor %}
              </optgroup>
            {% endif %}
          </select>
        </div>
      </div>

      <div class="control-group logo">
        <label class="control-label" for="logo">Logo:</label>
        <div class="controls">
          <div class="row-fluid">
            <div class="span3">
              <img src="{% firstof publication.get_logo '/static/img/turbo-placeholder.png' %}" alt="{{ publication.title }}" class="logo">
            </div>
            <div class="span9">
              <input type="text" class="input-xxlarge" name="logo" value="{{ publication.logo }}">
              <p>
                <a href="javascript:undefined" class="btn pick-from-image-archive">Hent fra bildearkivet</a>
                <a href="javascript:undefined" class="btn upload-new-image">Last opp ny logo</a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="control-group license">
        <label class="control-label" for="license">Lisens:</label>
        <div class="controls">
          <label for="all_rights_reserved" class="radio">
            <input type="radio" name="license" value="all_rights_reserved" {% if publication.license == 'all_rights_reserved' %} checked {% endif %}>
            Alle rettigheter reservert
          </label>
          <label for="cc-by-nc-nd" class="radio">
            <input type="radio" name="license" value="cc-by-nc-nd" {% if publication.license == 'cc-by-nc-nd' %} checked {% endif %}>
            <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.no">Creative Commons (CC BY-NC-ND 3.0)</a>
          </label>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-danger"><i class="icon-ok icon-white"></i> Lagre publikasjonsinfo</button>
        </div>
      </div>
    </form>

    <h2>Utgivelser</h2>

    <p>
      <a href="{% url admin.publications.views.edit_release publication.id %}" class="btn btn-large">
        Legg ut ny utgivelse
      </a>
    </p>

    <div class="publications">
      <div class="row-fluid">
        {% for release in publication.releases_ordered %}
          <div class="span3">
            <div class="release">
              <h3 class="title">
                <a href="{% url admin.publications.views.edit_release publication.id release.id %}">
                  {{ release.title }}
                </a>
              </h3>
              <p class="date">{{ release.pub_date|date:"j. F Y" }}</p>
              <p>
                <a href="{% url admin.publications.views.edit_release publication.id release.id %}">
                  <img src="{% firstof release.get_cover_photo publication.get_logo '/static/img/turbo-placeholder.png' %}" alt="{{ release.title }}"><br>
                </a>
              </p>
              <p class="download">
                {% if release.pdf_hash != '' and release.online_view != '' %}
                  <a href="{{ release.get_pdf_url }}">Last ned PDF</a> eller <a href="{{ release.online_view }}">les online</a>
                {% elif release.pdf_hash != '' %}
                  <a href="{{ release.get_pdf_url }}">Last ned PDF</a>
                {% elif release.online_view != '' %}
                  <a href="{{ release.online_view }}">Les online</a>
                {% else %}
                  <span class="no-content-warning">
                    Innholdet for denne publikasjonen er ikke lagt ut!
                  </span>
                {% endif %}
              </p>
              <p class="description">
                {{ release.description|linebreaksbr }}
              </p>
            </div>
          </div>

          {% if not forloop.last and forloop.counter|divisibleby:"4" %}
            </div><div class="row-fluid">
          {% endif %}
        {% endfor %}
      </div>
    </div>

  </div>
</div>

{% include 'common/admin/images/util/image-archive-picker.html' %}
{% include 'common/admin/images/util/image-upload-dialog.html' %}

{% endblock %}
