{% extends 'common/admin/layout.html' %}
{% block title %}Publikasjoner &mdash; {{ block.super }}{% endblock %}
{% block header %}<a href="{% url admin.publications.views.index %}">Publikasjoner</a>{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/bootstrap-datepicker/css/datepicker.css" media="screen">
  <!--[if lt IE 8]><link rel="stylesheet" href="{{ STATIC_URL }}lib/bootstrap-datepicker/css/datepicker-ie7fix.css" media="screen"><![endif]-->
{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
  <script src="{{ STATIC_URL }}lib/bootstrap-datepicker/js/locales/bootstrap-datepicker.nb.js"></script>
  <script src="{{ STATIC_URL }}js/admin/tags.js"></script>
  <script src="{{ STATIC_URL }}js/admin/images/util/image-archive-picker.js"></script>
  <script src="{{ STATIC_URL }}js/admin/images/util/image-upload-dialog.js"></script>
  <script src="{{ STATIC_URL }}js/admin/publications/edit_release.js"></script>
{% endblock %}

{% block body %}

<div class="row">
  <div class="span12">

    <h2>
      {{ release.title|default:"Ny utgivelse" }}
      (<a href="{% url admin.publications.views.edit_publication publication.id %}">{{ publication.title }}</a>)
    </h2>

    {# A little too much logic here because if release isn't set (for new releases), we can't include the id as an empty parameter; the reverse lookup will fail. #}
    <form action="{% if release %}{% url admin.publications.views.edit_release publication.id release.id %}{% else %}{% url admin.publications.views.edit_release publication.id %}{% endif %}" method="post" class="form-default form-border form-horizontal edit-release">
      {% csrf_token %}

      <div class="control-group title">
        <label class="control-label" for="title">Tittel:</label>
        <div class="controls">
          <input type="text" class="input-xlarge" name="title" value="{{ release.title }}">
        </div>
      </div>

      <div class="control-group cover_photo">
        <label class="control-label" for="cover_photo">Forsidebilde:</label>
        <div class="controls">
          <div class="row-fluid">
            <div class="span3">
              <img src="{% firstof release.cover_photo publication.logo %}" alt="{{ release.title }}" class="cover_photo">
            </div>
            <div class="span9">
              <input type="text" class="input-xxlarge" name="cover_photo" value="{{ release.cover_photo }}">
              <p>
                <a href="javascript:undefined" class="btn pick-from-image-archive">Hent fra bildearkivet</a>
                <a href="javascript:undefined" class="btn upload-new-image">Last opp nytt</a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="control-group description">
        <label class="control-label" for="description">Oppsummering/beskrivelse:</label>
        <div class="controls">
          <textarea name="description" rows="5" class="input-xlarge">{{ release.description }}</textarea>
        </div>
      </div>

      <div class="control-group pub_date">
        <label class="control-label" for="pub_date">Publisert:</label>
        <div class="controls">
          <div class="input-append date pub_date-wrapper">
            <input type="text" class="input-medium" name="pub_date" value="{% firstof release.pub_date|date:"d.m.Y" now|date:"d.m.Y" %}">
            <span class="add-on"><i class="icon-th"></i></span>
          </div>
        </div>
      </div>

      <div class="control-group tags">
        <label class="control-label" for="tags">Nøkkelord:</label>
        <div class="controls">
          <input type="hidden" name="tags-serialized">
          <input type="text" class="input-xlarge" name="tags" style="margin-bottom: 10px" id="image-tags">
          <div class="tag-box">
            {% for tag in release.tags.all %}
              <div class="tag">
                <a href="javascript:undefined"><img src="/static/img/so/close-default.png"></a>
                {{ tag.name }}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-danger"><i class="icon-ok icon-white"></i>
            {% if not release %}
              Opprett ny utgivelse
            {% else %}
              Lagre utgivelsen
            {% endif %}
          </button>
        </div>
      </div>

    </form>

  </div>
</div>

{% include 'common/admin/images/util/image-archive-picker.html' %}
{% include 'common/admin/images/util/image-upload-dialog.html' %}

{% endblock %}
