{% load join_main_foreninger %}

{# This may be a 'create' or an 'edit' form #}
{% if publication %}
  <form action="{% url 'admin.publications.views.edit_publication' publication.id %}" method="post" class="form-default form-border form-horizontal edit-publication jq-hide">
{% else %}
  <form action="{% url 'admin.publications.views.edit_publication' %}" method="post" class="form-default form-border form-horizontal edit-publication jq-hide">
{% endif %}

  {% csrf_token %}

  {% if not publication %}
    <div class="alert alert-info">
      Her legger du inn generell info som er felles for alle utgivelser av publikasjonen. På neste side kan du opprette utgivelser, laste opp PDF, osv.
    </div>
  {% endif %}

  <div class="form-group title">
    <label class="control-label" for="publication_title">Navn</label>
    <input type="text" name="title" id="publication_title" value="{{ publication.title }}" class="form-control">
  </div>

  <div class="form-group description">
    <label class="control-label" for="publication_description">Beskrivelse</label>
    <textarea name="description" id="publication_description" rows="5" class="form-control">{{ publication.description }}</textarea>
  </div>

  <div class="form-group forening">
    <label class="control-label" for="publication_forening">Tilhører</label>
    <div class="row">
      <div class="col-lg-12">
        <select name="forening" id="publication_forening" data-chosen data-placeholder="Velg tilhørende forening...">
          <option value=""></option>
          {% if user.all_foreninger_sorted.sentral|length > 0 %}
            <optgroup label="Sentralt/nasjonalt">
              {% for forening in user.all_foreninger_sorted.sentral %}
                <option value="{{ forening.id }}" data-type="sentral"{% if publication.forening == forening %} selected{% endif %}{% if not publication and active_forening == forening %} selected{% endif %}>{{ forening.name }}</option>
              {% endfor %}
            </optgroup>
          {% endif %}
          {% if user.all_foreninger_sorted.forening|length > 0 %}
            <optgroup label="Medlemsforeninger">
              {% for forening in user.all_foreninger_sorted.forening %}
                <option value="{{ forening.id }}"{% if publication.forening == forening %} selected{% endif %}{% if not publication and active_forening == forening %} selected{% endif %}>{{ forening.name }}</option>
              {% endfor %}
            </optgroup>
          {% endif %}
          {% if user.all_foreninger_sorted.turlag|length > 0 %}
            <optgroup label="Lokale turlag">
              {% for forening in user.all_foreninger_sorted.turlag %}
                <option value="{{ forening.id }}"{% if publication.forening == forening %} selected{% endif %}{% if not publication and active_forening == forening %} selected{% endif %}>{{ forening.name }}</option>
              {% endfor %}
            </optgroup>
          {% endif %}
          {% if user.all_foreninger_sorted.turgruppe|length > 0 %}
            <optgroup label="Turgrupper">
              {% for forening in user.all_foreninger_sorted.turgruppe %}
                <option value="{{ forening.id }}"{% if publication.forening == forening %} selected{% endif %}{% if not publication and active_forening == forening %} selected{% endif %}>{{ forening.name }}</option>
              {% endfor %}
            </optgroup>
          {% endif %}
        </select>
      </div>
    </div>
  </div>

  <div class="form-group access{% if publication and publication.forening.type == 'sentral' or not publication and active_forening.type == 'sentral' %} jq-hide{% endif %}">
    <label class="control-label">Tilgjengelig for</label>

    <div class="radio">
      <label for="publication_access_all">
        <input type="radio" name="access" id="publication_access_all" value="all" {% if publication.access == 'all' or not publication %} checked{% endif %}>
        Alle DNTs medlemmer
      </label>
    </div>

    <div class="radio">
      <label for="publication_access_forening">
        <input type="radio" name="access" id="publication_access_forening" value="forening" {% if publication.access == 'forening' %} checked{% endif %}>
        Kun medlemmer i <span class="forening-name">{% firstof publication.forening|join_main_foreninger active_forening|join_main_foreninger %}</span>
      </label>
    </div>
  </div>

  <div class="form-group license">
    <label class="control-label">Lisens</label>
      <div class="radio">
        <label for="publication_license_all_rights_reserved">
          <input type="radio" name="license" id="publication_license_all_rights_reserved" value="all_rights_reserved" {% if publication.license == 'all_rights_reserved' or not publication %} checked{% endif %}>
          Alle rettigheter reservert
        </label>
      </div>

      <div class="radio">
        <label for="publication_license_cc-by-nc-nd">
          <input type="radio" name="license" id="publication_license_cc-by-nc-nd" value="cc-by-nc-nd" {% if publication.license == 'cc-by-nc-nd' %} checked{% endif %}>
          <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.no">Creative Commons (CC BY-NC-ND 3.0)</a>
        </label>
      </div>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-default">
      {% if not publication %}
        Opprett publikasjon og gå videre
      {% else %}
        Lagre publikasjonen
      {% endif %}
    </button>
  </div>
</form>
