{% extends 'common/admin/layout.html' %}
{% block title %}Publikasjoner &mdash; {{ block.super }}{% endblock %}
{% block header %}<a href="{% url admin.publications.views.index %}">Publikasjoner</a>{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/bootstrap-datepicker/css/datepicker.css" media="screen">
  <!--[if lt IE 8]><link rel="stylesheet" href="{{ STATIC_URL }}lib/bootstrap-datepicker/css/datepicker-ie7fix.css" media="screen"><![endif]-->
{% endblock %}

{% block js_globals %}
  <script>
    window.association_main_mappings = JSON.parse("{{ association_main_mappings|escapejs }}");
  </script>
{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
  <script src="{{ STATIC_URL }}lib/bootstrap-datepicker/js/locales/bootstrap-datepicker.nb.js"></script>
  <script src="{{ STATIC_URL }}js/admin/tags.js"></script>
  <script src="{{ STATIC_URL }}js/admin/images/util/image-archive-picker.js"></script>
  <script src="{{ STATIC_URL }}js/admin/images/util/image-upload-dialog.js"></script>
  <script src="{{ STATIC_URL }}js/admin/publications/edit_publication.js"></script>
  <script src="{{ STATIC_URL }}js/admin/publications/edit_publication_form.js"></script>
  <script src="{{ STATIC_URL }}js/admin/publications/edit_release_form.js"></script>
{% endblock %}

{% block body %}

<div class="row">
  <div class="span12">

    {% for message in messages %}
      {% if message.message == 'publication_info_saved' %}
        <div class="alert alert-success">
          <strong>Publikasjonen har blitt lagret.</strong>
        </div>
      {% elif message.message == 'release_info_saved' %}
        <div class="alert alert-success">
          <strong>Utgivelsen har blitt lagret.</strong>
        </div>
      {% endif %}
    {% endfor %}

    <p class="pull-right publication-actions">
      <a href="javascript:undefined" class="edit-publication">
        <i class="icon-pencil"></i> Endre generell informasjon for publikasjonen
        <br>
      </a>
      <a href="javascript:undefined" class="create-release">
        <i class="icon-plus"></i> Legg ut ny utgivelse
        <br>
      </a>
      <a href="javascript:undefined" class="delete-publication">
        <i class="icon-remove"></i> Slett hele publikasjonen
      </a>
    </p>

    <h2>{{ publication.title }}</h2>

    <div style="clear: both;"></div>

    {% include 'common/admin/publications/edit_publication_form.html' %}

    <div class="alert alert-error delete-publication-confirm hide">
      <p>
        <strong>Er du sikker på at du vil slette {{ publication.title }}{% if publication.releases_ordered|length > 0 %}, med sine {{ publication.releases_ordered|length }} utgivelser{% endif %}?</strong><br>
        {% if publication.releases_ordered|length > 0 %}
          Alle PDF-filene som er lastet opp for utgivelsene vil også slettes. Forsidebildene vil bli liggende i bildearkivet, hvis du vil slette dem også må du gå til bildearkivet og gjøre det selv. Følgende utgivelser blir også slettet:
        {% endif %}
      </p>

      {% if publication.releases_ordered|length > 0 %}
        <ul>
          {% for release in publication.releases_ordered %}
            <li>{{ release.title }}</li>
          {% endfor %}
        </ul>
      {% endif %}

      <p>
        <a href="{% url admin.publications.views.delete_publication publication.id %}" class="btn btn-danger delete-publication-final">
          <i class="icon-remove"></i>
          {% if publication.releases_ordered|length > 0 %}
            Ja, jeg skjønner. Slett publikasjonen og alle utgivelsene for godt.
          {% else %}
            Ja, slett publikasjonen for godt.
          {% endif %}
        </a>
      </p>
    </div>

    {% for message in messages %}
      {% if message.message == 'incorrect_file_format' %}
        <div class="alert alert-error">
          <strong>Du kan kun laste opp filer i PDF-format.</strong>
        </div>
      {% endif %}
    {% endfor %}

    {% include 'common/admin/publications/edit_release_form.html' %}

    {% if publication.releases_ordered|length == 0 %}
      <p class="initial-publication-info">
        Klikk på <a href="javascript:undefined">Legg ut ny utgivelse</a> her eller oppe til høyre for å legge ut en ny utgivelse av {{ publication.title }}.
      </p>
    {% endif %}

    <div class="publications list-publication-releases">
      <div class="row-fluid">
        {% for release in publication.releases_ordered %}
          <div class="span3">
            <div class="release">
              <h3 class="title">
                <a href="{% url admin.publications.views.edit_release publication.id release.id %}">
                  {{ release.title }}
                </a>
              </h3>
              <p class="date">{{ release.pub_date|date:"j. F Y" }}</p>
              <p>
                <a href="{% url admin.publications.views.edit_release publication.id release.id %}">
                  <img src="{% firstof release.get_cover_photo '/static/img/turbo-placeholder.png' %}" alt="{{ release.title }}">
                </a>
              </p>
              <p class="download">
                {% if release.pdf_hash != '' and release.online_view != '' %}
                  <a href="{{ release.get_pdf_url }}">Last ned PDF</a> eller <a href="{{ release.online_view }}">les online</a>
                {% elif release.pdf_hash != '' %}
                  <a href="{{ release.get_pdf_url }}">Last ned PDF</a>
                {% elif release.online_view != '' %}
                  <a href="{{ release.online_view }}">Les online</a>
                {% else %}
                  <span class="no-content-warning">
                    Innholdet for denne publikasjonen er ikke lagt ut!
                  </span>
                {% endif %}
              </p>
              <p class="description">
                {{ release.description|linebreaksbr }}
              </p>
            </div>
          </div>

          {% if not forloop.last and forloop.counter|divisibleby:"4" %}
            </div><div class="row-fluid">
          {% endif %}
        {% endfor %}
      </div>
    </div>

  </div>
</div>

{% include 'common/admin/images/util/image-archive-picker.html' %}
{% include 'common/admin/images/util/image-upload-dialog.html' %}

{% endblock %}
