{% extends 'common/admin/layout.html' %}
{% block title %}Publikasjoner &mdash; {{ block.super }}{% endblock %}
{% block header %}<a href="{% url admin.publications.views.index %}">Publikasjoner</a>{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/admin/publications/index.js"></script>
{% endblock %}

{% block body %}

<div class="row">
  <div class="span12">

    {% if publications|length > 0 %}
      <table class="table">
        <tr>
          <th>Publikasjon</th>
          <th>Forening</th>
        </tr>
        {% for publication in publications %}
          <tr>
            <td><a href="{% url admin.publications.views.edit_publication publication.id %}">{{ publication.title }}</a></td>
            <td>{{ publication.association.name }}</td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <div class="alert alert-info">
        Din forening har ikke lagt ut noen publikasjoner.
      </div>
    {% endif %}

    <button class="btn btn-large create">Opprett ny publikasjon</button>
    <form action="{% url admin.publications.views.create_publication %}" method="post" class="create form-default form-border form-horizontal hide">
      {% csrf_token %}

      <div class="control-group title">
        <label class="control-label" for="title">Navn på publikasjonen:</label>
        <div class="controls">
          <input type="text" class="input-xlarge" name="title">
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-danger"><i class="icon-ok icon-white"></i> Opprett</button>
        </div>
      </div>

    </form>

  </div>
</div>

{% endblock %}
