{% extends 'common/admin/layout.html' %}
{% block title %}Turlederregister &mdash; {{ block.super }}{% endblock %}
{% block header %}<a href="{% url 'admin.users.turledere.views.index' %}">Turlederregister</a>{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/admin/turledere/edit.js"></script>
{% endblock %}

{% block body %}

<div class="turlederregister turlederregister-edit">
  <div class="row">
    <div class="span12">

      <h2>{{ turleder.get_full_name }}, {% if turleder.is_member %}medlemsnr. {{ turleder.memberid }}{% else %}ikke medlem{% endif %}</h2>

      {% for message in messages %}
        {% if message.message == 'success' %}
          <div class="alert alert-success">
            <strong>Endringene har blitt lagret.</strong><br>
            <a href="{% url 'admin.users.turledere.views.index' %}">Tilbake til turlederregisteret</a>
          </div>
        {% endif %}
      {% endfor %}

      <h3>Aktiv i følgende foreninger:</h3>
      <p>
        <select name="active_associations" data-chosen data-placeholder="Velg foreninger som denne turlederen er aktiv i..." multiple>
          <option value=""></option>
          <optgroup label="Medlemsforeninger">
            {% for association in all_associations.associations %}
              <option value="{{ association.id }}"{% if association in turleder.turleder_active_associations.all %} selected{% endif %}>{{ association.name }}</option>
            {% endfor %}
          </optgroup>
        </select>
      </p>

      <table class="table edit">
        <tr>
          <th>Turlederrolle</th>
          <th>Godkjent av</th>
          <th>Startdato</th>
          <th>Sluttdato</th>
          <th>Slett</th>
        </tr>
        {% for turleder in turleder.turledere.all %}
          <tr data-turleder="{{ turleder.id }}">
            {% include 'common/admin/users/turledere/edit_row.html' %}
          </tr>
        {% endfor %}

        <tr class="hide new">
          {% include 'common/admin/users/turledere/edit_row.html' %}
        </tr>
        <tr class="add">
          <td colspan="5">
            <a href="javascript:undefined">Legg til et nytt turledersertifikat...</a>
          </td>
        </tr>
      </table>

      <form action="{% url 'admin.users.turledere.views.edit' turleder.id %}" method="post" class="save">
        {% csrf_token %}
        <input type="hidden" name="active_association_ids" value="">
        <input type="hidden" name="turledere" value="">
        <button type="submit" class="btn btn-large btn-success"><i class="icon-white icon-ok"></i> Lagre endringene</button>
      </form>

    </div>
  </div>
</div>

{% endblock %}
