{% extends 'common/admin/layout.html' %}
{% block title %}Turlederregister &mdash; {{ block.super }}{% endblock %}
{% block header %}<a href="{% url 'admin.users.turledere.views.index' %}">Turlederregister</a>{% endblock %}

{% block js_globals %}
  <script>
    window.admin_user_search_char_length = {{ admin_user_search_char_length }};
  </script>
{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/admin/turledere/index.js"></script>
{% endblock %}

{% block body %}

<div class="turlederregister" data-search-url="{% url 'admin.users.turledere.views.search' %}">
  <div class="row">
    <div class="span12">
      <div class="count">
        Totalt {{ total_count }} turledere i registeret.
      </div>
    </div>
  </div>

  <div class="search-area">
    <div class="row">
      <div class="span12">
        <p>
          <input type="text" name="turleder" placeholder="Søk etter turledere (navn eller medlemsnummer)..." class="input-xxlarge">
          <button class="btn input-button-align turleder-search"><i class="icon-search"></i></button>
          <br>
          Vis turledere godkjent av

          <select name="association" class="chosen" data-placeholder="velg en forening...">
            <option value=""></option>
            {% if user.all_associations_sorted.central|length > 0 %}
              <optgroup label="Sentralt/nasjonalt">
                {% for association in user.all_associations_sorted.central %}
                  <option value="{{ association.id }}" data-type="sentral">{{ association.name }}</option>
                {% endfor %}
              </optgroup>
            {% endif %}
            {% if user.all_associations_sorted.associations|length > 0 %}
              <optgroup label="Medlemsforeninger">
                {% for association in user.all_associations_sorted.associations %}
                  <option value="{{ association.id }}">{{ association.name }}</option>
                {% endfor %}
              </optgroup>
            {% endif %}
            {% if user.all_associations_sorted.small_associations|length > 0 %}
              <optgroup label="Lokale turlag">
                {% for association in user.all_associations_sorted.small_associations %}
                  <option value="{{ association.id }}">{{ association.name }}</option>
                {% endfor %}
              </optgroup>
            {% endif %}
            {% if user.all_associations_sorted.hike_groups|length > 0 %}
              <optgroup label="Turgrupper">
                {% for association in user.all_associations_sorted.hike_groups %}
                  <option value="{{ association.id }}">{{ association.name }}</option>
                {% endfor %}
              </optgroup>
            {% endif %}
          </select>
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <table class="table turledere" data-infinite-scroll-url="{% url 'admin.users.turledere.views.search' %}">
        <tr>
          <th>Medlem</th>
          <th>Turlederroller</th>
          <th>Godkjent av</th>
          <th>Startdato</th>
          <th>Sluttdato</th>
        </tr>
        <tr class="short-query hide">
          <td colspan="5">
            Du må bruke minst {{ admin_user_search_char_length }} tegn når du søker, ellers vil du få alt for mange treff.
          </td>
        </tr>
        <tr class="loading hide">
          <td colspan="5">
            Søker i turlederregisteret, vennligst vent...<br>
            <img class="ajaxloader" src="{{ STATIC_URL }}img/ajax-loader-large.gif" alt="Laster, vennligst vent...">
          </td>
        </tr>
        <tr class="technical-error hide">
          <td colspan="5">
            <div class="alert alert-error">
              Beklager, det oppstod en teknisk feil!<br>
              Feilen har blitt logget og vi vil fikse den så snart som mulig.
            </div>
          </td>
        </tr>
      </table>

      <div class="infinite-scroll-loader hide">
        <img src="{{ STATIC_URL }}img/ajax-loader-large.gif" alt="Laster, vennligst vent..."><br>
        Søker i turlederregisteret, vennligst vent...
      </div>
    </div>
  </div>
</div>

{% endblock %}
