{% extends 'main/layout.html' %}

{% load advertisement %}

{# Children will have to define the breadcrumb and title #}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/instagram.js"></script>
{% endblock %}

{% block body %}

<div class="row instagram-header">
  <div class="span12">

    {% block intro %}{% endblock %}

  </div>
</div>

<div class="row">
  <div class="span12 instagram-wrapper">
    <div class="items"></div>

    <div style="clear: both;"></div>

    <div class="infinite-loader">
      <button class="btn btn-large">Se flere bilder</button>

      <div class="loading form-border hide">
        <img src="{{ STATIC_URL }}img/ajax-loader-large.gif" alt="Laster, vennligst vent..."><br>
        Laster bilder, vennligst vent...
      </div>
    </div>

    <div class="ender hide">
      Dette var alle bildene vi klarte å finne i denne omgang.
    </div>

    <div class="instagram-skeleton hide">
      <div class="wrap2 left"></div>
      <div class="right"></div>
      <div class="wrap2 left"></div>
      <div class="wrap2 left"></div>
      <div class="wrap2 right"></div>
      <div class="left"></div>
    </div>

  </div>
</div>

{% advertisement %}

{% endblock %}
