{% extends 'main/instagram/layout.html' %}

{% block title %}Opptur 2013 på Instagram{% endblock %}
{% block breadcrumb %}<a href="{% url 'instagram.views.default' %}">Instagram</a> / <em><a href="{% url 'instagram.views.opptur2013' %}">Opptur 2013</a></em>{% endblock %}

{% block intro %}

<h1 class="instagram-logo">Opptur 2013 i bilder</h1>

<p>
  Her kan du dele dine bilder fra OPPTUR 2013. Legg ut bildene på <a href="http://instagram.com/">Instagram</a> og tagg dem med <span class="tag">#opptur2013</span>.
</p>

{% endblock %}
