{% extends site.template.name|add:"/layout.html" %}
{% block title %}Min side{% endblock %}
{% block breadcrumb %}<a href="{% url 'user.views.home_new' %}">Min side</a> / <em><a href="{% url 'user.views.account' %}">Dine opplysninger</a></em>{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/user/account.js"></script>
{% endblock %}

{% block body %}

<div class="row">
  <div class="span9">

    {% for message in messages %}
      {% if message.message == 'update_success' %}
        <div class="alert alert-success">
          <a class="close">x</a>
          <strong>Opplysningene dine har blitt oppdatert.</strong>
        </div>
      {% endif %}
    {% endfor %}

    {% if not user.get_profile.get_actor %}

      <h2>Brukeropplysninger</h2>

      <table class="table">
        <tr>
          <th>Navn</th>
          <td>{{ user.get_profile.get_full_name }}</td>
        </tr>
        <tr>
          <th>E-post</th>
          <td>{{ user.get_profile.get_email }}</td>
        </tr>
        {% if perms.user.sherpa and user.get_profile.sherpa_email != '' %}
          <tr>
            <th>E-post i Sherpa</th>
            <td>{{ user.get_profile.sherpa_email }}</td>
          </tr>
        {% endif %}
        <tr>
          <th></th>
          <td>
            <i class="icon-pencil"></i> <a href="{% url 'user.views.update_account' %}">Endre dine opplysninger</a>
          </td>
        </tr>
      </table>

      <p>
        Du er ikke registrert som medlem i DNT. <a href="{% url user.views.register_membership %}">Jeg er medlem, registrer meg!</a>
      </p>

    {% else %}

      <h2 class="user-account-header">
        Dine opplysninger
        <span class="pull-right">
          <a class="btn btn-danger" href="{% url user.views.update_account %}">
            <i class="icon-pencil icon-white"></i> Endre dine opplysninger
          </a>
        </span>
      </h2>

      <table class="table table-hover">
        <tr>
          <th>Navn</th>
          <td>{{ user.get_profile.get_actor.get_full_name }}</td>
        </tr>
        <tr>
          <th>Epost</th>
          <td>{{ user.get_profile.get_actor.email|default:"" }}</td>
        </tr>
        {% if perms.user.sherpa and user.get_profile.sherpa_email != '' %}
          <tr>
            <th>Epost i Sherpa</th>
            <td>{{ user.get_profile.sherpa_email }}</td>
          </tr>
        {% endif %}
        <tr>
          <th>Telefon</th>
          <td>{{ user.get_profile.get_actor.phone_home|default:"" }}</td>
        </tr>
        <tr>
          <th>Mobiltelefon</th>
          <td>{{ user.get_profile.get_actor.phone_mobile|default:"" }}</td>
        </tr>
        <tr>
          <th>Født</th>
          <td>{{ user.get_profile.get_actor.birth_date|date:"j. F Y" }}</td>
        </tr>

        {% if user.get_profile.get_actor.address.country == 'NO' %}
          <tr>
            <th>Adresse</th>
            <td>
              {{ user.get_profile.get_actor.address.a1 }}<br>
              {{ user.get_profile.get_actor.address.zipcode }} {{ user.get_profile.get_actor.address.area|title }}
            </td>
          </tr>
        {% else %}
          <tr>
            <th>Adresse</th>
            <td>
              {% if user.get_profile.get_actor.address.a1 %}{{ user.get_profile.get_actor.address.a1 }}<br>{% endif %}
              {% if user.get_profile.get_actor.address.a2 %}{{ user.get_profile.get_actor.address.a2 }}<br>{% endif %}
              {% if user.get_profile.get_actor.address.a3 %}{{ user.get_profile.get_actor.address.a3 }}{% endif %}
              {% if user.get_profile.get_actor.address.country != 'NO' %}
                <br>
                {{ user.get_profile.get_actor.address.get_country.name }}
              {% endif %}
            </td>
          </tr>
      {% endif %}
      </table>

      <h2>Ditt medlemskap</h2>

      <table class="table table-hover">
        <tr>
          <th>Status</th>
          <td>
            {% if user.get_profile.get_actor.has_payed %}
              Betalt for
              {% if next_year %}
                {{ year|add:"1" }}
              {% else %}
                {{ year }}
              {% endif %}
            {% else %}
              Ikke betalt for
              {% if next_year %}
                {{ year|add:"1" }}
              {% else %}
                {{ year }}
              {% endif %}
            {% endif %}
          </td>
        </tr>
        <tr>
          <th>Medlemsnummer</th>
          <td>{{ user.get_profile.memberid }}</td>
        </tr>
        <tr>
          <th>Lokalforening</th>
          <td>
            {% if user.get_profile.get_actor.main_association.site %}<a href="http://{{ user.get_profile.get_actor.main_association.site.domain }}/">{% endif %}
              {{ user.get_profile.get_actor.main_association.name }}
            {% if user.get_profile.get_actor.main_association.site %}</a>{% endif %}
          </td>
        </tr>
        <tr>
          <th>Medlemstype</th>
          <td>{{ user.get_profile.get_actor.membership_type.name }}</td>
        </tr>
        {% if user.get_profile.get_actor.get_parent %}
          <tr>
            <th>Ditt hovedmedlem</th>
            <td>{{ user.get_profile.get_actor.get_parent.get_full_name }} ({{ user.get_profile.get_actor.get_parent.memberid }})</td>
          </tr>
        {% endif %}
        {% if user.get_profile.get_actor.get_children|length > 0 %}
          <tr>
            <th>Dine husstandsmedlemmer</th>
            <td>
              {% for child in user.get_profile.get_actor.get_children %}
                {{ child.get_full_name }} ({{ child.memberid }}){% if not forloop.last %}<br>{% endif %}
              {% endfor %}
            </td>
          </tr>
        {% endif %}
        <tr>
          <th>Betalingsavtale</th>
          <td>
            {% if user.get_profile.get_actor.get_invoice_type_text == 'avtalegiro' %}
              AvtaleGiro
            {% elif user.get_profile.get_actor.get_invoice_type_text == 'efaktura' %}
              E-faktura
            {% else %}
              Ingen
            {% endif %}
          </td>
        </tr>
        <tr>
          <th>Fjell og Vidde</th>
          <td>
            {% if user.get_profile.get_actor.membership_type.code == membership_code_household %}

              {% if user.get_profile.get_actor.get_parent.get_reserved_against_fjellogvidde %}
                Din husstand mottar ikke Fjell og Vidde i posten, men kan lese det på nett.
              {% else %}
                Din husstand mottar Fjell og Vidde i posten.
              {% endif %}

              <em>Ditt hovedmedlem, {{ user.get_profile.get_actor.get_parent.get_full_name }}, kan endre dette.</em>

            {% else %}

              {% if user.get_profile.get_actor.get_reserved_against_fjellogvidde %}
                Du mottar ikke Fjell og Vidde i posten, men kan lese det på nett.
              {% else %}
                Du mottar Fjell og Vidde i posten.
              {% endif %}

              {% if user.get_profile.get_actor.membership_type.code == membership_code_lifelong %}
                <em>Du kan ikke endre dette her. Kontakt medlemsservice.</em>
              {% else %}
                <a href="{% url user.views.reserve_publications %}">Endre</a>
              {% endif %}

            {% endif %}
          </td>
        </tr>
        <tr>
          <th>Årboken</th>
          <td>
            {% if user.get_profile.get_actor.membership_type.code == membership_code_household %}

              {% if user.get_profile.get_actor.get_parent.get_reserved_against_fjellogvidde %}
                Din husstand mottar ikke årboken i posten, men kan lese den på nett.
              {% else %}
                Din husstand mottar årboken i posten.
              {% endif %}

              <em>Ditt hovedmedlem, {{ user.get_profile.get_actor.get_parent.get_full_name }}, kan endre dette.</em>

            {% else %}

              {% if user.get_profile.get_actor.get_reserved_against_yearbook %}
                Du mottar ikke årboken i posten, men kan lese den på nett.
              {% else %}
                Du mottar årboken i posten.
              {% endif %}

              {% if user.get_profile.get_actor.membership_type.code == membership_code_lifelong %}
                <em>Du kan ikke endre dette her. Kontakt medlemsservice.</em>
              {% else %}
                <a href="{% url user.views.reserve_publications %}">Endre</a>
              {% endif %}

            {% endif %}
          </td>
        </tr>
        <tr>
          <th>Motta e-post</th>
          <td>
            {% if user.get_profile.get_actor.receive_email %}
              Du vil motta medlemsinformasjon fra DNT på e-post.
            {% else %}
              Du vil ikke motta medlemsinformasjon fra DNT på e-post.
            {% endif %}
            <a href="{% url user.views.receive_email %}">Endre</a>
          </td>
        </tr>
        <tr>
          <th>Partnertilbud</th>
          <td>
            {% if user.get_profile.get_actor.reserved_against_partneroffers %}
              Du har reservert deg mot medlemsfordeler fra DNTs samarbeidspartnere.
            {% else %}
              Du vil motta informasjon om medlemsfordeler fra DNTs samarbeidspartnere.
            {% endif %}
            <a href="{% url user.views.partneroffers %}">Endre</a>
          </td>
        </tr>
      </table>

    {% endif %}
  </div>

  <div class="span3">
    {% include 'common/user/navigation.html' with active='account' %}
  </div>
</div>

{% endblock %}
