{% extends site.template.name|add:"/layout.html" %}
{% block title %}Dine turer og aktiviteter &mdash; Min side{% endblock %}
{% block breadcrumb %}<a href="{% url 'user.views.home' %}">Min side</a> / <em>Dine turer og aktiviteter</em>{% endblock %}

{% block body %}

<div class="row">
  <div class="span9">
    <div class="user-aktiviteter-list">

      <h2>Dine turer og aktiviteter</h2>

      {% for message in messages %}
        {% if message.message == 'signup_cancel_success' %}
          <div class="alert alert-success">
            <strong>Avmeldingen er registrert.</strong>
          </div>
        {% endif %}
      {% endfor %}

      {% for aktivitet_date in aktivitet_dates %}
        <div class="form-border aktivitet">
          <h3>
            <a href="{% url 'aktiviteter.views.show' aktivitet_date.id %}">{{ aktivitet_date.aktivitet.title }}</a>
          </h3>
          <p>
            {{ aktivitet_date.start_date|date:"j. F Y H:i" }} til {{ aktivitet_date.end_date|date:"j. F Y H:i" }}
          </p>
          {% if aktivitet_date.accepts_signup_cancels %}
            <hr>
            <p class="signup-cancel">
              Ønsker du å melde deg av denne turen? <a href="{% url 'aktiviteter.views.signup_cancel' aktivitet_date.id %}">Meld deg av her</a>.<br>
              Avmeldingsfristen er {{ aktivitet_date.signup_cancel_deadline|date:"j. F Y" }}
            </p>
          {% endif %}
        </div>
      {% empty %}
        <p>
          Du har ikke meldt deg på noen turer og aktiviteter. <a href="{% url 'aktiviteter.views.index' %}">Finn en tur som passer for deg</a>!
        </p>
      {% endfor %}

    </div>
  </div>

  <div class="span3">
    {% include 'common/user/account/navigation.html' with active='aktiviteter' %}
  </div>
</div>

{% endblock %}
