<div class="well nav-container">
  <ul class="nav nav-list">
    <li class="nav-header">Meny</li>
    <li{% if active == 'home' %} class="active"{% endif %}><a href="{% url 'user.views.home' %}">Min side</a></li>
    {% if perms.user.sherpa %}
      <li><a href="{% url 'admin.views.index' %}">Sherpa</a></li>
    {% endif %}
    <li{% if active == 'account' %} class="active"{% endif %}><a href="{% url 'user.views.account' %}">Dine opplysninger</a></li>
    <li{% if active == 'account_password' %} class="active"{% endif %}><a href="{% url 'user.views.account_password' %}">Endre passord</a></li>
    {% if False %}
      {% if user.get_profile.is_member %}
        <li{% if active == 'aktiviteter' %} class="active"{% endif %}><a href="{% url 'user.views.aktiviteter' %}">Turer og aktiviteter</a></li>
      {% endif %}
    {% endif %}
    {% if user.get_profile.leader_aktivitet_dates.count != 0 %}
      <li{% if active == 'leader_aktiviteter' %} class="active"{% endif %}><a href="{% url 'user.views.leader_aktivitet_dates' %}">Dine arrangerte turer</a></li>
    {% endif %}
    {% if user.get_profile.is_member %}
      <li{% if active == 'publications' %} class="active"{% endif %}><a href="{% url 'user.views.publications' %}">Publikasjoner</a></li>
      <li{% if active == 'partneroffers' %} class="active"{% endif %}><a href="{% url 'user.views.partneroffers' %}">Motta medlemsfordeler</a></li>
    {% endif %}
    {% if user.get_profile.is_member and user.get_profile.show_norway_bus_tickets_menu_item %}
      <li{% if active == 'norway_bus_tickets' %} class="active"{% endif %}><a href="{% url 'user.views.norway_bus_tickets' %}">Bestill bussbillett</a></li>
    {% endif %}
    <li><a href="{% url 'enrollment.views_gift.index' %}">Bestill gavemedlemskap</a></li>
    {% if user.get_profile.fjelltreffen_annonser.count == 0 %}
      <li><a href="{% url 'fjelltreffen.views.mine' %}">Fjelltreffen</a></li>
    {% endif %}
    {% if user.get_profile.is_member %}
      <li{% if active == 'fotobok' %} class="active"{% endif %}><a href="{% url 'user.views.fotobok' %}">Bestill fotoprodukter</a></li>
    {% endif %}
    {% if not user.get_profile.is_member %}
      <li{% if active == 'register_membership' %} class="active"{% endif %}><a href="{% url 'user.views.register_membership' %}">Registrer medlemskap</a></li>
    {% endif %}
  </ul>
</div>
