<div class="submodule-navigation">
  <span class="header">Meny</span>
  <div class="list-group">
    <a href="{% url 'user.views.home' %}" class="list-group-item{% if active == 'home' %} active{% endif %}">
      Min side
    </a>

    {% if user.perms.sherpa %}
      <a href="{% url 'admin.views.index' %}" class="list-group-item{% if active == '' %} active{% endif %}">
        Sherpa
      </a>
    {% endif %}

    <a href="{% url 'user.views.account' %}" class="list-group-item{% if active == 'account' %} active{% endif %}">
      Dine opplysninger
    </a>
    <a href="{% url 'user.views.account_password' %}" class="list-group-item{% if active == 'account_password' %} active{% endif %}">
      Endre passord
    </a>

    {% if False %}
      {% if user.is_member %}
        <a href="{% url 'user.views.aktiviteter' %}" class="list-group-item{% if active == 'aktiviteter' %} active{% endif %}">
          Turer og aktiviteter
        </a>
      {% endif %}
    {% endif %}

    {% if user.turleder_aktivitet_dates.count != 0 %}
      <a href="{% url 'user.views.turleder_aktivitet_dates' %}" class="list-group-item{% if active == 'turleder_aktiviteter' %} active{% endif %}">
        Dine arrangerte turer
      </a>
    {% endif %}

    {% if user.is_member %}
      <a href="{% url 'user.views.publications' %}" class="list-group-item{% if active == 'publications' %} active{% endif %}">
        Publikasjoner
      </a>

      <a href="{% url 'user.views.partneroffers' %}" class="list-group-item{% if active == 'partneroffers' %} active{% endif %}">
        Motta medlemsfordeler
      </a>
    {% endif %}

    {% if user.is_member and user.show_norway_bus_tickets_menu_item %}
      <a href="{% url 'user.views.norway_bus_tickets' %}" class="list-group-item{% if active == 'norway_bus_tickets' %} active{% endif %}">
        Bestill bussbillett
      </a>
    {% endif %}

    <a href="{% url 'enrollment.gift.views.index' %}" class="list-group-item">
      Bestill gavemedlemskap
    </a>

    {% if user.fjelltreffen_annonser.count == 0 %}
      <a href="{% url 'fjelltreffen.views.mine' %}" class="list-group-item">
        Fjelltreffen
      </a>
    {% endif %}

    {% if user.is_member %}
      <a href="{% url 'user.views.fotobok' %}" class="list-group-item{% if active == 'fotobok' %} active{% endif %}">
        Bestill fotoprodukter
      </a>
    {% endif %}

    {% if not user.is_member %}
      <a href="{% url 'user.views.register_membership' %}" class="list-group-item{% if active == 'register_membership' %} active{% endif %}">
        Registrer medlemskap
      </a>
    {% endif %}
  </div>
</div>
