{% extends site.template.name|add:"/layout.html" %}
{% block title %}Reservasjoner — Min side{% endblock %}
{% block breadcrumb %}<a href="{% url user.views.home_new %}">Min side</a> / <em>Reservasjoner</em>{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/user/reservations.js"></script>
{% endblock %}

{% block body %}

<div class="row">
  <div class="span9">

    <h2>Medlemsfordeler fra DNTs samarbeidspartnere</h2>

    <p>
      Flere av våre samarbeidspartnere tilbyr gode medlemsfordeler til DNTs medlemmer. Vi jobber stadig for å skaffe enda bedre tilbud til deg som medlem. For at du skal få maksimal utbytte av disse medlemsfordelene, kan det være aktuelt for noen av våre samarbeidspartnere å ta kontakt med deg via telefon, e-post eller vanlig post.
    </p>

    <div class="form-border">
      <table class="user-reservations sponsors" data-url="{% url user.views.reserve_sponsors %}">
        <tr class="choice">
          <td>
            <input type="radio" name="sponsors" value="allow"{% if not user.get_profile.get_actor.reserved_against_partneroffers %} checked{% endif %}>
          </td>
          <td class="fake-table-label">
            Ja, jeg ønsker å motta informasjon om medlemsfordeler fra DNTs samarbeidspartnere<br>
          </td>
        </tr>
        <tr class="choice">
          <td>
            <input type="radio" name="sponsors" value="reserve"{% if user.get_profile.get_actor.reserved_against_partneroffers %} checked{% endif %}>
          </td>
          <td class="fake-table-label">
            Nei, jeg vil reservere meg mot medlemsfordeler fra DNTs samarbeidspartnere
          </td>
        </tr>

        <tr class="status loading hide">
          <td colspan="2">
            Lagrer ditt valg, vennligst vent...<br>
            <img src="{{ STATIC_URL }}img/ajax-loader-large.gif" alt="Laster, vennligst vent...">
          </td>
        </tr>
        <tr class="status success hide">
          <td colspan="2">
            Oppdateringen er registrert.
            <span class="success reserve">Du har nå reservert deg mot tilbud fra våre samarbeidspartnere.</span>
            <span class="success allow">Du godtar nå å motta tilbud fra våre samarbeidspartnere.</span>
          </td>
        </tr>
        <tr class="status error hide">
          <td colspan="2">
            <div class="alert alert-error">
              Oppdateringen feilet! Vennligst prøv igjen om et par minutter, eller ring medlemsservice hvis problemet vedvarer.
            </div>
          </td>
        </tr>
      </table>
    </div>

    <h2>Hvordan ønsker du å lese Fjell og Vidde og årboken?</h2>

    <p>
      Her kan du velge å lese Fjell og Vidde og årboken på nett i stedet for å få det tilsendt.
    </p>


    <h3>Fjell og Vidde:</h3>

    <p>
      Jeg ønsker ikke Fjell og Vidde tilsendt, men leser det på nett<br>
      Jeg ønsker Fjell og Vidde tilsendt hjem til meg
    </p>

    <h3>Årbok:</h3>

    <p>
      Jeg ønsker ikke årboken tilsendt, men leser den på nett<br>
      Jeg ønsker årboken tilsendt hjem til meg
    </p>
  </div>
  <div class="span3">
    {% include 'common/user/navigation.html' with active='reservations' %}
  </div>
</div>

{% endblock %}
