{% extends site.template.name|add:"/layout.html" %}
{% block title %}Dine turer og aktiviteter &mdash; Min side{% endblock %}
{% block breadcrumb %}<a href="{% url 'user.views.home' %}">Min side</a> / <a href="{% url 'user.views.turleder_aktivitet_dates' %}">Dine arrangerte turer og aktiviteter</a> / <em>{{ aktivitet_date.aktivitet.title }}</em>{% endblock %}

{% block body %}

<div class="row">
  <div class="span9">

    <h2>{{ aktivitet_date.aktivitet.title }}</h2>

    {% include 'common/admin/aktiviteter/edit/participants_common_content.html' %}

  </div>

  <div class="span3">
    {% include 'common/user/account/navigation.html' with active='turleder_aktiviteter' %}
  </div>
</div>

{% endblock %}
