{% extends site.template.name|add:"/layout.html" %}
{% block title %}Min side{% endblock %}
{% block breadcrumb %}<a href="{% url user.views.home %}">Min side</a> / <em><a href="{% url user.views.account %}">Dine opplysninger</a></em>{% endblock %}
{% block extra_js %}
  <script src="{{ STATIC_URL }}js/user/update_account.js"></script>
{% endblock %}

{% block body %}

<div class="row">
  <div class="span9">

    <h2>Dine opplysninger</h2>

    <form action="{% url 'user.views.update_account' %}" method="post" class="form-border form-horizontal form-default account-info">
      {% csrf_token %}

      {% for message in messages %}
        {% if message.message == 'no_name_provided' %}
          <div class="alert alert-error">
            <strong>Du må fylle inn fullt navn.</strong>
          </div>
        {% elif message.message == 'invalid_email_address' %}
          <div class="alert alert-error">
            <strong>Du må oppgi en gyldig e-post adresse.</strong>
          </div>
        {% elif message.message == 'invalid_sherpa_email_address' %}
          <div class="alert alert-error">
            <strong>Du har angitt en ugyldig Sherpa-epostadresse. En slik adresse er valgfri, hvis du ikke vil ha den tar du bare bort krysset foran tekstfeltet.</strong>
          </div>
        {% elif message.message == 'invalid_phone_home' %}
          <div class="alert alert-error">
            <strong>Du har ikke fylt inn et gyldig hjemtelefonnummer. Dette feltet er ikke påkrevd, du kan la det stå tomt om du ønsker.</strong>
          </div>
        {% elif message.message == 'invalid_phone_mobile' %}
          <div class="alert alert-error">
            <strong>Du har ikke fylt inn et gyldig mobiltelefonnummer.</strong>
          </div>
        {% elif message.message == 'invalid_address' %}
          <div class="alert alert-error">
            <strong>Du har ikke fylt inn en gyldig adresse.</strong>
          </div>
        {% elif message.message == 'invalid_zipcode' %}
          <div class="alert alert-error">
            <strong>Du har ikke fylt inn et gyldig postnummer.</strong>
          </div>
        {% endif %}
      {% endfor %}

      <div class="control-group name">
        <label class="control-label" for="name">Fullt navn</label>
        <div class="controls">
          <input type="text" class="input-xlarge" name="name" value="{{ user.get_profile.get_full_name }}">
        </div>
      </div>

      <div class="control-group email">
        <label class="control-label" for="email">E-post</label>
        <div class="controls">
          <input type="text" class="input-xlarge" name="email" value="{{ user.get_profile.get_email }}">
        </div>
      </div>

      {% if perms.user.sherpa %}
        <div class="control-group sherpa-email">
          <label class="control-label" for="sherpa-email">E-post i Sherpa</label>
          <div class="controls" data-popover data-trigger="hover" data-placement="bottom" data-html="true" data-title="Egen Sherpa-epost" data-content="Hvis du bruker din private e-postadresse på Min side, kan du angi en egen e-postadresse for Sherpa. Den vil vises i artikler du skriver og på din Sherpa-profil.<br><br>Tips: Registrer adressen på www.gravatar.com!<br><br><strong>Du kan ikke logge på med denne e-postadressen!</strong>">
            <input name="toggle-sherpa-email" type="checkbox"{% if user.get_profile.sherpa_email != '' %} checked{% endif %}>
            <input type="text" class="input-xlarge" name="sherpa-email" value="{{ user.get_profile.sherpa_email }}"{% if user.get_profile.sherpa_email == '' %} readonly{% endif %}>
            <img class="info nohover" src="{{ STATIC_URL }}img/icons/netlife/icon-info.png" alt="Mer informasjon">
            <img class="info hover" src="{{ STATIC_URL }}img/icons/netlife/icon-info-hover.png" alt="Mer informasjon">
          </div>
        </div>
      {% endif %}

      <div class="control-group phone_home">
        <label class="control-label" for="phone_home">Telefon</label>
        <div class="controls">
          <input type="text" class="input-medium" name="phone_home" value="{{ user.get_profile.get_actor.phone_home|default:"" }}">
        </div>
      </div>

      <div class="control-group phone_mobile">
        <label class="control-label" for="phone_mobile">Mobil</label>
        <div class="controls">
          <input type="text" class="input-medium" name="phone_mobile" value="{{ user.get_profile.get_actor.phone_mobile|default:"" }}">
        </div>
      </div>

      <div class="control-group dob">
        <label class="control-label" for="dob">Født</label>
        <div class="controls" data-popover data-trigger="hover" data-placement="bottom" data-html="true" data-title="Fødselsdato kan ikke endres" data-content="Vennligst kontakt medlemsservice dersom denne fødselsdatoen ikke stemmer.">
          <input type="text" class="input-medium" name="dob" value="{{ user.get_profile.get_actor.birth_date|date:"d.m.Y" }}" data-value="{{ user.get_profile.get_actor.birth_date|date:"Y/m/d" }}" disabled>
          <img class="info nohover" src="{{ STATIC_URL }}img/icons/netlife/icon-info.png" alt="Mer informasjon">
          <img class="info hover" src="{{ STATIC_URL }}img/icons/netlife/icon-info-hover.png" alt="Mer informasjon">
        </div>
      </div>

      {% if user.get_profile.get_actor.get_clean_address.country.code == 'NO' %}
        <div class="control-group address">
          <label class="control-label" for="address">Adresse</label>
          <div class="controls">
            <input type="text" class="input-large" name="address" value="{{ user.get_profile.get_actor.get_clean_address.field1 }}">
          </div>
        </div>

        {% if user.get_profile.get_actor.get_clean_address.field2 %}
          <div class="control-group address2">
            <div class="controls">
              <input type="text" class="input-large" name="address2" value="{{ user.get_profile.get_actor.get_clean_address.field2 }}">
            </div>
          </div>
        {% endif %}

        {% if user.get_profile.get_actor.get_clean_address.field3 %}
          <div class="control-group address3">
            <div class="controls">
              <input type="text" class="input-large" name="address3" value="{{ user.get_profile.get_actor.get_clean_address.field3 }}">
            </div>
          </div>
        {% endif %}

        <div class="control-group zipcode" for="zipcode">
          <label class="control-label">Postnummer</label>
          <div class="controls">
            <input type="text" class="input-small" name="zipcode" value="{{ user.get_profile.get_actor.address.zipcode }}" maxlength="4">
            <input type="text" class="input-medium" name="area" value="{{ user.get_profile.get_actor.address.area }}" disabled>
            <img src="{{ STATIC_URL }}img/ajax-loader-small.gif" class="ajaxloader zipcode hide" alt="Laster poststed..." title="Laster poststed...">
          </div>
        </div>
      {% else %}
        <div class="control-group">
          <label class="control-label">Adresse</label>
          <div class="controls">
            <div class="control-as-text">
              {{ user.get_profile.get_actor.get_clean_address.format_with_newlines|linebreaksbr }}
            </div>
            <div class="alert alert-error">
              Da du er bosatt i utlandet kan du av tekniske årsaker desverre ikke endre adresse på Min side. Vær vennlig og ta kontakt med <a href="{% url 'membership.views.service' %}">medlemsservice</a> om du har behov for å endre din adresse.
            </div>
          </div>
        </div>
      {% endif %}

      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn"><i class="icon-ok"></i> Oppdater opplysningene</button>
        </div>
      </div>
    </form>
  </div>

  <div class="span3">
    {% include 'common/user/account/navigation.html' with active='account' %}
  </div>
</div>

{% endblock %}
