{% extends site.template.name|add:"/layout.html" %}
{% block title %}Min side{% endblock %}
{% block breadcrumb %}<a href="{% url user.views.home_new %}">Min side</a> / <em>Endre passord</em>{% endblock %}
{% block extra_js %}
  <script src="{{ STATIC_URL }}js/user/update_account_password.js"></script>
{% endblock %}

{% block js_globals %}
  <script>
    var user_password_length = {{ user_password_length }};
  </script>
{% endblock %}

{% block body %}

<div class="row">
  <div class="span9">

    <h2>Endre passord</h2>

    {% for message in messages %}
      {% if message.message == 'password_too_short' %}
        <div class="alert alert-error">
          <strong>Du må fylle inn et passord på minst {{ user_password_length }} tegn.</strong>
        </div>
      {% endif %}
    {% endfor %}

    <form action="{% url user.views.update_account_password %}" method="post" class="form-border form-horizontal form-default">
      {% csrf_token %}
      <div class="control-group password">
        <label class="control-label" for="password">Passord</label>
        <div class="controls">
          <input type="password" class="input-large" name="password">
          <div class="hints">
            Passordet må være på minst {{ user_password_length }} tegn.
          </div>
          <div class="hints error validator short hide">
            Passordet er for kort, det må være minst {{ user_password_length }} tegn.
          </div>
          <div class="hints error validator unequal hide">
            Passordene er ikke like, har du skrevet feil?
          </div>
        </div>
      </div>
      <div class="control-group password-repeat">
        <label class="control-label" for="password-repeat">Gjenta passord</label>
        <div class="controls">
          <input type="password" class="input-large" name="password-repeat">
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn"><i class="icon-ok"></i> Endre passord</button>
        </div>
      </div>
    </form>
  </div>

  <div class="span3">
    {% include 'common/user/navigation.html' with active='account_password' %}
  </div>
</div>

{% endblock %}
