div.setup-site {
  div.section {
    border-bottom: 1px solid rgb(200, 200, 200);
    padding-bottom: 20px;

    h2 {
      margin-top: 30px;
    }
  }

  div.section:last-of-type {
    border-bottom: none !important;
  }

  .form-group.type {
    .display-inline {
      display: inline;
    }

    .has-homepage {
      color: @profile-red;
    }
  }

  .form-group.domain {
    .domain-input {
      margin-top: 20px;
      max-width: 400px;
    }
  }

  div.form-group.template {
    div.template-block {
      border: 1px solid rgb(200, 200, 200);
      margin-top: 10px;
      padding: 15px;

      h3 {
        margin-top: 0;
      }
    }

    div.template-block:hover {
      cursor: pointer;
      background-color: rgb(245, 245, 245);
    }

    div.template-block.active {
      background-color: rgb(235, 235, 235);
    }
  }
}
