.url-picker {
  .pick-choice-wrapper {
    // This helps predefine the modal height before the type-choice controls are shown
    min-height: 80px;

    // Override bootstraps margin-bottom for these specific form-groups
    .form-group {
      margin-bottom: 0;
    }

    .page-url, .article-url {
      margin-top: 10px;

      .url {
        font-weight: bold;
      }
    }
  }
}
