<div class="instagram">
  <div class="wrap2 left">
    {% include 'instagram/image_small.html' with item=bulk.0 %}
    {% include 'instagram/image_small.html' with item=bulk.1 %}
    {% include 'instagram/image_small.html' with item=bulk.2 %}
    {% include 'instagram/image_small.html' with item=bulk.3 %}
    {% include 'instagram/image_medium.html' with item=bulk.4 %}
  </div>

  <div class="right">
    {% include 'instagram/image_large.html' with item=bulk.5 %}
  </div>

  <div class="wrap2 left">
    {% include 'instagram/image_medium.html' with item=bulk.6 %}
    {% include 'instagram/image_small.html' with item=bulk.7 %}
    {% include 'instagram/image_small.html' with item=bulk.8 %}
  </div>

  <div class="wrap2 left">
    {% include 'instagram/image_small.html' with item=bulk.9 %}
    {% include 'instagram/image_small.html' with item=bulk.10 %}
    {% include 'instagram/image_medium.html' with item=bulk.11 %}
  </div>

  <div class="wrap2 right">
    {% include 'instagram/image_medium.html' with item=bulk.12 %}
    {% include 'instagram/image_medium.html' with item=bulk.13 %}
    {% include 'instagram/image_medium.html' with item=bulk.14 %}
    {% include 'instagram/image_small.html' with item=bulk.15 %}
    {% include 'instagram/image_small.html' with item=bulk.16 %}
  </div>

  <div class="left">
    {% include 'instagram/image_large.html' with item=bulk.17 %}
  </div>
</div>
