{% extends "layout.html" %}

{% block title %}Instagram{% endblock %}
{% block breadcrumb_title %}Instagram{% endblock %}

{% block body %}

<div class="row">
  <div class="span12">
  </div>
</div>

<div class="row">
  <div class="span12">
    <div class="instagram">

      <div class="wrap2 left">
        <img src="{{ bulk.0.images.thumbnail.url }}" class="small">
        <img src="{{ bulk.1.images.thumbnail.url }}" class="small">
        <img src="{{ bulk.2.images.thumbnail.url }}" class="small">
        <img src="{{ bulk.3.images.thumbnail.url }}" class="small">
        <img src="{{ bulk.4.images.low_resolution.url }}" class="medium">
      </div>

      <div class="right">
        <img src="{{ bulk.5.images.standard_resolution.url }}" class="large">
      </div>

      <div class="wrap2 left">
        <img src="{{ bulk.6.images.low_resolution.url }}" class="medium">
        <img src="{{ bulk.7.images.thumbnail.url }}" class="small">
        <img src="{{ bulk.8.images.thumbnail.url }}" class="small">
      </div>

      <div class="wrap2 left">
        <img src="{{ bulk.9.images.thumbnail.url }}" class="small">
        <img src="{{ bulk.10.images.thumbnail.url }}" class="small">
        <img src="{{ bulk.11.images.low_resolution.url }}" class="medium">
      </div>

      <div class="wrap2 right">
        <img src="{{ bulk.12.images.low_resolution.url }}" class="medium">
        <img src="{{ bulk.13.images.low_resolution.url }}" class="medium">
        <img src="{{ bulk.14.images.low_resolution.url }}" class="medium">
        <img src="{{ bulk.15.images.thumbnail.url }}" class="small">
        <img src="{{ bulk.16.images.thumbnail.url }}" class="small">
      </div>

      <img src="{{ bulk.17.images.standard_resolution.url }}" class="large">
    </div>
  </div>
</div>

{% endblock %}
