{% extends "layout.html" %}

{% block title %}Instagram{% endblock %}
{% block breadcrumb_title %}Instagram{% endblock %}

{% block body %}

<div class="row">
  <div class="span12">
  </div>
</div>

<div class="row">
  <div class="span12">
    <div class="instagram">

      <div class="wrap2 left">
        <img src="{{ bulk.0.images.thumbnail.url }}" class="small">
        <img src="{{ bulk.1.images.thumbnail.url }}" class="small">
        <img src="{{ bulk.2.images.thumbnail.url }}" class="small">
        <img src="{{ bulk.3.images.thumbnail.url }}" class="small">
        <img src="{{ bulk.4.images.low_resolution.url }}" class="medium">
      </div>

      <div class="right">
        <img src="{{ bulk.5.images.standard_resolution.url }}" class="large">
      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <div class="instagram">

      <div class="wrap2 left">
        <img src="{{ bulk2.0.images.low_resolution.url }}" class="medium">
        <img src="{{ bulk2.1.images.thumbnail.url }}" class="small">
        <img src="{{ bulk2.2.images.thumbnail.url }}" class="small">
      </div>

      <div class="wrap2 left">
        <img src="{{ bulk2.3.images.thumbnail.url }}" class="small">
        <img src="{{ bulk2.4.images.thumbnail.url }}" class="small">
        <img src="{{ bulk2.5.images.low_resolution.url }}" class="medium">
      </div>

      <div class="wrap2 right">
        <img src="{{ bulk2.7.images.low_resolution.url }}" class="medium">
        <img src="{{ bulk2.8.images.low_resolution.url }}" class="medium">
        <img src="{{ bulk2.9.images.low_resolution.url }}" class="medium">
        <img src="{{ bulk2.10.images.thumbnail.url }}" class="small">
        <img src="{{ bulk2.11.images.thumbnail.url }}" class="small">
      </div>

      <img src="{{ bulk2.6.images.standard_resolution.url }}" class="large">
    </div>
  </div>
</div>

{% endblock %}
