/* Page/Article header editing */

div.editor-header {
  background-color: rgb(240, 240, 240) !important;
  color: rgb(65, 65, 65) !important;

  h1 {
    font-size: 160%;
    font-weight: normal;
  }
}

div.editor-header.page div.display-ads {
  margin-top: 15px;
}

/* Article */

div.editor-header.article {
  img.article-thumbnail {
    background-color: rgb(0, 0, 0);
    min-width: 20px;
    min-height: 20px;
  }

  img.article-thumbnail:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
    cursor: alias;
  }

  div.preview-image {
    float: right;
  }

  div.publish, div.editor-header.article div.status {
    margin-bottom: 10px;
  }

  select[name='authors'] {
    width: 400px;
  }
}
