/* Change image-dialog */

div.change-image {
  h2 {
    font-size: 20px;
  }

  div.preview-container {
    max-width: 100%;

    img {
      border: 1px solid rgb(0, 0, 0);
    }
  }
}

div.image-archive-picker {
  div#imagearchive {
    div#contentlist {
      div.album {
        margin-top: 5px;
        margin-bottom: 5px;
      }

      img.album {
        float: left;
        width: 25px;
      }
    }

    ul#images li {
      display: block;
      width: 200px;
      border: 1px solid #888;
      margin: 1%;
      padding-top: 15px;
      padding-bottom: 15px;
      float: left;
      text-align: center;
      cursor: pointer;
    }
  }
}

div#dialog-change-image div.empty-url {
  width: 500px;
}
