@import "common/variables.less";

/* Generic printing stylesheet */

header, div.container.social-icons, footer {
  display: none;
}

p.sms {
  display: none;
}

h1, h2, h3 {
  font-family: "DTL Nobel";
}

p {
  font-family: georgia, times, serif;
}

a {
  color: black;
  text-decoration: none;
}
