{% extends 'common/admin/layout.html' %}

{% block title %}Annonser — {{ block.super }}{% endblock %}

{% block admin_menu %}{% with 'ads' as active_entry %}{{ block.super }}{% endwith %}{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/admin/ads.js"></script>
{% endblock %}

{% block body %}

<div class="row">
  <div class="col-lg-12">
    <h1>Annonser <small>legg ut annonser som vises på websidene</small></h1>
    <ol class="breadcrumb">
      <li class="active"><i class="fa fa-dashboard"></i> <a href="{% url 'admin.views.index' %}">Sherpa</a></li>
      <li><a href="{% url 'admin.ads.views.list' %}">Annonser</a></li>
    </ol>
  </div>
</div><!-- /.row -->

<div class="advertisement-management">

  <div class="row">
    <div class="col-lg-12">
      {% for message in messages %}
        {% if message.message == 'invalid_date' %}
          <div class="alert alert-danger">
            <a class="close">x</a>
            <strong>Ugyldig datoformat, vennligst prøv igjen!</strong>
          </div>
        {% elif message.message == 'unparseable_script' %}
          <div class="alert alert-danger">
            <a class="close">x</a>
            <strong>Klarte ikke å hente ut nødvendig informasjon fra adform-scriptet.</strong><br>
            Kanskje har formatet endret seg, eller så tok du ikke med riktig del av scriptet?<br>
            Her er et eksempel på hvordan scriptet bør se ut:<br><br>
            <pre>
&lt;script language=&quot;javascript&quot; src=&quot;http://track.adform.net/adfscript/?bn=2576249&quot;&gt;&lt;/script&gt;
&lt;noscript&gt;
  &lt;a href=&quot;http://track.adform.net/C/?bn=2576249;C=0&quot; target=&quot;_blank&quot;&gt;
    &lt;img src=&quot;http://track.adform.net/adfserve/?bn=2576249;srctype=4;ord=[timestamp]&quot; border=&quot;0&quot; width=&quot;940&quot; height=&quot;300&quot; alt=&quot;&quot;/&gt;
  &lt;/a&gt;
&lt;/noscript&gt;
            </pre>
          </div>
        {% endif %}
      {% endfor %}

      {% if time_placements|length == 0 %}
        <p>Ingen tidsbaserte annonser er lagt ut.</p>
      {% else %}
        <table class="table placements time">
          <tr>
            <th>Annonse</th>
            <th>Fra og med</th>
            <th>Til og med</th>
            <th>Visninger</th>
            <th>Klikk</th>
            <th>Status</th>
          </tr>
          {% for placement in time_placements %}
            <tr class="placement {{ placement.time_state }}{% if placement.is_old %} jq-hide{% endif %}"
              data-id="{{ placement.id }}"
              data-ad="{{ placement.ad.id }}"
              data-start-date="{{ placement.start_date|date:"d.m.Y" }}"
              data-end-date="{{ placement.end_date|date:"d.m.Y" }}">
              <td>{{ placement.ad.name }}</td>
              <td>{{ placement.start_date|date:"j. F Y" }}</td>
              <td>{{ placement.end_date|date:"j. F Y" }}</td>
              <td>{{ placement.views }}</td>
              <td>{{ placement.clicks }}</td>
              <td>
                {% if placement.is_old %}Utgått{% endif %}
                {% if placement.is_current %}Aktiv{% endif %}
                {% if placement.is_new %}På vent{% endif %}
              </td>
            </tr>
          {% endfor %}
          <tr>
            <td colspan="6">
              <a class="btn btn-default toggle-old-placements" href="javascript:undefined">
                <i class="fa fa-search"></i> Vis/skjul gamle visninger
              </a>
            </td>
          </tr>
        </table>
      {% endif %}

      {% if view_placements|length == 0 %}
        <p>Ingen visningsbaserte annonser er lagt ut.</p>
      {% else %}
        <table class="table placements view">
          <tr>
            <th>Annonse</th>
            <th>Maks visninger</th>
            <th>Visninger</th>
            <th>Klikk</th>
            <th>Status</th>
          </tr>
          {% for placement in view_placements %}
            <tr class="placement {{ placement.view_state }}{% if placement.view_state == 'inactive' %} jq-hide{% endif %}"
              data-id="{{ placement.id }}"
              data-ad="{{ placement.ad.id }}"
              data-view-limit="{{ placement.view_limit }}">
              <td>{{ placement.ad.name }}</td>
              <td>{{ placement.view_limit }}</td>
              <td>{{ placement.views }}</td>
              <td>{{ placement.clicks }}</td>
              <td>
                {% if placement.view_state == 'active' %}Aktiv{% else %}Inaktiv{% endif %}
              </td>
            </tr>
          {% endfor %}
          <tr>
            <td colspan="6">
              <a class="btn btn-default toggle-old-placements" href="javascript:undefined"><i class="fa fa-search"></i> Vis/skjul inaktive visninger</a>
            </td>
          </tr>
        </table>
      {% endif %}

      <form class="placement form-horizontal" method="post" action="{% url 'admin.ads.views.create_placement' %}">
        {% csrf_token %}

        <div class="form-group">
          <label class="col-lg-2 control-label">Annonse</label>
          <div class="col-lg-4">
            <select name="ad" data-chosen>
              {% for ad in ads %}
                <option value="{{ ad.id }}">{{ ad.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="form-group time">
          <label class="col-lg-2 control-label">
            <input type="radio" name="adplacement_type" value="time">
            Start/stopp visning
          </label>
          <div class="col-lg-4">
            <div class="input-group date">
              <input type="text" name="start_date" class="form-control">
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
            <div class="input-group date">
              <input type="text" name="end_date" class="form-control">
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
          </div>
        </div>

        <div class="form-group view">
          <label class="col-lg-2 control-label">
            <input type="radio" name="adplacement_type" value="views">
            Antall visninger
          </label>
          <div class="col-lg-4">
            <input type="text" name="view_limit" class="form-control">
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-offset-2 col-lg-4">
            <button type="submit" class="btn btn-default">Legg til annonsevisning</button>
          </div>
        </div>
      </form>

      <h2>Last opp ny annonse</h2>

      <ul class="nav nav-tabs">
        <li class="active"><a href="#fil" data-toggle="tab">Flash/bildefil</a></li>
        <li><a href="#script" data-toggle="tab">Adform-script</a></li>
      </ul>

      <div class="tab-content tab-content-visible">
        <div class="tab-pane active" id="fil">

          <form method="post" action="{% url 'admin.ads.views.create_ad' %}" enctype="multipart/form-data" class="form-default form-horizontal">
            {% csrf_token %}
            <input type="hidden" name="type" value="file">

            <div class="form-group">
              <label class="col-md-2 control-label">Navn</label>
              <div class="col-md-10">
                <input type="text" name="name" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-2 control-label">Lenker til (URL)</label>
              <div class="col-md-10">
                <input type="text" name="destination" value="http://" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-2 control-label">Last opp fil</label>
              <div class="col-md-10">
                <input type="file" name="ad" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-2 control-label">Bilde-fallback for flash</label>
              <div class="col-md-10">
                <input type="file" name="ad_fallback" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-2 control-label">Visningsteller-bilde (valgfritt)</label>
              <div class="col-md-10">
                <input type="text" name="viewcounter" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-2 control-label">Bredde x Høyde (kun hvis Flash):</label>
              <div class="col-md-10">
                <input type="text" name="width" class="form-control" value="940" style="max-width: 60px; display: inline;">
                x
                <input type="text" name="height" class="form-control" value="300" style="max-width: 60px; display: inline;">
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default">Last opp</button>
              </div>
            </div>

          </form>

        </div>
        <div class="tab-pane" id="script">

          <form method="post" action="{% url 'admin.ads.views.create_ad' %}" class="form-default form-horizontal">
            {% csrf_token %}
            <input type="hidden" name="type" value="adform-script">

            <div class="form-group">
              <label class="col-md-2 control-label">Navn</label>
              <div class="col-md-10">
                <input type="text" name="name" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-2 control-label">Lim inn script-kode</label>
              <div class="col-md-10">
                <textarea name="script" cols="70" rows="7" class="form-control"></textarea>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-2 control-label">Visningsteller-bilde (valgfritt)</label>
              <div class="col-md-10">
                <input type="text" name="viewcounter" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default">Lagre</button>
              </div>
            </div>
          </form>

        </div>
      </div>

      <table class="table ads">
        <tr>
          <th>Navn</th>
          <th>Lenker til</th>
          <th>Innhold</th>
          <th>Test annonsen</th>
        </tr>
        {% for ad in ads %}
          <tr>
            {% if not ad.is_adform_script %}

              <td class="ad file" data-id="{{ ad.id }}" data-name="{{ ad.name }}" data-destination="{{ ad.destination }}" data-viewcounter="{{ ad.viewcounter }}" data-width="{{ ad.width|default_if_none:"" }}" data-height="{{ ad.height|default_if_none:"" }}">
                {{ ad.name }}
              </td>
              <td>
                <a href="{{ ad.destination }}" title="{{ ad.destination }}">{{ ad.destination|truncatechars:"40" }}</a>
              </td>
              <td>
                <a href="{{ ad.url }}">{{ ad.extension }}</a>
                {% if ad.fallback_sha1_hash %}
                  <a href="{{ ad.fallback_url }}">{{ ad.fallback_extension }}</a>
                {% endif %}
                {% if ad.width and ad.height %}
                  ({{ ad.width }} x {{ ad.height }})
                {% endif %}
              </td>

            {% else %}

              <td class="ad adform-script" data-id="{{ ad.id }}" data-name="{{ ad.name }}" data-script="{{ ad.content_script }}" data-viewcounter="{{ ad.viewcounter }}">
                {{ ad.name }}
              </td>
              <td>
                <a href="{{ ad.destination }}" title="{{ ad.destination }}">{{ ad.destination|truncatechars:"40" }}</a>
              </td>
              <td>
                Adform-script
              </td>

            {% endif %}

            <td>
              <a href="{% url 'page.views.test_ad' ad.id %}">Test annonsen</a>
            </td>

          </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  {# Modals #}
  <div class="modal jq-hide placement time">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
      <h3>Annonsevisning</h3>
    </div>
    <div class="modal-body">
      <form class="placement" method="post" action="{% url 'admin.ads.views.update_placement' %}">
        {% csrf_token %}
        <input type="hidden" name="id" value="">

        <div class="form-group">
          <label class="control-label">Annonse</label>
          <div class="row">
            <div class="col-md-12">
              <select name="ad" data-chosen>
                {% for ad in ads %}
                  <option value="{{ ad.id }}">{{ ad.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label">Start/stopp visning</label>
          <div class="row">
            <div class="col-md-12">
              <div class="input-group date">
                <input type="text" name="start_date" class="form-control date">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="input-group date">
                <input type="text" name="end_date" class="form-control date">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-default">Oppdater visning</button>
        </div>
      </form>
    </div>
  </div>

  <div class="modal jq-hide placement view" data-width="auto">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
      <h3>Annonsevisning</h3>
    </div>
    <div class="modal-body">
      <form class="placement" method="post" action="{% url 'admin.ads.views.update_placement' %}">
        {% csrf_token %}
        <input type="hidden" name="id" value="">

        <div class="form-group">
          <label class="control-label">Annonse</label>
          <div class="row">
            <div class="col-md-12">
              <select name="ad" data-chosen>
                {% for ad in ads %}
                  <option value="{{ ad.id }}">{{ ad.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label">Antall visninger</label>
          <input type="text" name="view_limit" class="form-control">
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-default">Oppdater visning</button>
        </div>
      </form>
    </div>
  </div>

  <div class="modal jq-hide ad file">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
      <h3>Annonsedetaljer</h3>
    </div>
    <div class="modal-body">
      <form method="post" action="{% url 'admin.ads.views.update_ad' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="id" value="">

        <div class="form-group">
          <label class="control-label">Navn</label>
          <input type="text" name="name" class="form-control">
        </div>

        <div class="form-group">
          <label class="control-label">Lenker til (URL)</label>
          <input type="text" name="destination" class="form-control">
        </div>

        <div class="form-group">
          <label class="control-label">Ny fil</label>
          <input type="file" name="ad" class="form-control">
        </div>

        <div class="form-group">
          <label class="control-label">Ny fallback</label>
          <input type="file" name="ad_fallback" class="form-control">
        </div>

        <div class="form-group">
          <label class="control-label">Visningsteller-bilde</label>
          <input type="text" name="viewcounter" class="form-control">
        </div>

        <div class="form-group">
          <label class="control-label">Bredde x Høyde (kun hvis Flash)</label>
          <div class="row">
            <div class="col-md-12">
              <input type="text" name="width" class="form-control" style="max-width: 60px; display: inline;"> x
              <input type="text" name="height" class="form-control" style="max-width: 60px; display: inline;">
            </div>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-default">Last opp</button>
        </div>
      </form>
    </div>
  </div>

  <div class="modal jq-hide ad adform-script" data-width="auto">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
      <h3>Annonsedetaljer</h3>
    </div>
    <div class="modal-body">
      <form method="post" action="{% url 'admin.ads.views.update_ad' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="id" value="">

        <div class="form-group">
          <label class="control-label">Navn</label>
          <input type="text" name="name" class="form-control">
        </div>

        <div class="form-group">
          <label class="control-label">Lim inn script-kode</label>
          <textarea name="script" cols="70" rows="7" class="form-control"></textarea>
        </div>

        <div class="form-group">
          <label class="control-label">Visningsteller-bilde</label>
          <input type="text" name="viewcounter" class="form-control">
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-default">Lagre</button>
        </div>
      </form>
    </div>
  </div>

</div>

{% endblock %}
