{% extends 'common/admin/layout.html' %}
{% block title %}Sider — {{ block.super }}{% endblock %}

{% block admin_menu %}{% with 'sites' as active_entry %}{{ block.super }}{% endwith %}{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/admin/sites/menu/index.js"></script>
{% endblock %}

{% block body %}

<div class="row">
  <div class="col-lg-12">
    <h1>Toppmeny <small>dra for å sortere, klikk for å endre</small></h1>
    <ol class="breadcrumb">
      <li class="active"><i class="fa fa-dashboard"></i> <a href="{% url 'admin.views.index' %}">Sherpa</a></li>
      <li><a href="{% url 'admin.sites.views.index' active_side.id %}">Nettsteder</a></li>
      <li><a href="{% url 'admin.sites.views.index' active_side.id %}">{{ active_site.domain }}</a></li>
      <li><a href="{% url 'admin.sites.menu.views.index' %}">Toppmeny</a></li>
    </ol>
  </div>
</div><!-- /.row -->

<div class="row">
  <div class="col-md-12">

    <nav id="menus" data-reorder-url="{% url 'admin.sites.menu.views.reorder' %}">
      <ul class="sortable horizontal">
        {% for menu in menus %}
        <li>
          <a class="edit" data-id="{{ menu.id }}" data-href="{{ menu.url }}" href="javascript:undefined">{{ menu.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </nav>
    <p>
      <a class="add-menu-element" href="javascript:undefined">Nytt menyelement</a>
    </p>
  </div>
</div><!-- /.row -->

<div class="modal menu" data-new-url="{% url 'admin.sites.menu.views.new' %}" data-edit-url="{% url 'admin.sites.menu.views.edit' %}" data-delete-url="{% url 'admin.sites.menu.views.delete' %}">
  <div class="modal-header">

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
    <h3>Endre meny-lenke</h3>

  </div>
  <div class="modal-body">

    <div class="form-group">
      <label>Tittel</label>
      <input type="text" name="name" class="form-control">
    </div>
    <div class="form-group">
      <label>Adresse</label>
      <input type="text" name="url" class="form-control">
    </div>

    <div class="loading jq-hide">
      Vennligst vent...<br>
      <img src="{{ STATIC_URL }}img/ajax-loader-large.gif" class="ajaxloader" alt="Vennligst vent...">
    </div>

  </div>
  <div class="modal-footer">

    <button class="btn btn-success save-menu">
      Lagre
    </button>
    <button class="btn btn-danger delete-menu">
      Slett lenken
    </button>

  </div>
</div>

{% endblock %}
