<div class="row">
  <div class="offset3 span6">
    <div class="no-save-warning alert alert-error hide">
      <a class="close">x</a>
      <strong>Advarsel!</strong><br>
      Du har ikke lagret artikkelen på over 5 minutter! Du bør vurdere å lagre nå, hvis ikke kan du miste endringene du har gjort hvis et uhell oppstår.
    </div>
  </div>
</div>

<article>

{% for row in rows %}
<div class="row-fluid" data-id="{{ row.id }}">
  {% for column in row.columns %}
    <div class="column offset{{ column.offset }} span{{ column.span }}" data-id="{{ column.id }}">
      {% for content in column.contents %}
        {% if content.type == 'html' or content.type == 'title' or content.type == 'lede' %}
          <div class="content {{ content.type }} editable" data-id="{{ content.id }}">{{ content.content|safe }}</div>
        {% elif content.type == 'image' %}
          <div style="{% if content.content.parentHeight %}height:{{ content.content.parentHeight }}px;{% endif %}overflow:hidden;" class="content image" data-id="{{ content.id }}">
            {% if content.content.anchor %}<a href="{{ content.content.anchor }}">{% endif %}
            <img src="{{ content.content.src }}"
              {% if content.content.style %}style="{{ content.content.style }}"{% endif %}
              {% if content.content.selection %}data-selection="{{ content.content.selection }}"{% endif %}
              {% if content.content.description %}alt="{{ content.content.description }}"{% endif %}
              {% if content.content.ratioWidth %}data-ratio-width="{{ content.content.ratioWidth }}"{% endif %}
              {% if content.content.ratioHeight %}data-ratio-height="{{ content.content.ratioHeight }}"{% endif %}>
            {% if content.content.anchor %}</a>{% endif %}
            <div style="width:auto" class="img-desc">
              <span class="description">{{ content.content.description }}</span>
                <span class="photographer">Foto:
                  <span class="content">{{ content.content.photographer }}</span>
                </span>
            </div>
          </div>
        {% elif content.type == 'widget' %}
          <div class="content widget {{ content.content.widget }}" data-id="{{ content.id }}" data-json="{{ content.content.json }}">
            {% include content.content.template with widget=content.content %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
</div>
{% endfor %}

</article>

{# Adding columns #}
<div class="modal hide insert-columns" data-width="auto">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
    <h3>Velg kolonnestruktur</h3>
  </div>
  <div class="modal-body">
    <h1 class="sherpa">Én kolonne:</h1>
    <p><img src="{{ STATIC_URL }}img/columns/full.png" data-choice="0" alt="Én kolonne"></p>

    <h1 class="sherpa">To kolonner (sidebar):</h1>
    <p><img src="{{ STATIC_URL }}img/columns/sidebar.png" data-choice="1" alt="To kolonner (sidebar)"></p>

    <h1 class="sherpa">To kolonner:</h1>
    <p><img src="{{ STATIC_URL }}img/columns/two.png" data-choice="2" alt="To kolonner"></p>

    <h1 class="sherpa">Tre kolonner:</h1>
    <p><img src="{{ STATIC_URL }}img/columns/three.png" data-choice="3" alt="Tre kolonner"></p>

    <h1 class="sherpa">Fire kolonner:</h1>
    <p><img src="{{ STATIC_URL }}img/columns/four.png" data-choice="4" alt="Fire kolonner"></p>
  </div>
  <div class="modal-footer" style="clear: both;">
    <a href="javascript:undefined" class="btn" data-dismiss="modal">Lukk vindu</a>
  </div>
</div>

{# Widget edit-dialogs #}
{% include 'common/admin/editor/add-widget-dialog.html' %}
{% include 'main/widgets/quote/edit.html' %}
{% include 'main/widgets/articles/edit.html' %}
{% include 'main/widgets/blog/edit.html' %}
{% include 'main/widgets/embed/edit.html' %}
{% include 'main/widgets/carousel/edit.html' %}
{% include 'main/widgets/fact/edit.html' %}

{# Other dialogs #}
{% include 'common/admin/editor/image-from-archive-dialog.html' %}
{% include 'common/admin/editor/image-fast-upload-dialog.html' %}
{% include 'common/admin/editor/image-dialog.html' %}
{% include 'common/admin/editor/button-dialog.html' %}
{% include 'common/admin/editor/toolbar.html' %}
