<div class="row">
  <div class="offset3 span6">
    <div class="no-save-warning alert alert-danger jq-hide">
      <a class="close">x</a>
      <strong>Advarsel!</strong><br>
      Du har ikke lagret artikkelen på over 5 minutter! Du bør vurdere å lagre nå, hvis ikke kan du miste endringene du har gjort hvis et uhell oppstår.
    </div>
  </div>
</div>

<article data-save-url="{% url 'admin.cms.views.content.save' version.id %}" data-render-widget-url="{% url 'admin.cms.views.content.render_widget' %}">

  {% for row in rows %}
    {# Rows are recognized by their data-row attribute, not their class #}
    <div class="row-fluid" data-row>

      {% for column in row.columns %}
        <div class="column offset{{ column.offset }} span{{ column.span }}">

          {% for content in column.contents %}
            {% if content.type == 'html' or content.type == 'title' or content.type == 'lede' %}

              <div class="content {{ content.type }} editable" {% if content.content != '' %}contenteditable="true"{% else %}data-placeholder{% endif %}>
                {% if content.content != '' %}
                  {{ content.content|safe }}
                {% else %}
                  Klikk for å legge til tekst
                {% endif %}
              </div>

            {% elif content.type == 'image' %}

              <div style="{% if content.get_content.parentHeight %}height:{{ content.get_content.parentHeight }}px;{% endif %}" class="content image">
                {% if content.get_content.anchor %}<a href="{{ content.get_content.anchor }}">{% endif %}
                <img src="{{ content.get_content.src }}"
                  {% if content.get_content.style %}style="{{ content.get_content.style }}"{% endif %}
                  {% if content.get_content.selection %}data-selection="{{ content.get_content.selection }}"{% endif %}
                  {% if content.get_content.description %}alt="{{ content.get_content.description }}"{% endif %}
                  {% if content.get_content.ratioWidth %}data-ratio-width="{{ content.get_content.ratioWidth }}"{% endif %}
                  {% if content.get_content.ratioHeight %}data-ratio-height="{{ content.get_content.ratioHeight }}"{% endif %}>
                {% if content.get_content.anchor %}</a>{% endif %}
                <div style="width:auto" class="img-desc">
                  <span class="description">{{ content.get_content.description }}</span>
                    <span class="photographer">
                      Foto: <span class="content">{{ content.get_content.photographer }}</span>
                    </span>
                </div>
              </div>

            {% elif content.type == 'widget' %}

              <div class="content widget {{ content.content.widget }}" data-json="{{ content.content.json }}">
                {% include content.content.template with widget=content.content %}
              </div>

            {% endif %}
          {% endfor %}

        </div>
      {% endfor %}

    </div>
  {% endfor %}

</article>

<div class="insertion-templates jq-hide">

  <div class="content html editable" contenteditable="true"></div>

  <div class="content image">
    <img src="http://www.turistforeningen.no/static/img/placeholder.png" alt="">
    <div class="img-desc">
      <span class="description"></span>
      <span class="photographer">
        Foto: <span class="content"></span>
      </span>
    </div>
  </div>

  <div class="content widget">
    <img src="/static/img/ajax-loader-small.gif" alt="Laster...">
    <em>Rendrer widget...</em>
  </div>

  <p class="widget-rendering-failed">
    Klarte ikke å rendre widgeten! Er du sikker på at du har tilgang til internett?<br>Klikk her og velg lagre på nytt for å prøve å rendre igjen.
  </p>

  <div class="row-fluid edit-structure">
    <div class="column span12">
      <div class="edit-structure-inner">
        <button class="btn" data-type="single" title="Bruk én stor kolonne i denne seksjonen"></button>
        <button class="btn" data-type="double" title="Bruk to like store kolonner i denne seksjonen"></button>
        <button class="btn" data-type="sidebar-left" title="Bruk to kolonner i denne seksjonen, liten kolonne til venstre"></button>
        <button class="btn" data-type="sidebar-right" title="Bruk to kolonner i denne seksjonen, liten kolonne til høyre"></button>
        <button class="btn" data-type="triple" title="Bruk tre kolonner i denne seksjonen"></button>
        <button class="btn" data-type="quadruple" title="Bruk fire kolonner i denne seksjonen"></button>
      </div>
    </div>
  </div>

  <div class="row-fluid add-content-row" title="Sett inn innhold...">
    <div class="column span12">
      {% include 'common/admin/editor/add-content.html' %}
    </div>
  </div>

  <div class="add-content" title="Sett inn innhold...">
    {% include 'common/admin/editor/add-content.html' %}
  </div>

  <div class="content-control crop-content" title="Beskjær eller skalér bildet">
  </div>

  <div class="content-control remove-content" title="Ta bort dette innholdet" data-confirm="Er du helt sikker på at du vil ta bort dette innholdet?">
  </div>

  <div class="content-control move-content" title="Klikk for å flytte innholdet opp, ned eller til en annen kolonne">
  </div>

</div>

{# Widget edit-dialogs #}
{% include 'common/widgets/quote/edit.html' %}
{% include 'common/widgets/articles/edit.html' %}
{% include 'common/widgets/blog/edit.html' %}
{% include 'common/widgets/embed/edit.html' %}
{% include 'common/widgets/carousel/edit.html' %}
{% include 'common/widgets/fact/edit.html' %}
{% include 'common/widgets/button/edit.html' %}

{# Other dialogs #}
{% include 'common/admin/images/util/image-archive-picker.html' with bs2compatible=True %}
{% include 'common/admin/images/util/image-upload-dialog-bootstrap2compatible.html' %}
{% include 'common/admin/editor/image-dialog.html' %}
{% include 'common/admin/editor/toolbar.html' %}
