{% load gender %}

{% for annonse in annonser %}
  <div class="fjelltreffen-annonse">
    {% if active == 'mine'%}
      <a href="{% url fjelltreffen.views.edit annonse.id %}"><h3>{% if annonse.hidden %}[Skjult] {% endif %}{{ annonse.title }}</h3></a>
    {% else %}
      <a href="{% url fjelltreffen.views.show annonse.id %}"><h3>{{ annonse.title }}</h3></a>
    {% endif %}
    <p>{{ annonse.profile.get_actor.get_gender|gender|title }}, {{ annonse.get_age }}, {{ annonse.fylke.name }}, {{ annonse.timeadded|date:"j. F Y" }}</p>
    <p>{{ annonse.text|truncatechars:100 }}</p>
  </div>
{% endfor %}
