{% extends 'main/layout.html' %}

{% block title %}Fjelltreffen{% endblock %}
{% block breadcrumb %}
  {% if annonse %}
    <a href="{% url fjelltreffen.views.index %}">Fjelltreffen</a> /  <a href="{% url fjelltreffen.views.mine %}">Mine Annonser</a> / <em><a href="{% url fjelltreffen.views.edit annonse.id %}">{{ annonse.title }}</a></em>
  {% else %}
    <a href="{% url fjelltreffen.views.index %}">Fjelltreffen</a> / <em><a href="{% url fjelltreffen.views.new %}">Ny Annonse</a></em>
  {% endif %}
{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/fjelltreffen/edit.js"></script>
{% endblock%}

{% block body %}

<div class="row">
  <div class="span9">

    {% if annonse %}
      <h2>Rediger Annonse</h2>
    {% else %}
      <h2>Ny Annonse</h2>
    {% endif %}

    {% if annonse.is_expired %}
      <div class="alert alert-error">
        Denne annonsen har lagt ute i mer enn {{ annonse_retention_days }} dager og er derfor utgått.
      </div>
    {% endif %}

    {% for message in messages %}
      {% if message.message == 'missing_title' %}
        <div class="alert alert-error">
          <a class="close">x</a>
          Du må fylle inn en tittel på annonsen!
        </div>
      {% elif message.message == 'invalid_email' %}
        <div class="alert alert-error">
          <a class="close">x</a>
          Du må fylle inn en gyldig e-postadresse! Du vil motta svar på annonsen på denne adressen. Adressen vises ikke i annonsen.
        </div>
      {% elif message.message == 'missing_text' %}
        <div class="alert alert-error">
          <a class="close">x</a>
          Du får neppe napp med mindre du skriver litt om hvem du er, eller hva du er ute etter, i annonsen.
        </div>
      {% elif message.message == 'too_many_active_annonser' %}
        <div class="alert alert-error">
          <a class="close">x</a>
          Du har for mange aktive annonser! Du kan på det meste ha {{ active_annonse_limit }} synlige annonser av gangen. Annonsen har blitt satt som skjult. Du kan slette eller skjule <a href="{% url fjelltreffen.views.mine %}">dine andre annonser</a>, for så å vise denne.
        </div>
      {% elif message.message == 'showing_when_not_payed' %}
        <div class="alert alert-error">
          <a class="close">x</a>
          Du kan ikke vise en skjult annonse når du ikke har betalt årskontingenten.
        </div>
      {% endif %}
    {% endfor %}

    <form action="{% url fjelltreffen.views.save %}" method="post" class="form-border form-default form-horizontal fjelltreffen-annonse-edit">
      {% csrf_token %}
      <input type="hidden" name="id" value="{{ annonse.id }}">

      <div class="control-group title">
        <label class="control-label" for="title">Tittel</label>
        <div class="controls">
          <input type="text" name="title" value="{{ annonse.title }}" placeholder="Velg en annonsetittel..." class="input-xlarge">
          <span class="asterisk red">*</span>
        </div>
      </div>

      <div class="control-group email">
        <label class="control-label" for="email">E-postadresse</label>
        <div class="controls">
          <input type="text" name="email" value="{% firstof annonse.email user.get_profile.get_email %}" placeholder="Din e-postadresse (vises ikke)" class="input-xlarge">
          <span class="asterisk red">*</span> (vises ikke)
        </div>
      </div>


      <div class="control-group county">
        <label class="control-label" for="county">Fylke</label>
        <div class="controls">
          <select name="county">
            {% for county in counties %}
              {% if annonse %}
                <option{% if annonse.county.code == county.code %} selected="selected"{% endif %} value="{{ county.code }}">{{ county.name }}</option>
              {% else %}
                <option{% if user.get_profile.get_county == county.code %} selected="selected"{% endif %} value="{{ county.code }}">{{ county.name }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="control-group text">
        <label class="control-label" for="text">Annonsetekst</label>
        <div class="controls">
          <textarea name="text" placeholder="Skriv annonsen din her...">{{ annonse.text }}</textarea>
        </div>
      </div>

      <div class="control-group hideage">
        <label class="control-label" for="hideage">Vis min alder som:</label>
        <div class="controls">
          <label for="hideage" class="radio">
            <input type="radio" name="hideage" value="raw"{% if not annonse.hideage %} checked{% endif %}>
            {{ user.get_profile.get_actor.get_age }} år
          </label>
          <label for="hideage" class="radio">
            <input type="radio" name="hideage" value="hide"{% if annonse.hideage %} checked{% endif %}>
            {{ obscured_age }} år
          </label>
        </div>
      </div>

      <div class="control-group hide-annonse"{% if annonse.hidden and not user.get_profile.get_actor.get_balance.is_payed %} title="Du kan ikke vise en skjult annonse når du ikke har betalt årskontingenten."{% endif %}>
        <label class="control-label" for="hide-annonse">Skjul annonsen</label>
        <div class="controls">
          <input type="checkbox" name="hidden"{% if annonse.hidden %} checked="checked"{% endif %}{% if annonse.hidden and not user.get_profile.get_actor.get_balance.is_payed %} disabled{% endif %}>
          Ingen kan se eller svare på annonsen mens den er skjult.
        </div>
      </div>


      <div class="control-group">
        <div class="controls">
          <p>
            <button type="submit" class="btn btn-success save-annonse">Lagre</button>
            {% if annonse %}
              <a class="btn btn-danger" href="{% url fjelltreffen.views.delete annonse.id %}">Slett</a>
            {% endif %}
          </p>
          <p>Merk: Annonsen blir liggende i {{ annonse_retention_days }} dager.</p>
        </div>
      </div>

    </form>

  </div>
  <div class="span3">
    {% if annonse %}
      {% include 'main/fjelltreffen/navigation.html' %}
    {% else %}
      {% include 'main/fjelltreffen/navigation.html' with active='new' %}
    {% endif %}
  </div>
</div>

{% endblock %}
