{% extends 'main/layout.html' %}

{% load advertisement %}

{% block title %}Fjelltreffen{% endblock %}
{% block breadcrumb %}
  {% if annonse %}
    <a href="{% url 'fjelltreffen.views.index' %}">Fjelltreffen</a> /  <a href="{% url 'fjelltreffen.views.mine' %}">Mine annonser</a> / <em><a href="{% url 'fjelltreffen.views.edit' annonse.id %}">{{ annonse.title }}</a></em>
  {% else %}
    <a href="{% url 'fjelltreffen.views.index' %}">Fjelltreffen</a> / <em><a href="{% url 'fjelltreffen.views.new' %}">Ny annonse</a></em>
  {% endif %}
{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/fjelltreffen/edit.js"></script>
{% endblock%}

{% block body %}

<div class="row">
  <div class="span12">
    <h1>Fjelltreffen</h1>
  </div>
</div>

<div class="row">
  <div class="span9">

    {% if annonse %}
      <h2>Rediger annonse</h2>
    {% else %}
      <h2>Ny annonse</h2>
    {% endif %}

    {% if annonse.is_expired %}
      <div class="alert alert-error">
        Denne annonsen har lagt ute i over {{ annonse_retention_days }} dager og er derfor utgått.
      </div>
    {% endif %}

    {# Note: We'd prefer an unordered list instead of many boxes but we don't use that because the image_upload_error doesn't belog in that box and it's hard to separate them. #}
    {# Besides, these checks are performed client-side, so they'll rarely be shown anyway. #}
    {% for message in messages %}
      {% if message.message == 'missing_title' %}
        <div class="alert alert-error">
          Du må fylle inn en tittel på annonsen!
        </div>
      {% elif message.message == 'invalid_email' %}
        <div class="alert alert-error">
          Du må fylle inn en gyldig e-postadresse! Du vil motta svar på annonsen på denne adressen. Adressen vises ikke i annonsen.
        </div>
      {% elif message.message == 'missing_text' %}
        <div class="alert alert-error">
          Du får neppe napp med mindre du skriver litt om hvem du er, eller hva du er ute etter, i annonsen.
        </div>
      {% elif message.message == 'image_upload_error' %}
        <div class="alert alert-error">
          <strong>Beklager, det oppstod en feil ved opplasting av bilde.</strong><br>
          Er du sikker på at du prøvde å laste opp en gyldig bildefil? Vennligst prøv igjen. Hvis feilen oppstår igjen, bør du kanskje prøve med et annet bilde.
        </div>
      {% endif %}
    {% endfor %}

    <form action="{% url 'fjelltreffen.views.save' %}" method="post" enctype="multipart/form-data" class="form-border form-default form-horizontal fjelltreffen-annonse-edit">
      {% csrf_token %}
      <input type="hidden" name="id" value="{{ annonse.id }}">

      <div class="control-group title">
        <label class="control-label" for="title">Tittel</label>
        <div class="controls">
          <input type="text" name="title" id="title" value="{{ annonse.title }}" placeholder="Skriv en annonsetittel..." class="input-xlarge">
          <span class="asterisk red">*</span>
        </div>
      </div>

      <div class="control-group email">
        <label class="control-label" for="email">E-postadresse</label>
        <div class="controls">
          <input type="text" name="email" id="email" value="{% firstof annonse.email user.get_email %}" placeholder="Din e-postadresse (vises ikke)" class="input-xlarge">
          <span class="asterisk red">*</span><br>
          <div class="hints">
            Svar blir sendt til denne adressen, men den vises ikke i annonsen.
          </div>
        </div>
      </div>


      <div class="control-group county">
        <label class="control-label" for="county">Jeg bor i</label>
        <div class="controls">
          <select name="county" id="county">
            {% for county in counties %}
              {% if annonse %}
                <option{% if annonse.county == county %} selected="selected"{% endif %} value="{{ county.id }}">{{ county.name }}</option>
              {% else %}
                <option{% if user.get_actor.get_clean_address.county == county %} selected="selected"{% endif %} value="{{ county.id }}">{{ county.name }}</option>
              {% endif %}
            {% endfor %}
            <option value="international"{% if annonse and not annonse.county %} selected{% elif not annonse and not user.get_actor.get_clean_address.county %} selected{% endif %}>Utlandet</option>
          </select>
        </div>
      </div>

      <div class="control-group image">
        <label class="control-label" for="image">Last opp bilde</label>
        <div class="controls">
          <input type="file" name="image" id="image"><br>
          {% if annonse.image %}
            <div class="hints existing-image-label">
              Du har lastet opp <a href="javascript:undefined" data-toggle="modal" data-target=".annonse-image-modal">dette</a> bildet. Hvis du laster opp nytt blir det gamle overskrevet.<br>
            </div>
          {% endif %}
          {# We're using double hints and hide here, because we'll want to show this text if the user deletes the image with AJAX. #}
          <div class="hints default-image-label{% if annonse.image %} hide{% endif %}">
            Bilde er valgfritt og vil vises i annonselistingen.
          </div>
        </div>
      </div>

      <div class="control-group text">
        <label class="control-label" for="text">Annonsetekst</label>
        <div class="controls">
          <textarea name="text" id="text" placeholder="Skriv annonsen din her...">{{ annonse.text }}</textarea>
        </div>
      </div>

      <div class="control-group hideage">
        <label class="control-label">Vis min alder som:</label>
        <div class="controls">
          <label class="radio" for="hideage_raw">
            <input type="radio" name="hideage" id="hideage_raw" value="raw"{% if not annonse.hideage %} checked{% endif %}>
            {{ user.get_actor.get_age }} år
          </label>
          <label class="radio" for="hideage_hide">
            <input type="radio" name="hideage" id="hideage_hide" value="hide"{% if annonse.hideage %} checked{% endif %}>
            {{ obscured_age }} år
          </label>
          <a href="javascript:undefined" class="hideage-info">Feil alder?</a>
          <div class="alert alert-info hideage-info hide">
            Din alder hentes fra medlemsregisteret. Hvis den skulle være feil må du kontakte <a href="{% url 'membership.views.service' %}">medlemsservice</a>.
          </div>
        </div>
      </div>

      {# This section contains 3 parts with some duplicated code, but I prefer that to complicated inline if-statements #}
      {% if not annonse.is_expired %}
        {# Hidden state is irrelevant if the annonse is expired. #}
        {% if annonse.hidden and not user.get_actor.has_paid %}
          {# Editing existing *hidden* annonse, and user hasn't paid - don't let them show the annonse #}
          <div class="control-group hide-annonse" title="Du kan ikke vise en skjult annonse når du ikke har betalt årskontingenten.">
            <label class="control-label">Synlighet</label>
            <div class="controls">
              <label class="radio" for="hidden_show">
                <input type="radio" name="hidden" id="hidden_show" value="show" disabled> Publiser annonsen
              </label>
              <label class="radio" for="hidden_hide">
                <input type="radio" name="hidden" id="hidden_hide" value="hide" checked disabled> Skjul annonsen
              </label>
              <div class="hints">
                Ingen kan se eller svare på annonsen mens den er skjult.
              </div>
            </div>
          </div>
        {% elif other_active_annonse_exists %}
          {# User already has an active one #}
          <div class="control-group hide-annonse">
            <div class="controls">
              Du har allerede en annen synlig annonse, derfor blir denne skjult når du lagrer den. Du kan bytte synlig annonse etterpå, under "Mine annonser".
            </div>
          </div>
        {% else %}
          {# No special state, let the user do as they please #}
          <div class="control-group hide-annonse">
            <label class="control-label">Synlighet</label>
            <div class="controls">
              <label class="radio" for="hidden_show">
                <input type="radio" name="hidden" id="hidden_show" value="show"{% if not annonse.hidden %} checked{% endif %}> Publiser annonsen
              </label>
              <label class="radio" for="hidden_hide">
                <input type="radio" name="hidden" id="hidden_hide" value="hide"{% if annonse.hidden %} checked{% endif %}> Skjul annonsen
              </label>
              <div class="hints">
                Ingen kan se eller svare på annonsen mens den er skjult.
              </div>
            </div>
          </div>
        {% endif %}
      {% endif %}

      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">
            {% if annonse.is_expired or other_active_annonse_exists or annonse.hidden and not user.get_actor.has_paid %}
              Lagre annonsen
            {% else %}
              <span class="save{% if not annonse.hidden %} hide{% endif %}">Lagre annonsen</span>
              <span class="publish{% if annonse.hidden %} hide{% endif %}">Publiser annonsen</span>
            {% endif %}
          </button>
          {% if annonse %}
            <a class="btn btn-danger delete" href="{% url 'fjelltreffen.views.delete' annonse.id %}">Slett</a>
          {% endif %}
        </div>
      </div>

    </form>

  </div>
  <div class="span3">
    {% if annonse %}
      {% include 'main/fjelltreffen/navigation.html' %}
    {% else %}
      {% include 'main/fjelltreffen/navigation.html' with active='new' %}
    {% endif %}
  </div>
</div>

{% if annonse.image %}
  <div class="modal annonse-image-modal hide">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">X</button>
      <h3>Annonsebilde</h3>
    </div>
    <div class="modal-body">
      <p>
        <img src="{{ annonse.get_image_url }}" alt="Annonsebilde">
      </p>
    </div>
    <div class="modal-footer">
      <p class="delete pull-left">
        <button class="btn btn-danger delete-image" data-href="{% url 'fjelltreffen.views.delete_image' annonse.id %}"><i class="icon-remove"></i> Slett bildet fra annonsen</button>
      </p>
      <p class="loading hide">
        <img src="{{ STATIC_URL }}img/ajax-loader-large.gif" alt="Laster, vennligst vent...">
      </p>
      <p class="modal-close">
        <a href="javascript:undefined" class="btn" data-dismiss="modal">Lukk vindu</a>
      </p>
    </div>
  </div>
{% endif %}

{% advertisement %}

{% endblock %}
