<select class="genderselect">
  <option>Alle Kjønn</option>
  <option value="f">Kvinner</option>
  <option value="m">Menn</option>
</select>

Fra:
<select class="lowerageselect">
  <option selected="selected" value="18">18 år</option>
  <option value="25">25 år</option>
  <option value="30">30 år</option>
  <option value="35">35 år</option>
  <option value="40">40 år</option>
  <option value="45">45 år</option>
  <option value="50">50 år</option>
  <option value="55">55 år</option>
  <option value="60">60 år</option>
  <option value="65">65 år</option>
  <option value="70">70 år</option>
  <option value="75">75 år</option>
  <option value="80">80 år</option>
</select>

Til:
<select class="upperageselect">
  <option value="25">24 år</option>
  <option value="30">29 år</option>
  <option value="35">34 år</option>
  <option value="40">39 år</option>
  <option value="45">44 år</option>
  <option value="50">49 år</option>
  <option value="55">54 år</option>
  <option value="60">59 år</option>
  <option value="65">64 år</option>
  <option value="70">69 år</option>
  <option value="75">74 år</option>
  <option value="80">79 år</option>
  <option selected="selected" value="200">200 år</option>
</select>

Fra:
{% include 'main/fjelltreffen/fylkelist.html' with selectedfylkecode=0 includeall='True' %}
