<select class="genderselect">
  <option value="">Begge kjønn</option>
  <option value="f">Kvinner</option>
  <option value="m">Menn</option>
</select>

Fra:
<select class="lowerageselect">
  {% for age in age_limits|slice:":-1" %}
    <option value="{{ age }}">{{ age }} år</option>
  {% endfor %}
</select>

Til:
<select class="upperageselect">
  {% for age in age_limits|slice:"1:" %}
    <option value="{{ age|add:-1 }}">{{ age|add:-1 }} år</option>
  {% endfor %}
  <option value="" selected>Alle</option>
</select>

Fra:
<select class="countyselect">
  <option value="00" selected>Hele landet</option>
  {% for county in counties %}
    <option value="{{ county.code }}">{{ county.name }}</option>
  {% endfor %}
</select>
