{% extends 'main/layout.html' %}

{% block title %}Fjelltreffen{% endblock %}
{% block breadcrumb_title %}Fjelltreffen{% endblock %}

{% block body %}

<div class="row">

  <div class="span9">
    <h2>Fjelltreffen</h2>

    
    
    {% if annonser %}
      {% for annonse in annonser %}
        <a href="{% url fjelltreffen.views.show annonse.id %}"><h3>{{ annonse.title }}</h3></a>
        <p>{{ annonse.get_gender }}, {{ annonse.get_age }}, {{ annonse.fylke.name }}, {{ annonse.timeadded|date:"d.m.Y" }}</p>
        <p>{{ annonse.text|linebreaksbr }}</p>
      {% endfor %}
    {% else %}
      <p>Ingen annonser siste 3 måneder.<br>Hvorfor ikke legge inn en annonse? Trykke på "Legg inn annonse" i menyen til høyre.</p>
    {% endif %}
  </div>

  <div class="span3">
    {% include 'main/fjelltreffen/navigation.html' with active='index' %}
  </div>

</div>

{% endblock %}
