{% extends 'main/layout.html' %}

{% load advertisement %}

{% block title %}Fjelltreffen{% endblock %}

{% block breadcrumb %}
  <em><a href="{% url 'fjelltreffen.views.index' %}">Fjelltreffen</a></em>
{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/fjelltreffen/list.js"></script>
{% endblock%}

{% block body %}

<div class="row">
  <div class="span12">
    <h1>Fjelltreffen</h1>
  </div>
</div>

<div class="row">
  <div class="span9">

    <div class="fjelltreffen-list" data-start-index="{{ start_index }}" data-load-url="{% url 'fjelltreffen.views.load' %}">
      <p class="lede">
        På Fjelltreffen kan du søke etter turfølge &mdash; kanskje for livet? Søk i annonsene nedenfor eller <a href="{% url 'fjelltreffen.views.new' %}">legg ut din egen annonse</a>.
      </p>

      {% include 'main/fjelltreffen/filter.html' %}

      <table class="table table-hover list-public">
        {% include 'main/fjelltreffen/annonselist.html' %}
      </table>

      <div class="load-more">
        <img class="ajaxloader hide" src="/static/img/ajax-loader-large.gif" alt="Laster, vennligst vent...">
        <button class="btn btn-large load{% if annonser|length == 0 or end %} hide{% endif %}"><i class="icon-refresh"></i> Last flere annonser</button>
      </div>

      <div class="no-matches alert alert-error{% if annonser|length > 0 %} hide{% endif %}">
        Vi fant ingen annonser på dette søket - prøv å endre søkekriteriene dine.<br>

        {# Temporary #}
        I en overgangsperiode finner du også annonser på <a href="https://www2.turistforeningen.no/fjelltreffen">de gamle Fjelltreffen-sidene</a>.<br>

        Hva med å <a href="{% url 'fjelltreffen.views.new' %}">legge ut en annonse</a> selv?<br><br>
        Visste du forresten at DNTs medlemsforeninger arrangerer egne <a href="http://www2.turistforeningen.no/activity.php?fo_id=2513&search_string&ac_cat=singeltur">turer for single</a>?
      </div>

      <div class="no-further-matches alert alert-error{% if annonser|length == 0 or not end %} hide{% endif %}">
        Dette var alle annonsene som passet søket ditt. Endre søkekriteriene for å finne flere eller færre annonser.<br>

        {# Temporary #}
        I en overgangsperiode finner du også annonser på <a href="https://www2.turistforeningen.no/fjelltreffen">de gamle Fjelltreffen-sidene</a>.<br>

        Hva med å <a href="{% url 'fjelltreffen.views.new' %}">legge ut en annonse</a> selv?<br><br>
        Visste du forresten at DNTs medlemsforeninger arrangerer egne <a href="http://www2.turistforeningen.no/activity.php?fo_id=2513&search_string&ac_cat=singeltur">turer for single</a>?
      </div>
    </div>
  </div>

  <div class="span3">
    {% include 'main/fjelltreffen/navigation.html' with active='index' %}
  </div>

</div>

{% advertisement %}

{% endblock %}
