{% extends 'main/layout.html' %}

{% block breadcrumb %}
  <em><a href="{% url fjelltreffen.views.index %}">Fjelltreffen</a></em>
{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/fjelltreffen/fjelltreffen-list.js"></script>
{% endblock%}

{% block body %}

<div class="row">
  <div class="span9">

    <div class="fjelltreffen wrapper" data-start-index="{{ start_index }}">
      <h2>Fjelltreffen</h2>

      <div class="alert alert-info">
        <a class="close">x</a>
        Velkommen til nye fjelltreffen! <br>
        Hvis du har annonser på gamle
        fjelltreffen blir de automatisk lagt inn her når du <a href="{% url user.views.home_new %}">logger inn</a>.<br>
        Hvis du vil besøke gamle fjelltreffen kan du trykke <a href="http://www2.turistforeningen.no/fjelltreffen">her</a>.
      </div>

      {% include 'main/fjelltreffen/filter.html' %}

      <div class="annonse-list-wrapper">
        {% if annonser %}
          {% include 'main/fjelltreffen/annonselist.html' %}
        {% else %}
          <p>Det er ikke lagt ut noen annonser de siste {{ annonse_retention_days }} dagene.<br>
          Hvorfor ikke <a href="{% url fjelltreffen.views.new %}">legge inn en annonse</a>?</p>
        {% endif %}
      </div>

      <div class="load-more">
        <img class="ajaxloader hide" src="/static/img/ajax-loader-large.gif" alt="Laster, vennligst vent...">
        <button class="btn btn-large load"><i class="icon-refresh"></i> Last flere annonser</button>
      </div>

      <div class="no-matches alert alert-error hide">
        Fant ingen treff på dette søket - prøv å endre søkekriteriene dine.
      </div>

      <div class="no-further-matches alert alert-error hide">
        Dette var alle annonsene som matchet søket ditt.
      </div>
    </div>
  </div>

  <div class="span3">
    {% include 'main/fjelltreffen/navigation.html' with active='index' %}
  </div>

</div>

{% endblock %}
