{% extends 'main/layout.html' %}

{% block title %}Fjelltreffen{% endblock %}
{% block breadcrumb %}
  <a href="{% url fjelltreffen.views.index %}">Fjelltreffen</a> / <em><a href="{% url fjelltreffen.views.mine %}">Mine Annonser</a></em>
{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/fjelltreffen/fjelltreffen-list.js"></script>
{% endblock%}

{% block body %}

<div class="row">
  <div class="span9">

    <div class="wrapper">
    <h2>Mine annonser</h2>

    <div class="annonse-list-wrapper">
    {% if annonser%}
      {% include 'main/fjelltreffen/annonselist.html' with active='mine'%}
    {% else %}
      <p>Du har ikke lagt ut noen annonser.<br>
      Hvorfor ikke legge inn en annonse? Trykke på "Legg inn annonse" i menyen til høyre.</p>
    {% endif %}
    </div>
  </div>
  </div>

  <div class="span3">
    {% include 'main/fjelltreffen/navigation.html' with active='mine' %}
  </div>

</div>
</div>

{% endblock %}
