{% extends 'main/layout.html' %}

{% load gender %}

{% block title %}Mine annonser — Fjelltreffen{% endblock %}
{% block breadcrumb %}
  <a href="{% url fjelltreffen.views.index %}">Fjelltreffen</a> / <em><a href="{% url fjelltreffen.views.mine %}">Mine annonser</a></em>
{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/fjelltreffen/mine.js"></script>
{% endblock%}

{% block body %}

<div class="row">
  <div class="span9">

    <div class="fjelltreffen-list">
      <h2>Mine annonser</h2>

      {% for message in messages %}
        {% if message.message == 'max_one_active_annonse' %}
          <div class="alert alert-error">
            <a class="close">x</a>
            <strong>Du kan ikke ha mer enn én synlig annonse!</strong><br>
            Annonsen du valgte er blitt synlig, men den som var synlig sist er nå blitt skjult. Kun én annonse kan være synlig om gangen, så du må velge hvilken du vil vise.
          </div>
        {% elif message.message == 'membership_not_payed' %}
          <div class="alert alert-error">
            <a class="close">x</a>
            <strong>Du kan ikke publisere en ny annonse fordi du har ikke betalt medlemskontingenten.</strong><br>
            For å legge ut annonser i Fjelltreffen må du være medlem og ha betalt årskontingenten. Du kan bruke <a href="{% url enrollment.views.index %}">innmeldingsskjemaet</a> til å fornye ditt medlemskap, selv om du allerede er medlem. Merk at innbetalingen ikke blir registrert i medlemssystemet før påfølgende virkedag! Det kan derfor ta litt tid fra du betaler til du får tilgang til Fjelltreffen — vær tålmodig!
          </div>
        {% endif %}
      {% endfor %}

      {% if annonser|length > 0 %}

        <table class="table table-hover list-mine">

          {% for annonse in annonser %}
            <tr>
              <td>
                <h3><a href="{% url fjelltreffen.views.edit annonse.id %}">{{ annonse.title }}</a></h3>
                <p class="details">
                  {{ annonse.profile.get_actor.get_gender|gender|title }}, {{ annonse.get_age }} år, {{ annonse.county.name }}, {{ annonse.date_added|date:"j. F Y" }}<br>
                  {% if not annonse.is_expired %}
                    Annonsen vil ligge ute i {{ annonse.expires_in_days }} dager.
                  {% endif %}
                </p>
                <p>{{ annonse.text|truncatechars:100 }}</p>
              </td>
              <td class="status">
                {% if not annonse.hidden and not annonse.is_expired %}
                  <span class="label label-success">Synlig</span><br>
                  <a href="{% url fjelltreffen.views.hide_mine annonse.id %}">Skjul</a>
                {% elif annonse.hidden and not annonse.is_expired %}
                  <span class="label label-warning">Skjult</span><br>
                  <a href="{% url fjelltreffen.views.show_mine annonse.id %}">Vis</a>
                {% endif %}
              </td>
              <td class="expiration">
                {% if not annonse.is_expired %}
                  <span class="label label-{% if not annonse.hidden %}success{% else %}warning{% endif %}">{{ annonse.expires_in_days }} dager igjen</span><br>
                {% else %}
                  <span class="label label-important expired" title="Annonsen har lagt ute i over {{ annonse_retention_days }} dager og er derfor utgått.">Utgått</span><br>
                {% endif %}
                {% if annonse.expires_in_days < annonse_retention_days %}
                  <a href="{% url fjelltreffen.views.renew_mine annonse.id %}">Forny</a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}

        </table>

      {% else %}

        <p>
          Du har ikke lagt ut noen annonser.<br>
          Hvorfor ikke <a href="{% url fjelltreffen.views.new %}">legge ut en annonse</a>?
        </p>

      {% endif %}
    </div>
  </div>

  <div class="span3">
    {% include 'main/fjelltreffen/navigation.html' with active='mine' %}
  </div>
</div>

{% endblock %}
