{% extends 'main/layout.html' %}

{% load gender %}

{% block title %}Mine annonser — Fjelltreffen{% endblock %}
{% block breadcrumb %}
  <a href="{% url fjelltreffen.views.index %}">Fjelltreffen</a> / <em><a href="{% url fjelltreffen.views.mine %}">Mine Annonser</a></em>
{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/fjelltreffen/list.js"></script>
{% endblock%}

{% block body %}

<div class="row">
  <div class="span9">

    <div class="fjelltreffen-list">
      <h2>Mine annonser</h2>
        {% if annonser.not_expired|length > 0 or annonser.expired|length > 0 %}

          <table class="table table-hover list-mine">

            {% for annonse in annonser.not_expired %}
              <tr>
                <td>
                  <div class="annonse">
                    <h3><a href="{% url fjelltreffen.views.edit annonse.id %}">{% if annonse.hidden %}[Skjult] {% endif %}{{ annonse.title }}</a></h3>
                    <p class="details">{{ annonse.profile.get_actor.get_gender|gender|title }}, {{ annonse.get_age }} år, {{ annonse.county.name }}, {{ annonse.date|date:"j. F Y" }}</p>
                    <p>{{ annonse.text|truncatechars:100 }}</p>
                  </div>
                </td>
                <td>
                  {% if annonse.expires_in == 0 %}
                    Utgår i natt
                  {% else %}
                    {{ annonse.expires_in }} dager igjen
                  {% endif %}
                </td>
              </tr>
            {% endfor %}

            {% if annonser.expired|length > 0 %}
              <tr class="expired">
                <td colspan="2">
                  Følgende annonser er utgått på dato og vises ikke.
                </td>
              </tr>
            {% endif %}

            {% for annonse in annonser.expired %}
              <tr>
                <td>
                  <div class="annonse">
                    <h3><a href="{% url fjelltreffen.views.edit annonse.id %}">{% if annonse.hidden %}[Skjult] {% endif %}{{ annonse.title }}</a></h3>
                    <p class="details">{{ annonse.profile.get_actor.get_gender|gender|title }}, {{ annonse.get_age }} år, {{ annonse.county.name }}, {{ annonse.date|date:"j. F Y" }}</p>
                    <p>{{ annonse.text|truncatechars:100 }}</p>
                  </div>
                </td>
                <td>
                  Utgått
                </td>
              </tr>
            {% endfor %}

          </table>

        {% else %}

          <p>
            Du har ikke lagt ut noen annonser.<br>
            Hvorfor ikke <a href="{% url fjelltreffen.views.new %}">legge ut en annonse</a>?
          </p>

        {% endif %}
    </div>
  </div>

  <div class="span3">
    {% include 'main/fjelltreffen/navigation.html' with active='mine' %}
  </div>
</div>

{% endblock %}
