<div class="well nav-container">
  <ul class="nav nav-list">
    <li class="nav-header">Fjelltreffen-meny</li>
    <li{% if active == 'index' %} class="active"{% endif %}><a href="{% url fjelltreffen.views.index %}">Alle annonser</a></li>
    <li{% if active == 'new' %} class="active"{% endif %}><a href="{% url fjelltreffen.views.new %}">Legg inn annonse</a></li>
    <li{% if active == 'mine' %} class="active"{% endif %}><a href="{% url fjelltreffen.views.mine %}">Mine annonser</a></li>
  </ul>
</div>
