{% extends 'main/layout.html' %}

{% block title %}Fjelltreffen{% endblock %}
{% block breadcrumb_title %}Ny annonse{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/fjelltreffen/fjelltreffen-edit.js"></script>
{% endblock%}

{% block body %}

<div class="row">
  {% if annonse %}
  <div class="span9">
    <div class="annonse" data-hidden="{{ annonse.hidden }}" data-id="{{ annonse.id }}">
      <h2>Rediger Annonse</h2>

      <div class="control-group annonse-title-control">
        <input type="text" class="annonse-title input-large" value="{{ annonse.title }}" placeholder="Tittel">
      </div>

      <div class="control-group annonse-email-control">
        <input type="text" class="annonse-email input-large" value="{{ annonse.email }}" placeholder="Epost">
      </div>

      {% include 'main/fjelltreffen/fylkelist.html' with selectedfylkecode=annonse.fylke.code %}<br>

      <textarea class="annonse-text" placeholder="Skriv annonsen din her...">{{ annonse.text }}</textarea><br>
      <input type="checkbox" class="annonse-hideage" {% if annonse.hideage %}checked="checked"{% endif %}>Skjul min presise alder<br>
      <input type="checkbox" class="annonse-hide" {% if annonse.hidden %}checked="checked"{% endif %}>Ikke legg ut annonsen (velg dette hvis du vil lagre annonsen men ikke er helt ferdig med å skrive den enda)<br>
      <br>
      <button class="btn btn-success save-annonse">Lagre</button>
      <button class="btn btn-danger delete-annonse">Slett</button>
    </div>
  </div>
  <div class="span3">
  {% include 'main/fjelltreffen/navigation.html' with active='None' %}
  </div>
  {% elif new %}
  <div class="span9">
    <div class="annonse" data-hidden="true">
      <h2>Ny Annonse</h2>

      <div class="control-group annonse-title-control">
        <input type="text" class="annonse-title input-large"  placeholder="Tittel"><span class="asterisk red"> *</span>
      </div>

      <div class="control-group annonse-email-control">
        <input type="text" class="annonse-email input-large" value="{{ user.get_email }}" placeholder="Epost"><span class="asterisk red"> *</span>
      </div>

      {% include 'main/fjelltreffen/fylkelist.html' with selectedfylkecode=user.get_county %}<br>
      <textarea class="annonse-text" placeholder="Skriv annonsen din her..."></textarea><br>
      <input type="checkbox" class="annonse-hideage">Ikke vis min virkelige alder<br>
      <input type="checkbox" class="annonse-hide">Ikke legg ut annonsen (velg dette hvis du vil lagre annonsen men ikke er helt ferdig med å skrive den enda)<br>
      <br>
      <button class="btn btn-success save-annonse">Lagre</button>
      <button style="display:none" class="btn btn-danger delete-annonse">Slett</button>
    </div>
  </div>
  <div class="span3">
  {% include 'main/fjelltreffen/navigation.html' with active='new' %}
  </div>
  {% else %}
  <div class="span9">
    <h3>Fant ikke annonsen:</h3>
    <p>Kunne ikke finne annonsen, er du logget på?</p>
  </div>
  <div class="span3">
  {% include 'main/fjelltreffen/navigation.html' with active='None' %}
  </div>
  {% endif %}

</div>

{% endblock %}
