{% extends 'main/layout.html' %}

{% block title %}Fjelltreffen{% endblock %}
{% block breadcrumb_title %}Ny annonse{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/fjelltreffen/fjelltreffen-edit.js"></script>
{% endblock%}

{% block body %}

<div class="row">
  {% if annonse %}
  <div class="span9">
    <div class="annonse" data-hidden="{{ annonse.hidden }}" data-id="{{ annonse.id }}">
      <h3>Rediger Annonse:</h3>
      <input class="annonse-title" type="text" value="{{ annonse.title }}" placeholder="Tittel"></input><br>
      <input class="annonse-email" type="text" value="{{ annonse.email }}" placeholder="Epost"></input><br>
      {% include 'main/fjelltreffen/fylkelist.html' with selectedfylkecode=annonse.fylke.code %}<br>
      <textarea class="annonse-text" rows="10" cols="50" placeholder="Skriv annonsen din her...">{{ annonse.text|linebreaksbr }}</textarea><br>
      <input type="checkbox" class="annonse-hideage" {% if annonse.hideage %}checked="checked"{% endif %}>Skjul min presise alder<br>
      <br>
      <button class="btn save-annonse">Lagre</button>
      <button {% if not annonse.hidden %}style="display:none"{% endif %}class="btn publish-annonse">Publiser og lagre</button>
      <button {% if annonse.hidden %}style="display:none"{% endif %}class="btn hide-annonse">Skjul</button>
      <button class="btn delete-annonse">Slett</button>
    </div>
  </div>
  <div class="span3">
  {% include 'main/fjelltreffen/navigation.html' with active='None' %}
  </div>
  {% elif new %}
  <div class="span9">
    <div class="annonse" data-hidden="true">
      <h3>Ny Annonse:</h3>
      <input class="annonse-title" type="text" placeholder="Tittel"></input><br>
      <input class="annonse-email" type="text" placeholder="Epost" value="{{ user.get_email }}"></input><br>
      {% include 'main/fjelltreffen/fylkelist.html' with selectedfylkecode=user.get_county %}<br>
      <textarea class="annonse-text" rows="10" cols="50" placeholder="Skriv annonsen din her..."></textarea><br>
      <input type="checkbox" class="annonse-hideage">Skjul min presise alder<br>
      <br>
      <button class="btn save-annonse">Lagre</button>
      <button class="btn publish-annonse">Publiser og lagre</button>
      <button style="display:none" class="btn hide-annonse">Skjul</button>
      <button style="display:none" class="btn delete-annonse">Slett</button>
    </div>
  </div>
  <div class="span3">
  {% include 'main/fjelltreffen/navigation.html' with active='new' %}
  </div>
  {% else %}
  <div class="span9">
    <h3>Fant ikke annonsen:</h3>
    <p>Kunne ikke finne annonsen, er du logget på?</p>
  </div>
  <div class="span3">
  {% include 'main/fjelltreffen/navigation.html' with active='None' %}
  </div>
  {% endif %}

</div>

{% endblock %}
