{% extends 'main/layout.html' %}

{% block title %}Fjelltreffen{% endblock %}
{% block breadcrumb %}
  <a href="{% url fjelltreffen.views.index %}">Fjelltreffen</a> / <em><a href="{% url fjelltreffen.views.new %}">Ubetalt medlemskontigent</a></em>
{% endblock %}

{% block body %}

<div class="row">
  <div class="span9">
    <h2>Ikke betalt</h2>
    <p>
      For å legge ut annonser i fjelltreffen må du være medlem og ha betalt årskontigenten.<br>
      <br>
      Du kan betale årskontigenten <a href="{% url user.views.become_member %}">her</a>.<br>
      Trykk <a href="{% url fjelltreffen.views.index %}">her</a> for å gå tilbake til fjelltreffen.
    </p>
  </div>
  <div class="span3">
    {% include 'main/fjelltreffen/navigation.html' %}
  </div>
</div>

{% endblock %}
