{% extends 'main/layout.html' %}

{% load gender %}
{% load advertisement %}

{% block title %}Fjelltreffen{% endblock %}
{% block breadcrumb %}
  <a href="{% url 'fjelltreffen.views.index' %}">Fjelltreffen</a> / <a href="{% url 'fjelltreffen.views.show' annonse.id %}">{{ annonse.title }}</a> / <em>Svar sendt</em>
{% endblock %}

{% block body %}

<div class="row">
  <div class="span9">

    <div class="alert alert-success">
      <strong>Svaret ditt er sendt til annonsøren.</strong><br>
      {% if annonse.profile.get_actor.get_gender|gender == 'mann' %}Han{% else %}Hun{% endif %} vil motta en e-post med ditt svar. Eventuell videre korrespondanse foregår direkte via e-post eller på annen ønsket måte.
    </div>

    <div class="fjelltreffen-reply">

      <h2>Ditt svar:</h2>

      <p class="details">
        Fra: {{ reply.name }} &lt;<a href="mailto:{{ reply.email }}">{{ reply.email }}</a>&gt;<br>
        Re: {{ annonse.title }}
      </p>

      <pre>{{ reply.text }}</pre>
    </div>

    <p><a href="{% url 'fjelltreffen.views.index' %}">Tilbake til forsiden</a></p>

  </div>

  <div class="span3">
    {% include 'main/fjelltreffen/navigation.html' with active='None' %}
  </div>

</div>

{% advertisement %}

{% endblock %}
