{% extends 'main/layout.html' %}

{% load gender %}

{% block title %}Fjelltreffen{% endblock %}
{% block breadcrumb %}
{% if annonse %}
  <a href="{% url fjelltreffen.views.index %}">Fjelltreffen</a> / <em><a href="{% url fjelltreffen.views.show requestedid %}">{{ annonse.title }}</a></em>
{% else %}
  <a href="{% url fjelltreffen.views.index %}">Fjelltreffen</a> / <em><a href="{% url fjelltreffen.views.show requestedid %}">Ikke Funnet</a></em>
{% endif %}
{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/fjelltreffen/fjelltreffen-reply.js"></script>
{% endblock%}

{% block body %}

<div class="row">

  <div class="span9">
    {% if annonse %}
      <div class="fjelltreffen-annonse" data-id="{{ annonse.id }}">
        <h2>{{ annonse.title }}</h2>
        {% if annonse.image %}
          <div class="pull-right image-container">
            <img src="{{ annonse.get_image_url }}" alt="{{ annonse.title }}">
          </div>
        {% endif %}
        <p class="details">
          {{ annonse.profile.get_actor.get_gender|gender|title }}, {{ annonse.get_age }} år, {{ annonse.county.name }}, {{ annonse.timeadded|date:"j. F Y" }}
        </p>

        <p>{{ annonse.text|linebreaksbr }}</p>
        <br>
        <h3>Her kan du svare på annonsen:</h3>

        <div class="control-group annonsereply-name-control">
          <input type="text" class="annonsereply-name input-large"  placeholder="Navn"><span class="asterisk red"> *</span>
        </div>

        <div class="control-group annonsereply-email-control">
          <input type="text" class="annonsereply-email input-large"  placeholder="Epost"><span class="asterisk red"> *</span>
        </div>

        <textarea class="annonsereply-text" placeholder="Skriv svaret ditt her..."></textarea><br>
        <button class="btn btn-success annonsereply-send">Send</button>
      </div>
      {% else %}
        <h2>Ikke funnet</h2>
        <p>Annonsen du leter etter ble ikke funnet. Den kan ha gått ut på dato, eller blitt slettet av annonsøren.</p>
      {% endif %}
  </div>

  <div class="span3">
    {% include 'main/fjelltreffen/navigation.html' with active='None' %}
  </div>

</div>

{% endblock %}
