{% extends 'main/layout.html' %}

{% load gender %}

{% block title %}Fjelltreffen{% endblock %}
{% block breadcrumb %}
  <a href="{% url fjelltreffen.views.index %}">Fjelltreffen</a> / <em><a href="{% url fjelltreffen.views.show annonse.id %}">{{ annonse.title }}</a></em>
{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/fjelltreffen/reply.js"></script>
{% endblock%}

{% block body %}

<div class="row">
  <div class="span9">

    <div class="fjelltreffen-annonse">
      <h2>{{ annonse.title }}</h2>
      {% if annonse.image %}
        <div class="pull-right image-container">
          <img src="{{ annonse.get_image_url }}" alt="{{ annonse.title }}">
        </div>
      {% endif %}
      <p class="details">
        {{ annonse.profile.get_actor.get_gender|gender|title }}, {{ annonse.get_age }} år, {{ annonse.county.name }}, {{ annonse.date|date:"j. F Y" }}
      </p>

      <p>{{ annonse.text|linebreaksbr }}</p>
    </div>

    <hr>

    {% if annonse.profile == user.get_profile %}

      <p><em>Dette er din annonse. Du kan <a href="{% url fjelltreffen.views.edit annonse.id %}">redigere den her</a>.</em></p>

    {% else %}

      <div class="fjelltreffen-response">

        {# Messages are technical errors when delivering email, both reply and report #}
        {% for message in messages %}
          {% if message.message == 'email_reply_failure' %}
            <div class="alert alert-error">
              <a class="close">x</a>
              <p><strong>Teknisk feil!</strong></p>
              <p>
                Vi beklager, det oppstod en teknisk feil ved sending av svaret ditt. Vi har logget feilen, og dersom det er noe galt med systemene våre vil vi se på problemet så snart som mulig.
              </p>
              <p>
                Du kan prøve igjen når som helst. Hvis feilen ikke går bort, kan det kanskje hende at det er noe galt med e-postadressen til annonsøren.
              </p>
            </div>
          {% elif message.message == 'email_report_failure' %}
            <div class="alert alert-error">
              <a class="close">x</a>
              <p><strong>Teknisk feil!</strong></p>
              <p>
                Vi beklager, det oppstod en teknisk feil ved sending av anmeldelsen. Vi har logget feilen, og dersom det er noe galt med systemene våre vil vi se på problemet så snart som mulig.
              </p>
              <p>
                Du kan prøve igjen når som helst. Hvis feilen ikke går bort, kan du kontakte <a href="{% url membership.views.service %}">medlemsservice</a> direkte for å rapportere annonsen.
              </p>
            </div>
          {% endif %}
        {% endfor %}

        {# Form errors (for replies) #}
        {% if form.errors %}
          <div class="alert alert-error">
            <a class="close">x</a>
            <strong>Vennligst rett følgende feil i skjemaet:</strong>
            <ul>
              {% for errors in form.errors.values %}
                {% for error in errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              {% endfor %}
            </ul>
          </div>
        {% endif %}

        {# Anchors for slidedown - hide if errors are present #}
        {% if messages|length == 0 and not form.errors %}
          <ul class="response">
            <li><a href="javascript:undefined" data-response="reply">Svar på annonsen!</a></li>
            <li>
              Opplever du annonsen som støtende eller upassende?
              {% if user.is_authenticated %}
                <a href="javascript:undefined" data-response="report">Gi oss beskjed!</a>
              {% else %}
                {# You must be logged in to report annonser - just link directly to the login page #}
                <a href="{% url user.login.views.login %}?next={% url fjelltreffen.views.show annonse.id %}">Gi oss beskjed!</a>
              {% endif %}
            </li>
          </ul>
        {% endif %}

        {# Replies - show if already filled and there were errors #}
        <div class="reply{% if not form.errors and not email_reply_failure %} hide{% endif %}">

          <form action="{% url fjelltreffen.views.show annonse.id %}" method="post" class="form-default fjelltreffen-annonse-reply"{% if reply %} data-prefilled{% endif %}>
            {% csrf_token %}

            <div class="control-group name">
              {{ form.name }} <span class="asterisk red">*</span>
            </div>

            <div class="control-group email">
              {{ form.email }} <span class="asterisk red">*</span>
            </div>

            <div class="control-group text">
              {{ form.text }}
            </div>

            {% if form.captcha %}
              {# Will only be required for anonymous users #}
              <div class="control-group captcha">
                {{ form.captcha }}
              </div>
            {% endif %}

            <button type="submit" class="btn btn-success">Send</button>
          </form>

        </div>

        {# Report - show if filled and technical error #}
        <div class="report{% if messages|length == 0 or not report %} hide{% endif %}">

          <p>
            <em>Vi setter pris på at du gir oss beskjed om upassende innhold på Fjelltreffen. Du kan selv velge om du vil oppgi en begrunnelse.</em>
          </p>

          <form action="{% url fjelltreffen.views.report annonse.id %}" method="post" class="form-default fjelltreffen-annonse-report">
            {% csrf_token %}

            <div class="control-group text">
              <textarea name="reason" placeholder="Oppgi begrunnelsen din her...">{{ report.reason }}</textarea>
            </div>

            <button type="submit" class="btn btn-danger"><i class="icon-warning-sign"></i> Send anmeldelse</button>
          </form>
        </div>

      </div>

    {% endif %}

  </div>

  <div class="span3">
    {% include 'main/fjelltreffen/navigation.html' with active='None' %}
  </div>

</div>

{% endblock %}
