{% extends 'main/layout.html' %}

{% load gender %}

{% block title %}Fjelltreffen{% endblock %}
{% block breadcrumb %}
  <a href="{% url fjelltreffen.views.index %}">Fjelltreffen</a> / <a href="{% url fjelltreffen.views.show annonse.id %}">{{ annonse.title }}</a> / <em>Svar sendt</em>
{% endblock %}

{% block body %}

<div class="row">
  <div class="span9">

    {% for message in messages %}
      {% if message.message == 'success' %}
        <div class="alert alert-success">
          <strong>Svaret ditt er sendt til annonsøren.</strong><br>
          {% if annonse.profile.get_actor.get_gender|gender == 'mann' %}Han{% else %}Hun{% endif %} vil motta en e-post med ditt svar. Eventuell videre korrespondanse foregår direkte via e-post eller på annen ønsket måte.
        </div>
      {% endif %}
    {% endfor %}

    {% if reply %}

      <div class="fjelltreffen-reply">

        <h2>Ditt svar:</h2>

        <p class="details">
          Fra: {{ reply.name }} &lt;<a href="mailto:{{ reply.email }}">{{ reply.email }}</a>&gt;<br>
          Re: {{ annonse.title }}
        </p>

        <pre>{{ reply.text }}</pre>
      </div>

    {% endif %}

    <hr>

    <div class="fjelltreffen-annonse">
      <h2>{{ annonse.title }}</h2>
      {% if annonse.image %}
        <div class="pull-right image-container">
          <img src="{{ annonse.get_image_url }}" alt="{{ annonse.title }}">
        </div>
      {% endif %}
      <p class="details">
        {{ annonse.profile.get_actor.get_gender|gender|title }}, {{ annonse.get_age }} år, {{ annonse.county.name }}, {{ annonse.date|date:"j. F Y" }}
      </p>

      <p>{{ annonse.text|linebreaksbr }}</p>
      <br>
    </div>

  </div>

  <div class="span3">
    {% include 'main/fjelltreffen/navigation.html' with active='None' %}
  </div>

</div>

{% endblock %}
