{% extends 'main/layout.html' %}
{% block title %}Fjelltreffen{% endblock %}
{% block breadcrumb %}
  <a href="{% url 'fjelltreffen.views.index' %}">Fjelltreffen</a> / <em>Utilgjengelig</em>
{% endblock %}

{% block body %}

<div class="row">
  <div class="span12">
    <h1>Fjelltreffen</h1>

    <p class="lede">
      Fjelltreffen er dessverre utilgjengelig {{ focus_downtime.period_message }} på grunn av midlertidig vedlikehold.
    </p>

    <p>
      Vi vet det er en klisjé å si det, men vi beklager likevel ulempene det medfører!
    </p>
  </div>
</div>

{% endblock %}
