{% extends site.template.name|add:"/layout.html" %}

{% block title %}Nyheter{% endblock %}
{% block breadcrumb %}<em><a href="">Nyheter</a></em>{% endblock %}
{% block extra_js %}
  <script src="{{ STATIC_URL }}js/article-list.js"></script>
{% endblock %}

{% block body %}

<div class="row">
  <div class="span12">
    <div class="wrapper">
      <div class="article-listing" data-initial-count="{{ versions|length }}" data-url="{% url 'articles.views.more' %}">
        <h1>Nyheter{% if tag %} &mdash; {{ tag }}{% endif %}</h1>

        {% if tag %}
          <p>
            Viser artikler tagget med "<em>{{ tag }}</em>". <a href="{% url 'articles.views.index' %}">Vis alle artikler</a>.
          </p>
        {% endif %}

        {% for version in versions %}
          {% if forloop.counter0|divisibleby:"2" or forloop.first %}
            <div class="row-fluid" style="margin-bottom: 20px">
          {% endif %}

            {% include 'common/page/article-list-item.html' with version=version %}

          {% if not forloop.counter0|divisibleby:"2" or forloop.last %}
            </div>
          {% endif %}

        {% endfor %}
      </div>

      {% if site.domain == 'www.turistforeningen.no' %}
        <div class="old-article-listing hide" data-url="{% url 'articles.views.more_old' %}">
          <div class="alert alert-info">
            <a class="close">x</a>
            <strong>Eldre artikler</strong><br>
            Følgende artikler er automatisk importert fra vår gamle nettside.
          </div>
        </div>
      {% endif %}

      <div class="infinite-loader">
        <button class="btn btn-large">Se flere nyheter</button>

        <div class="loading form-border hide">
          <img src="{{ STATIC_URL }}img/ajax-loader-large.gif" alt="Laster, vennligst vent..."><br>
          Henter nyheter, vennligst vent...
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
