<div class="span6">
  <div class="media">
    <h2 class="media-heading">
      <a href="{% url 'articles.views.show' version.variant.article.id version.get_title_content.content|striptags|slugify %}">
        {{ version.get_title_content.content|striptags }}
      </a>
    </h2>
    <p class="date">{{ version.variant.article.pub_date|date:"j. F Y" }}</p>
    {% if not version.get_thumbnail.hide %}
      <a class="pull-left" href="{% url 'articles.views.show' version.variant.article.id version.get_title_content.content|striptags|slugify %}">
        <img class="media-object" src="{{ version.get_thumbnail.url }}" alt="{{ version.get_title_content.content|striptags }}">
      </a>
    {% endif %}
    <div class="media-body">
      <p>
        <a href="{% url 'articles.views.show' version.variant.article.id version.get_title_content.content|striptags|slugify %}">
          {{ version.get_lede_content.content|striptags|safe|truncatewords:60 }}
        </a>
      </p>
    </div>
  </div>
</div>
