{% load render_widget %}

<article>
  {% for row in rows %}
    <div class="row-fluid">
      {% for column in row.columns %}
        <div class="offset{{ column.offset }} span{{ column.span }}">
          {% for content in column.contents %}

            {% if content.type == 'html' or content.type == 'title' or content.type == 'lede' %}

              <div class="content {{ content.type }}">
                {{ content.content|safe }}
              </div>

            {% elif content.type == 'image' %}

              <div class="content image" style="{% if content.get_content.parentHeight %}height:{{ content.get_content.parentHeight }}px;{% endif %}"{% if content.get_cropping_json %} data-crop="{{ content.get_cropping_json }}"{% endif %}>
                {% if content.get_content.anchor %}<a href="{{ content.get_content.anchor }}">{% endif %}
                  <img src="{{ content.get_content.src }}" {% if content.get_content.style %}style="{{ content.get_content.style }}"{% endif %} alt="{{ content.get_content.description }}">
                {% if content.get_content.anchor %}</a>{% endif %}
                {% if content.get_content.description.strip or content.get_content.photographer %}
                  <div class="description">
                    {% if content.get_content.description.strip %}
                      {{ content.get_content.description }}
                    {% endif %}
                    {% if content.get_content.photographer %}
                      Foto: {{ content.get_content.photographer }}
                    {% endif %}
                  </div>
                {% endif %}
              </div>

            {% elif content.type == 'widget' %}

              {% render_widget content %}

            {% endif %}

          {% endfor %}
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</article>
