{% extends site.template|add:"/layout.html" %}
{% block title %}Søk{% endblock %}
{% block breadcrumb %}<em><a href="">Søk</a></em>{% endblock %}
{% block body %}

<div id="search-results">
  <h1>Søk</h1>

  {% if query_too_short %}

    <p>
      Vennligst bruk minst {{ search_char_limit }} tegn når du søker, ellers vil du få alt for mange treff.
    </p>

  {% else %}

    {% if pages|length > 0 or article_versions|length > 0 or old_articles|length > 0 or aktivitet_date_count > 0 %}

      <p class="hits">
        Søk på "<strong>{{ search_query }}</strong>" gav treff på
        {{ pages|length }} sider,
        {{ article_count }} nyheter, og
        {{ aktivitet_date_count }} aktiviteter.
        <br>
      </p>

      <h2>Fellesturer, kurs og aktiviteter</h2>

      {% if aktivitet_date_count > 0 %}

        <p>
          {{ aktivitet_date_count }} turer og aktiviteter inneholder "<strong>{{ search_query }}</strong>",
          disse finner du på <a href="{% url 'aktiviteter.views.index' %}?search={{ search_query }}">våre aktivitetsider</a>.
        </p>

      {% else %}

        <p>Ingen <a href="{% url 'aktiviteter.views.index' %}">turer eller aktiviteter</a> matchet søket.</p>

      {% endif %}

      <div class="row">
        <div class="col-md-6">

          <h2>Sider</h2>

          {% for page in pages %}
            <div class="search-result">
              <h3>
                <a href="http://{{ site.domain }}/{% if page.slug %}{{ page.slug }}/{% endif %}">{{ page.title }}</a>
              </h3>
              <p class="url">
                <a href="http://{{ site.domain }}/{% if page.slug %}{{ page.slug }}/{% endif %}">
                  http://{{ site.domain }}/{% if page.slug %}{{ page.slug }}/{% endif %}
                </a>
              </p>
            </div>
          {% empty %}
            <p>Ingen websider matchet søket.</p>
          {% endfor %}

        </div>
        <div class="col-md-6">

          <h2>Nyheter</h2>

          {% for version in article_versions %}
            <div class="search-result">
              {% if not version.get_thumbnail.hide %}
                <img class="thumbnail" src="{{ version.get_thumbnail.url }}" alt="{{ version.get_title_content.content|striptags }}">
              {% endif %}
              <h3>
                <a href="{% url 'articles.views.show' version.variant.article.id version.get_title_content.content|striptags|slugify %}">{{ version.get_title_content.content|striptags|safe }}</a>
              </h3>
              <span class="published">{{ version.variant.article.pub_date|date:"j. F Y" }}</span>
              <p>{{ version.get_lede_content.content|striptags|safe|truncatewords:15 }}</p>
              <div style="clear: both;"></div>
            </div>
          {% endfor %}

          {% for article in old_articles %}
            <div class="search-result old-article">
              <h3>
                <a href="{% url 'articles.views.show_old' article.id article.title|slugify %}">{{ article.title }}</a>
              </h3>
              <span class="published">{{ article.date|date:"j. F Y" }}</span>
              {{ article.lede|safe }}
            </div>
          {% endfor %}

          {% if article_count == 0 %}
            <p>Ingen nyheter matchet søket.</p>
          {% endif %}

        </div>
      </div>

    {% else %}

      <p>Vi fant dessverre ingenting som inneholdt "<strong>{{ search_query }}</strong>".</p>

    {% endif %}

    <h3>Fant du ikke det du lette etter?</h3>
    <p>
      På <a href="http://ut.no">UT.no</a> finner du alle våre hytter, ruter, forslag til fine turer og mye mer.
    </p>

  {% endif %}

</div>
{% endblock %}
