div.map-container {
  margin-bottom: 30px;

  div.map-shadow {
    padding: 3px 0px;
    margin: 0px -25px;

    -moz-box-shadow: inset 0 0 5px #888;
    -webkit-box-shadow: inset 0 0 5px#888;
    box-shadow: inner 0 0 5px #888;

    div.leaflet-map {
      height: 400px;
    }
  }
}

