<div class="add-content-dialog">

  <h1>Legg til innhold</h1>

  <div class="content">
    <form action="{% url admin.cms.views.content.create %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="block" value="">
        <input type="hidden" name="column" value="">
        <input type="hidden" name="order" value="">
        <a href="javascript:undefined">
          <img src="{{ STATIC_URL }}img/icons/world.png" alt="Legg til statisk innhold"><br>
          Statisk innhold
        </a>
    </form>
  </div>

  <div class="widget dialog-quote">
    <a href="javascript:undefined">
      <img src="{{ STATIC_URL }}img/icons/keys.png" alt="Legg til sitat-widget"><br>
      Sitat
    </a>
  </div>

  <div class="widget dialog-promo">
    <a href="javascript:undefined">
      <img src="{{ STATIC_URL }}img/icons/coffee.png" alt="Legg til promo-widget"><br>
      Promo
    </a>
  </div>

</div>
