/**
 * Common stylesheet for advanced- and article-editor in the admin ui
 */

#toolbar {
  position: fixed;
  top: 50px;
  right: 50px;
  width: 500px;
  z-index: 1000;
}

#toolbar #tabs, #toolbar li.active a {
  background-color: rgb(245, 245, 245);
}

#toolbar ul.nav li a:hover {
  background-color: rgb(200, 200, 200);
}

#toolbar ul.nav {
  /* Negate the default bootstrap margin */
  margin-bottom: 0 !important;
  background-color: white;
}

#toolbar #tabs {
  padding: 9px;
  border-left: 1px solid rgb(221, 221, 221);
  border-right: 1px solid rgb(221, 221, 221);
  border-bottom: 1px solid rgb(221, 221, 221);
}

#toolbar div.button {
  float: left;
  cursor: pointer;
  width: 27px;
  height: 27px;
}

#toolbar div.button.bold {
  background-image: url('/static/img/editorbuttons/bold-inactive.png');
}
#toolbar div.button.bold.hover {
  background-image: url('/static/img/editorbuttons/bold-hover.png');
}
#toolbar div.button.bold.active {
  background-image: url('/static/img/editorbuttons/bold-active.png') !important;
}
#toolbar div.button.italic {
  background-image: url('/static/img/editorbuttons/italic-inactive.png');
}
#toolbar div.button.italic.hover {
  background-image: url('/static/img/editorbuttons/italic-hover.png');
}
#toolbar div.button.italic.active {
  background-image: url('/static/img/editorbuttons/italic-active.png') !important;
}
#toolbar div.button.underline {
  background-image: url('/static/img/editorbuttons/underline-inactive.png');
}
#toolbar div.button.underline.hover {
  background-image: url('/static/img/editorbuttons/underline-hover.png');
}
#toolbar div.button.underline.active {
  background-image: url('/static/img/editorbuttons/underline-active.png') !important;
}
