/**
 * Stylesheet for the advanced editor in the admin ui
 */

.moveable {
  cursor: move;
}

.moveable.horizontal {
  background: url("/static/img/arrow-left.png") left center no-repeat, url("/static/img/arrow-right.png") right center no-repeat rgb(238, 238, 238);
}

.moveable.vertical {
  background: url("/static/img/arrow-up.png") center top no-repeat, url("/static/img/arrow-down.png") center bottom no-repeat rgb(238, 238, 238);
}

#toolbar {
  position: fixed;
  top: 50px;
  right: 50px;
  width: 500px;
  z-index: 1000;
  border: 1px solid #000;
  background-color: rgb(245, 245, 245);
}

#toolbar #tabs {
  padding-left: 25px;
}

#toolbar ul {
  list-style-type: none;
  margin-bottom: 10px;
}

#toolbar ul li {
  display: inline;
  padding: 3px;
  border-bottom: 1px solid #000;
}
