/**
 * Stylesheet for editing articles
 */

article .meta.static {
  cursor: not-allowed;
}

img.changeable {
  display: block;
}

img.changeable.hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: alias;
}

input.url {
  width: 350px;
}

.editable.selected {
  background-color: rgb(235, 235, 235);
}
