/**
 * Stylesheet for the editor in the admin ui
 */

 body {
    /* Account for the top toolbar. */
    padding-top: 80px;
 }

/* layouts */

#editarea {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* negate paragraph margin specs for non-content paragraphs */

.layout p {
    margin-top: 1em;
    margin-bottom: 1em;
}

#editarea div.htmlcontent p {
    margin-top: 0;
    margin-bottom: 0;
}

div.htmlcontent {
    margin-top: 1em;
    margin-bottom: 1em;
}

/* snippets, editboxes etc. */

#add-layouts {
    text-align: center;
}

#add-layouts table {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

#editarea #buttons #savebutton {
    margin: 10px;
    padding: 4px 15px;
    font-size: 120%;
}

#editarea #buttons {
    border: 1px solid #e5e5e5;
    background-color: #f5f5f5;
    position: fixed;
    width: 99%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0.5%;
    /* The body will add this amount to padding-top */
    height: 80px;
    text-align: center;
    z-index: 1;
}

#editarea .add-content {
    border: 1px solid;
    text-align: center;
}

.add-content-dialog > div {
    float: left;
    width: 20%;
    height: 170px;
    margin: 1%;
    text-align: center;
}

#editarea .edit-layout {
    border: 1px solid;
    text-align: center;
}

#editarea .edit-widget, #editarea .edit-content {
    width: 100%;
    border: 1px solid #000;
    text-align: center;
}

/* While working */

#editarea .hover {
    background-color: #ddd;
}

#editarea .writing {
    background-color: #ddd;
    border: 1px solid #000;
}

#editarea .saving {
    background-color: #999;
}

/* Widgets and widget editing */

div#widgets-quote table td {
    border: none;
    padding: 10px;
}
