/**
 * Stylesheet for editing articles
 */

article .insertable {
  cursor: pointer;
  text-align: center;
  color: rgb(125, 125, 125);
  font-size: 180%;
  font-style: italic;
}

.static-hover, .static-hover * {
  cursor: not-allowed;
}

img.changeable {
  display: block;
}

img.changeable.hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: alias;
}

input.url {
  width: 350px;
}

.editable.selected {
  background-color: rgb(235, 235, 235);
}
