/**
 * Common stylesheet for advanced- and article-editor in the admin ui
 */

article .column.empty {
  text-align: center;
  background-color: rgb(225, 225, 225);
}

article .column.empty p {
  font-size: 160% !important;
}

article .insertable {
  cursor: pointer;
  text-align: center;
  color: rgb(125, 125, 125);
  font-size: 180%;
  font-style: italic;
  line-height: 100%;
}

article .hover-remove {
  cursor: pointer;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.ui-widget-overlay {
  position: fixed;
  z-index: 900;
}

div.overlay-loader {
  position: fixed;
  top: 200px;
  left: 200px;
  right: 200px;
  min-width: 250px;
  text-align: center;
  background-color: white;
  border: 1px solid rgb(200, 200, 200);
  padding: 40px;
  z-index: 1000;
}
@media (max-width: 650px) {
  div.overlay-loader {
    left: 10px;
    width: 200px;
  }
}

#toolbar {
  position: fixed;
  top: 50px;
  right: 50px;
  width: 500px;
  z-index: 1000;
}

#toolbar #tabs, #toolbar li.active a {
  background-color: rgb(245, 245, 245) !important;
}

#toolbar ul.nav li a:hover {
  background-color: rgb(200, 200, 200);
}

#toolbar ul.nav {
  /* Negate the default bootstrap margin */
  margin-bottom: 0 !important;
}

#toolbar ul.nav li a {
  background-color: rgb(225, 225, 225);
}

#toolbar #tabs {
  padding: 9px;
  border-left: 1px solid rgb(221, 221, 221);
  border-right: 1px solid rgb(221, 221, 221);
  border-bottom: 1px solid rgb(221, 221, 221);
}

#toolbar div.button {
  float: left;
  cursor: pointer;
  width: 27px;
  height: 27px;
}

#toolbar div.button.bold {
  background-image: url('/static/img/editorbuttons/bold-inactive.png');
}
#toolbar div.button.bold.hover {
  background-image: url('/static/img/editorbuttons/bold-hover.png');
}
#toolbar div.button.bold.active {
  background-image: url('/static/img/editorbuttons/bold-active.png') !important;
}
#toolbar div.button.italic {
  background-image: url('/static/img/editorbuttons/italic-inactive.png');
}
#toolbar div.button.italic.hover {
  background-image: url('/static/img/editorbuttons/italic-hover.png');
}
#toolbar div.button.italic.active {
  background-image: url('/static/img/editorbuttons/italic-active.png') !important;
}
#toolbar div.button.underline {
  background-image: url('/static/img/editorbuttons/underline-inactive.png');
}
#toolbar div.button.underline.hover {
  background-image: url('/static/img/editorbuttons/underline-hover.png');
}
#toolbar div.button.underline.active {
  background-image: url('/static/img/editorbuttons/underline-active.png') !important;
}
#toolbar div.button.ol {
  background-image: url('/static/img/editorbuttons/ol-inactive.png');
}
#toolbar div.button.ol.hover {
  background-image: url('/static/img/editorbuttons/ol-hover.png');
}
#toolbar div.button.ol.active {
  background-image: url('/static/img/editorbuttons/ol-active.png') !important;
}
#toolbar div.button.ul {
  background-image: url('/static/img/editorbuttons/ul-inactive.png');
}
#toolbar div.button.ul.hover {
  background-image: url('/static/img/editorbuttons/ul-hover.png');
}
#toolbar div.button.ul.active {
  background-image: url('/static/img/editorbuttons/ul-active.png') !important;
}
#toolbar div.button.align-left {
  background-image: url('/static/img/editorbuttons/align-left-inactive.png');
}
#toolbar div.button.align-left.hover {
  background-image: url('/static/img/editorbuttons/align-left-hover.png');
}
#toolbar div.button.align-left.active {
  background-image: url('/static/img/editorbuttons/align-left-active.png') !important;
}
#toolbar div.button.align-center {
  background-image: url('/static/img/editorbuttons/align-center-inactive.png');
}
#toolbar div.button.align-center.hover {
  background-image: url('/static/img/editorbuttons/align-center-hover.png');
}
#toolbar div.button.align-center.active {
  background-image: url('/static/img/editorbuttons/align-center-active.png') !important;
}
#toolbar div.button.align-right {
  background-image: url('/static/img/editorbuttons/align-right-inactive.png');
}
#toolbar div.button.align-right.hover {
  background-image: url('/static/img/editorbuttons/align-right-hover.png');
}
#toolbar div.button.align-right.active {
  background-image: url('/static/img/editorbuttons/align-right-active.png') !important;
}
