/* css for admin-ui layouts and widgets
 * Note: A lot of this is probably duplicated from the
 * main presentation css, could that be avoided?
 */

/* layouts */

#editarea {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* snippets, editboxes etc. */

#add-layouts {
    text-align: center;
}

#add-layouts table {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

#editarea .add-dropdown {
    border: 1px solid;
}

#editarea .edit-layout {
    border: 1px solid;
    text-align: right;
}

/* While working */

#editarea .hover {
    background-color: #ddd;
}

#editarea .writing {
    background-color: #ddd;
    border: 1px solid #000;
}

#editarea .saving {
    background-color: #999;
}
