table {
  border-collapse: collapse;
}

table th, table td {
  border: 1px solid;
}

table#version {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

table#variant {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}