table {
  border-collapse: collapse;
}

table th, table td {
  border: 1px solid;
}

p.published {
  float: left;
  background-color: green;
  margin-right: 30px;
}

p.not-published {
  float: right;
  background-color: red;
  margin-right: 30px;
}
