/**
 * General stylesheet for the admin ui
 */

header {
  margin-top: 25px;
}

header .logo {
  text-align: center;
}

header .line {
  /* Based on the logo image height */
  height: 115px;
}

header h1 {
  /* Based on the logo image height */
  margin-top: 25px;
  font-size: 280%;
}
nav > ul {
  list-style-type: none;
}

nav > ul > li {
  display: block;
  float: left;
  width: 250px;
  height: 170px;
  border: 1px solid rgb(170, 170, 170);
  margin: 1%;
  text-align: center;
}

nav img {
  padding-top: 10px;
}

/* Image gallery */

div#image-toolbar {
  text-align: center;
}

div#image-toolbar input#search {
  font-size: 120%;
}

div#archive-gallery ul li {
  display: block;
  width: 200px;
  height: 150px;
  border: 1px solid #888;
  margin: 1%;
  float: left;
  text-align: center;
}

div#archive-gallery ul li span.buttons {
  float: right;
  margin-right: 5px;
}

div#archive-gallery ul li a.image {
  display: block;
  clear: both;
}

div#archive-gallery ul li.add a.image {
  margin-top: 20px;
}

div#image-display div.metadata {
  text-align: right;
}

div#image-display table.metadata {
  float: right;
  width: auto;
  margin-top: 20px;
}

div#image-display table.metadata th {
  text-align: right;
}

div#image-display table.metadata td {
  text-align: left;
}
