/* css for admin-ui layouts and widgets
 * Note: A lot of this is probably duplicated from the
 * main presentation css, could that be avoided?
 */

/* layouts */

#add-layouts {
    text-align: center;
}

#add-layouts table {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

/* dropdown for adding new content or widgets */

#editarea .add-dropdown {
    border: 1px solid;
}

/* While working */
#editarea .hover {
    background-color: #ddd;
}

#editarea .writing {
    background-color: #ddd;
    border: 1px solid #000;
}

#editarea .saving {
    background-color: #999;
}

#editarea {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#editarea h1 {
    border-bottom: 5px solid rgb(61, 83, 37);
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 29px;
}

#editarea div.lede {
    font-family: "Helvetica";
    font-size: 20px;
}

/* editing layout */

#editarea .moveable-layout.hover > * {
    background-color: #bbb;
    opacity: 0.4;
    filter: alpha(opacity=40); /* ie <= 8 */
}

#editarea .moveable-layout .hover {
    background-color: #aa8;
}
