div#searchbox {
  margin-bottom: 40px;
}

div#searchbox th {
  text-align: left;
}

div#searchbox th h2 {
  font-size: 20px;
}

div#searchbox td label {
  font-family: "DTL Nobel" !important;
  font-size: 16px;
  color: rgb(100, 100, 100);
}

div#searchbox td label.active {
  color: rgb(216, 45, 32);
}

div#searchbox td label:hover {
  cursor: pointer;
  text-decoration: underline;
}

div.count {
  color: rgb(120, 120, 120);
  font-size: 20px;
  margin-bottom: 20px;
  font-style: italic;
}

table#results div.logo {
  float: right;
  color: white;
  font-family: "DTL Nobel" !important;
  font-size: 18px;
  margin-left: 14px;
  margin-right: 10px;
  background: rgb(216, 45, 32) url('/static/img/header-logo-part.png') top right no-repeat;
  padding-top: 18px;
  padding-right: 74px; /* 59 (img width) + 15 */
  padding-left: 15px;
  height: 38px; /* 56 (img height) - padding-top */
}

table#results h2 {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 8px;
}

table#results p {
  font-size: 14px;
  line-height: 1;
  margin: 10px 0;
  color: rgb(80, 80, 80);
}

table#results div.map iframe {
  width: 100%;
  height: 400px;
}

select[name='full-list'] {
  width: 100%;
}

/* Adjustments for small screens */

div#searchbox-mobile {
  display: none;
}

@media (max-width: 767px) {
  div#searchbox {
    display: none;
  }

  div#searchbox-mobile {
    display: block;
  }

  a.logo-url, div.logo {
    display: none;
  }
}
