/**
 * Common stylesheet for the main site and cms
 */

/**
 * Fonts and general styles
 */

@font-face {
  font-family: "DTL Nobel Oldstyle";
  src: url('/static/fonts/dtl-nobel-oldstyle.eot');
  src: url('/static/fonts/dtl-nobel-oldstyle.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/dtl-nobel-oldstyle.woff') format('woff'),
       url('/static/fonts/dtl-nobel-oldstyle.ttf') format('truetype'),
       url('/static/fonts/dtl-nobel-oldstyle.svg') format('svg');
  font-weight: normal;
}

@font-face {
  font-family: "DTL Nobel Oldstyle";
  src: url('/static/fonts/dtl-nobel-oldstyle-bold.eot');
  src: url('/static/fonts/dtl-nobel-oldstyle-bold.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/dtl-nobel-oldstyle-bold.woff') format('woff'),
       url('/static/fonts/dtl-nobel-oldstyle-bold.ttf') format('truetype'),
       url('/static/fonts/dtl-nobel-oldstyle-bold.svg') format('svg');
  font-weight: bold;
}

body, p, label {
  font-family: georgia, times, serif !important;
  font-size: 16px;
  line-height: 1.5;
}

input, button, select, textarea {
  font-size: 16px !important;
}

h1, h2, h3, h4, h5, h6, input, button, select, textarea {
  font-family: "DTL Nobel Oldstyle";
  line-height: normal;
}

h1 {
  text-transform: uppercase;
  font-size: 40px;
  border-bottom: 4px solid rgb(35, 35, 35);
  margin-bottom: 25px;
}

h2 {
  font-size: 28px;
  line-height: 1.2;
}

h3 {
  font-size: 18px;
}

img, iframe {
  max-width: 100%;
}

a {
  color: rgb(216, 45, 32);
}

a.external:not(.noexternal) {
  padding-right: 22px;
  background: url('/static/img/icons/glyph/red/glyphicons_152_new_window.png') center right no-repeat;
}

a:hover {
  color: rgb(255, 0, 21);
}

/* Negate bootstrap border-radius for wells */
div.well {
  border-radius: none !important;
}

/* Override bootstrap alert-boxes */

div.alert {
  font-family: "DTL Nobel Oldstyle";
}

div.alert-info {
  border-color: rgb(180, 180, 180) !important;
  background-color: rgb(220, 220, 220) !important;
  color: rgb(51, 51, 51) !important;
}

div.alert-error {
  color: black !important;
  background-color: rgb(243, 192, 188) !important;
}

/* Override bootstrap red button */

.btn-danger {
  background-color: rgb(216, 45, 32) !important;
  background-image: none !important;
}

.btn-danger:hover {
  background-color: rgb(246, 72, 62) !important;
}

/* Menus (main menu and admin) */

nav#menus {
  margin-bottom: 20px;
  font-size: 14px;
}

nav#menus div.border {
  clear: both;
  position: absolute;
  width: 100%;
  left: 0;
  margin-top: 8px;
  border-bottom: 1px solid rgb(229, 229, 229);
}

nav#menus ul {
  /* Override bootstrap */
  margin-left: 0 !important;
}

nav#menus li {
  float: left;
  list-style: none;
  margin-right: 20px;
}

nav#menus li a {
  color: rgb(30, 30, 30);
}

nav#menus li.active a {
  font-weight: bold;
  padding-bottom: 8px;
  border-bottom: 3px solid;
  /* Set position relative, without offset, to apply z-index */
  position: relative;
  z-index: 5;
}

nav#menus div.menu-breadcrumb {
  margin-top: 17px;
  color: rgb(121, 121, 121);
}

nav#menus div.menu-breadcrumb em {
  font-style: normal;
  font-weight: bold;
}

/* Articles */

article .row, article .row-fluid {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

article div.content {
  margin-bottom: 20px;
}

/* No margins to paragraphs */
article p {
  margin-top: 0;
  margin-bottom: 0;
}

article p.lede {
  font-family: "DTL Nobel Oldstyle" !important;
  font-size: 20px;
  line-height: 1.4;
}

article p.img-desc {
  font-family: "DTL Nobel Oldstyle" !important;
  line-height: 1.3;
}

/* Article preview */

div.article-preview img, img.article-thumbnail {
  float: left;
  margin-right: 20px;
  max-width: 200px;
  max-height: 200px;
}

div.article-preview h2 {
  font-size: 180%;
  font-weight: normal;
}

div.article-preview div.lede {
  display: inline;
}

div.article-preview div.lede a {
  color: rgb(51, 51, 51);
}
