/**
 * Common stylesheet for the main site and cms
 */

/**
 * Fonts and general styles
 */

@font-face {
  font-family: "DTL Nobel";
  src: url('/static/fonts/dtl-nobel.eot');
  src: url('/static/fonts/dtl-nobel.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/dtl-nobel.woff') format('woff'),
       url('/static/fonts/dtl-nobel.ttf') format('truetype'),
       url('/static/fonts/dtl-nobel.svg') format('svg');
  font-weight: normal;
}

@font-face {
  font-family: "DTL Nobel";
  src: url('/static/fonts/dtl-nobel-bold.eot');
  src: url('/static/fonts/dtl-nobel-bold.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/dtl-nobel-bold.woff') format('woff'),
       url('/static/fonts/dtl-nobel-bold.ttf') format('truetype'),
       url('/static/fonts/dtl-nobel-bold.svg') format('svg');
  font-weight: bold;
}

body, p, label, li {
  font-family: georgia, times, serif !important;
  font-size: 16px;
  line-height: 1.5;
}

input, button, textarea, a.btn {
  font-size: 16px !important;
}

h1, h2, h3, h4, h5, h6, input, button, textarea, a.btn {
  font-family: "DTL Nobel";
  line-height: normal;
}

h1 {
  text-transform: uppercase;
  font-size: 40px;
  border-bottom: 4px solid rgb(35, 35, 35);
  margin-bottom: 25px;
}

h2 {
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 15px;
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

img, iframe {
  max-width: 100%;
}

a {
  color: rgb(216, 45, 32);
}

a.external:not(.noexternal) {
  padding-right: 22px;
  background: url('/static/img/icons/glyph/red/glyphicons_152_new_window.png') center right no-repeat;
}

a:hover {
  color: rgb(255, 0, 21);
}

/* Negate bootstrap border-radius for wells */
div.well {
  border-radius: none !important;
}

/* Override bootstrap alert-boxes */

div.alert {
  font-family: "DTL Nobel";
}

div.alert-info {
  border-color: rgb(180, 180, 180) !important;
  background-color: rgb(220, 220, 220) !important;
  color: rgb(51, 51, 51) !important;
}

div.alert-error {
  color: black !important;
  background-color: rgb(243, 192, 188) !important;
}

/* Override bootstrap red button */

.btn-danger {
  background-color: rgb(216, 45, 32) !important;
  background-image: none !important;
}

.btn-danger:hover {
  background-color: rgb(246, 72, 62) !important;
}

/* Override bootstrap radio input */

input[type='radio'], input[type='checkbox'] {
  border: none;
}

/* Menus (main menu and admin) */

nav#menus {
  margin-top: 6px;
  font-family: "DTL Nobel";
}

nav#menus ul {
  /* Override bootstrap */
  margin-left: 0 !important;
}

nav#menus li {
  display: inline;
  list-style: none;
  margin-right: 15px;
  font-family: "DTL Nobel" !important;
  font-size: 14px !important;
  line-height: 18px;
}

nav#menus li a {
  color: rgb(30, 30, 30);
}

nav#menus li.active a {
  font-weight: bold;
  padding-bottom: 8px;
  border-bottom: 3px solid;
  /* Set position relative, without offset, to apply z-index */
  position: relative;
  z-index: 5;
}

/* Articles */

article .row, article .row-fluid {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

article div.content {
  margin-bottom: 20px;
}

/* No margins to paragraphs */
article p {
  margin-top: 0;
  margin-bottom: 0;
}

article div.lede, article p.lede {
  font-family: "DTL Nobel" !important;
  font-size: 20px;
  line-height: 1.4;
}

article div.image {
  position: relative;
}

article div.img-desc {
  background-color: rgb(0, 0, 0); /* For older browsers, fall-back to black background */
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 4px 12px 10px 12px;
  z-index: 1;
}

article div.img-desc, article div.img-desc span {
  color: white;
  font-family: "DTL Nobel" !important;
  line-height: 1.3;
}

/* Byline */

div.byline {
  border-top: 1px solid rgb(120, 120, 120);
  padding-top: 15px;
  margin-bottom: 30px;
}

div.byline img {
  float: left;
  margin-right: 10px;
}

div.byline p {
  margin-top: 0px; /* Vertical center based on the byline image height and text line-height. */
  font-family: "DTL Nobel" !important;
  line-height: 1.2;
}

div.byline p a.email {
  color: rgb(120, 120, 120);
  font-size: 14px;
}

/* Article preview */

div.article-preview img, img.article-thumbnail {
  float: left;
  margin-right: 20px;
  max-width: 200px;
  max-height: 200px;
}

div.article-preview h2 {
  font-size: 180%;
  font-weight: normal;
}

div.article-preview div.lede {
  display: inline;
}

div.article-preview div.lede a {
  color: rgb(51, 51, 51);
}
