/**
 * Stylesheet for editorial pages (created by the editor), custom content and widgets
 * Only formatting-statements
 */

/*********
  Blocks
**********/

/* All block margins */

/*.block p {
    margin-top: 0;
    margin-bottom: 0;
}

/* Main column for full- and sidebar-block */

/*.block.full h1, .block.sidebar > .column.col-1 h1 {
    border-bottom: 5px solid rgb(61, 83, 37);
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 29px;
}

.block.full div.lede, .block.sidebar > .column.col-1 div.lede {
    font-family: "Helvetica";
    font-size: 20px;
}

/* common */

/*p.lede {
    font-size: 110%;
    font-variant: small-caps;
}
*/