/**
 * Stylesheet for editorial pages (created by the editor), custom content and widgets
 * Only formatting-statements
 */

/*********
  Layouts
**********/

/* All layout margins */

.layout p {
    margin-top: 0;
    margin-bottom: 0;
}

/* Main column for full- and sidebar-layout */

.layout.full h1, .layout.sidebar > .column.col-1 h1 {
    border-bottom: 5px solid rgb(61, 83, 37);
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 29px;
}

.layout.full div.lede, .layout.sidebar > .column.col-1 div.lede {
    font-family: "Helvetica";
    font-size: 20px;
}

/* memberservice widget */

div.memberservice {
    background-color: rgb(238, 239, 239);
}

/* quote widget */

blockquote {
    background: url('/static/img/quote-sign.gif') top left no-repeat;
    padding-left: 50px;
    padding-top: 10px;
    font-size: 24px;
    font-style: italic;
}

p.quote-source {
    text-align: right;
}

/* promo widget */

div.promo {
    width: 100%;
    background: url('/static/img/widgets/promo/komdegut.jpg') no-repeat red;
    background-color: rgb(216, 42, 32);
    min-height: 511px; /* The height of the background-image */
}

div.promo div.menu {
    position: relative;
    float: left;
}

div.promo div.menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

div.promo div.menu li {
    padding: 5px;
    background-color: white;
    border: 1px solid #777;
    width: 120%;
    color: #777;
}

div.promo div.content {
    margin-left: 50%;
    padding-top: 1%;
    color: white;
}

div.promo div.content h1 {
    /* Negate the default h1 border */
    border-bottom: none;
}

div.promo div.content p.lede {
    font-variant: small-caps;
    font-style: italic;
}

div.promo div.content img {
    padding-left: 10%;
}

/* common */

p.lede {
    font-size: 110%;
    font-variant: small-caps;
}
