/* Enrollment */

form#registration label {
    color: black;
    font-size: 110%;
}

form#registration input[type='text'] {
    color: black;
    font-size: 120%;
    padding: 8px;
}

form#registration input.dob {
    margin-right: 6px;
}

form#registration button {
    margin-top: 3px;
    margin-bottom: 3px;
}

table.memberlist td {
    background-color: white;
    font-size: 120%;
    padding: 10px;
}

table.memberlist td:hover {
    background-color: rgb(215, 215, 215);
    color: rgb(0, 0, 0);
}

table.memberlist span.remove {
    float: right;
}

table.main-member tr.main {
    background-color: rgb(235, 235, 235);
    font-weight: bold;
}

table.prices tfoot tr {
    border-top: 2px solid rgb(105, 105, 105);
}

table.prices tfoot tr th {
    font-size: 120%;
}

p.address {
    border: 1px solid #dddddd;
    padding: 12px;
}

ol.registration-progress {
    margin: 0 0 25px 0;
}

ol.registration-progress li.step:first-of-type {
    border-left: 1px solid rgb(135, 135, 135);
}

ol.registration-progress li.step {
    list-style-type: decimal;
    list-style-position: inside;
    float: left;
    background-color: #dcddde;
    padding: 15px 30px 15px 15px;
    margin: 0;
    border-top: 1px solid rgb(135, 135, 135);
    border-right: 1px solid rgb(135, 135, 135);
    border-bottom: 1px solid rgb(135, 135, 135);
}

ol.registration-progress li.step.current {
    color: white;
    background-color: ;
    background: #d82a20 url('/static/img/step-current.png') top right no-repeat;
    border-right: none !important;
}
