/* css for layouts and widgets */

/* layouts */
h1 {
    border-bottom: 5px solid rgb(61, 83, 37);
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 29px;
}

div.lede {
    font-family: "Helvetica";
    font-size: 20px;
}

/* sidebar */

aside {
    float: right;
    margin-top: 0.83em;
    width: 35%;
}

aside > h2 {
    margin: 0;
    padding: 0;
}

/* quote content */

blockquote {
    font-size: 24px;
    font-style: italic;
}

p.quote-source {
    text-align: right;
}
