/**
 * The main stylesheet for turistforeningen.no
 */

/**
 * Fonts and general styles
 * Changes here need to be copied to cms-specific css
 */

body, p {
  font-family: georgia, times, serif !important;
}

h1, h2, h3, h4, h5, h6, input, button, select, textarea {
  /* Temporary, until our profile font arrives */
  font-family: sans-serif;
}

h1 {
  text-transform: uppercase;
  font-size: 280%;
  border-bottom: 4px solid rgb(35, 35, 35);
  margin-bottom: 15px;
}

h2 {
  font-size: 120%;
  line-height: 1.2em;
}

/* Header search */

header div.search {
  text-align: right;
}

header div.search form.form-search {
  margin-top: 20px;
}

/* Social icons above footer */

div.social-icons {
  margin-top: 40px;
}

div.social-icons h1 {
  text-transform: none;
  font-weight: normal;
  font-size: 140%;
  line-height: 1em;
  margin-bottom: 0;
  border-bottom: none;
}

div.social-icons a, div.social-icons h3 a {
  color: rgb(118, 118, 118);
}

div.social-icons img.social {
  float: left;
  margin-right: 10px;
}

/* Footer */

footer {
  background-color: #e8e8e9;
  border-top: 1px solid rgb(195, 195, 195);
  margin-top: 20px;
  padding-bottom: 100px;
  padding-top: 20px;
}

footer div.services h2 {
  font-size: 150%;
  font-weight: normal;
}

footer div.services a {
  font-size: 110%;
}

footer div.sponsors {
  text-align: center;
  margin-top: 40px;
}

/* Search box, preliminary for groups */

div#searchbox {
  width: 940px;
  height: 467px;
  background-image: url('/static/img/promo/sykkel.jpg');
}

div#searchbox div#content {
  position: relative;
  margin-left: 10px;
  top: 100px;
  width: 760px;
  height: 270px;
}

div#searchbox table {
  width: 100%;
}

div#searchbox td.categories {
  width: 200px;
}

div#searchbox td.categories p {
  margin-top: 0;
  margin-bottom: 0;
}

div#searchbox td.counties {
  vertical-align: top;
}

div#searchbox div.county {
  float: left;
  width: 33%;
}

div#results h1 {
  font-size: 120%;
}
