/**
 * The main stylesheet for turistforeningen.no
 */

/* Header search */

header div.search {
    text-align: right;
}

header div.search form.form-search {
    margin-top: 20px;
}

/* Social icons above footer */

div.social-icons {
    margin-top: 40px;
}

div.social-icons h3 {
    font-weight: normal;
    line-height: 1em;
}

div.social-icons, div.social-icons h3 {
    color: rgb(118, 118, 118);
}

div.social-icons img.social {
  float: left;
  margin-right: 10px;
}

/* Footer */

footer {
    background-color: #e8e8e9;
    border-top: 1px solid rgb(195, 195, 195);
    margin-top: 20px;
    padding-bottom: 100px;
    padding-top: 20px;
}

footer div.services h2 {
    font-size: 150%;
    font-weight: normal;
}

footer div.services a {
    font-size: 110%;
}

footer div.sponsors {
    text-align: center;
    margin-top: 40px;
}
