/**
 * The main stylesheet for turistforeningen.no
 */

/* Header */

header {
  font-size: 14px !important;
}

header div.search {
  text-align: right;
}

header div.search form.form-search {
  margin-top: 20px;
}

header div.login {
  margin-top: 6px;
  text-align: right;
}

header div.login a {
  color: rgb(30, 30, 30);
  margin-left: 15px;
}

header div.border {
  clear: both;
  position: absolute;
  width: 100%;
  left: 0;
  margin-top: -3px;
  border-bottom: 1px solid rgb(229, 229, 229);
}

header div.menu-breadcrumb {
  margin-top: 5px;
  color: rgb(121, 121, 121);
}

header div.menu-breadcrumb em {
  font-style: normal;
  font-weight: bold;
}

header ul.language-bar {
  float: right;
}

header ul.language-bar li.dropdown a {
  color: rgb(30, 30, 30);
}


/* Social icons above footer */

div.social-icons {
  margin-top: 40px;
}

div.social-icons h1 {
  text-transform: none;
  font-weight: normal;
  font-size: 100%;
  line-height: 1;
  margin-bottom: 0;
  border-bottom: none;
  text-transform: uppercase;
}

div.social-icons a {
  color: rgb(118, 118, 118);
  font-family: "DTL Nobel";
}

div.social-icons img.social {
  float: left;
  margin-right: 10px;
}

/* Footer */

footer {
  background-color: #e8e8e9;
  border-top: 1px solid rgb(195, 195, 195);
  margin-top: 20px;
  padding-bottom: 100px;
  padding-top: 20px;
}

footer div.services h2 {
  font-size: 110%;
  font-weight: normal;
  text-transform: uppercase;
}

footer div.services a {
  line-height: 1.5;
  color: black;
}

footer div.services a:hover {
  color: rgb(216, 45, 32);
}

footer div.services ul {
  list-style-type: none;
  margin-left: auto;
}

footer div.sponsors {
  text-align: center;
  margin-top: 40px;
}

footer div.sponsors img {
  margin-left: 5px;
  margin-right: 5px;
}

footer div.sponsors img.onecall {
  margin-right: 20px !important;
}

@media (max-width: 980px) {
  footer div.sponsors-underline {
    display: none;
  }
}

footer div.sponsors-underline div {
  float: left;
  font-family: "DTL Nobel" !important;
  font-size: 14px;
  color: rgb(145, 145, 145);
  border-top: 2px solid rgb(195, 195, 195);
  margin-top: 15px;
  margin-left: 8px;
  margin-right: 8px;
  padding-top: 5px;
}

footer div.sponsors-underline div.main {
  width: 162px;
}

footer div.sponsors-underline div.tour {
  width: 511px;
}

footer div.sponsors-underline div.other {
  width: 216px;
}

/* Search box, preliminary for groups */

div#searchbox {
  width: 940px;
  height: 467px;
  background-image: url('/static/img/promo/sykkel.jpg');
}

div#searchbox div#content {
  position: relative;
  margin-left: 10px;
  top: 100px;
  width: 760px;
  height: 270px;
}

div#searchbox table {
  width: 100%;
}

div#searchbox td.categories {
  width: 200px;
}

div#searchbox td.categories p {
  margin-top: 0;
  margin-bottom: 0;
}

div#searchbox td.counties {
  vertical-align: top;
}

div#searchbox div.county {
  float: left;
  width: 33%;
}

div#results h1 {
  font-size: 120%;
}

/* Login page */

div#login h3 {
  margin-bottom: 10px;
}

div#login button.login {
  width: 150px;
}

div#forgot-password button.restore-password {
  margin-bottom: 10px;
}

div#forgot-password p.info.success {
  color: rgb(45, 140, 32);
}

div#forgot-password p.info.failure {
  color: rgb(216, 45, 32);
}

div#restore-password table td.info {
  color: rgb(216, 45, 32);
}
