/* Zipcode-search */

div#membership-box {
  background-image: url('/static/img/membership/zipcode_search.png');
  width: 940px;
  height: 474px;
  margin-bottom: 40px;
}

div#membership-box div.wrapper {
  padding-top: 100px;
}

div#membership-box div.wrapper div#search-box {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  height: 100%;
  padding: 20px;
}

div#membership-box div.wrapper div#search-box h2, div#membership-box div.wrapper div#search-box p.search {
  text-align: center;
}

div#membership-box div.wrapper div#search-box h2 {
  font-size: 22px;
}

div#membership-box div.wrapper div#search-box p.intro {
  font-family: "DTL Nobel" !important;
  font-size: 18px;
  line-height: 1.5em;
}

div#membership-box div.wrapper div#search-box p.search {
  margin-top: 12px;
}

div#membership-box div.wrapper div#search-box input {
  height: 30px;
}

div#membership-box div.wrapper div#search-box button {
  height: 40px;
  margin-bottom: 10px;
}

/* Benefits */

div.benefits-large {
  margin-top: 20px;
  width: 300px;
  height: 210px;
}

div.benefits-large div.text {
  font-family: "DTL Nobel" !important;
  background-color: white;
  position: absolute;
  padding: 5px;
  font-size: 20px;
}

div.benefits-large:hover div.text {
  color: white;
  background-color: rgb(216, 45, 32);
}

div.benefits-large.key {
  background-image: url('/static/img/membership/benefits-key.jpg');
}

div.benefits-large.magazine {
  background-image: url('/static/img/membership/benefits-magazine.jpg');
}

div.benefits-large.cabins {
  background-image: url('/static/img/membership/benefits-cabins.jpg');
}

div.membership {
  text-align: center;
}

div.membership a.membership {
  font-size: 30px !important;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 80%;
  height: 40px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

div#benefits h2 {
  font-family: "DTL Nobel" !important;
  font-size: 20px;
  border-bottom: 1px solid rgb(220, 220, 220);
  padding-bottom: 5px;
}

div#benefits div.row {
  margin-top: 30px;
}

div.benefits-toggle {
  font-family: "DTL Nobel";
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
}

div.benefits-toggle-buttons {
  background: url('/static/img/membership/border-grey.png') top left repeat-x;
}

div.benefits-toggle-buttons div.show-button, div.benefits-toggle-buttons div.hide-button {
  /* Size according to the background-image */
  width: 42px;
  height: 22px;
  margin-left: auto;
  margin-right: auto;
  background-position: 50% 100%;
  background-repeat: no-repeat;
}

div.benefits-toggle:hover {
  cursor: pointer;
}

div.benefits-toggle:hover a {
  color: rgb(255, 0, 21);
  text-decoration: underline;
}

div.benefits-toggle-buttons div.show-button {
  background-image: url('/static/img/membership/show.png');
}

div.benefits-toggle-buttons div.hide-button {
  background-image: url('/static/img/membership/hide.png');
}

div#benefits dl dt {
  font-family: "DTL Nobel" !important;
  color: rgb(216, 45, 32);
  font-weight: normal;
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 1.5;
  background: url('/static/img/icons/glyph/original/glyphicons_195_circle_info.png') center left 10px no-repeat;
}

div#benefits dl dt:hover {
  text-decoration: underline;
  cursor: pointer;
}

div#benefits dl dd {
  margin-bottom: 20px;
  padding: 13px;
  background-color: rgb(242, 242, 242);
}

table.prices td {
  padding-top: 13px;
  padding-bottom: 13px;
}

table.prices td[data-popover] {
  padding-left: 20px;
  background: url('/static/img/icons/netlife/icon-info.png') center left no-repeat;
}

table.prices td[data-popover]:hover {
  background-image: url('/static/img/icons/netlife/icon-info-hover.png');
}

div.group-data {
  margin-top: 60px;
}

iframe.map {
  width: 100%;
  height: 400px;
}

/* Membershipservice */

table#service-boxes {
  width: 100%;
}

table#service-boxes td {
  border: 1px solid rgb(212, 212, 212);
  padding: 20px 20px 20px 65px;
}

table#service-boxes td a {
  color: rgb(51, 51, 51);
}

table#service-boxes td:hover {
  cursor: pointer;
  background-color: rgb(216, 45, 32) !important;
}

table#service-boxes td:hover a {
  color: white;
  text-decoration: underline;
}

table#service-boxes td.renewal {
  background: url('/static/img/icons/netlife/human.png') center left 10px no-repeat;
}

table#service-boxes td.renewal:hover {
  background: url('/static/img/icons/netlife/human-hover.png') center left 10px no-repeat;
}

table#service-boxes td.order-key {
  background: url('/static/img/icons/netlife/key.png') center left 10px no-repeat;
}

table#service-boxes td.order-key:hover {
  background: url('/static/img/icons/netlife/key-hover.png') center left 10px no-repeat;
}

table#service-boxes td.address {
  background: url('/static/img/icons/netlife/mail.png') center left 10px no-repeat;
}

table#service-boxes td.address:hover {
  background: url('/static/img/icons/netlife/mail-hover.png') center left 10px no-repeat;
}

table#service-boxes td.forgot-id {
  background: url('/static/img/icons/netlife/membercard.png') center left 10px no-repeat;
}

table#service-boxes td.forgot-id:hover {
  background: url('/static/img/icons/netlife/membercard-hover.png') center left 10px no-repeat;
}

div#faq dl dt {
  color: rgb(216, 45, 32);
  font-weight: normal;
  padding-left: 40px;
  line-height: 1.5;
  background: url('/static/img/icons/netlife/question.png') center left 10px no-repeat;
}

div#faq dl dt:hover {
  text-decoration: underline;
  background: url('/static/img/icons/netlife/question-hover.png') center left 10px no-repeat;
  cursor: pointer;
}

div#faq dl dd {
  margin: 10px 0 20px 40px;
  padding: 13px;
  background-color: rgb(242, 242, 242);
}
