/**
 * Styles for all widgets
 */

/* promo widget */

div.widget div.promo {
  width: 100%;
  background-color: rgb(216, 42, 32);
  height: 511px; /* The height of the background-image */
}

div.widget div.promo div.left {
  float: left;
  background: url('/static/img/widgets/promo/komdegut.jpg') no-repeat 100% 100%;
  width: 50%;
  height: 100%;
}

div.widget div.promo div.left div.menu {
  position: relative;
  float: left;
  z-index: 1;
}

div.widget div.promo div.left div.menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

div.widget div.promo div.left div.menu li {
  padding: 5px;
  background-color: white;
  border: 1px solid #777;
  width: 120%;
  color: #777;
}

div.widget div.promo div.right {
  width: 46%;
  padding: 2% 2% 2% 52%;
  color: white;
}

div.widget div.promo div.right p.lede {
  font-variant: small-caps;
  font-style: italic;
}

div.widget div.promo div.right img {
  padding-left: 10%;
}

/* Editor (metadata for articles (writer, publication date etc)) */

div.widget div.editor p {
  font-size: 0.9em;
  margin: 0;
}

div.widget div.editor p em {
  font-weight: bold;
  color: rgb(119, 119, 119);
  text-transform: uppercase;
}

div.widget div.editor hr {
  margin: 0;
}

/* Blog listing */

div.blog-item img {
  float: left;
  max-width: 40%;
}