/**
 * Styles for all widgets
 */

/* Promo widget */

div.widget.promo {
  margin-bottom: 30px;
}

div.widget.promo div.wrapper {
  position: relative;
}

/* Promo - Background-image and menu */

div.widget.promo img.background-image {
  width: 50%;
}

div.widget.promo div.menu {
  font-family: "DTL Nobel";
  position: absolute;
  top: 20px;
  font-size: 15px;
}

div.widget.promo div.menu ul {
  margin: 0;
  list-style: none;
}

div.widget.promo div.menu li:first-of-type {
  border-top: none;
}

div.widget.promo div.menu li {
  padding: 5px 20px 5px 10px;
  background-color: white;
  border-top: 1px solid rgb(210, 210, 210);
  font-family: "DTL Nobel" !important;
  font-size: 15px !important;
  line-height: 18px;
}

div.widget.promo div.menu li.active {
  background-color: rgb(216, 45, 32);
  color: white;
}

div.widget.promo div.menu li:not(.active):hover {
  background-color: rgb(150, 150, 150);
  cursor: pointer;
}

div.widget.promo div.menu li a {
  color: rgb(80, 80, 80);
}

div.widget.promo div.menu li.active a {
  color: white;
}

div.widget.promo div.menu li:not(.active):hover a {
  color: white;
  text-decoration: underline;
}

/* Promo - right side */

div.widget.promo div.right {
  color: white;
  float: right;
  width: 46%;
  padding: 15px 2% 15px 2%;
}

div.widget.promo div.right h1 {
  border-bottom: none;
}

div.widget.promo div.right h1.lede {
  margin-bottom: 0;
}

div.widget.promo div.right p.lede {
  font-size: 18px;
  font-weight: bold;
  font-variant: small-caps;
  margin-bottom: 20px;
}

div.widget.promo div.right p.button {
  margin-top: 25px;
  margin-bottom: 25px;
}

div.widget.promo div.right p.sponsor {
  font-size: 14px;
  font-style: italic;
  text-align: right;
  margin-top: 25px;
  padding-left: 60px;
}

div.widget.promo div.right p.sponsor a {
  float: right;
}

div.widget.promo div.right p.sponsor a.kvikk-lunsj {
  width: 80px;
}

div.widget.promo div.right img {
  margin-left: 15px;
}

/* Promo - colors for the different sections */

div.widget.promo div.wrapper.sommer, div.widget.promo div.wrapper.medlem {
  background-color: rgb(216, 45, 32);
}

div.widget.promo div.wrapper.fellesturer {
  background-color: rgb(19, 42, 86);
}

div.widget.promo div.wrapper.hytter {
  background-color: rgb(58, 81, 40);
}

div.widget.promo div.wrapper.barn {
  background-color: rgb(206, 86, 0);
}

div.widget.promo div.wrapper.ung {
  background-color: rgb(36, 49, 83);
}

div.widget.promo div.wrapper.fjellsport {
  background-color: rgb(172, 195, 213);
}

div.widget.promo div.wrapper.fjellsport div.right {
  color: black;
}

div.widget.promo div.wrapper.senior {
  background-color: rgb(232, 232, 232);
}

div.widget.promo div.wrapper.senior div.right {
  color: black;
}

div.widget.promo div.wrapper.skole {
  background-color: rgb(178, 210, 238);
}

div.widget.promo div.wrapper.skole div.right {
  color: black;
}

div.widget.promo div.wrapper.kurs {
  background-color: rgb(204, 54, 2);
}

div.widget.promo div.wrapper.tur-for-alle {
  background-color: rgb(38, 53, 26);
}

/* Quote */

div.widget.quote blockquote {
  margin-left: 20px;
  color: rgb(80, 80, 80);
  font-size: 18px;
  font-style: italic;
}

div.widget.quote blockquote small {
  font-size: 15px;
  font-style: normal;
  margin-top: 5px;
}

/* Articles and blog listing */

div.widget.articles h1, div.widget.blog h1 {
  font-size: 120%;
  font-weight: normal;
  border-bottom: 1px solid rgb(170, 170, 170);
}

div.widget.articles div.preview, div.widget.blog div.preview {
  margin-bottom: 30px;
}

div.widget.articles h3, div.widget.blog h3 {
  font-weight: normal;
}

div.widget.articles div.preview a, div.widget.blog div.preview a {
  color: rgb(51, 51, 51);
}

div.widget.articles div.preview a:hover, div.widget.blog div.preview a:hover {
  text-decoration: none;
}

div.widget.articles p.more, div.widget.blog p.more {
  margin-top: -15px;
}
