/**
 * Styles for all widgets
 */

/* promo widget */

div.widget.promo {
  width: 100%;
  background-color: rgb(216, 45, 32);
  height: 511px; /* The height of the background-image */
}

div.widget.promo div.left {
  float: left;
  background: url('/static/img/widgets/promo/komdegut.jpg') no-repeat 100% 100%;
  width: 50%;
  height: 100%;
}

div.widget.promo div.left div.menu {
  position: relative;
  float: left;
  z-index: 1;
  top: 20px;
  font-size: 15px;
}

div.widget.promo div.left div.menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

div.widget.promo div.left div.menu li:first-of-type {
  border-top: none;
}

div.widget.promo div.left div.menu li {
  padding: 5px;
  background-color: white;
  width: 120%;
  border-top: 1px solid rgb(200, 200, 200);
}

div.widget.promo div.left div.menu li.active {
  background-color: rgb(216, 45, 32);
  color: white;
}

div.widget.promo div.left div.menu li:not(.active):hover {
  background-color: rgb(150, 150, 150);
  cursor: pointer;
}

div.widget.promo div.left div.menu li a {
  color: #777;
}

div.widget.promo div.left div.menu li.active a {
  color: white;
}

div.widget.promo div.left div.menu li:not(.active):hover a {
  color: white;
  text-decoration: underline;
}

div.widget.promo div.right {
  width: 46%;
  padding: 2% 2% 2% 52%;
  color: white;
}

div.widget.promo div.right h1 {
  border-bottom: none;
}

div.widget.promo div.right p.lede {
  font-variant: small-caps;
  font-style: italic;
}

div.widget.promo div.right img {
  padding-left: 10%;
}

/* Quote */

div.widget.quote blockquote {
  margin-left: 20px;
  color: rgb(80, 80, 80);
  font-size: 18px;
  font-style: italic;
}

div.widget.quote blockquote small {
  font-size: 15px;
  font-style: normal;
  margin-top: 5px;
}

/* Editor (metadata for articles (writer, publication date etc)) */

div.widget.editor p {
  font-size: 0.9em;
  margin: 0;
}

div.widget.editor p em {
  font-weight: bold;
  color: rgb(119, 119, 119);
  text-transform: uppercase;
}

div.widget.editor hr {
  margin: 0;
}

/* Articles and blog listing */

div.widget.articles h1, div.widget.blog h1 {
  font-size: 120%;
  font-weight: normal;
  border-bottom: 1px solid rgb(170, 170, 170);
}

div.widget.articles div.article-preview, div.widget.blog div.blog-item {
  margin-bottom: 20px;
}

div.widget.articles div.article-preview img, div.widget.blog div.blog-item img {
  float: left;
  margin-right: 15px;
  max-width: 140px;
  max-height: 140px;
}

div.widget.articles div.article-preview h3, div.widget.blog div.blog-item h3 {
  font-weight: normal;
  margin-bottom: 10px;
}

div.widget.articles div.article-preview div.lede a, div.widget.blog div.blog-item div.lede a {
  color: rgb(51, 51, 51);
}

/* Negate properties set by the common 'article p.lede'. This is *copied* from the standard p look */
div.widget.articles div.article-preview div.lede p.lede {
  font-family: georgia, times, serif !important;
  font-size: 16px !important;
  line-height: 1.5 !important;
}

div.widget.articles div.article-preview div.lede a:hover, div.widget.blog div.blog-item div.lede a:hover {
  text-decoration: none;
}
