div.foreningsadmin {

  div.tab-pane {
    padding-top: 30px;

    /* Metadata and create-forening */
    form.edit-forening, form.create-forening {
      div.section {
        border-bottom: 1px solid rgb(200, 200, 200);
        padding-bottom: 20px;

        h2 {
          margin-top: 30px;
        }

        input[name$='zipcode'] {
          display: inline;
          width: 80px;
        }

        input[name$='area'] {
          display: inline;
          width: 200px;
        }

        div.choose-contact {
          div.checkbox {
            padding-left: 0;
          }
        }
      }

      div.section.skip-border {
        border-bottom: none !important;
      }
    }

  }
}
