{% extends 'layout.html' %}
{% block title %}Gavemedlemskap{% endblock %}
{% block breadcrumb_title %}Gavemedlemskap{% endblock %}

{% block body %}

<div class="row">
  <div class="span12">
    <h1>Bekreft bestilling</h1>
  </div>
</div>

<div class="row">
  <div class="span4">

    <h2>Fra:</h2>
    <div class="form-border">
      <table class="gift-giver">
        <tr>
          <td><strong>{{ giver.name }}</strong></td>
        </tr>
        <tr>
          <td>
            {{ giver.address }}<br>
            {{ giver.zipcode }} {{ giver.area }}
          </td>
        </tr>
        {% if giver.memberno %}
          <tr>
            <td>Medlemsnummer: {{ giver.memberno }}</td>
          </tr>
        {% endif %}
        {% if giver.phone %}
          <tr>
            <td>{{ giver.phone }}</td>
          </tr>
        {% endif %}
        {% if giver.email %}
          <tr>
            <td>{{ giver.email }}</td>
          </tr>
        {% endif %}
      </table>

    </div>
    <p>
      <a class="btn btn-large" href="{% url enrollment.views_gift.form %}"><i class="icon-arrow-left"></i> Tilbake</a>
      <a class="btn btn-large btn-success" href="{% url enrollment.views_gift.send %}"><i class="icon-ok"></i> Send bestilling</a>
    </p>
    <p>
      Du vil få tilsendt faktura, gavekort og medlemskort til din adresse så snart DNTs medlemsservice har godkjent bestillingen. Merk at medlemskapet ikke er gyldig før fakturaen er betalt.
    </p>
    {% if any_normal_memberships %}
      <p>
        Pris for vanlig medlemskap varierer mellom medlemsforeningene og avhenger av alder og husstandsmedlemskap. <a href="{% url membership.views.index %}">Se gjeldende kontingentsatser</a>.
      </p>
    {% endif %}
  </div>

  <div class="span8">
    <h2>Til:</h2>

    {% for receiver in receivers %}
      <div class="form-border">
        <p class="gift-receiver-type pull-right">{{ receiver.type.name }}{% if receiver.type.price %} kr. {{ receiver.type.price }}{% endif %}</p>
        <table class="gift-receiver">
          <tr>
            <td><strong>{{ receiver.name }}</strong></td>
          </tr>
          <tr>
            <td>Født: {{ receiver.dob|date:"j. F Y" }}</td>
          </tr>
          <tr>
            <td>
              {{ receiver.address }}<br>
              {{ receiver.zipcode }} {{ receiver.area }}
            </td>
          </tr>
          {% if receiver.phone %}
            <tr>
              <td>Tlf: {{ receiver.phone }}</td>
            </tr>
          {% endif %}
          {% if receiver.email %}
            <tr>
              <td>{{ receiver.email }}</td>
            </tr>
          {% endif %}
        </table>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
