{% extends 'layout.html' %}
{% block title %}Gavemedlemskap{% endblock %}
{% block breadcrumb_title %}Gavemedlemskap{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/jquery-ui/jquery-ui-1.8.17.custom.css" media="screen">
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/datePicker/css/datepicker.min.css" media="screen">
{% endblock %}
{% block js_globals %}
  <script>
    window.session_receivers = [
{% for receiver in receivers %}{
  'type_index': '{% firstof chosen_type receiver.type_index %}',
  'name': '{{ receiver.name }}',
  'dob_dd': '{{ receiver.dob|date:"d" }}',
  'dob_mm': '{{ receiver.dob|date:"m" }}',
  'dob_yyyy': '{{ receiver.dob|date:"Y" }}',
  'address': '{{ receiver.address }}',
  'zipcode': '{{ receiver.zipcode }}',
  'area': '{{ receiver.area }}',
  'phone': '{{ receiver.phone }}',
  'email': '{{ receiver.email }}'
}
{% if not forloop.last %},{% endif %}{% endfor %}
    ];
  </script>
{% endblock %}
{% block extra_js %}
  <script src="{{ STATIC_URL }}lib/jquery-ui/jquery-ui-1.8.17.custom.min.js"></script>
  <script src="{{ STATIC_URL }}lib/datePicker/js/lang/no.js"></script>
  <script src="{{ STATIC_URL }}lib/datePicker/js/datepicker.min.js"></script>
  <script src="{{ STATIC_URL }}js/enrollment/gift.js"></script>
  {% if messages %}
    <script>
      $(document).on('validator_ready', function() {
        window.validator.runValidations();
        $("input.zipcode").trigger('focusout'); // Zipcode inputs aren't part of the validator
      });
    </script>
  {% endif %}
{% endblock %}

{% block body %}

<div class="row">
  <div class="span12">
    <h1>Bestill gavemedlemskap</h1>
    {% include 'enrollment/gift/progress.html' with step=2 %}

    {% if messages %}
      <div class="alert alert-error">
        <a class="close">x</a>
        <strong>Vennligst sjekk følgende:</strong>
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
        <p>Felt med feil eller mangler er markert med rødt under.</p>
      </div>
    {% endif %}
  </div>
</div>

<form id="gift" method="post" action="{% url enrollment.views_gift.validate %}">
  {% csrf_token %}
  <input type="hidden" name="receivers" value="">
  <div class="row">
    <div class="span6">
      <div class="border">
        <h3>Dine opplysninger</h3>
        <p>Faktura, gavekort og medlemskort blir sendt til din adresse.</p>
        <div class="control-group giver_name">
          <label>Fullt navn <span class="asterisk red">*</span></label>
          <input type="text" class="input-large" name="giver_name" value="{{ giver.name }}">
        </div>
        <div class="control-group giver_address">
          <label> Adresse <span class="asterisk red">*</span></label>
          <input type="text" class="input-large" name="giver_address" value="{{ giver.address }}">
        </div>
        <div class="control-group giver_zipcode">
          <label> Postnummer / Poststed <span class="asterisk red">*</span></label>
          <input type="text" class="input-small zipcode" name="giver_zipcode" value="{{ giver.zipcode }}" maxlength="10">
          <input type="text" class="input-medium area" name="giver_area" value="{{ giver.area }}" disabled>
          <img src="{{ STATIC_URL }}img/ajax-loader-small.gif" class="hide ajaxloader" alt="Laster poststed..." title="Laster poststed...">
        </div>
        <div class="control-group giver_memberno">
          <label>Medlemsnummer</label>
          <input type="text" class="input-large" name="giver_memberno" value="{{ giver.memberno }}">
        </div>
        <div class="control-group giver_phone">
          <label> Mobiltelefon</label>
          <input type="text" class="input-medium" name="giver_phone" value="{{ giver.phone }}">
        </div>
        <div class="control-group giver_email">
          <label> E-post</label>
          <input type="text" class="input-large" name="giver_email" value="{{ giver.email }}">
        </div>
      </div>
    </div>

    <div class="span6">
      <div class="receivers">
      </div>
      <p class="forward-button">
        <button class="btn btn-large btn-success" type="submit">Gå videre <i class="icon-arrow-right icon-white"></i></button>
      </p>
      <p class="new-receiver">
        <button class="btn new-receiver"><i class="icon-user"></i> Legg til en ny mottaker</button>
      </p>
    </div>
  </div>
</form>

<div class="receiver-box-skeleton border hide">
  <button class="btn btn-danger remove-receiver pull-right"><i class="icon-remove icon-white"></i> Ta bort</button>
  <h3>Mottaker av gavemedlemskapet</h3>
  <div class="control-group receiver_type">
    <label>Velg type medlemskap <span class="asterisk red">*</span></label>
    <select name="receiver_type" data-placeholder="Velg type medlemskap...">
      {% for type in types %}
        <option value="{{ forloop.counter0 }}"{% if forloop.counter0 == chosen_type %} selected{% endif %}>{{ type.name }}{% if type.price %} (kr. {{ type.price }}){% endif %}</option>
      {% endfor %}
    </select>
  </div>
  <div class="control-group receiver_name">
    <label>Fullt navn <span class="asterisk red">*</span></label>
    <input type="text" class="input-large" name="receiver_name">
  </div>
  <div class="control-group dob">
    <label>Fødselsdato <span class="asterisk red">*</span></label>
    <select name="receiver_dob_dd">
      {% for day in days %}
        <option value="{{ day }}">{{ day }}</option>
      {% endfor %}
    </select>
    <select name="receiver_dob_mm">
      {% for month in months %}
        <option value="{{ month.0 }}">{{ month.1 }}</option>
      {% endfor %}
    </select>
    <select name="receiver_dob_yyyy">
      {% for year in years %}
        <option value="{{ year }}">{{ year }}</option>
      {% endfor %}
    </select>
    <span class="dob-placement"></span>
  </div>
  <div class="control-group receiver_address">
    <label> Adresse <span class="asterisk red">*</span></label>
    <input type="text" class="input-large" name="receiver_address">
  </div>
  <div class="control-group receiver_zipcode">
    <label> Postnummer / Poststed <span class="asterisk red">*</span></label>
    <input type="text" class="input-small zipcode" name="receiver_zipcode" maxlength="10">
    <input type="text" class="input-medium area" name="receiver_area" disabled>
    <img src="{{ STATIC_URL }}img/ajax-loader-small.gif" class="hide ajaxloader" alt="Laster poststed..." title="Laster poststed...">
  </div>
  <div class="control-group receiver_phone">
    <label>Mobiltelefon</label>
    <input type="text" class="input-large" name="receiver_phone">
  </div>
  <div class="control-group receiver_email">
    <label>E-post</label>
    <input type="text" class="input-large" name="receiver_email">
  </div>
</div>

{% endblock %}
