<div class="block columns-3 row">
  <div class="column col-1 span4">
  {% for item in block.columns.0 %}
    {% if item.type == "html" %}
      {{ item.content|safe }}
    {% endif %}
    {% if item.type == "widget" %}
      {% include item.content.template with widget=item.content %}
    {% endif %}
  {% endfor %}
  </div>

  <div class="column col-2 span4">
  {% for item in block.columns.1 %}
    {% if item.type == "html" %}
      {{ item.content|safe }}
    {% endif %}
    {% if item.type == "widget" %}
      {% include item.content.template with widget=item.content %}
    {% endif %}
  {% endfor %}
  </div>

  <div class="column col-3 span4">
  {% for item in block.columns.2 %}
    {% if item.type == "html" %}
      {{ item.content|safe }}
    {% endif %}
    {% if item.type == "widget" %}
      {% include item.content.template with widget=item.content %}
    {% endif %}
  {% endfor %}
  </div>
</div>
