{% include 'admin/cms/editor/advanced/snippets/edit_block.html' %}
<div class="block sidebar row" name="{{ block.id }}">
  <div class="column col-1 span8">
  {% for item in block.columns.0 %}
    {% if item.type == "html" %}
      {% include 'admin/cms/editor/advanced/snippets/content.html' %}
    {% endif %}
    {% if item.type == "widget" %}
      {% include item.content.template with widget=item.content %}
    {% endif %}
  {% endfor %}
  {% include 'admin/cms/editor/advanced/snippets/add_content.html' %}
  </div>

  <div class="column col-2 span4">
  {% for item in block.columns.1 %}
    {% if item.type == "html" %}
      {% include 'admin/cms/editor/advanced/snippets/content.html' %}
    {% endif %}
    {% if item.type == "widget" %}
      {% include item.content.template with widget=item.content %}
    {% endif %}
  {% endfor %}
  {% include 'admin/cms/editor/advanced/snippets/add_content.html' %}
  </div>
</div>
