<link rel="stylesheet" href="{{ STATIC_URL }}lib/bootstrap/css/bootstrap.min.css" media="screen">
<link rel="stylesheet" href="{{ STATIC_URL }}lib/bootstrap/css/bootstrap-responsive.min.css" media="screen">
<link rel="stylesheet" href="{{ STATIC_URL }}lib/bootstrap-modal/css/bootstrap-modal.css" media="screen">
<link rel="stylesheet" href="{{ STATIC_URL }}lib/bootstrap-datepicker/css/datepicker.css" media="screen">
<!--[if lt IE 8]><link rel="stylesheet" href="{{ STATIC_URL }}lib/bootstrap-datepicker/css/datepicker-ie7fix.css" media="screen"><![endif]-->
<link rel="stylesheet" href="{{ STATIC_URL }}lib/chosen/chosen.css" media="screen">
<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" media="screen">
<link rel="stylesheet" href="{{ STATIC_URL }}css/print.css" media="print">
<!--[if IE 7]><link rel="stylesheet" href="{{ STATIC_URL }}css/ie7.css"><![endif]-->
