{# Scripts - Raven comes first, then the rest #}
{% if not debug %}
  <script src="{{ STATIC_URL }}lib/raven-js/raven.min.js"></script>
  <script src="{{ STATIC_URL }}js/raven.js"></script>
  {% if user.is_authenticated %}
    <script>
      Raven.setUser({
          id: {{ user.id }}
      });
    </script>
  {% endif %}
{% endif %}
<!--[if lt IE 9]><script src="{{ STATIC_URL }}lib/html5shiv/html5.js"></script><![endif]-->
<script src="{{ STATIC_URL }}lib/jquery/jquery-1.9.1.min.js"></script>
<script src="{{ STATIC_URL }}lib/jquery/jQuery.ajaxQueue.min.js"></script>
<script src="{{ STATIC_URL }}lib/jQuery.Hashtag/jQuery.Hashtag.js"></script>
<script src="{{ STATIC_URL }}lib/bootstrap/js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}lib/bootstrap-modal/js/bootstrap-modalmanager.js"></script>
<script src="{{ STATIC_URL }}lib/bootstrap-modal/js/bootstrap-modal.js"></script>
<script src="{{ STATIC_URL }}lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="{{ STATIC_URL }}lib/bootstrap-datepicker/js/locales/bootstrap-datepicker.nb.js"></script>
<script src="{{ STATIC_URL }}lib/chosen/chosen.jquery.min.js"></script>
<!--[if lt IE 9]><script src="{{ STATIC_URL }}js/ie/trim.js"></script><![endif]-->
<!--[if lt IE 8]><script src="{{ STATIC_URL }}lib/json/json2.js"></script><![endif]-->
<script src="{{ STATIC_URL }}js/ie/contains.js"></script>
<script src="{{ STATIC_URL }}js/main.js"></script>
<script src="{{ STATIC_URL }}js/common.js"></script>
<script src="{{ STATIC_URL }}js/widgets.js"></script>
<script src="{{ STATIC_URL }}js/validator.js"></script>
<script src="{{ STATIC_URL }}js/infinite-scroller.js"></script>

<script>
  $.fn.datepicker.defaults.language = '{{ LANGUAGE_CODE }}';
</script>

<!-- Google Analytics -->
<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-266436-2']);
  {% if donottrack %}
    // Du har aktivert Do Not Track, og i henhold anonymiserer vi din IP-adresse for vår besøksstatistikk.
    _gaq.push(['_gat._anonymizeIp']);
  {% endif %}
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
  })();
</script>

{% if not donottrack %}
  <!--
    Følgende Adform-script vil registrere ditt besøk på våre nettsider, og dele denne informasjonen med våre samarbeidspartnere.
    Slik kan disse gi deg mer tilpasset informasjon og for eksempel tilby deg medlemsfordeler. For mer informasjon, se vår personvernerklæring (finn lenke i footer).
    Om du ikke ønsker dette, kan du aktivere Do Not Track i din nettleser. Se http://donottrack.us/ for mer informasjon.
  -->
  <script type="text/javascript">
    var _adftrack = {
        pm: 40194,
        pagename: encodeURIComponent('Turistforeningen|Turistforeningen'),
        divider: encodeURIComponent('|')
    };
    (function() {
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = 'https://track.adform.net/serving/scripts/trackpoint/async/';
      var x = document.getElementsByTagName('script')[0];
      x.parentNode.insertBefore(s, x);
    })();
  </script>
  <noscript>
    <p style="margin: 0; padding: 0; border: 0;">
      <img src="https://track.adform.net/Serving/TrackPoint/?pm=40194&amp;ADFPageName=Turistforeningen|Turistforeningen&amp;ADFdivider=|" width="1" height="1" alt="">
    </p>
  </noscript>
{% else %}
  <!-- Takk for at du bruker Do Not Track! Adforms trackingscript er nå ekskludert fra ditt besøk på Den Norske Turistforeningens sider. -->
{% endif %}
