{# Always include Raven first, for client-side error reporting #}
{% if not debug %}
  <script src="{{ STATIC_URL }}lib/raven-js/raven.min.js"></script>
  <script src="{{ STATIC_URL }}js/raven.js"></script>
  {% if user.is_authenticated %}
    <script>
      Raven.setUser({
          id: {{ user.id }}
      });
    </script>
  {% endif %}
{% endif %}

{# HTML5 shiv, json libs and other polyfill #}
<!--[if lt IE 9]><script src="{{ STATIC_URL }}lib/html5shiv/html5.js"></script><![endif]-->
<!--[if lt IE 8]><script src="{{ STATIC_URL }}lib/json/json2.js"></script><![endif]-->
<script src="{{ STATIC_URL }}js/lib/polyfill.js"></script>
<script src="{{ STATIC_URL }}lib/css-element-queries-0.1/src/ResizeSensor.js"></script>
<script src="{{ STATIC_URL }}lib/css-element-queries-0.1/src/ElementQueries.js"></script>

{# Core libraries (jquery and bootstrap) #}
<script src="{{ STATIC_URL }}lib/jquery/jquery-1.9.1.min.js"></script>
<script src="{{ STATIC_URL }}lib/bootstrap/public/js/bootstrap.min.js"></script>

{# 3rd party libs that extend core #}
<script src="{{ STATIC_URL }}lib/jquery/jQuery.ajaxQueue.min.js"></script>
<script src="{{ STATIC_URL }}lib/jQuery.Hashtag/jQuery.Hashtag.js"></script>
<script src="{{ STATIC_URL }}lib/touchswipe-jquery-1.6.8/jquery.touchSwipe.min.js"></script>
<script src="{{ STATIC_URL }}lib/bootstrap-modal/js/bootstrap-modalmanager.js"></script>
<script src="{{ STATIC_URL }}lib/bootstrap-modal/js/bootstrap-modal.js"></script>
<script src="{{ STATIC_URL }}lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="{{ STATIC_URL }}lib/bootstrap-datepicker/js/locales/bootstrap-datepicker.nb.js"></script>
<script>
  $.fn.datepicker.defaults.language = '{{ LANGUAGE_CODE }}';
</script>
<script src="{{ STATIC_URL }}lib/typeahead/typeahead.bundle.min.js"></script>

{# Other 3rd party libs #}
<script src="{{ STATIC_URL }}lib/chosen/chosen.jquery.min.js"></script>
<script src="{{ STATIC_URL }}lib/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="{{ STATIC_URL }}lib/select2-3.5.1/select2.min.js"></script>
<script src="{{ STATIC_URL }}lib/select2-3.5.1/select2_locale_no.js"></script>
<script src="{{ STATIC_URL }}lib/jQuery.SSR/jQuery.SSR.js"></script>
<script src="{{ STATIC_URL }}lib/xmlToJSON/xmlToJSON.js"></script>

{# Our lib-ish scripts #}
<script src="{{ STATIC_URL }}js/lib/zipcode.js"></script>
<script src="{{ STATIC_URL }}js/lib/image-cropping.js"></script>
<script src="{{ STATIC_URL }}js/public/main.js"></script>
<script src="{{ STATIC_URL }}js/public/mobile-menu.js"></script>
<script src="{{ STATIC_URL }}js/common/common.js"></script>
<script src="{{ STATIC_URL }}js/public/widgets.js"></script>
<script src="{{ STATIC_URL }}js/lib/validator.js"></script>
<script src="{{ STATIC_URL }}js/lib/infinite-scroller.js"></script>
<script src="{{ STATIC_URL }}js/lib/typeahead.js"></script>

{# Google analytics #}
{% if analytics_ua %}
  <!-- Google Analytics -->
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ analytics_ua }}']);
    {% if donottrack %}
      // Du har aktivert Do Not Track, og i henhold anonymiserer vi din IP-adresse for vår besøksstatistikk.
      _gaq.push(['_gat._anonymizeIp']);
    {% endif %}
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
    })();
  </script>
{% endif %}

{# Adform tracking #}
{% if not donottrack %}
  <!--
    Følgende Adform-script vil registrere ditt besøk på våre nettsider, og dele denne informasjonen med våre samarbeidspartnere.
    Slik kan disse gi deg mer tilpasset informasjon og for eksempel tilby deg medlemsfordeler. For mer informasjon, se vår personvernerklæring (finn lenke i footer).
    Om du ikke ønsker dette, kan du aktivere Do Not Track i din nettleser. Se http://donottrack.us/ for mer informasjon.
  -->
  <script type="text/javascript">
    var _adftrack = {
        pm: 40194,
        pagename: encodeURIComponent('Turistforeningen|Turistforeningen'),
        divider: encodeURIComponent('|')
    };
    (function() {
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = 'https://track.adform.net/serving/scripts/trackpoint/async/';
      var x = document.getElementsByTagName('script')[0];
      x.parentNode.insertBefore(s, x);
    })();
  </script>
  <noscript>
    <p style="margin: 0; padding: 0; border: 0;">
      <img src="https://track.adform.net/Serving/TrackPoint/?pm=40194&amp;ADFPageName=Turistforeningen|Turistforeningen&amp;ADFdivider=|" width="1" height="1" alt="">
    </p>
  </noscript>
{% else %}
  <!-- Takk for at du bruker Do Not Track! Adforms trackingscript er nå ekskludert fra ditt besøk på Den Norske Turistforeningens sider. -->
{% endif %}
