{% extends 'main/admin/layout.html' %}

{% block body %}

<div class="row">
  <div class="span12">
    <div class="alert alert-error">
      <a class="close">x</a>
      <strong>Du har ikke valgt aktiv forening!</strong><br>
      For å få tilgang til Sherpa må du velge en av foreningene du har tilgang til.<br>
      Du kan endre aktiv forening når som helst i lista oppe til høyre, under navnet ditt.
    </div>

    {% if user_associations.central|length > 0 %}
      <h2>Sentralt/nasjonalt</h2>
      <ul class="active-association-list">
      {% for association in user_associations.central %}
        <li><a href="/sherpa/aktiv-forening/{{ association.id }}/">{{ association.name }}</a></li>
      {% endfor %}
      </ul>
    {% endif %}
    {% if user_associations.associations|length > 0 %}
      <h2>Medlemsforeninger</h2>
      <ul class="active-association-list">
      {% for association in user_associations.associations %}
        <li><a href="/sherpa/aktiv-forening/{{ association.id }}/">{{ association.name }}</a></li>
      {% endfor %}
      </ul>
    {% endif %}
    {% if user_associations.small_associations|length > 0 %}
      <h2>Lokale turlag</h2>
      <ul class="active-association-list">
      {% for association in user_associations.small_associations %}
        <li><a href="/sherpa/aktiv-forening/{{ association.id }}/">{{ association.name }}</a></li>
      {% endfor %}
      </ul>
    {% endif %}
    {% if user_associations.hike_groups|length > 0 %}
      <h2>Turgrupper</h2>
      <ul class="active-association-list">
      {% for association in user_associations.hike_groups %}
        <li><a href="/sherpa/aktiv-forening/{{ association.id }}/">{{ association.name }}</a></li>
      {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>

{% endblock %}
