{% extends "admin/layout.html" %}

{% block body %}
  <nav id="dashboard">
    <ul>
      <li><a href="{% url admin.cms.views.page.list %}">
        <img src="{{ STATIC_URL }}img/icons/sherpa-dashboard/webpages.jpg"><br>Websider</a></li>
      <li><a href="{% url admin.articles.views.list %}">
        <img src="{{ STATIC_URL }}img/icons/sherpa-dashboard/articles.jpg"><br>Artikler</a></li>
      <li><a href="{% url admin.analytics.views.visitors_list %}">
        <img src="{{ STATIC_URL }}img/icons/sherpa-dashboard/statistics.jpg"><br>Analyse</a></li>
      <li><a href="{% url admin.images.views.list_albums %}">
        <img src="{{ STATIC_URL }}img/icons/sherpa-dashboard/imagearchive.jpg"><br>Bildearkiv</a></li>
    </ul>
  </nav>
  <div style="clear: both;"></div>
{% endblock %}
