{% extends "admin/layout.html" %}

{% block title %}Admin index{% endblock %}

{% block body %}
  <nav>
    <ul>
      <li><a href="{% url admin.cms.views.page.list %}">
        <img src="{{ STATIC_URL }}img/icons/coffee.png"><br>CMS</a></li>
      <li><a href="{% url admin.articles.views.list %}">
        <img src="{{ STATIC_URL }}img/icons/book.png"><br>Artikler</a></li>
      <li><a href="{% url admin.analytics.views.visitors_list %}">
        <img src="{{ STATIC_URL }}img/icons/keys.png"><br>Analyse</a></li>
      <li><a href="{% url admin.images.views.list_albums %}">
        <img src="{{ STATIC_URL }}img/icons/world.png"><br>Bildearkiv</a></li>
    </ul>
  </nav>
  <div style="clear: both;"></div>
{% endblock %}
