<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Forsiden{% endblock %} &mdash; Turistforeningen</title>
    <script src="{{ STATIC_URL }}js/jquery-1.6.4.min.js"></script>
    <script src="{{ STATIC_URL }}js/admin.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/admin.css" media="screen">
</head>
<body>
<header>
  <nav>
    <ul>
      <li><a href="{% url admin.views.index %}" class="">Admin-forside</a></li>
      <li><a href="{% url admin.views.menu_list %}" class="">Hovedmeny</a></li>
      <li><a href="{% url admin.views.page_list %}" class="">Nyheter / sider</a></li>
    </ul>
  </nav>
</header>
{% block body %}{% endblock %}
<footer>
</footer> 

</body>
</html>
