<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Sherpa{% endblock %} &mdash; Turistforeningen</title>
  <!--[if lt IE 9]><script src="{{ STATIC_URL }}lib/html5shiv/html5.js"></script><![endif]-->
  <script src="{{ STATIC_URL }}lib/jquery/jquery-1.7.1.min.js"></script>
  <script src="{{ STATIC_URL }}lib/jquery-ui/jquery-ui-1.8.17.custom.min.js"></script>
  <script src="{{ STATIC_URL }}lib/jquery/jQuery.ajaxQueue.min.js"></script>
  <script src="{{ STATIC_URL }}lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="{{ STATIC_URL }}lib/chosen/chosen.jquery.min.js"></script>
  <script src="{{ STATIC_URL }}js/admin/editor/image-utils.js"></script>

  {# this is for image cropping #}
  <script src="{{ STATIC_URL }}lib/imagesloaded/jquery.imagesloaded.min.js"></script>
  <script src="{{ STATIC_URL }}lib/imgareaselect/js/jquery.imgareaselect.js"></script>
  <script src="{{ STATIC_URL }}lib/imgareaselect/js/jquery.imgareaselect.js"></script>
  <script src="{{ STATIC_URL }}js/admin/editor/image-cropper.js"></script>
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/imgareaselect/css/imgareaselect-default.css">

  <!--[if lte IE 9]><script src="{{ STATIC_URL }}js/placeholder-ie.js"></script><![endif]-->
  <!--[if lt IE 9]><script src="{{ STATIC_URL }}js/trim-ie.js"></script><![endif]-->
  <!--[if lt IE 8]><script src="{{ STATIC_URL }}lib/json/json2.js"></script><![endif]-->
  <script src="{{ STATIC_URL }}js/admin/main.js"></script>
  <script src="{{ STATIC_URL }}js/common.js"></script>
  <script src="{{ STATIC_URL }}js/widgets.js"></script>

  {% block extra_js %}{% endblock %}
  <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/jquery-ui/jquery-ui-1.8.17.custom.css" media="screen">
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/bootstrap/css/bootstrap.min.css" media="screen">
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/bootstrap/css/bootstrap-responsive.min.css" media="screen">
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/chosen/chosen.css" media="screen">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/admin/main.css" media="screen">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/common.css" media="screen">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/unbootstrap.css" media="screen">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/widgets.css" media="screen">
  {% block extra_css %}{% endblock %}
</head>
<body class="container">

<header class="row">
  <div class="span2 logo">
    <a href="{% url admin.views.index %}">
      <img src="{{ STATIC_URL }}img/dnt_logo.gif" alt="Den Norske Turistforening">
    </a>
  </div>
  <div class="span8 line">
    <h1 class="sherpa">
      {% block header %}<a href="{% url admin.views.index%}">Sherpa</a>{% endblock %}
    </h1>
  </div>
  <div class="span2 line right">
    <a href="/">Forsiden</a><br>
    <a href="{% url user.views.home_new %}">Min side</a><br>
    <a href="{% url user.views.logout %}">Logg ut</a>
  </div>
</header>

<hr>

{% block body %}{% endblock %}
<footer>
</footer>

</body>
</html>
