:host {
  display: block;
  margin-top: -75px;
}

:host /deep/ * {
  font-family: "DTL Nobel";
  font-weight: normal;
}

:host /deep/ paper-button {
  border-radius: 0;
  margin: 0;
}

:host /deep/ paper-input /deep/ input[is="core-input"] {
  margin-top: 0 !important;
}

div.description {
  margin-top: 30px;
}

// Default is absolute, and that is no good
core-pages /deep/ .core-selected {
  position: relative;
}

:host /deep/ section {
  margin-bottom: 20px;
}

:host /deep/ p.help-block {
  margin: 5px 0 10px 0;
  color: #737373;
}
