:host {
  display: block;
  margin-top: -87px;
}

:host /deep/ * {
  font-family: "DTL Nobel";
}

:host /deep/ paper-button {
  border-radius: 0;
  margin: 0;
}

:host /deep/ paper-input /deep/ input[is="core-input"] {
  margin-top: 0 !important;
}

div.description {
  margin-top: 30px;
}

// Default is absolute, and that is no good
core-pages /deep/ .core-selected {
  position: relative;
}

:host /deep/ section {
  margin-bottom: 40px;
}

:host /deep/ p.help-block {
  margin: 5px 0 10px 0;
  color: #737373;
}

:host /deep/ paper-button {
  text-transform: none;

  /deep/ .button-content {
    padding: 0.5em;
  }

  /deep/ core-icon {
    margin-right: 5px;
  }
}

:host /deep/ [end-justified] /deep/ paper-button {
  margin-left: 10px;
}

:host /deep/ core-toolbar {
  font-size: 1.2em;
}

:host /deep/ {
  h1, h2, h3, h4 {
    font-weight: bold;
    margin-bottom: 10px;
  }
}

:host /deep/ [horizontal][layout] paper-checkbox {
  padding-top: 2px;
  padding-right: 15px;
}
