div.panel-group {
  margin-bottom: 20px;

  div.panel.panel-default {
    div.panel-heading {
      overflow: hidden;

      .panel-title {
        float: left;

        a {
          line-height: 30px;
        }
      }

      .btn.btn-danger {
        float: right;
      }
    }
  }
}

