{% extends "admin/layout.html" %}
{% block title %}Analyse &mdash; {{ block.super }}{% endblock %}
{% block header %}<a href="{% url admin.analytics.views.visitors_list %}">Analyse</a>{% endblock %}
{% block body %}

<h1>Sidevisninger</h1>
{% if not requests %}
<p>Ingen sidevisninger!</p>
{% else %}
<table class="table table-striped">
<tr>
  <th>Metode</th>
  <th>Path</th>
  <th>Parametere</th>
  <th>Server host</th>
  <th>Klient IP</th>
  <th>Klient Host</th>
  <th>Referrer</th>
  <th>Enter</th>
  <th>Ajax</th>
  <th>Side-slug</th>
  <th>Variant-slug</th>
  <th>Aktiv versjon</th>
  <th>Forespurt segment</th>
  <th>Faktisk segment</th>
</tr>
{% for request in requests %}
<tr>
  <td>{{ request.http_method }}</td>
  <td>{{ request.path }}</td>
  <td>{{ request.parameter_count }}</td>
  <td>{{ request.server_host }}</td>
  <td>{{ request.client_ip }}</td>
  <td>{{ request.client_host }}</td>
  <td>{{ request.referrer }}</td>
  <td>{{ request.enter }}</td>
  <td>{{ request.ajax }}</td>
  {% with pageview=request.pageview %}
  <td>{{ pageview.variant.page.slug }}</td>
  <td>{{ pageview.variant.slug }}</td>
  <td>{{ pageview.variant.active.version }}</td>
  <td>{{ pageview.requested_segment.description }}</td>
  <td>{{ pageview.matched_segment.description }}</td>
  {% endwith %}
</tr>
{% endfor %}
</table>
{% endif %}
{% endblock %}
