<div class="dialog widget-edit" data-widget="carousel" data-title="Bildekarusell-widget" data-width="auto">
    <p>	
    	<table>
	    	<tr> 
	            <td><label>Url:</label></td>
	            <td><input name="url" type="text" class="input-xlarge"></td>
	            <td><button name="choose" class='btn btn-success choose-image'><i class='icon-share-alt'></i> Finn bilde i arkivet</button>
	            <button name="remove" class='btn btn-danger remove-image'><i class='icon-remove'></i> Fjern bilde</button></td>
	        </tr>
            <tr>
                <td><label>Beskrivelse:</label></td>
                <td><input name="description" type='text' class='input-xlarge'></td>
            </tr>
            <tr>
                <td><label>Fotograf:</label></td>
                <td><input name='photographer' type='text' class='input-xlarge'></td>
            </tr>
            <tr>
            	<td><label name="sequence">Bilde 1 av 1 </label></td>
                <td><button class="btn btn-success previous"><i class="icon-chevron-left"></i> Forrige bilde</button>
                <button class="btn btn-success next">Neste bilde <i class="icon-chevron-right"></i></button></td>
            </tr>
        </table> 

        <br> 
        <br> 

        <button class="btn btn-success btn-large save"><i class="icon-ok"></i> Lagre widget</button>
        <button class="btn btn-danger btn-large remove"><i class="icon-warning-sign"></i> Slett widget</button>

        <br> 
        <br>

	    <h2>Valgt bilde:</h2>
        <div style="overflow:hidden;">
	       <img name="preview" default="{{ STATIC_URL }}img/placeholder.png" src=""></img>
        </div>
    </p>
</div>
