{% extends 'common/admin/layout.html' %}
{% block title %}Brukere &mdash; {{ block.super }}{% endblock %}
{% block header %}<a href="{% url 'admin.users.views.index' %}">Brukere</a>{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/admin/user_management.js"></script>
{% endblock %}

{% block body %}

<div class="admin-user-show">

  <div class="row">
    <div class="span12">

      <ul class="nav nav-tabs main-nav">
        <li class="active"><a href="#personopplysninger" data-toggle="tab">Personopplysninger</a></li>
        <li><a href="#tilganger" data-toggle="tab">Tilganger</a></li>
        <li><a href="#turleder" data-toggle="tab">Turledersertifikat</a></li>
        {% if other_user.is_member and user.can_modify_user_memberid %}
          <li><a href="#endremedlemsnummer" data-toggle="tab">Endre medlemsnummer</a></li>
        {% endif %}
      </ul>

      <div class="tab-content tab-content-visible main-nav-tabs">
        <div class="tab-pane active" id="personopplysninger">
          {% include 'common/admin/users/show/personal_details.html' %}
        </div>

        <div class="tab-pane" id="tilganger">
          {% include 'common/admin/users/show/permissions.html' %}
        </div>

        <div class="tab-pane" id="turleder">
          {% include 'common/admin/users/show/turledersertifikat.html' %}
        </div>

        {% if other_user.is_member and user.can_modify_user_memberid %}
          <div class="tab-pane" id="endremedlemsnummer">
            {% include 'common/admin/users/show/change_memberid.html' %}
          </div>
        {% endif %}
      </div>

    </div>
  </div>

</div>

{% endblock %}
