{% load friendlyrole %}

<h3>Tilganger</h3>

{% if other_user.perms.sherpa_admin %}
  <p>Sherpa-administrator — har tilgang til alle foreninger.</p>
{% elif other_user.perms.sherpa %}

  {% for message in messages %}
    {% if message.message == 'access_email_success' %}
      <div class="alert alert-success">
        <strong>{{ other_user.get_full_name }} har fått tilgang.</strong><br>
        E-postvarsel har blitt sendt til <a href="mailto:{{ other_user.get_sherpa_email }}">{{ other_user.get_sherpa_email }}</a>.
      </div>
    {% elif message.message == 'access_email_failure' %}
      <div class="alert alert-success">
        <strong>{{ other_user.get_full_name }} har fått tilgang.</strong><br>
        Et problem oppstod ved utsendelse av e-post, {% if other_user.get_gender == 'm' %}han{% else %}hun{% endif %} har derfor <strong>ikke</strong> mottatt noe e-postvarsel.
      </div>
    {% elif message.message == 'no_email_for_user' %}
      <div class="alert alert-success">
        <strong>{{ other_user.get_full_name }} har fått tilgang.</strong><br>
        {% if other_user.get_gender == 'm' %}Han{% else %}Hun{% endif %} har ikke registrert e-postadresse og vi kunne derfor ikke sende ut e-postvarsel.</strong>
      </div>
    {% endif %}
  {% endfor %}

  {% if other_user.all_foreninger|length == 0 %}
    <div class="alert alert-danger">
      <strong>{{ other_user.get_full_name }} har ikke tilgang til noen foreninger!</strong><br>
      Gi ham/henne tilgang til minst én forening, ellers gir det ikke mening at han/henne har tilgang til Sherpa.
    </div>
  {% else %}

    <table class="table user-permissions">
      {% if other_user.all_foreninger_sorted.central|length > 0 %}
        <tr>
          <th colspan="2" class="group">Sentralt</th>
        </tr>
        {% for forening in other_user.all_foreninger_sorted.central %}
          <tr>
            <td>{{ forening.name }}</td>
            <td>
              {% if forening.role == 'user' %}<i class="fa fa-user"></i>{% endif %}
              {% if forening.role == 'admin' %}<i class="fa fa-star"></i>{% endif %}
              {{ forening.role|friendlyrole }}
            </td>
          </tr>
        {% endfor %}
      {% endif %}

      {% if other_user.all_foreninger_sorted.foreninger|length > 0 %}
        <tr>
          <th colspan="2" class="group">Foreninger</th>
        </tr>
        {% for forening in other_user.all_foreninger_sorted.foreninger %}
          <tr>
            <td>{{ forening.name }}</td>
            <td>
              {% if forening.role == 'user' %}<i class="fa fa-user"></i>{% endif %}
              {% if forening.role == 'admin' %}<i class="fa fa-star"></i>{% endif %}
              {{ forening.role|friendlyrole }}
            </td>
          </tr>
        {% endfor %}
      {% endif %}

      {% if other_user.all_foreninger_sorted.turlag|length > 0 %}
        <tr>
          <th colspan="2" class="group">Turlag</th>
        </tr>
        {% for forening in other_user.all_foreninger_sorted.turlag %}
          <tr>
            <td>{{ forening.name }}</td>
            <td>
              {% if forening.role == 'user' %}<i class="fa fa-user"></i>{% endif %}
              {% if forening.role == 'admin' %}<i class="fa fa-star"></i>{% endif %}
              {{ forening.role|friendlyrole }}
            </td>
          </tr>
        {% endfor %}
      {% endif %}

      {% if other_user.all_foreninger_sorted.turgrupper|length > 0 %}
        <tr>
          <th colspan="2" class="group">Turgrupper</th>
        </tr>
        {% for forening in other_user.all_foreninger_sorted.turgrupper %}
          <tr>
            <td>{{ forening.name }}</td>
            <td>
              {% if forening.role == 'user' %}<i class="fa fa-user"></i>{% endif %}
              {% if forening.role == 'admin' %}<i class="fa fa-star"></i>{% endif %}
              {{ forening.role|friendlyrole }}
            </td>
          </tr>
        {% endfor %}
      {% endif %}
    </table>
  {% endif %}

{% else %}
  <p>{{ other_user.get_full_name }} har ikke tilgang til Sherpa.</p>
{% endif %}

{% if user == other_user %}                   {# Don't let a user modify his/her own permissions #}
{% elif other_user.perms.sherpa_admin %} {# Permissions for sherpa admins aren't modifiable #}
{% elif not other_user.perms.sherpa %}

  {# Hasn't got Sherpa access at all #}
  <p><button class="btn btn-danger make-sherpa-user">Gi tilgang til Sherpa</button></p>
  <div class="alert alert-danger jq-hide make-sherpa-user">
    <p>
      <strong>Gjør {{ other_user.get_full_name }} til Sherpa-bruker?</strong> Husk:<br>
    </p>
    <ol>
      <li>Du må gi brukeren tilgang til minst én forening etterpå, ellers gir det ikke mening at han/henne er Sherpa-bruker.</li>
      <li>Turledere trenger ikke nødvendigvis tilgang til Sherpa. Hvis du setter en bruker som turleder på en aktivitet, får han/henne tilgang fra Min side.</li>
    </ol>
    <p><a href="{% url 'admin.users.views.give_sherpa_access' other_user.id %}" class="btn btn-success">Ja, gjør {{ other_user.get_full_name }} til Sherpa-bruker</a></p>
    <p><a href="javascript:undefined" class="btn btn-default cancel">Nei, avbryt</a></p>
  </div>

{% else %}

  {# Normal sherpa-user #}
  <h3>Endre tilganger</h3>

  {% if user.perms.sherpa_admin %}
    <p class="admin-buttons">
      <button class="btn btn-danger make-sherpa-admin"><i class="fa fa-warning"></i> Gjør til Sherpa-admin</button>
      <button class="btn btn-danger revoke-sherpa-access">Ta bort Sherpa-tilgang</button>
    </p>
    <div class="alert alert-danger jq-hide make-sherpa-admin">
      <p>
        <strong>Gjør brukeren til Sherpa-administrator?</strong><br>
        Sherpa-administratorer har tilgang til absolutt alt, og kan gjøre andre brukere til Sherpa-administratorer.
      </p>
      <p><a href="{% url 'admin.users.views.make_sherpa_admin' other_user.id %}" class="btn btn-success">Ja, gjør {{ other_user.get_full_name }} til Sherpa-administrator</a></p>
      <p><a href="javascript:undefined" class="btn btn-default cancel">Nei, avbryt</a></p>
    </div>
    <div class="alert alert-danger jq-hide revoke-sherpa-access">
      <p>
        <strong>Ta bort Sherpa-tilgang!?</strong><br>
        {{ other_user.get_full_name }} vil ikke ikke lengre ha noen form for tilgang til Sherpa, uavhengig av hvilke foreninger de er brukere/administratorer i.
      </p>
      <p><a href="{% url 'admin.users.views.revoke_sherpa_access' other_user.id %}" class="btn btn-success">Ja, ta bort Sherpa-tilgang fullstendig</a></p>
      <p><a href="javascript:undefined" class="btn btn-default cancel">Nei, avbryt</a></p>
    </div>

  {% endif %}

  <div class="forening-permission">
    <select name="forening-permission" class="chosen" data-placeholder="Gi tilgang til en forening...">
      <option value=""></option>
      {% if assignable_foreninger.central|length > 0 %}
        <optgroup label="Sentralt/nasjonalt">
          {% for forening in assignable_foreninger.central %}
            <option value="{{ forening.id }}" data-role="{{ forening.role }}">{{ forening.name }}</option>
          {% endfor %}
        </optgroup>
      {% endif %}
      {% if assignable_foreninger.foreninger|length > 0 %}
        <optgroup label="Medlemsforeninger">
          {% for forening in assignable_foreninger.foreninger %}
            <option value="{{ forening.id }}" data-role="{{ forening.role }}">{{ forening.name }}</option>
          {% endfor %}
        </optgroup>
      {% endif %}
      {% if assignable_foreninger.turlag|length > 0 %}
        <optgroup label="Lokale turlag">
          {% for forening in assignable_foreninger.turlag %}
            <option value="{{ forening.id }}" data-role="{{ forening.role }}">{{ forening.name }}</option>
          {% endfor %}
        </optgroup>
      {% endif %}
      {% if assignable_foreninger.turgrupper|length > 0 %}
        <optgroup label="Turgrupper">
          {% for forening in assignable_foreninger.turgrupper %}
            <option value="{{ forening.id }}" data-role="{{ forening.role }}">{{ forening.name }}</option>
          {% endfor %}
        </optgroup>
      {% endif %}
    </select>
  </div>

  <div class="row forening-role jq-hide">
    <div class="col-sm-6 user">
      <p class="button"><button class="btn btn-default btn-lg user"><i class="fa fa-user"></i> Vanlig bruker</button></p>
      <p class="permission-description">
        Vanlige brukere kan gjøre endringer på sin egen forening.
      </p>
    </div>

    <div class="col-sm-6 admin">
      <p class="button"><button class="btn btn-default btn-lg admin"><i class="fa fa-star"></i> Administrator</button></p>
      <p class="permission-description">
        Administratorer kan i tillegg gjøre endringer på foreninger/turlag som er underlagt sin forening, og opprette nye turlag/foreninger.
      </p>
    </div>
  </div>

  <div class="alert alert-danger verify-forening-permission jq-hide">
    <form action="{% url 'admin.users.views.add_forening_permission' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="user" value="{{ other_user.id }}">
      <input type="hidden" name="forening" value="">
      <input type="hidden" name="role" value="">
      <p>
        <strong>Gi {{ other_user.get_full_name }} <span class="role"></span> til <span class="forening"></span>?</strong>
      </p>
      <p><button type="submit" class="btn btn-success">Ja, gi tilgang</button></p>
      <div class="checkbox">
        <label data-popover data-trigger="hover" data-placement="right" data-title="Send e-postvarsel" data-content="Send informasjon om Sherpa-tilgang til den nye brukeren på e-post">
          <input type="checkbox" name="send_email" checked> Send e-postvarsel
        </label>
      </div>
      <p><a href="javascript:undefined" class="btn btn-default cancel">Nei, avbryt</a></p>
    </form>
  </div>

  {% if revokable_foreninger.central|length > 0 or revokable_foreninger.foreninger|length > 0 or revokable_foreninger.turlag|length > 0 or revokable_foreninger.turgrupper|length > 0 %}
    <div class="forening-permission-revoke">
      <select name="forening-permission-revoke" class="chosen" data-placeholder="Ta bort tilgangen til en forening...">
        <option value=""></option>
        {% if revokable_foreninger.central|length > 0 %}
          <optgroup label="Sentralt/nasjonalt">
            {% for forening in revokable_foreninger.central %}
              <option value="{{ forening.id }}" data-role="{{ forening.role }}">{{ forening.name }}</option>
            {% endfor %}
          </optgroup>
        {% endif %}
        {% if revokable_foreninger.foreninger|length > 0 %}
          <optgroup label="Medlemsforeninger">
            {% for forening in revokable_foreninger.foreninger %}
              <option value="{{ forening.id }}" data-role="{{ forening.role }}">{{ forening.name }}</option>
            {% endfor %}
          </optgroup>
        {% endif %}
        {% if revokable_foreninger.turlag|length > 0 %}
          <optgroup label="Lokale turlag">
            {% for forening in revokable_foreninger.turlag %}
              <option value="{{ forening.id }}" data-role="{{ forening.role }}">{{ forening.name }}</option>
            {% endfor %}
          </optgroup>
        {% endif %}
        {% if revokable_foreninger.turgrupper|length > 0 %}
          <optgroup label="Turgrupper">
            {% for forening in revokable_foreninger.turgrupper %}
              <option value="{{ forening.id }}" data-role="{{ forening.role }}">{{ forening.name }}</option>
            {% endfor %}
          </optgroup>
        {% endif %}
      </select>

      <div class="forening-permission-revoke-verify jq-hide alert alert-danger">
        <form action="{% url 'admin.users.views.revoke_forening_permission' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="user" value="{{ other_user.id }}">
          <input type="hidden" name="forening" value="">
          <p>
            <strong>Ta bort {{ other_user.get_full_name }}s tilgang til <span class="forening"></span>?</strong>
          </p>
          <p><button type="submit" class="btn btn-success">Ja, ta bort tilgangen</button></p>
          <p><a href="javascript:undefined" class="btn btn-default cancel">Nei, avbryt</a></p>
        </form>
      </div>
    </div>
  {% endif %}

{% endif %}
