{% load get_turleder_role %}

<div class="turlederregister turlederregister-edit">

  {% for message in messages %}
    {% if message.message == 'success' %}
      <div class="alert alert-success">
        <strong>Endringene har blitt lagret.</strong><br>
        <a href="{% url 'admin.turledere.views.index' %}">Gå til turlederregisteret</a>
      </div>
    {% elif message.message == 'invalid_turleder_sertifikat_date' %}
      <div class="alert alert-error">
        <strong>Datoen du valgte for turledersetifikatet var ikke en gyldig dato.</strong><br>
        Vennligst prøv igjen med rett dato.
      </div>
    {% endif %}
  {% endfor %}

  <form action="{% url 'admin.turledere.views.edit_active_associations' other_user.id %}" method="post" class="active-associations">
    {% csrf_token %}
    <input type="hidden" name="active_association_ids" value="">
    <input type="hidden" name="active_associations_all" value="">

    <h3>Aktiv i følgende foreninger:</h3>
    <p>
      <select name="active_associations" data-chosen data-placeholder="Velg foreninger som denne turlederen er aktiv i..." multiple>
        <option value=""></option>
        <optgroup label="Medlemsforeninger">
          {% for association in all_associations.associations %}
            <option value="{{ association.id }}"{% if association in other_user.turleder_active_associations.all and other_user.turleder_active_associations.count != all_associations.associations|length %} selected{% endif %}>{{ association.name }}</option>
          {% endfor %}
        </optgroup>
      </select>
      <label class="checkbox">
        <input type="checkbox" name="active_associations_all_checkbox"{% if other_user.turleder_active_associations.count == all_associations.associations|length %} checked{% endif %}>
        Aktiv i <strong>alle</strong> foreninger
      </label>
      <button type="submit" class="btn"><i class="icon-ok"></i> Lagre aktive foreninger</button>
    </p>
  </form>

  <div class="edit-area form-border">
    <div class="row-fluid">
      <div class="span6">

        {% if other_user.is_member %}

          <div class="role">

            <h3 class="{% if other_user.kursleder %}has-role{% endif %}">
              Kursleder
              {% if other_user.kursleder.is_expired %}
                <span class="expired">(utgått)</span>
              {% endif %}
            </h3>

            {% if not other_user.kursleder %}

              <p class="status-empty">
                Ikke registrert sertifikat.<br>
                {% if user.can_modify_kursleder_status %}
                  <a href="javascript:undefined" class="create">Registrer</a>
                {% else %}
                  <em>Kurslederstatus forvaltes av DNT sentralt.</em>
                {% endif %}
              </p>

            {% else %}

              <p class="status-exists">
                Godkjent av <strong>Den Norske Turistforening</strong>.<br>
                Fra <strong>{{ other_user.kursleder.date_start|date:"j. F Y"|default:"?" }}</strong> til <strong>{{ other_user.kursleder.date_end|date:"j. F Y"|default:"?" }}</strong>.<br>
                {% if user.can_modify_kursleder_status %}
                  <a href="javascript:undefined" class="edit">Endre</a> eller <a href="{% url 'admin.turledere.views.remove_kursleder' other_user.kursleder.id %}" class="remove" data-certificate-name="kursleder">slett</a>
                {% else %}
                  <em>Kurslederstatus forvaltes av DNT sentralt.</em>
                {% endif %}
              </p>

            {% endif %}

            {% if user.can_modify_kursleder_status %}
              <form action="{% url 'admin.turledere.views.edit_kursleder_certificate' other_user.id %}" method="post" class="form-default form-horizontal edit-certificate hide">
                {% csrf_token %}
                <input type="hidden" name="kursleder" value="{{ other_user.kursleder.id }}">
                <input type="hidden" name="role" value="kursleder">

                <div class="control-group">
                  <label class="control-label">Ble godkjent:</label>
                  <div class="controls">
                    <div class="input-append date">
                      <input type="text" class="input-medium" name="date_start" value="{% if other_user.kursleder %}{{ other_user.kursleder.date_start|date:"d.m.Y" }}{% else %}{{ today|date:"d.m.Y" }}{% endif %}">
                      <span class="add-on"><i class="icon-th"></i></span>
                    </div>
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label">Løper ut:</label>
                  <div class="controls">
                    <div class="input-append date">
                      <input type="text" class="input-medium" name="date_end" value="{% if other_user.kursleder %}{{ other_user.kursleder.date_end|date:"d.m.Y" }}{% else %}{{ five_years_from_now|date:"d.m.Y" }}{% endif %}">
                      <span class="add-on"><i class="icon-th"></i></span>
                    </div>
                  </div>
                </div>

                <div class="control-group">
                  <div class="controls">
                    <button type="submit" class="btn"><i class="icon-ok"></i> Lagre sertifikat</button>
                  </div>
                </div>

              </form>
            {% endif %}

          </div>

          {% for role in turleder_roles %}

            <div class="role">

              {% with turleder_role=other_user|get_turleder_role:role.0 %}

                <h3 class="{% if turleder_role %}has-role{% endif %}">
                  {{ role.1 }}
                  {% if turleder_role.is_expired %}
                    <span class="expired">(utgått)</span>
                  {% endif %}
                </h3>

                {% if not turleder_role %}

                  <p class="status-empty">
                    Ikke registrert sertifikat.<br>
                    <a href="javascript:undefined" class="create">Registrer</a>
                  </p>

                {% else %}

                  <p class="status-exists">
                    Godkjent av <strong>{{ turleder_role.association_approved.name }}</strong>.<br>
                    {% if turleder_role.role != 'ambassadør' %}
                      Fra <strong>{{ turleder_role.date_start|date:"j. F Y"|default:"?" }}</strong> til <strong>{{ turleder_role.date_end|date:"j. F Y"|default:"?" }}</strong>.
                    {% else %}
                      Fra <strong>{{ turleder_role.date_start|date:"j. F Y"|default:"?" }}</strong>.
                    {% endif %}
                      <br>
                    <a href="javascript:undefined" class="edit">Endre</a> eller <a href="{% url 'admin.turledere.views.remove_turleder' turleder_role.id %}" class="remove" data-certificate-name="{{ role.0 }}">slett</a>
                  </p>

                {% endif %}

                <form action="{% url 'admin.turledere.views.edit_turleder_certificate' other_user.id %}" method="post" class="form-default form-horizontal edit-certificate hide">
                  {% csrf_token %}
                  <input type="hidden" name="turleder" value="{{ turleder_role.id }}">
                  <input type="hidden" name="role" value="{{ role.0 }}">

                  <div class="control-group">
                    <label class="control-label">Godkjent av:</label>
                    <div class="controls">
                      <select name="association_approved" data-chosen data-placeholder="Velg foreningen som godkjente turledersertifikatet...">
                        <option value=""></option>
                        <optgroup label="Sentralt/nasjonalt">
                          {% for association in all_associations.central %}
                            <option value="{{ association.id }}"{% if turleder_role.association_approved == association %} selected{% endif %}>{{ association.name }}</option>
                          {% endfor %}
                        </optgroup>
                        <optgroup label="Medlemsforeninger">
                          {% for association in all_associations.associations %}
                            <option value="{{ association.id }}"{% if turleder_role.association_approved == association %} selected{% endif %}>{{ association.name }}</option>
                          {% endfor %}
                        </optgroup>
                      </select>
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label">Ble godkjent:</label>
                    <div class="controls">
                      <div class="input-append date">
                        <input type="text" class="input-medium" name="date_start" value="{% if turleder_role %}{{ turleder_role.date_start|date:"d.m.Y" }}{% else %}{{ today|date:"d.m.Y" }}{% endif %}">
                        <span class="add-on"><i class="icon-th"></i></span>
                      </div>
                    </div>
                  </div>

                  {% if role.0 != 'ambassadør' %}
                    <div class="control-group">
                      <label class="control-label">Løper ut:</label>
                      <div class="controls">
                        <div class="input-append date">
                          <input type="text" class="input-medium" name="date_end" value="{% if turleder_role %}{{ turleder_role.date_end|date:"d.m.Y" }}{% else %}{{ five_years_from_now|date:"d.m.Y" }}{% endif %}">
                          <span class="add-on"><i class="icon-th"></i></span>
                        </div>
                      </div>
                    </div>
                  {% endif %}

                  <div class="control-group">
                    <div class="controls">
                      <button type="submit" class="btn"><i class="icon-ok"></i> Lagre sertifikat</button>
                    </div>
                  </div>

                </form>

              {% endwith %}

            </div>

          {% endfor %}

        {% else %}

          <em>
            {{ other_user.get_full_name }} er ikke medlem i DNT og du kan derfor ikke registrere turledersertifikat.
          </em>

        {% endif %}

      </div>
      <div class="span6">

        <h3>Andre instruktørroller</h3>

        <form method="post" action="{% url 'admin.turledere.views.edit_instruktor_roles' other_user.id %}">
          {% csrf_token %}

          {% for role in other_user.get_instruktor_roles %}
            <label class="checkbox">
              <input type="checkbox" name="{{ role.key }}"{% if role.active %} checked{% endif %}> {{ role.name }}
            </label>
          {% endfor %}

          <button type="submit" class="btn"><i class="icon-ok"></i> Lagre instruktørroller</button>
        </form>

      </div>
    </div>
  </div>

  <p class="to-turlederregister">
    <a href="{% url 'admin.turledere.views.index' %}" class="btn">Til turlederregisteret <i class="icon-chevron-right"></i></a>
  </p>

</div>
