.breadcrumb {
  margin-top: 20px;
}

.breadcrumb > li a {
  color: #333;
  font-weight: normal;
}

.chosen-container {
  width: 100% !important; // Necessary to get 100 % width on Chosen based on hidden selects
}
