{% extends 'common/admin/layout.html' %}

{% block title %}Analyse — {{ block.super }}{% endblock %}

{% block admin_menu %}{% with 'sites' as active_entry %}{{ block.super }}{% endwith %}{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/admin/sites/settings/analytics/index.js"></script>
{% endblock %}

{% block body %}

<div data-dnt-container="admin-analytics-index">
  <div class="row">
    <div class="col-lg-12">
      <h1>Analyse og statistikk <small>få innsikt i hvordan medlemmene våre oppfører seg</small></h1>
      <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i> <a href="{% url 'admin.views.index' %}">Sherpa</a></li>
        <li><a href="{% url 'admin.sites.views.index' active_site.id %}">Nettsteder</a></li>
        <li><a href="{% url 'admin.sites.views.index' active_site.id %}">{{ active_site.domain }}</a></li>
        <li><a href="{% url 'admin.sites.settings.views.index' active_site.id %}">Innstillinger</a></li>
        <li><a href="{% url 'admin.sites.settings.analytics.views.index' active_site.id %}">Analyse og statistikk</a></li>
      </ol>
    </div>
  </div><!-- /.row -->

  <div class="row">
    <div class="col-lg-12">
      <p>
        Lokal analyse (merk at det kan ta lang tid å laste disse sidene):
      </p>

      <ul>
        <li><a href="{% url 'admin.sites.settings.analytics.views.searches' active_site.id %}">Søkestatistikk</a></li>
        <li><a href="{% url 'admin.sites.settings.analytics.views.not_found' active_site.id %}">404-treff</a></li>
      </ul>

      <h2>Google Analytics</h2>

      <div class="row">
        <div class="col-lg-6">
          <p>
            Google Analytics er et gratis verktøy fra Google som lar oss få innsikt i hva brukerene våre gjør på nettsidene. Verktøyet er svært avansert og når det benyttes på riktig måte kan det hjelpe oss å gjøre de rette valgene. Du kan lese mer på <a href="http://www.google.com/analytics/">Google Analytics' hjemmeside</a>.
          </p>

          <p>
            Her kan du oppgi Google Analytics-koden (UA) for {{ active_site.domain }} som aktiverer logging av aktivitet på nettsidene (<a href="javascript:undefined" data-dnt-trigger="analytics-ua-hint">hvor finner jeg denne koden?</a>):
          </p>

          <div class="alert alert-info jq-hide" data-dnt-container="analytics-ua-hint">
            <p>
              Koden genereres når du setter opp nettstedet i Google Analytics. Kontakt DNT sentralt dersom du er usikker på om dere har satt opp deres nettsted (bruk den røde firkanten helt til høyre på skjermen).
            </p>

            <p>Når koden er generert finner du den (blant annet) i lista over nettsteder som vist her:</p>

            <p>
              <img src="{{ STATIC_URL }}img/admin/sites/settings/analytics/analytics-ua-hint.png" alt="Du finner koden for nettstedet i Google Analytics.">
            </p>
          </div>

          <form action="{% url 'admin.sites.settings.analytics.views.analytics_ua' active_site.id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="analytics-ua">Google Analytics UA</label>
              <input type="text" class="form-control" id="analytics-ua" name="analytics-ua" placeholder="F.eks.: UA-123456-78" value="{{ active_site.analytics_ua }}">
            </div>
            <button type="submit" class="btn btn-default">Lagre</button>
          </form>

        </div>
        <div class="col-lg-6">
          <p>
            <strong>For å få tilgang til Google Analytics gjør du slik:</strong>
          </p>

          <ol>
            <li>
              Gå til <a href="http://www.google.com/analytics/">Google Analytics</a>
            </li>
            <li>
              Logg på med følgende konto:<br>
              Brukernavn: <strong>{{ ga_account_username }}</strong><br>
              Passord: <strong>{{ ga_account_password }}</strong>
            </li>
            <li>
              Bla deg frem til ditt nettsted, eller søk i feltet oppe til høyre.
            </li>
          </ol>

        </div>
      </div>

    </div>
  </div><!-- /.row -->
</div><!-- /[data-dnt-container="admin-analytics-index"] -->

{% endblock %}
