{% extends 'common/admin/layout.html' %}

{% block title %}Analyse — {{ block.super }}{% endblock %}

{% block admin_menu %}{% with 'sites' as active_entry %}{{ block.super }}{% endwith %}{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/admin/sites/analytics/analytics.js"></script>
{% endblock %}

{% block body %}

<div class="row">
  <div class="col-lg-12">
    <h1>Analyse og statistikk <small>søkestatistikk på <a href="http://{{ active_site.domain }}/">{{ active_site.domain }}</a></small></h1>
    <ol class="breadcrumb">
      <li class="active"><i class="fa fa-dashboard"></i> <a href="{% url 'admin.views.index' %}">Sherpa</a></li>
      <li><a href="{% url 'admin.sites.views.index' active_site.id %}">Nettsteder</a></li>
      <li><a href="{% url 'admin.sites.views.index' active_site.id %}">{{ active_site.domain }}</a></li>
      <li><a href="{% url 'admin.sites.settings.views.index' active_site.id %}">Innstillinger</a></li>
      <li><a href="{% url 'admin.sites.settings.analytics.views.index' active_site.id %}">Analyse og statistikk</a></li>
      <li><a href="{% url 'admin.sites.settings.analytics.views.searches' active_site.id %}">Søkestatistikk</a></li>
    </ol>
  </div>
</div><!-- /.row -->

<div class="row">
  <div class="col-md-12">

    <p>
      Merk: Det gjøres ikke forskjell på store/små bokstaver ved opptelling, derfor har alle søk i flest treff-lista små bokstaver.
    </p>

    <p>
      Flest treff-listen er ganske stor og caches i 24 timer.
    </p>

    <div class="row">

      <div class="col-sm-6">
        <table class="table">
          <tr>
            <th colspan="2">Flest treff</th>
          </tr>
          {% for search in most_searched %}
            {% if forloop.counter < 50 %}
              <tr>
                <td>{{ search.count }}</td>
                <td>{{ search.query }}</td>
              </tr>
            {% else %}
              <tr class="jq-hide">
                <td>{{ search.count }}</td>
                <td>{{ search.query }}</td>
              </tr>
            {% endif %}
            {% if forloop.counter == 50 %}
              <tr class="expand">
                <td colspan="2"><button class="btn btn-default">Vis alle</button></td>
              </tr>
            {% endif %}
          {% endfor %}
        </table>
      </div>

      <div class="col-sm-6">
        <table class="table">
          <tr>
            <th colspan="2">Nyeste søk</th>
          </tr>
          {% for search in latest_searches %}
            <tr>
              <td>{{ search.date|date:"H:i" }}</td>
              <td>{{ search.query }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>

  </div>
</div>

{% endblock %}
