{% load render_widget %}

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="no-save-warning alert alert-danger jq-hide">
      <a class="close">x</a>
      <strong>Advarsel!</strong><br>
      Du har ikke lagret artikkelen på over 5 minutter! Du bør vurdere å lagre nå, hvis ikke kan du miste endringene du har gjort hvis et uhell oppstår.
    </div>
  </div>
</div>

<article
  data-dnt-save-url="{% url 'admin.sites.pages.content.save' active_site.id version.id %}"
  data-dnt-render-widget-url="{% url 'admin.sites.pages.content.reload_raw_widget' active_site.id %}"
  data-dnt-columns-into-columns-warning="Du kan ikke sette inn kolonner her, fordi det er allerede %s kolonner i bredden fra før av.\n\nBruk den lange pluss-knappen som dekker hele kolonne-bredden (du finner den både over og under)."
  data-dnt-placeholder-image-path="{{ editor_placeholder_image }}"
  data-dnt-placeholder-image-warning="Oops, du har glemt å fikse noen av bildene!\n\nSe gjennom innholdet og finn alle grå bilder med teksten 'Klikk for å sette inn bilde her'.\n\nDer må du enten sette inn et bilde, eller ta bort eksempelbildet.\n\nTa bort bildet ved å holde musepekeren over det, og klikke på søppeldunken som dukker opp øverst i høyre hjørne.">

  {% comment %}
    Note that data-id is set on row, column and content elements, but they are never used. This is for ease
    of debugging, in case there is a need to inspect the DOM, find the element ID and look it up in the db.
  {% endcomment %}

  {% for row in version.get_rows %}
    {# Rows are recognized by their data-dnt-row attribute, not their class #}
    <div class="row" data-dnt-row data-id="{{ row.id }}">

      {% for column in row.get_columns %}
        <div class="column col-md-{{ column.span }} col-md-offset-{{ column.offset }}" data-id="{{ column.id }}">

          {% for content in column.get_contents %}
            {% if content.type == 'html' or content.type == 'title' or content.type == 'lede' %}

              <div class="content {{ content.type }} editable" {% if content.content != '' %}contenteditable="true"{% else %}data-placeholder{% endif %} data-id="{{ content.id }}">
                {% if content.content != '' %}
                  {{ content.content|safe }}
                {% else %}
                  Klikk for å legge til tekst
                {% endif %}
              </div>

            {% elif content.type == 'image' %}

              {% comment %}
                Note that we're using the original image size here in the admin interface intentionally.
                In case the user changes the column size we want the image to keep its quality.
              {% endcomment %}

              <div class="content image" data-json="{{ content.content }}" data-id="{{ content.id }}">
                {% if content.get_content.anchor %}
                  <a href="{{ content.get_content.anchor }}">
                    <img src="{{ content.get_content.src }}" alt="{{ content.get_content.description }}">
                  </a>
                {% else %}
                  <img src="{{ content.get_content.src }}" alt="{{ content.get_content.description }}">
                {% endif %}

                {% if content.get_content.description or content.get_content.photographer %}
                  <div class="description">
                    {% if content.get_content.description %}
                      <span class="description-content">{{ content.get_content.description }}</span>
                    {% endif %}
                    {% if content.get_content.photographer %}
                      <span class="photographer">
                        Foto: <span class="content">{{ content.get_content.photographer }}</span>
                      </span>
                    {% endif %}
                  </div>
                {% endif %}
              </div>

            {% elif content.type == 'widget' %}

              {% render_widget content admin_context=True %}

            {% endif %}
          {% endfor %}

        </div>
      {% endfor %}

    </div>
  {% endfor %}

</article>

{# Hidden templates to be cloned and inserted with javascript #}
<div class="jq-hide" data-dnt-container="insertion-templates">

  {# The default row with a full-sized column #}
  <div class="row" data-dnt-row>
    <div class="column col-md-12"></div>
  </div>

  {# The default HTML content element #}
  <div class="content html editable" contenteditable="true"></div>

  {# The default image content element #}
  <div class="content image" data-json="{&quot;src&quot;:&quot;{{ editor_placeholder_image }}&quot;,&quot;description&quot;:&quot;&quot;,&quot;photographer&quot;:&quot;&quot;,&quot;anchor&quot;:null}">
    <a href="">
      <img src="{{ editor_placeholder_image }}" alt="">
    </a>
    <div class="description">
      <span class="description-content"></span>
      <span class="photographer">
        Foto: <span class="content"></span>
      </span>
    </div>
  </div>

  {# The default widget content element #}
  <div class="content widget" data-dnt-container="content-widget">
    <img src="/static/img/common/ajax-loader-small.gif" alt="Laster...">
    <em>Vennligst vent...</em>
  </div>

  {# Error message to be displayed if widget rendering fails #}
  <div class="alert alert-error" data-dnt-editor-control="widget-rendering-failed">
    <strong>Teknisk feil</strong><br>
    Kunne ikke vise innholdet. Er du sikker på at du har tilgang til internett?<br>
    Klikk her og velg lagre på nytt for å prøve en gang til.
  </div>

  {# Editor-control: The column-structure controls to be shown above each separate row #}
  <div class="row edit-structure">
    <div class="column col-md-12">
      <div class="edit-structure-inner">
        <button class="btn btn-default" data-type="single" title="Bruk én stor kolonne i denne seksjonen"></button>
        <button class="btn btn-default" data-type="double" title="Bruk to like store kolonner i denne seksjonen"></button>
        <button class="btn btn-default" data-type="sidebar-left" title="Bruk to kolonner i denne seksjonen, liten kolonne til venstre"></button>
        <button class="btn btn-default" data-type="sidebar-right" title="Bruk to kolonner i denne seksjonen, liten kolonne til høyre"></button>
        <button class="btn btn-default" data-type="triple" title="Bruk tre kolonner i denne seksjonen"></button>
        <button class="btn btn-default" data-type="quadruple" title="Bruk fire kolonner i denne seksjonen"></button>
      </div>
    </div>
  </div>

  {# Editor-control: Plus-sign to allow user to add content #}
  <div class="add-content" title="Sett inn innhold...">
  </div>

  {# Editor-control: Replaces the add-content control when moving content #}
  <div class="drop-area">
    Klikk for å flytte hit...
  </div>

  {# Editor-control: Popover content #}
  <div data-dnt-container="add-content-popover-content">
    <div
      class="content-item"
      data-dnt-container="content-item"
      data-type="text"
      title="Sett inn en tittel, ingress, eller vanlig tekst">

      <div class="image-container">
        <img src="{{ STATIC_URL }}img/icons/thenounproject/icon_13795/icon_13795.svg" alt="Tekst">
      </div>
      Tekst
    </div>

    <div
      class="content-item"
      data-dnt-container="content-item"
      data-type="widget"
      data-widget="button"
      title="Sett inn en stor knapp">

      <div class="image-container">
        <img src="{{ STATIC_URL }}img/icons/thenounproject/icon_36666/icon_36666.svg" alt="Knapp">
      </div>
      Knapp
    </div>

    <div
      class="content-item"
      data-dnt-container="content-item"
      data-type="image"
      title="Sett inn et bilde. Du kan laste opp selv eller finne et i bildearkivet.">

      <div class="image-container">
        <img src="{{ STATIC_URL }}img/icons/thenounproject/icon_3421/icon_3421.svg" alt="Bilde">
      </div>
      Bilde
    </div>

    <div
      class="content-item"
      data-dnt-container="content-item"
      data-type="widget"
      data-widget="carousel"
      title="Lar deg velge flere bilder som vises i en karusell, som roterer automatisk.">

      <div class="image-container">
        <img src="{{ STATIC_URL }}img/icons/thenounproject/icon_3043/icon_3043.svg" alt="Bildekarusell">
      </div>
      Bildekarusell
    </div>

    <div
      class="content-item"
      data-dnt-container="content-item"
      data-type="widget"
      data-widget="embed"
      title="Video fra YouTube, Vimeo eller liknende. Kan også brukes til å sette inn ren HTML på siden.">

      <div class="image-container">
        <img src="{{ STATIC_URL }}img/icons/thenounproject/icon_5068/icon_5068.svg" alt="Video/embed">
      </div>
      Video/embed
    </div>

    <div
      class="content-item"
      data-dnt-container="content-item"
      data-type="widget"
      data-widget="quote"
      title="Et sitat med tilpasset design (litt større tekst, strek foran navnet, etc).">

      <div class="image-container">
        <img src="{{ STATIC_URL }}img/icons/thenounproject/icon_14163/icon_14163.svg" alt="Sitat">
      </div>
      Sitat
    </div>

    <div
      class="content-item"
      data-dnt-container="content-item"
      data-type="widget"
      data-widget="fact"
      title="Som vanlig tekst, men med grå bakgrunn - passer best i sidekolonner.">

      <div class="image-container">
        <img src="{{ STATIC_URL }}img/icons/thenounproject/icon_8324/icon_8324.svg" alt="Faktaboks">
      </div>
      Faktaboks
    </div>

    <div
      class="content-item"
      data-dnt-container="content-item"
      data-type="widget"
      data-widget="articles"
      title="Liste over siste nyheter, plasseres vanligvis kun på forsiden.">

      <div class="image-container">
        <img src="{{ STATIC_URL }}img/icons/thenounproject/icon_6342/icon_6342.svg" alt="Nyheter">
      </div>
      Nyheter
    </div>

    <div
      class="content-item"
      data-dnt-container="content-item"
      data-type="widget"
      data-widget="aktivitet_listing"
      title="Liste over turer og aktiviteter. Passer best til å vise foreningens turer på forsiden hvis dere har få turer i året. Kan også filtreres på en spesifikk type turer for en underside.">

      <div class="image-container">
        <img src="{{ STATIC_URL }}img/icons/thenounproject/icon_385/icon_385.svg" alt="Liste over turer og aktiviteter">
      </div>
      Aktivitetsliste
    </div>

    <div
      class="content-item"
      data-dnt-container="content-item"
      data-type="widget"
      data-widget="table"
      title="Tabell med redigerbart antall rader og kolonner.">

      <div class="image-container">
        <img src="{{ STATIC_URL }}img/icons/thenounproject/icon_4305/icon_4305.svg" alt="Tabell">
      </div>
      Tabell
    </div>

    <div
      class="content-item"
      data-dnt-container="content-item"
      data-type="widget"
      data-widget="campaign"
      title="Legg til en kampanje. Disse må lages på forhånd, og så kan du legge dem inn her.">

      <div class="image-container">
        <img src="{{ STATIC_URL }}img/icons/thenounproject/icon_32227/icon_32227.svg" alt="Kampanje">
      </div>
      Kampanje
    </div>

    <div
      class="content-item"
      data-dnt-container="content-item"
      data-type="columns"
      title="Del opp denne raden, slik at du videre kan dele opp i kolonner. Når den er delt kan du for   eksempel la innholdet i raden over være i én kolonne, men la innholdet i raden under deles opp i to kolonner.">

      <div class="image-container">
        <img src="{{ STATIC_URL }}img/icons/thenounproject/icon_18041/icon_18041.svg" alt="Kolonner">
      </div>
      Kolonner
    </div>
  </div>

  {# Editor-control: Popover template; equal to the default except for the style #}
  <div class="popover" data-dnt-container="default-popover-template" role="tooltip">
    <div class="arrow"></div>
    <h3 class="popover-title"></h3>
    <div class="popover-content"></div>
  </div>

  {# Editor-control: Button to display on image-content hover to crop images #}
  <div class="content-control crop-content" title="Beskjær bildet">
  </div>

  {# Editor-control: Button to display on content hover to remove content #}
  <div class="content-control remove-content" title="Ta bort dette innholdet" data-confirm="Er du helt sikker på at du vil ta bort dette innholdet?">
  </div>

  {# Editor-control: Button to display on content hover to move content #}
  <div class="content-control move-content" title="Klikk for å flytte innholdet opp, ned eller til en annen kolonne">
  </div>

  {# Editor-control: Cropping controls to display during cropping #}
  <div class="crop-control">
    <div class="submit pull-right">
      <button class="btn btn-success use">
        <i class="glyphicon glyphicon-check"></i> Bruk dette utsnittet
      </button>
      <button class="btn btn-default remove">
        <i class="glyphicon glyphicon-remove"></i> Vis hele bildet
      </button>
    </div>

    <div class="choose-ratio">
      <p>
        <strong>Velg utsnitt:</strong>
      </p>
      <div class="btn-group" data-toggle="buttons-radio">
        <button class="btn btn-default" data-ratio="free">Fri</button>
        <button class="btn btn-default" data-ratio="16:9">Widescreen</button>
        <button class="btn btn-default" data-ratio="12:8">Landskap</button>
        <button class="btn btn-default" data-ratio="3:4">Portrett</button>
        <button class="btn btn-default" data-ratio="1:1">Firkant</button>
      </div>
    </div>
  </div>
</div>

{# Widget edit-dialogs #}
{% include 'common/widgets/quote/edit.html' %}
{% include 'common/widgets/articles/edit.html' %}
{% include 'common/widgets/aktivitet_listing/edit.html' %}
{% include 'common/widgets/embed/edit.html' %}
{% include 'common/widgets/carousel/edit.html' %}
{% include 'common/widgets/fact/edit.html' %}
{% include 'common/widgets/button/edit.html' %}
{% include 'common/widgets/table/edit.html' %}
{% include 'common/widgets/campaign/edit.html' %}

{# Other dialogs #}
{% include 'common/admin/util/url-picker.html' %}
{% include 'common/admin/images/util/image-archive-picker.html' %}
{% include 'common/admin/images/util/image-upload-dialog.html' %}
{% include 'common/admin/sites/editor/image-dialog.html' %}
{% include 'common/admin/sites/editor/toolbar.html' %}
