<div id="widgets-quote">
  <form action="{% url admin.views.version_add_widget_quote version.id %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="layout" value="">
  <input type="hidden" name="column" value="">
  <input type="hidden" name="order" value="">
  <h1>Legg til sitat-widget</h1>
  <table>
  <tr>
    <td>Sitat:</td>
    <td><textarea name="quote" rows="4" cols="25"></textarea></td>
  </tr>
  <tr>
    <td>Sitert av:</td>
    <td><input type="text" name="author"></td>
  </tr>
  </table>
  <input type="submit" value="Opprett widget">
  </form>
</div>
