:host {
  display: block;
}

body {
  font-family: sans-serif;
}

core-header-panel {
  background: white;
}

core-toolbar {
  background-color: #e6e6e6;
}

h2 {
  font-size: 1.2em;
  font-weight: bold;
}

p {
  margin-top: 0;
  &:last-child {
    margin-bottom: 0;
  }
}

.parent-guardian-contact-info {
  margin-bottom: 20px;
}

div.participant-container {
  padding-top: 20px;
}

div[horizontal][layout] {
  paper-input-decorator:not(:first-child) {
    margin-left: 10px;
  }

  paper-input-decorator:not(:last-child) {
    margin-right: 10px;
  }
}
