{% extends 'common/admin/layout.html' %}
{% block title %}Nyheter &mdash; {{ block.super }}{% endblock %}
{% block header %}<a href="{% url 'admin.articles.views.list' %}">Nyheter</a>{% endblock %}
{% block extra_js %}
  <script src="{{ STATIC_URL }}lib/rangy/rangy-core.js"></script>
  <script src="{{ STATIC_URL }}js/admin/tags.js"></script>
  <script src="{{ STATIC_URL }}js/admin/editor/main.js"></script>
  <script src="{{ STATIC_URL }}js/admin/editor/save.js"></script>
  <script src="{{ STATIC_URL }}js/admin/editor/image-dialog.js"></script>
  <script src="{{ STATIC_URL }}js/admin/images/util/image-archive-picker.js"></script>
  <script src="{{ STATIC_URL }}js/admin/images/util/image-upload-dialog.js"></script>
  <script src="{{ STATIC_URL }}js/admin/editor/widgets/articles.js"></script>
  <script src="{{ STATIC_URL }}js/admin/editor/widgets/blog.js"></script>
  <script src="{{ STATIC_URL }}js/admin/editor/widgets/carousel.js"></script>
  <script src="{{ STATIC_URL }}js/admin/editor/widgets/embed.js"></script>
  <script src="{{ STATIC_URL }}js/admin/editor/widgets/fact.js"></script>
  <script src="{{ STATIC_URL }}js/admin/editor/widgets/quote.js"></script>
  <script src="{{ STATIC_URL }}js/admin/editor/widgets/main.js"></script>
  <script src="{{ STATIC_URL }}js/admin/editor/article.js"></script>
  <script src="{{ STATIC_URL }}js/admin/editor/toolbar.js"></script>
  <script src="{{ STATIC_URL }}lib/jquery-ui/jquery-ui-timepicker-addon.js"></script>
{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/jquery-ui/jquery-ui-timepicker-addon.css" media="screen">
{% endblock %}

{% block js_globals %}
  <script>
    var IMAGE_SEARCH_LENGTH = {{ image_search_length }};
  </script>
{% endblock %}

{% block body %}

{% load dategtnow %}

<div class="row">
  <div class="span12">
    <div class="well editor-header article" data-article-id="{{ version.variant.article.id }}" data-version-id="{{ version.id }}">
      <div class="preview-image">
        <h1 class="sherpa">Minibilde til forhåndsvisninger:</h1>
        <input type="radio" name="thumbnail" value="none"{% if version.hide_thumbnail %} checked{% endif %}> Ikke vis minibilde<br>
        <input type="radio" name="thumbnail" value="default"{% if not version.hide_thumbnail and not version.variant.article.thumbnail %} checked{% endif %}> Bruk liten versjon av hovedbildet<br>
        <input type="radio" name="thumbnail" value="new"{% if not version.hide_thumbnail and version.variant.article.thumbnail %} checked{% endif %}> Bruk et annet bilde<br>

        <div style="width:200px; overflow:hidden;">
        <img class="article-thumbnail" src="{% if not version.variant.article.thumbnail %}{{ STATIC_URL }}img/placeholder.png{% else %}{{ version.variant.article.thumbnail }}{% endif %}" alt="{{ title|striptags }}">
        </div>
      </div>

      <div class="publish">
        <p>
          <input type="checkbox" name="publish"{% if version.variant.article.published %} checked="checked"{% endif %}> Publiseres
          <input type="text" class="input-large" name="article-datetime-field" value="{{ version.variant.article.pub_date|date:"d.m.Y H:i" }}" placeholder="Velg publiseringstidspunkt...">
        </p>
      </div>

      <div class="author">
        <p>
          Forfattere:
          <select name="authors" multiple="multiple">
            {% for profile in profiles %}
              <option value="{{ profile.id }}"{% if profile in version.publishers.all %} selected="selected"{% endif %}>{{ profile.user.get_profile.get_full_name }}</option>
            {% endfor %}
          </select>
        </p>
      </div>

      <div class="tags">
        <table>
          <tr>
            <td style="vertical-align: top">
              Nøkkelord:
              <input type="text" name="tags">
            </td>
          </tr>
          <tr>
            <td>
              <div class="tag-box">
                {% for tag in version.tags.all %}
                  <div class="tag">
                    <a href="javascript:undefined"><img src="/static/img/so/close-default.png"></a>
                    {{ tag.name }}
                  </div>
                {% endfor %}
              </div>
            </td>
          </tr>
        </table>
      </div>

      <div style="clear: left;"></div>

      <div class="status">
        <button class="btn btn-success save"><i class="icon-heart"></i> Lagre</button>
        <button class="btn btn-success preview" data-href="{% url 'admin.articles.views.preview' version.id %}"><i class="icon-search"></i> Forhåndsvisning</button>
        <a class="btn btn-danger delete-article" href="{% url 'admin.articles.views.confirm_delete' version.variant.article.id %}">
          <i class="icon-warning-sign"></i> Slett
        </a>
      </div>

      <div style="clear: both;"></div>

    </div>
  </div>
</div>

{% include 'common/admin/editor/advanced.html' with toolbar_article=1 %}
{% endblock %}
