{% extends 'common/admin/layout.html' %}
{% block title %}Nyheter &mdash; {{ block.super }}{% endblock %}
{% block header %}<a href="{% url admin.articles.views.list %}">Nyheter</a>{% endblock %}

{% block body %}

<div class="row">
  <div class="span12">
    <p>
      <a class="btn btn-large" href="{% url admin.articles.views.edit_version version.id %}"><i class="icon-arrow-left"></i> Tilbake til redigering</a>
      <span class="preview-notice pull-right">Dette er en forhåndsvisning av artikkelen.</span>
    </p>
  </div>
</div>

{% include 'common/page/display-content.html' %}
{% include 'common/page/article-byline.html' %}

{% endblock %}
