{# Used for AJAX requests. #}
{% csrf_token %}

<div class="row">
  <div class="offset3 span6">
    <div class="no-save-warning alert alert-error">
      <a class="close">x</a>
      <strong>Advarsel!</strong><br>
      Du har ikke lagret artikkelen på over 5 minutter! Du bør vurdere å lagre nå, hvis ikke kan du miste endringene du har gjort hvis et uhell oppstår.
    </div>
  </div>
</div>

<article data-id="{{ version.id }}">

{% for row in rows %}
<div class="row-fluid" data-id="{{ row.id }}">
  {% for column in row.columns %}
    <div class="column offset{{ column.offset }} span{{ column.span }}" data-id="{{ column.id }}">
      {% for content in column.contents %}
        {% if content.type == 'html' %}
          <div class="html" data-id="{{ content.id }}">{{ content.content|safe }}</div>
        {% elif content.type == 'image' %}
          <div class="image" data-id="{{ content.id }}">
            {% if content.content.anchor %}<a href="{{ content.content.anchor }}">{% endif %}
              <img src="{{ content.content.src }}" alt="{{ content.content.alt }}">
            {% if content.content.anchor %}</a>{% endif %}
          </div>
        {% elif content.type == 'title' %}
          <div class="html" data-id="{{ content.id }}" data-type="title">{{ content.content|safe }}</div>
        {% elif content.type == 'lede' %}
          <div class="html" data-id="{{ content.id }}" data-type="lede">{{ content.content|safe }}</div>
        {% elif content.type == 'widget' %}
          <div class="widget" data-id="{{ content.id }}" data-json="{{ content.content.json }}">
            {% include content.content.template with widget=content.content %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
</div>
{% endfor %}

</article>

{# Adding columns #}
<div id="dialog-columns" class="dialog" data-title="Velg kolonnestruktur" data-width="auto">
  <h1>Én kolonne:</h1>
  <p><img src="{{ STATIC_URL }}img/columns/full.png" class="full" alt="Én kolonne"></p>

  <h1>To kolonner (sidebar):</h1>
  <p><img src="{{ STATIC_URL }}img/columns/sidebar.png" class="sidebar" alt="To kolonner (sidebar)"></p>

  <h1>To kolonner:</h1>
  <p><img src="{{ STATIC_URL }}img/columns/two.png" class="two" alt="To kolonner"></p>

  <h1>Tre kolonner:</h1>
  <p><img src="{{ STATIC_URL }}img/columns/three.png" class="three" alt="Tre kolonner"></p>
</div>

{# Adding widgets #}
<div id="dialog-add-widget" class="dialog" data-title="Legg til ny widget" data-width="90%">
  {% include 'widgets/promo/thumbnail.html' %}
  {% include 'widgets/quote/thumbnail.html' %}
</div>

{# Widget edit-dialogs #}
{% include 'widgets/promo/edit.html' %}
{% include 'widgets/quote/edit.html' %}

{# Changing image #}
{% include 'admin/editor/change-image-dialog.html' %}

{# Insert button #}
<div id="dialog-add-button" class="dialog" data-title="Legg til ny knapp" data-width="auto">
  <div class="alert alert-info">
    <a class="close">x</a>
    <strong>Du kan da ikke legge til en knapp uten en liten tekst på den!</strong>
  </div>
  <table>
    <tr>
      <td>Tekst på knappen:</td>
      <td><input type="text" name="text" class="span2"></td>
    </tr>
    <tr>
      <td>Adresse knappen går til:</td>
      <td><input type="text" name="url" class="span4"></td>
    </tr>
  </table>
  {# Size-buttons here have font-size hardcoded because the font-size set by bootstrap is overridden by jquery-ui. It's not a pretty hack, but those font sizes are unlikely to change much so, whatever. #}
  <table class="table choices">
    <tr>
      <td><input type="radio" name="color" value="" checked></td>
      <td><button class="btn">Vanlig knapp</button></td>
      <td><input type="radio" name="size" value=" btn-large"></td>
      <td><button class="btn btn-large" style="font-size: 15px">Stor</button></td>
    </tr>
    <tr>
      <td><input type="radio" name="color" value="btn-primary"></td>
      <td><button class="btn btn-primary">Hovedknapp</button></td>
      <td><input type="radio" name="size" value="" checked></td>
      <td><button class="btn">Middels</button></td>
    </tr>
    <tr>
      <td><input type="radio" name="color" value="btn-info"></td>
      <td><button class="btn btn-info">Informasjon</button></td>
      <td><input type="radio" name="size" value="btn-small"></td>
      <td><button class="btn btn-small" style="font-size: 11px">Liten</button></td>
    </tr>
    <tr>
      <td><input type="radio" name="color" value="btn-success"></td>
      <td><button class="btn btn-success">Suksess</button></td>
      <td><input type="radio" name="size" value="btn-mini"></td>
      <td><button class="btn btn-mini" style="font-size: 11px">Mini</button></td>
    </tr>
    <tr>
      <td><input type="radio" name="color" value="btn-warning"></td>
      <td><button class="btn btn-warning">Advarsel</button></td>
    </tr>
    <tr>
      <td><input type="radio" name="color" value="btn-danger"></td>
      <td><button class="btn btn-danger">Fare</button></td>
    </tr>
    <tr>
      <td><input type="radio" name="color" value="btn-inverse"></td>
      <td><button class="btn btn-inverse">Invertert</button></td>
    </tr>
  </table>
  <p style="width: 100%; text-align: center;">
    <button class="btn btn-primary btn-large insert"><i class="icon-share-alt"></i> Sett inn knapp</button>
  </p>
</div>

{# Main toolbar #}
<div id="toolbar" class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#1" data-toggle="tab">Lagre</a></li>
    <li><a href="#2" data-toggle="tab">Struktur</a></li>
    <li><a href="#3" data-toggle="tab">Innhold</a></li>
    <li><a href="#4" data-toggle="tab">Formatering</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active save" id="1">
      <p>
        <span class="save-text"><i class="icon-ok"></i> Artikkelen er nylig lagret.</span><br>
        <span class="control-group"><input type="checkbox" class="autosave" checked> Lagre automatisk hvert <input type="text" value="1" class="autosave-frequency">. minutt</span>
      </p>
      <button class="btn save">Lagre</button>
    </div>
    <div class="tab-pane structure" id="2">
      <div class="btn-group" data-toggle="buttons-radio">
        <button class="btn formatting"><i class="icon-pencil"></i> Tekstredigering</button>
        <button class="btn horizontal"><i class="icon-arrow-left"></i> Flytt kolonner <i class="icon-arrow-right"></i></button>
        <button class="btn vertical"><i class="icon-arrow-up"></i> Flytt rader <i class="icon-arrow-down"></i></button>
      </div>
      <br>
      <div class="btn-group">
        <button class="btn add-columns"><i class="icon-list-alt"></i> Legg til ny rad</button>
        <button class="btn remove-columns"><i class="icon-remove"></i> Ta bort en rad</button>
      </div>
    </div>
    <div class="tab-pane content" id="3">
      <div class="btn-group">
        <button class="btn add-text"><i class="icon-align-left"></i> Tekst</button>
        <button class="btn add-image"><i class="icon-picture"></i> Bilde</button>
        <button class="btn add-widget"><i class="icon-star"></i> Widget</button>
        <button class="btn dialog-button insert-button" data-dialog="#dialog-add-button"><i class="icon-share-alt"></i> Knapp</button>
      </div>
      <br>
      <button class="btn remove-content"><i class="icon-remove"></i> Ta bort innhold</button>
    </div>
    <div class="tab-pane formatting" id="4">
      <a href="javascript:undefined" title="Fet tekst" class="button bold" data-image="{{ STATIC_URL }}img/editorbuttons/bold">&nbsp;</a>
      <a href="javascript:undefined" title="Kursiv tekst" class="button italic" data-image="{{ STATIC_URL }}img/editorbuttons/italic">&nbsp;</a>
      <a href="javascript:undefined" title="Understreket tekst" class="button underline" data-image="{{ STATIC_URL }}img/editorbuttons/underline">&nbsp;</a>
      <a href="javascript:undefined" title="Sett inn lenke" class="button anchor-add" data-image="{{ STATIC_URL }}img/editorbuttons/anchor-add">&nbsp;</a>
      <a href="javascript:undefined" title="Ta bort lenke" class="button anchor-remove" data-image="{{ STATIC_URL }}img/editorbuttons/anchor-remove">&nbsp;</a>
      <a href="javascript:undefined" title="Nummerert liste" class="button ol" data-image="{{ STATIC_URL }}img/editorbuttons/ol">&nbsp;</a>
      <a href="javascript:undefined" title="Unummerert liste" class="button ul" data-image="{{ STATIC_URL }}img/editorbuttons/ul">&nbsp;</a>
      <a href="javascript:undefined" title="Venstrestill tekst" class="button align-left" data-image="{{ STATIC_URL }}img/editorbuttons/align-left">&nbsp;</a>
      <a href="javascript:undefined" title="Midtstill tekst" class="button align-center" data-image="{{ STATIC_URL }}img/editorbuttons/align-center">&nbsp;</a>
      <a href="javascript:undefined" title="Høyrestill tekst" class="button align-right" data-image="{{ STATIC_URL }}img/editorbuttons/align-right">&nbsp;</a>
      <a href="javascript:undefined" title="Sett inn strek" class="button hr" data-image="{{ STATIC_URL }}img/editorbuttons/hr">&nbsp;</a>
      <div style="clear: both;"></div>
      <select>
        <option value="default">Velg skrifttype...</option>
        <optgroup label="--------------------">
          <option value="h1">Overskrift (stor)</option>
          <option value="h2">Overskrift (liten)</option>
          <option value="p">Brødtekst</option>
        </optgroup>
      </select>
    </div>
  </div>
</div>
