{# Used for AJAX requests. #}
{% csrf_token %}

<div class="row">
  <div class="offset3 span6">
    <div class="no-save-warning alert alert-error">
      <a class="close">x</a>
      <strong>Advarsel!</strong><br>
      Du har ikke lagret artikkelen på over 5 minutter! Du bør vurdere å lagre nå, hvis ikke kan du miste endringene du har gjort hvis et uhell oppstår.
    </div>
  </div>
</div>

<article data-id="{{ version.id }}">

{% for row in rows %}
<div class="row-fluid" data-id="{{ row.id }}">
  {% for column in row.columns %}
    <div class="column offset{{ column.offset }} span{{ column.span }}" data-id="{{ column.id }}">
      {% for content in column.contents %}
        {% if content.type == 'html' or content.type == 'title' or content.type == 'lede' %}
          <div class="content {{ content.type }} editable" data-id="{{ content.id }}">{{ content.content|safe }}</div>
        {% elif content.type == 'image' %}
          <div class="content image" data-id="{{ content.id }}">
            {% if content.content.anchor %}<a href="{{ content.content.anchor }}">{% endif %}
              <img src="{{ content.content.src }}" alt="{{ content.content.description }}">
            {% if content.content.anchor %}</a>{% endif %}
            <div class="img-desc">
              <span class="description">{{ content.content.description }}</span>
              <span class="photographer">Foto:
                <span class="content">{{ content.content.photographer }}</span>
              </span>
            </div>
          </div>
        {% elif content.type == 'widget' %}
          <div class="content widget {{ content.content.widget }}{% if content.content.static %} static{% endif %}" data-id="{{ content.id }}" data-json="{{ content.content.json }}">
            {% include content.content.template with widget=content.content %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
</div>
{% endfor %}

</article>

{# Adding columns #}
<div id="dialog-columns" class="dialog" data-title="Velg kolonnestruktur" data-width="auto">
  <h1 class="sherpa">Én kolonne:</h1>
  <p><img src="{{ STATIC_URL }}img/columns/full.png" data-choice="0" alt="Én kolonne"></p>

  <h1 class="sherpa">To kolonner (sidebar):</h1>
  <p><img src="{{ STATIC_URL }}img/columns/sidebar.png" data-choice="1" alt="To kolonner (sidebar)"></p>

  <h1 class="sherpa">To kolonner:</h1>
  <p><img src="{{ STATIC_URL }}img/columns/two.png" data-choice="2" alt="To kolonner"></p>

  <h1 class="sherpa">Tre kolonner:</h1>
  <p><img src="{{ STATIC_URL }}img/columns/three.png" data-choice="3" alt="Tre kolonner"></p>

  <h1 class="sherpa">Fire kolonner:</h1>
  <p><img src="{{ STATIC_URL }}img/columns/four.png" data-choice="4" alt="Fire kolonner"></p>
</div>

{# Adding widgets #}
<div id="dialog-add-widget" class="dialog" data-title="Legg til ny widget" data-width="90%">
  {% include 'widgets/promo/thumbnail.html' %}
  {% include 'widgets/quote/thumbnail.html' %}
  {% include 'widgets/articles/thumbnail.html' %}
  {% include 'widgets/blog/thumbnail.html' %}
  {% include 'widgets/embed/thumbnail.html' %}
  {% include 'widgets/carousel/thumbnail.html' %}
</div>

{# Widget edit-dialogs #}
{% include 'widgets/promo/edit.html' %}
{% include 'widgets/quote/edit.html' %}
{% include 'widgets/articles/edit.html' %}
{% include 'widgets/blog/edit.html' %}
{% include 'widgets/embed/edit.html' %}
{% include 'widgets/carousel/edit.html' %}

{# Choosing image from archive #}
{% include 'admin/editor/image-from-archive-dialog.html' %}

{# Changing image #}
{% include 'admin/editor/change-image-dialog.html' %}

{# Insert button #}
<div id="dialog-add-button" class="dialog" data-title="Legg til ny knapp" data-width="auto">
  <div class="alert alert-info">
    <a class="close">x</a>
    <strong>Du kan da ikke legge til en knapp uten en liten tekst på den!</strong>
  </div>
  <table>
    <tr>
      <td>Tekst på knappen:</td>
      <td><input type="text" name="text" class="input-small"></td>
    </tr>
    <tr>
      <td>Adresse knappen går til:</td>
      <td><input type="text" name="url" class="input-xlarge"></td>
    </tr>
  </table>
  {# Size-buttons here have font-size hardcoded because the font-size set by bootstrap is overridden by jquery-ui. It's not a pretty hack, but those font sizes are unlikely to change much so, whatever. #}
  <table class="table choices">
    <tr>
      <td><input type="radio" name="color" value="" checked></td>
      <td><button class="btn">Vanlig knapp</button></td>
      <td><input type="radio" name="size" value=" btn-large"></td>
      <td><button class="btn btn-large" style="font-size: 15px">Stor</button></td>
    </tr>
    <tr>
      <td><input type="radio" name="color" value="btn-primary"></td>
      <td><button class="btn btn-primary">Hovedknapp</button></td>
      <td><input type="radio" name="size" value="" checked></td>
      <td><button class="btn">Middels</button></td>
    </tr>
    <tr>
      <td><input type="radio" name="color" value="btn-info"></td>
      <td><button class="btn btn-info">Informasjon</button></td>
      <td><input type="radio" name="size" value="btn-small"></td>
      <td><button class="btn btn-small" style="font-size: 11px">Liten</button></td>
    </tr>
    <tr>
      <td><input type="radio" name="color" value="btn-success"></td>
      <td><button class="btn btn-success">Suksess</button></td>
      <td><input type="radio" name="size" value="btn-mini"></td>
      <td><button class="btn btn-mini" style="font-size: 11px">Mini</button></td>
    </tr>
    <tr>
      <td><input type="radio" name="color" value="btn-warning"></td>
      <td><button class="btn btn-warning">Advarsel</button></td>
    </tr>
    <tr>
      <td><input type="radio" name="color" value="btn-danger"></td>
      <td><button class="btn btn-danger">Fare</button></td>
    </tr>
    <tr>
      <td><input type="radio" name="color" value="btn-inverse"></td>
      <td><button class="btn btn-inverse">Invertert</button></td>
    </tr>
  </table>
  <p style="width: 100%; text-align: center;">
    <button class="btn btn-primary btn-large insert"><i class="icon-share-alt"></i> Sett inn knapp</button>
  </p>
</div>

{# Main toolbar #}
<div id="toolbar">
  <a href="javascript:undefined" data-title="Fet tekst" class="button bold" data-image="{{ STATIC_URL }}img/editorbuttons/bold">&nbsp;</a>
  <a href="javascript:undefined" data-title="Kursiv tekst" class="button italic" data-image="{{ STATIC_URL }}img/editorbuttons/italic">&nbsp;</a>
  <a href="javascript:undefined" data-title="Understreket tekst" class="button underline" data-image="{{ STATIC_URL }}img/editorbuttons/underline">&nbsp;</a>
  <a href="javascript:undefined" data-title="Sett inn bilde" class="button image" data-image="{{ STATIC_URL }}img/editorbuttons/image">&nbsp;</a>
  <a href="javascript:undefined" data-title="Sett inn widget" class="button widget" data-image="{{ STATIC_URL }}img/editorbuttons/widget">&nbsp;</a>
  <a href="javascript:undefined" data-title="Sett inn lenke" class="button anchor-add" data-image="{{ STATIC_URL }}img/editorbuttons/anchor-add">&nbsp;</a>
  <a href="javascript:undefined" data-title="Ta bort lenke" class="button anchor-remove" data-image="{{ STATIC_URL }}img/editorbuttons/anchor-remove">&nbsp;</a>
  <a href="javascript:undefined" data-title="Nummerert liste" class="button ol" data-image="{{ STATIC_URL }}img/editorbuttons/ol">&nbsp;</a>
  <a href="javascript:undefined" data-title="Unummerert liste" class="button ul" data-image="{{ STATIC_URL }}img/editorbuttons/ul">&nbsp;</a>
  <a href="javascript:undefined" data-title="Venstrestill tekst" class="button align-left" data-image="{{ STATIC_URL }}img/editorbuttons/align-left">&nbsp;</a>
  <a href="javascript:undefined" data-title="Midtstill tekst" class="button align-center" data-image="{{ STATIC_URL }}img/editorbuttons/align-center">&nbsp;</a>
  <a href="javascript:undefined" data-title="Høyrestill tekst" class="button align-right" data-image="{{ STATIC_URL }}img/editorbuttons/align-right">&nbsp;</a>
  <a href="javascript:undefined" data-title="Sett inn strek" class="button hr" data-image="{{ STATIC_URL }}img/editorbuttons/hr">&nbsp;</a>
  <a href="javascript:undefined" data-title="Fjern formatering" class="button remove-format" data-image="{{ STATIC_URL }}img/editorbuttons/remove-format">&nbsp;</a>
  <div style="clear: both;"></div>
  <select>
    <option value="default">Velg skrifttype...</option>
    <optgroup label="--------------------">
      <option value="h1">Hovedtittel</option>
      <option value="h2">Subtittel</option>
      <option value="h3">Mellomtittel</option>
      <option value="p" data-class="lede">Ingress</option>
      <option value="p">Brødtekst</option>
    </optgroup>
  </select>
  <div class="btn-group">
    <button class="btn add-text"><i class="icon-align-left"></i> Tekst</button>
    <button class="btn dialog-button insert-button" data-dialog="#dialog-add-button"><i class="icon-share-alt"></i> Knapp</button>
    <button class="btn remove-content"><i class="icon-remove"></i> Ta bort innhold</button>
  </div>
  {% if toolbar_structure %}
    <div class="btn-group" data-toggle="buttons-radio">
      <button class="btn formatting"><i class="icon-pencil"></i> Tekstredigering</button>
      <button class="btn horizontal"><i class="icon-arrow-left"></i> Flytt kolonner <i class="icon-arrow-right"></i></button>
      <button class="btn vertical"><i class="icon-arrow-up"></i> Flytt rader <i class="icon-arrow-down"></i></button>
    </div>
    <div class="btn-group">
      <button class="btn add-columns"><i class="icon-list-alt"></i> Legg til ny rad</button>
      <button class="btn remove-columns"><i class="icon-remove"></i> Ta bort en rad</button>
    </div>
  {% endif %}
</div>
