<div id="dialog-change-image" class="dialog" data-title="Velg bilde" data-width="60%">
  <div class="image-details">
    <div class="alert alert-error empty-src">
      <a class="close">x</a>
      <strong>Sett inn hvilket bilde?</strong><br>
      Du må angi URL-adressen til bildet. Denne kommer automatisk hvis du velger et bilde i bildegalleriet under, men hvis du har et eksternt bilde må du finne adressen selv.
    </div>
    <table>
      <tr>
        <td>Bilde:</td>
        <td><input type="text" class="input-xlarge" name="src"></td>
        <td><button class="btn btn-success choose-image"><i class="icon-share-alt"></i> Finn bilde i arkivet</button></td>
        <td><button class="btn btn-success upload-image"><i class="icon-share-alt"></i> Last opp bilde</button></td>
      </tr>
      <tr class="description">
        <td>Bildetekst:</td>
        <td><input type="text" class="input-xlarge" name="description"></td>
      </tr>
      <tr class="photographer">
        <td>Fotograf:</td>
        <td><input type="text" class="input-xlarge" name="photographer"></td>
      </tr>
      <tr class="anchor">
        <td>Lenker til:</td>
        <td><input type="text" class="input-xlarge" name="anchor"></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <button class="btn btn-success btn-large insert-image"><i class="icon-ok"></i> Sett inn</button>
          <button class="btn btn-danger btn-large remove-image"><i class="icon-remove"></i> Fjern bildet</button>
        </td>
      </tr>
    </table>

    <br>
    <h2>Her kan du beskjære bildet:</h2>
    <div style="max-width:100%;" class="preview-container">
      <table>
        <tr>
          <td><label>Bredde/høyde-forhold:</label></td>
          <td><input style="width:30px;" name="ratio-width" type="text" class="input-small"></td>
          <td><label>/</label></td>
          <td><input style="width:30px;" name="ratio-height" type="text" class="input-small"></td>
          <td><label>(Bruk dette hvis du for eksempel vil ha flere bilder med samme bredde/høyde-forhold)</label></td>
        </tr>
      </table>
      <img class="preview" src="{{ STATIC_URL }}/img/blank_placeholder.png">
    </div>
  </div>
</div>
