{% extends "admin/layout.html" %}
{% block title %}Websider &mdash; {{ block.super }}{% endblock %}
{% block header %} → <a href="{% url admin.cms.views.page.list %}">Websider</a>{% endblock %}
{% block extra_scripts %}
  <script src="{{ STATIC_URL }}js/admin/pages.js"></script>
{% endblock %}

{% block body %}

{# For AJAX requests #}
{% csrf_token %}

<div class="row">
  <div class="span12 edit-page-details">

<h2 class="skinny">Rediger side: <span class="title">{{ page.title }}</span></h2>
<table id="page-details" data-id="{{ page.id }}">
<tr>
  <th>Tittel</th>
  <td><input type="text" name="title" value="{{ page.title }}"> <img class="ajaxloader" src="{{ STATIC_URL }}img/ajax-loader-small.gif" alt="Loading..."></td>
</tr>
<tr>
  <th>URL</th>
  <td><a href="http://{{ site.domain }}/{% if page.slug %}{{ page.slug }}/{% endif %}">http://{{ site.domain }}/{% if page.slug %}{{ page.slug }}/{% endif %}</a></td>
</tr>
<tr>
  <td colspan="2" class="button">
    <a class="btn btn-success btn-large" href="{% url admin.cms.views.version.edit version.id %}"><i class="icon-pencil"></i> Rediger</a>
  </td>
</tr>
<tr>
  <td colspan="2" class="button">
    <a class="btn btn-danger btn-large delete-page" href="{% url admin.cms.views.page.delete page.id %}"><i class="icon-warning-sign"></i> Slett</a>
  </td>
</tr>
</table>

  </div>
</div>

{% endblock %}
