{% extends "admin/layout.html" %}
{% block title %}Websider &mdash; {{ block.super }}{% endblock %}
{% block header %}<a href="{% url admin.cms.views.page.list %}">Websider</a>{% endblock %}
{% block extra_js %}
  <script src="{{ STATIC_URL }}lib/bootstrap/js/bootstrap-tab.js"></script>
  <script src="{{ STATIC_URL }}lib/rangy/rangy-core.js"></script>
  <script src="{{ STATIC_URL }}js/admin/editor/main.js"></script>
  <script src="{{ STATIC_URL }}js/admin/editor/page.js"></script>
  <script src="{{ STATIC_URL }}js/admin/editor/save.js"></script>
  <script src="{{ STATIC_URL }}js/admin/editor/widgets.js"></script>
  <script src="{{ STATIC_URL }}js/admin/editor/image.js"></script>
  <script src="{{ STATIC_URL }}js/admin/editor/toolbar.js"></script>
{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/admin/editor/main.css" media="screen">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/admin/editor/image.css" media="screen">
{% endblock %}

{% block body %}
{% include 'admin/editor/advanced.html' %}
{% endblock %}
