{% extends "admin/layout.html" %}
{% block title %}Websider &mdash; {{ block.super }}{% endblock %}
{% block header %} → <a href="{% url admin.cms.views.page.list %}">Websider</a>{% endblock %}
{% block extra_scripts %}
  <script src="{{ STATIC_URL }}js/admin/pages.js"></script>
{% endblock %}
{% block body %}

<h1>Hovedmeny</h1>
<div class="row">
  <div class="span12">
    <nav id="menus">
      <ul class="nav nav-tabs">
        {% for menu in menus %}
        <li>
          <a class="edit" data-id="{{ menu.id }}" data-href="{{ menu.url }}" href="javascript:undefined">{{ menu.name }}</a>
        </li>
        {% endfor %}
        <li class="new">
          <a class="new" href="javascript:undefined">+</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<h1>Websider</h1>
{% if not versions %}
<div class="alert alert-info">Det er ikke opprettet noen sider for dette nettstedet.</div>
{% else %}
<table class="table table-striped">
<thead>
<tr>
  <th>Tittel</th>
  <th>URL til siden</th>
  <th>Rediger</th>
  <th>Slett</th>
</tr>
</thead>
<tbody>
{% for version in versions %}
<tr>
  <td>{{ version.variant.page.title }}</td>
  <td><a href="/{{ version.variant.page.slug }}">http://{{ site.domain }}/{{ version.variant.page.slug }}{% if version.variant.page.slug %}/{% endif %}</a></td>
  <td>[ <a href="{% url admin.cms.views.version.edit version.id %}">Rediger</a> ]</td>
  <td>[ <a href="{% url admin.cms.views.page.delete version.variant.page.id %}">Slett</a> ]</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}

<div class="row">
  <div class="offset5 span2">
    <p><a id="add-page" class="btn btn-primary large-button dialog-button" data-dialog=".page-dialog" href="javascript:undefined">Opprett ny webside</a></p>
  </div>
</div>

<div class="dialog page-dialog" data-title="Opprett ny side" data-width="80%">
  <form action="{% url admin.cms.views.page.new %}" method="post">
  {% csrf_token %}
    <table class="table">
    <tr>
      <td>Tittel:</td>
      <td><input type="text" name="title"></td>
    </tr>
    <tr>
      <td>URL:</td>
      <td>http://{{ site.domain }}/ <input type="text" name="slug" value=""> /</td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="Opprett ny webside"></td>
    </tr>
    </table>
    <p><em>Tips til en fornuftig URL:</em></p>
    <ul>
      <li>La navnet på URLen reflektere innholdet</li>
      <li>Ikke bruk en URL som er sannsynlig at du vil bruke på en annen side</li>
      <li>Bruk mappe-nøsting (f.eks. "/valdres/snøskredfare/" i stedet for "/snøskredfare-i-valdres/"</li>
    </ul>
  </form>
</div>


<div class="dialog menu-dialog" data-title="Lagre menylink" data-width="auto">
  {% csrf_token %}
  <table class="table">
  <tr>
    <td>Navn på linken:</td>
    <td><input type="text" name="name" class="span2"></td>
  </tr>
  <tr>
    <td>Adresse:</td>
    <td><input type="text" name="url" class="span5"></td>
  </tr>
  </table>

  <p>
    <button class="btn btn-success btn-large save-menu"><i class="icon-ok"></i> Lagre</button>
    <button class="btn btn-danger btn-large delete-menu"><i class="icon-warning-sign"></i> Slett menyen</button>
  </p>
</div>

{% endblock %}
