<div class="row">
  <div class="span12">
    <div class="wrapper ut">
      {% include 'main/widgets/promo/static/menu.html' %}

      <div class="right">
        <h1 style="text-align: center; margin-top: 40px; padding-left: 20px; padding-right: 20p">Nå dekker vi vardene med snø</h1>

        <p style="padding: 10px 40px 20px 40px">
          <strong>Vinteren er på vei. Det samme er medlemskortet for 2013 til deg som allerede er medlem.</strong>
          <br><br>
          Vi håper du blir med på tur neste år også.<br><br>
          Er du ikke medlem, kan du <a class="white-link" href="{% url enrollment.views.index %}">melde deg inn nå</a>. Da rekker du å få med deg både hvite vidder og en og annen topptur før vi børster snøen av vardene.
        </p>

      </div>
      <img class="background-image" src="{{ STATIC_URL }}img/widgets/promo/varde.jpg" alt="Snødekt varde">
      <div style="clear: both;"></div>
    </div>
  </div>
</div>
