/* Enrollment */

.label() {
  font-size: 110%;
  font-family: "DTL Nobel" !important;
}

.label-default-color() {
  color: black;
}

.input-default-color() {
  color: black;
}

.input-default-style() {
  font-size: 120%;
  padding: 8px;
  height: auto !important;
}

.button-margin() {
  margin-top: 3px;
  margin-bottom: 3px;
}

.asterisks() {
  span.asterisk {
    font-size: 120%;
    font-weight: bold;
  }

  span.asterisk.red {
    color: red;
  }
}

/* Verification */

p.forening-info {
  margin-bottom: 30px;
}

/* Payment */

form.payment, form.payment label {
  font-family: "DTL Nobel" !important;
}

div.payment-error {
  p.help-action {
    margin-bottom: 0;
  }

  p.sorry {
    font-family: "DTL Nobel" !important;
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
  }
}

/* Result */

div.enrollment-result.enrollment-success-card {
  table td.sum {
    font-weight: bold;
  }

  div.sms {
    margin-top: 15px;
    margin-bottom: 15px;

    p.success {
      color: green;
    }

    p.error {
      color: red;
    }
  }
}

div.enrollment-result {
  div.choose-user {
    p.user-list {
      margin-bottom: 20px;

      label.checkbox {
      }
    }
  }

  div.next-step {
    margin-top: 40px;

    h3 {
      margin-top: 30px;
      margin-bottom: 5px;
    }
  }
}
