/* Enrollment */

.label() {
  font-size: 110%;
  font-family: "DTL Nobel" !important;
}

.label-default-color() {
  color: black;
}

.input-default-color() {
  color: black;
}

.input-default-style() {
  font-size: 120%;
  padding: 8px;
  height: auto !important;
}

.button-margin() {
  margin-top: 3px;
  margin-bottom: 3px;
}

.asterisks() {
  span.asterisk {
    font-size: 120%;
    font-weight: bold;
  }

  span.asterisk.red {
    color: red;
  }
}
