.enrollment-household {
  form.household {
    label {
      .label();
    }

    .control-group:not(.error,.warning) {
      label {
        .label-default-color;
      }
    }

    select {
      .input-default-color;

      option[disabled] {
        background-color: rgb(215, 215, 215);
      }
    }

    input[type='text'] {
      .input-default-color;
      .input-default-style;
    }

    button {
      .button-margin;
    }

    .asterisks;

    input[name="zipcode"] {
      display: inline-block;
      width: 80px;
    }

    input[name="area"] {
      display: inline-block;
      width: 250px; // Longest zipcode area name in Norway is 20 characters
    }

    .search-existing {
      padding: 9px; // Because the input text has larger padding than default
    }
  }

  .existing-result {
    font-weight: bold;

    span.success span.result {
      color: rgb(60, 180, 60);
    }

    span.error {
      color: rgb(180, 60, 60);
    }
  }
}
