/**
 * Old simple mixins solely for enrollment.
 * Some of these might actually be more suitable as generic form styles.
 */

.enrollment-label() {
  font-family: "DTL Nobel" !important;
  font-size: 18px;
  font-weight: normal;
}

.enrollment-label-default-color() {
  color: black;
}

.enrollment-input-default-color() {
  color: black;
}

.enrollment-input-default-style() {
  height: auto !important;
  padding: 8px;
  font-size: 16px !important;
}

.enrollment-button-margin() {
  margin-top: 3px;
  margin-bottom: 3px;
}

.enrollment-asterisks() {
  span.asterisk {
    font-size: 22px;
    font-weight: bold;
  }

  span.asterisk.red {
    color: red;
  }
}
