.enrollment-payment-method {
  form.payment {
    font-family: "DTL Nobel" !important;

    label {
      font-family: "DTL Nobel" !important;
    }
  }
}

.enrollment-payment-error {
  .payment-error {
    p.help-action {
      margin-bottom: 0;
    }

    p.sorry {
      font-family: "DTL Nobel" !important;
      font-size: 18px;
      font-weight: bold;
      margin-top: 15px;
    }
  }
}
