{% extends "layout.html" %}
{% block extra_js %}
  <script src="{{ STATIC_URL }}js/groups.js"></script>
{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/groups.css" media="screen">
{% endblock %}

{% block title %}DNT der du bor{% endblock %}

{% block body %}

{% csrf_token %}

<h1>DNT der du bor</h1>

<div id="searchbox">
  <div id="content">
    <table>
      <tr>
        <th><h2>Velg type</h2></th>
        <th><h2>Fylke</h2></th>
      </tr>
      <tr>
        <td class="categories">
          {% for category in categories %}
            <input type="radio" name="category" value="{{ category.db }}"{% if chosen_category|lower == category.name|lower or chosen_category|lower == category.db|lower %} checked{% endif %}>
            {{ category.name }}<br>
          {% endfor %}
        </td>
        <td class="counties">
          <div class="county"><input type="radio" name="county" value="all"{% if chosen_county == '' %} checked{% endif %}> Alle</div>
          {% for county in counties %}
            <div class="county"><input type="radio" name="county" value="{{ county.sherpa_id }}"{% if chosen_county|lower == county.name|lower %} checked{% endif %}> {{ county.name }}</div>
          {% endfor %}
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="loading">
  <h1>Laster, vennligst vent...</h1>
  <img src="{{ STATIC_URL }}img/ajax-loader-large.gif" alt="Laster, vennligst vent...">
</div>

<div class="all">
  <h2>Vennligst velg fylke og/eller kategori i boksen over.</h2>
</div>

<div class="no-results">
  <h2>Beklager, fant ingen grupper på dette søket!</h2>
</div>

<table id="results" class="table">
</table>

<h2>Savner du et turtilbud der bor?</h2>
<p>
  Gjør noe med det og start opp ei turgruppe i regi av DNT! Ta kontakt med din nærmeste medlemsforening og foreslå muligheten for ei lokal turgruppe der du bor.
</p>

<p>
  Du kan også kontakte DNTs administrasjon på telefon 4000 1868 eller <a href="mailto:info@turistforeningen.no">info@turistforeningen.no</a> for tips om hvordan du bør gå frem.
</p>

{% endblock %}
