{% extends "layout.html" %}
{% block extra_js %}
  <script src="{{ STATIC_URL }}js/groups.js"></script>
{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/groups.css" media="screen">
{% endblock %}

{% block title %}DNT der du bor{% endblock %}

{% block body %}

{% csrf_token %}

<h1>DNT der du bor</h1>

<div id="searchbox">
  <div id="content">
    <table>
      <tr>
        <th><h2>Velg type</h2></th>
        <th><h2>Fylke</h2></th>
      </tr>
      <tr>
        <td class="categories">
          <input type="radio" name="category" value="all"{% if chosen_category == '' %} checked{% endif %}>
          Alle<br>
          {% for category in categories %}
            <input type="radio" name="category" value="{{ category.type }}"{% if chosen_category|lower == category.type|cut:'|'|lower %} checked{% endif %}>
            {{ category.type|cut:'|' }}<br>
          {% endfor %}
        </td>
        <td class="counties">
          <div class="county"><input type="radio" name="county" value="all"{% if chosen_county == '' %} checked{% endif %}> Alle</div>
          {% for county in counties %}
            <div class="county"><input type="radio" name="county" value="{{ county.code }}"{% if chosen_county|lower == county.name|lower %} checked{% endif %}> {{ county.name }}</div>
          {% endfor %}
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="loading">
  <h1>Laster, vennligst vent...</h1>
  <img src="{{ STATIC_URL }}img/ajax-loader-large.gif" alt="Laster, vennligst vent...">
</div>

<div id="results">
  <div class="info">
    <h2>Vennligst velg fylke og/eller kategori i boksen over.</h2>
  </div>
</div>

{% endblock %}
