{% extends "layout.html" %}
{% block extra_js %}
  <script src="{{ STATIC_URL }}js/groups.js"></script>
{% endblock %}

{% block title %}DNT der du bor{% endblock %}

{% block body %}

{% csrf_token %}

<h1>DNT der du bor</h1>

<div id="searchbox">
  <div id="content">
    <table>
      <tr>
        <th>Velg type</th>
        <th>Fylke</th>
      </tr>
      <tr>
        <td class="categories">
          <p>
            <input type="radio" name="category" value="all" checked>
            Alle
          </p>
          {% for category in categories %}
            <p>
              <input type="radio" name="category" value="{{ category.type }}">
              {{ category.type|cut:'|' }}
            </p>
          {% endfor %}
        </td>
        <td class="counties">
          <div class="county"><input type="radio" name="county" value="all" checked> Alle</div>
          {% for county in counties %}
            <div class="county"><input type="radio" name="county" value="{{ county.code }}"> {{ county.name }}</div>
          {% endfor %}
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="loading">
  <h1>Laster, vennligst vent...</h1>
  <img src="{{ STATIC_URL }}img/ajax-loader-large.gif" alt="Laster, vennligst vent...">
</div>

<div id="results">

</div>

{% endblock %}
