<div class="layout sidebar" name="{{ layout.id }}">
{% include 'admin/page/snippets/edit_layout.html' %}
<div class="column col-one">
{% for item in layout.columns.0 %}
  {% if item.type == "html" %}
    {% include 'admin/page/snippets/edit_content.html' with content=item.content %}
    {# The div contents will be moved into the iframe by scripts. #}
    <div>{{ item.content|safe }}</div>
    <iframe id="content-{{ item.id }}" style="border: 1px solid #000; width: 100%; height: 300px;"></iframe>
  {% endif %}
  {% if item.type == "widget" %}
    {% include item.content.template with widget=item.content %}
  {% endif %}
{% endfor %}
{% include 'admin/page/snippets/add_content.html' %}
</div>

<div class="column col-two">
{% for item in layout.columns.1 %}
  {% if item.type == "html" %}
    {% include 'admin/page/snippets/edit_content.html' with content=item.content %}
    {# The div contents will be moved into the iframe by scripts. #}
    <div>{{ item.content|safe }}</div>
    <iframe id="content-{{ item.id }}" style="border: 1px solid #000; width: 100%; height: 300px;"></iframe>
  {% endif %}
  {% if item.type == "widget" %}
    {% include item.content.template with widget=item.content %}
  {% endif %}
{% endfor %}
{% include 'admin/page/snippets/add_content.html' %}
</div>
<div style="clear: both;"></div>
</div>
