{% extends "common/aktiviteter/layout.html" %}
{% block title %}{{ aktivitet_date.aktivitet.title }} &mdash; Turer og aktiviteter{% endblock %}
{% block breadcrumb %}<a href="{% url 'aktiviteter.views.index' %}">Turer og aktiviteter</a> / <em><a href="{% url 'aktiviteter.views.show' aktivitet_date.id %}">{{ aktivitet_date.aktivitet.title }}</a></em>{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/aktiviteter/show.js"></script>
{% endblock %}

{% block body %}{% endblock %}
