{% extends "common/aktiviteter/show/layout.html" %}

{% block body %}

  {{ block.super }}

  <div class="row">
    <div class="span12">
      <div class="alert alert-info">
        <a class="btn btn-large" href="{% url 'admin.aktiviteter.views.edit' aktivitet_date.aktivitet.id %}"><i class="icon-arrow-left"></i> Tilbake til redigering</a>
        <span class="preview-notice pull-right">Dette er en forhåndsvisning av aktiviteten.</span>
      </div>
    </div>
  </div>

  {% include 'common/aktiviteter/show/content.html' %}

  <div class="row">
    <div class="span12">
      <div class="alert alert-info">
        <a class="btn btn-large" href="{% url 'admin.aktiviteter.views.edit' aktivitet_date.aktivitet.id %}"><i class="icon-arrow-left"></i> Tilbake til redigering</a>
        <span class="preview-notice pull-right">Dette er en forhåndsvisning av aktiviteten.</span>
      </div>
    </div>
  </div>

{% endblock %}
