.byline {
  border-top: 1px solid rgb(120, 120, 120);
  padding-top: 15px;
  margin-bottom: 30px;

  img {
    float: left;
    margin-right: 10px;
  }

  p {
    margin-top: 0px; /* Vertical center based on the byline image height and text line-height. */
    font-family: "DTL Nobel" !important;
    line-height: 1.2;
  }

  p a.email {
    color: rgb(120, 120, 120);
    font-size: 14px;
  }

  div.multiple-authors {
    display: inline-block;
    margin-right: 20px;

    p {
      display: inline-block;
    }
  }
}
