{% extends 'common/admin/layout.html' %}
{% block title %}Websider &mdash; {{ block.super }}{% endblock %}
{% block header %}<a href="{% url 'admin.cms.views.page.list' %}">Websider</a>{% endblock %}
{% block extra_js %}
  <script src="{{ STATIC_URL }}lib/jquery-ui/jquery-ui-timepicker-addon.js"></script>
  <script src="{{ STATIC_URL }}lib/rangy/rangy-core.js"></script>
  <script src="{{ STATIC_URL }}js/admin/tags.js"></script>
  <script src="{{ STATIC_URL }}js/admin/editor/main.js"></script>
  <script src="{{ STATIC_URL }}js/admin/editor/page.js"></script>
  <script src="{{ STATIC_URL }}js/admin/editor/save.js"></script>
  <script src="{{ STATIC_URL }}js/admin/editor/image-dialog.js"></script>
  <script src="{{ STATIC_URL }}js/admin/images/util/image-archive-picker.js"></script>
  <script src="{{ STATIC_URL }}js/admin/images/util/image-upload-dialog.js"></script>
  <script src="{{ STATIC_URL }}js/admin/editor/widgets/articles.js"></script>
  <script src="{{ STATIC_URL }}js/admin/editor/widgets/blog.js"></script>
  <script src="{{ STATIC_URL }}js/admin/editor/widgets/carousel.js"></script>
  <script src="{{ STATIC_URL }}js/admin/editor/widgets/embed.js"></script>
  <script src="{{ STATIC_URL }}js/admin/editor/widgets/fact.js"></script>
  <script src="{{ STATIC_URL }}js/admin/editor/widgets/quote.js"></script>
  <script src="{{ STATIC_URL }}js/admin/editor/widgets/main.js"></script>
  <script src="{{ STATIC_URL }}js/admin/editor/toolbar.js"></script>
{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/jquery-ui/jquery-ui-timepicker-addon.css" media="screen">
{% endblock %}

{% block js_globals %}
  <script>
    var IMAGE_SEARCH_LENGTH = {{ image_search_length }};
  </script>
{% endblock %}

{% block body %}

<div class="row">
  <div class="span12">
    <div class="well editor-header page" data-page-id="{{ version.variant.page.id }}" data-version-id="{{ version.id }}">
      <div class="status"{% if version.variant.page.published %} data-published{% endif %}>
        <div class="title">
          Tittel: <input name="title" type="text" class="input-xlarge" value="{{ version.variant.page.title }}">
        </div>

        <div class="parent">
          Ligger under:
          <select name="parent" class="chosen" data-placeholder="Ingen foreldreside">
            <option value=""></option>
            {% for page in pages %}
              <option value="{{ page.id }}"{% if version.variant.page.parent.id == page.id %} selected class="default"{% endif %}>{{ page.title }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="publish">
          <input type="checkbox" name="publish"{% if version.variant.page.published %} checked="checked"{% endif %}> Publiseres
          <input type="text" class="input-large" name="page-datetime-field" value="{{ version.variant.page.pub_date|date:"d.m.Y H:i" }}" placeholder="Velg publiseringstidspunkt...">
        </div>

        <div class="display-ads">
          <label class="checkbox"><input type="checkbox" name="display-ads"{% if version.ads %} checked{% endif %}>Vis annonser</label>
        </div>

        <div class="tags">
          <table>
            <tr>
              <td style="vertical-align: top">
                Nøkkelord:
                <input type="text" name="tags">
              </td>
            </tr>
            <tr>
              <td>
                <div class="tag-box">
                  {% for tag in version.tags.all %}
                    <div class="tag">
                      <a href="javascript:undefined" class="closer"></a>
                      {{ tag.name }}
                    </div>
                  {% endfor %}
                </div>
              </td>
            </tr>
          </table>
        </div>

        <div style="clear: left;"></div>

        <div class="save">
          <button class="btn btn-success save"><i class="icon-heart"></i> Lagre nå</button>
          <button class="btn btn-success preview" data-href="{% url 'admin.cms.views.page.preview' version.id %}"><i class="icon-search"></i> Forhåndsvisning</button>
          <a class="btn btn-danger delete-page" href="{% url 'admin.cms.views.page.delete' version.variant.page.id %}">
            <i class="icon-warning-sign"></i> Slett
          </a>
        </div>
      </div>

      <div style="clear: both;"></div>
    </div>
  </div>
</div>

{% include 'common/admin/editor/advanced.html' with toolbar_structure=1 %}
{% endblock %}
