<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        {% for cell in widget.header %}
          <th>
            {% if cell.url %}
              <a href="{{ cell.url }}">{{ cell.text }}</a>
            {% else %}
              {{ cell.text }}
            {% endif %}
          </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in widget.body %}
        <tr>
          {% for cell in row %}
            <td>
              {% if cell.url %}
                <a href="{{ cell.url }}">{{ cell.text }}</a>
              {% else %}
                {{ cell.text }}
              {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
