{% extends site.template.name|add:"/layout.html" %}
{% block title %}Min side{% endblock %}
{% block breadcrumb_title %}Min side{% endblock %}

{% block body %}

<div class="row">
  <div class="span9">

    <div class="info-area">
      {% for message in messages %}
        {% if message.message == 'update_success' %}
          <div class="alert alert-success">
            <a class="close">x</a>
            <strong>Opplysningene dine har blitt oppdatert.</strong>
          </div>
        {% elif message.message == 'password_update_success' %}
          <div class="alert alert-success">
            <a class="close">x</a>
            <strong>Passordet ditt har blitt endret.</strong>
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <h2>Brukeropplysninger</h2>
    <p>{{ user.get_full_name }}</p>
    <p>{{ user.email }}</p>
    <p>{{ user.get_profile.phone }}</p>

    <a href="{% url user.views.update_account %}">Endre brukeropplysninger</a>
  </div>

  <div class="span3">
    {% include 'common/user/navigation.html' with active='account' %}
  </div>
</div>

{% endblock %}
