{% extends site.template.name|add:"/layout.html" %}
{% block title %}Min side{% endblock %}
{% block breadcrumb_title %}Min side{% endblock %}

{% block body %}

<div class="row">
  <div class="span9">

    <div class="info-area">
      {% for message in messages %}
        {% if message.message == 'update_success' %}
          <div class="alert alert-success">
            <a class="close">x</a>
            <strong>Opplysningene dine har blitt oppdatert.</strong>
          </div>
        {% elif message.message == 'password_update_success' %}
          <div class="alert alert-success">
            <a class="close">x</a>
            <strong>Passordet ditt har blitt endret.</strong>
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <h2>Brukeropplysninger</h2>

    {% if not user.get_profile.actor %}

      <table class="table">
        <tr>
          <th>Navn</th>
          <td>{{ user.get_profile.get_full_name }}</td>
        </tr>
        <tr>
          <th>Epost</th>
          <td>{{ user.get_profile.get_email }}</td>
        </tr>
      </table>

      <p>
        Du er ikke registrert som medlem i DNT. <a href="{% url user.views.become_member %}">Jeg er medlem, registrer meg!</a>
      </p>

    {% else %}

      <p>{{ user.get_profile.actor.first_name }} {{ user.get_profile.actor.last_name }}</p>
      <p>{{ user.get_profile.actor.email }}</p>
      <p>{{ user.get_profile.actor.phone_mobile }}</p>
      <p>{{ user.get_profile.actor.phone_home|default:"" }}</p>
      <p>Født {{ user.get_profile.actor.birth_date|date:"j. F Y" }}</p>
      {% if user.get_profile.actor.address.country == 'NO' %}
        <p>{{ user.get_profile.actor.address.zipcode }} {{ user.get_profile.actor.address.parea|title }}</p>
        <p>{{ user.get_profile.actor.address.a1 }}</p>
      {% else %}
        <p>{{ user.get_profile.actor.address.a1 }}</p>
        <p>{{ user.get_profile.actor.address.a2 }}</p>
        <p>{{ user.get_profile.actor.address.a3 }}</p>
      {% endif %}
      <p>{{ user.get_profile.actor.main_association.name }}</p>
      <p>{{ user.get_profile.actor.membership_type }}</p>
    {% endif %}

    <a href="{% url user.views.update_account %}">Endre brukeropplysninger</a>
  </div>

  <div class="span3">
    {% include 'common/user/navigation.html' with active='account' %}
  </div>
</div>

{% endblock %}
