{% extends site.template.name|add:"/layout.html" %}
{% block title %}Min side{% endblock %}
{% block breadcrumb %}<em><a href="{% url 'user.views.home_new' %}">Min side</a></em>{% endblock %}

{% block body %}

<div class="row">
  <div class="span12">

    <h2>Min side — {{ user.get_profile.get_full_name }}</h2>

    {% for message in messages %}
      {% if message.message == 'password_reset_success' %}
        <div class="alert alert-info">
          Velkommen tilbake {{ user.get_profile.get_full_name }}, passordet ditt har blitt endret og du er nå innlogget.
        </div>
      {% elif message.message == 'password_update_success' %}
        <div class="alert alert-success">
          <a class="close">x</a>
          <strong>Passordet ditt har blitt endret.</strong>
        </div>
      {% endif %}
    {% endfor %}

    <div class="user-home-account">
      {% if not user.get_profile.get_actor %}
        <p><a href="{% url user.views.register_membership %}">Registrer ditt medlemskap</a></p>
      {% endif %}
    </div>

    <div class="user-home-navigation">
      <div class="row-fluid">
        <div class="span4">
          <div class="element">
            <p><a href="{% url user.views.account %}">Endre dine opplysninger</a></p>
            <p>
              Her kan du gjøre det som strengt tatt står beskrevet i lenken, dette er litt lang forklarelsestekst.
            </p>
          </div>
        </div>
        <div class="span4">
          <div class="element">
            <p><a href="{% url user.views.account_password %}">Endre ditt passord</a></p>
            <p>
              Her kan du gjøre det som strengt tatt står beskrevet i lenken, dette er litt lang forklarelsestekst.
            </p>
          </div>
        </div>
        <div class="span4">
          <div class="element">
            <p><a href="{% url user.views.publications %}">Les Fjell og Vidde, Årbok, UT, m.m.</a></p>
            <p>
              Her kan du gjøre det som strengt tatt står beskrevet i lenken, dette er litt lang forklarelsestekst.
            </p>
          </div>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span4">
          <div class="element">
            <p><a href="{% url user.views.reservations %}">Motta medlemsfordeler fra DNTs samarbeidspartnere</a></p>
            <p>
              Her kan du gjøre det som strengt tatt står beskrevet i lenken, dette er litt lang forklarelsestekst.
            </p>
          </div>
        </div>
        {% if perms.user.sherpa %}
          <div class="span4">
            <div class="element">
              <p><a href="{% url admin.views.index %}">Gå til Sherpa</a></p>
              <p>
                Her kan du gjøre det som strengt tatt står beskrevet i lenken, dette er litt lang forklarelsestekst.
              </p>
            </div>
          </div>
        {% endif %}
      </div>

    </div>

  </div>
</div>

{% endblock %}
