{% extends site.template.name|add:"/layout.html" %}
{% block title %}Min side{% endblock %}
{% block breadcrumb %}<em><a href="{% url user.views.home %}">Min side</a></em>{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/membership/memberid_sms.js"></script>
{% endblock %}

{% load rowiterator %}

{% block body %}

<div class="row">
  <div class="span12">

    <h2>Min side</h2>

    {% for message in messages %}
      {% if message.message == 'password_reset_success' %}
        <div class="alert alert-info">
          Velkommen tilbake {{ user.get_profile.get_full_name }}, passordet ditt har blitt endret og du er nå innlogget.
        </div>
      {% elif message.message == 'password_update_success' %}
        <div class="alert alert-success">
          <a class="close">x</a>
          <strong>Passordet ditt har blitt endret.</strong>
        </div>
      {% endif %}
    {% endfor %}

    <div class="user-home-account form-border form-horizontal">

      <table>
        <tr>
          <th>Deg:</th>
          <td>{{ user.get_profile.get_full_name }}</td>
        </tr>
        {% if user.get_profile.is_member %}
          <tr>
            <th>Medlemsnummer:</th>
            <td>{{ user.get_profile.memberid }}</td>
          </tr>
          <tr>
            <th>Ditt medlemskap:</th>
            <td>
              {% if user.get_profile.get_actor.has_payed %}
                Betalt for
                {% if next_year %}
                  {{ year|add:"1" }}
                {% else %}
                  {{ year }}
                {% endif %}
              {% else %}
                Ikke betalt for
                {% if next_year %}
                  {{ year|add:"1" }}
                {% else %}
                  {{ year }}
                {% endif %}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th>Din medlemsforening:</th>
            <td>
              {% if user.get_profile.get_actor.main_association.site %}<a href="http://{{ user.get_profile.get_actor.main_association.site.domain }}/">{% endif %}
                {{ user.get_profile.get_actor.main_association.name }}
              {% if user.get_profile.get_actor.main_association.site %}</a>{% endif %}
            </td>
          </tr>
        {% else %}
          <tr>
            <th>Ditt medlemskap:</th>
            <td>
              Du er ikke DNT-medlem.<br>
              <a href="{% url user.views.register_membership %}">Registrer ditt medlemskap</a>
            </td>
          </tr>
        {% endif %}
      </table>
    </div>
  </div>
</div>

<div class="user-home-navigation">

  {% rowiterator 3 %}
    {% column %}
      <div class="element">
        <p><a href="{% url user.views.account %}">Endre dine opplysninger</a></p>
        <p>
          Her kan du gjøre det som strengt tatt står beskrevet i lenken, dette er litt lang forklarelsestekst.
        </p>
      </div>
    {% endcolumn %}

    {% column %}
      <div class="element">
        <p><a href="{% url user.views.account_password %}">Endre ditt passord</a></p>
        <p>
          Her kan du gjøre det som strengt tatt står beskrevet i lenken, dette er litt lang forklarelsestekst.
        </p>
      </div>
    {% endcolumn %}

    {% if user.get_profile.is_member %}
      {% column %}
        <div class="element">
          <p><a href="{% url user.views.publications %}">Les Fjell og Vidde, årboken, UT, m.m.</a></p>
          <p>
            Her kan du gjøre det som strengt tatt står beskrevet i lenken, dette er litt lang forklarelsestekst.
          </p>
        </div>
      {% endcolumn %}
    {% endif %}

    {% if user.get_profile.is_member %}
      {% column %}
        <div class="element">
          <p><a href="{% url user.views.partneroffers %}">Motta medlemsfordeler fra DNTs samarbeidspartnere</a></p>
          <p>
            Her kan du gjøre det som strengt tatt står beskrevet i lenken, dette er litt lang forklarelsestekst.
          </p>
        </div>
      {% endcolumn %}
    {% endif %}

    {% if user.get_profile.is_member and user.get_profile.show_norway_bus_tickets_menu_item %}
      {% column %}
        <div class="element">
          <p><a href="{% url user.views.norway_bus_tickets %}">Bussbilletter</a></p>
          <p>
            Her kan du gjøre det som strengt tatt står beskrevet i lenken, dette er litt lang forklarelsestekst.
          </p>
        </div>
      {% endcolumn %}
    {% endif %}

    {% if user.get_profile.is_member %}
      {% column %}
        <div class="element">
          <p><a href="{% url user.views.fotobok %}">Fotobok</a></p>
          <p>
            Her kan du gjøre det som strengt tatt står beskrevet i lenken, dette er litt lang forklarelsestekst.
          </p>
        </div>
      {% endcolumn %}
    {% endif %}

    {% if perms.user.sherpa %}
      {% column %}
        <div class="element">
          <p><a href="{% url admin.views.index %}">Gå til Sherpa</a></p>
          <p>
            Her kan du gjøre det som strengt tatt står beskrevet i lenken, dette er litt lang forklarelsestekst.
          </p>
        </div>
      {% endcolumn %}
    {% endif %}
  {% endrowiterator %}

</div>

<div class="row">
  <div class="span4">
    {% include 'main/membership/memberid_sms.html' %}
  </div>
</div>

{% endblock %}
