{% extends site.template.name|add:"/layout.html" %}
{% block title %}Min side{% endblock %}
{% block breadcrumb %}<em><a href="{% url 'user.views.home_new' %}">Min side</a></em>{% endblock %}

{% block body %}

<div class="row">
  <div class="span9">

    <h2>Min side — {{ user.get_profile.get_full_name }}</h2>

    {% for message in messages %}
      {% if message.message == 'password_reset_success' %}
        <div class="alert alert-info">
          Velkommen tilbake {{ user.get_profile.get_full_name }}, passordet ditt har blitt endret og du er nå innlogget.
        </div>
      {% endif %}
    {% endfor %}
    <p>
      Her kan du finne informasjon om ditt medlemskap, endre dine kontaktopplysninger, samt få tilgang til innhold og tjenester som kun er tilgjengelige for DNTs medlemmer. Se menyen til høyre.
    </p>
  </div>

  <div class="span3">
    {% include 'common/user/navigation.html' with active='home' %}
  </div>
</div>

{% endblock %}
