<div class="well nav-container">
  <ul class="nav nav-list">
    <li class="nav-header">Meny</li>
    <li{% if active == 'home' %} class="active"{% endif %}><a href="{% url user.views.home %}">Min side</a></li>
    <li{% if active == 'account' %} class="active"{% endif %}><a href="{% url user.views.account %}">Dine opplysninger</a></li>
    <li{% if active == 'account_password' %} class="active"{% endif %}><a href="{% url user.views.account_password %}">Endre passord</a></li>
    {% if user.get_profile.is_member %}
      <li{% if active == 'publications' %} class="active"{% endif %}><a href="{% url user.views.publications %}">Publikasjoner</a></li>
      <li{% if active == 'partneroffers' %} class="active"{% endif %}><a href="{% url user.views.partneroffers %}">Motta medlemsfordeler fra DNTs samarbeidspartnere</a></li>
    {% endif %}
    {% if user.get_profile.is_member and user.get_profile.show_norway_bus_tickets_menu_item %}
      <li{% if active == 'norway_bus_tickets' %} class="active"{% endif %}><a href="{% url user.views.norway_bus_tickets %}">Bussbilletter</a></li>
    {% endif %}
    <li{% if active == 'fotobok' %} class="active"{% endif %}><a href="{% url user.views.fotobok %}">Fotobok</a></li>
    {% if not user.get_profile.is_member %}
      <li{% if active == 'register_membership' %} class="active"{% endif %}><a href="{% url user.views.register_membership %}">Registrer medlemskap</a></li>
    {% endif %}
    {% if perms.user.sherpa %}
      <li><a href="{% url 'admin.views.index' %}">Sherpa</a></li>
    {% endif %}
  </ul>
</div>
