<div class="well nav-container">
  <ul class="nav nav-list">
    <li class="nav-header">Min Side</li>
    <li{% if active == 'home' %} class="active"{% endif %}><a href="{% url 'user.views.home_new' %}">Min side</a></li>
    <li><a href="{% url 'user.views.home' %}">Gamle Min side</a></li>
    <li{% if active == 'account' %} class="active"{% endif %}><a href="{% url 'user.views.account' %}">Dine opplysninger</a></li>
    {% if not user.get_profile.get_actor %}
      <li{% if active == 'become_member' %} class="active"{% endif %}><a href="{% url 'user.views.become_member' %}">Registrer medlemskap</a></li>
    {% endif %}
    {% if perms.user.sherpa %}
      <li><a href="{% url 'admin.views.index' %}">Sherpa</a></li>
    {% endif %}
  </ul>
</div>
