{% extends site.template.name|add:"/layout.html" %}
{% block title %}Publikasjoner &mdash; Min side{% endblock %}
{% block breadcrumb %}<a href="{% url user.views.home_new %}">Min side</a> / <em>Publikasjoner</em>{% endblock %}

{% block body %}

<div class="row">
  <div class="span9">

    <h2>Publikasjoner</h2>

    {% if user.get_profile.get_actor.membership_type.code == membership_code_household %}
      <p>Du er husstandsmedlem og kan derfor ikke velge å kun lese Fjell og Vidde og Årboken på nett. Kontakt ditt hovedmedlem. TODO.</p>
    {% elif user.get_profile.get_actor.membership_type.code == membership_code_lifelong %}
      <p>Livsvarig medlem - TODO.</p>
    {% else %}
      <p><a href="{% url user.views.reserve_publications %}">Velg hvordan du vil lese Fjell og Vidde og årboken.</a></p>
    {% endif %}

    {% if publications_user|length == 0 and publications_other|length == 0 %}
      <p>
        Vi har dessverre ikke fått lagt ut noen publikasjoner her på nettsidene ennå. Vær vennlig og kom tilbake senere, så skal vi se om vi kan få lagt ut noe etter hvert!
      </p>
    {% endif %}

    <div class="publications">
      <div class="row-fluid">
        {% for publication in publications_user %}
          <div class="span4">
            <div class="publication">
              <h3 class="title">
                <a href="{% url user.views.publication publication.id %}">
                  {{ publication.title }}
                </a>
              </h3>
              <p class="meta">
                {% if publication.releases.all|length > 0 %}
                  {{ publication.releases.all|length }} utgivelser<br>
                  Siste: {{ publication.get_latest_release.pub_date|date:"j. F Y" }}
                {% else %}
                  Ingen utgivelser ennå.<br>&nbsp;
                {% endif %}
              </p>
              <p>
                <a href="{% url user.views.publication publication.id %}">
                  <img src="{% firstof publication.get_latest_cover_photo '/static/img/turbo-placeholder.png' %}" alt="{{ publication.title }}">
                </a>
              </p>
            </div>
          </div>

          {% if not forloop.last and forloop.counter|divisibleby:"3" %}
            </div><div class="row-fluid">
          {% endif %}
        {% endfor %}
      </div>
    </div>

    {% if publications_other|length > 0 %}
      {# This phrasing might seem weird if someone has "other" publications but no "user" publications. However that's probably not the case for anyone. #}

      <table class="table other-publications">
        <tr>
          <th>Andre publikasjoner</th>
          <th>Utgis av</th>
        </tr>
        {% for publication in publications_other %}
          <tr>
            <td><a href="{% url user.views.publication publication.id %}">{{ publication.title }}</a></td>
            <td>{{ publication.association.name }}</td>
          </tr>
        {% endfor %}
      </table>
    {% endif %}

  </div>

  <div class="span3">
    {% include 'common/user/navigation.html' with active='publications' %}
  </div>
</div>

{% endblock %}
