{% extends site.template.name|add:"/layout.html" %}
{% block title %}Logg inn{% endblock %}
{% block breadcrumb_title %}Registrering{% endblock %}

{% block body %}

<div class="row">
  <div class="span12">
    <h2>Registrering for Min side (TBD)</h2>
    <form action="" method="post">
      {% csrf_token %}
      <table class="table">
        <tr>
          <td>
            Medlemsnummer:
          </td>
          <td><input type="text" name="memberid" class="input-large"></td>
        </tr>
        <tr>
          <td>
            Postnummer:
          </td>
          <td><input type="text" name="zipcode" class="input-large"></td>
        </tr>
        <tr>
          <td>
            E-postadresse:
          </td>
          <td><input type="text" name="email" class="input-large"></td>
        </tr>
        <tr>
          <td>Passord:</td>
          <td><input type="password" name="password" class="input-large"></td>
        </tr>
        <tr>
          <td></td>
          <td><button type="submit" class="btn btn-danger btn-large">Registrer deg</button></td>
        </tr>
      </table>
    </form>
  </div>
</div>

{% endblock %}
