{% extends site.template.name|add:"/layout.html" %}
{% block title %}Logg inn{% endblock %}
{% block breadcrumb_title %}Registrering{% endblock %}

{% block js_globals %}
  <script>
    window.user_password_length = {{ user_password_length }};
  </script>
{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/user/registration.js"></script>
{% endblock %}

{% block body %}

<div class="row">
  <div class="span12">
    <h2>Registrer deg</h2>

    <form action="{% url user.login.views.register %}" method="post" class="form-default form-border form-horizontal">
      {% csrf_token %}

      <div class="row-fluid">
        <div class="span7">

          <div class="form-elements">

            <div class="step1">
              <div class="control-group memberid">
                <label class="control-label" for="memberid">Medlemsnummer:</label>
                <div class="controls">
                  <input type="text" class="input-xlarge" name="memberid">
                </div>
              </div>
              <div class="control-group zipcode">
                <label class="control-label" for="zipcode">Postnummer:</label>
                <div class="controls">
                  <input type="text" class="input-small" name="zipcode" maxlength="4">
                  <input type="text" class="input-medium" name="area" disabled>
                  <img src="{{ STATIC_URL }}img/ajax-loader-small.gif" class="ajaxloader zipcode hide" alt="Laster poststed..." title="Laster poststed...">
                </div>
              </div>
            </div>

            <div class="step2 hide">
              <div class="control-group email">
                <label class="control-label" for="email">E-postadresse:</label>
                <div class="controls">
                  <input type="text" class="input-xlarge" name="email">
                </div>
              </div>
              <div class="control-group password">
                <label class="control-label" for="password">Passord:</label>
                <div class="controls">
                  <input type="password" class="input-xlarge" name="password">
                </div>
              </div>
              <div class="control-group password-repeat">
                <label class="control-label" for="password-repeat">Gjenta passord:</label>
                <div class="controls">
                  <input type="password" class="input-xlarge" name="password-repeat">
                </div>
              </div>
            </div>

            <div class="control-group">
              <div class="controls">
                <button type="submit" class="btn btn-large btn-danger step1"><i class="icon-search icon-white"></i> Hent medlemsinfo</button>
                <button type="submit" class="btn btn-large btn-danger step2 hide"><i class="icon-ok icon-white"></i> Registrer deg</button>
                <img src="{{ STATIC_URL }}img/ajax-loader-small.gif" class="ajaxloader submit hide" alt="Sjekker medlemsnummer, vennligst vent...">
              </div>
            </div>

            <div class="hide profile-exists">
              <strong>Du har allerede en Min side-bruker!</strong>
              Hvis du har glemt passordet ditt, kan du opprette nytt passord på <a href="{% url user.login.views.login %}">login-siden</a>.
            </div>

          </div>

        </div>
        <div class="span5">

          <div class="form-hints">
            <div class="step1">For å opprette din bruker må vi først vite hvem du er. Hva er medlemsnummeret ditt, og postnummeret du er registrert med?</div>

            <div class="hide step2">
              <p>Velkommen, <span class="name"></span>!</p>
              <p class="hide email-found">
                Er din e-postadresse <a class="email" href=""></a>? Hvis ikke kan du endre den her.<br><br>
                Så må du opprette et passord, som du kan bruke til å logge inn sammen med e-postadressen din senere.
              </p>
              <p class="hide email-not-found">
                Vi trenger e-postadressen din, og et passord du velger selv, som du kan bruke til å logge inn med senere.
              </p>
              <p></p>
            </div>

            <div class="hide no-memberid-match error">
              <strong>Feil medlemsnummer eller postnummer</strong><br>
              Beklager, det finnes ingen som har medlemsnummer <span class="memberid"></span> og postnummer <span class="zipcode"></span>! Vennligst prøv igjen, eller kontakt <a href="{% url membership.views.service %}">medlemsservice</a> hvis du mener at dette skal være rett.
            </div>

            <div class="hide password-hint short error">Passordet er for kort, det må være minst {{ user_password_length }} tegn.</div>
            <div class="hide password-hint unequal error">Passordene er ikke like, har du skrevet feil?</div>

            {% for message in messages %}
              {% if message.message == 'invalid_memberid' %}
                {# This is *kind of* duplicated below, but not really since this is after a submit, but the message below is only shown with AJAX. #}
                <div class="error">
                  <strong>Feil medlemsnummer eller postnummer</strong><br>
                  Beklager, det finnes ingen som har det medlemsnummeret og postnummeret. Vennligst prøv igjen, eller kontakt <a href="{% url membership.views.service %}">medlemsservice</a> hvis du mener at dette skal være rett.
                </div>
              {% elif message.message == 'too_short_password' %}
                <div class="error">
                  <strong>For kort passord</strong><br>
                  Du må ha minst {{ user_password_length }} tegn i passordet ditt. Vennligst velg et lengre passord.
                </div>
              {% elif message.message == 'profile_exists' %}
                <div class="error">
                  <strong>Du har allerede en Min Side-bruker!</strong><br>
                  Hvis du har glemt passordet ditt, kan du opprette nytt passord på <a href="{% url user.login.views.login %}">login-siden</a>.
                </div>
              {% elif message.message == 'email_exists' %}
                <div class="error">
                  <strong>E-postadressen din er allerede i bruk!</strong><br>
                  Hvis du allerede har en bruker, men har glemt passordet ditt, kan du opprette nytt passord på <a href="{% url user.login.views.login %}">login-siden</a>.
                </div>
              {% elif message.message == 'invalid_email' %}
                <div class="error">
                  <strong>E-postadressen din er ikke gyldig!</strong><br>
                  Vennligst oppgi en gyldig e-postadresse.
                </div>
              {% endif %}
            {% endfor %}
          </div>

        </div>
      </div>

    </form>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h3>Ikke medlem?</h3>
    <p>
      Du må være medlem for å registrere deg på Min side. Hvis du ikke er medlem kan du <a href="{% url membership.views.benefits %}">melde deg inn her</a>. Hvis du har engasjement i DNT men ikke er medlem, kan du registrere deg <a href="{% url user.login.views.register_memberless %}">her</a>.
    </p>
  </div>
</div>

{% endblock %}
