{% extends site.template.name|add:"/layout.html" %}
{% block title %}Logg inn{% endblock %}
{% block breadcrumb_title %}Registrering{% endblock %}

{% block js_globals %}
  <script>
    window.user_password_length = {{ user_password_length }};
  </script>
{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/user/registration.js"></script>
{% endblock %}

{% block body %}

<div class="row">
  <div class="span12">
    <h2>Registrer deg</h2>

    {% for message in messages %}
      {% if message.message == 'invalid_memberid' %}
        {# This is *kind of* duplicated below, but not really since this is after a submit, but the message below is only shown with AJAX. #}
        <div class="alert alert-error">
          <a class="close">x</a>
          <strong>Feil medlemsnummer eller postnummer</strong><br>
          Beklager, det finnes ingen som har det medlemsnummeret og postnummeret. Vennligst prøv igjen, eller kontakt <a href="{% url membership.views.service %}">medlemsservice</a> hvis du mener at dette skal være rett.
        </div>
      {% endif %}
    {% endfor %}

    <form action="{# url user.views.register #}" method="post" class="form-default form-border form-horizontal">
      {% csrf_token %}
      <div class="control-group email">
        <label class="control-label" for="email">E-postadresse:</label>
        <div class="controls">
          <input type="text" class="input-xlarge" name="email">
        </div>
      </div>
      <div class="control-group password">
        <label class="control-label" for="password">Passord:</label>
        <div class="controls">
          <input type="password" class="input-xlarge" name="password">
          <span class="hint short hide">Passordet er for kort, det må være minst {{ user_password_length }} tegn.</span>
          <span class="hint unequal hide">Passordene er ikke like, har du skrevet feil?</span>
        </div>
      </div>
      <div class="control-group password-repeat">
        <label class="control-label" for="password-repeat">Gjenta passord:</label>
        <div class="controls">
          <input type="password" class="input-xlarge" name="password-repeat">
        </div>
      </div>
      <div class="control-group memberid">
        <label class="control-label" for="memberid">Medlemsnummer:</label>
        <div class="controls">
          <input type="text" class="input-xlarge" name="memberid">
        </div>
      </div>
      <div class="control-group zipcode">
        <label class="control-label" for="zipcode">Postnummer:</label>
        <div class="controls">
          <input type="text" class="input-small" name="zipcode" maxlength="4">
          <input type="text" class="input-medium" name="area" disabled>
          <img src="{{ STATIC_URL }}img/ajax-loader-small.gif" class="ajaxloader zipcode hide" alt="Laster poststed..." title="Laster poststed...">
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-large btn-danger"><i class="icon-ok icon-white"></i> Registrer deg</button>
          <img src="{{ STATIC_URL }}img/ajax-loader-small.gif" class="ajaxloader submit hide" alt="Sjekker medlemsnummer, vennligst vent...">
        </div>
      </div>
    </form>

    <div class="no-memberid-match hide alert alert-error">
      <a class="close">x</a>
      <strong>Feil medlemsnummer eller postnummer</strong><br>
      Beklager, det finnes ingen som har medlemsnummer <span class="memberid"></span> og postnummer <span class="zipcode"></span>! Vennligst prøv igjen, eller kontakt <a href="{% url membership.views.service %}">medlemsservice</a> hvis du mener at dette skal være rett.
    </div>
  </div>
</div>

{% endblock %}
