Hei {{ found_user.get_full_name }}!

Du (eller noen andre) har sendt en forespørsel om å få gjenopprette passordet for brukerkontoen din på turistforeningen.no.

For å generere et nytt passord, besøk denne lenken innen {{ validity_period }} timer: https://www.turistforeningen.no{% url user.login.views.restore_password found_user.get_profile.password_restore_key %}

Hvis det ikke var deg som sendte denne forespørselen, kan du trygt ignorere denne e-posten.

Med vennlig hilsen
Den Norske Turistforening
