form.edit-aktivitet {
  div.aktivitet-date {
    div.summary {
      font-family: "DTL Nobel" !important;
      margin-bottom: 20px;

      table {
        th,td {
          padding: 0 2px;
        }

        th {
          font-weight: normal;
          text-align: right;
        }

        td.date {
          font-weight: bold;
        }
      }
    }

    div.editing {
      border-top: 1px solid rgb(216, 216, 216);
      border-bottom: 1px solid rgb(216, 216, 216);
      margin-bottom: 20px;
      padding: 15px 0 0 0;
    }
  }

  div.control-group.submit {
    border-top: 1px solid rgb(216, 216, 216);
    padding-top: 20px;
  }

  div.tab-content {
    // Bootstrap sets overflow: auto; by default. This yields scrollbars when used with
    // a chosen select box, so reset it to visible in this case.
    overflow: visible;
  }

  a.add-aktivitet-date {
    font-weight: normal;
  }
}
