// Utlisting av aktiviteter
div.aktivitet-listing {
  table.table {
    ul.list-inline {
      opacity: 0;
    }

    ul.list-inline:hover {
      opacity: 1;
    }

    tr:hover ul.list-inline {
      opacity: 1;
    }
  }

  span.highlight {
    background-color: #FFFF00;
  }

  ul.pagination {
    margin-top: 0;
    margin-bottom: 0;
  }
}

// Opprette / endre aktivitet
div.admin-aktivitet-edit {
  .import-sherpa2-aktivitet {
    .loading {
      text-align: center;
    }
  }

  .btn-block {
    margin-bottom: 5px;
  }

  div.section {
    border-bottom: 1px solid rgb(200, 200, 200);
    padding-bottom: 20px;

    h2 { margin-top: 30px; }
    span.required { color: red }
  }

  div.section.skip-border {
    border-bottom: none !important;
  }

  div.section.description {
    div.form-group.subcategory {
      label.control-label {
        div.selected > span { display: none; } /* hide all */
        div.selected.organizedhike > span.organizedhike { display: block; }
        div.selected.course > span.course { display: block; }
        div.selected.event > span.event { display: block; }
        div.selected.volunteerwork > span.volunteerwork { display: block; }
      }
    }

    div.form-group.difficulty {
      div.btn-group {
        .easy {
          color: #00984a;
          &.active {
            color: #fff;
            background-color: #00984a;
          }
        }
        .medium {
          color: #0067af;
          &.active {
            color: #fff;
            background-color: #0067af;
          }
        }
        .hard {
          color: #ed1c2e;
          &.active {
            color: #fff;
            background-color: #ed1c2e;
          }
        }
        .expert {
          color: #000;
          &.active {
            color: #fff;
            background-color: #000;
          }
        }
      }
    }
  }

  div.section.position {
    margin-bottom: 30px;
    @import "admin/apps/aktiviteter/position.less";
  }

  div.section.images {
    @import "admin/apps/aktiviteter/edit/images.less";
  }

  div.section.dates {
    margin-bottom: 30px;
    @import "admin/apps/aktiviteter/edit/dates.less";
  }

  div.section.publish {
    div.form-group.publish {
      label.radio {
        padding-left: 0;
      }
    }
  }

  div.form-group.submit-footer {
    // Since there's currently no footer, let the user "scroll past" the button.
    // Should probably be removed when we get some sort of footer for the Sherpa UI.
    margin-bottom: 120px;
  }
}

// Since the modal is moved to the body element on instantiation, it needs its
// own top-level selector
div.modal.admin-aktiviteter-turleder-search {

  table.search-results {
    margin-top: 15px;

    th, td {
      font-family: "DTL Nobel" !important;
      vertical-align: middle;
    }

    tr.intro, tr.loader, tr.short_query, tr.max-hits-exceeded {
      td {
        text-align: center;
      }
    }
  }
}

div.modal.admin-aktiviteter-delete-date {

  div.loading {
    text-align: center;
    font-family: "DTL Nobel" !important;
    font-size: 18px;
  }

  div.choose {
    text-align: center;
  }

}


// NOTE: Ad hoc styles for demo purposes, should be moved to the right place

.form-horizontal .form-label-left {
  label.control-label {
    text-align: left;
  }
}

.form-group.alert {
  padding: 15px 0;
}

@font-face {
  font-family: "fontastic-turistforeningen";
  src:url("../fonts/fontastic-turistforeningen.eot");
  src:url("../fonts/fontastic-turistforeningen.eot?#iefix") format("embedded-opentype"),
    url("../fonts/fontastic-turistforeningen.woff") format("woff"),
    url("../fonts/fontastic-turistforeningen.ttf") format("truetype"),
    url("../fonts/fontastic-turistforeningen.svg#turistforeningen") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "turistforeningen" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="fontastic-dnt-"]:before,
[class*=" fontastic-dnt-"]:before {
  font-family: "turistforeningen" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fontastic-dnt-havpadling:before {
  content: "\e000";
}
.fontastic-dnt-klatring:before {
  content: "\e001";
}
.fontastic-dnt-skigaing:before {
  content: "\e002";
}
.fontastic-dnt-tursykling:before {
  content: "\e003";
}
.fontastic-dnt-vandring:before {
  content: "\e004";
}

.select-organizedhikesubcategory {
  label.btn {
    position: relative;
    padding-top: 48px;
    width: 86px;
    &:before {
      position: absolute;
      top: 5px;
      left: 0;
      right: 0;
      height: 40px;
      font-family: 'fontastic-turistforeningen';
      font-size: 32px;
      text-align: center;
    }
  }
  .fottur {
    &:before {
      content: "\e004";
    }
  }
  .skitur {
    &:before {
      content: "\e002";
    }
  }
  .sykkeltur {
    &:before {
      content: "\e003";
    }
  }
  .padletur {
    &:before {
      content: "\e000";
    }
  }
  .klatretur, .bretur {
    &:before {
      content: "\e001";
    }
  }
}
