div.aktivitet-listing {
  div.new-categories {
    button.category {
      width: 100%;
      margin-bottom: 15px;
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 20px !important;
    }

    div.pick-subcategories {
      div.subcategories {
        margin-bottom: 20px;

        button {
          margin-top: 5px;
          margin-bottom: 5px;
        }
      }
    }
  }
}

div.edit-aktivitet-position {
  div.leaflet-map {
    height: 600px;
  }
}

div.edit-aktivitet-dates {
  a.add-aktivitet-date {
    font-weight: normal;
  }

  div.aktivitet-date {
    div.summary {
      font-family: "DTL Nobel" !important;
      margin-bottom: 20px;

      table {
        th,td {
          padding: 0 2px;
        }

        th {
          font-weight: normal;
          text-align: right;
        }

        td.date {
          font-weight: bold;
        }
      }
    }

    div.editing {
      border-top: 1px solid rgb(216, 216, 216);
      border-bottom: 1px solid rgb(216, 216, 216);
      margin-bottom: 20px;
      padding: 15px 0 0 0;
    }
  }
}

div.edit-aktivitet-leaders {

  div.leader-management {
    margin-top: 40px;

    table.leaders {
      width: 100%;
      margin-bottom: 30px;

      th, td {
        font-family: "DTL Nobel" !important;
      }

      td {
        form {
          margin-bottom: 0;
        }
      }
    }

    div.leader-search {
      table.search-results {
        margin-top: 15px;

        th, td, td label {
          font-family: "DTL Nobel" !important;
          vertical-align: middle;
        }

        td {
          label {
            margin-top: 5px;
            margin-bottom: 5px;
          }

          form {
            margin-bottom: 0;
          }
        }

        tr.loader, tr.short_query {
          td {
            text-align: center;
          }
        }

        tr.max-hits-exceeded {
          td {
            text-align: center;
            font-size: 18px;
            padding-top: 20px;
            padding-bottom: 20px;
          }
        }
      }
    }
  }
}
