/* Article listing */

table.article-listing {
  td {
    padding: 10px 20px;
  }

  td.article-preview {
    width: 60%;
  }

  td.published-future {
    color: rgb(235, 145, 0);
  }

  td.published-past {
    color: green;
  }

  td.unpublished {
    color: red;
  }

  div.media {
    img.media-object {
      max-width: 150px;
      max-height: 300px;
    }

    h2.media-heading {
      font-size: 20px;
      font-weight: normal;
      margin-bottom: 10px;
    }

    div.media-body p a {
      color: rgb(51, 51, 51);
    }

    div.media-body p a:hover {
      text-decoration: none;
      color: rgb(110, 110, 110);
    }
  }
}

table.article-metadata {

  // We'll have to negate some bootstrap table styles here, because this is a table in a table with bootstrap-classes

  font-size: 14px;

  th, td {
    background-color: transparent !important;
    border-top: none;
    padding: 4px 10px;
  }

  th {
    font-weight: normal;
    font-style: italic;
  }
}

