.list-campaigns {
  .campaign-preview {
    img {
      width: 235px;
      height: 120px;
    }
  }
}

.new-campaign {
  ol.section-progress {
    margin-bottom: 0;
    padding-left: 0;

    li {
      display: inline;
      font-size: 18px;

      &.active {
        font-weight: bold;
      }

      span.divider {
        margin-left: 20px;
        margin-right: 20px;
      }

      form.save {
        display: inline;
      }
    }
  }

  img.chosen-image {
    max-width: 100%;
  }

  .cropped-image-container {
    position: relative;
    overflow: hidden;
    width: 940px;
    height: 480px;
    margin-bottom: 20px;

    img {
      max-width: none !important;
    }

    .text, .button {
      position: absolute;

      &:hover {
        cursor: move;
      }
    }

    .text {
      // Top, left is just the initial value which will be overriden when the user moves the element
      top: 0;
      left: 0;

      // Short line-height makes it easier to place the text when dragging
      line-height: 0.9em;
    }

    .button {
      // Top, left is just the initial value which will be overriden when the user moves the element
      top: 100px;
      left: 20px;
    }
  }

  .campaign-title {
    margin-bottom: 12px;

    input[name='campaign-title'] {
      width: 250px;
    }
  }

  .edit-button {
    .checkbox-inline {
      margin-right: 12px;
    }

    input[name='button-anchor'] {
      width: 400px;
    }
  }

  .text-areas {
    margin-bottom: 20px;

    input[name='content'], button.remove {
      display: inline;
    }

    input[type='text'] {
      width: 300px;
    }

    label:hover {
      cursor: pointer;
    }

    select {
      width: 80px;
    }
  }
}
