.new-campaign {
  ol.section-progress {
    margin-bottom: 0;
    padding-left: 0;

    li {
      display: inline;
      font-size: 18px;

      &.active {
        font-weight: bold;
      }

      span.divider {
        margin-left: 20px;
        margin-right: 20px;
      }
    }
  }

  img.chosen-image {
    max-width: 100%;
  }
}
