div.sherpa-dashboard {

  p.intro {
    font-family: "DTL Nobel" !important;
    font-size: 18px;
    .form-border;
  }

  nav.dashboard {
    margin-bottom: 80px;

    ul {
      margin-left: 0;
      margin-bottom: 40px;
    }
  }
}
