// This sheet needs a good refactoring

/* Page header editing */

div.editor-header {
  background-color: rgb(240, 240, 240) !important;
  color: rgb(65, 65, 65) !important;

  h1 {
    font-size: 160%;
    font-weight: normal;
  }

  div.publish {
    input[name='date'] {
      width: 110px;
    }

    input[name='time'] {
      width: 70px;
    }
  }
}

/* Article header editing */

div.editor-header.article {
  img.article-thumbnail {
    background-color: rgb(0, 0, 0);
    min-width: 20px;
    min-height: 20px;
  }

  img.article-thumbnail:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
    cursor: alias;
  }

  div.preview-image {
    float: right;
  }

  div.publish, div.editor-header.article div.status {
    margin-bottom: 10px;
  }

  select[name='authors'] {
    width: 400px;
  }
}

/* CMS editor */

div.cms-editor {
  article {
    div.image > img {
      display: block;
      background-color: rgb(0, 0, 0);
      min-width: 20px;
      min-height: 20px;
    }

    div.image:hover > img, div.widget:not(.static):hover {
      opacity: 0.5;
      filter: alpha(opacity=50);
      cursor: alias;
    }

    div[data-placeholder] {
      font-style: italic;
    }

    div[data-placeholder]:hover {
      cursor: text;
    }

    div[contenteditable='true'].selected {
      background-color: rgb(215, 215, 215);
    }

    div[contenteditable='true']:hover:not(.selected) {
      background-color: rgb(235, 235, 235);
    }

    div[contenteditable='true']:hover, div[contenteditable='true'].selected {
      span.h1 {
        // This quickfix avoids the bottom-margin of the content growing because the
        // border added on hover makes the margins NOT collapse (both content and h1 has
        // large bottom-margins).
        // This might look weird if a h1 title is used in a content element together
        // with normal paragraphs, but that almost never happens, besides this is JUST
        // when hovering in the editor.
        margin-bottom: 0;
      }
    }

    div.html.empty, div.lede.empty {
      margin: -1px -1px 19px -1px; /* Subtract the border from the default margins */
      border: 1px solid rgb(255, 95, 95);
      background-color: rgb(255, 220, 220);
    }

    div.widget p.widget-rendering-failed {
      color: @profile-red;
      font-style: italic;
      font-size: 14px;
    }

    div.edit-structure-inner {
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
      border-top: 1px solid rgb(200, 200, 200);
      border-left: 1px solid rgb(200, 200, 200);
      border-right: 1px solid rgb(200, 200, 200);

      button {
        width: 30px;
        height: 30px;
        background-position: center center;
        background-repeat: no-repeat;
      }

      button[data-type='single'] {
        background-image: url("/static/img/editorbuttons/structure/single.png");
      }

      button[data-type='double'] {
        background-image: url("/static/img/editorbuttons/structure/double.png");
      }

      button[data-type='sidebar-left'] {
        background-image: url("/static/img/editorbuttons/structure/sidebar-left.png");
      }

      button[data-type='sidebar-right'] {
        background-image: url("/static/img/editorbuttons/structure/sidebar-right.png");
      }

      button[data-type='triple'] {
        background-image: url("/static/img/editorbuttons/structure/triple.png");
      }

      button[data-type='quadruple'] {
        background-image: url("/static/img/editorbuttons/structure/quadruple.png");
      }

    }

    div.add-content, div.add-content-row {
      text-align: center;
      margin: 0;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    div.add-content.active, div.add-content-row.active {
      background-color: rgb(240, 240, 240);

      img.plus {
        display: none;
      }
    }

    div.add-content:not(.active), div.add-content-row:not(.active) {
      div.content-choices {
        display: none;
      }
    }

    div.add-content:hover, div.add-content-row:hover {
      cursor: pointer;
      background-color: rgb(240, 240, 240);
    }

    div.content {
      position: relative;
      min-height: 70px;

      div.remove-content {
        position: absolute;
        top: 0;
        right: 0;
        width: 23px;
        height: 23px;
        padding: 12px 25px;
        border: 1px solid rgb(52, 224, 194);
        background-color: rgb(255, 255, 255);

        img.active {
          display: none;
        }
      }

      div.remove-content:hover {
        cursor: pointer;
        background-color: rgb(52, 224, 194);

        img.active {
          display: block;
        }

        img.inactive {
          display: none;
        }
      }
    }
  }

  div.cms-editor-toolbar {
    position: fixed;
    top: 50px;
    right: 50px;
    width: 500px;
    z-index: 1000;
    padding: 9px;
    border: 1px solid rgb(221, 221, 221);
    background-color: rgb(245, 245, 245) !important;
    border: 1px solid rgb(221, 221, 221);

    a.button {
      display: block;
      float: left;
      cursor: pointer;
      width: 27px;
      height: 27px;
    }

    a.button:hover {
      text-decoration: none;
    }

    input[name='url'] {
      width: 350px;
    }
  }
}

/* Change image-dialog */

div.change-image {
  h2 {
    font-size: 20px;
  }

  div.preview-container {
    max-width: 100%;

    img {
      border: 1px solid rgb(0, 0, 0);
    }
  }
}
