/* Changing enrollment status in admin-UI */

div.change-enrollment-status {
  .status {
    font-weight: normal;
  }

  .status.active {
    color: rgb(0, 180, 0);
  }

  .status.inactive {
    color: @profile-red;
  }

  div.cont {
    text-align: center;
  }

  button {
    font-size: 20px !important;
  }
}
