div.foreningsadmin {
  form.edit-forening {
    input[name='zipcode'] {
      display: inline;
      width: 80px;
    }

    input[name='area'] {
      display: inline;
      width: 200px;
    }
  }
}
