div.image-archive-picker {

  div.albumpath {
    border-color: rgb(220, 220, 220) !important;
  }

  div.modal-header h2 {
    margin-bottom: 0;
  }

  div.content {
    div.albums {
      div.album {
        margin-top: 5px;
        margin-bottom: 5px;

        font-family: "DTL Nobel" !important;

        img {
          margin-right: 4px;
        }
      }

      img.album {
        float: left;
        width: 25px;
      }
    }

    ul.images li {
      display: block;
      width: 200px;
      border: 1px solid #888;
      margin: 1%;
      padding-top: 15px;
      padding-bottom: 15px;
      float: left;
      text-align: center;
      cursor: pointer;
    }
  }
}
