/* Image gallery */

div.image-archive-navigation {
  div.item {
    text-align: center;
    border: 1px solid rgb(190, 190, 190);
    padding: 10px 20px;
    margin-bottom: 20px;

    p {
      margin-bottom: 0;
    }

    p a, p span.disabled-link {
      font-size: 20px;
      font-weight: bold;
    }
  }

  div.item.current {
    background-color: rgb(238, 238, 238);
  }
}

div.image-archive-quicksearch {
  input[name='search'] {
    font-size: 18px !important;
  }
}

div.imagearchive-action-buttons {
  margin-bottom: 20px;

  button {
    text-align: center;
    width: 100%;
  }
}

div#archive-gallery {
  ul li {
    display: block;
    width: 200px;
    height: 224px;
    border: 1px solid #888;
    margin: 1%;
    padding-bottom: 15px;
    float: left;
    text-align: center;

    img {
      margin-bottom: 5px;
      max-width: 160px;
      height: 120px;
    }

    button.mark {
      margin-bottom: 10px;
      width: 100%;
    }

    a.image {
      display: block;
    }
  }

  ul li.selected {
    background-color: rgb(215, 215, 215);
  }
}


div#image-display {

  p.image-description {
    font-family: "DTL Nobel" !important;
    background-color: rgb(250, 250, 250);
  }

  p.edit-button {
    text-align: center;
  }

  table.metadata {
    float: right;
    width: auto;

    th {
      text-align: right;
      vertical-align: top;
    }

    td {
      text-align: left;
    }
  }
}

form.image-uploader input[type='file'] {
  width: 100%;
}

table.multiple-metadata td.field-name {
  font-family: "DTL Nobel" !important;
  font-size: 20px !important;
}

form.upload-image-details {
  p.chosen-album {
    font-family: "DTL Nobel" !important;
    padding-top: 5px;
    margin-bottom: 0;
  }
}

form.upload-image-details, form.update-image {
  label.image-description {
    font-family: "DTL Nobel" !important;
  }

  textarea[name='description'] {
    width: 95% !important;
    margin-bottom: 20px;
  }
}

div.dialog.album-picker {
  button.pick {
    margin-left: 10px;
  }

  div.children div.child {
    margin: 4px 2px;

    img {
      width: 25px;
      height: 25px;
    }
  }
}
