/* Image gallery */

div.image-search {
  text-align: center;

  input[name='search'] {
    font-size: 18px !important;
  }
}

div.imagearchive-action-buttons {
  margin-bottom: 20px;

  button {
    text-align: center;
    width: 100%;
  }
}

div#archive-gallery {
  ul li {
    display: block;
    width: 200px;
    height: 224px;
    border: 1px solid #888;
    margin: 1%;
    padding-bottom: 15px;
    float: left;
    text-align: center;

    img {
      margin-bottom: 5px;
      max-width: 160px;
      height: 120px;
    }

    button.mark {
      margin-bottom: 10px;
      width: 100%;
    }

    a.image {
      display: block;
    }
  }

  ul li.selected {
    background-color: rgb(215, 215, 215);
  }
}


div#image-display {

  p.edit-link {
    text-align: center;
  }

  table.metadata {
    float: right;
    width: auto;

    th {
      text-align: right;
      vertical-align: top;
    }

    td {
      text-align: left;
    }
  }
}

div#image-uploader form.image-uploader {
  text-align: center;
}

form.image-uploader input[type='file'] {
  width: 100%;
}

div.licencing p {
  font-size: 130%;
}

div#image-uploader label {
  font-weight: bold;
}

table.multiple-metadata td.field-name {
  font-family: "DTL Nobel" !important;
  font-size: 20px !important;
}
