div.image-archive-picker {

  div.albumpath {
    border-color: rgb(220, 220, 220) !important;
  }

  div.modal-header h2 {
    margin-bottom: 0;
  }

  div.content {
    div.albums {
      div.album {
        margin-top: 5px;
        margin-bottom: 5px;

        font-family: "DTL Nobel" !important;

        img {
          margin-right: 4px;
        }
      }

      img.album {
        float: left;
        width: 25px;
      }
    }

    ul.images {
      li {
        @image-height: 120px;
        @image-width: 150px;
        @height: @image-height + 50px;

        display: block;
        float: left;
        font-family: "DTL Nobel" !important;
        width: @image-width + 30px;
        height: @height;
        border: 1px solid rgb(210, 210, 210);
        margin: 10px;
        padding: 15px 5px;
        text-align: center;
        cursor: pointer;

        img {
          margin-bottom: 5px;
          max-height: @image-height;
        }
      }

      li.clickable-album {
        color: @profile-red;
      }
    }
  }
}
