/**
 * General stylesheet for the admin ui
 */

/* Negate some of the main site layouts */

h1.sherpa {
  text-transform: none;
  border-bottom: none;
}

/* Other stuff */

header {
  margin-top: 25px;

  .logo {
    text-align: center;
  }

  .line {
    /* Based on the logo image height */
    height: 115px;
  }

  div.right {
    text-align: right;
    padding-top: 20px;
    height: 95px; /* Logo image height (115) - padding-top */
  }

  h1 {
    /* Based on the logo image height */
    margin-top: 25px;
    font-size: 280%;
  }
}

.dashboard-padding {
  border: 1px solid rgb(170, 170, 170);
  padding: 20px;
}

nav.dashboard {
  ul {
    list-style-type: none;
  }

  ul > li {
    display: block;
    margin-top: 20px;
    .dashboard-padding
  }

  img.icon {
    float: left;
    margin-right: 20px;
  }

  h2 {
    font-weight: normal;
  }
}

div.sherpa-news {
  .dashboard-padding;
  margin-top: 20px;

  h1 {
    margin-top: 0;
  }

  h2 {
    margin-bottom: 5px;
  }

  p.byline {
    font-family: "DTL Nobel" !important;
    font-size: 14px;
    color: rgb(90, 90, 90);
  }
}

h2.skinny {
  font-weight: normal;
}

/* CMS - Large add item-button */

.large-button {
  width: 100%;
}

div.edit-page-details h2 span.title {
  font-weight: bold;
}

/* New page */

div.page-dialog {
  i.edit-slug, i.save-slug {
    cursor: pointer;
  }

  td.big {
    vertical-align: middle;
    font-size: 160%;
  }
}

/* New page/article */

div.page-dialog div.template p, div.article-dialog div.template p {
  font-variant: small-caps;
}

div.page-dialog div.template img, div.article-dialog div.template img {
  width: 160px;
  height: 200px;
  margin-bottom: 10px;
}

div.page-dialog div.template, div.article-dialog div.template {
  float: left;
  border: 1px solid rgb(0, 0, 0);
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

div.page-dialog div.template:hover, div.article-dialog div.template:hover {
  color: rgb(225, 225, 225);
  background-color: rgb(70, 70, 70);
}

/* Article preview in listing */

td.article-preview {
  width: 60%;
}

/* Make jquery-ui autocomplete dropdown a little more clear */

.ui-menu {
  border: 1px solid rgb(95, 95, 95);
}

td.published-future {
  color: rgb(235, 145, 0);
}

td.published-past {
  color: green;
}

td.unpublished {
  color: red;
}

/* Ensure typeahead stays on top */

ul.typeahead {
  z-index: 20000;
}
