/**
 * General stylesheet for the admin ui
 */

/* Negate some of the main site layouts */

h1.sherpa {
  text-transform: none;
  border-bottom: none;
}

/* Other stuff */

header {
  margin-top: 25px;

  .logo {
    text-align: center;
  }

  div.right {
    text-align: right;
    padding-top: 20px;

    select[name='user_association'] {
      width: 100%;
    }
  }

  h1 {
    /* Based on the logo image height */
    margin-top: 25px;
    font-size: 45px;
  }

  p.userline {
    font-weight: bold;
    margin-bottom: 0px;

    span.logout {
      font-size: 14px;
      font-weight: normal;
    }
  }
}

.dashboard-padding {
  border: 1px solid rgb(170, 170, 170);
  padding: 20px;
}

nav.dashboard {
  ul {
    list-style-type: none;
  }

  ul > li {
    display: block;
    margin-top: 20px;
    .dashboard-padding
  }

  img.icon {
    float: left;
    margin-right: 20px;
  }

  h2 {
    font-weight: normal;
    margin-top: 10px;
  }
}

h2.skinny {
  font-weight: normal;
}

/* Set active association */

ul.active-association-list {
  list-style-type: none;

  li {
    margin: 10px 0;
  }

  li a {
    font-family: "DTL Nobel" !important;
    font-size: 22px;
    padding: 8px 4px;
    .rounded-corners(6px);
  }

  li a:hover {
    background-color: rgb(235, 235, 235);
  }
}

/* New page */

div.new-page {
  i.edit-slug, i.save-slug {
    cursor: pointer;
  }

  td.big {
    vertical-align: middle;
    font-size: 160%;
  }
}

/* New page/article */

div.new-page div.template p, div.new-article div.template p {
  font-variant: small-caps;
}

div.new-page div.template img, div.new-article div.template img {
  width: 160px;
  height: 200px;
  margin-bottom: 10px;
}

div.new-page div.template, div.new-article div.template {
  float: left;
  border: 1px solid rgb(0, 0, 0);
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

div.new-page div.template:hover, div.new-article div.template:hover {
  color: rgb(225, 225, 225);
  background-color: rgb(70, 70, 70);
}

/* Ensure typeahead stays on top */

ul.typeahead {
  z-index: 20000;
}
