ul.active-forening-list {
  list-style-type: none;

  li {
    margin: 16px 0;
  }

  li a {
    font-size: 22px;
    padding: 8px 4px;
    .rounded-corners(6px);
  }

  li a:hover {
    background-color: rgb(235, 235, 235);
  }
}
