div.site-admin {
  div.navigation-block {
    min-height: 180px;
    border: 1px solid rgb(200, 200, 200);
    margin-bottom: 20px;
    padding: 15px;
    text-align: center;
    font-weight: bold;
  }
}
