div.turlederregister {

  div.count {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
  }

  div.search-area {
    div.span4 {
      text-align: center;
    }
  }

  table.turledere {
    td, th {
      font-family: "DTL Nobel" !important;
    }

    tr.hide-border {
      td {
        border-top: none;
      }

      td.expired {
        color: @profile-red;
      }
    }

    tr.instructions, tr.short-query, tr.loading, tr.technical-error, tr.no-results {
      td {
        padding-top: 10px;
        text-align: center;
      }
    }

    tr.no-results {
      span.query {
        font-weight: bold;
      }
    }
  }

  table.edit {
    th, td {
      font-family: "DTL Nobel" !important;
    }
    td.delete {
      text-align: center;
      vertical-align: middle;
    }

    select[name='role'] {
      width: 200px;
    }

    select[name='association'] {
      width: 300px;
    }
  }

  form.save {
    text-align: center;
  }
}
