div.turlederregister {

  div.count {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
  }

  table.turledere {
    tr.hide-border {
      td {
        border-top: none;
      }

      td.expired {
        color: @profile-red;
      }
    }
  }

  table.edit {
    th, td {
      font-family: "DTL Nobel" !important;
    }
    td.delete {
      text-align: center;
      vertical-align: middle;
    }

    select[name='role'] {
      width: 200px;
    }

    select[name='association'] {
      width: 300px;
    }
  }

  form.save {
    text-align: center;
  }
}
