.tt-hint {
  display: none;
}

.tt-dropdown-menu {
  .tt-suggestions {
    background-color: white;
    border: 1px solid rgb(100, 100, 100);

    .tt-suggestion {
      margin: 3px;
      padding: 3px 15px 3px 15px;

      p {
        margin: 0;
        padding: 0;
      }
    }

    .tt-suggestion.tt-is-under-cursor {
      color: white;
      background-color: #27a9e3;
    }
  }
}
