table.user-permissions {
  td.group {
    padding: 10px 15px;
    font-family: "DTL Nobel" !important;
    font-weight: bold;
  }
}

select[name='association-permission'], select[name='association-permission-revoke'] {
  width: 400px;
}

div.association-role {
  margin-top: 15px;

  p.button {
    margin-left: 10px;
  }

  p.permission-description {
    padding: 10px;
  }
}
