<div class="submodule-navigation">
  <span class="header">Fjelltreffen</span>
  <div class="list-group">
    <a href="{% url 'fjelltreffen.views.index' %}" class="list-group-item{% if active == 'index' %} active{% endif %}">Alle annonser
    </a>
    <a href="{% url 'fjelltreffen.views.new' %}" class="list-group-item{% if active == 'new' %} active{% endif %}">
      Legg ut annonse
    </a>
    <a href="{% url 'fjelltreffen.views.mine' %}" class="list-group-item{% if active == 'mine' %} active{% endif %}">
      Mine annonser
    </a>
    <a href="{% url 'fjelltreffen.views.about' %}" class="list-group-item{% if active == 'about' %} active{% endif %}">
      Om Fjelltreffen
    </a>
  </div>
</div>
