{% extends 'central/layout.html' %}

{% load advertisement %}

{% block title %}Fjelltreffen{% endblock %}
{% block breadcrumb %}
  <a href="{% url 'fjelltreffen.views.index' %}">Fjelltreffen</a> / <em>Ikke Funnet</em>
{% endblock %}

{% block body %}

<h1>Fjelltreffen</h1>

<div class="row">
  <div class="col-md-9">

    <h2>Ikke funnet</h2>
    <p>Annonsen du leter etter ble ikke funnet. Den kan ha gått ut på dato, eller blitt slettet av annonsøren.</p>

  </div>

  <div class="col-md-3">
    {% include 'central/fjelltreffen/navigation.html' with active='None' %}
  </div>

</div>

{% advertisement %}

{% endblock %}
