{% for message in messages %}
  {% if message.message == 'forening_save_success' %}
    <div class="alert alert-success">
      <strong>Endringene har blitt lagret!</strong><br>
    </div>
  {% endif %}
{% endfor %}

<form action="{% url 'admin.forening.views.index' current_forening.id %}#opprett" method="post" class="create-forening form-default form-horizontal">
  {% csrf_token %}
  <input type="hidden" name="form" value="create">

  <div class="section">

    <div class="form-group parents{% if create_form.parents.errors %} has-error{% endif %} jq-hide">
      <label class="col-md-2 control-label" for="id_create_parents">Moderforening</label>
      <div class="col-md-10">

        <select id="id_create-parents" name="create-parents" data-chosen data-placeholder="Velg moderforening..." multiple>
          <option value=""></option>
          {% if parents_choices.forening|length > 0 %}
            <optgroup label="Foreninger">
              {% for forening in parents_choices.forening %}
                {# The following stringformat hack is kind of ugly, why doesn't djangos form value return a list of ID ints? #}
                <option value="{{ forening.id }}"{% if forening.id in create_form.parents.value or forening.id|stringformat:"s" in create_form.parents.value %} selected{% endif %}>{{ forening.name }}</option>
              {% endfor %}
            </optgroup>
          {% endif %}
          {% if parents_choices.turlag|length > 0 %}
            <optgroup label="Turlag">
              {% for forening in parents_choices.turlag %}
                {# The following stringformat hack is kind of ugly, why doesn't djangos form value return a list of ID ints? #}
                <option value="{{ forening.id }}"{% if forening.id in create_form.parents.value or forening.id|stringformat:"s" in create_form.parents.value %} selected{% endif %}>{{ forening.name }}</option>
              {% endfor %}
            </optgroup>
          {% endif %}
        </select>

        {% if create_form.parents.errors %}
          {% for error in create_form.parents.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="form-group{% if create_form.name.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label" for="id_create_name">Navn</label>
      <div class="col-md-10">
        {{ create_form.name }}
        {% if create_form.name.errors %}
          {% for error in create_form.name.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="form-group{% if create_form.type.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label" for="id_create_type">Type</label>
      <div class="col-md-10">
        {{ create_form.type }}
        {% if create_form.type.errors %}
          {% for error in create_form.type.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="form-group group_type{% if create_form.group_type.errors %} has-error{% endif %}{% if current_forening.type != 'turgruppe' %} jq-hide{% endif %}">
      <label class="col-md-2 control-label" for="id_create_group_type">Turgruppe</label>
      <div class="col-md-10">
        {{ create_form.group_type }}
        {% if create_form.group_type.errors %}
          {% for error in create_form.group_type.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

  </div><!-- /.section -->

  <div class="section">

    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <h2>Adresse</h2>
      </div>
    </div>

    <div class="form-group{% if create_form.post_address.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label" for="id_create_post_address">Postadresse</label>
      <div class="col-md-10">
        {{ create_form.post_address }}
        {% if create_form.post_address.errors %}
          {% for error in create_form.post_address.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="form-group{% if create_form.visit_address.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label" for="id_create_visit_address">Besøksadresse</label>
      <div class="col-md-10">
        {{ create_form.visit_address }}
        {% if create_form.visit_address.errors %}
          {% for error in create_form.visit_address.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="form-group{% if create_form.zipcode.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label" for="id_create_zipcode">Postnummer / Poststed</label>
      <div class="col-md-10">
        <input type="text" class="form-control" id="id_create_zipcode" name="create-zipcode" value="{{ create_form.zipcode.value }}" maxlength="10">
        <input type="text" class="form-control" id="id_create_area" name="create-area" disabled>
        <img src="{{ STATIC_URL }}img/common/ajax-loader-small.gif" class="zipcode ajaxloader jq-hide" alt="Laster poststed...">
        {% if create_form.zipcode.errors %}
          {% for error in create_form.zipcode.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="form-group{% if create_form.counties.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label" for="id_create_counties">Fylke(r)</label>
      <div class="col-md-10">
        {{ create_form.counties }}
        {% if create_form.counties.errors %}
          {% for error in create_form.counties.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

  </div><!-- /.section -->

  <div class="section contact skip-border">

    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <h2>Kontaktinformasjon</h2>
      </div>
    </div>

    <div class="form-group choose-contact{% if create_form.choose_contact.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label">Hvem kan kontaktes</label>
      <div class="col-md-10">
        {% for input in create_form.choose_contact %}
          <div class="checkbox">
            {{ input }}
          </div>
        {% endfor %}
        <span class="help-block">
          De fleste foreninger har generell kontaktinformasjon, men for små turgrupper kan det være mer aktuelt å oppgi en kontaktperson.
        </span>
        {% if create_form.choose_contact.errors %}
          {% for error in create_form.choose_contact.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="form-group contact_person_name{% if create_form.contact_person_name.errors %} has-error{% endif %}{% if create_form.choose_contact.value == 'forening' %} jq-hide{% endif %}">
      <label class="col-md-2 control-label" for="id_edit-contact_person_name">Navn</label>
      <div class="col-md-10">
        {{ create_form.contact_person_name }}
        {{ create_form.contact_person }}
        <span class="help-block">
          <a href="javascript:undefined" class="search{% if create_form.contact_person.value != None %} jq-hide{% endif %}">Hent personopplysninger fra medlemsregisteret</a>
          <a href="javascript:undefined" class="manual{% if create_form.contact_person.value == None %} jq-hide{% endif %}">Fyll ut personopplysninger selv</a>
        </span>
        {% if create_form.contact_person_name.errors %}
          {% for error in create_form.contact_person_name.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="form-group{% if create_form.phone.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label" for="id_create_phone">Telefonnummer</label>
      <div class="col-md-10">
        {{ create_form.phone }}
        {% if create_form.phone.errors %}
          {% for error in create_form.phone.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="form-group{% if create_form.email.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label" for="id_create_email">E-postadresse</label>
      <div class="col-md-10">
        {{ create_form.email }}
        {% if create_form.email.errors %}
          {% for error in create_form.email.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="form-group{% if create_form.organization_no.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label" for="id_create_organization_no">Organisasjonsnr.</label>
      <div class="col-md-10">
        {{ create_form.organization_no }}
        {% if create_form.organization_no.errors %}
          {% for error in create_form.organization_no.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    {# Hidden and uneditable for now #}
    {{ edit_form.gmap_url }}

    <div class="form-group{% if create_form.facebook_url.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label" for="id_create_facebook_url">Facebook URL</label>
      <div class="col-md-10">
        {{ create_form.facebook_url }}
        {% if create_form.facebook_url.errors %}
          {% for error in create_form.facebook_url.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

  </div><!-- /.section -->

  <div class="form-group submit">
    <div class="col-md-offset-2 col-md-10">
      <button type="submit" class="btn btn-large">Opprett ny forening/turgruppe</button>
    </div>
  </div>

</form>
