{% for message in messages %}
  {% if message.message == 'forening_save_success' %}
    <div class="alert alert-success">
      <strong>Endringene har blitt lagret!</strong><br>
    </div>
  {% endif %}
{% endfor %}

<div class="alert alert-info">
  <strong>Kun administratorer i Den Norske Turistforening har tilgang til dette.</strong>
</div>

<form action="{% url 'admin.forening.views.index' %}#opprett" method="post" class="create-forening form-default form-horizontal">
  {% csrf_token %}
  <input type="hidden" name="form" value="create">

  <div class="section">

    <div class="form-group parent{% if create_form.parent.errors %} has-error{% endif %} jq-hide">
      <label class="col-md-2 control-label" for="id_create_parent">Moderforening</label>
      <div class="col-md-10">

        {{ create_form.parent }}

        {% if create_form.parent.errors %}
          {% for error in create_form.parent.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="form-group{% if create_form.name.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label" for="id_create_name">Forening</label>
      <div class="col-md-10">
        {{ create_form.name }}
        {% if create_form.name.errors %}
          {% for error in create_form.name.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="form-group{% if create_form.type.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label" for="id_create_type">Type</label>
      <div class="col-md-10">
        {{ create_form.type }}
        {% if create_form.type.errors %}
          {% for error in create_form.type.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="form-group group_type{% if create_form.group_type.errors %} has-error{% endif %}{% if active_forening.type != 'turgruppe' %} jq-hide{% endif %}">
      <label class="col-md-2 control-label" for="id_create_group_type">Turgruppe</label>
      <div class="col-md-10">
        {{ create_form.group_type }}
        {% if create_form.group_type.errors %}
          {% for error in create_form.group_type.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

  </div><!-- /.section -->

  <div class="section">

    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <h2>Adresse</h2>
      </div>
    </div>

    <div class="form-group{% if create_form.post_address.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label" for="id_create_post_address">Postadresse</label>
      <div class="col-md-10">
        {{ create_form.post_address }}
        {% if create_form.post_address.errors %}
          {% for error in create_form.post_address.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="form-group{% if create_form.visit_address.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label" for="id_create_visit_address">Besøksadresse</label>
      <div class="col-md-10">
        {{ create_form.visit_address }}
        {% if create_form.visit_address.errors %}
          {% for error in create_form.visit_address.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="form-group{% if create_form.zipcode.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label" for="id_create_zipcode">Postnummer / Poststed</label>
      <div class="col-md-10">
        <input type="text" class="form-control" id="id_create_zipcode" name="create-zipcode" value="{{ create_form.zipcode.value }}" maxlength="10">
        <input type="text" class="form-control" id="id_create_area" name="create-area" disabled>
        <img src="{{ STATIC_URL }}img/ajax-loader-small.gif" class="zipcode ajaxloader jq-hide" alt="Laster poststed...">
        {% if create_form.zipcode.errors %}
          {% for error in create_form.zipcode.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="form-group{% if create_form.counties.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label" for="id_create_counties">Fylke(r)</label>
      <div class="col-md-10">
        {{ create_form.counties }}
        {% if create_form.counties.errors %}
          {% for error in create_form.counties.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

  </div><!-- /.section -->

  <div class="section contact skip-border">

    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <h2>Kontakinformasjon</h2>
      </div>
    </div>

    <div class="form-group{% if create_form.phone.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label" for="id_create_phone">Telefonnummer</label>
      <div class="col-md-10">
        {{ create_form.phone }}
        {% if create_form.phone.errors %}
          {% for error in create_form.phone.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="form-group{% if create_form.email.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label" for="id_create_email">E-postadresse</label>
      <div class="col-md-10">
        {{ create_form.email }}
        {% if create_form.email.errors %}
          {% for error in create_form.email.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="form-group{% if create_form.organization_no.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label" for="id_create_organization_no">Organisasjonsnr.</label>
      <div class="col-md-10">
        {{ create_form.organization_no }}
        {% if create_form.organization_no.errors %}
          {% for error in create_form.organization_no.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="form-group{% if create_form.gmap_url.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label" for="id_create_gmap_url">Google Maps URL</label>
      <div class="col-md-10">
        {{ create_form.gmap_url }}
        {% if create_form.gmap_url.errors %}
          {% for error in create_form.gmap_url.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="form-group{% if create_form.facebook_url.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label" for="id_create_facebook_url">Facebook URL</label>
      <div class="col-md-10">
        {{ create_form.facebook_url }}
        {% if create_form.facebook_url.errors %}
          {% for error in create_form.facebook_url.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

  </div><!-- /.section -->

  <div class="form-group submit">
    <div class="col-md-offset-2 col-md-10">
      <button type="submit" class="btn btn-large">Opprett ny forening/turgruppe</button>
    </div>
  </div>

</form>
