{% extends 'common/admin/layout.html' %}

{% block title %}{{ current_forening.name }} — {{ block.super }}{% endblock %}

{% block admin_menu %}{% with 'forening' as active_entry %}{{ block.super }}{% endwith %}{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/admin/forening/index.js"></script>
  <script src="{{ STATIC_URL }}js/admin/forening/metadata.js"></script>
  <script src="{{ STATIC_URL }}js/admin/forening/metadata_contact_person_search.js"></script>
  <script src="{{ STATIC_URL }}js/admin/forening/users.js"></script>
  <script src="{{ STATIC_URL }}js/admin/forening/create.js"></script>
  <script src="{{ STATIC_URL }}js/admin/forening/users_access_search.js"></script>
{% endblock %}

{% block js_globals %}
  <script>
    Turistforeningen.admin_user_search_char_length = {{ admin_user_search_char_length }};
  </script>
{% endblock %}

{% block body %}

  <div class="row">
    <div class="col-lg-12">
      <h1>{{ current_forening.name }} <small>endre informasjon om foreningen og se registrerte Sherpabrukere</small></h1>
      <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i> <a href="{% url 'admin.views.index' %}">Sherpa</a></li>
        <li><a href="{% url 'admin.forening.views.index' current_forening.id %}">{{ current_forening.name }}</a></li>
      </ol>
    </div>
  </div><!-- /.row -->

<div class="foreningsadmin">
  <div class="row">
    <div class="col-lg-12">

      <ul class="nav nav-tabs">
        <li class="active"><a href="#metadata" data-toggle="tab">Foreningsinformasjon</a></li>
        <li><a href="#grupper" data-toggle="tab">Turlag og turgrupper</a></li>
        <li><a href="#brukere" data-toggle="tab">Brukere</a></li>
        <li><a href="#opprett" data-toggle="tab">Opprett ny turgruppe</a></li>
      </ul>

      <div class="tab-content tab-content-visible main-nav-tabs">
        <div class="tab-pane active metadata" id="metadata">
          {% include 'common/admin/forening/metadata.html' %}
        </div>
        <div class="tab-pane structure" id="grupper">
          {% include 'common/admin/forening/structure.html' %}
        </div>
        <div class="tab-pane users" id="brukere">
          {% include 'common/admin/forening/users.html' %}
        </div>
        <div class="tab-pane create" id="opprett">
          {% include 'common/admin/forening/create.html' %}
        </div>
      </div>

    </div>
  </div>

  <div class="modal container jq-hide contact-person-search">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
      <h3>Finn kontaktperson</h3>
    </div>
    <div class="modal-body">

      <p>
        Her kan du søke opp en kontaktperson for foreningen. Du kan kun søke etter personer som finnes i DNTs medlemsregister.
      </p>

      <p>
        <strong>Hvis vedkommende mangler kontaktopplysninger, bør du be ham/henne legge dette inn på Min side.</strong>
      </p>

      <div class="input-group">
        <input type="text" class="form-control" name="search" placeholder="Søk etter navn eller medlemsnummer...">
        <span class="input-group-btn">
          <button class="btn btn-default search">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>

      <table class="table search-results" data-search-url="{% url 'admin.forening.views.contact_person_search' current_forening.id %}">
        <tr>
          <th>Navn</th>
          <th>Født</th>
          <th>Medlemsforening</th>
          <th>Adresse</th>
          <th>Tlf / e-post</th>
          <th>Velg kontaktperson</th>
        </tr>

        <tr class="intro">
          <td colspan="6">Søk etter medlemmer i søkeboksen over.</td>
        </tr>

        <tr class="no-hits jq-hide">
          <td colspan="6">Fant ingen med navn eller medlemsnummer <span class="result-mirror"></span>.</td>
        </tr>

        <tr class="short_query jq-hide">
          <td colspan="6">
            Du må bruke minst {{ admin_user_search_char_length }} tegn når du søker, ellers vil du få alt for mange treff.
          </td>
        </tr>

        <tr class="technical-error jq-hide">
          <td colspan="6">
            <div class="alert alert-danger">
              Beklager, det oppstod en teknisk feil ved oppslag i databasen. Feilen har blitt logget og vi vil se på problemet så snart som mulig.
            </div>
          </td>
        </tr>

        <tr class="max-hits-exceeded jq-hide">
          <td colspan="6">

            <div class="alert alert-danger">
              Du fikk veldig mange treff, kun et utvalg vises her.<br>
              Prøv å søke på noe litt mer spesifikt, som for eksempel medlemsnummeret.
            </div>
          </td>
        </tr>

        <tr class="loader jq-hide">
          <td colspan="6">
            Vennligst vent mens vi søker.<br>
            Medlemsdatabasen er stor, så dette kan ta noen sekunder.<br>
            <img src="{{ STATIC_URL }}img/common/ajax-loader-large.gif" alt="Laster, vennligst vent...">
          </td>
        </tr>
      </table>

    </div>
  </div>

</div><!-- /.foreningsadmin -->

{% endblock %}
