{% for message in messages %}
  {% if message.message == 'forening_save_success' %}
    <div class="alert alert-success">
      <strong>Endringene har blitt lagret!</strong><br>
    </div>
  {% elif message.message == 'forening_create_success' %}
    <div class="alert alert-success">
      <strong>{{ active_forening.name }} har blitt opprettet!</strong><br>
      Du er nå administrator i den nye foreningen.
    </div>
  {% endif %}
{% endfor %}

<form action="{% url 'admin.forening.views.index' %}" method="post" class="edit-forening form-default form-horizontal">
  {% csrf_token %}
  <input type="hidden" name="form" value="edit">
  {{ edit_form.forening }}

  <div class="section">

    <div class="form-group{% if edit_form.parent.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label" for="id_create_parent">Moderforening</label>
      <div class="col-md-10">

        {{ edit_form.parent }}

        {% if edit_form.parent.errors %}
          {% for error in edit_form.parent.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="form-group{% if edit_form.name.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label" for="id_edit_name">Forening</label>
      <div class="col-md-10">
        {{ edit_form.name }}
        {% if edit_form.name.errors %}
          {% for error in edit_form.name.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="form-group{% if edit_form.type.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label" for="id_edit_type">Type</label>
      <div class="col-md-10">
        {{ edit_form.type }}
        {% if edit_form.type.errors %}
          {% for error in edit_form.type.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="form-group group_type{% if edit_form.group_type.errors %} has-error{% endif %}{% if active_forening.type != 'turgruppe' %} jq-hide{% endif %}">
      <label class="col-md-2 control-label" for="id_edit_group_type">Turgruppe</label>
      <div class="col-md-10">
        {{ edit_form.group_type }}
        {% if edit_form.group_type.errors %}
          {% for error in edit_form.group_type.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

  </div><!-- /.section -->

  <div class="section">

    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <h2>Adresse</h2>
      </div>
    </div>

    <div class="form-group{% if edit_form.post_address.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label" for="id_edit_post_address">Postadresse</label>
      <div class="col-md-10">
        {{ edit_form.post_address }}
        {% if edit_form.post_address.errors %}
          {% for error in edit_form.post_address.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="form-group{% if edit_form.visit_address.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label" for="id_edit_visit_address">Besøksadresse</label>
      <div class="col-md-10">
        {{ edit_form.visit_address }}
        {% if edit_form.visit_address.errors %}
          {% for error in edit_form.visit_address.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="form-group{% if edit_form.zipcode.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label" for="id_edit_zipcode">Postnummer / Poststed</label>
      <div class="col-md-10">
        <input type="text" class="form-control" id="id_edit_zipcode" name="edit-zipcode" value="{{ edit_form.zipcode.value }}" maxlength="10">
        <input type="text" class="form-control" id="id_edit_area" name="edit-area" value="{{ edit_form_zipcode_area }}" disabled>
        <img src="{{ STATIC_URL }}img/ajax-loader-small.gif" class="zipcode ajaxloader jq-hide" alt="Laster poststed...">
        {% if edit_form.zipcode.errors %}
          {% for error in edit_form.zipcode.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="form-group{% if edit_form.counties.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label" for="id_edit_counties">Fylke(r)</label>
      <div class="col-md-10">
        {{ edit_form.counties }}
        {% if edit_form.counties.errors %}
          {% for error in edit_form.counties.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

  </div><!-- /.section -->

  <div class="section contact skip-border">

    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <h2>Kontakinformasjon</h2>
      </div>
    </div>

    <div class="form-group{% if edit_form.phone.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label" for="id_edit_phone">Telefonnummer</label>
      <div class="col-md-10">
        {{ edit_form.phone }}
        {% if edit_form.phone.errors %}
          {% for error in edit_form.phone.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="form-group{% if edit_form.email.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label" for="id_edit_email">E-postadresse</label>
      <div class="col-md-10">
        {{ edit_form.email }}
        {% if edit_form.email.errors %}
          {% for error in edit_form.email.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="form-group{% if edit_form.organization_no.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label" for="id_edit_organization_no">Organisasjonsnr.</label>
      <div class="col-md-10">
        {{ edit_form.organization_no }}
        {% if edit_form.organization_no.errors %}
          {% for error in edit_form.organization_no.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="form-group{% if edit_form.gmap_url.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label" for="id_edit_gmap_url">Google Maps URL</label>
      <div class="col-md-10">
        {{ edit_form.gmap_url }}
        {% if edit_form.gmap_url.errors %}
          {% for error in edit_form.gmap_url.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="form-group{% if edit_form.facebook_url.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label" for="id_edit_facebook_url">Facebook URL</label>
      <div class="col-md-10">
        {{ edit_form.facebook_url }}
        {% if edit_form.facebook_url.errors %}
          {% for error in edit_form.facebook_url.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

  </div><!-- /.section -->

  <div class="form-group submit">
    <div class="col-md-offset-2 col-md-10">
      <button type="submit" class="btn btn-large">Lagre foreningsdata</button>
    </div>
  </div>

</form>
