{% for message in messages %}
  {% if message.message == 'forening_save_success' %}
    <div class="alert alert-success">
      <strong>Endringene har blitt lagret!</strong><br>
    </div>
  {% elif message.message == 'forening_create_success' %}
    <div class="alert alert-success">
      <strong>{{ active_forening.name }} har blitt opprettet!</strong><br>
      Du er nå administrator i den nye foreningen.
    </div>
  {% endif %}
{% endfor %}

<form action="{% url 'admin.forening.views.index' %}" method="post" class="edit-forening form-default form-horizontal">
  {% csrf_token %}
  <input type="hidden" name="form" value="edit">
  {{ edit_form.forening }}

  <div class="section">

    <div class="form-group parent{% if edit_form.parent.errors %} has-error{% endif %}{% if active_forening.type == 'sentral' or active_forening.type == 'forening' %} jq-hide{% endif %}">
      <label class="col-md-2 control-label" for="id_edit-parent">Moderforening</label>
      <div class="col-md-10">

        <select id="id_edit-parent" name="edit-parent" data-chosen data-placeholder="Velg moderforening...">
          <option value=""></option>
          {% if parent_choices.foreninger|length > 0 %}
            <optgroup label="Foreninger">
              {% for forening in parent_choices.foreninger %}
                <option value="{{ forening.id }}"{% if edit_form.parent.value|stringformat:"s" == forening.id|stringformat:"s" %} selected{% endif %}>{{ forening.name }}</option>
              {% endfor %}
            </optgroup>
          {% endif %}
          {% if parent_choices.turlag|length > 0 %}
            <optgroup label="Turlag">
              {% for forening in parent_choices.turlag %}
                <option value="{{ forening.id }}"{% if edit_form.parent.value|stringformat:"s" == forening.id|stringformat:"s" %} selected{% endif %}>{{ forening.name }}</option>
              {% endfor %}
            </optgroup>
          {% endif %}
        </select>

        {% if edit_form.parent.errors %}
          {% for error in edit_form.parent.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="form-group{% if edit_form.name.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label" for="id_edit_name">Navn</label>
      <div class="col-md-10">
        {{ edit_form.name }}
        {% if edit_form.name.errors %}
          {% for error in edit_form.name.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="form-group{% if edit_form.type.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label" for="id_edit_type">Type</label>
      <div class="col-md-10">
        {{ edit_form.type }}
        {% if edit_form.type.errors %}
          {% for error in edit_form.type.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="form-group group_type{% if edit_form.group_type.errors %} has-error{% endif %}{% if active_forening.type != 'turgruppe' %} jq-hide{% endif %}">
      <label class="col-md-2 control-label" for="id_edit_group_type">Turgruppe</label>
      <div class="col-md-10">
        {{ edit_form.group_type }}
        {% if edit_form.group_type.errors %}
          {% for error in edit_form.group_type.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

  </div><!-- /.section -->

  <div class="section">

    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <h2>Adresse</h2>
      </div>
    </div>

    <div class="form-group{% if edit_form.post_address.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label" for="id_edit_post_address">Postadresse</label>
      <div class="col-md-10">
        {{ edit_form.post_address }}
        {% if edit_form.post_address.errors %}
          {% for error in edit_form.post_address.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="form-group{% if edit_form.visit_address.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label" for="id_edit_visit_address">Besøksadresse</label>
      <div class="col-md-10">
        {{ edit_form.visit_address }}
        {% if edit_form.visit_address.errors %}
          {% for error in edit_form.visit_address.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="form-group{% if edit_form.zipcode.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label" for="id_edit_zipcode">Postnummer / Poststed</label>
      <div class="col-md-10">
        <input type="text" class="form-control" id="id_edit_zipcode" name="edit-zipcode" value="{{ edit_form.zipcode.value }}" maxlength="10">
        <input type="text" class="form-control" id="id_edit_area" name="edit-area" value="{{ edit_form_zipcode_area }}" disabled>
        <img src="{{ STATIC_URL }}img/ajax-loader-small.gif" class="zipcode ajaxloader jq-hide" alt="Laster poststed...">
        {% if edit_form.zipcode.errors %}
          {% for error in edit_form.zipcode.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="form-group{% if edit_form.counties.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label" for="id_edit_counties">Fylke(r)</label>
      <div class="col-md-10">
        {{ edit_form.counties }}
        {% if edit_form.counties.errors %}
          {% for error in edit_form.counties.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

  </div><!-- /.section -->

  <div class="section contact skip-border">

    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <h2>Kontaktinformasjon</h2>
      </div>
    </div>

    <div class="form-group choose-contact{% if edit_form.phone.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label">Hvem kan kontaktes</label>
      <div class="col-md-10">
        <div class="checkbox">
          <label>
            <input type="radio" id="id_edit-choose-contact" name="edit-choose-contact" value="forening"{% if edit_form.contact_person.value == None and edit_form.contact_person_name.value == '' %} checked{% endif %}> Foreningen har egen kontaktinformasjon
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="radio" id="id_edit-choose-contact" name="edit-choose-contact" value="person"{% if edit_form.contact_person.value != None or edit_form.contact_person_name.value != '' %} checked{% endif %}> En kontaktperson
          </label>
        </div>
        <span class="help-block">
          De fleste foreninger har generell kontaktinformasjon, men for små turgrupper kan det være mer aktuelt å oppgi en kontaktperson.
        </span>
      </div>
    </div>

    <div class="form-group contact_person_name{% if edit_form.phone.errors %} has-error{% endif %}{% if edit_form.contact_person.value == None and edit_form.contact_person_name.value == '' %} jq-hide{% endif %}">
      <label class="col-md-2 control-label" for="id_edit-contact_person_name">Navn</label>
      <div class="col-md-10">
        {{ edit_form.contact_person_name }}
        {% if edit_form.contact_person_name.errors %}
          {% for error in edit_form.contact_person_name.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="form-group{% if edit_form.phone.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label" for="id_edit-phone">Telefonnummer</label>
      <div class="col-md-10">
        {{ edit_form.phone }}
        {% if edit_form.phone.errors %}
          {% for error in edit_form.phone.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="form-group{% if edit_form.email.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label" for="id_edit-email">E-postadresse</label>
      <div class="col-md-10">
        {{ edit_form.email }}
        {% if edit_form.email.errors %}
          {% for error in edit_form.email.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="form-group{% if edit_form.organization_no.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label" for="id_edit_organization_no">Organisasjonsnr.</label>
      <div class="col-md-10">
        {{ edit_form.organization_no }}
        {% if edit_form.organization_no.errors %}
          {% for error in edit_form.organization_no.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="form-group{% if edit_form.gmap_url.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label" for="id_edit_gmap_url">Google Maps URL</label>
      <div class="col-md-10">
        {{ edit_form.gmap_url }}
        {% if edit_form.gmap_url.errors %}
          {% for error in edit_form.gmap_url.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="form-group{% if edit_form.facebook_url.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label" for="id_edit_facebook_url">Facebook URL</label>
      <div class="col-md-10">
        {{ edit_form.facebook_url }}
        {% if edit_form.facebook_url.errors %}
          {% for error in edit_form.facebook_url.errors %}
            <span class="help-block error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

  </div><!-- /.section -->

  <div class="form-group submit">
    <div class="col-md-offset-2 col-md-10">
      <button type="submit" class="btn btn-large">Lagre foreningsdata</button>
    </div>
  </div>

</form>
