{% if foreninger|length != 0 %}
  <table class="table">
    <thead>
      <tr>
        <th>{{ header }}</th>
        {% if display_parent %}
          <th>Underlagt</th>
        {% endif %}
      </tr>
    </thead>

    <tbody>
      {% for forening in foreninger %}
        <tr>
          <td>
            {% if forening in user.all_foreninger %}
              <a href="{% url 'admin.forening.views.index' forening.id %}#grupper">
            {% else %}
              <span{% if not forening in user.all_foreninger %} data-popover data-trigger="hover" data-placement="right" data-html="true" data-title="Ikke tilgang" data-content="Du har ikke tilgang til {{ forening.name }}.<br><br>Hvis du mener du skal ha tilgang, og foreningen ble opprettet i løpet av det siste døgnet kan du prøve å oppdatere tilgangene nederst på siden.<br><br>Hvis ikke må du kontakte noen i foreningen som kan gi deg tilgang."{% endif %}>
            {% endif %}

            {{ forening.name }}

            {% if forening in user.all_foreninger %}
              </a>
            {% else %}
              </span>
            {% endif %}
          </td>

          {% if display_parent %}
            <td>
              {% for parent in forening.parents.all %}
                {% if parent in user.all_foreninger %}
                  <a href="{% url 'admin.forening.views.index' parent.id %}#grupper">
                {% else %}
                  <span{% if not parent in user.all_foreninger %} data-popover data-trigger="hover" data-placement="right" data-html="true" data-title="Ikke tilgang" data-content="Du har ikke tilgang til {{ forening.name }}.<br><br>Hvis du mener du skal ha tilgang, og foreningen ble opprettet i løpet av det siste døgnet kan du prøve å oppdatere tilgangene nederst på siden.<br><br>Hvis ikke må du kontakte noen i foreningen som kan gi deg tilgang."{% endif %}>
                {% endif %}

                {{ parent.name }}

                {% if parent in user.all_foreninger %}
                  </a>
                {% else %}
                  </span>
                {% endif %}

                {% if not forloop.last %}
                  og
                {% endif %}
              {% endfor %}
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
