{% if active_forening.parent %}
  <table class="table">
    <thead>
      <tr>
        <th>Moderforening</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          {{ active_forening.name }} er underlagt
          {# The following line is too long because we don't want spacing between punctuations. #}
          {% if active_forening.parent in user.all_foreninger %}<a href="/sherpa/aktiv-forening/{{ active_forening.parent.id }}/?next={% url 'admin.forening.views.index' %}#grupper">{% endif %}{{ active_forening.parent.name }}{% if active_forening.parent in user.all_foreninger %}</a>{% endif %}.
        </td>
      </tr>
    </tbody>
  </table>
{% endif %}

{% with children=active_forening.get_children_sorted %}
  {% include 'common/admin/forening/structure_table_forening.html' with header="Sentral/nasjonal forening" foreninger=children.sentral %}
  {% include 'common/admin/forening/structure_table_forening.html' with header="Foreninger" foreninger=children.forening %}
  {% include 'common/admin/forening/structure_table_forening.html' with header="Turlag" foreninger=children.turlag %}
  {% include 'common/admin/forening/structure_table_forening.html' with header="Turgrupper" foreninger=children.turgruppe %}
{% endwith %}

{% if active_forening.children.count == 0 %}
  <p>
    <em>{{ active_forening.name }} har ingen underliggende turlag/turgrupper.</em>
  </p>
{% endif %}
