{% if current_forening.type == 'sentral' %}

  <p>
    {{ current_forening.name }} er en sentral forening og har ikke noen tilknyttede turlag/turgrupper.
  </p>

{% else %}

  {% for message in messages %}
    {% if message.message == 'permission_cache_deleted' %}
      <div class="alert alert-success">
        <strong>Dine tilganger har blitt oppdatert.</strong>
      </div>
    {% endif %}
  {% endfor %}

  {% if current_forening.parents.count > 0 %}
    <table class="table">
      <thead>
        <tr>
          <th>Moderforening</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            {{ current_forening.name }} er underlagt
            {# The following line is too long because we don't want spacing between punctuations. #}
            {% for parent in current_forening.parents.all %}
              {% if parent in user.all_foreninger %}<a href="{% url 'admin.forening.views.index' parent.id %}#grupper">{% endif %}{{ parent.name }}{% if parent in user.all_foreninger %}</a>{% endif %}{% if not forloop.last %} og {% else %}.{% endif %}
            {% endfor %}
          </td>
        </tr>
      </tbody>
    </table>
  {% endif %}

  {# The with statement helps us save the underlying query in a var and avoid excessive lookups #}
  {% with children=current_forening.get_children_sorted %}
    {% include 'common/admin/forening/structure_table_forening.html' with header="Sentral/nasjonal forening" foreninger=children.sentral %}
    {% include 'common/admin/forening/structure_table_forening.html' with header="Foreninger" foreninger=children.forening %}
    {% include 'common/admin/forening/structure_table_forening.html' with header="Turlag" foreninger=children.turlag %}

    {% with turgrupper=current_forening.get_turgrupper_deep_sorted_by_group %}
      {% include 'common/admin/forening/structure_table_forening.html' with display_parent=True header="Barnas Turlag" foreninger=turgrupper.barn %}
      {% include 'common/admin/forening/structure_table_forening.html' with display_parent=True header="DNT ung" foreninger=turgrupper.ung %}
      {% include 'common/admin/forening/structure_table_forening.html' with display_parent=True header="DNT Fjellsport" foreninger=turgrupper.fjellsport %}
      {% include 'common/admin/forening/structure_table_forening.html' with display_parent=True header="DNT senior" foreninger=turgrupper.senior %}
      {% include 'common/admin/forening/structure_table_forening.html' with display_parent=True header="Andre grupper" foreninger=turgrupper.other %}

      {% if children|length == 0 and turgrupper.barn|length == 0 and turgrupper.ung|length == 0 and turgrupper.fjellsport|length == 0 and turgrupper.senior|length == 0 %}
        <p>
          <em>{{ current_forening.name }} har ingen underliggende turlag/turgrupper.</em>
        </p>
      {% endif %}

    {% endwith %}
  {% endwith %}

  <p>
    Savner du tilgang til en ny forening? Det kan ta opptil 24 timer fra en forening opprettes til tilgangen oppdateres. Du kan <a href="{% url 'admin.forening.views.expire_forening_permission_cache' current_forening.id %}">oppdatere tilgangene dine manuelt her</a>.
  </p>

{% endif %}
