{% if foreninger|length != 0 %}
  <table class="table">
    <thead>
      <tr>
        <th>{{ header }}</th>
      </tr>
    </thead>

    <tbody>
      {% for forening in foreninger %}
        <tr>
          <td>
            {% if forening in user.all_foreninger %}
              <a href="/sherpa/aktiv-forening/{{ forening.id }}/?next={% url 'admin.forening.views.index' %}#grupper">
            {% endif %}

            {{ forening.name }}

            {% if forening in user.all_foreninger %}
              </a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
