{% if foreninger|length != 0 %}
  <table class="table">
    <thead>
      <tr>
        <th>{{ header }}</th>
        {% if display_parent %}
          <th>Underlagt</th>
        {% endif %}
      </tr>
    </thead>

    <tbody>
      {% for forening in foreninger %}
        <tr>
          <td>
            {% if forening in user.all_foreninger %}
              <a href="/sherpa/aktiv-forening/{{ forening.id }}/?next={% url 'admin.forening.views.index' %}#grupper">
            {% endif %}

            {{ forening.name }}

            {% if forening in user.all_foreninger %}
              </a>
            {% endif %}
          </td>

          {% if display_parent %}
            <td>
              {% if forening.parent in user.all_foreninger %}
                <a href="/sherpa/aktiv-forening/{{ forening.parent.id }}/?next={% url 'admin.forening.views.index' %}#grupper">
              {% endif %}

              {{ forening.parent.name }}

              {% if forening.parent in user.all_foreninger %}
                </a>
              {% endif %}
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
