<div class="row">
  <div class="col-lg-12">

    <table class="table">
      <thead>
        <tr>
          <th>Registrert bruker i {{ active_forening.name }}</th>
        </tr>
      </thead>

      <tbody>
        {% for forening_user in forening_users %}
          <tr>
            <td><a href="{% url 'admin.users.views.show' forening_user.id %}">{{ forening_user.get_full_name }}</a></td>
          </tr>
        {% empty %}
          <tr>
            <td><em>Ingen brukere er registrert i {{ active_forening.name }}.</em></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% if forening_users_by_parent|length > 0 %}
      <table class="table">
        <thead>
          <tr>
            <th>Administrator i en moderforening</th>
          </tr>
          {% for forening_user in forening_users_by_parent %}
            <tr>
              <td><a href="{% url 'admin.users.views.show' forening_user.id %}">{{ forening_user.get_full_name }}</a></td>
            </tr>
          {% endfor %}
        </thead>
      </table>
    {% endif %}

  </div>
</div>
