{% load role_for %}

<div class="useradmin">
  <div class="row">
    <div class="col-lg-12">

      <table class="table">
        <thead>
          <tr>
            <th colspan="3">Registrert bruker i {{ active_forening.name }}</th>
          </tr>
        </thead>

        <tbody>
          {% for forening_user in forening_users %}
            <tr>
              <td><a href="{% url 'admin.users.views.show' forening_user.id %}">{{ forening_user.get_full_name }}</a></td>
              <td>
                {{ forening_user.memberid|default:"<em>Ikke medlem</em>" }}
              </td>
              <td>
                {% with role=forening_user|role_for:active_forening %}
                  {% if role == 'user' %}
                    <i class="fa fa-user"></i> Vanlig bruker
                  {% elif role == 'admin' %}
                    <i class="fa fa-star"></i> Administrator
                  {% endif %}
                {% endwith %}
              </td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="3"><em>Ingen brukere er registrert i {{ active_forening.name }}.</em></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      {% if forening_users_by_parent|length > 0 %}
        <table class="table">
          <thead>
            <tr>
              <th colspan="3">Administrator i en moderforening</th>
            </tr>
            {% for forening_user in forening_users_by_parent %}
              <tr>
                <td><a href="{% url 'admin.users.views.show' forening_user.id %}">{{ forening_user.get_full_name }}</a></td>
                <td>
                  {{ forening_user.memberid|default:"<em>Ikke medlem</em>" }}
                </td>
                <td>
                  {% with role=forening_user|role_for:active_forening %}
                    {% if role == 'user' %}
                      <i class="fa fa-user"></i> Vanlig bruker
                    {% elif role == 'admin' %}
                      <i class="fa fa-star"></i> Administrator
                    {% endif %}
                  {% endwith %}
                </td>
              </tr>
            {% endfor %}
          </thead>
        </table>
      {% endif %}

    </div>
  </div>
</div>
