{% extends 'main/layout.html' %}
{% block title %}Min side{% endblock %}
{% block breadcrumb_title %}Min side{% endblock %}
{% block extra_js %}
  <script src="{{ STATIC_URL }}js/user.js"></script>
{% endblock %}

{% block js_globals %}
  <script>
    var password_length = {{ password_length }};
    var phone_max_length = {{ phone_max_length }};
  </script>
{% endblock %}

{% block body %}

<div class="row">
  <div class="span9">

    <h2>Brukeropplysninger</h2>
    <div class="info-area">
      {% for message in messages %}
        {% if message.message == 'update_success' %}
          <div class="alert alert-success">
            <a class="close">x</a>
            <strong>Opplysningene dine har blitt oppdatert.</strong>
          </div>
        {% elif message.message == 'no_name_provided' %}
          <div class="alert alert-danger">
            <a class="close">x</a>
            <strong>Vennligst fyll inn fullt navn.</strong>
          </div>
        {% elif message.message == 'invalid_email_address' %}
          <div class="alert alert-danger">
            <a class="close">x</a>
            <strong>Vennligst fyll inn en gyldig e-post adresse.</strong>
          </div>
        {% elif message.message == 'password_too_short' %}
          <div class="alert alert-danger">
            <a class="close">x</a>
            <strong>Vennligst fyll inn et passord på minst {{ password_length }} tegn.</strong>
          </div>
        {% elif message.message == 'duplicate_email_address' %}
          <div class="alert alert-danger">
            <a class="close">x</a>
            <strong>E-postadressen er allerede i bruk!</strong><br>
            Er du sikker på at det ikke finnes en <strong>annen</strong> bruker som har denne e-postadressen?
          </div>
        {% elif message.message == 'phone_too_long' %}
          <div class="alert alert-danger">
            <a class="close">x</a>
            <strong>Mobiltelefonen din har vel ikke over {{ phone_max_length }} siffer?</strong>
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <form action="{% url user.views.update_account %}" method="post" class="form-border form-horizontal">
      {% csrf_token %}
      <div class="control-group name">
        <label class="control-label" for="name">Fullt navn</label>
        <div class="controls">
          <input type="text" class="input-xlarge" name="name" value="{{ user.get_full_name }}">
        </div>
      </div>
      <div class="control-group email">
        <label class="control-label" for="email">E-post</label>
        <div class="controls">
          <input type="text" class="input-xlarge" name="email" value="{{ user.email }}">
        </div>
      </div>
      <div class="control-group phone">
        <label class="control-label" for="phone">Mobiltelefon</label>
        <div class="controls">
          <input type="text" class="input-medium" name="phone" value="{{ user.get_profile.phone }}">
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-large"><i class="icon-user"></i> Oppdater opplysningene</button>
        </div>
      </div>
      <p>
        <strong>Tips:</strong> Hvis du skriver artikler, bruker vi e-posten din til å hente ditt <em>Gravatar</em>-bilde. For å få et slikt bilde, registrer deg på <a href="http://en.gravatar.com/">Gravatar</a> med <strong>samme</strong> e-postadresse som du bruker her.
      </p>
    </form>

    <h2>Endre passord</h2>
    <form action="{% url user.views.update_account_password %}" method="post" class="form-border form-horizontal password">
      {% csrf_token %}
      <div class="control-group password">
        <label class="control-label" for="password">Passord</label>
        <div class="controls">
          <input type="password" class="input-large" name="password">
        </div>
      </div>
      <div class="control-group password-duplicate">
        <label class="control-label" for="password-duplicate">Gjenta passord</label>
        <div class="controls">
          <input type="password" class="input-large" name="password-duplicate">
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-large"><i class="icon-user"></i> Oppdater passord</button>
        </div>
      </div>
    </form>
  </div>

  <div class="span3">
    {% include 'main/user/navigation.html' with active='account' %}
  </div>
</div>

{% endblock %}
