{% extends 'main/layout.html' %}
{% block title %}Min side{% endblock %}
{% block breadcrumb_title %}Min side{% endblock %}
{% block extra_js %}
  <script src="{{ STATIC_URL }}js/user.js"></script>
{% endblock %}

{% block js_globals %}
  <script>
    var password_length = {{ password_length }};
    var phone_max_length = {{ phone_max_length }};
  </script>
{% endblock %}

{% block body %}

<div class="row">
  <div class="span9">

    <h2>Brukeropplysninger</h2>

    <p>
      Her kan du endre dine brukeropplysninger. Du trenger ikke fylle ut passordet hvis du ikke vil endre det.
    </p>

    <div class="info-area">
      {% if update_success %}
        <div class="alert alert-success">
          <a class="close">x</a>
          <strong>Opplysningene dine har blitt oppdatert.</strong>
        </div>
      {% endif %}
      {% if value_error %}
        <div class="alert alert-danger">
          <a class="close">x</a>
          <strong>Vennligst fyll inn minst navn, e-post adresse, og et passord på minst {{ password_length }} tegn.</strong>
        </div>
      {% endif %}
      {% if integrity_error %}
        <div class="alert alert-danger">
          <a class="close">x</a>
          <strong>E-postadressen er allerede i bruk!</strong><br>
          Er du sikker på at det ikke finnes en <strong>annen</strong> bruker som har denne e-postadressen?
        </div>
      {% endif %}
      {% if phone_too_long %}
        <div class="alert alert-danger">
          <a class="close">x</a>
          <strong>Mobiltelefonen din har vel ikke over {{ phone_max_length }} siffer?</strong>
        </div>
      {% endif %}
    </div>

    <form action="{% url user.views.account %}" method="post" class="form-border">
      {% csrf_token %}
      <div class="control-group name">
        <label>Fullt navn</label>
        <input type="text" class="input-xlarge" name="name" value="{{ user.get_full_name }}">
      </div>
      <div class="control-group email">
        <label>E-post</label>
        <input type="text" class="input-xlarge" name="email" value="{{ user.email }}">
      </div>
      <div class="control-group phone">
        <label>Mobiltelefon</label>
        <input type="text" class="input-medium" name="phone" value="{{ user.get_profile.phone }}">
      </div>
      <div class="control-group password">
        <label>Passord</label>
        <input type="password" class="input-large" name="password">
      </div>
      <div class="control-group password-duplicate">
        <label>Gjenta passord</label>
        <input type="password" class="input-large" name="password-duplicate">
      </div>
      <button type="submit" class="btn btn-large"><i class="icon-user"></i> Oppdater opplysningene</button>
    </form>

    <p>
      <strong>Tips:</strong> Hvis du skriver artikler, bruker vi e-posten din til å hente ditt <em>Gravatar</em>-bilde. For å få et slikt bilde, registrer deg på <a href="http://en.gravatar.com/">Gravatar</a> med <strong>samme</strong> e-postadresse som du bruker her.
    </p>
  </div>

  <div class="span3">
    {% include 'main/user/navigation.html' with active='account' %}
  </div>
</div>

{% endblock %}
