{% extends 'main/layout.html' %}
{% block title %}Gjenopprett passord{% endblock %}

{% block js_globals %}
  <script>
    var password_length = {{ password_length }};
  </script>
{% endblock %}

{% block body %}

<div id="restore-password">
  <div class="row">
    <div class="span12">
      <h1>Gjenopprett passord</h1>
      {% if no_such_key %}
        <p>
          Gjenopprettingsnøkkelen er ugyldig. Vennligst <a href="{% url user.views.login %}">prøv igjen</a>.
        </p>
      {% elif key_expired %}
        <p>
          Beklager, du må benytte deg av gjenopprettingsmuligheten innen {{ validity_period }} timer. Vennligst gå tilbake og <a href="{% url user.views.login %}">prøv igjen</a>.
        </p>
      {% elif success %}
        <p>
          Passordet ditt har blitt endret. Prøv å <a href="{% url user.views.login %}">logge inn</a> på nytt.
        </p>
      {% endif %}
    </div>
  </div>

  {% if ready %}
  <div class="row">
    <div class="span6">
      <form action="{% url user.views.restore_password key %}" method="post">
        {% csrf_token %}
        {% if unacceptable_password %}
          <div class="alert alert-danger">
            <a class="close">x</a>
            <strong>Ugyldig passord</strong><br>
            Du må fylle inn et passord på minst {{ password_length }} tegn, og sørge for å skrive samme passord i begge feltene!
          </div>
        {% endif %}
        <table class="table">
          <tr>
            <td>
              Opprett nytt passord:
            </td>
            <td class="control-group"><input type="password" name="password" class="input-large"></td>
          </tr>
          <tr>
            <td>Gjenta passordet:</td>
            <td class="control-group"><input type="password" name="password-duplicate" class="input-large"></td>
          </tr>
          <tr>
            <td class="info"></td>
            <td><button type="submit" class="btn btn-danger btn-large">Lagre nytt passord</button></td>
          </tr>
        </table>
      </form>
    </div>
  </div>
  {% endif %}
</div>

{% endblock %}
