{# Used for AJAX requests. #}
{% csrf_token %}

<div class="row">
  <div class="offset3 span6">
    <div class="no-save-warning alert alert-error">
      <a class="close">x</a>
      <strong>Advarsel!</strong><br>
      Du har ikke lagret artikkelen på over 5 minutter! Du bør vurdere å lagre nå, hvis ikke kan du miste endringene du har gjort hvis et uhell oppstår.
    </div>
  </div>
</div>

<article data-id="{{ version.id }}">

{% for row in rows %}
<div class="row" data-id="{{ row.id }}">
  {% for column in row.columns %}
    <div class="column offset{{ column.offset }} span{{ column.span }}" data-id="{{ column.id }}">
      {% for content in column.contents %}
        {% if content.type == 'html' %}
          <div class="html" data-id="{{ content.id }}">{{ content.content|safe }}</div>
        {% elif content.type == 'image' %}
          <div class="image" data-id="{{ content.id }}">{{ content.content|safe }}</div>
        {% else %}
          <div class="widget" data-id="{{ content.id }}">
            {% include content.widget.template with widget=content.widget %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
</div>
{% endfor %}

</article>

{# Adding columns #}
<div id="dialog-columns" class="dialog" data-title="Velg kolonnestruktur" data-width="auto">
  <h1>Én kolonne:</h1>
  <p><img src="{{ STATIC_URL }}img/columns/full.png" class="full" alt="Én kolonne"></p>

  <h1>To kolonner (sidebar):</h1>
  <p><img src="{{ STATIC_URL }}img/columns/sidebar.png" class="sidebar" alt="To kolonner (sidebar)"></p>

  <h1>To kolonner:</h1>
  <p><img src="{{ STATIC_URL }}img/columns/two.png" class="two" alt="To kolonner"></p>

  <h1>Tre kolonner:</h1>
  <p><img src="{{ STATIC_URL }}img/columns/three.png" class="three" alt="Tre kolonner"></p>
</div>

{# Adding widgets #}
<div id="dialog-add-widget" class="dialog" data-title="Legg til ny widget" data-width="90%">
  {% include 'widgets/promo/thumbnail.html' %}
  {% include 'widgets/quote/thumbnail.html' %}
</div>

{# Widget edit-dialogs #}
{% include 'widgets/promo/edit.html' %}
{% include 'widgets/quote/edit.html' %}

{# Changing image #}
<div id="dialog-change-image" class="dialog" data-title="Velg bilde" data-width="90%">
  <table>
    <tr>
      <td>Link til bildet:</td><td><input type="text" class="span6" name="url"></td>
    </tr>
    <tr>
      <td>Bildetekst:</td><td><input type="text" class="span6" name="alt"></td>
    </tr>
    <tr>
      <td></td>
      <td><button class="btn btn-success btn-large insert-image"><i class="icon-share-alt"></i> Sett inn</button></td>
    </tr>
  </table>
  <hr>
  <h2>Finn bilde i arkivet:</h2>
  <input type="text" name="search" class="span6" placeholder="Søk etter nøkkelord, fotograf, beskrivelse, eller liknende...">
  <button class="btn btn-success button-aligned image-search"><i class="icon-search"></i> Søk</button>
  <div id="imagearchive">
    <ul class="breadcrumb"></ul>
    <div id="contentlist"></div>
    <ul id="images"></ul>
  </div>
</div>

{# Main toolbar #}
<div id="toolbar" class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#1" data-toggle="tab">Lagre</a></li>
    <li><a href="#2" data-toggle="tab">Struktur</a></li>
    <li><a href="#3" data-toggle="tab">Innhold</a></li>
    <li><a href="#4" data-toggle="tab">Formatering</a></li>
    <li><a href="#5" data-toggle="tab">Lenker</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active save" id="1">
      <p>
        <span class="save-text"><i class="icon-ok"></i> Artikkelen er nylig lagret.</span><br>
        <span class="control-group"><input type="checkbox" class="autosave"> Lagre automatisk hvert <input type="text" value="1" class="autosave-frequency">. minutt</span>
      </p>
      <button class="btn save">Lagre</button>
    </div>
    <div class="tab-pane structure" id="2">
      <div class="btn-group" data-toggle="buttons-radio">
        <button class="btn formatting"><i class="icon-pencil"></i> Tekstredigering</button>
        <button class="btn horizontal"><i class="icon-arrow-left"></i> Flytt kolonner <i class="icon-arrow-right"></i></button>
        <button class="btn vertical"><i class="icon-arrow-up"></i> Flytt rader <i class="icon-arrow-down"></i></button>
      </div>
      <br>
      <div class="btn-group">
        <button class="btn add-columns"><i class="icon-list-alt"></i> Legg til ny rad</button>
        <button class="btn remove-columns"><i class="icon-remove"></i> Ta bort en rad</button>
      </div>
    </div>
    <div class="tab-pane content" id="3">
      <div class="btn-group">
        <button class="btn add-text"><i class="icon-align-left"></i> Mer tekst</button>
        <button class="btn add-image"><i class="icon-picture"></i> Nytt bilde</button>
        <button class="btn add-widget"><i class="icon-star"></i> Ny widget</button>
      </div>
      <br>
      <button class="btn remove-content"><i class="icon-remove"></i> Ta bort innhold</button>
    </div>
    <div class="tab-pane formatting" id="4">
      <div class="button bold"></div>
      <div class="button italic"></div>
      <div class="button underline"></div>
      <div class="button ol"></div>
      <div class="button ul"></div>
      <div class="button align-left"></div>
      <div class="button align-center"></div>
      <div class="button align-right"></div>
      <div style="clear: both;"></div>
      <select>
        <option value="default">Velg skrifttype...</option>
        <optgroup label="--------------------">
          <option value="h1">Overskrift (stor)</option>
          <option value="h2">Overskrift (liten)</option>
          <option value="p">Brødtekst</option>
        </optgroup>
      </select>
    </div>
    <div class="tab-pane link" id="5">
      <p>URL-adresse: <input type="text" class="url"></p>
      <div class="btn-group">
        <button class="btn anchor-add"><i class="icon-share-alt"></i> Sett inn link</button>
        <button class="btn anchor-remove"><i class="icon-remove"></i> Ta bort link</button>
      </div>
      <p>Tips: For at knappene skal funke må du markere teksten i artikkelen som du vil gjøre til en link.</p>
    </div>
    <div style="clear: both;"></div>
  </div>
</div>
