<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Betingelser for medlemskap</title>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/conditions.css" media="screen">
</head>
<body>

<h1>Betingelser for medlemskap i Den Norske Turistforening</h1>
<ul>
  <li>Medlemskap i Den Norske Turistforening (DNT) følger kalenderåret og
gjelder fra 1. januar til 31. desember. Etter 1. oktober kan man kjøpe
medlemskap for påfølgende år. </li>
  <li>Medlemskapet er personlig.</li>
  <li>Det er ingen angrerett på betalt medlemsskap.</li>
  <li>Medlemstypene er aldersbegrenset, men uføretrygdede (minst 50%) gis rett til honnørmedlemskap. Student/Ungdomsmedlemskap gjelder kun ungdom i alder 19 - 26 år.</li>
  <li>Medlemskapet er ikke gyldig før det er betalt og medlemskortet er kun gyldig med stempel eller oblat fra bank/post.</li>
  <li>DNT forplikter seg til ikke å videreformidle personlige opplysninger til andre enn våre egne lokalforeninger.</li>
</ul>

<p>
  Sist endret: 15. mars 2012.<br>
  Med forbehold om endringer i løpet av medlemsåret.
</p>

</body>
</html>
