{% extends 'layout.html' %}
{% block title %}Gavemedlemskap{% endblock %}
{% block breadcrumb_title %}Gavemedlemskap{% endblock %}
{% block body %}

<div class="row">
  <div class="span12">
    <h1>Gi et medlemskap i DNT i gave</h1>

    <p>
      Tom for gaveideer? Et medlemskap i DNT varer lenge og kan brukes så mye man vil. I tillegg til flotte naturopplevelser gir medlemskapet rabatt på overnatting på DNTs hytter, mulighet for å være med på turer, kurs og andre aktiviteter, samt en rekke andre fordeler.
    </p>

    <p>Du kan velge mellom tre ulike typer gavemedlemskap:</p>
    <ul>
      <li><strong>Vanlig medlemskap</strong> (Ett kalenderår). Pris: Se gjeldende kontingentsatser</li>
      <li><strong>Dåpsgave</strong> (Medlemskap i Barnas Turlag fra 0-12 år). Pris: 900,-</li>
      <li><strong>Jubileum</strong> (Hovedmedlemskap i 10 år) Pris: 5500,-</li>
      <li><strong>Livsvarig medlemskap</strong> (Hovedmedlemskap x 25). Pris: 13750,-</li>
    </ul>
  </div>
</div>

{% endblock %}
