{% extends 'layout.html' %}
{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/enrollment.css" media="screen">
{% endblock %}
{% block extra_js %}
  <script src="{{ STATIC_URL }}js/enrollment/household.js"></script>
{% endblock %}

{% block body %}

{% if errors %}
<script>
  // Trigger form validations
  $(document).ready(function() {
    $("form#household input").focusout();
  });
</script>
{% endif %}

{% include 'enrollment/progress.html' with step=2 %}


{% if errors %}
<div class="row">
  <div class="offset2 span5">
    <div class="alert alert-error">
      <a class="close">x</a><strong>Noen av opplysningene du oppgav er ugyldige.</strong><br>
      Vennligst se gjennom skjemaet, og rett alle felter som er markert røde.
    </div>
  </div>
</div>
{% endif %}

<div class="row">
  <div class="offset2 span8">
    <form id="household" action="{% url enrollment.views.household %}" method="post">
      {% csrf_token %}

      <div class="well">
        <h2 style="margin-bottom: 15px;">Hvor bor {% if users|length > 1 %}dere{% else %}du{% endif %}?</h2>
        <div class="control-group address">
          <label> Adresse <span class="asterisk red">*</span></label>
          <input type="text" class="span3" name="address" value="{{ address }}">
        </div>
        <div class="control-group zipcode">
          <label> Postnummer / Poststed <span class="asterisk red">*</span></label>
          <input type="text" class="span1" name="zipcode" value="{{ zipcode }}" maxlength="4">
          <input type="text" class="span2" name="location" disabled>
          <img src="{{ STATIC_URL }}img/ajax-loader-small.gif" class="ajaxloader" alt="Laster poststed..." title="Laster poststed...">
        </div>
      </div>

      <p>Bor {% if users|length > 1 %}dere{% else %}du{% endif %} sammen med et <strong>eksisterende</strong> medlem på denne adressen?</p>
      <div class="well">
        I så fall, hvem bor {% if users|length > 1 %}dere{% else %}du{% endif %} sammen med?<br>
        <input type="text" name="existing" value="{{ existing }}" placeholder="Oppgi medlemsnummer..."><br>
        Hvis ikke, bare klikk på "Gå videre".
      </div>
      <p><a href="{% url enrollment.views.types %}" target="_blank">Les mer om medlemstypene her</a>.</p>
      <p><a class="btn btn-large" href="{% url enrollment.views.registration %}"><i class="icon-arrow-left"></i> Tilbake</a> <button class="btn btn-success btn-large" type="submit">Gå videre <i class="icon-arrow-right"></i></button></p>
    </form>
  </div>
</div>

{% endblock %}
