<div class="alert alert-error">
  <strong>Forsinket utsendelse av medlemskort</strong><br>
  Vi avslutter medlemsåret og kan dessverre ikke sende ut medlemskort før i slutten av oktober. Hvis du trenger medlemskortet umiddelbart, kan du kjøpe medlemskap i utsalgsstedene til våre foreninger rundt omkring i landet. <a href="{% url association.views.index %}">Finn din nærmeste forening</a>
</div>

<div class="well">
  <h3>Spørsmål?</h3>
  <p>
    Kontakt medlemsservice:<br>
    Tlf: 40001870<br>
    <a href="mailto:medlem@turistforeningen.no">medlem@turistforeningen.no</a><br>
    Åpent alle hverdager:<br>
    Kl. 09.00 - 16.00<br>
    Eller <a href="{% url membership.views.service %}">gå til medlemsservice</a>
  </p>
</div>
