{% extends 'enrollment/index.html' %}
{% block extra_js %}
  <script src="{{ STATIC_URL }}js/enrollment/payment.js"></script>
{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/enrollment.css" media="screen">
{% endblock %}

{% block enrollment %}

<div class="row">
  <div class="span8">

    {% include 'enrollment/progress.html' with step=4 %}

    {% if invalid_payment_method %}
      <div class="alert alert-error">
        <a class="close">x</a>
        <strong><i class="icon-warning-sign"></i> Ugyldig betalingsmåte</strong><br>
        Du må velge hvilken betalingsmetode du ønsker å bruke før du går videre.
      </div>
    {% endif %}

    <form id="payment" action="{% url enrollment.views.payment %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="main-member" value="">
      <h2> Velg betalingsmåte:</h2>
      <div class="control-group payment-method">
        <input type="radio" name="payment-method" value="card" checked> VISA / MASTERCARD<br>
        <input type="radio" name="payment-method" value="invoice"> Få tilsendt faktura
      </div>

      <div class="alert alert-info invoice-info">
        <strong>Merk:</strong> Velger du å betale med faktura blir ikke medlemskapet gyldig før betalingen er registrert i vårt system.
      </div>

      <p>
        <a class="btn btn-large" href="{% url enrollment.views.verification %}"><i class="icon-arrow-left"></i> Tilbake</a>
        <button class="btn btn-danger btn-large payment">Til betaling <i class="icon-arrow-right"></i></button>
      </p>
    </form>

  </div>

  <div class="span4">
    {% include 'enrollment/memberservice.html' %}
  </div>
</div>

{% endblock %}
