{# Use table because I couldn't achieve 100% width with an ordered list :( #}
<table class="registration-progress">
  <tr>
    <td class="step{% if step == 1 %} current{% endif %}">
      {% if step > 1 %}<a href="{% url enrollment.views.registration %}">{% endif %}
        Personopplysninger
      {% if step > 1 %}</a>{% endif %}
    </td>
    <td class="step{% if step == 2 %} current{% endif %}">
      {% if step > 2 %}<a href="{% url enrollment.views.household %}">{% endif %}
        Adresse
      {% if step > 2 %}</a>{% endif %}
    </td>
    <td class="step{% if step == 3 %} current{% endif %}">
      {% if step > 3 %}<a href="{% url enrollment.views.verification %}">{% endif %}
        Bekreftelse
      {% if step > 3 %}</a>{% endif %}
    </td>
    <td class="step{% if step == 0 %} final{% endif %}">
      Betaling
    </td>
  </tr>
</table>
