{% extends 'layout.html' %}
{% block extra_js %}
  <script src="{{ STATIC_URL }}js/enrollment/registration.js"></script>
  <script src="{{ STATIC_URL }}lib/jquery-ui/jquery-ui-1.8.17.custom.min.js"></script>
{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/jquery-ui/jquery-ui-1.8.17.custom.css" media="screen">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/enrollment.css" media="screen">
{% endblock %}

{% block body %}

{% if errors %}
<script>
  // Trigger form validations
  $(document).ready(function() {
    $("form#registration input").focusout();
    validateDatepicker();
    validateGender();
  });
</script>
{% endif %}

{% include 'enrollment/progress.html' with step=1 %}

<div class="row">
<div class="offset2 span5">
{% if errors %}
  <div class="alert alert-error">
    <a class="close">x</a><strong>Noen av opplysningene du oppgav er ugyldige.</strong><br>
    Vennligst se gjennom skjemaet, og rett alle felter som er markert røde.
  </div>
{% endif %}
{% if contact_missing %}
  <div class="alert alert-error">
    <a class="close">x</a><strong>Ugyldig kontaktinformasjon.</strong><br>
    Minst ett medlem av husstanden må ha gyldig kontaktinformasjon (både telefon og epost).
  </div>
{% endif %}
{% if saved and not errors %}
  <div class="alert alert-success">
    <a class="close">x</a><strong>Opplysningene er lagret.</strong><br>
    Legg til flere medlemmer på samme adresse, eller klikk "Gå videre" i boksen til høyre.
  </div>
{% endif %}
<form id="registration" action="{% url enrollment.views.registration %}" method="post">
  {% csrf_token %}
  {% if user.index >= 0 %}
    <input type="hidden" name="user" value="{{ user.index }}">
  {% endif %}
  <div class="control-group name">
    <label>Fullt navn <span class="asterisk red">*</span></label>
    <input type="text" class="span3" name="name" value="{{ user.name }}">
  </div>
  <div class="control-group dob">
    <label>Fødselsdato (dd.mm.åååå) <span class="asterisk red">*</span></label>
    <input type="text" class="span2 dob" name="dob" value="{{ user.dob|date:"d.m.Y" }}">
  </div>
  <div class="control-group gender">
    <label> Kjønn <span class="asterisk red">*</span></label>
    <input type="radio" name="gender" value="f"{% if user.gender == 'f' %} checked{% endif %}> Kvinne
    <input type="radio" name="gender" value="m"{% if user.gender == 'm' %} checked{% endif %}> Mann
  </div>
  <div class="address">
    <div class="control-group address">
      <label> Adresse <span class="asterisk red">*</span></label>
      <input type="text" class="span3" name="address" value="{{ address }}">
    </div>
    <div class="control-group zipcode">
      <label> Postnummer / Poststed <span class="asterisk red">*</span></label>
      <input type="text" class="span1" name="zipcode" value="{{ zipcode }}" maxlength="4">
      <input type="text" class="span2" name="location" disabled>
      <img src="{{ STATIC_URL }}img/ajax-loader-small.gif" class="ajaxloader" alt="Laster poststed..." title="Laster poststed...">
    </div>
  </div>
  <div class="control-group phone">
    <label> Telefon / Mobil <span class="asterisk">*</span></label>
    <input type="text" class="span2" name="phone" value="{{ user.phone }}">
  </div>
  <div class="control-group email">
    <label> Epost <span class="asterisk">*</span></label>
    <input type="text" class="span3" name="email" value="{{ user.email }}">
  </div>
  <label class="checkbox">
    <input type="checkbox" name="key"{% if user.key %} checked{% endif %}> Jeg ønsker nøkkel til DNT-hyttene (100,- i depositum)
  </label>
  <button type="submit" class="btn btn-large"><i class="icon-user"></i> {% if user.index >= 0 %}Lagre endringer{% else %}Legg til medlem{% if users|length > 0 %} på samme adresse{% endif %}{% endif %}</button><br>
</form>

</div>

{% if users %}
<div class="span3">
  <div class="well">
    <h2>Medlemmer</h2>
    <table class="table table-bordered memberlist">
    {% for user in users %}
      <tr>
        <td>
          <a href="{% url enrollment.views.registration user.index %}" title="Rediger {{ user.name }}">
            {% if user.name %}
              {{ user.name }}
            {% else %}
              (Anonym)
            {% endif %}
          </a>
          <span class="remove">
            <a href="{% url enrollment.views.remove user.index %}"><i class="icon-remove" title="Fjern {{ user.name }}"></i></a>
          </span>
        </td>
      </tr>
    {% endfor %}
    </table>
    <label class="checkbox">
      <input type="checkbox" class="conditions"{% if conditions %} checked{% endif %}> {% if users|length > 1 %}Vi{% else %}Jeg{% endif %} har lest og godtar <a href="{% url enrollment.views.conditions %}" target="_blank">betingelsene</a>
    </label>
    <p><a href="{% url enrollment.views.household %}" class="btn btn-success btn-large step2{% if user.index >= 0 %} post{% endif %}">Gå videre <i class="icon-arrow-right"></i></a></p>
  </div>
</div>
{% endif %}

<div class="span3">
  <div class="well">
    <p><i class="icon-info-sign"></i> <strong>Har du spørsmål?</strong></p>
    <p>
      Kontakt medlemsservice:<br>
      Telefon: 4000 1970<br>
      Åpent alle hverdager:<br>
      Kl. 09.00 - 16.00<br>
      E-post: <a href="mailto:medlem@turistforeningen.no">medlem@turistforeningen.no</a>
    </p>
  </div>
</div>

<div class="span3">
  <div class="well">
    <p>
      <span class="asterisk red">*</span> = Obligatorisk felt<br>
      <span class="asterisk">*</span> = Obligatorisk for én person (for deg som melder inn flere)
    </p>
  </div>
</div>

</div>

{% endblock %}
