{% extends 'layout.html' %}
{% block extra_scripts %}
  <script src="{{ STATIC_URL }}js/enrollment.js"></script>
  <script src="{{ STATIC_URL }}lib/jquery-ui/jquery-ui-1.8.17.custom.min.js"></script>
{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/jquery-ui/jquery-ui-1.8.17.custom.css" media="screen">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/enrollment.css" media="screen">
{% endblock %}

{% block body %}

<div class="row">
<div class="offset2 span8">
<h1>Bli medlem</h1>
</div>
</div>

<div class="row">
<div class="offset2 span5">
<form id="registration" action="{% url enrollment.views.registration2 %}" method="post">
  {% csrf_token %}
  <label>Fornavn</label>
  <input type="text" class="span3" name="firstname" placeholder="Kari">
  <label>Etternavn</label>
  <input type="text" class="span3" name="lastname" placeholder="Nordmann">
  <label>Fødselsdato</label>
  <input type="text" class="span2 dob" name="dob"><span class="help-inline membershiptype"></span>
  <label>Adresse</label>
  <input type="text" class="span3" placeholder="Turveien 15">
  <label>Postnummer / Poststed</label>
  <input type="text" class="span1" name="zipcode" placeholder="1234">
  <input type="text" class="span2" name="city" disabled>
  <label>Mobil</label>
  <input type="text" class="span2" placeholder="12 34 56 78">
  <label>Epost</label>
  <input type="text" class="span3" placeholder="ola@eksempel.no">
  <label class="checkbox">
    <input type="checkbox" name="household"> Husstandsmedlem (<a>Mer informasjon</a>)
  </label>
  <div class="householdmember">
    <label>Medlemsnummer til hovedmedlemmet:</label>
    <input type="text" class="span2" name="householdmember" placeholder="1234567">
  </div>
  <label class="checkbox">
    <input type="checkbox"> Jeg ønsker nøkkel til DNT hyttene (100,- i depositum)
  </label>
  <label class="checkbox">
    <input type="checkbox"> Jeg har lest og godtar <a>betingelsene</a>
  </label>
  <button type="submit" class="btn">Gå videre</button>
</form>

</div>
<div class="span5">
  <div class="well">
    <p><i class="icon-info-sign"></i> <strong>Har du spørsmål?</strong> Kontakt medlemsservice:</p>

    <p>
      Telefon: 4000 1970<br>
      Åpent alle hverdager: kl. 09.00 - 16.00<br>
      E-post: <a href="mailto:medlem@turistforeningen.no">medlem@turistforeningen.no</a>
    </p>
  </div>

  <div class="well">
    <i class="icon-info-sign"></i> <strong>Hva er et husstandsmedlem?</strong><br>
    Hvis en husstand har minst ett <em>hovedmedlem</em>, kan resten av husstanden melde seg inn som <em>husstandsmedlem</em> til rabattert pris. <a href="{% url enrollment.views.types %}">Les mer her</a>.
  </div>
</div>
</div>

{% endblock %}
