{% extends 'layout.html' %}
{% block extra_scripts %}
  <script src="{{ STATIC_URL }}js/enrollment.js"></script>
  <script src="{{ STATIC_URL }}lib/jquery-ui/jquery-ui-1.8.17.custom.min.js"></script>
{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/jquery-ui/jquery-ui-1.8.17.custom.css" media="screen">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/enrollment.css" media="screen">
{% endblock %}

{% block body %}

<div class="row">
<div class="offset2 span8">
<h1>Bli medlem</h1>
</div>
</div>

<div class="row">
<div class="offset2 span5">
<form id="registration" action="{% url enrollment.views.registration2 %}" method="post">
  {% csrf_token %}
  <label>Fullt navn</label>
  <input type="text" class="span3" name="name" value="{{ registration.name }}" placeholder="Kari Nordmann">
  <label>Fødselsdato</label>
  <input type="text" class="span2 dob" name="dob" value="{{ registration.dob|date:"d.m.Y" }}">
  <label>Adresse</label>
  <input type="text" class="span3" name="address" value="{{ registration.address }}" placeholder="Turveien 15">
  <label>Postnummer / Poststed</label>
  <input type="text" class="span1" name="zipcode" value="{{ registration.zipcode }}" placeholder="1234">
  <input type="text" class="span2" name="location" value="{{ registration.location }}" disabled>
  <label>Telefon / Mobil</label>
  <input type="text" class="span2" name="phone" value="{{ registration.phone }}" placeholder="12 34 56 78">
  <label>Epost</label>
  <input type="text" class="span3" name="email" value="{{ registration.email }}" placeholder="ola@eksempel.no">
  <label class="checkbox">
    <input type="checkbox" name="household"{% if registration.household %} {{ registration.household }}{% endif %}> Husstandsmedlem (<a href="{% url enrollment.views.types %}" target="_blank">Mer informasjon</a>)
  </label>
  <div class="householdmember{% if not registration.household %} hide{% endif %}">
    <label>Medlemsnummer til hovedmedlemmet:</label>
    <input type="text" class="span2" name="householdmember" value="{{ registration.householdmember }}" placeholder="1234567">
  </div>
  <label class="checkbox">
    <input type="checkbox" name="key"{% if registration.key %} {{ registration.key }}{% endif %}> Jeg ønsker nøkkel til DNT hyttene (100,- i depositum)
  </label>
  <label class="checkbox">
    <input type="checkbox"> Jeg har lest og godtar <a>betingelsene</a>
  </label>
  <button type="submit" class="btn">Gå videre</button>
</form>

</div>
<div class="span5">
  <div class="well">
    <p><i class="icon-info-sign"></i> <strong>Har du spørsmål?</strong> Kontakt medlemsservice:</p>

    <p>
      Telefon: 4000 1970<br>
      Åpent alle hverdager: kl. 09.00 - 16.00<br>
      E-post: <a href="mailto:medlem@turistforeningen.no">medlem@turistforeningen.no</a>
    </p>
  </div>

  <div class="well">
    <i class="icon-info-sign"></i> <strong>Hva er et husstandsmedlem?</strong><br>
    Hvis en husstand har minst ett <em>hovedmedlem</em>, kan resten av husstanden melde seg inn som <em>husstandsmedlem</em> til rabattert pris. <a href="{% url enrollment.views.types %}">Les mer her</a>.
  </div>
</div>
</div>

{% endblock %}
