{% extends 'enrollment/index.html' %}
{% block extra_js %}
  <script src="{{ STATIC_URL }}js/enrollment/registration.js"></script>
  <script src="{{ STATIC_URL }}lib/jquery-ui/jquery-ui-1.8.17.custom.min.js"></script>
{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/jquery-ui/jquery-ui-1.8.17.custom.css" media="screen">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/enrollment.css" media="screen">
{% endblock %}

{% block enrollment %}

{% if errors %}
<script>
  // Trigger form validations
  $(document).ready(function() {
    $("form#registration input").focusout();
    validateDatepicker();
    validateGender();
  });
</script>
{% endif %}

<script>
  $(document).ready(function() {
    phone_required = {% if users|length == 0 %}true{% else %}false{% endif %};
    email_required = {% if users|length == 0 %}true{% else %}false{% endif %};
  });
</script>

<div class="row">
  <div class="offset2 span8">
    {% if too_many_underage %}
      <div class="notice-alert">
        <h2>Beklager, men du kan ikke registrere disse medlemmene!</h2>
        <p>Du har registrert {{ users|length }} medlemmer, hvorav ingen er gammel nok til å være hovedmedlem. Av tekniske årsaker kan du melde inn maks 3 slike medlemmer av gangen.</p>
        <p>Vi beklager ulempene dette medfører og vi arbeider med å unngå en slik begrensning.</p>
      </div>
    {% endif %}
    {% if errors %}
      <div class="alert alert-error">
        <a class="close">x</a><strong>Noen av opplysningene du oppgav er ugyldige.</strong><br>
        Vennligst se gjennom skjemaet, og rett alle felter som er markert røde.
      </div>
    {% endif %}
    {% if contact_missing %}
      <div class="alert alert-error">
        <a class="close">x</a><strong><i class="icon-warning-sign"></i> Ugyldig kontaktinformasjon.</strong><br>
        Minst ett medlem av husstanden må ha gyldig kontaktinformasjon (både telefon og e-post).
      </div>
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="span8">

    {% include 'enrollment/progress.html' with step=1 %}

    {% if users %}
      <div class="well">
        <h2>Du har registrert:</h2>
        <table class="table table-bordered memberlist">
        {% for user in users %}
          <tr>
            <td>
              <a href="{% url enrollment.views.registration user.index %}" title="Rediger {{ user.name }}">
                {% if user.name %}
                  {{ user.name }}
                {% else %}
                  (Anonym)
                {% endif %}
              </a>
              <span class="remove">
                <a href="{% url enrollment.views.remove user.index %}"><i class="icon-remove" title="Fjern {{ user.name }}"></i></a>
              </span>
            </td>
          </tr>
        {% endfor %}
        </table>
        <label class="checkbox">
          <input type="checkbox" class="conditions"{% if conditions %} checked{% endif %}> {% if users|length > 1 %}Vi{% else %}Jeg{% endif %} har lest og godtar <a href="javascript:undefined" class="dialog-button" data-dialog=".dialog.conditions">betingelsene</a>
        </label>
        <p><a href="{% url enrollment.views.household %}" class="btn btn-danger btn-large step2{% if user.index >= 0 %} post{% endif %}">Gå videre <i class="icon-arrow-right"></i></a></p>
      </div>
      <h2>Legg til flere medlemmer på samme adresse:</h2>
      <br>
    {% endif %}

    <form id="registration" class="border" action="{% url enrollment.views.registration %}" method="post">
      {% csrf_token %}
      {% if user.index >= 0 %}
        <input type="hidden" name="user" value="{{ user.index }}">
      {% endif %}
      <div class="control-group name">
        <label>Fullt navn <span class="asterisk red">*</span></label>
        <input type="text" class="input-large" name="name" value="{{ user.name }}">
      </div>
      <div class="control-group dob">
        <label>Fødselsdato (dd.mm.åååå) <span class="asterisk red">*</span></label>
        <input type="text" class="input-medium dob" name="dob" value="{{ user.dob|date:"d.m.Y" }}">
      </div>
      <div class="control-group gender">
        <label> Kjønn <span class="asterisk red">*</span></label>
        <label class="radio">
          <input type="radio" name="gender" value="f"{% if user.gender == 'f' %} checked{% endif %}> Kvinne
        </label>
        <label class="radio">
          <input type="radio" name="gender" value="m"{% if user.gender == 'm' %} checked{% endif %}> Mann
        </label>
      </div>
      <div class="control-group phone">
        <label> Mobiltelefon {% if users|length == 0 %}<span class="asterisk red">*</span>{% endif %}</label>
        <input type="text" class="input-medium" name="phone" value="{{ user.phone }}">
      </div>
      <div class="control-group email">
        <label> E-post {% if users|length == 0 %}<span class="asterisk red">*</span>{% endif %}</label>
        <input type="text" class="input-large" name="email" value="{{ user.email }}">
      </div>
      <label class="checkbox">
        <input type="checkbox" name="key"{% if user.key %} checked{% endif %}> Jeg ønsker nøkkel til DNT-hyttene (100,- i depositum)
      </label>
      <button type="submit" class="btn btn-large"><i class="icon-user"></i> {% if user.index >= 0 %}Lagre endringer{% else %}Legg til medlem{% endif %}</button><br>
    </form>
  </div>

  <div class="span4">
    <div class="well">
      <p><i class="icon-info-sign"></i> <strong>Har du spørsmål?</strong></p>
      <p>
        Kontakt medlemsservice:<br>
        Telefon: 4000 1970<br>
        <a href="mailto:medlem@turistforeningen.no">medlem@turistforeningen.no</a><br>
        Åpent alle hverdager:<br>
        Kl. 09.00 - 16.00
      </p>
    </div>
  </div>
</div>

{# Conditions dialog #}
<div class="dialog conditions" data-width="90%">
  <h1>Betingelser for medlemskap i Den Norske Turistforening</h1>
  <ul>
    <li>Medlemskap i Den Norske Turistforening (DNT) følger kalenderåret og
  gjelder fra 1. januar til 31. desember. Etter 1. oktober kan man kjøpe
  medlemskap for påfølgende år. </li>
    <li>Medlemskapet er personlig.</li>
    <li>Det er ingen angrerett på betalt medlemsskap.</li>
    <li>Medlemstypene er aldersbegrenset, men uføretrygdede (minst 50%) gis rett til honnørmedlemskap. Student/Ungdomsmedlemskap gjelder kun ungdom i alder 19 - 26 år.</li>
    <li>Medlemskapet er ikke gyldig før det er betalt og medlemskortet er kun gyldig med stempel eller oblat fra bank/post.</li>
    <li>DNT forplikter seg til ikke å videreformidle personlige opplysninger til andre enn våre egne lokalforeninger.</li>
  </ul>

  <p>
    Sist endret: 15. mars 2012.<br>
    Med forbehold om endringer i løpet av medlemsåret.
  </p>

  <p><a href="javascript:undefined" class="btn btn-danger btn-large close-dialog"><i class="icon-remove"></i> Lukk vindu</a></p>
</div>

{% endblock %}
