{% extends 'layout.html' %}
{% block extra_scripts %}
  <script src="{{ STATIC_URL }}js/enrollment.js"></script>
  <script src="{{ STATIC_URL }}lib/jquery-ui/jquery-ui-1.8.17.custom.min.js"></script>
{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/jquery-ui/jquery-ui-1.8.17.custom.css" media="screen">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/enrollment.css" media="screen">
{% endblock %}

{% block body %}

<div class="row">
<div class="offset2 span8">
<h1>Bli medlem</h1>
</div>
</div>

<div class="row">
<div class="offset2 span5">
<form id="registration" action="{% url enrollment.views.registration %}" method="post">
  {% csrf_token %}
  {% if current %}
    <input type="hidden" name="user" value="{{ current.index }}">
  {% endif %}
  <label>Fullt navn</label>
  <input type="text" class="span3" name="name" value="{{ current.user.name }}">
  <label>Fødselsdato</label>
  <input type="text" class="span2 dob" name="dob" value="{{ current.user.dob }}">
  <div class="address">
    <label>Adresse</label>
    <input type="text" class="span3" name="address" value="{{ current.user.address }}">
    <label>Postnummer / Poststed</label>
    <input type="text" class="span1" name="zipcode" value="{{ current.user.zipcode }}">
    <input type="text" class="span2" name="location" value="{{ current.user.location }}" disabled>
  </div>
  <label>Telefon / Mobil</label>
  <input type="text" class="span2" name="phone" value="{{ current.user.phone }}">
  <label>Epost</label>
  <input type="text" class="span3" name="email" value="{{ current.user.email }}">
  <label class="checkbox">
    <input type="checkbox" name="key"{% if current.user.key %} checked{% endif %}> Jeg ønsker nøkkel til DNT hyttene (100,- i depositum)
  </label>
  <label class="checkbox">
    <input type="checkbox"> Jeg har lest og godtar <a href="{% url enrollment.views.conditions %}" target="_blank">betingelsene</a>
  </label>
  <button type="submit" class="btn btn-primary" name="next" value="new"><i class="icon-user"></i> Legg til flere medlemmer</button>
  <button type="submit" class="btn btn-success" name="next" value="done">Gå videre <i class="icon-arrow-right"></i></button>
</form>

</div>
<div class="span3">
  <div class="well">
    <p><i class="icon-info-sign"></i> <strong>Har du spørsmål?</strong></p>

    <p>
      Kontakt medlemsservice:<br>
      Telefon: 4000 1970<br>
      Åpent alle hverdager:<br>
      Kl. 09.00 - 16.00<br>
      E-post: <a href="mailto:medlem@turistforeningen.no">medlem@turistforeningen.no</a>
    </p>
  </div>
</div>

{% if users %}
<div class="span3">
  <div class="well">
    <h2>Medlemmer</h2>
    <table class="table table-bordered memberlist">
    {% for user in users %}
      <tr>
        <td>
          <a href="{% url enrollment.views.registration user.index %}">{{ user.name }}</a>
          <span class="remove">
            <a href="{% url enrollment.views.remove user.index %}"><i class="icon-remove" title="Fjern {{ user.name }}"></i></a>
          </span>
        </td>
      </tr>
    {% endfor %}
    </table>
  </div>
</div>
{% endif %}

</div>

{% endblock %}
