{% extends 'layout.html' %}

{% block body %}

<div class="row">
<div class="offset2 span8">
  <h1>Medlemskategorier</h1>

  <table class="table">
    <tr>
      <th>Kategori</th>
      <th>Årspris</th>
      <th>Informasjon</th>
    </tr>
    <tr>
      <td>Hovedmedlem</td>
      <td>550,-</td>
      <td>27-67 år.</td>
    </tr>
    <tr>
      <td>Honnør</td>
      <td>425,-</td>
      <td>Over 67 år. Gis også til uføre. Kontakt <a>medlemsservice</a> hvis du er ufør og har rett til honnørmedlemskap.</td>
    </tr>
    <tr>
      <td>Student/ungdom</td>
      <td>295,-</td>
      <td>19-26 år.</td>
    </tr>
    <tr>
      <td>Skoleungdom</td>
      <td>175,-</td>
      <td>13-18 år.</td>
    </tr>
    <tr>
      <td>Barn</td>
      <td>110,-</td>
      <td>0-12 år.</td>
    </tr>
    <tr>
      <td>Husstandsmedlem</td>
      <td>250,-</td>
      <td>Husstandsmedlem må knyttes til et hovedmedlem eller student/ungdomsmedlem <strong>med samme adresse</strong>. Husstanden vil da kun motta ett eksemplar av årboken og Fjell og Vidde.</td>
    </tr>
    <tr>
      <td>Livsvarig medlem</td>
      <td>13750,-</td>
      <td>For å bli livsvarig medlem i DNT må du kontakte <a>medlemsservice</a>.</td>
    </tr>
  </table>

  <div class="well">
    <i class="icon-info-sign"></i> <strong>Merk:</strong>
    Alder regnes fra det din alder vil være <em>ved utgangen det året du melder deg inn</em>, uavhengig av når du melder deg inn. Det vil si at om du fyller 19 i år, selv om du er 18 akkurat nå, skal du ha studentedlemsskap.
  </div>

</div>
</div>

{% endblock %}
