{% extends 'layout.html' %}

{% block body %}

<div class="row">
<div class="offset2 span8">
  <h1>Medlemstyper</h1>

  <table class="table">
    <tr>
      <th>Medlemstype</th>
      <th>Informasjon</th>
    </tr>
    <tr>
      <td>Hovedmedlem</td>
      <td>Vanlige medlemmer.</td>
    </tr>
    <tr>
      <td>Husstandsmedlem</td>
      <td>Hvis flere i din husstand er medlemmer, kan alle bortsett fra én person i husstanden (hovedmedlemmet) melde seg inn som husstandsmedlem. Du får da billigere medlemspris, og husstanden vil kun motta ett eksemplar av årboken og Fjell og Vidde.</td>
    </tr>
    <tr>
      <td>Honnør</td>
      <td>Over 67 år. Gis også til uføre. Kontakt <a>medlemsservice</a> hvis du er ufør og har rett til honnørmedlemskap.</td>
    </tr>
    <tr>
      <td>Student/ungdom</td>
      <td>19-26 år.</td>
    </tr>
    <tr>
      <td>Skoleungdom</td>
      <td>13-18 år.</td>
    </tr>
    <tr>
      <td>Barn</td>
      <td>0-12 år.</td>
    </tr>
    <tr>
      <td>Livsvarig medlem</td>
      <td>Hvis du ønsker å bli livsvarig medlem i DNT må du kontakte <a>medlemsservice</a>.</td>
    </tr>
  </table>

  <p>
    <strong>Merk:</strong>
    Din alder regnes fra din alder ved utgangen det året du melder deg inn, uavhengig av når du melder deg inn. Det vil si at det året du fyller 18 år, selv om du skulle ha fødselsdag i februar, har du likevel rett på skoleungdom-medlemskap for det året.
  </p>

</div>
</div>

{% endblock %}
