{% extends 'layout.html' %}

{% block body %}

<div class="row">
<div class="offset2 span8">
  <h1>Medlemstyper</h1>

  <p>
    <strong>Alder:</strong>
    Din alder regnes fra din alder ved utgangen det året du melder deg inn, uavhengig av når du melder deg inn. Det vil si at det året du fyller 18 år, selv om du skulle ha fødselsdag i februar, har du likevel rett på skoleungdom-medlemskap for det året.
  </p>

  <table class="table">
    <tr>
      <th>Medlemstype</th>
      <th>Informasjon</th>
    </tr>
    <tr>
      <td>Hovedmedlem</td>
      <td>Vanlige medlemmer.</td>
    </tr>
    <tr>
      <td>Husstandsmedlem</td>
      <td>Tilknyttes et hovedmedlem (eller evt. honnør-, student- eller skole-medlem.</td>
    </tr>
    <tr>
      <td>Honnør</td>
      <td>Over 67 år. Gis også til uføre. Kontakt <a>medlemsservice</a> hvis du er ufør og har rett til honnørmedlemskap.</td>
    </tr>
    <tr>
      <td>Student/ungdom</td>
      <td>19-26 år.</td>
    </tr>
    <tr>
      <td>Skoleungdom</td>
      <td>13-18 år.</td>
    </tr>
    <tr>
      <td>Barn</td>
      <td>0-12 år.</td>
    </tr>
    <tr>
      <td>Livsvarig medlem</td>
      <td>Hvis du ønsker å bli livsvarig medlem i DNT må du kontakte <a>medlemsservice</a>.</td>
    </tr>
  </table>

  <h2></h2>
</div>
</div>

{% endblock %}
