{% extends 'enrollment/index.html' %}
{% block extra_js %}
  <script src="{{ STATIC_URL }}js/enrollment/verification.js"></script>
{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/enrollment.css" media="screen">
{% endblock %}

{% block title %}Innmelding{% endblock %}

{% block enrollment %}

<script>
  var price_key = {{ keyprice }};
  var price_foreign_yearbook = {{ foreign_yearbook_price }};
  var price_main = {{ price_main }};
  var price_household = {{ price_household }};
  var price_senior = {{ price_senior }};
  var price_student = {{ price_student }};
  var price_school = {{ price_school }};
  var price_child = {{ price_child }};

  var age_senior = {{ age_senior }};
  var age_main = {{ age_main }};
  var age_student = {{ age_student }};
  var age_school = {{ age_school }};
</script>

<div class="row">
  <div class="offset3 span6 errors">

    {% if invalid_main_member %}
      <div class="alert alert-error">
        <a class="close">x</a>
        <strong><i class="icon-warning-sign"></i> Ugyldig hovedmedlem</strong><br>
        En teknisk feil oppstod, som gjorde at du valgte et barnemedlem eller skoleungdomsmedlem som hovedmedlem. Dette er ikke tillatt. Vennligst prøv igjen, eller kontakt medlemsservice dersom feilen vedvarer.
      </div>
    {% endif %}

    {% if no_main_member %}
      <div class="alert alert-error">
        <a class="close">x</a>
        <strong><i class="icon-warning-sign"></i> Mangler hovedmedlem</strong><br>
        En teknisk feil oppstod, som gjorde at du ikke valgte hvem som er hovedmedlem, selv om du har registrert medlemmer som er eldre enn studentmedlemsalderen. I dette tilfellet må et hovedmedlem velges. Vennligst prøv igjen, eller kontakt medlemsservice dersom feilen vedvarer.
      </div>
    {% endif %}

    {% if nonexistent_main_member %}
      <div class="alert alert-error">
        <a class="close">x</a>
        <strong><i class="icon-warning-sign"></i> Ikke-eksisterende hovedmedlem</strong><br>
        En teknisk feil oppstod, som gjorde at du ikke fikk valgt hvem som skal være hovedmedlem. Vennligst prøv igjen, eller kontakt medlemsservice dersom feilen vedvarer.
      </div>
    {% endif %}

    {% if invalid_payment_method %}
      <div class="alert alert-error">
        <a class="close">x</a>
        <strong><i class="icon-warning-sign"></i> Ugyldig betalingsmåte</strong><br>
        Du må velge hvilken betalingsmetode du ønsker å bruke før du går videre.
      </div>
    {% endif %}

    {% if attempted_yearbook %}
    <div class="offset3 span6">
      <div class="alert alert-warning">
        <a class="close">x</a>
        <strong><i class="icon-info-sign"></i> Årbok og Fjell og Vidde må bestilles separat</strong><br>
        Dere har angitt at dere ønsker å motta årbok og Fjell og Vidde. Siden hovedmedlemmet ({{ existing_name }}) allerede er medlem, kan ikke disse bestilles i dette skjemaet. Ta kontakt med medlemsservice for å bestille disse.
      </div>
    {% endif %}

  </div>
</div>

<div class="row">
  <div class="span8">

    {% include 'enrollment/progress.html' with step=3 %}

    <div class="verification border">

      <h2>Registrerte opplysninger</h2>
      <table class="table prices">
        <thead>
          <tr>
            {% if multiple_main and not existing %}
              <th></th>
            {% endif %}
            <th>Personopplysninger</th>
            <th>Medlemstype</th>
            <th>Pris</th>
          </tr>
        </thead>
        <tbody>
          {% if existing %}
          <tr class="main">
            <td>{{ existing_name }}</td>
            <td>Hovedmedlem</td>
            <td>-</td>
          </tr>
          {% endif %}
          {% for user in users %}
            <tr data-index="{{ user.index }}" data-name="{{ user.name }}" data-age="{{ user.age }}">
              {% if multiple_main and not existing and user.age >= age_student %}
                <td class="choose-main">
                  <button class="btn main">Velg</button>
                  <span class="main">Hovedmedlem</span>
                </td>
              {% endif %}
              {% if multiple_main and not existing and user.age < age_student %}
                <td></td>
              {% endif %}
              <td>
                <div class="desc">
                  Navn:<br>
                  Kjønn:<br>
                  Født:<br>
                  {% if users|length == 1 and not existing %}
                    Adresse:
                    {% if country.code == 'NO' or country.code == 'DK' or country.code == 'SE' %}
                      {% if location.address1 %}<br>{% endif %}
                      <br>
                    {% else %}
                      {% if location.address1 %}<br>{% endif %}
                      {% if location.address2 %}<br>{% endif %}
                      {% if location.address3 %}<br>{% endif %}
                    {% endif %}
                    {% if country.code != 'NO' %}<br>{% endif %}
                  {% endif %}
                  {% if user.phone %}Telefon:<br>{% endif %}
                  {% if user.email %}E-post:{% endif %}
                </div>
                <div class="data">
                  {{ user.name }}<br>
                  {% if user.gender == 'm' %}
                    Mann
                  {% elif user.gender == 'f' %}
                    Kvinne
                  {% endif %}<br>
                  {{ user.dob|date:"j. F Y" }}<br>
                  {% if users|length == 1 and not existing %}
                    {% if country.code == 'NO' or country.code == 'DK' or country.code == 'SE' %}
                      {% if location.address1 %}{{ location.address1 }}<br>{% endif %}
                      {{ location.zipcode }} {{ location.city }}<br>
                    {% else %}
                      {% if location.address1 %}{{ location.address1 }}<br>{% endif %}
                      {% if location.address2 %}{{ location.address2 }}<br>{% endif %}
                      {% if location.address3 %}{{ location.address3 }}<br>{% endif %}
                    {% endif %}
                    {% if country.code != 'NO' %}{{ country.name }}<br>{% endif %}
                  {% endif %}
                  {% if user.phone %}{{ user.phone }}<br>{% endif %}
                  {% if user.email %}{{ user.email }}{% endif %}
                </div>
              </td>
              <td class="type"></td>
              <td><span class="price"></span>,-</td>
            </tr>
          {% endfor %}
          {% if users|length > 1 or existing %}
          <tr>
            {% if multiple_main and not existing %}
              <td></td>
            {% endif %}
            <td>
              <strong>Deres adresse:</strong><br>
                {% if country.code == 'NO' or country.code == 'DK' or country.code == 'SE' %}
                  {% if location.address1 %}{{ location.address1 }}<br>{% endif %}
                  {{ location.zipcode }} {{ location.city }}<br>
                {% else %}
                  {% if location.address1 %}{{ location.address1 }}<br>{% endif %}
                  {% if location.address2 %}{{ location.address2 }}<br>{% endif %}
                  {% if location.address3 %}{{ location.address3 }}<br>{% endif %}
                {% endif %}
                {% if country.code != 'NO' %}{{ country.name }}{% endif %}
            </td>
            <td colspan="2"></td>
          </tr>
          {% endif %}
          {% if keycount > 0 %}
          <tr>
            {% if multiple_main and not existing %}
              <td></td>
            {% endif %}
            <td colspan="2">Depositum {{ keycount }} {% if keycount > 1 %}DNT-nøkler{% else %}DNT-nøkkel{% endif %}</td>
            <td><span class="keyprice">{{ keyprice }}</span>,-</td>
          </tr>
          {% endif %}
          {% if yearbook %}
            <tr>
              {% if multiple_main and not existing %}
                <td></td>
              {% endif %}
              <td colspan="2">Årbok og Fjell og Vidde</td>
              <td><span class="yearbook-price">{{ foreign_yearbook_price }}</span>,-</td>
            </tr>
          {% endif %}
        </tbody>
        <tfoot>
          <tr>
            <th colspan="{% if multiple_main and not existing %}3{% else %}2{% endif %}">Totalt</th>
            <th><span class="totalprice"></span>,-</th>
          </tr>
        </tfoot>
      </table>

    </div>

    <form id="payment" action="{% url enrollment.views.payment %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="main-member" value="">
      <div class="control-group payment-method">
        <label> Velg betalingsmåte:</label>
        <input type="radio" name="payment-method" value="card" checked> VISA / MASTERCARD<br>
        <input type="radio" name="payment-method" value="invoice"> Få tilsendt faktura
      </div>
    </form>

    <div class="alert alert-error invoice-info">
      <a class="close">x</a>
      <strong><i class="icon-info-sign"></i> Med faktura blir du ikke medlem før du har betalt</strong><br>
      Om du ønsker å motta medlemsnummer med en gang, må du betale online med bankkort. Hvis ikke blir du ikke registrert medlem før fakturaen blir betalt.
    </div>

    {% if multiple_main and not existing %}
    <p>
      <i class="icon-info-sign"></i> <em>Hovedmedlemmet</em> er den som <em>husstandsmedlemmer</em> kan knyttes opp til, og må være minst {{ age_student }} år.
    </p>
    {% endif %}

    <p>Medlemskapet vil gjelde for <strong>{{ year }}{% if next_year %}, samt ut {{ year|add:1 }}{% endif %}</strong>.</p>

    <p>
      <a class="btn btn-large" href="{% url enrollment.views.household %}"><i class="icon-arrow-left"></i> Tilbake</a>
      <a href="javascript:undefined" class="btn btn-danger btn-large payment">Til betaling <i class="icon-arrow-right"></i></a>
    </p>

  </div>

  <div class="span4">
    <div class="well">
      <p><i class="icon-info-sign"></i> <strong>Har du spørsmål?</strong></p>
      <p>
        Kontakt medlemsservice:<br>
        Telefon: 4000 1970<br>
        <a href="mailto:medlem@turistforeningen.no">medlem@turistforeningen.no</a><br>
        Åpent alle hverdager:<br>
        Kl. 09.00 - 16.00
      </p>
    </div>
  </div>
</div>

{% endblock %}
