{% extends 'admin/layout.html' %}
{% block title %}Nyheter &mdash; {{ block.super }}{% endblock %}
{% block header %}<a href="{% url admin.articles.views.list %}">Nyheter</a>{% endblock %}
{% block extra_js %}
  <script src="{{ STATIC_URL }}js/admin/editor/article-delete.js"></script>
{% endblock %}
{% block body %}

<div class="row">
  <div class="span12">
    <h1>
      Slett artikkel?
    </h1>
    <p>
      Du er i ferd med å slette artikkelen "<a href="{% url articles.views.show version.variant.article.id version.title.content|striptags|slugify %}">{{ version.title.content|striptags }}</a>" <strong>for godt</strong>, er du sikker på at det er det du vil?
    </p>
    <p>
      Hvis du bare vil ta den bort fra forsiden og søkeresultater, men beholde innholdet, bør du heller bare avpublisere den.
    </p>
    <div class="alert alert-error final-confirm hide" style="text-align: center">
      <strong>
        Du kan ikke angre dette.
      </strong>
      <p>
        <a class="btn btn-danger" href="{% url admin.articles.views.delete version.variant.article.id %}"><i class="icon-warning-sign"></i> Jeg forstår, slett den likevel!</a>
      </p>
    </div>
    <p style="text-align: center">
      <button class="btn btn-large btn-danger confirm-delete"><i class="icon-warning-sign"></i> Ja, slett artikkelen for evig og alltid</button>
    </p>
    <p style="text-align: center">
      <a class="btn btn-large btn-success" href="{% url admin.articles.views.edit_version version.id %}"><i class="icon-heart"></i> NEI! Jeg har ombestemt meg, ikke slett noe.</a>
    </p>
  </div>
</div>

{% endblock %}

