{% extends "admin/layout.html" %}
{% block title %}Artikler &mdash; Sherpa 3{% endblock %}
{% block header %} → <a href="{% url admin.articles.views.list %}">Artikler</a>{% endblock %}
{% block extra_scripts %}
  <script src="{{ STATIC_URL }}js/admin-editor-common.js"></script>
  <script src="{{ STATIC_URL }}js/admin-editor-article.js"></script>
{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/admin-editor-common.css" media="screen">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/admin-editor-articles.css" media="screen">
{% endblock %}
{% block body %}

{# Used for AJAX requests. #}
{% csrf_token %}

<div id="toolbar">
  <ul class="nav nav-tabs">
    <li class="active"><a href="javascript:undefined">Lagre</a></li>
    <li><a href="javascript:undefined">Formatering</a></li>
  </ul>
  <div id="tabs">
    <div class="tab">
      <a class="save" href="javascript:undefined"><img src="{{ STATIC_URL }}img/editorbuttons/save.png"></a>
    </div>
    <div class="tab">
      <div class="button bold"></div>
      <div class="button italic"></div>
      <div class="button underline"></div>
      <div class="button ol"></div>
      <div class="button ul"></div>
      <div class="button align-left"></div>
      <div class="button align-center"></div>
      <div class="button align-right"></div>
    </div>
    <div style="clear: both;"></div>
  </div>
</div>

<article data-id="{{ version.id }}">

{% for row in rows %}
<div class="row">
  {% for column in row.columns %}
    <div class="offset{{ column.offset }} span{{ column.span }}">
      {% for content in column.contents %}
        {% if content.type == 'h' %}
          <div class="content" data-id="{{ content.id }}">{{ content.content|safe }}</div>
        {% else %}
          {% include content.widget.template with widget=content.widget %}
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
</div>
{% endfor %}

</article>

{% endblock %}
