{% extends "admin/layout.html" %}
{% block title %}Artikler &mdash; {{ block.super }}{% endblock %}
{% block header %}<a href="{% url admin.articles.views.list %}">Artikler</a> → <a class="header-title" href="{% url admin.articles.views.edit_version version.id %}">{{ title|striptags }}</a>{% endblock %}
{% block extra_js %}
  <script src="{{ STATIC_URL }}lib/bootstrap/js/bootstrap-tab.js"></script>
  <script src="{{ STATIC_URL }}lib/rangy/rangy-core.js"></script>
  <script src="{{ STATIC_URL }}lib/jquery/jQuery.ajaxQueue.min.js"></script>
  <script src="{{ STATIC_URL }}js/admin/editor/main.js"></script>
  <script src="{{ STATIC_URL }}js/admin/editor/save.js"></script>
  <script src="{{ STATIC_URL }}js/admin/editor/widgets.js"></script>
  <script src="{{ STATIC_URL }}js/admin/editor/article.js"></script>
  <script src="{{ STATIC_URL }}js/admin/editor/image.js"></script>
  <script src="{{ STATIC_URL }}js/admin/editor/toolbar.js"></script>
{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/admin/editor/main.css" media="screen">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/admin/editor/image.css" media="screen">
{% endblock %}

{% block body %}

<div class="row">
  <div class="span12">
    <div class="well editor-header article" data-id="{{ version.variant.article.id }}">
      <div class="preview-image">
        <h1 class="sherpa">Minibilde til forhåndsvisninger:</h1>
        <input type="radio" name="thumbnail" value="none"{% if version.hide_thumbnail %} checked{% endif %}> Ikke vis minibilde<br>
        <input type="radio" name="thumbnail" value="default"{% if not version.hide_thumbnail and not version.variant.article.thumbnail %} checked{% endif %}> Bruk liten versjon av hovedbildet<br>
        <input type="radio" name="thumbnail" value="new"{% if not version.hide_thumbnail and version.variant.article.thumbnail %} checked{% endif %}> Bruk et annet bilde<br>
        <img class="article-thumbnail" src="{% if not version.variant.article.thumbnail %}{{ STATIC_URL }}img/placeholder.jpg{% else %}{{ version.variant.article.thumbnail }}{% endif %}" alt="{{ title|striptags }}">
      </div>

      <div class="status"{% if version.variant.article.published %} data-published{% endif %}>
        <div class="save">
          <table>
            <tr>
              <td>
                <h1 class="sherpa publish">Artikkelen er
                  {% if version.variant.article.published %}
                    <span class="true">publisert</span>.
                  {% else %}
                    <span class="false">ikke publisert</span>.
                  {% endif %}
                </h1>
              </td>
              <td>
                <button class="btn btn-success publish"><i class="icon-ok"></i> Publisér</button>
                <button class="btn btn-danger unpublish"><i class="icon-remove"></i> Avpublisér</button>
              </td>
            </tr>
            <tr>
              <td><span class="save-text"><i class="icon-ok"></i> Artikkelen er nylig lagret.</span></td>
              <td><button class="btn btn-success save"><i class="icon-heart"></i> Lagre nå</button></td>
            </tr>
          </table>
        </div>
        <a class="btn btn-danger delete-article" href="{% url admin.articles.views.delete version.variant.article.id %}">
          <i class="icon-warning-sign"></i> Slett artikkelen for godt
        </a>
      </div>

      <div style="clear: both;"></div>
    </div>
  </div>
</div>

{% include 'admin/editor/advanced.html' with toolbar_article=1 %}
{% endblock %}
