{% extends "admin/articles/edit.html" %}
{% block body %}
{{ block.super }}

<article>

{% for row in rows %}
<div class="row">
  {% for column in row.columns %}
    <div class="offset{{ column.offset }} span{{ column.span }}">
      {% for content in column.contents %}
        {% if content.type == 'h' %}
          <div class="content" data-id="{{ content.id }}">{{ content.content|safe }}</div>
        {% else %}
          {% include content.widget.template with widget=content.widget %}
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
</div>
{% endfor %}

</article>
{% endblock %}
