{% extends "admin/layout.html" %}
{% block title %}Artikler &mdash; {{ block.super }}{% endblock %}
{% block header %} → <a href="{% url admin.articles.views.list %}">Artikler</a> → <a class="header-title" href="{% url admin.articles.views.edit article.id %}">{{ article.title }}</a>{% endblock %}
{% block extra_js %}
  <script src="{{ STATIC_URL }}js/admin/articles.js"></script>
  <script src="{{ STATIC_URL }}js/admin/editor/image.js"></script>
{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/admin/image.css" media="screen">
{% endblock %}

{% block body %}

{# For AJAX requests #}
{% csrf_token %}

<div class="row">
  <div class="span12">

    <div class="well edit-article-header" data-id="{{ article.id }}">
      <div class="published true"{% if article.published %} data-active{% endif %}>
        <p>Publisert</p>
          <button class="btn btn-danger btn-large publish"><i class="icon-remove"></i> Avpublisér</button>
      </div>
      <div class="published false"{% if not article.published %} data-active{% endif %}>
        <p>Ikke publisert</p>
          <button class="btn btn-success btn-large publish"><i class="icon-ok"></i> Publisér</button>
      </div>
      <img class="article-thumbnail" src="{{ article.thumbnail }}" alt="{{ article.title }}">
      <h2 class="title">{{ article.title }}</h2>
      <p class="description"><i class="icon-pencil"></i> <span class="description">{{ article.description }}</span></p>
      <div style="clear: both;"></div>
    </div>

    <table class="table">
      <tr>
        <th>Versjon</th>
        <th>Opprettet av</th>
        <th>Aktiv</th>
        <th>Redigér innhold</th>
      </tr>
      {% for version in versions %}
      <tr{% if version.active %} class="active"{% endif %}>
        <td>{{ version.version }}.</td>
        <td>{{ version.publisher.user.get_full_name }}</td>
        <td>
          {% if version.active %}
            <i class="icon-ok"></i> Aktiv
          {% else %}
            <button class="btn btn-success"><i class="icon-ok"></i> Aktivér</button>
          {% endif %}
        </td>
        <td><a class="btn btn-success" href="{% url admin.articles.views.edit_version version.id %}"><i class="icon-pencil"></i> Redigér</button></td>
      </tr>
      {% endfor %}
    </table>

  </div>
</div>

{% include 'admin/editor/change-image-dialog.html' with anchor=0 alt=0 %}

{% endblock %}
