{% extends "admin/layout.html" %}
{% block title %}Artikler &mdash; Sherpa 3{% endblock %}
{% block header %} → <a href="{% url admin.articles.views.list %}">Artikler</a>{% endblock %}
{% block extra_scripts %}
  <script src="{{ STATIC_URL }}js/admin-editor-common.js"></script>
  <script src="{{ STATIC_URL }}js/admin-editor-article.js"></script>
{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/admin-editor-common.css" media="screen">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/admin-editor-articles.css" media="screen">
{% endblock %}
{% block body %}

<div id="toolbar">
  <ul>
    <li><a href="javascript:undefined">Formatering</a></li>
  </ul>
  <div id="tabs">
    <div class="tab">
      <a class="save" href="javascript:undefined"><img src="{{ STATIC_URL }}img/editorbuttons/save.png"></a><a class="bold" href="javascript:undefined"><img src="{{ STATIC_URL }}img/editorbuttons/bold-inactive.png"></a><a class="italic" href="javascript:undefined"><img src="{{ STATIC_URL }}img/editorbuttons/italic-inactive.png"></a><a class="underline" href="javascript:undefined"><img src="{{ STATIC_URL }}img/editorbuttons/underline-inactive.png"></a>
    </div>
  </div>
</div>

{% endblock %}
