{% extends "admin/layout.html" %}
{% block title %}Artikler &mdash; Sherpa 3{% endblock %}
{% block header %}<a href="{% url admin.articles.views.list %}">Artikler</a>{% endblock %}
{% block body %}

<div class="row">
  <div class="offset5 span2">
  <p><a id="add-article" class="btn btn-success btn-large large-button dialog-button" data-dialog=".article-dialog" href="javascript:undefined"><i class="icon-plus"></i> Opprett ny artikkel</a></p>
  </div>
</div>

{% if not versions %}
<div class="alert alert-info">Det er ikke opprettet noen artikler ennå.</div>
{% else %}

<table class="table table-striped">
<thead>
<tr>
  <th>Artikkel</th>
  <th>Publisert</th>
  <th>Opprettet av</th>
</tr>
</thead>
<tbody>
{% for version in versions %}
<tr>
  <td class="article-preview">
    <div class="article-preview">
      <a href="{% url admin.articles.views.edit_version version.id %}">
        <img src="{{ version.thumbnail }}" alt="{{ version.title.content|striptags }}">
      </a>
      <h2>
        <a href="{% url admin.articles.views.edit_version version.id %}">
          {{ version.title.content|striptags }}
        </a>
      </h2>
      <div class="lede">
        <a href="{% url admin.articles.views.edit_version version.id %}">
          {{ version.lede.content|removetags:"a"|safe }}
        </a>
      </div>
  </td>
  <td>{% if version.variant.article.published %}Ja &mdash; {{ version.variant.article.pub_date }}{% else %}Nei{% endif %}</td>
  <td>{{ version.variant.article.publisher.user.get_full_name }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}

<div class="dialog article-dialog" data-title="Opprett ny artikkel" data-width="auto">
  <form action="{% url admin.articles.views.new %}" method="post">
    {% csrf_token %}
    <label>Tittel på artikkelen:</label>
    <input type="text" name="title"><br>
    <input type="submit" value="Opprett artikkel">
  </form>
</div>

{% endblock %}
