{% extends "admin/layout.html" %}
{% block title %}Artikler &mdash; {{ block.super }}{% endblock %}
{% block header %}<a href="{% url admin.articles.views.list %}">Artikler</a>{% endblock %}
{% block extra_js %}
  <script src="{{ STATIC_URL }}js/admin/articles.js"></script>
{% endblock %}
{% block body %}

<div class="row">
  <div class="span12">
    <p style="text-align: center;"><a id="add-article" class="btn btn-success btn-large dialog-button" data-dialog=".article-dialog" href="javascript:undefined"><i class="icon-plus"></i> Opprett ny artikkel</a></p>
  </div>
</div>

{% if not versions %}
<div class="alert alert-info">Det er ikke opprettet noen artikler ennå.</div>
{% else %}

<table class="table table-striped">
<thead>
<tr>
  <th>Artikkel</th>
  <th>Publisert</th>
  <th>Opprettet av</th>
</tr>
</thead>
<tbody>
{% for version in versions %}
<tr>
  <td class="article-preview">
    <div class="article-preview">
      {% if not version.hide_thumbnail %}
        <a href="{% url admin.articles.views.edit_version version.id %}">
          <img src="{{ version.thumbnail }}" alt="{{ version.title.content|striptags }}">
        </a>
      {% endif %}
      <h2>
        <a href="{% url admin.articles.views.edit_version version.id %}">
          {{ version.title.content|striptags }}
        </a>
      </h2>
      <div class="lede">
        <a href="{% url admin.articles.views.edit_version version.id %}">
          {{ version.lede.content|striptags|safe|truncatewords:40 }}
        </a>
      </div>
  </td>
  <td>{% if version.variant.article.published %}Ja &mdash; {{ version.variant.article.pub_date }}{% else %}Nei{% endif %}</td>
  <td>{{ version.variant.article.publisher.user.get_full_name }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}

<div class="dialog article-dialog" data-title="Opprett ny artikkel" data-width="80%">
  <form action="{% url admin.articles.views.new %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="template" value="0">
    <input type="hidden" name="slug" value="">
    <table class="table">
    <tr>
      <td class="big">Tittel på artikkelen:</td>
      <td><input type="text" name="title" class="input-xxlarge"></td>
    </tr>
    </table>
    <h2 class="skinny">Velg en ferdigdefinert mal her:</h2>
    <div class="template">
      <img src="{{ STATIC_URL }}img/templates/full-width.jpg" alt="Ferdigdefinert mal" data-template="0">
      <p>Én full kolonne</p>
    </div>
    <div class="template">
      <img src="{{ STATIC_URL }}img/templates/sidebar.jpg" alt="Ferdigdefinert mal" data-template="1">
      <p>Hovedkolonne med sidebar</p>
    </div>
  </form>
</div>

{% endblock %}
