{% extends "admin/layout.html" %}
{% block title %}Artikler &mdash; {{ block.super }}{% endblock %}
{% block header %}<a href="{% url admin.articles.views.list %}">Artikler</a> → Forhåndsvisning{% endblock %}

{% block body %}

<div class="row">
  <div class="span12">
    <p><a class="btn btn-large" href="{% url admin.articles.views.edit_version version.id %}"><i class="icon-arrow-left"></i> Tilbake til redigering</a></p>
  </div>
</div>

{% include 'page/display-content.html' %}
{% include 'page/article-byline.html' %}

{% endblock %}
