div.aktivitet-listing {
  div.search-filter-slider {
    margin: 20px 0;

    div.search-filters {
      font-family: "DTL Nobel" !important;

      h3 {
        text-align: center;
      }

      table.filters {
        width: 100%;
        margin-bottom: 0;

        th, td {
          padding-top: 15px;
          padding-bottom: 15px;
        }

        th {
          font-weight: normal;
          text-align: right;
          padding-right: 8px;
          vertical-align: middle;
        }

        td {
          padding-left: 8px;
        }

        select.chosen {
          width: 400px;
        }
      }
    }
  }

  table.aktiviteter {
    p.date {
      color: rgb(150, 150, 150);
    }
  }

  div.leaflet-map {
    height: 600px;
  }
}

div.aktivitet {
  div.meta {
    margin-bottom: 15px;
    font-family: "DTL Nobel" !important;

    div.signup {
      div.no-signup {
        font-style: italic;
      }

      div.already-participating {
        font-weight: bold;
      }

      div.accepts-signups {
        span.deadline {
          font-style: italic;
        }
      }

      div.signup-countdown {
        font-style: italic;
      }

      div.signup-passed {
        font-style: italic;
      }
    }

    table {
      th, td {
        font-family: "DTL Nobel" !important;
      }

      th {
        text-align: right;
        padding: 4px 8px;
      }
    }
  }

  // Hackish item for using carousel-caption (which need a positioned parent) on single images
  div.images {
    div.single-carousel-item {
      position: relative;
    }

    // The caption might should use div.img-desc (like in cms articles) instead?
    div.carousel-caption {
      p {
        font-family: "DTL Nobel" !important;
      }
    }
  }
}

p.temporary-aktivitet-beta-highlight {
  text-align: center;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 18px;
}
