div.aktivitet {
  div.meta {
    margin-bottom: 15px;

    table {
      th, td {
        font-family: "DTL Nobel" !important;
      }

      th {
        text-align: right;
        padding: 4px 8px;
      }
    }
  }
}

table.aktiviteter {
  p.date {
    color: rgb(150, 150, 150);
  }
}
