/**
 * general styles
 */

body, p, label, li {
  font-family: georgia, times, serif !important;
  font-size: 16px;
  line-height: 1.5;
}

input, button, textarea, a.btn {
  font-size: 16px !important;
}

h1, h2, h3, h4, h5, h6, input, button, textarea, a.btn {
  font-family: "DTL Nobel";
  line-height: normal;
}

h1 {
  text-transform: uppercase;
  font-size: 40px;
  border-bottom: 4px solid rgb(35, 35, 35);
  margin-bottom: 25px;
}

@media (max-width: 767px) {
  h1 {
    font-size: 30px;
  }
}

h2 {
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 15px;
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

img, iframe {
  max-width: 100%;
}

a {
  color: @profile-red;
}

a.external:not(.noexternal) {
  padding-right: 22px;
  background: url('/static/img/icons/glyph/red/glyphicons_152_new_window.png') center right no-repeat;
}

a:hover {
  color: rgb(255, 0, 21);
}

/* Menus (main menu and admin) */

nav#menus {
  margin-top: 6px;
  font-family: "DTL Nobel";

  ul {
    /* Override bootstrap */
    margin-left: 0 !important;
  }

  li {
    display: inline;
    list-style: none;
    margin-right: 15px;
    font-family: "DTL Nobel" !important;
    font-size: 14px !important;
    line-height: 18px;

    a {
      color: rgb(30, 30, 30);
    }
  }

  li.active a {
    font-weight: bold;
    padding-bottom: 8px;
    border-bottom: 3px solid;
    /* Set position relative, without offset, to apply z-index */
    position: relative;
    z-index: 5;
  }
}

@media (max-width: 767px) {
  header div.menu-container {
    float: none !important;
  }

  nav#menus {
    li:first-of-type {
      border-top: none;
    }

    li {
      font-size: 16px !important;
      padding: 5px 10px 5px 10px;
      border-top: 1px solid rgb(210, 210, 210);
    }
  }
}

@media (max-width: 979px) {
  nav#menus {
    li {
      display: block;
    }

    li.active a {
      border-bottom: none;
    }
  }
}

.chzn-container, .chzn-drop, .chzn-search input, .chzn-results li {
  font-family: "DTL Nobel" !important;
  font-size: 16px !important;
}

/* Tags */

div.tag-box {

  div.tag {
    float: left;
    color: #3e6d8e;
    background: #e0eaf1;
    border-bottom: 1px solid #3e6d8e;
    border-right: 1px solid #7f9fb6;
    margin: 2px 3px 10px 3px;
    padding: 3px 4px;

    a {
      /* This will look ugly in IE7 (100% width), but ignore that as the functionality is
       * still there and people should upgrade anyway. */
      cursor: pointer;
      float: right;
      width: 12px;
      height: 12px;
      margin-left: 4px;
    }
  }

  div.tag[data-href]:hover {
    cursor: pointer;
    color: #e0eaf1;
    background-color: #3e6d8e;
  }
}

/* Albumpaths for the image archive (the bootstrap breadcrumb isn't that nice :) */

div.albumpath {
  padding: 12px 10px;
  margin-bottom: 20px;
  border: 1px solid rgb(150, 150, 150);
  font-family: "DTL Nobel" !important;

  a {
    color: @profile-red; /* This just counters the jqueryui dialog and should be removed at some point */
  }
}
