/**
 * Form-styles are very spread out, and styles in the enrollment forms are declared multiple times.
 * Fix this sometime, and use this as a base
 */

form.form-default {
  label {
    font-family: "DTL Nobel" !important;
  }

  input, textarea {
    color: rgb(0, 0, 0) !important;
  }

  div.control-group.success input, div.control-group.success textarea {
    border-color: rgb(29, 235, 32);
  }
}

.form-horizontal .control-group .controls p {
  /* This section is not really supposed to contain paragraphs,
     but when they do, this aligns them with the corresponding label. */
  padding-top: 5px;
}

.form-hints {
  color: rgb(120, 120, 120);
  font-size: 14px !important;
}

form.form-default div.control-group div.controls div.hints:first-of-type {
  margin-top: 5px;
}

form.form-default div.control-group div.controls div.hints {
  .form-hints;
}

form.form-default div.control-group div.controls div.control-as-text {
  /* Preliminary wrapper for when we want to use text directly in the controls
     Note that the ".form-horizontal .control-group .controls p" selector
     above achieves the same label-offset, such paragraphs should be replaced with
     this DOM element. */
  font-family: "DTL Nobel" !important;
  margin-top: 5px;
  font-weight: bold;
}

form.form-default div.control-group div.controls div.hints.error {
  color: @profile-red; // This should actually be a "form-hint-error" variable which is set to profile-red.
}
