/**
 * Form-styles are very spread out, and styles in the enrollment forms are declared multiple times.
 * Fix this sometime, and use this as a base
 */

.form-default {
  label {
    font-family: "DTL Nobel" !important;
  }

  input, textarea {
    color: rgb(0, 0, 0) !important;
  }

  div.control-group.success input, div.control-group.success textarea {
    border-color: rgb(29, 235, 32);
  }
}

// The form-hints classes can be used directly where appropriate, but their main
// usage is through the "form.form-default div.control-group div.controls div.hints"
// selector which includes these as mixins.

.form-hints {
  color: rgb(120, 120, 120);
  font-size: 14px !important;
}

.form-hints-error {
  color: @profile-red;
}

.form-default div.control-group div.controls {
  div.hints:first-of-type {
    margin-top: 5px;
  }

  div.hints {
    .form-hints;
  }

  div.hints.error {
    .form-hints-error;
  }

  div.control-as-text {
    // Wrapper for displaying text directly in the controls
    font-family: "DTL Nobel" !important;
    margin-top: 5px;
    font-weight: bold;
  }
}
