/**
 * Form-styles are very spread out, and styles in the enrollment forms are declared multiple times.
 * Fix this sometime, and use this as a base
 */

form.form-default {
  label {
    font-family: "DTL Nobel" !important;
  }

  input, textarea {
    color: rgb(0, 0, 0) !important;
  }

  div.control-group.success input, div.control-group.success textarea {
    border-color: rgb(29, 235, 32);
  }
}

.form-horizontal .control-group .controls p {
  /* This section is not really supposed to contain paragraphs,
     but when they do, this aligns them with the corresponding label. */
  padding-top: 5px;
}