@profile-red: rgb(216, 45, 32);

.form-border {
  padding: 14px 20px;
  border: 1px solid rgb(221, 221, 221);
  margin-bottom: 20px;
}

.input-button-align {
  // Note, there's a few places this is still done specifically for each element
  // (But use this one from now on, and if you find any replace them with this one)
  margin-bottom: 9px;
}

form.form-horizontal label.control-label {
  font-family: "DTL Nobel" !important;
}

.custom-tooltip {
  font-family: "DTL Nobel" !important;
  font-size: 16px;
  position: absolute;
  z-index: 10000;
}

.well.nav-container {
  padding: 8px 0;
}
