/* Generic markup-styles and mixins */

@profile-red: rgb(216, 45, 32);

.border-radius(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.form-border {
  padding: 14px 20px;
  border: 1px solid rgb(221, 221, 221);
  margin-bottom: 20px;
}

.square-well {
  background-color: rgb(240, 240, 240);
  padding: 15px 20px;
}

select.chosen, select[data-chosen] {
  /* General width for chosen-selects, some may require other specific widths */
  width: 400px;
  max-width: 100%;
}

div.infinite-scroll-loader {
  font-family: "DTL Nobel" !important;
  font-size: 20px;
  text-align: center;
  .form-border;
}

div.infinite-loader {
  text-align: center;

  div.loading {
    text-align: center;
    color: rgb(95, 95, 95);
    font-family: "DTL Nobel" !important;
    font-size: 20px;
    font-weight: bold;
  }
}

ul.nav.nav-tabs {
  li a {
    font-family: "DTL Nobel" !important;
    font-weight: bold;
  }
}

// Custom hide class without display: important; like bootstrap 3.
// This is for compatibility with show/hide and other jquery effects
.jq-hide {
  display: none;
}

// For parts of the site which need its own naviagtion (like the user page, Fjelltreffen etc.)
// Works well with bootstrap's list-group.
.submodule-navigation {
  .header {
    font-family: "DTL Nobel" !important;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
  }

  .list-group {
    .list-group-item {
      display: block;
      font-family: "DTL Nobel" !important;
        color: @profile-red;

      &.active {
        color: #fff;
      }
    }
  }
}
