/* Main menu, note that it's also used in the admin menu-editor */

nav#menus {
  margin-top: 6px;
  font-family: "DTL Nobel";

  ul {
    /* Override bootstrap */
    margin-left: 0 !important;
  }

  li {
    display: inline;
    list-style: none;
    margin-right: 15px;
    font-family: "DTL Nobel" !important;
    font-size: 14px !important;
    line-height: 18px;

    a {
      color: rgb(30, 30, 30);
    }
  }

  li.active a {
    font-weight: bold;
    padding-bottom: 8px;
    border-bottom: 3px solid;
    /* Set position relative, without offset, to apply z-index */
    position: relative;
    z-index: 5;
  }
}

@media (max-width: 767px) {
  nav#menus {
    li:first-of-type {
      border-top: none;
    }

    li {
      font-size: 16px !important;
      padding: 5px 10px 5px 10px;
      border-top: 1px solid rgb(210, 210, 210);
    }
  }
}

@media (max-width: 979px) {
  nav#menus {
    li {
      display: block;
    }

    li.active a {
      border-bottom: none;
    }
  }
}
