/**
 * Generic styles that are explicit overrides of styles applied by the libraries we use.
 * If any explicit overrides are found elsewhere, move them here.
 */

/* Datepicker */

.datepicker {
 font-family: sans-serif !important;
 font-size: 16px;
}

/* Chosen */

.chzn-container, .chzn-choices li, .chzn-choices input, .chzn-drop, .chzn-search input, .chzn-results li {
 font-family: "DTL Nobel" !important;
 font-size: 16px !important;
}

/* outdatedBrowser */
.outdated-browser {
  height: auto !important;

  h2 {
    font-size: 25px;
    line-height: 25px;
  }
}
