/* Pickadate sets readonly on input, so override the bootstrap stylings on readonly */

input.pickadate[readonly] {
  background-color: white;
  cursor: auto;
}

div.pickadate__calendar {
  font-family: sans-serif !important;

  select {
    color: black;
    padding: 0 5px;
    font-size: 1em;
  }
}
