/* Pickadate sets readonly on input, so override the bootstrap stylings on readonly */

input.pickadate[readonly] {
  background-color: white;
  cursor: auto;
}

div.pickadate__calendar {
  font-family: sans-serif !important;

  select {
    padding: 0 5px;
    font-size: 1em;

    /* Color and border-color are overriden by control-groups with success/error classes, so use important to ignore */
    color: black !important;
    border-color: rgb(204, 204, 204) !important;
  }
}
