div.publications {
  div.release {
    h3.title {
      margin-bottom: 0;
    }

    p.date {
      font-family: "DTL Nobel" !important;
      font-size: 14px;
      color: rgb(100, 100, 100);
      margin-bottom: 0;
    }

    p.download {
      font-family: "DTL Nobel" !important;
      span.no-content-warning {
        color: @profile-red;
      }
    }

    p.description {
      font-family: "DTL Nobel" !important;
    }
  }

  p.license {
    text-align: center;
    font-family: "DTL Nobel" !important;
    color: rgb(100, 100, 100);
  }
}

form.edit-release {
  div.control-group {
    div.controls {
      p.info {
        font-family: "DTL Nobel" !important;
        font-style: italic;
        font-size: 14px;
      }
    }
  }
}
