div.publications {
  div.release {
    h3.title {
      margin-bottom: 0;
    }

    p.date {
      font-family: "DTL Nobel" !important;
      font-size: 14px;
      color: rgb(100, 100, 100);
      margin-bottom: 0;
    }

    p.description {
      font-family: "DTL Nobel" !important;
    }
  }
}
