div.publications {
  margin-top: 40px;

  div.publication, div.release {

    margin-bottom: 60px;

    h3.title {
      margin-bottom: 0;
    }

    p.meta {
      font-family: "DTL Nobel" !important;
      font-size: 14px;
      color: rgb(100, 100, 100);
      margin-bottom: 0;
    }

    p.download {
      font-family: "DTL Nobel" !important;
    }

    p.description {
      font-family: "DTL Nobel" !important;
    }
  }
}

div.publication-action-header {
  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(215, 215, 215);
  padding: 10px;
  margin-bottom: 15px;
}

table.other-publications {
  margin-top: 40px;

  th, td {
    font-family: "DTL Nobel" !important;
  }
}
