{% extends 'main/layout.html' %}

{% block title %}Føremeldinger{% endblock %}
{% block breadcrumb %}<em><a href="{% url conditions.views.index %}">Føremeldinger</a></em>{% endblock %}

{% block body %}

<div class="row">
  <div class="span12">

      <h1>Føremeldinger</h1>

      {% for condition in conditions %}

        <div class="conditions">

          <p class="date pull-right">{{ condition.get_date_observed }}</p>
          <h2>{{ condition.get_comma_separated_locations }}</h2>
          <p>
            {{ condition.content|safe }}
          </p>

          <p class="author">
            <span class="author-label">
              Lagt inn av:
            </span>
            <a href="mailto:{{ condition.author_email }}">{{ condition.author_name.strip }}</a>, {{ condition.get_date_observed }}
          </p>

        </div>

      {% endfor %}

    </div>
  </div>
</div>

{% endblock %}
