<div class="horizontal">
  <div class="row">
    {% for version in widget.versions %}
      <div class="col-md-{{ widget.span }}">
        <div class="item-wrapper">
          {% if widget.display_images and not version.get_medium_thumbnail.hide %}
            <div class="image-container">
              <a href="{% url 'articles.views.show' version.variant.article.id version.get_title_content.content|striptags|slugify %}">
                <img src="{{ version.get_medium_thumbnail.url }}" alt="{{ version.get_title_content.content|striptags }}">
              </a>
            </div>
          {% elif widget.display_images %}
            {% comment %}
              If we're configured to display thumbnail but this version doesn't have one, replace it with a
              placeholder which will be adjusted to be of equal height to other thumbnails
            {% endcomment %}
            <div class="image-placeholder"></div>
          {% endif %}

          <h2>
            <a href="{% url 'articles.views.show' version.variant.article.id version.get_title_content.content|striptags|slugify %}">
              {{ version.get_title_content.content|striptags|safe }}
            </a>
          </h2>

          <p>
            <a class="text-anchor" href="{% url 'articles.views.show' version.variant.article.id version.get_title_content.content|striptags|slugify %}">
              {{ version.get_lede_content.content|striptags|safe|truncatewords:20 }}
            </a>
          </p>
        </div>
      </div>
    {% endfor %}
  </div>

  <p class="more pull-right">
    {% if widget.tag_link %}
      <a href="{% url 'articles.views.index' %}?tag={{ widget.tag_link }}">Se flere nyheter om {{ widget.tag_link }}</a>
    {% else %}
      <a href="{% url 'articles.views.index' %}">Se eldre nyheter</a>
    {% endif %}
  </p>
</div>
<div style="clear: both;"></div>
