{% extends site.template.name|add:"/layout.html" %}
{% block title %}Logg på{% endblock %}

{% block body %}

<div class="connect-signon">
  <div class="row">
    <div class="span12">
      <h1>Logg på</h1>
      <div class="alert alert-info">
        {{ client_name }} ber deg om å bekrefte ditt DNT-medlemskap.
      </div>

      <ul>
        <li>logg på med din Min side-bruker</li>
        <li>registrer deg på Min side</li>
        <li>meld deg inn i DNT</li>
        <li>...</li>
      </ul>

      <p>
        Funksjonalitet TBD.
      </p>
    </div>
  </div>
</div>

{% endblock %}
