{% extends "main/connect/layouts/columbus.html" %}

{% load i18n %}

{% block title %}{% trans "Logg inn" %}{% endblock %}
{% block breadcrumb %}<em><a href="{% url 'connect.views.signon_login' %}">{% trans "Logg inn" %}</a></em>{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/connect/signon.js"></script>
{% endblock %}

{% block body %}

<div class="row">
  <div class="span12">

    <h1>{% trans "Midlertidig vedlikehold" %}</h1>

    <p class="lede">
      {% blocktrans with period=focus_downtime.period_message %}Tjenesten er dessverre utilgjengelig {{ period }} på grunn av midlertidig vedlikehold.{% endblocktrans %}
    </p>

    <p>
      {% url 'connect.views.signon_cancel' as previous_url %}
      {% blocktrans with previous_url=previous_url %}
        Vi beklager på det sterkeste ulempene dette medfører. Vennligst smør deg inn med tålmodighet, og prøv igjen når vedlikeholdsperioden er over. Innen da kan vi dessverre ikke annet enn å sende deg <a href="{{ previous_url }}">tilbake dit du kom fra</a>.
      {% endblocktrans %}
    </p>

  </div>
</div>

{% endblock %}
