.forening-dropdown {
  padding: 12px 15px;

  select[name='user_forening'] {
    width: 300px;
  }
}

.dashboard-panel {
  .announcement-heading {
    font-size: 50px;
  }

  .announcement-heading, .announcement-text {
    margin-bottom: 0;
  }
}
