{% extends "admin/layout.html" %}
{% block title %}Websider &mdash; {{ block.super }}{% endblock %}
{% block header %} → <a href="{% url admin.cms.views.page.list %}">Websider</a>{% endblock %}
{% block extra_scripts %}
  <script src="{{ STATIC_URL }}lib/bootstrap/bootstrap-tab.js"></script>
  <script src="{{ STATIC_URL }}js/admin/editor.js"></script>
{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/admin/editor.css" media="screen">
{% endblock %}

{% block body %}
{% include 'admin/cms/editor/advanced/editor.html' %}
{% endblock %}
