{% extends "admin/layout.html" %}
{% block title %}Admin: Page{% endblock %}
{% block header %} → <a href="{% url admin.cms.views.page.list %}">CMS</a>{% endblock %}
{% block body %}

<form action="{% url admin.cms.views.page.edit page.id %}" method="post">
{% csrf_token %}
<!--<p>Slug: <input type="text" name="slug" value="{{ page.slug }}"> <input type="submit"></p> -->
</form>
<h1><a href="{% url admin.cms.views.page.edit page.id %}">Side</a>
  {% for variant in variants %},
  {% if variant.active.id == version.id %}[ {% endif %}
  <a href="{% url admin.cms.views.editor_advanced.edit variant.active.id %}">{{ variant.name }}</a>
  {% if variant.active.id == version.id %} ]{% endif %}
  {% endfor %}
  <a href="#" id="new_variant">+</a>
</h1>

<!--
<form id="new_variant_form" action="{% url admin.cms.views.variant.new page.id %}" method="post">
{% csrf_token %}
<p>
Slug: <input type="text" name="slug" value=""><br>
Segment: <select name="segment">
{% for segment in segments %}
<option value="{{ segment.id }}">{{ segment.description }}</option>
{% endfor %}
</select><br>
<p>Om du ønsker å bruke et segment som ikke er definert her, snakk med Ali eller Hans.</p>
<input type="hidden" name="page" value="{{ page.id }}">
<input type="submit">
</form>
-->

{% if not variants %}
<p>Det er ikke laget noen varianter for denne versjonen. Her skulle det vært en form elns for å lage en.</p>
{% else %}
<h2>Varianter:</h2>
<table class="table table-striped">
<tr>
  <th>Prioritet</th>
  <th>Aktiv tittel</th>
  <th>Slug</th>
  <th>Segment</th>
  <th>Rediger</th>
  <th>Flytt opp</th>
  <th>Flytt ned</th>
  <th>Slett</th>
</tr>
{% for variant in variants %}
<tr>
  <td>{{ variant.priority }}</td>
  <td>{{ variant.active.content.content }}</td>
  <td>{{ variant.slug|default:"" }}</td>
  <td>{{ variant.segment.description|default:"(Default)" }}</td>
  <td>todo</td>
  <td>{% if variant.priority != 1 %}
    <a href="{% url admin.cms.views.variant.swap page.id variant.priority variant.priority|add:-1 %}">Opp</a>
  {% endif %}</td>
  <td>{% if variant.priority != variants|length %}
    <a href="{% url admin.cms.views.variant.swap page.id variant.priority variant.priority|add:1 %}">Ned</a>
  {% endif %}</td>
  <td><a href="{# url admin.cms.views.variant.delete variant.id #}">Slett</a></td>
</tr>
{% endfor %}
</table>
{% endif %}

{% endblock %}
