{% extends "admin/layout.html" %}
{% block title %}Websider &mdash; {{ block.super }}{% endblock %}
{% block header %} → <a href="{% url admin.cms.views.page.list %}">Websider</a>{% endblock %}
{% block body %}

<h1>Websider</h1>
{% if not versions %}
<div class="alert alert-info">Det er ikke opprettet noen sider for dette nettstedet.</div>
{% else %}
<table class="table table-striped">
<thead>
<tr>
  <th>Tittel</th>
  <th>URL til siden</th>
  <th>Rediger</th>
  <th>Slett</th>
</tr>
</thead>
<tbody>
{% for version in versions %}
<tr>
  <td>{{ version.variant.page.title }}</td>
  <td><a href="/{{ version.variant.page.slug }}">http://{{ site.domain }}/{{ version.variant.page.slug }}{% if version.variant.page.slug %}/{% endif %}</a></td>
  <td>[ <a href="{% url admin.cms.views.editor_advanced.edit version.id %}">Rediger</a> ]</td>
  <td>[ <a href="{% url admin.cms.views.page.delete version.variant.page.id %}">Slett</a> ]</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}

<div class="row">
  <div class="offset5 span2">
    <p><a id="add-page" class="btn btn-primary large-button dialog-button" data-dialog=".page-dialog" href="javascript:undefined">Opprett ny webside</a></p>
  </div>
</div>

<div class="dialog page-dialog" data-title="Opprett ny side" data-width="80%">
  <form action="{% url admin.cms.views.page.new %}" method="post">
  {% csrf_token %}
    <table class="table">
    <tr>
      <td>Tittel:</td>
      <td><input type="text" name="title"></td>
    </tr>
    <tr>
      <td>URL:</td>
      <td>http://{{ site.domain }}/ <input type="text" name="slug" value=""> /</td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="Opprett ny webside"></td>
    </tr>
    </table>
    <p><em>Tips til en fornuftig URL:</em></p>
    <ul>
      <li>La navnet på URLen reflektere innholdet</li>
      <li>Ikke bruk en URL som er sannsynlig at du vil bruke på en annen side</li>
      <li>Bruk mappe-nøsting (f.eks. "/valdres/snøskredfare/" i stedet for "/snøskredfare-i-valdres/"</li>
    </ul>
  </form>
</div>


<h1>Hovedmeny</h1>
{% if not menus %}
<div class="alert alert-info">Det er ikke definert noen menylinker for dette nettstedet.</div>
{% else %}
<table class="table table-striped">
<thead>
<tr>
  <th>Rekkefølge</th>
  <th>Navn</th>
  <th>Linker til</th>
  <th>Flytt opp</th>
  <th>Flytt ned</th>
  <th>Slett</th>
</tr>
</thead>
<tbody>
{% for menu in menus %}
<tr>
  <td>{{ forloop.counter }}.</td>
  <td>{{ menu.name }}</td>
  <td><a href="http://{{ site.domain }}/{{ menu.page.slug }}{% if menu.page.slug %}/{% endif %}">http://{{ site.domain }}/{{ menu.page.slug }}{% if menu.page.slug %}/{% endif %}</a></td>
  <td>{% if menu.order != 1 %}
    <a href="{% url admin.cms.views.menu.swap menu.order menu.order|add:-1 %}">Opp</a>
  {% endif %}</td>
  <td>{% if menu.order != menus|length %}
    <a href="{% url admin.cms.views.menu.swap menu.order menu.order|add:1 %}">Ned</a>
  {% endif %}</td>
  <td>[ <a href="{% url admin.cms.views.menu.delete menu.id %}">Slett</a> ]</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}

<div class="row">
  <div class="offset5 span2">
    <p><a id="add-menu" class="btn btn-primary large-button dialog-button" data-dialog=".menu-dialog" href="javascript:undefined">Opprett ny meny-link</a></p>
  </div>
</div>

<div class="dialog menu-dialog" data-title="Opprett ny menylink" data-width="80%">
  <form action="{% url admin.cms.views.menu.new %}" method="post">
  {% csrf_token %}

    <table class="table">
    <tr>
      <td>Navn på linken:</td>
      <td><input type="text" name="name"></td>
    </tr>
    </table>

    <h2>Velg hvilken side linken skal peke til:</h2>
    <table class="table">
    <thead>
    <tr>
      <th></th>
      <th>Tittel</th>
      <th>URL</th>
    </tr>
    </thead>
    <tbody>
    {% for version in versions %}
    <tr>
      <td><input type="radio" name="page" value="{{ version.variant.page.id }}"></td>
      <td>{{ version.variant.page.title }}</td>
      <td>http://{{ site.domain }}/{{ version.variant.page.slug }}{% if version.variant.page.slug %}/{% endif %}</td>
    </tr>
    {% empty %}
    <tr>
      <td>Det er ikke opprettet noen sider du kan velge ennå.</td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="2"><input type="submit" value="Opprett meny-link"></td>
    </tr>
    </tbody>
    </table>
  </form>
</div>

{% endblock %}
