<div id="toolbar">
  <ul class="nav nav-tabs">
    <li class="active"><a href="javascript:undefined">Lagre</a></li>
    <li><a href="javascript:undefined">Struktur</a></li>
    <li><a href="javascript:undefined">Innhold</a></li>
    <li><a href="javascript:undefined">Formatering</a></li>
    <li><a href="javascript:undefined">Lenker</a></li>
  </ul>
  <div id="tabs">
    <div class="tab save">
      <p class="save-text"><i class=\"icon-ok\"></i> Artikkelen er nylig lagret.</p>
      <button class="btn save">Lagre</button>
    </div>
    <div class="tab structure">
      <p>
        <input class="formatting" type="radio" name="editmode" checked> Tekstredigering<br>
        <input class="vertical" type="radio" name="editmode"> Flytt vertikalt (kolonner)<br>
        <input class="horizontal" type="radio" name="editmode"> Flytt horisontalt (rader)<br>
        <button class="btn add-columns"><i class="icon-list-alt"></i> Legg til ny rad med kolonner</button><br>
        <button class="btn remove-columns"><i class="icon-remove"></i> Ta bort rad med kolonner</button>
      </p>
    </div>
    <div class="tab content">
      <button class="btn add-widget"><i class="icon-star"></i> Ny widget</button>
      <button class="btn add-image"><i class="icon-picture"></i> Nytt bilde</button>
      <button class="btn add-text"><i class="icon-align-left"></i> Ny tekst</button><br>
      <button class="btn remove-content"><i class="icon-remove"></i> Ta bort innhold</button>
    </div>
    <div class="tab formatting">
      <div class="button bold"></div>
      <div class="button italic"></div>
      <div class="button underline"></div>
      <div class="button ol"></div>
      <div class="button ul"></div>
      <div class="button align-left"></div>
      <div class="button align-center"></div>
      <div class="button align-right"></div>
      <div style="clear: both;"></div>
      <select>
        <option value="default">Velg skrifttype...</option>
        <optgroup label="--------------------">
          <option value="h1">Overskrift (stor)</option>
          <option value="h2">Overskrift (liten)</option>
          <option value="p">Brødtekst</option>
        </optgroup>
      </select>
    </div>
    <div class="tab link">
      <p>URL-adresse: <input type="text" class="url"></p>
      <button class="btn anchor-add"><i class="icon-share-alt"></i> Sett inn link</button>
      <button class="btn anchor-remove"><i class="icon-remove"></i> Ta bort link</button>
      <p style="margin-top: 10px;">Tips: For at knappene skal funke må du markere teksten i artikkelen som du vil gjøre til en link.</p>
    </div>
    <div style="clear: both;"></div>
  </div>
</div>
