/* User login page */

div.loginpage-wrapper {

  ul.nav.nav-tabs {
    // Align the tabs with the tab-content borders
    margin-bottom: 0;
  }
  div.tab-content div.login-form-wrapper, div.tab-content div.registration-form-wrapper, div.tab-content div.dntconnect-signon-registration {
    // Remove the top border, ul.nav will take care of that
    border-top: none;
  }

  div.registration-form-wrapper {
    select[name='country'] {
      width: 280px;
    }
  }

  div.usersite-benefits {
    margin-top: 38px; // Kind of hackish, this is the current calculated height of the nearby ul.nav-element
    .square-well;
  }

  div.login-form-wrapper {
    .control-label {
      font-weight: normal;
      text-align: right;
    }
  }

  div.forgot-password {
    button.restore-password {
      margin-bottom: 10px;
    }
  }
}

div.memberid-hint-modal {
  width: 400px;
}
