form.account-info {
  .zipcode-inputs-inline();

  .info-popover {
    padding-right: 20px;
    background: url(/static/img/icons/netlife/icon-info.png) center right no-repeat;

    &:hover {
      background-image: url(/static/img/icons/netlife/icon-info-hover.png);
    }
  }
}
