div.conditions {

  margin-top: 25px;
  background-color: rgb(235, 235, 235);
  padding: 10px 15px;

  p.date {
    margin-top: 4px;
    margin-right: 10px;
    font-weight: bold;
    font-family: "DTL Nobel" !important;
  }
}
