/* Enrollment */

form#registration label, form#household label, form#gift label {
  font-size: 110%;
  font-family: "DTL Nobel" !important;
}

form#registration .control-group:not(.error,.warning) label, form#household .control-group:not(.error,.warning) label {
  color: black;
}

form#registration label.gender {
  width: 60px;
  float: left;
  margin-bottom: 15px;
}

/* Override bootstrap 'success' colors */

.control-group.success > label {
  color: rgb(51, 51, 51);
}

.control-group.success > input, .control-group.success > input:focus {
  border-color: rgb(29, 235, 32);
}

/* Negate defaults and JQuery-UI design */

div.modal.conditions h1 {
  border-bottom: none;
  font-size: 22px;
  margin-right: 25px;
  margin-bottom: 0;
}

div.modal.conditions li, div.modal.conditions p {
  font-family: georgia, times, serif !important;
  font-size: 14px !important;
}

form#household select {
  height: 34px;
  width: 300px;
}

form#household select option[disabled] {
  background-color: rgb(215, 215, 215);
}

form#household button.search {
  margin-bottom: 10px;
}

div.existing-result p {
  font-size: 120%;
}

div.existing-result p span.result {
  font-weight: bold;
}

div.existing-result p span.result.success {
  color: rgb(60, 180, 60);
}

div.existing-result p span.result.error {
  color: rgb(180, 60, 60);
}

form#registration input[type='text'], form#household input[type='text'], form#household select {
  color: black;
}

form#registration input[type='text'], form#household input[type='text'] {
  font-size: 120%;
  padding: 8px;
  height: auto !important;
}

form#registration input.dob, form#household input.dob {
  margin-right: 6px;
}

form#registration button, form#household button {
  margin-top: 3px;
  margin-bottom: 3px;
}

table.memberlist {
  margin-top: 20px;

  td {
    background-color: white;
    font-family: "DTL Nobel";
    font-size: 20px;
    padding: 10px;
  }

  td:hover {
    background-color: rgb(215, 215, 215);
    color: rgb(0, 0, 0);
  }

  span.remove {
    float: right;
  }
}

div.members label {
  font-family: "DTL Nobel" !important;
  font-size: 16px;
  margin-bottom: 20px;
}

table.main-member tr.main {
  background-color: rgb(235, 235, 235);
  font-weight: bold;
}

table.prices {
  margin-top: 25px;
  margin-bottom: 0 !important;
  font-family: "DTL Nobel" !important;

  tbody td {
    vertical-align: middle;
  }

  tbody td.choose-main {
    text-align: center;
  }

  span.main {
    font-weight: bold;
  }

  tfoot tr {
    border-top: 2px solid rgb(105, 105, 105);
  }

  tfoot tr th {
    font-size: 120%;
  }
}

p.address {
  border: 1px solid #dddddd;
  padding: 12px;
}

span.asterisk {
  font-size: 120%;
  font-weight: bold;
}

span.asterisk.red {
  color: red;
}

div.notice-alert {
  padding: 10px;
  border: 1px solid rgb(95, 95, 95);
  margin-bottom: 20px;
}

.result-subheader {
  margin-top: 40px;
}

p.receipt-success {
  color: green;
}

p.receipt-error {
  color: red;
}

/* Verification */

form#verification th div.popover {
  /* The popover will be a child of th, so reset font-weight */
  font-weight: normal;
}

p.association-info {
  margin-bottom: 30px;
}

/* Payment */

form#payment, form#payment label {
  font-family: "DTL Nobel" !important;
}

/* Result */

p.sms {
  margin-top: 15px;
  margin-bottom: 15px;
}

table td.sum {
  font-weight: bold;
}

/* Gift */

form.gift-entry {
  margin-top: 40px;
}

form#gift {
  margin-top: 20px;
}

form#gift div.border {
  border: 1px solid rgb(221, 221, 221);
  padding: 14px 20px;
  margin-bottom: 20px;
}

div.types {
  border: 1px solid rgb(221, 221, 221);
  padding: 14px 20px;
  height: 170px;
}

form#gift div.receiver-box:first-of-type button.remove-receiver {
  display: none;
}

p.type-display {
  font-family: "DTL Nobel" !important;
}

p.type-display span {
  font-weight: bold;
}

form#gift {
  margin-top: 0;
}

form#gift input, form#gift select {
  color: rgb(0, 0, 0);
}

form#gift select[name='receiver_type'] {
  width: 300px;
}

form#gift a.date-picker-control {
  margin-bottom: 8px;
}

form#gift {
  div.control-group.giver_phone label, div.control-group.giver_email label, div.control-group.giver_memberid label, div.control-group.receiver_type label {
    padding-left: 20px;
    background: url('/static/img/icons/netlife/icon-info.png') center left no-repeat;
  }

  div.control-group.giver_phone:hover label, div.control-group.giver_email:hover label, div.control-group.giver_memberid:hover label, div.control-group.receiver_type:hover label {
    background-image: url('/static/img/icons/netlife/icon-info-hover.png');
  }
}

table.gift-receiver {
  margin-right: 20px;
}

table.gift-giver, table.gift-receiver {
  td {
    font-family: "DTL Nobel" !important;
  }
}

p.gift-receiver-type {
  font-family: "DTL Nobel" !important;
  font-size: 18px;
  font-weight: bold;

  span.price-popover {
    margin-left: 5px;

    div.popover {
      color: rgb(0, 0, 0);
      font-weight: normal;
    }
  }
}

p.gift-order-sent {
  font-family: "DTL Nobel" !important;
  font-size: 18px;
  font-weight: bold;
}

p.gift-confirmation-buttons {
  margin-top: 30px;
  margin-bottom: 30px;
}

div.gift-receipt-details {
  margin-top: 40px;
}

h2.gift-from-to {
  font-size: 22px;
}
