/* Enrollment */

form#registration label, form#household label, form#gift label {
  font-size: 110%;
  font-family: "DTL Nobel" !important;
}

form#registration .control-group:not(.error,.warning) label, form#household .control-group:not(.error,.warning) label {
  color: black;
}

form#registration label.gender {
  width: 60px;
  float: left;
  margin-bottom: 15px;
}

/* Override bootstrap 'success' colors */

.control-group.success > label {
  color: rgb(51, 51, 51);
}

.control-group.success > input, .control-group.success > input:focus {
  border-color: rgb(29, 235, 32);
}

/* Negate defaults and JQuery-UI design */

div.modal.conditions h1 {
  border-bottom: none;
  font-size: 22px;
  margin-right: 25px;
  margin-bottom: 0;
}

div.modal.conditions li, div.modal.conditions p {
  font-family: georgia, times, serif !important;
  font-size: 14px !important;
}

form#household select {
  height: 34px;
  width: 300px;
}

form#household select option[disabled] {
  background-color: rgb(215, 215, 215);
}

form#household button.search {
  margin-bottom: 10px;
}

div.existing-result p {
  font-size: 120%;
}

div.existing-result p span.result {
  font-weight: bold;
}

div.existing-result p span.result.success {
  color: rgb(60, 180, 60);
}

div.existing-result p span.result.error {
  color: rgb(180, 60, 60);
}

form#registration input[type='text'], form#household input[type='text'], form#household select {
  color: black;
}

form#registration input[type='text'], form#household input[type='text'] {
  font-size: 120%;
  padding: 8px;
  height: auto !important;
}

form#registration input.dob, form#household input.dob {
  margin-right: 6px;
}

form#registration button, form#household button {
  margin-top: 3px;
  margin-bottom: 3px;
}

table.memberlist {
  margin-top: 20px;

  td {
    background-color: white;
    font-family: "DTL Nobel";
    font-size: 20px;
    padding: 10px;
  }

  td:hover {
    background-color: rgb(215, 215, 215);
    color: rgb(0, 0, 0);
  }

  span.remove {
    float: right;
  }
}

div.members label {
  font-family: "DTL Nobel" !important;
  font-size: 16px;
  margin-bottom: 20px;
}

table.main-member tr.main {
  background-color: rgb(235, 235, 235);
  font-weight: bold;
}

table.prices {
  margin-top: 25px;
  margin-bottom: 0 !important;
  font-family: "DTL Nobel" !important;

  tbody td {
    vertical-align: middle;
  }

  tbody td.choose-main {
    text-align: center;
  }

  span.main {
    font-weight: bold;
  }

  tfoot tr {
    border-top: 2px solid rgb(105, 105, 105);
  }

  tfoot tr th {
    font-size: 120%;
  }
}

p.address {
  border: 1px solid #dddddd;
  padding: 12px;
}

/* Progress bar */

table.registration-progress {
  margin: 0 0 25px 0;
  width: 100%;

  td.step:first-of-type {
    border-left: 3px solid rgb(255, 255, 255);
  }

  td.step {
    /* Line-height is 24px so set vertical padding to max 48 (height of arrow-image) - line-height */
    background-color: #dcddde;
    padding: 12px 30px 12px 15px;
    border-right: 3px solid rgb(255, 255, 255);
  }

  td.step.current {
    color: white;
    background: #d82a20 url('/static/img/step-current.png') top right no-repeat;
    border-right: none !important;
  }

  td.step.final {
    color: white;
    background: #d82a20 top right no-repeat;
  }
}

div.registration-progress-small {
  display: none;
}

/* Progress bar for small screens */

@media (max-width: 767px) {
  table.registration-progress {
    display: none;
  }

  div.registration-progress-small {
    display: block;
    padding: 6px;
    border: 1px solid rgb(152, 152, 152);
    margin-bottom: 18px;
  }

  div.registration-progress-small p {
    font-family: "DTL Nobel" !important;
    margin-bottom: 0;
  }

  div.registration-progress-small p i {
    margin: 3px 3px 0 3px;
  }
}

span.asterisk {
  font-size: 120%;
  font-weight: bold;
}

span.asterisk.red {
  color: red;
}

div.notice-alert {
  padding: 10px;
  border: 1px solid rgb(95, 95, 95);
  margin-bottom: 20px;
}

.result-subheader {
  margin-top: 40px;
}

p.receipt-success {
  color: green;
}

p.receipt-error {
  color: red;
}

/* Verification */

form#verification th div.popover {
  /* The popover will be a child of th, so reset font-weight */
  font-weight: normal;
}

p.association-info {
  margin-bottom: 30px;
}

/* Payment */

form#payment, form#payment label {
  font-family: "DTL Nobel" !important;
}

/* Result */

p.sms {
  margin-top: 15px;
  margin-bottom: 15px;
}

table td.sum {
  font-weight: bold;
}

/* Gift */

form#gift {
  margin-top: 20px;
}

form#gift div.border {
  border: 1px solid rgb(221, 221, 221);
  padding: 14px 20px;
}

p.type-display {
  font-family: "DTL Nobel" !important;
}

p.type-display span {
  font-weight: bold;
}

form#gift select[name='receiver_type'] {
  width: 300px;
}

form#gift div.receiver-box {
  margin-bottom: 20px;
}
