select.genderselect {
  width: 120px;
}

select.lowerageselect {
  width: 80px;
}

select.upperageselect {
  width: 80px;
}

select.fylkeselect {
  width: 160px;
}

select.annonse-fylke {
  width: 225px;
}

textarea.annonse-text {
  width: 600px;
  height: 200px;
}

textarea.annonsereply-text {
  width: 600px;
  height: 200px;
}
