div.fotokonkurranse-root {
  div.uploader {
    div.images {
      div.image {
        label {
          font-weight: bold;
        }

        div.cancel {
          margin-bottom: 10px;
        }

        div.upload-success {
          font-family: "DTL Nobel" !important;
          font-weight: normal;
        }

        div.loader {
          .form-border;
          font-family: "DTL Nobel" !important;
          font-size: 26px;
          text-align: center;
        }
      }
    }

    div.image-adder {
      span.fileinput-button {
        span {
          font-family: "DTL Nobel" !important;
        }
      }
    }

    div.upload-success-generic {
      .form-border;
      text-align: center;

      p {
        font-family: "DTL Nobel" !important;
        font-size: 18px;
      }
    }
  }

  div.success {
    .form-border;
    text-align: center;
  }

  div.closed {
    .form-border;
    font-family: "DTL Nobel" !important;
    font-size: 26px;
    text-align: center;
  }

}
