div.fotokonkurranse-root {
  div.intro-image {
    position: relative;
    width: 940px;
    height: 540px;
    background-image: url('/static/img/fotokonkurranse/intro-sommer-hytteliv.jpg');
    margin-bottom: 20px;

    h1 {
      color: black;
      text-align: center;
      padding-top: 40px;
      margin-left: 350px;
      margin-bottom: 0;
      border-bottom: none;
    }

    p {
      color: black;
      text-align: center;
      margin-left: 350px;
      padding-top: 10px;
      font-family: "DTL Nobel" !important;
      font-size: 20px;
    }

    p.credits {
      position: absolute;
      color: white;
      right: 6px;
      bottom: 6px;
      font-size: 12px;
      margin-bottom: 0;
    }
  }

  @media (max-width: 767px) {
    div.intro-image {
      width: auto;
      height: auto;
      background-image: none;
      .form-border;

      h1 {
        margin-left: auto;
        padding-top: 0;
        color: #333;
      }

      p {
        margin-left: auto;
        color: #333;
      }

      p.credits {
        display: none;
      }

    }
  }

  div.uploader {
    div.images {
      div.image {
        label {
          font-weight: bold;
        }

        div.cancel {
          margin-bottom: 10px;
        }

        div.upload-success {
          font-family: "DTL Nobel" !important;
          font-weight: normal;
        }

        div.loader {
          .form-border;
          font-family: "DTL Nobel" !important;
          font-size: 26px;
          text-align: center;
        }
      }
    }

    div.image-adder {
      span.fileinput-button {
        span {
          font-family: "DTL Nobel" !important;
        }
      }
    }
  }

  div.success {
    .form-border;
    text-align: center;
  }

  div.closed {
    .form-border;
    font-family: "DTL Nobel" !important;
    font-size: 26px;
    text-align: center;
  }

  div.prizes {
    p.prize-header {
      font-family: "DTL Nobel" !important;
      font-size: 40px;
    }

    p.prize {
      font-size: 20px;
    }
  }

  div.norsk-tipping {
    text-align: center;

    p {
      margin-top: 15px;
      font-family: "DTL Nobel" !important;
      font-style: italic;
    }
  }
}

div.upload-success-generic {
  text-align: center;

  h2 {
    margin-bottom: 0;
  }

  p {
    font-family: "DTL Nobel" !important;
    font-size: 18px;
  }
}
