div.fotokonkurranse-root {
  div.intro-image {
    width: 940px;
    height: 508px;
    background-image: url('/static/img/fotokonkurranse/intro.jpg');
    margin-bottom: 20px;

    h1 {
      color: white;
      text-align: center;
      padding-top: 40px;
      margin-bottom: 0;
      border-bottom: none;
    }

    p {
      color: white;
      text-align: center;
      padding-top: 10px;
      font-family: "DTL Nobel" !important;
      font-size: 20px;
    }
  }

  div.uploader {
    div.images {
      div.image {
        label {
          font-weight: bold;
        }

        div.cancel {
          margin-bottom: 10px;
        }

        div.upload-success {
          font-family: "DTL Nobel" !important;
          font-weight: normal;
        }

        div.loader {
          .form-border;
          font-family: "DTL Nobel" !important;
          font-size: 26px;
          text-align: center;
        }
      }
    }

    div.image-adder {
      span.fileinput-button {
        span {
          font-family: "DTL Nobel" !important;
        }
      }
    }
  }

  div.success {
    .form-border;
    text-align: center;
  }

  div.closed {
    .form-border;
    font-family: "DTL Nobel" !important;
    font-size: 26px;
    text-align: center;
  }

  div.prizes {
    p.prize-header {
      font-family: "DTL Nobel" !important;
      font-size: 40px;
    }

    p.prize {
      font-size: 20px;
    }
  }

  div.norsk-tipping {
    text-align: center;

    p {
      margin-top: 15px;
      font-family: "DTL Nobel" !important;
      font-style: italic;
    }
  }
}

div.upload-success-generic {
  text-align: center;

  h2 {
    margin-bottom: 0;
  }

  p {
    font-family: "DTL Nobel" !important;
    font-size: 18px;
  }
}
