div.instagram-bulk1 {

  @margin: 2px;
  @imagesize: 150px;

  div, img {
    float: left;
    display: block;
    margin: @margin;
  }

  div {
    margin-top: 0;
  }

  div.wrap {
    width: (@imagesize * 2) + (@margin * 2 * 2);
  }
}
