/**
 * The main stylesheet for turistforeningen.no
 */

/* Header */

header {
  font-size: 14px !important;
  font-family: "DTL Nobel";

  div.search {
    text-align: right;

    form.form-search {
      margin-top: 20px;
    }
  }

  div.login {
    margin-top: 6px;
    margin-bottom: 9px;
    text-align: right;

    a {
      color: rgb(30, 30, 30);
      margin-left: 7px;
      margin-right: 7px;
    }
  }
}

@media (max-width: 979px) {
  header {
    div.border, div.breadcrumb-container, div.language-container {
      display: none;
    }

    div.menu-container {
      float: left !important;
    }

    div.login-container {
      float: right !important;
    }

    div.login a {
      display: block;
    }
  }
}

header {
  div.border {
    clear: both;
    position: absolute;
    width: 100%;
    left: 0;
    margin-top: -3px;
    border-top: 1px solid rgb(229, 229, 229);
  }

  div.menu-breadcrumb {
    margin-top: 5px;
  }

  div.menu-breadcrumb, div.menu-breadcrumb a {
    color: rgb(121, 121, 121);
  }

  div.menu-breadcrumb em {
    font-style: normal;
    font-weight: bold;
  }

  ul.language-bar {
    float: right;
  }

  ul.language-bar li {
    font-family: "DTL Nobel" !important;
    font-size: 14px !important;
    line-height: 18px;
  }

  ul.language-bar li.dropdown a {
    color: rgb(30, 30, 30);
  }

  ul.dropdown-menu {
    position: absolute;
    left: -65px;
  }

  /* Small-screen menu control */

  div.mobile-control {
    display: none;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  p.display-menu {
    float: left;
  }

  p.display-search {
    float: right;
  }

  p.display-menu, p.display-search {
    display: none;
  }

  p.display-menu a, p.display-search a {
    font-family: "DTL Nobel" !important;
    font-size: 20px !important;
    color: rgb(30, 30, 30);
    text-transform: uppercase;
  }

  p.display-menu a:hover, p.display-search a:hover {
    color: rgb(180, 180, 180);
    background-color: rgb(250, 250, 250);
    text-decoration: none;
  }

  p.display-menu a b.caret {
    margin-left: 2px;
  }

  p.display-search a b.caret {
    margin-right: 2px;
  }

  p.display-menu a b.caret, p.display-search a b.caret {
    margin-top: 12px;
    border-top-color: rgb(30, 30, 30);
    border-bottom-color: rgb(30, 30, 30);
  }

  p.display-menu a:hover b.caret, p.display-search a:hover b.caret {
    border-top-color: rgb(180, 180, 180);
    border-bottom-color: rgb(180, 180, 180);
  }

  form.search-mobile {
    display: none;

    input[type='text'] {
      width: 65%;
      margin: 0 1% 0 1%;
    }

    button[type='submit'] {
      margin: 0 1% 0 1%;
    }
  }
}

@media (max-width: 767px) {
  header {
    div.mobile-control, p.display-menu, p.display-search {
      display: block;
    }
  }

  nav#menus, div.login {
    display: none;
  }
}

/* Social icons above footer */

div.social-icons {
  margin-top: 40px;

  h1 {
    text-transform: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 1;
    margin-bottom: 0;
    border-bottom: none;
    text-transform: uppercase;
  }

  a {
    color: rgb(118, 118, 118);
    font-family: "DTL Nobel";
  }

  img.social {
    float: left;
    margin-right: 10px;
  }
}

/* Footer */

footer {
  background-color: rgb(232, 232, 232);
  border-top: 1px solid rgb(195, 195, 195);
  margin-top: 20px;
  padding-bottom: 100px;
  padding-top: 20px;
}

footer.main {
  div.services {
    h2 {
      font-size: 18px;
      font-weight: normal;
      text-transform: uppercase;
    }

    a {
      line-height: 1.5;
      color: black;
    }

    a:hover {
      color: @profile-red;
    }

    ul {
      list-style-type: none;
      margin-left: auto;
    }
  }

  div.sponsors {
    text-align: center;
    margin-top: 40px;

    img {
      margin-left: 5px;
      margin-right: 5px;
    }

    img.onecall {
      margin-right: 20px !important;
    }
  }

  div.sponsors-underline {
    @main: 160px;
    @tour: 355px;
    @other: 216px;
    margin-left: 80px;

    div {
      float: left;
      font-family: "DTL Nobel" !important;
      font-size: 14px;
      color: rgb(145, 145, 145);
      border-top: 2px solid rgb(195, 195, 195);
      margin-top: 15px;
      margin-left: 8px;
      margin-right: 8px;
      padding-top: 5px;
    }

    div.main {
      width: @main;
    }

    div.tour {
      width: @tour;
    }

    div.other {
      width: @other;
    }
  }
}

footer.local {
  img.local-logo {
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
  }

  div.contact-information {
    h2 {
      @logo-height: 60px;
      @font-size: 24px;
      font-size: @font-size;
      padding-top: ((@logo-height - @font-size) / 2) - 4;
      margin: 0;
    }

    table {
      width: 100%;

      th, td {
        padding: 3px 8px;
      }

      th {
        text-align: right;
        font-weight: normal;
      }
    }
  }
}


@media (max-width: 767px) {
  div.search {
    display: none;
  }

  div.social-icons div.span3 {
    margin-bottom: 20px;
  }

  /* Negate the body margins with padding to achieve 100% width */
  footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;

    div.services div.span3 {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 979px) {
  footer div.sponsors-underline {
    display: none;
  }
}

/* Search box, preliminary for associations */

div#searchbox {
  width: 940px;
  height: 467px;
  background-image: url('/static/img/promo/sykkel.jpg');

  div#content {
    position: relative;
    margin-left: 10px;
    top: 100px;
    width: 760px;
    height: 270px;
  }

  table {
    width: 100%;
  }

  td.categories {
    width: 250px;
    vertical-align: top;

    p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  td.counties {
    vertical-align: top;
  }

  div.county {
    float: left;
    width: 33%;
  }
}

/* Search-results */

div#search-results {
  p.hits {
    color: rgb(100, 100, 100);
  }

  div.search-result {
    margin-bottom: 20px;

    h3 {
      margin-bottom: 0;
    }

    img {
      max-width: 150px;
      max-height: 300px;
    }

    img.thumbnail {
      float: right;
    }
  }

  span.published {
    color: rgb(120, 120, 120);
    font-size: 16px;
    font-weight: normal;
  }
}

/* Login page */

div.forgot-password {
  button.restore-password {
    margin-bottom: 10px;
  }

  p.info.success {
    color: rgb(45, 140, 32);
  }

  p.info.unknown, p.info.invalid, p.info.error {
    color: @profile-red;
  }
}

div#restore-password table td.info {
  color: @profile-red;
}

/* Ads */

div.ad {
  margin-top: 40px;
  margin-bottom: 40px;

  p.ad-label {
    font-family: "DTL Nobel" !important;
    font-size: 12px;
    margin-bottom: 0px;
  }

  img.viewcounter {
    width: 1px;
    height: 1px;
    position: absolute;
  }
}

/* Progress bar */

table.registration-progress {
  margin: 0 0 25px 0;
  width: 100%;

  td.step:first-of-type {
    border-left: 3px solid rgb(255, 255, 255);
  }

  td.step {
    /* Line-height is 24px so set vertical padding to max 48 (height of arrow-image) - line-height */
    background-color: #dcddde;
    padding: 12px 30px 12px 15px;
    border-right: 3px solid rgb(255, 255, 255);
  }

  td.step.current {
    color: white;
    background: #d82a20 url('/static/img/step-current.png') top right no-repeat;
    border-right: none !important;
  }

  td.step.final {
    color: white;
    background: #d82a20 top right no-repeat;
  }
}

div.registration-progress-small {
  display: none;
}

/* Progress bar for small screens */

@media (max-width: 767px) {
  table.registration-progress {
    display: none;
  }

  div.registration-progress-small {
    display: block;
    padding: 6px;
    border: 1px solid rgb(152, 152, 152);
    margin-bottom: 18px;
  }

  div.registration-progress-small p {
    font-family: "DTL Nobel" !important;
    margin-bottom: 0;
  }

  div.registration-progress-small p i {
    margin: 3px 3px 0 3px;
  }
}
