form.account-info div.control-group div.controls {
  img.info.nohover {
    display: inline;
  }

  img.info.hover {
    display: none;
  }
}


form.account-info div.control-group:hover div.controls {
  img.info.nohover {
    display: none;
  }

  img.info.hover {
    display: inline;
  }
}

div.forgot-password-container {
  p.actions {
    padding-top: 0 !important;
  }
}

/* Login page */

div.forgot-password {
  button.restore-password {
    margin-bottom: 10px;
  }

  p.info.success {
    color: rgb(45, 140, 32);
  }

  p.info.unknown, p.info.invalid, p.info.unregistered, p.info.error {
    color: @profile-red;

    a {
      text-decoration: underline;
    }
  }
}

div#restore-password table td.info {
  color: @profile-red;
}
