form.account-info div.control-group div.controls {
  img.info.nohover {
    display: inline;
  }

  img.info.hover {
    display: none;
  }
}

form.account-info div.control-group:hover div.controls {
  img.info.nohover {
    display: none;
  }

  img.info.hover {
    display: inline;
  }
}

/* User homepage dashboard */

div.user-home-account {
  table {
    th {
      text-align: right;
      font-weight: normal;
      vertical-align: top;
    }

    td {
      font-weight: bold;
    }

    th, td {
      font-family: "DTL Nobel" !important;
      font-size: 18px;
      padding: 2px 8px;
    }

    @media (max-width: 767px) {
      th {
        padding-top: 6px;
        padding-bottom: 0;
      }

      td {
        padding-top: 0;
        padding-bottom: 6px;
      }

      th, td {
        display: block;
        text-align: left;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

div.user-home-navigation {
  a.element {
    display: block;
    margin-bottom: 20px;
    .square-well;

    p {
      color: rgb(51, 51, 51); // Duplicated from the default bootstrap color
    }

    p.title {
      font-family: "DTL Nobel" !important;
      font-size: 22px;
      color: @profile-red;
    }
  }

  a.element:hover, a.element:active, a.element:focus {
    text-decoration: none;

    p {
      text-decoration: none;
    }

    p.title {
      text-decoration: underline;
    }
  }
}

h2.user-account-header a {
  font-weight: normal;
}

table.norway-busticket-order {
  th {
    text-align: right;
    font-weight: normal;
  }

  td {
    font-weight: bold;
  }

  th, td {
    font-family: "DTL Nobel" !important;
    font-size: 18px;
    padding: 2px 8px;
  }
}

div.publications {
  div.content-wrapper {
    div.hover-content {
      position: absolute;
      padding: 15px;
      opacity: 0.95;
      filter: alpha(opacity=95);
      font-family: "DTL Nobel" !important;
      font-size: 20px;
      text-align: center;
      color: rgb(0, 0, 0);
      background-color: rgb(255, 255, 255);

      a.cta {
        display: inline-block;
        width: 100%;
        margin-top: 40px;
        text-align: center;
        background-position: top center;
        background-repeat: no-repeat;

        div.action-label {
          padding-top: 60px;
        }
      }

      a.cta.download {
        background-image: url('/static/img/icons/nounproject/464-download.png');
      }

      a:hover.cta.download {
        background-image: url('/static/img/icons/nounproject/464-download-red.png');
      }

      a.cta.view-online {
        background-image: url('/static/img/icons/nounproject/2248-book.png');
      }

      a:hover.cta.view-online {
        background-image: url('/static/img/icons/nounproject/2248-book-red.png');
      }
    }
  }
}

/* Login page */

div.loginpage-wrapper {

  ul.nav.nav-tabs {
    // Align the tabs with the tab-content borders
    margin-bottom: 0;

    li a {
      // Custom nav-styling, maybe this should be site-wide?
      font-family: "DTL Nobel" !important;
      font-weight: bold;
    }
  }
  div.tab-content div.login-form-wrapper, div.tab-content div.registration-form-wrapper {
    // Remove the top border, ul.nav will take care of that
    border-top: none;
  }

  div.tab-content {
    // Bootstrap sets overflow: auto; by default. This yields scrollbars when used with
    // a chosen select box, so reset it to visible in this case.
    overflow: visible;
  }

  div.registration-form-wrapper {
    select[name='country'] {
      width: 280px;
    }
  }

  div.usersite-benefits {
    margin-top: 38px; // Kind of hackish, this is the current calculated height of the nearby ul.nav-element
    .square-well;
  }

  div.forgot-password-container {
    p.actions {
      padding-top: 0 !important;
      margin-bottom: 0;
    }

    p.info {
      font-family: "DTL Nobel" !important;
    }
  }

  // Use bootstrap form-horizontal, just smaller
  div.login-form-wrapper {
    label.control-label {
      width: 100px;
    }

    div.controls {
      margin-left: 120px;
    }

    @media (max-width: 767px) {
      label.control-label {
        width: auto;
      }

      div.controls {
        margin-left: auto;
      }
    }
  }

  div.forgot-password {
    button.restore-password {
      margin-bottom: 10px;
    }

    p.info.success {
      color: rgb(45, 140, 32);
    }

    p.info.unknown, p.info.invalid, p.info.unregistered, p.info.error {
      color: @profile-red;

      a {
        text-decoration: underline;
      }
    }
  }

  form.restore-password div.password-hint {
    font-family: "DTL Nobel" !important;
    color: @profile-red;
  }
}

div.memberid-hint-modal {
  width: 400px;
}

/* Reservations */

div.user-reservations {
  table.user-reservations {
    td {
      padding: 3px 5px;
      vertical-align: middle;
      font-family: "DTL Nobel" !important;
      color: rgb(100, 100, 100);
    }

    tr.choice td:hover {
      cursor: pointer;
      text-decoration: underline;
    }

    tr.active td {
      color: @profile-red;
    }

    tr.loading td {
      padding-top: 20px;
      text-align: center;
    }

    tr.success td {
      color: rgb(60, 180, 60);
    }
  }

  h3 {
    margin-bottom: 0 !important;
  }

  h3:not(:first-of-type) {
    margin-top: 20px !important;
  }
}

div.fotobok-eurofoto-anchor {
  text-align: center;
}
