form.account-info div.control-group.sherpa-email div.controls {
  img.info.nohover {
    display: inline;
  }

  img.info.hover {
    display: none;
  }
}


form.account-info div.control-group.sherpa-email:hover div.controls {
  img.info.nohover {
    display: none;
  }

  img.info.hover {
    display: inline;
  }
}
