.carousel {

  .carousel-indicators {
    bottom: 0;
  }

  .carousel-control.left {
    background-image: none;
  }

  .carousel-control.right {
    background-image: none;
  }

  .item {
    .carousel-caption {
      bottom: 0;
      left: 0;
      right: 0;
      padding-bottom: 30px;
      background-color: rgba(0, 0, 0, 0.75);
    }
  }

}
