<div class="widget promo">
  <div class="menu">
    <ul>
      <li>Kom deg ut</li>
      <li>Fellesturer</li>
      <li>Hytter</li>
      <li>Stier</li>
      <li>Barn</li>
      <li>Ungdom</li>
      <li>Seniorer</li>
      <li>Fjellsport</li>
      <li>Trilleturer</li>
    </ul>
  </div>

  <div class="content">
    <h1>Kom deg ut-dagen</h1>
    <p class="lede">Søndag 4. september</p>
    <p>Kom deg ut-dagen arrangeres over hele landet søndag 4. september. Her kan du være med på turer og aktiviteter for store og små.</p>
    <p>Barn og voksne, ungdom og eldre, hyperaktive friluftslivsentusiaster og blide sofagriser, eksperter og nybegynnere - vi har tilbud for alle på Kom deg ut- dagen!</p>
    <p><a href="javascript:undefined">Finn et arrangement der du bor</a></p>
    <p>Vi samarbeider med:</p>
    <p>
      <img src="{{ STATIC_URL }}img/widgets/promo/one-call.png" alt="One Call">
      <img src="{{ STATIC_URL }}img/widgets/promo/norsk-tipping.png" alt="Norsk Tipping">
    </p>
  </div>
</div>
