{% extends "admin/layout.html" %}
{% block title %}Websider &mdash; {{ block.super }}{% endblock %}
{% block header %} → <a href="{% url admin.cms.views.page.list %}">Websider</a>{% endblock %}
{% block extra_scripts %}
  <script src="{{ STATIC_URL }}js/admin-editor-advanced.js"></script>
  <script src="{{ STATIC_URL }}js/admin-editor-common.js"></script>
{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/admin-editor-advanced.css" media="screen">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/admin-editor-common.css" media="screen">
{% endblock %}
{% block body %}

{# Used for AJAX requests. #}
{% csrf_token %}

<div class="row">
  <div class="offset3 span6">
    <div class="no-save-warning alert alert-error">
      <a class="close">x</a>
      <strong>Advarsel!</strong><br>
      Du har ikke lagret artikkelen på over 5 minutter! Du bør vurdere å lagre nå, hvis ikke kan du miste endringene du har gjort hvis et uhell oppstår.
    </div>
  </div>
</div>

<article data-id="{{ version.id }}">

{% for row in rows %}
<div class="row" data-id="{{ row.id }}" data-order="{{ row.order }}">
  {% for column in row.columns %}
    <div class="column offset{{ column.offset }} span{{ column.span }}" data-id="{{ column.id }}" data-order="{{ column.order }}">
      {% for content in column.contents %}
        {% if content.type == 'h' %}
          <div class="content" data-id="{{ content.id }}" data-order="{{ content.order }}">{{ content.content|safe }}</div>
        {% else %}
          {% include content.widget.template with widget=content.widget %}
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
</div>
{% endfor %}

</article>

<div id="toolbar">
  <ul class="nav nav-tabs">
    <li class="active"><a href="javascript:undefined">Lagre</a></li>
    <li><a href="javascript:undefined">Struktur</a></li>
    <li><a href="javascript:undefined">Innhold</a></li>
    <li><a href="javascript:undefined">Formatering</a></li>
    <li><a href="javascript:undefined">Lenker</a></li>
  </ul>
  <div id="tabs">
    <div class="tab save">
      <p class="save-text"><i class=\"icon-ok\"></i> Artikkelen er nylig lagret.</p>
      <button class="btn save">Lagre</button>
    </div>
    <div class="tab structure">
      <p>
        <input class="formatting" type="radio" name="editmode" checked> Tekstredigering<br>
        <input class="vertical" type="radio" name="editmode"> Flytt vertikalt (kolonner)<br>
        <input class="horizontal" type="radio" name="editmode"> Flytt horisontalt (rader)<br>
        <button class="btn add-columns">Legg til ny rad med kolonner</button><br>
        <button class="btn remove-columns">Ta bort rad med kolonner</button>
      </p>
    </div>
    <div class="tab content">
      <button class="btn add-widget"><i class="icon-star"></i> Ny widget</button>
      <button class="btn add-image"><i class="icon-picture"></i> Nytt bilde</button>
      <button class="btn add-text"><i class="icon-align-left"></i> Ny tekst</button><br>
      <button class="btn remove-content"><i class="icon-remove"></i> Ta bort innhold</button>
    </div>
    <div class="tab formatting">
      <div class="button bold"></div>
      <div class="button italic"></div>
      <div class="button underline"></div>
      <div class="button ol"></div>
      <div class="button ul"></div>
      <div class="button align-left"></div>
      <div class="button align-center"></div>
      <div class="button align-right"></div>
      <div style="clear: both;"></div>
      <select>
        <option value="default">Velg skrifttype...</option>
        <optgroup label="--------------------">
          <option value="h1">Overskrift (stor)</option>
          <option value="h2">Overskrift (liten)</option>
          <option value="p">Brødtekst</option>
        </optgroup>
      </select>
    </div>
    <div class="tab link">
      <p>URL-adresse: <input type="text" class="url"></p>
      <button class="btn anchor-add">Sett inn link</button>
      <button class="btn anchor-remove">Ta bort link</button>
      <p style="margin-top: 10px;">Tips: For at knappene skal funke må du markere teksten i artikkelen som du vil gjøre til en link.</p>
    </div>
    <div style="clear: both;"></div>
  </div>
</div>

{% endblock %}
