{% extends "admin/layout.html" %}
{% block title %}Websider &mdash; {{ block.super }}{% endblock %}
{% block header %} → <a href="{% url admin.cms.views.page.list %}">Websider</a>{% endblock %}
{% block extra_scripts %}
  <script src="{{ STATIC_URL }}lib/bootstrap/bootstrap-tab.js"></script>
  <script src="{{ STATIC_URL }}js/admin-editor.js"></script>
{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/admin-editor.css" media="screen">
{% endblock %}
{% block body %}

{# Used for AJAX requests. #}
{% csrf_token %}

<div class="row">
  <div class="offset3 span6">
    <div class="no-save-warning alert alert-error">
      <a class="close">x</a>
      <strong>Advarsel!</strong><br>
      Du har ikke lagret artikkelen på over 5 minutter! Du bør vurdere å lagre nå, hvis ikke kan du miste endringene du har gjort hvis et uhell oppstår.
    </div>
  </div>
</div>

<article data-id="{{ version.id }}">

{% for row in rows %}
<div class="row" data-id="{{ row.id }}">
  {% for column in row.columns %}
    <div class="column offset{{ column.offset }} span{{ column.span }}" data-id="{{ column.id }}">
      {% for content in column.contents %}
        {% if content.type == 'h' %}
          <div class="content" data-id="{{ content.id }}">{{ content.content|safe }}</div>
        {% else %}
          {% include content.widget.template with widget=content.widget %}
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
</div>
{% endfor %}

</article>

{% include 'admin/cms/toolbar.html' %}
{% endblock %}
