{% extends "admin/layout.html" %}
{% block title %}Admin: Page{% endblock %}
{% block header %}<a href="{% url admin.cms.views.page.list %}">CMS</a>{% endblock %}
{% block body %}

<h1>Artikler</h1>
{% if not versions %}
<p>Tomt!</p>
{% else %}
<ul>
{% for version in versions %}
  <li>{{ version.content.content }}
      [ <a href="{% url admin.cms.views.page.edit version.variant.page.id %}">Rediger</a> ]
      [ <a href="{% url admin.cms.views.page.delete version.variant.page.id %}">Slett</a> ]</li>
{% endfor %}
</ul>
{% endif %}

<p>Ny artikkel</p>
<p>
<form action="{% url admin.cms.views.page.new %}" method="post">
{% csrf_token %}
  Vennligst oppgi foreløpig slug (du kan endre denne senere):<br>
  <input type="text" name="slug" value=""><br>
  <input type="submit" value="Opprett ny artikkel">
</form>
</p>
{% endblock %}
