<h1>{{ widget.title }}</h1>

{% for version in widget.versions %}
  <h3>
    <a href="{% url articles.views.show version.variant.article.id version.title.content|striptags|slugify %}">
      {{ version.title.content|striptags }}
    </a>
  </h3>
  <div class="row-fluid preview">
    {% if not version.hide_thumbnail %}
    <div class="span4">
      <a href="{% url articles.views.show version.variant.article.id version.title.content|striptags|slugify %}">
        <img src="{{ version.thumbnail }}" alt="{{ version.title.content|striptags }}">
      </a>
    </div>
    {% endif %}
    <div class="span8">
      <a href="{% url articles.views.show version.variant.article.id version.title.content|striptags|slugify %}">
        {{ version.lede.content|striptags|safe|truncatewords:15 }}
      </a>
    </div>
  </div>
{% endfor %}

<p class="more">
  {% if widget.tag_link %}
    <a href="{% url articles.views.index %}?tag={{ widget.tag_link }}">Se flere nyheter om {{ widget.tag_link }}</a>
  {% else %}
    <a href="{% url articles.views.index %}">Se eldre nyheter</a>
  {% endif %}
</p>
