{% extends 'common/admin/layout.html' %}
{% block title %}SMS-tjenester — {{ block.super }}{% endblock %}

{% block admin_menu %}{% with 'memberid_sms' as active_entry %}{{ block.super }}{% endwith %}{% endblock %}

{% block body %}

<div class="row">
  <div class="col-lg-12">
    <h1>SMS-tjenester <small>overvåk medlemmenes bruk av våre SMS-tjenester</small></h1>
    <ol class="breadcrumb">
      <li class="active"><i class="fa fa-dashboard"></i> <a href="{% url 'admin.views.index' %}">Sherpa</a></li>
      <li><a href="{% url 'admin.memberid_sms.views.list' %}">SMS-tjenester</a></li>
    </ol>
  </div>
</div><!-- /.row -->

<div class="row">
  <div class="col-lg-12">

    <p>
      "Antall" er antall noterte requests på samme IP de siste 30 min - resettes etter de 30 minuttene.<br>
      "Blokkert" skjer når man får mer enn 10 requests på de 30 minuttene.<br>
      Totalt {{ sms_requests|length }} forespørsler hvorav {{ total_sent }} ble sendt, gitt en SMS-pris på kr. {{ sms_price }} blir det totalt kr. {{ total_cost }}.
    </p>

    <table class="table">
      <thead>
        <tr>
          <th>Minside-profil</th>
          <th>IP</th>
          <th>Forespurt tlf.nr.</th>
          <th>Matchende medlemsnummer</th>
          <th>Antall</th>
          <th>Når</th>
        </tr>
      </thead>
      <tbody>
        {% for request in sms_requests %}
          <tr>
            <td>
              {% if request.user %}
                {{ request.user.get_full_name }} ({{ request.user.memberid }})
              {% else %}
                Ikke pålogget
              {% endif %}
            </td>
            <td>{{ request.ip }}</td>
            <td>
              {% if request.phone_number_input != None %}
                {{ request.phone_number_input }}
              {% else %}
                <em>Fra Min Side</em>
              {% endif %}
            </td>
            <td>
              {% if not request.blocked %}
                {{ request.memberid|default:"<em>Ingen match på tlf.</em>" }}
              {% else %}
                <em>N/A (blokkert)</em>
              {% endif %}
            </td>
            <td>{{ request.count }}{% if request.blocked %} - Blokkert!{% endif %}</td>
            <td>{{ request.date|date:"d.m.Y H:i" }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <ul class="pagination pagination-lg">
      <li>
        <a href="{% url 'admin.memberid_sms.views.list' %}?page=1">
          <i class="fa fa-angle-double-left"></i>
        </a>
      </li>

      {% for number in sms_requests.paginator.page_range %}
        <li{% if number == sms_requests.number %} class="active"{% endif %}>
          <a href="{% url 'admin.memberid_sms.views.list' %}?page={{ number }}">{{ number }}</a>
        </li>
      {% endfor %}

      <li>
        <a href="{% url 'admin.memberid_sms.views.list' %}?page={{ sms_requests.paginator.num_pages }}" class="page">
          <i class="fa fa-angle-double-right"></i>
        </a>
      </li>
    </ul>

  </div>
</div>

{% endblock %}
