{% extends 'common/admin/layout.html' %}

{% block body %}

<div class="row">
  <div class="span12">

    <h2>Bruk av SMS-tjenesten</h2>

    <p>
      "Antall" er antall noterte requests på samme IP de siste 30 min - resettes etter de 30 minuttene.<br>
      "Blokkert" skjer når man får mer enn 10 requests på de 30 minuttene.<br>
      Totalt {{ sms_requests|length }} forespørsler hvorav {{ total_sent }} ble sendt, gitt en SMS-pris på kr. {{ sms_price }} blir det totalt kr. {{ total_cost }}.
    </p>

    <table class="table">
      <thead>
        <tr>
          <th>Minside-profil</th>
          <th>IP</th>
          <th>Forespurt tlf.nr.</th>
          <th>Matchende medlemsnummer</th>
          <th>Antall</th>
          <th>Når</th>
        </tr>
      </thead>
      <tbody>
        {% for request in sms_requests %}
          <tr>
            <td>
              {% if request.user %}
                {{ request.user.get_full_name }} ({{ request.user.memberid }})
              {% else %}
                Ikke pålogget
              {% endif %}
            </td>
            <td>{{ request.ip }}</td>
            <td>
              {% if request.phone_number_input != None %}
                {{ request.phone_number_input }}
              {% else %}
                <em>Fra Min Side</em>
              {% endif %}
            </td>
            <td>
              {% if not request.blocked %}
                {{ request.memberid|default:"<em>Ingen match på tlf.</em>" }}
              {% else %}
                <em>N/A (blokkert)</em>
              {% endif %}
            </td>
            <td>{{ request.count }}{% if request.blocked %} - Blokkert!{% endif %}</td>
            <td>{{ request.date|date:"d.m.Y H:i" }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
