<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="FIAhXuevMnC7YVDxnUZhTRzqTSZ_FYrkRNIHl0Z5HfI">
  <title>{% block title %}Forsiden{% endblock %} — Turistforeningen</title>
  <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">

  {% include 'global_layout/css.html' %}
  {% block extra_css %}{% endblock %}

</head>
<body>

<div class="container">

{# We'll use some hacks to make this design look like the original, since we're not modifying the css for this template. If this becomes too ugly, just remove everything and redesign based on the original. #}

<header>
  <div style="height: 70px">
    <div class="forening-logo left top">
      <a href="{% url 'page.views.page' %}" class="single">
        {{ site.forening.name }}
      </a>
    </div>
  </div>

  <div class="mobile-control">
    <p class="display-menu">
      <a href="javascript:undefined">
        Meny <b class="caret"></b>
      </a>
    </p>
    <p class="display-search">
      <a href="javascript:undefined">
        <b class="caret"></b> Søk
      </a>
    </p>
    <div style="clear: both;"></div>
  </div>

  <form action="{% url 'page.views.search' %}" method="get" class="form-inline search-mobile">
    <input type="text" name="q" value="{{ search_query }}">
    <button type="submit" class="btn btn-default">Søk</button>
  </form>

  <div class="menu-container">
    <nav id="menus">
      <ul>
        <li>
          <a href="{% url 'connect.views.signon_cancel' %}" class="noexternal">Avbryt og gå tilbake</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="border"></div>

  <div class="row">
    <div class="col-md-10 breadcrumb-container">
      <div class="menu-breadcrumb">
        {{ dntconnect.client_name }}
        {# Too much template logic, but can't see a better way to do this. #}
        {% if page_hierarchy %}
          {% for page in page_hierarchy %}
            /
            {% if forloop.last %}<em>{% endif %}
              <a href="/{{ page.url }}/">{{ page.title }}</a>
            {% if forloop.last %}</em>{% endif %}
          {% endfor %}
        {% elif version.variant.page %}
          {% if version.variant.page.slug != '' %}
            / <em><a href="/{{ version.variant.page.slug }}/">{{ version.variant.page.title }}</a></em>
          {% endif %}
        {% elif version.variant.article %}
          / <a href="{% url 'articles.views.index' %}">Nyheter</a>
          / <em><a href="">{{ version.get_title_content.content|striptags|safe }}</a></em>
        {% elif article %}
          / <a href="{% url 'articles.views.index' %}">Nyheter</a>
          / <em><a href="">{{ article.title }}</a></em>
        {% else %}
          {# Fall back to the static title #}
          / {% block breadcrumb %}<em><a href="">Turistforeningen</a></em>{% endblock %}
        {% endif %}
      </div>
    </div>
  </div>
</header>

<div class="dnt-connect-turadmin">
  {% block body %}{% endblock %}
</div>

</div>

{# "Global" csrf_token for AJAX-requests #}
{% csrf_token %}

{# Include uservoice for turadmin/dnt connect-related feedback/issues #}
<script src="{{ STATIC_URL }}js/uservoice.js"></script>

{% include 'global_layout/scripts_init.html' %}
{% block js_globals %}{% endblock %}
{% include 'global_layout/scripts.html' %}
{% block extra_js %}{% endblock %}

</body>
</html>
