<h1>
  Bli medlem
</h1>

<p>
  Da støtter du driften av våre hytter og merkingen av 20.000 km turstier. I tillegg får du en rekke medlemsfordeler, samt tilbud om turer og kurs over hele landet.
</p>

<p class="double-button-hack">
  <a class="btn btn-large btn-danger full" href="{% url 'membership.views.index' %}?utm_source=Forside&utm_campaign=Medlemskap">Bli medlem</a>
  <a class="btn btn-large small" href="{% url 'membership.views.index' %}?utm_source=Forside&utm_campaign=Medlemskap">Bli medlem</a>
</p>
