{% extends 'layout.html' %}

{% block title %}Siden finnes ikke{% endblock %}

{% block body %}

<div class="row">
  <div class="offset1 span5">
    <img src="{{ STATIC_URL }}img/compass.png" alt="Compass">
  </div>
  <div class="span5">
    <h2>Hmm, nå fant vi ikke frem...</h2>

    <p>
      Du har kommet til en side som ikke finnes. Det kan skyldes at du har klikket på en lenke som gikk til våre <a href="http://{{ old_site }}{{ path }}">gamle nettsider</a> eller at du har skrevet inn feil adresse.
    </p>

    <p>
      <strong>Fortvil ikke, vi viser deg noen veier videre:</strong>
    </p>

    <ul>
      <li>Finn hytter og turer på <a href="http://ut.no/">UT.no</a></li>
      <li>Finn <a href="">din lokale turistforening</a></li>
      <li><a href="">Kontakt oss</a></li>
      <li>Sjekk våre <a href="http://{{ old_site }}/">gamle nettsider</a></li>
    </ul>

  </div>
</div>

{% endblock %}
