{% extends 'layout.html' %}

{% block title %}Teknisk feil{% endblock %}

{% block body %}

<div class="row">
  <div class="offset1 span10">

    <h1>
      <img src="{{ STATIC_URL }}img/icons/glyph/original/glyphicons_196_circle_exclamation_mark.png" alt="!">
      Beklager, det har skjedd en feil
    </h1>

    <p>
      Feilen er logget i vårt system, og vi vil rette den så snart som mulig.
    </p>

    <p>
      Vi beklager at vi ikke kunne hjelpe deg akkurat nå, men håper du vil forsøke igjen senere.
    </p>

  </div>
</div>

{% endblock %}
