<script>
  $(document).ready(function() {
    $("div#first-visit").modal();
  });
</script>
<div id="first-visit" class="modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h2>Vi har fått nye nettsider!</h2>
  </div>
  <div class="modal-body">
    <p>
      Våre nettsider har fått nytt design. Samtidig har vi flyttet litt om på hvor ting ligger og ryddet opp i gammelt innhold.
    </p>

    <p>
      Målet har vært å gjøre sidene mer oversiktlige og lettere å lese, slik at det blir enklere å finne frem til tilbudet vårt og hva vi jobber med. <strong>Vi vil at du skal komme deg ut på tur - ikke gå deg bort i nettsidene våre :)</strong>
    </p>

    <p>
      <a href="http://{{ old_site }}/">Våre gamle nettsider</a> er fortsatt tilgjengelige, i tilfelle du ikke finner det du leter etter her. Inntil videre vil deler av innholdet og tjenestene, som <a href="http://{{ old_site }}/activity.php">turer og aktiviteter</a>, <a href="https://{{ old_site }}/fjelltreffen/">Fjelltreffen</a> og <a href="https://{{ old_site }}/minside/">Min side</a> være på de gamle sidene, mens vi jobber med å flytte dette over.
    </p>

    <h3>Spørsmål?</h3>
    <p>
      <a href="/kontakt/">Ta kontakt med oss</a> hvis du lurer på noe.
    </p>

    <h3>Vi tar gjerne i mot tilbakemeldinger</h3>

    <p>
      Vi jobber hele tiden med å gjøre våre nettsider best mulig for deg. Har du innspill, tilbakemeldinger eller kommentarer kan du gjerne sende dette til <a href="mailto:webmaster@turistforeningen.no">webmaster@turistforeningen.no</a>
    </p>
  </div>
  <div class="modal-footer">
    <a href="javascript:undefined" class="btn btn-large" data-dismiss="modal">Lukk vindu</a>
  </div>
</div>
