<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Forsiden{% endblock %} &mdash; Turistforeningen</title>
  <!--[if lt IE 9]><script src="{{ STATIC_URL }}lib/html5shiv/html5.js"></script><![endif]-->
  <script src="{{ STATIC_URL }}lib/jquery/jquery-1.7.1.min.js"></script>
  <!--[if lte IE 9]><script src="{{ STATIC_URL }}js/placeholder-ie.js"></script><![endif]-->
  <script src="{{ STATIC_URL }}js/main.js"></script>
  <script src="{{ STATIC_URL }}js/common.js"></script>
  {% block extra_scripts %}{% endblock %}
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/bootstrap/bootstrap.min.css" media="screen">
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/bootstrap/bootstrap-responsive.min.css" media="screen">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" media="screen">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/common.css" media="screen">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/widgets.css" media="screen">
  {% block extra_css %}{% endblock %}
</head>
<body class="container">

<header>
  <div class="row">
    <div class="span6">
      <a href="{% url page.views.page %}"><img src="{{ STATIC_URL }}img/header-logo.png"></a>
    </div>
    <div class="span6" style="text-align: right;">
      <form action="#" method="post" class="form-search">
        <input type="text" value="" class="input-medium search-query">
        <button type="submit" class="btn">Søk</button>
      </form>
    </div>
  </div>

  {% if menus %}
  <nav>
    <ul class="nav nav-tabs">
      {% for menu in menus %}
      <li{% if menu.page == page %} class="active"{% endif %}>
        <a href="/{{ menu.page.slug }}{% if menu.page.slug %}/{% endif %}">{{ menu.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
  {% endif %}
</header>
{% block body %}{% endblock %}
<footer>
  <div class="row">
    <div class="span3">
      <img class="social" src="{{ STATIC_URL }}img/icons/social/turistforeningen.png">
      <h3>Kontakt oss</h3>
      E-post eller telefon
    </div>
    <div class="span3">
      <img class="social" src="{{ STATIC_URL }}img/icons/social/facebook.png">
      <h3>Facebook</h3>
      Følg oss
    </div>
    <div class="span3">
      <img class="social" src="{{ STATIC_URL }}img/icons/social/twitter.png">
      <h3>Twitter</h3>
      Snakk med oss
    </div>
    <div class="span3">
      <img class="social" src="{{ STATIC_URL }}img/icons/social/youtube.png">
      <h3>You tube</h3>
      Se våre filmer
    </div>
  </div>

  <div class="row">
    <div class="span3">
      <h2>Tilbudet vårt</h2>
      <ul>
        <li><a href="#">Fellesturer</a></li>
        <li><a href="#">Hytter</a></li>
        <li><a href="#">Stier</a></li>
        <li><a href="#">Kurs</a></li>
        <li><a href="#">Bli turleder</a></li>
        <li><a href="#">Kartbutikk</a></li>
      </ul>
    </div>
    <div class="span3">
      <h2>Interessegrupper</h2>
      <ul>
        <li><a href="#">Barnas Turlag</a></li>
        <li><a href="#">Seniorgruppa</a></li>
        <li><a href="#">Fjellsport</a></li>
        <li><a href="#">Trilleturer</a></li>
        <li><a href="#">Bli turleder</a></li>
        <li><a href="#">DNT Ung</a></li>
      </ul>
    </div>
    <div class="span3">
      <h2>Medlemsskap</h2>
      <ul>
        <li><a href="#">Bli medlem</a></li>
        <li><a href="#">Bestill nøkkel</a></li>
        <li><a href="#">Endre adresse</a></li>
        <li><a href="#">Gavemedlem</a></li>
        <li><a href="#">Bedriftstilbud</a></li>
        <li><a href="#">Bidra</a></li>
      </ul>
    </div>
    <div class="span3">
      <h2>Turistforeningen</h2>
      <ul>
        <li><a href="#">Kontakt oss</a></li>
        <li><a href="#">Hva jobber DNT for?</a></li>
        <li><a href="#">Magasiner/bøker</a></li>
        <li><a href="#">Partnere</a></li>
        <li><a href="#">Ledige stillinger</a></li>
        <li><a href="#">Organisasjonen</a></li>
      </ul>
    </div>
  </div>

  <img src="{{ STATIC_URL }}img/samarbeid.png">

</footer>

</body>
</html>
