<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Forsiden{% endblock %} &mdash; Turistforeningen</title>
  <!--[if lt IE 9]><script src="{{ STATIC_URL }}lib/html5shiv/html5.js"></script><![endif]-->
  <script src="{{ STATIC_URL }}lib/jquery/jquery-1.7.1.min.js"></script>
  <script src="{{ STATIC_URL }}lib/bootstrap/js/bootstrap-dropdown.js"></script>
  <!--[if lte IE 9]><script src="{{ STATIC_URL }}js/placeholder-ie.js"></script><![endif]-->
  <!--[if lt IE 9]><script src="{{ STATIC_URL }}js/trim-ie.js"></script><![endif]-->
  <!--[if lt IE 8]><script src="{{ STATIC_URL }}lib/json/json2.js"></script><![endif]-->
  <script src="{{ STATIC_URL }}js/main.js"></script>
  <script src="{{ STATIC_URL }}js/common.js"></script>
  {% block extra_js %}{% endblock %}
  <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/bootstrap/css/bootstrap.min.css" media="screen">
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/bootstrap/css/bootstrap-responsive.min.css" media="screen">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" media="screen">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/common.css" media="screen">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/widgets.css" media="screen">
  {% block extra_css %}{% endblock %}
</head>
<body>

<div class="container">

<header>
  <div class="row">
    <div class="span6">
      <a href="{% url page.views.page %}"><img src="{{ STATIC_URL }}img/header-logo.png"></a>
    </div>
    <div class="span6 search">
      <form action="#" method="post" class="form-search">
        <input type="text" value="" class="input-medium">
        <button type="submit" class="btn">Søk</button>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <nav id="menus">
        <ul>
          {% for menu in menus %}
          <li{% if menu.active %} class="active"{% endif %}>
            <a href="{{ menu.url }}">{{ menu.name }}</a>
          </li>
          {% endfor %}
        </ul>
        <div style="clear: both;"></div>
        <div class="border"></div>
        <div class="menu-breadcrumb">
          <div class="language-bar">
            <ul class="nav nav-pills">
              <li class="dropdown" id="menu1">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
                  Language
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="http://www.turistforeningen.no/deutsch">Deutsch</a></li>
                  <li><a href="http://www.turistforeningen.no/francais">Française</a></li>
                  <li><a href="http://www.turistforeningen.no/english">English</a></li>
                </ul>
              </li>
            </ul>
          </div>
          Forsiden / <em>Brødsmulesti</em>
        </div>
      </nav>
    </div>
  </div>
</header>

{% block body %}{% endblock %}

</div>

<div class="container social-icons">
  <div class="row">
    <div class="span3">
      <a href="/kontakt/">
        <img class="social" src="{{ STATIC_URL }}img/icons/social/turistforeningen.png">
      </a>
      <h1>
        <a href="/kontakt/">Kontakt oss</a>
      </h1>
      <a href="/kontakt/">E-post eller telefon</a>
    </div>
    <div class="span3">
      <a class="noexternal" href="http://www.facebook.com/turistforeningen">
        <img class="social" src="{{ STATIC_URL }}img/icons/social/facebook.png">
      </a>
      <h1>
        <a class="noexternal" href="http://www.facebook.com/turistforeningen">Facebook</a>
      </h1>
      <a class="noexternal" href="http://www.facebook.com/turistforeningen">Følg oss</a>
    </div>
    <div class="span3">
      <a class="noexternal" href="https://twitter.com/turistforening">
        <img class="social" src="{{ STATIC_URL }}img/icons/social/twitter.png">
      </a>
      <h1>
        <a class="noexternal" href="https://twitter.com/turistforening">Twitter</a>
      </h1>
      <a class="noexternal" href="https://twitter.com/turistforening">Snakk med oss</a>
    </div>
    <div class="span3">
      <a href="http://www.youtube.com/user/turistforeningen">
        <img class="social" src="{{ STATIC_URL }}img/icons/social/youtube.png">
      </a>
      <h1>
        <a class="noexternal" href="http://www.youtube.com/user/turistforeningen">Youtube</a>
      </h1>
      <a class="noexternal" href="http://www.youtube.com/user/turistforeningen">Se våre filmer</a>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row services">
      <div class="span3">
        <h2>Tilbudet vårt</h2>
        <ul>
          <li><a href="#">Fellesturer</a></li>
          <li><a href="#">Hytter</a></li>
          <li><a href="#">Stier</a></li>
          <li><a href="#">Kurs</a></li>
          <li><a href="#">Bli turleder</a></li>
          <li><a href="#">Kartbutikk</a></li>
        </ul>
      </div>
      <div class="span3">
        <h2>Interessegrupper</h2>
        <ul>
          <li><a href="#">Barnas Turlag</a></li>
          <li><a href="#">Seniorgruppa</a></li>
          <li><a href="#">Fjellsport</a></li>
          <li><a href="#">Trilleturer</a></li>
          <li><a href="#">Bli turleder</a></li>
          <li><a href="#">DNT Ung</a></li>
        </ul>
      </div>
      <div class="span3">
        <h2>Medlemskap</h2>
        <ul>
          <li><a href="#">Bli medlem</a></li>
          <li><a href="#">Bestill nøkkel</a></li>
          <li><a href="#">Endre adresse</a></li>
          <li><a href="#">Gavemedlem</a></li>
          <li><a href="#">Bedriftstilbud</a></li>
          <li><a href="#">Bidra</a></li>
        </ul>
      </div>
      <div class="span3">
        <h2>Turistforeningen</h2>
        <ul>
          <li><a href="#">Kontakt oss</a></li>
          <li><a href="#">Hva jobber DNT for?</a></li>
          <li><a href="#">Magasiner/bøker</a></li>
          <li><a href="#">Partnere</a></li>
          <li><a href="#">Ledige stillinger</a></li>
          <li><a href="#">Organisasjonen</a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="span12 sponsors">
        <a href="http://www.onecall.no/"><img src="{{ STATIC_URL }}img/sponsors/onecall.png" alt="One Call"></a>
        <a href="http://www.bergans.no/"><img src="{{ STATIC_URL }}img/sponsors/bergans.png" alt="Bergans"></a>
        <a href="https://norsk-tipping.no/"><img src="{{ STATIC_URL }}img/sponsors/norsk-tipping.png" alt="Norsk Tipping"></a>
        <a href="http://www.gdfsuez.com/"><img src="{{ STATIC_URL }}img/sponsors/gdf-suez.png" alt="GDF-Suez"></a>
        <a href="http://www.danica.no/"><img src="{{ STATIC_URL }}img/sponsors/danica.png" alt="Danica Pensjon"></a>
        <a href="http://www.devold.com/"><img src="{{ STATIC_URL }}img/sponsors/devold.png" alt="Devold of Norway"></a>
        <a href="http://www.kvikklunsj.no/"><img src="{{ STATIC_URL }}img/sponsors/kvikk-lunsj.png" alt="Kvikk Lunsj"></a>
      </div>
    </div>

  </div>
</footer>

</body>
</html>
