<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Forsiden{% endblock %} &mdash; Turistforeningen</title>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" media="screen" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/editor-structural.css" media="screen" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/editor-formatting.css" media="screen" />
  <script src="{{ STATIC_URL }}js/modernizr-1.7.min.js"></script>
  <script src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
  <script src="{{ STATIC_URL }}js/netlife/custom.js"></script>
</head>
<body>
<div id="container">
<header>
  <a href="{% url page.views.page %}"><img src="{{ STATIC_URL }}netlife/img/header-logo.png"></a>
  <div id="search">
  <form action="#" method="post">
    <input type="text" value="">
    <input type="submit" value="Søk" class="button">
  </form>
  </div>
  <nav>
    <ul>
      <li>Menyer todo</li>
      <li>Menyer todo</li>
    </ul>
  </nav>
</header>
{% block body %}{% endblock %}
<footer>
    <div class="social">
      <img class="img" src="{{ STATIC_URL }}netlife/img/icon/social/turistforeningen.png">
      <h3>Kontakt oss</h3>
      E-post eller telefon
    </div>
    <div class="social">
      <img class="img" src="{{ STATIC_URL }}netlife/img/icon/social/facebook.png">
      <h3>Facebook</h3>
      Følg oss
    </div>
    <div class="social">
      <img class="img" src="{{ STATIC_URL }}netlife/img/icon/social/twitter.png">
      <h3>Twitter</h3>
      Snakk med oss
    </div>
    <div class="social">
      <img class="img" src="{{ STATIC_URL }}netlife/img/icon/social/youtube.png">
      <h3>You tube</h3>
      Se våre filmer
    </div>

    <div class="bottom-menu">
      <h2>Tilbudet vårt</h2>
      <ul>
        <li><a href="#">Fellesturer</a></li>
        <li><a href="#">Hytter</a></li>
        <li><a href="#">Stier</a></li>
        <li><a href="#">Kurs</a></li>
        <li><a href="#">Bli turleder</a></li>
        <li><a href="#">Kartbutikk</a></li>
      </ul>
    </div>
    <div class="bottom-menu">
      <h2>Interessegrupper</h2>
      <ul>
        <li><a href="#">Barnas Turlag</a></li>
        <li><a href="#">Seniorgruppa</a></li>
        <li><a href="#">Fjellsport</a></li>
        <li><a href="#">Trilleturer</a></li>
        <li><a href="#">Bli turleder</a></li>
        <li><a href="#">DNT Ung</a></li>
      </ul>
    </div>
    <div class="bottom-menu">
      <h2>Medlemsskap</h2>
      <ul>
        <li><a href="#">Bli medlem</a></li>
        <li><a href="#">Bestill nøkkel</a></li>
        <li><a href="#">Endre adresse</a></li>
        <li><a href="#">Gavemedlem</a></li>
        <li><a href="#">Bedriftstilbud</a></li>
        <li><a href="#">Bidra</a></li>
      </ul>
    </div>
    <div class="bottom-menu">
      <h2>Turistforeningen</h2>
      <ul>
        <li><a href="#">Kontakt oss</a></li>
        <li><a href="#">Hva jobber DNT for?</a></li>
        <li><a href="#">Magasiner/bøker</a></li>
        <li><a href="#">Partnere</a></li>
        <li><a href="#">Ledige stillinger</a></li>
        <li><a href="#">Organisasjonen</a></li>
      </ul>
    </div>
    <img src="{{ STATIC_URL }}netlife/img/dummy/samarbeid.png" />

    <hr>
    <p>{{ sql_queries|length }} queries</p>
    <ul>
    {% for sql in sql_queries %}
    <li><b>{{ sql.time }}s</b> {{ sql.sql }}</li>
    {% endfor %}
    </ul>
    </footer>
    </div>
    </body>
</html>
