{% extends site.template.name|add:"/layout.html" %}
{% block title %}Logg inn{% endblock %}
{% block breadcrumb %}<em><a href="{% url 'user.login.views.login' %}">Logg inn</a></em>{% endblock %}

{% block js_globals %}
  <script>
    window.Turistforeningen = {
      user_password_length: {{ user_password_length }}
    };
  </script>
  {% if prefilled_user %}
  <script>
    window.Turistforeningen.prefilled_user = {
      memberid: "{{ prefilled_user.memberid|escapejs }}",
      zipcode: "{{ prefilled_user.get_address.zipcode.zipcode|escapejs }}"
    };
  </script>
  {% endif %}
{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/membership/memberid_sms.js"></script>
  <script src="{{ STATIC_URL }}js/user/util/toggle-loginpage-tabs.js"></script>
  <script src="{{ STATIC_URL }}js/user/util/login.js"></script>
  <script src="{{ STATIC_URL }}js/user/util/registration.js"></script>
{% endblock %}

{% block body %}

<div class="loginpage-wrapper">

  <div class="row">
    <div class="span12">
      <h2>Min side</h2>

      {# Messages sent from views that redirect to login #}
      {% for message in messages %}
        {% if message.message == 'fjelltreffen_login_required' %}
          <div class="alert alert-error">
            Du må være pålogget Min side for å legge ut annonser på Fjelltreffen.<br>
            Er du medlem i DNT kan du raskt og enkelt opprette en Min side-bruker her.
          </div>
        {% elif message.message == 'fjelltreffen_login_required_for_report' %}
          <div class="alert alert-error">
            Du må være pålogget Min side for å rapportere annonser på Fjelltreffen. Dette er for å unngå misbruk av rapporteringstjenesten.<br>
            Er du medlem i DNT kan du raskt og enkelt opprette en Min side-bruker her.
          </div>
        {% elif message.message == 'norway_bus_tickets_login_required' %}
          <div class="alert alert-error">
            Du må være pålogget Min side for å benytte deg av NOR-WAYs bussbillettilbud.<br>
            Er du medlem i DNT kan du raskt og enkelt opprette en Min side-bruker her.
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="row">
    <div class="span7">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#login" data-toggle="tab">Logg inn</a></li>
        <li><a href="#registration" data-toggle="tab">Opprett ny bruker</a></li>
      </ul>

      <div class="tab-content tab-content-visible">
        <div class="login-form-wrapper form-border tab-pane active" id="login">

          {% url 'user.login.views.login' as action %}
          {% include 'common/user/login/util/login_form.html' %}

        </div>
        <div class="registration-form-wrapper form-border tab-pane" id="registration">

          {% url 'user.login.views.register' as action %}
          {% include 'common/user/login/util/registration_form.html' %}

        </div>
      </div>

    </div>

    <div class="span5">
      <div class="usersite-benefits">

        <p>
          <strong>På Min side kan du:</strong>
        </p>

        <ul>
          <li>
            Se din medlemsinformasjon
          </li>
          <li>
            Endre dine kontaktopplysninger
          </li>
          <li>
            Lese Fjell og Vidde, UT og årboken
          </li>
          <li>
            Legge ut annonser på Fjelltreffen
          </li>
        </ul>

        <p>Du må ha gyldig medlemskap i DNT for å få tilgang til tjenestene.</p>

      </div>
    </div>
  </div>

</div>

<div class="modal memberid-hint-modal hide">
  <div class="modal-body">
    {# We're not using modal-header for the close button because it's too tall when empty.  #}
    <p>
      &nbsp;
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
    </p>
    {% include 'main/membership/memberid_sms/forgotten.html' %}
    <p>
      Du finner også nummeret på giroen fra forrige årskontingent, og på medlemskortet ditt som vist med rød ring på bildet:
    </p>
    <img src="{{ STATIC_URL }}img/medlemskort-illustrasjon.jpg" alt="Illustrasjonsfoto av medlemsnummer-plassering på medlemskortet">
  </div>
  <div class="modal-footer">
    <a href="javascript:undefined" class="btn" data-dismiss="modal">Lukk vindu</a>
  </div>
</div>

{% endblock %}
