{% extends site.template.name|add:"/layout.html" %}
{% block title %}Logg inn{% endblock %}
{% block breadcrumb_title %}Innlogging{% endblock %}

{% block body %}

<div id="login">
  <div class="row">
    <div class="offset1 span10">

      <h2>Logg inn til Min side</h2>

      <div class="form-border">
        <form action="{% url user.login.views.login %}{% if next %}?next={{ next }}{% endif %}" method="post" class="form-default form-horizontal">
          {% csrf_token %}

          {% for message in messages %}
            {% if message.message == 'invalid_credentials' %}
              <div class="alert alert-error">
                <strong>Feil e-postadresse eller passord,</strong> vennligst prøv igjen.
                <ul>
                  <li>Har du glemt passordet? Trykk på "Glemt passord"-lenken under.</li>
                  <li>Har du ikke bruker? <a href="{% url user.login.views.register %}">Registrer deg her!</a></li>
                </ul>
              </div>
            {% elif message.message == 'old_memberid_but_memberid_exists' %}
              <div class="alert alert-error">
                <strong>Feil e-postadresse eller passord</strong><br>
                Du logget på med din gamle bruker! Du må bruke ditt nye passord eller din nye e-postadresse.<br>
                Hvis du har glemt passordet, klikk på "Glemt passord"-lenken under.
              </div>
            {% elif message.message == 'old_memberid_but_email_exists' %}
              <div class="alert alert-error">
                <strong>E-postadressen er allerede i bruk</strong><br>
                Vi fant din gamle Min side-bruker, men når vi prøvde å flytte deg over til nye Min side, så vi at det allerede finnes en bruker med samme e-postadresse. Den brukeren har imidlertid ikke samme medlemsnummer, så er du sikker på at du har angitt rett e-postadresse?
              </div>
            {% endif %}
          {% endfor %}

          <div class="control-group email">
            <label class="control-label" for="email">E-postadresse:</label>
            <div class="controls">
              <input type="text" name="email" class="input-xlarge">
            </div>
          </div>

          <div class="control-group password">
            <label class="control-label" for="password">Passord:</label>
            <div class="controls">
              <input type="password" name="password" class="input-large">
            </div>
          </div>

          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn btn-danger"><i class="icon-ok"></i> Logg inn</button>
            </div>
          </div>
        </form>

        <hr>

        <div class="form-horizontal">
          <div class="control-group">
            <h3 class="control-label">Glemt passordet?</h3>
            <div class="controls">
              <p><a href="javascript:undefined" class="forgot">Ja, jeg har glemt passordet mitt!</a></p>
              <div class="forgot-password hide">
                <p><input type="text" class="input-xlarge" name="email" placeholder="Fyll ut din e-post adresse..."></p>
                <p style="padding-top: 0"><button class="btn restore-password">Gjenopprett passord</button></p>
                <img src="{{ STATIC_URL }}img/ajax-loader-small.gif" class="hide ajaxloader" alt="Sender e-post, vennligst vent...">
                <p class="info success hide">En e-post har blitt sendt til adressen du oppgav med ytterligere instruksjoner for å få gjenopprettet passordet.</p>
                <p class="info unknown hide">Denne e-postadressen er ikke registrert på noen av våre brukere.</p>
                <p class="info invalid hide">Dette er ikke en gyldig e-postadresse.</p>
                <p class="info error hide">En teknisk feil oppstod! Vennligst prøv igjen, eller kontakt medlemsservice dersom feilen vedvarer.</p>
              </div>
            </div>
          </div>
        </div>

        <hr>

        <div class="form-horizontal">
          <div class="control-group">
            <h3 class="control-label">Ny bruker?</h3>
            <div class="controls">
              <p>
                Er du medlem i DNT kan du registrere deg her og få tilgang til Min side. Da kan du se status på medlemskap, endre dine kontaktopplysninger, finne elektronisk arkiv for Fjell og Vidde, UT og årboken, og mye mer.
              </p>
              <p>
                <a href="{% url user.login.views.register %}" class="btn btn-large btn-danger">Registrer deg nå</a>
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}
