{% extends site.template.name|add:"/layout.html" %}
{% block title %}Opprett bruker{% endblock %}
{% block breadcrumb %}<em><a href="{% url user.login.views.register %}">Opprett bruker</a></em>{% endblock %}

{% block js_globals %}
  <script>
    window.user_password_length = {{ user_password_length }};
  </script>
{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/membership/memberid_sms.js"></script>
  <script src="{{ STATIC_URL }}js/user/registration.js"></script>
{% endblock %}

{% block body %}

<div class="row">
  <div class="span12">
    <h2>Opprett bruker på Min side</h2>

    <div class="row-fluid">
      <div class="span8">

        <form action="{% url user.login.views.register %}" method="post" class="form-default form-border form-horizontal">
          {% csrf_token %}

          <div class="step1">
            <div class="control-group">
                For å opprette din bruker må vi først vite hvem du er. Hva er medlemsnummeret ditt, og postnummeret du er registrert med?<br><br>
                Hvis du ikke er medlem kan du <a href="{% url membership.views.benefits %}">melde deg inn her</a>.
            </div>

            <div class="control-group memberid">
              <label class="control-label" for="memberid">Medlemsnummer:</label>
              <div class="controls">
                <input type="text" class="input-xlarge" name="memberid">
                <div class="hints">
                  Finn det <a href="javascript:undefined" class="trigger-memberid-hint" title="Klikk for å se hvor på medlemskortet du finner medlemsnummeret. Du forlater ikke denne siden.">på medlemskortet ditt</a>, på giroen fra forrige årskontingent, eller send det på SMS i boksen til høyre.
                </div>
              </div>
            </div>

            <div class="control-group zipcode">
              <label class="control-label" for="zipcode">Postnummer:</label>
              <div class="controls">
                <input type="text" class="input-small" name="zipcode" maxlength="4">
                <input type="text" class="input-medium" name="area" disabled>
                <img src="{{ STATIC_URL }}img/ajax-loader-small.gif" class="ajaxloader zipcode hide" alt="Laster poststed..." title="Laster poststed...">
              </div>
            </div>

            <div class="control-group">
              <div class="controls">
                <button type="submit" class="btn btn-large btn-danger">Gå videre <i class="icon-arrow-right icon-white"></i></button>
                <img src="{{ STATIC_URL }}img/ajax-loader-small.gif" class="ajaxloader submit hide" alt="Sjekker medlemsnummer, vennligst vent...">
              </div>
            </div>
          </div>

          <div class="step2 hide">
            <div class="control-group">
              <p>Velkommen, <span class="name"></span>! Nå trenger vi bare e-postadressen din og et passord, så er du ferdig registrert.</p>
            </div>

            <div class="control-group email">
              <label class="control-label" for="email">E-postadresse:</label>
              <div class="controls">
                <input type="text" class="input-xlarge" name="email">
                <div class="hints email-found hide">
                  Er din e-postadresse <a class="email" href=""></a>? Hvis ikke kan du endre den i feltet over.
                </div>
                <div class="hints email-not-found hide">
                  Her må du oppgi e-postadressen din.
                </div>
              </div>
            </div>

            <div class="control-group password">
              <label class="control-label" for="password">Passord:</label>
              <div class="controls">
                <input type="password" class="input-xlarge" name="password">
                <div class="hints">
                  Her må du velge et passord på minst {{ user_password_length }} tegn.
                </div>
                <div class="hints error validator short hide">
                  Passordet er for kort, det må være minst {{ user_password_length }} tegn.
                </div>
                <div class="hints error validator unequal hide">
                  Passordene er ikke like, har du skrevet feil?
                </div>
              </div>
            </div>

            <div class="control-group password-repeat">
              <label class="control-label" for="password-repeat">Gjenta passord:</label>
              <div class="controls">
                <input type="password" class="input-xlarge" name="password-repeat">
              </div>
            </div>

            <div class="control-group">
              <div class="controls">
                <button type="submit" class="btn btn-large btn-danger"><i class="icon-ok icon-white"></i> Registrer deg</button>
              </div>
            </div>
          </div>

          <div class="hide alert alert-error profile-exists">
            <strong>Hmmm... det ser ut som om du allerede har en bruker!</strong><br>
            Hvis du har glemt passordet ditt, kan du opprette nytt passord på <a href="{% url user.login.views.login %}">innloggingssiden</a>.
          </div>

          <div class="hide alert alert-error no-memberid-match">
            <strong>Feil medlemsnummer eller postnummer!</strong><br>
            Beklager, det finnes ingen som har medlemsnummer <span class="memberid"></span> og postnummer <span class="zipcode"></span>! Vennligst prøv igjen, eller kontakt <a href="{% url membership.views.service %}">medlemsservice</a> hvis du mener at dette skal være rett.
          </div>

          <div class="hide alert alert-error memberid-lookups-exceeded">
            <strong>Du kan ikke gjøre flere oppslag på medlemsnummer!</strong><br>
            Du har alt gjort {{ memberid_lookups_limit }} oppslag på medlemsnummer! Prøver du å gjette hva noen andre sitt postnummer er? Hvis du ikke er sikker på hva ditt medlemsnummer eller postnummer er, må du kontakte <a href="{% url membership.views.service %}">medlemsservice</a>. Du får ikke gjøre flere oppslag nå, men du kan prøve igjen i morgen.
          </div>

          {% for message in messages %}
            {% if message.message == 'invalid_memberid' %}
              {# This is *kind of* duplicated below, but not really since this is after a submit, but the message below is only shown with AJAX. #}
              <div class="alert alert-error">
                <strong>Feil medlemsnummer eller postnummer</strong><br>
                Beklager, det finnes ingen som har det medlemsnummeret og postnummeret. Vennligst prøv igjen, eller kontakt <a href="{% url membership.views.service %}">medlemsservice</a> hvis du mener at dette skal være rett.
              </div>
            {% elif message.message == 'memberid_lookups_exceeded' %}
              <div class="alert alert-error">
                <strong>Du kan ikke gjøre flere oppslag på medlemsnummer!</strong><br>
                Du har alt gjort {{ memberid_lookups_limit }} oppslag på medlemsnummer! Prøver du å gjette hva noen andre sitt postnummer er? Hvis du ikke er sikker på hva ditt medlemsnummer eller postnummer er, må du kontakte <a href="{% url membership.views.service %}">medlemsservice</a>. Du får ikke gjøre flere oppslag nå, men du kan prøve igjen i morgen.
              </div>
            {% elif message.message == 'too_short_password' %}
              <div class="alert alert-error">
                <strong>For kort passord</strong><br>
                Du må ha minst {{ user_password_length }} tegn i passordet ditt. Vennligst velg et lengre passord.
              </div>
            {% elif message.message == 'profile_exists' %}
              <div class="alert alert-error">
                <strong>Du har allerede en Min Side-bruker!</strong><br>
                Hvis du har glemt passordet ditt, kan du opprette nytt passord på <a href="{% url user.login.views.login %}">innloggingssiden</a>.
              </div>
            {% elif message.message == 'invalid_email' %}
              <div class="alert alert-error">
                <strong>E-postadressen din er ikke gyldig!</strong><br>
                Vennligst oppgi en gyldig e-postadresse.
              </div>
            {% endif %}
          {% endfor %}

        </form>

      <div class="span4">
        {% include 'main/membership/memberid_sms.html' %}
      </div>

    </div>

  </div>
</div>

<div class="modal memberid-hint-modal hide">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
    <h3>Medlemsnummeret står på medlemskortet ditt</h3>
  </div>
  <div class="modal-body">
    <img src="{{ STATIC_URL }}img/medlemsnummer-hint.jpg" alt="Illustrasjonsfoto av medlemsnummer-plassering på medlemskortet">
  </div>
  <div class="modal-footer">
    <a href="javascript:undefined" class="btn" data-dismiss="modal">Lukk vindu</a>
  </div>
</div>

{% endblock %}
