{% extends site.template.name|add:"/layout.html" %}
{% block title %}Registrer deg uten medlemskap{% endblock %}
{% block breadcrumb %}<em><a href="{% url 'user.login.views.register_nonmember' %}">Registrer deg</a></em>{% endblock %}

{% block js_globals %}
  <script>
    window.Turistforeningen = {
      user_password_length: {{ user_password_length }}
    };
  </script>
{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/user/util/registration_nonmember.js"></script>
{% endblock %}

{% block body %}

<div class="registration-form-nonmember-wrapper">
  <div class="row">
    <div class="span12">
      <h2>Registrering uten medlemskap</h2>

      <div class="alert alert-info">
        Du er i ferd med å registrere deg som bruker uten medlemskap på DNTs nettsted. Da går du glipp av innhold og tjenester som kun er tilgjengelige for DNTs medlemmer.

        <ul>
          <li><a href="{% url 'user.login.views.login' %}#registrering">Registrer MED medlemskap</a></li>
          <li><a href="{% url 'membership.views.benefits' %}">Bli medlem</a></li>
          <li><a href="javascript:undefined" class="confirm">Fortsett</a></li>
        </ul>
      </div>

      <div class="form-wrapper form-border hide">

        {% url 'user.login.views.register_nonmember' as action %}
        {% include 'common/user/login/util/registration_form_nonmember.html' %}

      </div>
    </div>
  </div>
</div>

{% endblock %}
