{% extends site.template.name|add:"/layout.html" %}
{% block title %}Gjenopprett passord{% endblock %}

{% block js_globals %}
  <script>
    var password_length = {{ password_length }};
  </script>
{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/user/restore_password.js"></script>
{% endblock %}

{% block body %}

<div class="row">
  <div class="span12">
    <h2>Gjenopprett passord</h2>
    {% if no_such_key %}
      <p>
        Gjenopprettingsnøkkelen er ugyldig.
      </p>
      <p>
        Vennligst gå tilbake til <a href="{% url user.login.views.login %}">innloggingssiden</a> og skriv inn e-postadressen din igjen.
      </p>
    {% elif key_expired %}
      <p>
        Beklager, du må benytte deg av gjenopprettingsmuligheten innen {{ validity_period }} timer.
      </p>
      <p>
        Vennligst gå tilbake til <a href="{% url user.login.views.login %}">innloggingssiden</a> og skriv inn e-postadressen din igjen.
      </p>
    {% endif %}
  </div>
</div>

{% if ready %}
<div class="row">
  <div class="span12">
    <form action="{% url user.login.views.restore_password key %}" method="post" class="form-default form-border form-horizontal restore-password">
    {% csrf_token %}

      {% if unacceptable_password %}
        <div class="alert alert-error">
          <a class="close">x</a>
          <strong>Ugyldig passord</strong><br>
          Du må fylle inn et passord på minst {{ password_length }} tegn, og sørge for å skrive samme passord i begge feltene!
        </div>
      {% else %}
        <p>Velg et nytt passord som du kan bruke til å logge på med.</p>
      {% endif %}

      <div class="row-fluid">
        <div class="span6">
          <div class="control-group password">
            <label class="control-label" for="password">Passord:</label>
            <div class="controls">
              <input type="password" name="password" id="password" class="input-large">
            </div>
          </div>
          <div class="control-group password-repeat">
            <label class="control-label" for="password-repeat">Gjenta passord:</label>
            <div class="controls">
              <input type="password" name="password-repeat" id="password-repeat" class="input-large">
            </div>
          </div>

          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn btn-danger btn-large">Lagre nytt passord</button>
            </div>
          </div>
        </div>

        <div class="span6">
          <div class="hide password-hint short form-hints form-hints-error">Passordet er for kort, det må være minst {{ password_length }} tegn.</div>
          <div class="hide password-hint unequal form-hints form-hints-error">Passordene er ikke like, har du skrevet feil?</div>
        </div>
      </div>

    </form>
  </div>
</div>
{% endif %}

{% endblock %}
