{% extends 'common/admin/images/layout.html' %}
{% block js_globals %}
  <script>
    window.Turistforeningen = {
      origin: '{{ origin }}',
      image_search_length: {{ image_search_length }}
    };
  </script>
{% endblock %}
{% block extra_js %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}js/admin/albumpicker.js"></script>
  <script src="{{ STATIC_URL }}js/admin/images/browser.js"></script>
  <script src="{{ STATIC_URL }}js/admin/images/uploader.js"></script>
{% endblock %}

{% block imagebody %}

<div class="action-buttons">
  <div class="row">
    <div class="col-lg-3">
      <p>
        <button class="btn btn-success btn-lg upload"{% if not current_album %} disabled data-tooltip title="Du kan ikke laste opp bilder her i rotalbumet - velg eller opprett et album først."{% endif %}>
          <i class="fa fa-picture-o"></i> Last opp nytt bilde
        </button>
      </p>
      <p>
        <button class="btn btn-success btn-lg album add">
          <i class="fa fa-folder-open"></i> Opprett nytt album
        </button>
      </p>
    </div>
    <div class="col-lg-3">
      <button class="btn btn-warning btn-lg albums details jq-hide">
        <i class="fa fa-pencil"></i> Endre albumdetaljer
      </button>
      <button class="btn btn-warning btn-lg images details jq-hide">
        <i class="fa fa-pencil"></i> Endre bildedetaljer
      </button>
      <button class="btn btn-warning btn-lg dummy details" disabled data-tooltip title="For å endre albumnavn eller bildedetaljer, merk et album eller bilde under først.">
        <i class="fa fa-pencil"></i> Endre detaljer
      </button>
    </div>
    <div class="col-lg-3" data-album-id="{{ current_album.id }}">
      <button class="btn btn-warning btn-lg albums move jq-hide">
        <i class="fa fa-share-square"></i> Flytt album
      </button>
      <button class="btn btn-warning btn-lg images move jq-hide">
        <i class="fa fa-share-square"></i> Flytt bilder
      </button>
      <button class="btn btn-warning btn-lg both move jq-hide">
        <i class="fa fa-share-square"></i> Flytt album/bilder
      </button>
      <button class="btn btn-warning btn-lg dummy move" disabled data-tooltip title="For å flytte album eller bilder til andre album, merk et album eller bilde under først.">
        <i class="fa fa-share-square"></i> Flytt album/bilder
      </button>
      <form class="move-items jq-hide" method="post" action="{% url 'admin.images.views.move_items' %}">
        {% csrf_token %}
        <input type="hidden" name="images">
        <input type="hidden" name="albums">
        <input type="hidden" name="destination_album">
      </form>
    </div>
    <div class="col-lg-3">
      <button class="btn btn-danger btn-lg delete albums jq-hide">
        <i class="fa fa-warning"></i> Slett album
      </button>
      <button class="btn btn-danger btn-lg delete images jq-hide">
        <i class="fa fa-warning"></i> Slett bilder
      </button>
      <button class="btn btn-danger btn-lg delete both jq-hide">
        <i class="fa fa-warning"></i> Slett album og bilder
      </button>
      <button class="btn btn-danger btn-lg delete dummy" disabled data-tooltip title="For å slette album eller bilder, merk det du vil slette under først.">
        <i class="fa fa-warning"></i> Slett bilder
      </button>
    </div>
  </div>
</div><!-- /.action-buttons -->

<div class="row">
  <div class="col-lg-12">

    {% if current_album %}
      {% include 'common/admin/images/uploader.html' %}
    {% endif %}

    {% if not albums and not images %}
      <div class="alert alert-info">Dette albumet er tomt.</div>
    {% endif %}

    <div class="archive-gallery">
      <ul>
      {% for album in albums %}
        <li class="album" data-id="{{ album.id }}">
          <button class="btn mark"><i class="fa fa-tags"></i> Merk album</button>
          <a class="image" href="{% url 'admin.images.views.list_albums' album.id %}">
            <img src="{{ STATIC_URL }}img/icons/imagearchive/folder.png" alt="Album: {{ album.name }}">
          </a>
          <a class="text" href="{% url 'admin.images.views.list_albums' album.id %}">{{ album.name }}</a><br>
          ({{ album.children.count }} album, {{ album.image_set.count }} bilde{% if album.image_set.count != 1 %}r{% endif %})
        </li>
      {% endfor %}
      {% for image in images %}
        <li class="image" data-id="{{ image.id }}">
          <button class="btn mark"><i class="fa fa-tag"></i> Merk bilde</button>
          <a class="image" href="{% url 'admin.images.views.image_details' image.id %}">
            <img src="http://{{ aws_bucket }}/images/{{ image.key }}-150.{{ image.extension }}" alt="{{ image.description }}">
          </a>
          {{ image.width }} x {{ image.height }}<br>
          {% if not image.photographer %}
            Ingen fotograf oppgitt
          {% else %}
            Fotograf: {{ image.photographer }}
          {% endif %}
        </li>
      {% endfor %}
      </ul>
    </div><!-- /.archive-gallery -->

  </div>
</div>
<div style="clear: both;"></div>

{% include 'common/admin/images/modals.html' %}
{% include 'common/admin/images/albumpicker.html' %}
{% endblock %}
