{% extends 'common/admin/images/layout.html' %}
{% block extra_js %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}js/admin/tags.js"></script>
  <script src="{{ STATIC_URL }}js/admin/images/edit_images.js"></script>
{% endblock %}

{% block imagebody %}

<div class="row">
  <div class="span12">
    <h2>Du endrer nå detaljer for disse {{ images|length }} bildene:</h2>
    <p>
      {% for image in images %}
        <a class="image" href="{% url 'admin.images.views.image_details' image.id %}">
          <img src="http://{{ aws_bucket }}/images/{{ image.key }}-150.{{ image.extension }}" alt="{{ image.description }}" title="{{ image.description }}">
        </a>
      {% endfor %}
    </p>

    <h3 style="margin-top: 40px">Hvilke felter vil du endre?</h3>
  </div>
</div>

<form class="update-images form-horizontal" action="{% url 'admin.images.views.update_images' %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="ids" value="{{ ids }}">
  <input type="hidden" name="origin" value="{{ origin }}">
  <input type="hidden" name="fields" value="">

<div class="row">
  <div class="span12">
    <table class="table multiple-metadata">
      <tr>
        <th></th>
        <th>Felt</th>
        <th>Ny verdi</th>
      </tr>
      <tr class="description">
        <td>
          <button class="btn btn-success new"><i class="icon-pencil"></i> Endre</button>
          <button class="btn btn-warning keep hide"><i class="icon-remove"></i> Behold gammel verdi</button>
        </td>
        <td class="field-name">Beskrivelse</td>
        <td class="keep">
          <em>Gammel verdi beholdes</em>
        </td>
        <td class="new hide">
          <textarea name="description" rows="3" class="input-xlarge" id="image-description"></textarea>
        </td>
      </tr>
      <tr class="photographer">
        <td>
          <button class="btn btn-success new"><i class="icon-pencil"></i> Endre</button>
          <button class="btn btn-warning keep hide"><i class="icon-remove"></i> Behold gammel verdi</button>
        </td>
        <td class="field-name">Fotograf</td>
        <td class="keep">
          <em>Gammel verdi beholdes</em>
        </td>
        <td class="new hide">
          <input type="text" class="input-xlarge" name="photographer" placeholder="Fullt navn..." data-source-url="{% url admin.images.views.photographer %}">
        </td>
      </tr>
      <tr class="credits">
        <td>
          <button class="btn btn-success new"><i class="icon-pencil"></i> Endre</button>
          <button class="btn btn-warning keep hide"><i class="icon-remove"></i> Behold gammel verdi</button>
        </td>
        <td class="field-name">Kreditering</td>
        <td class="keep">
          <em>Gammel verdi beholdes</em>
        </td>
        <td class="new hide">
          <input type="text" class="input-xlarge" name="credits" placeholder="Navn på person, forening e.l...">
        </td>
      </tr>
      <tr class="licence">
        <td>
          <button class="btn btn-success new"><i class="icon-pencil"></i> Endre</button>
          <button class="btn btn-warning keep hide"><i class="icon-remove"></i> Behold gammel verdi</button>
        </td>
        <td class="field-name">Bruksrett</td>
        <td class="keep">
          <em>Gammel verdi beholdes</em>
        </td>
        <td class="new hide">
          <input type="text" class="input-xlarge" name="licence" value="{{ image.licence }}" placeholder="Kun ved behov...">
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="span6">

    <h3>Nøkkelord:</h3>
    <p>Du kan legge til nye nøkkelord for alle bildene her. For å <strong>ta bort</strong> nøkkelord må du redigere ett og ett bilde.</p>

    <input type="hidden" name="tags-serialized">
    <input type="text" class="input-xlarge" name="tags" style="margin-bottom: 10px">
    <div class="tag-box">
      {% for tag in image.tags.all %}
        <div class="tag">
          <a href="javascript:undefined"><img src="/static/img/so/close-default.png"></a>
          {{ tag.name }}
        </div>
      {% endfor %}
    </div>
    <div style="clear: both;"></div>

    <button type="submit" class="btn btn-large btn-success"><i class="icon-ok"></i> Lagre alle endringer</button>
  </div>

  <div class="span6">
    <div class="alert alert-error">
      <strong>Lisensiering</strong><br>
      Alle bilder som lastes opp i bildearkivet kan brukes vederlagsfritt (med fotokredit) av alle medlemsforeninger i DNT med mindre annet er tydelig spesifisert under "bruksrett" tilknyttet bildet.
    </div>
  </div>
</div>

</form>

{% endblock %}
