{% extends 'common/admin/images/layout.html' %}

{% block js_globals %}
  <script>
    Turistforeningen.origin = '{{ origin }}';
    Turistforeningen.image_search_length = {{ image_search_length }};
  </script>
{% endblock %}

{% block extra_js %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}js/admin/albumpicker.js"></script>
  <script src="{{ STATIC_URL }}js/admin/images/browser.js"></script>
  <script src="{{ STATIC_URL }}js/admin/images/uploader.js"></script>
{% endblock %}

{% block imagebody %}

<div class="action-buttons">
  <div class="row">
    <div class="col-lg-3">
      <div{% if active_user != user %} data-tooltip title="Du kan ikke laste opp bilder her. Gå til &quot;Mine bilder&quot; eller &quot;Alle bilder&quot;."{% endif %}>
        <button class="btn btn-success btn-lg upload"{% if active_user != user %} disabled{% endif %}>
          <i class="fa fa-picture-o"></i> Last opp nytt bilde
        </button>
      </div>
    </div>
    <div class="col-lg-3">
      <button class="btn btn-warning btn-lg albums details jq-hide">
        <i class="fa fa-pencil"></i> Endre albumdetaljer
      </button>
      <button class="btn btn-warning btn-lg images details jq-hide">
        <i class="fa fa-pencil"></i> Endre bildedetaljer
      </button>
      <div data-tooltip title="For å endre albumnavn eller bildedetaljer, merk et album eller bilde under først.">
        <button class="btn btn-warning btn-lg dummy details" disabled>
          <i class="fa fa-pencil"></i> Endre detaljer
        </button>
      </div>
    </div>
    <div class="col-lg-3" data-album-id="{{ current_album.id }}">
      <button class="btn btn-warning btn-lg albums move jq-hide">
        <i class="fa fa-share-square"></i> Flytt album
      </button>
      <button class="btn btn-warning btn-lg images move jq-hide">
        <i class="fa fa-share-square"></i> Flytt bilder
      </button>
      <button class="btn btn-warning btn-lg both move jq-hide">
        <i class="fa fa-share-square"></i> Flytt album/bilder
      </button>
      <div data-tooltip title="For å flytte album eller bilder til andre album, merk et album eller bilde under først.">
        <button class="btn btn-warning btn-lg dummy move" disabled>
          <i class="fa fa-share-square"></i> Flytt album/bilder
        </button>
      </div>
      <form class="move-items jq-hide" method="post" action="{% url 'admin.images.views.move_items' %}">
        {% csrf_token %}
        <input type="hidden" name="images">
        <input type="hidden" name="albums">
        <input type="hidden" name="destination_album">
      </form>
    </div>
    <div class="col-lg-3">
      <button class="btn btn-danger btn-lg delete albums jq-hide">
        <i class="fa fa-warning"></i> Slett album
      </button>
      <button class="btn btn-danger btn-lg delete images jq-hide">
        <i class="fa fa-warning"></i> Slett bilder
      </button>
      <button class="btn btn-danger btn-lg delete both jq-hide">
        <i class="fa fa-warning"></i> Slett album og bilder
      </button>
      <div data-tooltip title="For å slette album eller bilder, merk det du vil slette under først.">
        <button class="btn btn-danger btn-lg delete dummy" disabled>
          <i class="fa fa-warning"></i> Slett bilder
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <div data-tooltip title="Du kan ikke opprette album her.">
        <button class="btn btn-success btn-lg add-album" disabled>
          <i class="fa fa-folder-open"></i> Opprett nytt album
        </button>
      </div>
    </div>
  </div>
</div><!-- /.action-buttons -->

<div class="row">
  <div class="col-md-12">

    {% if active_user != user %}
      <h2 style="text-align: center;">{{ active_user.get_full_name }}s bilder</h2>
    {% else %}
      {% include 'common/admin/images/uploader.html' %}
    {% endif %}

    {% if not images %}
      <div class="alert alert-info">
        {% if active_user == user %}
          Du
        {% else %}
          {{ active_user.get_full_name }}
        {% endif %}
        har ikke lastet opp noen bilder.
      </div>
    {% endif %}

    <div class="archive-gallery">
      <ul>
        {% for image in images %}
          <li class="image" data-id="{{ image.id }}">
            <button class="btn btn-default mark"><i class="fa fa-tag"></i> Merk bilde</button>
            <a class="image" href="{% url 'admin.images.views.image_details' image.id %}">
              <img src="http://{{ s3_bucket }}/images/{{ image.key }}-150.{{ image.extension }}" alt="{{ image.description }}">
            </a>
            {{ image.width }} x {{ image.height }}<br>
            {% if not image.photographer %}
              Ingen fotograf oppgitt
            {% else %}
              Fotograf: {{ image.photographer }}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
    <div style="clear: both;"></div>

  </div>
</div>

{% include 'common/admin/images/modals.html' %}
{% include 'common/admin/images/albumpicker.html' %}
{% endblock %}
