{% extends 'common/admin/images/layout.html' %}
{% block js_globals %}
  <script>
    var origin = '{{ origin }}';
    var image_search_length = '{{ image_search_length }}';
  </script>
{% endblock %}
{% block extra_js %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}js/admin/tags.js"></script>
  <script src="{{ STATIC_URL }}js/admin/albumpicker.js"></script>
  <script src="{{ STATIC_URL }}js/admin/images/browser.js"></script>
  <script src="{{ STATIC_URL }}js/admin/images/uploader.js"></script>
{% endblock %}

{% block imagebody %}

<div class="row imagearchive-action-buttons">
  <div class="span3">
    <p>
      <button class="btn btn-large btn-success upload"{% if active_profile != user.get_profile %} disabled data-tooltip="Du kan ikke laste opp bilder her. Gå til &quot;Mine bilder&quot; eller &quot;Alle bilder&quot;."{% endif %}>
        <i class="icon-picture"></i> Last opp nytt bilde
      </button>
    </p>
    <p>
      <button class="btn btn-large btn-success dialog-button" data-dialog=".album-dialog" disabled data-tooltip="Du kan ikke opprette album her.">
        <i class="icon-folder-open"></i> Opprett nytt album
      </button>
    </p>
  </div>
  <div class="span3">
    <button class="btn btn-large btn-warning albums details hide">
      <i class="icon-pencil"></i> Endre albumdetaljer
    </button>
    <button class="btn btn-large btn-warning images details hide">
      <i class="icon-pencil"></i> Endre bildedetaljer
    </button>
    <button class="btn btn-large btn-warning dummy details" disabled data-tooltip="For å endre albumnavn eller bildedetaljer, merk et album eller bilde under først.">
      <i class="icon-pencil"></i> Endre detaljer
    </button>
  </div>
  <div class="span3" data-album-id="{{ current_album.id }}">
    <button class="btn btn-large btn-warning albums move hide">
      <i class="icon-share-alt"></i> Flytt album
    </button>
    <button class="btn btn-large btn-warning images move hide">
      <i class="icon-share-alt"></i> Flytt bilder
    </button>
    <button class="btn btn-large btn-warning both move hide">
      <i class="icon-share-alt"></i> Flytt album/bilder
    </button>
    <button class="btn btn-large btn-warning dummy move" disabled data-tooltip="For å flytte album eller bilder til andre album, merk et album eller bilde under først.">
      <i class="icon-share-alt"></i> Flytt album/bilder
    </button>
    <form class="move-items hide" method="post" action="{% url 'admin.images.views.move_items' %}">
      {% csrf_token %}
      <input type="hidden" name="images">
      <input type="hidden" name="albums">
      <input type="hidden" name="destination_album">
    </form>
  </div>
  <div class="span3">
    <button class="btn btn-large btn-danger delete albums dialog-button hide" data-dialog=".delete-dialog">
      <i class="icon-remove"></i> Slett album
    </button>
    <button class="btn btn-large btn-danger delete images dialog-button hide" data-dialog=".delete-dialog">
      <i class="icon-remove"></i> Slett bilder
    </button>
    <button class="btn btn-large btn-danger delete both dialog-button hide" data-dialog=".delete-dialog">
      <i class="icon-remove"></i> Slett album og bilder
    </button>
    <button class="btn btn-large btn-danger delete dummy dialog-button" disabled data-tooltip="For å slette album eller bilder, merk det du vil slette under først.">
      <i class="icon-remove"></i> Slett bilder
    </button>
  </div>
</div>

{% if active_profile != user.get_profile %}
  <h2 style="text-align: center;">{{ active_profile.user.get_profile.get_full_name }}s bilder</h2>
{% else %}
  {% include 'common/admin/images/uploader.html' %}
{% endif %}

{% if not images %}
  <div class="alert alert-info">
    {% if active_profile == user.get_profile %}
      Du
    {% else %}
      {{ active_profile.user.get_profile.get_full_name }}
    {% endif %}
    har ikke lastet opp noen bilder.
  </div>
{% endif %}

<div id="archive-gallery">
  <ul>
  {% for image in images %}
    <li class="image" data-id="{{ image.id }}">
      <button class="btn mark"><i class="icon-tag"></i> Merk bilde</button>
      <a class="image" href="{% url 'admin.images.views.image_details' image.id %}">
        <img src="http://{{ aws_bucket }}/images/{{ image.key }}-150.{{ image.extension }}" alt="{{ image.description }}">
      </a>
      {{ image.width }} x {{ image.height }}<br>
      {% if not image.photographer %}
        Ingen fotograf oppgitt
      {% else %}
        Fotograf: {{ image.photographer }}
      {% endif %}
    </li>
  {% endfor %}
  </ul>
</div>
<div style="clear: both;"></div>

{% include 'common/admin/images/dialogs.html' %}
{% include 'common/admin/images/albumpicker.html' %}
{% endblock %}
