{% extends 'central/layout.html' %}
{% block extra_js %}
  <script src="{{ STATIC_URL }}js/public/foreninger/common.js"></script>
  <script src="{{ STATIC_URL }}js/public/foreninger/list.js"></script>
{% endblock %}

{% block title %}DNT der du bor{% endblock %}
{% block breadcrumb %}<em><a href="{% url 'foreninger.views.index' %}">DNT der du bor</a></em>{% endblock %}

{% block body %}

<div class="foreninger">
  <h1>DNT der du bor</h1>

  <div class="searchbox" data-filter-url="{% url 'foreninger.views.filter' %}">
    <div class="wrapper">
      <table>
        <tr>
          <th><h2>Velg type</h2></th>
          <th><h2>Velg fylke</h2></th>
        </tr>
        <tr>
          <td class="categories">
            {% for category in categories %}
              <div class="radio">
                <label>
                  <input type="radio" name="category" value="{{ category.0 }}"{% if category.0 == chosen_category %} checked{% endif %}>
                  {{ category.1 }}
                </label>
              </div>
            {% endfor %}
          </td>
          <td class="counties">
            <div class="row">
              <div class="col-md-4">
                {% include 'central/foreninger/county_item.html' with counties=counties_three_columns.0 %}
              </div>
              <div class="col-md-4">
                {% include 'central/foreninger/county_item.html' with counties=counties_three_columns.1 %}
              </div>
              <div class="col-md-4">
                {% include 'central/foreninger/county_item.html' with counties=counties_three_columns.2 %}
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="searchbox-mobile">
    <div class="form-dnt-default">
      <div class="form-group">
        <label class="control-label">Velg type:</label>
        <select class="form-control" name="category">
          {% for category in categories %}
            <option value="{{ category.0 }}"{% if category == chosen_category %} selected{% endif %}>
              {{ category.1 }}
            </option>
          {% endfor %}
          </select>
      </div>

      <div class="form-group">
        <label class="control-label">Velg fylke:</label>
        <select class="form-control" name="county">
          {% for county in counties %}
            <option value="{{ county.id }}"{% if chosen_county_name|lower == county.name|lower %} selected{% endif %}>
              {{ county.name }}
            </option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6">
      <div class="loading">
        <h2>Laster, vennligst vent...</h2>
        <img src="{{ STATIC_URL }}img/common/ajax-loader-large.gif" alt="Laster, vennligst vent...">
      </div>

      <div class="count">
        Viser <span class="count"></span> foreninger/grupper
      </div>
    </div>
    <div class="col-md-6">
      <select name="full-list" data-placeholder="Vet du hva du leter etter?">
        <option value=""></option>
        {% for forening_tuple in full_list %}
          <option value="{{ forening_tuple.1 }}">{{ forening_tuple.0 }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="all">
    <h2>Vennligst velg fylke og/eller kategori i boksen over.</h2>
  </div>

  <div class="no-results">
    <h2>Beklager, fant ingen grupper på dette søket!</h2>
  </div>

  <div class="syntaxerror jq-hide">
    <h2>Beklager, det oppsto en feil med søket! Vennligst prøv igjen.</h2>
  </div>

  <table id="results" class="table">
  </table>

  <div class="well">
    <h2>Savner du et turtilbud der du bor?</h2>
    <p>
      Gjør noe med det og start opp ei turgruppe i regi av DNT! Ta kontakt med din nærmeste medlemsforening og foreslå muligheten for ei lokal turgruppe der du bor.
    </p>

    <p>
      Du kan også kontakte DNTs administrasjon på telefon 4000 1868 eller <a href="mailto:info@turistforeningen.no">info@turistforeningen.no</a> for tips om hvordan du bør gå frem.
    </p>
  </div>
</div>

{% endblock %}
