// This sheet needs a good refactoring

/* Page header editing */

.inline-label {
  display: inline-block;
  padding: 6px 12px 6px 0;
  margin-bottom: 0;
  line-height: 1.42857143;
}

body {
  padding-top: 50px;
}

div.navbar-sherpa {
  max-height: 50px;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;

  .navbar-brand {
    background-image: url('/static/img/admin/topbar_dnt_logo_2x.png');
    background-repeat: no-repeat;
    min-height: 50px;
    padding: 15px 15px 15px 60px;
    background-size: 50px;
    line-height: 18px;

  }

  @media (min-width: 768px) {
    > .container .navbar-brand,
    > .container-fluid .navbar-brand {
      margin-left: 0;
    }
    > .container .navbar-right,
    > .container-fluid .navbar-right {
      margin-right: 0;
    }
  }
}

div.editor-header {
  @editor-form-background-color: #f8f8f8;
  @editor-form-border-color: #e7e7e7;

  background-color: @editor-form-background-color !important;
  border-bottom: 1px solid @editor-form-border-color;
  color: rgb(65, 65, 65) !important;
  padding-top: 15px;
  z-index: 1000;

  label {
    cursor: pointer;
  }

  div, span, a, label, button, input, select, li, p, strong {
    font-family: "Open Sans", sans-serif !important;
    font-size: 14px !important;
  }

  div.tooltip-inner {
    font-size: 12px !important;
  }

  div.alert-sm {
    margin-bottom: 0;
    padding: 6px 12px;
    font-size: 12px !important;

    strong {
      font-size: 12px !important;
    }

    &.success {
      color: #3c763d !important;
      background-color: #dff0d8 !important;
      border-color: #d6e9c6 !important;
    }

    &.info {
      color: #31708f !important;
      background-color: #d9edf7 !important;
      border-color: #bce8f1 !important;
    }

    &.warning {
      color: #8a6d3b !important;
      background-color: #fcf8e3 !important;
      border-color: #faebcc !important;
    }

    &.danger {
      color: #a94442 !important;
      background-color: #f2dede !important;
      border-color: #ebccd1 !important;
    }

  }

  .fields {
    padding-bottom: 10px;
    border-bottom: 1px solid @editor-form-border-color;
  }

  select,
  .select2-container {
    width: 100%;
  }

  .btn-link.quit {
    padding-left: 0;
    padding-right: 0;
  }

  .sticky {
    position: relative;
    z-index: 1000; // Same as Bootstrap navbar sticky

    .last-saved-msg {
      color: #999;
    }

    &.affix {
      position: fixed;
      top: 50px; // Sherpa navbar height
      left: 0;
      width: 100%;
    }

    > .wrapper {
      .actions {
        padding: 15px 0;
        background-color: @editor-form-background-color;
        border-bottom: 1px solid @editor-form-border-color;
      }

      .absolutes {
        position: relative;

        > .wrapper {
          position: absolute;
          width: 100%;

          .toolbars {
            .toolbar {
              position: relative;
              z-index: -1;
              padding: 15px 0;
              width: 100%;
              background-color: @editor-form-background-color;
              border-bottom: 1px solid @editor-form-border-color;

              &.toolbar-text-formatter {
                .group:first-child {
                  margin-top: 5px;
                }

                a.button {
                  display: block;
                  float: left;
                  cursor: pointer;
                  width: 27px;
                  height: 27px;
                }

                a.button:hover {
                  text-decoration: none;
                }
              }
            }
          }

          .alerts {
            .alert {
              position: relative;
              z-index: -1;
              padding: 10px;
              margin-bottom: 0;
              border-width: 0 0 1px 0;
              border-radius: 0;

              &.alert-dismissable {
                .container {
                  padding-right: 35px;
                }
              }

              .close {
                top: 0;
                right: 0;

                span {
                  font-size: 21px !important;
                }
              }
            }

            p:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  h1 {
    font-size: 160%;
    font-weight: normal;
  }

  input[name='url'] {
    width: 350px;
  }

}

/* Article header editing */

div.editor-header.article {
  img.article-thumbnail {
    background-color: rgb(0, 0, 0);
    min-width: 20px;
    min-height: 20px;
  }

  img.article-thumbnail:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
    cursor: pointer;
  }

  div.publish, div.editor-header.article div.status {
    margin-bottom: 10px;
  }

  select[name='authors'] {
    width: 400px;
  }
}

/* CMS editor */

div.cms-editor {
  article {

    div.column {
      position: relative; // Needed to position its children
    }

    div.image {
      img {
        display: block;
        background-color: rgb(0, 0, 0);
        min-width: 20px;
        min-height: 20px;
      }

      img.cropped {
        max-width: none !important;
      }
    }

    div.image:hover:not(.moving),
    div.image.hover:not(.moving),
    div.widget:not(.moving):not(.static):hover,
    div.widget.hover:not(.moving):not(.static) {
      opacity: 0.5;
      filter: alpha(opacity=50);
      cursor: pointer;
    }

    div[contenteditable='true'].selected {
      background-color: rgb(235, 235, 235);
    }

    div[contenteditable='true']:hover:not(.selected):not(.moving),
    div[contenteditable='true'].hover:not(.selected):not(.moving) {
      background-color: rgb(240, 240, 240);
    }

    div.html[data-placeholder], div.lede[data-placeholder] {
      margin: -1px -1px 19px -1px; /* Subtract the border from the default margins */
      border: 1px solid rgb(255, 95, 95);
      background-color: rgb(255, 220, 220);
      font-style: italic;
    }

    div.html[data-placeholder]:hover, div.lede[data-placeholder]:hover {
      cursor: text;
    }

    div.edit-structure-inner {
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
      border-top: 1px solid rgb(200, 200, 200);
      border-left: 1px solid rgb(200, 200, 200);
      border-right: 1px solid rgb(200, 200, 200);

      button {
        width: 30px;
        height: 30px;
        background-position: center center;
        background-repeat: no-repeat;
      }

      button[data-type='single'] {
        background-image: url("/static/img/admin/sites/editor/structure/single.png");
      }

      button[data-type='double'] {
        background-image: url("/static/img/admin/sites/editor/structure/double.png");
      }

      button[data-type='sidebar-left'] {
        background-image: url("/static/img/admin/sites/editor/structure/sidebar-left.png");
      }

      button[data-type='sidebar-right'] {
        background-image: url("/static/img/admin/sites/editor/structure/sidebar-right.png");
      }

      button[data-type='triple'] {
        background-image: url("/static/img/admin/sites/editor/structure/triple.png");
      }

      button[data-type='quadruple'] {
        background-image: url("/static/img/admin/sites/editor/structure/quadruple.png");
      }

    }

    @add-content-padding-vertical: 10px;
    @add-content-padding-horizontal: 0;
    @add-content-padding: @add-content-padding-vertical @add-content-padding-horizontal;
    @add-content-height: 30px + (@add-content-padding-vertical * 2);

    div.add-content {
      height: @add-content-height;
      padding: @add-content-padding;
      margin: 0;
      text-align: center;
      background-image: url('/static/img/icons/glyph/original/glyphicons_190_circle_plus.png');
      background-position: center center;
      background-repeat: no-repeat;
    }

    div.drop-area {
      @border: 2px;
      height: @add-content-height;
      padding: @add-content-padding;
      font-size: 16px;
      font-style: italic;
      color: rgb(160, 160, 160);
      text-align: center;
      border: @border dotted rgb(200, 200, 200);

      &:hover {
        cursor: pointer;
        background-color: rgb(245, 245, 245);
        border-color: rgb(120, 120, 120);
      }
    }

    div.add-content:hover {
      cursor: pointer;
      background-color: rgb(240, 240, 240);
    }

    // The content-item fields are contained within a popover (sibling to add-content)
    div.content-item {
      float: left;
      min-width: 50px;
      min-height: 65px;
      margin: 0 5px 10px 5px;
      padding: 5px 10px 5px 10px;
      text-align: center;
      font-family: "DTL Nobel" !important;
      font-size: 16px;

      &:hover {
        cursor: pointer;
        background-color: rgb(240, 240, 240);
      }

      .image-container {
        text-align: center;

        img {
          width: 40px;
          height: 40px;
        }
      }
    }

    div.content {
      min-height: 70px;
    }

    @cc-padding-vertical: 12px;
    @cc-padding-horizontal: 25px;
    @cc-border-width: 1px;
    @cc-icon-width: 23px;
    // Add padding and border to total width because box-sizing is border-box
    @cc-total-width: @cc-icon-width + (@cc-padding-horizontal * 2) + (@cc-border-width * 2);

    div.content-control {
      position: absolute;
      z-index: 30; // Float above the content you're positioned over
      width: @cc-total-width;
      height: 23px + (@cc-padding-vertical * 2);
      padding: @cc-padding-vertical @cc-padding-horizontal;
      border: @cc-border-width solid rgb(52, 224, 194);
      background-color: rgb(255, 255, 255);
      background-position: center center;
      background-repeat: no-repeat;
    }

    div.content-control:hover {
      cursor: pointer;
      background-color: rgb(52, 224, 194);
    }

    div.remove-content {
      right: @bootstrap-gutter-width / 2;
      background-image: url('/static/img/admin/sites/editor/content/remove-content-inactive.png');
    }

    div.remove-content:hover {
      background-image: url('/static/img/admin/sites/editor/content/remove-content-active.png');
    }

    div.move-content {
      right: @cc-total-width + (@bootstrap-gutter-width / 2);
      background-image: url('/static/img/admin/sites/editor/content/move-content-inactive.png');
    }

    div.move-content:hover {
      background-image: url('/static/img/admin/sites/editor/content/move-content-active.png');
    }

    div.crop-content {
      right: (@cc-total-width * 2) + (@bootstrap-gutter-width / 2);
      background-image: url('/static/img/admin/sites/editor/content/crop-content-inactive.png');
    }

    div.crop-content:hover {
      background-image: url('/static/img/admin/sites/editor/content/crop-content-active.png');
    }

  }

}

/* Change image-dialog */

div.change-image {
  width: 800px;

  h2 {
    font-size: 20px;
  }
}
