/* Widget editors */

.widget-editor.campaign {
  .campaigns {
    .campaign {
      border-bottom: 1px solid rgb(200, 200, 200);
      margin-bottom: 20px;

      .input-group.date {
        display: inline-table; // Note that 'table' is the default display in bootstrap
        width: 200px;
      }

      .date-label {
        display: inline-block;
        vertical-align: top;
      }
    }
  }

  button.add-campaign {
    margin-bottom: 20px;
  }
}

.widget-editor.aktivitet_listing {
  .modal-body {
    p, li {
      font-family: "DTL Nobel" !important;
    }

    h3 {
      margin-top: 20px;
      margin-bottom: 5px;
    }
  }
}

.widget-editor.button {
  table.button-choices {
    width: 100%;

    td {
      padding-bottom: 10px;
    }
  }

  .preview-button {
    text-align: center;
  }
}
