:host {
  display: block;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #eee;
}

:host([warning]) {
  background-color: #ffecb3;
}

:host([error]) {
  background-color: #ffcdd2;
}

:host([info]) {
  background-color: #e3f2fd;
}
