<h1>Siste fra bloggen</h1>

{% for entry in widget.entries %}
  <div class="blog-item">
    <h3>
      <a href="{{ entry.link }}">
        {{ entry.title }}
      </a>
    </h3>
    {% if entry.image %}
      <a class="noexternal" href="{{ entry.link }}">
        <img src="{{ entry.image }}" alt="{{ entry.title }}">
      </a>
    {% endif %}
    <div class="lede">
      <a class="noexternal" href="{{ entry.link }}">
        {{ entry.content }}...
      </a>
    </div>
    <div style="clear: both;"></div>
  </div>
{% endfor %}
