<h1>Siste fra bloggen</h1>

{% for entry in widget.entries %}
  <div class="media">
    <h2 class="media-heading">
      <a href="{{ entry.link }}">{{ entry.title }}</a>
    </h2>

    {% if entry.image %}
      <a class="pull-left" href="{{ entry.link }}">
        <img class="media-object" src="{{ entry.image }}" alt="{{ entry.title }}">
      </a>
    {% endif %}
    <div class="media-body">
      <a class="noexternal" href="{{ entry.link }}">
        {% if entry.image %}
          {{ entry.content|striptags|safe|truncatewords:15 }}
        {% else %}
          {{ entry.content|striptags|safe|truncatewords:25 }}
        {% endif %}
      </a>
    </div>
  </div>
{% endfor %}

{% if widget.entries|length > 0 %}
  <p class="more">
    <a href="http://blogg.turistforeningen.no/">Gå til bloggen</a>
  </p>
{% else %}
  <p class="more">
    Vi fikk av tekniske årsaker dessverre ikke kontakt med bloggen og kan ikke vise innleggene her. Du kan prøve å <a href="http://blogg.turistforeningen.no/">åpne bloggen</a> selv.
  </p>
{% endif %}
