{% extends "admin/layout.html" %}
{% block title %}Caching &mdash; {{ block.super }}{% endblock %}
{% block header %}<a href="{% url admin.cache.views.index %}">Caching</a>{% endblock %}
{% block extra_js %}
  <script src="{{ STATIC_URL }}js/admin/cache.js"></script>
{% endblock %}
{% block body %}

{# For AJAX-requests #}
{% csrf_token %}

<div class="row">
  <div class="span12">
    <p>
      I Sherpa benytter vi <a href="http://en.wikipedia.org/wiki/Cache_(computing)">caching</a> for å gjøre sidene våre raskere å laste, men dette medfører at når du for eksempel lager en ny artikkel så blir den synlig på forsiden først etter en stund.
    </p>
    <p>
      Her kan du som er utålmodig <strong>slette cachen</strong>, som gjør at ting blir synlige med en gang.<br>
      <strong>Slett med måte!</strong> Overdreven bruk av funksjonaliteten her kan gjøre sidene trege å laste.
    </p>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h2>Forside-cachen:</h2>
    <p>
      Cacher alt innholdet på forsiden (inkludert lista med nyheter) i 10 minutter.
    </p>

    <p><button class="frontpage btn btn-inverse btn-large"><i class="icon-remove icon-white"></i> Slett forside-cachen</button></p>

    <h2>Artikler:</h2>
    <p>
      Cacher innholdet for én enkelt artikkelvisning i 10 minutter.
    </p>

    <p>
      <button class="article btn btn-inverse btn-large"><i class="icon-remove icon-white"></i> Slett en artikkel-cache</button>
      <select name="article" style="width: 400px" data-placeholder="Velg en artikkel...">
        <option value=""></option>
        {% for version in versions %}
          <option value="{{ version.variant.article.id }}">{{ version.title.content|striptags }}</option>
        {% endfor %}
      </select>
    </p>

    <h2>Hovedmenyen:</h2>
    <p>
      Cacher hovedmenyen i ett døgn, da denne endres veldig skjeldent.
    </p>

    <p>
      <button class="main-menu btn btn-inverse btn-large"><i class="icon-remove icon-white"></i> Slett hovdemeny-cachen</button>
    </p>
  </div>
</div>

{% endblock %}
