form#upload table {
  width: 600px;
}

form#upload table td, form.placement table td {
  padding: 5px;
}

table.placements.time tr.old td, table.placements.view tr.inactive td {
  color: rgb(120, 120, 120);
}

table.placements.time tr.current td, table.placements.view tr.active td {
  color: rgb(27, 205, 11);
}

table.placements tr.placement:hover td, table.ads td.ad:hover {
  cursor: pointer;
  color: rgb(0, 0, 255);
  text-decoration: underline;
}
