/**
 * Stylesheet for page/article editing
 */

article .insertable {
  cursor: pointer;
}

article .insertable, article .empty {
  text-align: center;
  color: rgb(125, 125, 125);
  font-size: 180%;
  font-style: italic;
  line-height: 100%;
}

article .hover-remove {
  cursor: pointer;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.ui-widget-overlay {
  position: fixed;
  z-index: 900;
}

div.overlay-loader {
  position: fixed;
  top: 200px;
  left: 200px;
  right: 200px;
  min-width: 250px;
  text-align: center;
  background-color: white;
  border: 1px solid rgb(200, 200, 200);
  padding: 40px;
  z-index: 1000;
}
@media (max-width: 650px) {
  div.overlay-loader {
    left: 10px;
    width: 200px;
  }
}

article .meta.static {
  cursor: not-allowed;
}

img.changeable {
  display: block;
}

img.changeable:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: alias;
}

input.url {
  width: 350px;
}

article div[contenteditable='true'].selected {
  background-color: rgb(215, 215, 215);
}

article div[contenteditable='true']:hover:not(.selected) {
  background-color: rgb(235, 235, 235);
}

article .moveable {
  cursor: move;
}

article .moveable.horizontal {
  background: url("/static/img/arrow-left.png") left center no-repeat, url("/static/img/arrow-right.png") right center no-repeat rgb(238, 238, 238);
}

article .moveable.vertical {
  background: url("/static/img/arrow-up.png") center top no-repeat, url("/static/img/arrow-down.png") center bottom no-repeat rgb(238, 238, 238);
}


#toolbar {
  position: fixed;
  top: 50px;
  right: 50px;
  width: 500px;
  z-index: 1000;
}

#toolbar .tab-content, #toolbar li.active a {
  background-color: rgb(245, 245, 245) !important;
}

#toolbar ul.nav li a:hover {
  background-color: rgb(200, 200, 200);
}

#toolbar ul.nav {
  /* Negate the default bootstrap margin */
  margin-bottom: 0 !important;
}

#toolbar ul.nav li a {
  background-color: rgb(225, 225, 225);
}

#toolbar .tab-content {
  padding: 9px;
  border-left: 1px solid rgb(221, 221, 221);
  border-right: 1px solid rgb(221, 221, 221);
  border-bottom: 1px solid rgb(221, 221, 221);
}

#toolbar .save input.autosave-frequency {
  width: 20px;
  height: 0.8em;
}

#toolbar div.button {
  float: left;
  cursor: pointer;
  width: 27px;
  height: 27px;
}

#toolbar div.button.bold {
  background-image: url('/static/img/editorbuttons/bold-inactive.png');
}
#toolbar div.button.bold:hover {
  background-image: url('/static/img/editorbuttons/bold-hover.png');
}
#toolbar div.button.bold.active {
  background-image: url('/static/img/editorbuttons/bold-active.png') !important;
}
#toolbar div.button.italic {
  background-image: url('/static/img/editorbuttons/italic-inactive.png');
}
#toolbar div.button.italic:hover {
  background-image: url('/static/img/editorbuttons/italic-hover.png');
}
#toolbar div.button.italic.active {
  background-image: url('/static/img/editorbuttons/italic-active.png') !important;
}
#toolbar div.button.underline {
  background-image: url('/static/img/editorbuttons/underline-inactive.png');
}
#toolbar div.button.underline:hover {
  background-image: url('/static/img/editorbuttons/underline-hover.png');
}
#toolbar div.button.underline.active {
  background-image: url('/static/img/editorbuttons/underline-active.png') !important;
}
#toolbar div.button.ol {
  background-image: url('/static/img/editorbuttons/ol-inactive.png');
}
#toolbar div.button.ol:hover {
  background-image: url('/static/img/editorbuttons/ol-hover.png');
}
#toolbar div.button.ol.active {
  background-image: url('/static/img/editorbuttons/ol-active.png') !important;
}
#toolbar div.button.ul {
  background-image: url('/static/img/editorbuttons/ul-inactive.png');
}
#toolbar div.button.ul:hover {
  background-image: url('/static/img/editorbuttons/ul-hover.png');
}
#toolbar div.button.ul.active {
  background-image: url('/static/img/editorbuttons/ul-active.png') !important;
}
#toolbar div.button.align-left {
  background-image: url('/static/img/editorbuttons/align-left-inactive.png');
}
#toolbar div.button.align-left:hover {
  background-image: url('/static/img/editorbuttons/align-left-hover.png');
}
#toolbar div.button.align-left.active {
  background-image: url('/static/img/editorbuttons/align-left-active.png') !important;
}
#toolbar div.button.align-center {
  background-image: url('/static/img/editorbuttons/align-center-inactive.png');
}
#toolbar div.button.align-center:hover {
  background-image: url('/static/img/editorbuttons/align-center-hover.png');
}
#toolbar div.button.align-center.active {
  background-image: url('/static/img/editorbuttons/align-center-active.png') !important;
}
#toolbar div.button.align-right {
  background-image: url('/static/img/editorbuttons/align-right-inactive.png');
}
#toolbar div.button.align-right:hover {
  background-image: url('/static/img/editorbuttons/align-right-hover.png');
}
#toolbar div.button.align-right.active {
  background-image: url('/static/img/editorbuttons/align-right-active.png') !important;
}

#dialog-columns h1 {
  font-size: 140%;
  text-align: center;
}

#dialog-columns img:hover {
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

#dialog-add-widget div.widget-thumbnail {
  cursor: pointer;
  float: left;
  margin: 12px;
  padding: 10px;
  border: 1px solid rgb(0, 0, 0);
  min-height: 200px;
  text-align: center;
}

#dialog-add-widget div.widget-thumbnail img {
  display: block;
  margin-bottom: 10px;
}

#dialog-add-widget div.widget-thumbnail p {
  font-size: 160%;
  font-weight: bold;
}

div.alert p.delete-content-warning {
  font-size: 120%;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

div#dialog-change-image div#imagearchive div#contentlist p.album {
  padding-bottom: 5px;
}

div#dialog-change-image div#imagearchive div#contentlist img.album {
  float: left;
  width: 25px;
}
