/**
 * General stylesheet for the admin ui
 */

header {
  margin-top: 25px;
}

header .logo {
  text-align: center;
}

header .line {
  /* Based on the logo image height */
  height: 115px;
}

header h1 {
  /* Based on the logo image height */
  margin-top: 25px;
  font-size: 280%;
}
nav#dashboard > ul {
  list-style-type: none;
}

nav#dashboard > ul > li {
  display: block;
  float: left;
  width: 250px;
  height: 170px;
  border: 1px solid rgb(170, 170, 170);
  margin: 1%;
  text-align: center;
}

nav#dashboard img {
  padding-top: 10px;
}

h2.skinny {
  font-weight: normal;
}

/* CMS - Large add item-button */

.large-button {
  width: 100%;
}

table#page-details th, table#page-details td {
  padding: 6px;
}

table#page-details td.button {
  text-align: center;
}

table#page-details td.button a {
  width: 90%;
}

div.edit-page-details h2 span.title {
  font-weight: bold;
}

/* Image gallery */

div#image-toolbar {
  text-align: center;
}

div#image-toolbar input#search {
  font-size: 120%;
}

table.action-buttons {
  margin-left: auto;
  margin-right: auto;
}

table.action-buttons button {
  width: 100%;
}

div#archive-gallery ul li {
  display: block;
  width: 200px;
  border: 1px solid #888;
  margin: 1%;
  padding-bottom: 15px;
  float: left;
  text-align: center;
}

div#archive-gallery ul li button.mark {
  margin-bottom: 10px;
  width: 100%;
}

div#archive-gallery ul li.selected {
  background-color: rgb(215, 215, 215);
}

div#archive-gallery ul li a.image {
  display: block;
}

div#image-display table.metadata {
  float: right;
  width: auto;
  margin-top: 20px;
}

div#image-display table.metadata th {
  text-align: right;
  vertical-align: top;
}

div#image-display table.metadata td {
  text-align: left;
}

div#image-uploader form.image-uploader {
  text-align: center;
}

form.image-uploader input[type='file'] {
  width: 100%;
}

div.licencing p {
  font-size: 130%;
}

div#image-uploader label {
  font-weight: bold;
}

div#tags div.tag {
  float: left;
  color: #3e6d8e;
  background: #e0eaf1;
  border-bottom: 1px solid #3e6d8e;
  border-right: 1px solid #7f9fb6;
  margin: 2px 3px 10px 3px;
  padding: 3px 4px;
}

div#tags div.tag a {
  cursor: pointer;
  width: 12px;
  height: 12px;
  margin-top: 4px;
  margin-left: 4px;
}

div.page-dialog i.edit-slug, div.page-dialog i.save-slug {
  cursor: pointer;
}

div.page-dialog td.big {
  vertical-align: middle;
  font-size: 160%;
}

div.page-dialog div.template p {
  font-variant: small-caps;
}

div.page-dialog div.template img {
  width: 160px;
  height: 200px;
  margin-bottom: 10px;
}

div.page-dialog div.template {
  float: left;
  border: 1px solid rgb(0, 0, 0);
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

div.page-dialog div.template:hover {
  background-color: rgb(70, 70, 70);
}
