{% extends "admin/layout.html" %}
{% block title %}Annonser &mdash; {{ block.super }}{% endblock %}
{% block header %}<a href="{% url admin.ads.views.list %}">Annonser</a>{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/admin/ads.css" media="screen">
{% endblock %}
{% block extra_js %}
  <script src="{{ STATIC_URL }}js/admin/ads.js"></script>
{% endblock %}
{% block body %}

<div class="row">
  <div class="span12">
    <h2>Annonser</h2>
    <table class="table">
      <tr>
        <th>Navn</th>
        <th>Lenker til</th>
        <th>Innhold</th>
        <th>Innholdstype</th>
        <th>Størrelse (Flash)</th>
      </tr>
      {% for ad in ads %}
        <tr>
          <td>{{ ad.name }}</td>
          <td><a href="{{ ad.destination }}">{{ ad.destination }}</a></td>
          <td><a href="{{ ad.url }}">Klikk her</a></td>
          <td>{{ ad.content_type }}</td>
          <td>
            {% if ad.width and ad.height %}
              {{ ad.width }} x {{ ad.height }}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>

    <h2>Last opp ny annonse</h2>
    <form id="upload" method="post" action="{% url admin.ads.views.upload %}" enctype="multipart/form-data">
      {% csrf_token %}
      <table>
        <tr>
          <td>Navn</td>
          <td><input type="text" name="name"></td>
        </tr>
        <tr>
          <td>Lenker til (URL):</td>
          <td><input type="text" name="destination"></td>
        </tr>
        <tr>
          <td>Fil</td>
          <td><input type="file" name="ad"></td>
        </tr>
        <tr>
          <td>Bredde x Høyde (kun hvis Flash)</td>
          <td>
            <input type="text" name="width" class="input-small"> x
            <input type="text" name="height" class="input-small">
          </td>
        </tr>
        <tr>
          <td></td>
          <td><button class="btn">Last opp</button></td>
        </tr>
      </table>
    </form>
  </div>
</div>

{% endblock %}
