{% extends "admin/layout.html" %}
{% block title %}Annonser &mdash; {{ block.super }}{% endblock %}
{% block header %}<a href="{% url admin.ads.views.list %}">Annonser</a>{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/jquery-ui/jquery-ui-1.8.17.custom.css" media="screen">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/admin/ads.css" media="screen">
{% endblock %}
{% block extra_js %}
  <script src="{{ STATIC_URL }}lib/bootstrap/js/bootstrap-tab.js"></script>
  <script src="{{ STATIC_URL }}lib/jquery-ui/jquery-ui-1.8.17.custom.min.js"></script>
  <script src="{{ STATIC_URL }}js/admin/ads.js"></script>
{% endblock %}
{% block body %}

<div class="row">
  <div class="span12">
    <ul class="nav nav-pills pages">
      {% for page in pages %}
      <li{% if forloop.first %} class="active"{% endif %}>
        <a href="#{{ page.page.0 }}" data-toggle="pill">{{ page.page.1 }}</a>
      </li>
      {% endfor %}
    </ul>

    {% if invalid_date %}
      <div class="alert alert-error">
        <a class="close">x</a>
        <strong>Ugyldig datoformat, vennligst prøv igjen!</strong>
      </div>
    {% endif %}

    {% if added %}
      <div class="alert alert-success">
        <a class="close">x</a>
        <strong>Annonsen har blitt lagt til.</strong>
      </div>
    {% endif %}

    <div class="tab-content">
      {% for page in pages %}
        <div id="{{ page.page.0 }}" class="tab-pane fade{% if forloop.first %} in active{% endif %}">
          {% if page.placements|length == 0 %}
            <p>Ingen annonser er lagt ut på denne siden.</p>
          {% else %}
            <table class="table placements">
              <tr>
                <th>Annonse</th>
                <th>Fra</th>
                <th>Til</th>
                <th>Visninger</th>
                <th>Klikk</th>
                <th>Status</th>
              </tr>
              {% for placement in page.placements %}
                <tr class="placement dialog-button {{ placement.state }}" data-dialog=".placement-dialog" data-id="{{ placement.id }}" data-ad="{{ placement.ad.id }}" data-placement="{{ placement.placement }}" data-start-date="{{ placement.start_date|date:"d.m.Y" }}" data-end-date="{{ placement.end_date|date:"d.m.Y" }}">
                  <td>{{ placement.ad.name }}</td>
                  <td>{{ placement.start_date|date:"j. F Y" }}</td>
                  <td>{{ placement.end_date|date:"j. F Y" }}</td>
                  <td>{{ placement.views }}</td>
                  <td>{{ placement.clicks }}</td>
                  <td>
                    {% if placement.is_old %}Utgått{% endif %}
                    {% if placement.is_current %}Aktiv{% endif %}
                    {% if placement.is_new %}På vent{% endif %}
                  </td>
                </tr>
              {% endfor %}
            </table>
          {% endif %}

          <form class="placement" method="post" action="{% url admin.ads.views.place %}">
            {% csrf_token %}
            <input type="hidden" name="placement" value="{{ page.page.0 }}">
            <table>
              <tr>
                <td>Annonse</td>
                <td>
                  <select name="ad">
                    {% for ad in ads %}
                      <option value="{{ ad.id }}">{{ ad.name }}</option>
                    {% endfor %}
                  </select>
                </td>
              </tr>
              <tr>
                <td>Start/stopp visning:</td>
                <td>
                  <input type="text" name="start_date" class="input-medium date">
                  <input type="text" name="end_date" class="input-medium date">
                </td>
              </tr>
              <tr>
                <td></td>
                <td><button type="submit" class="btn">Legg til visning under "{{ page.page.1 }}"</button></td>
              </tr>
            </table>
          </form>
        </div>

        {% for placement in page.placements %}
        {% endfor %}
      {% endfor %}
    </div>

    <h2>Last opp ny annonse</h2>
    <form id="upload" method="post" action="{% url admin.ads.views.upload %}" enctype="multipart/form-data">
      {% csrf_token %}
      <table>
        <tr>
          <td>Navn</td>
          <td><input type="text" name="name"></td>
        </tr>
        <tr>
          <td>Lenker til (URL):</td>
          <td><input type="text" name="destination" value="http://"></td>
        </tr>
        <tr>
          <td>Fil</td>
          <td><input type="file" name="ad"></td>
        </tr>
        <tr>
          <td>Bredde x Høyde (kun hvis Flash)</td>
          <td>
            <input type="text" name="width" class="input-small"> x
            <input type="text" name="height" class="input-small">
          </td>
        </tr>
        <tr>
          <td></td>
          <td><button type="submit" class="btn">Last opp</button></td>
        </tr>
      </table>
    </form>

    <table class="table ads">
      <tr>
        <th>Navn</th>
        <th>Lenker til</th>
        <th>Innhold</th>
      </tr>
      {% for ad in ads %}
        <tr>
          <td class="ad dialog-button" data-dialog=".ad-dialog" data-id="{{ ad.id }}" data-name="{{ ad.name }}" data-destination="{{ ad.destination }}" data-width="{{ ad.width|default_if_none:"" }}" data-height="{{ ad.height|default_if_none:"" }}">{{ ad.name }}</td>
          <td><a href="{{ ad.destination }}">{{ ad.destination }}</a></td>
          <td>
            <a href="{{ ad.url }}">{{ ad.extension }}</a>
            {% if ad.width and ad.height %}
              ({{ ad.width }} x {{ ad.height }})
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>

{# Dialogs #}
<div class="dialog placement-dialog" data-title="Annonsevisning" data-width="auto">
  <form class="placement" method="post" action="{% url admin.ads.views.replace %}">
    {% csrf_token %}
    <input type="hidden" name="id" value="">
    <table>
      <tr>
        <td>Annonse</td>
        <td>
          <select name="ad">
            {% for ad in ads %}
              <option value="{{ ad.id }}">{{ ad.name }}</option>
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr>
        <td>Side</td>
        <td>
          <select name="placement">
            {% for page in pages %}
              <option value="{{ page.page.0 }}">{{ page.page.1 }}</option>
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr>
        <td>Start/stopp visning:</td>
        <td>
          <input type="text" name="start_date" class="input-medium date">
          <input type="text" name="end_date" class="input-medium date">
        </td>
      </tr>
      <tr>
        <td></td>
        <td><button type="submit" class="btn">Oppdater visning</button></td>
      </tr>
    </table>
  </form>
</div>

<div class="dialog ad-dialog" data-title="Annonsedetaljer" data-width="80%">
  <form method="post" action="{% url admin.ads.views.rename_ad %}">
    {% csrf_token %}
    <input type="hidden" name="id" value="">
    <table>
      <tr>
        <td>Navn</td>
        <td><input type="text" name="name" class="input-xlarge"></td>
      </tr>
      <tr>
        <td>Lenker til (URL):</td>
        <td><input type="text" name="destination" class="input-xlarge"></td>
      </tr>
      <tr>
        <td>Bredde x Høyde (kun hvis Flash)</td>
        <td>
          <input type="text" name="width" class="input-small"> x
          <input type="text" name="height" class="input-small">
        </td>
      </tr>
      <tr>
        <td></td>
        <td><button type="submit" class="btn">Last opp</button></td>
      </tr>
    </table>
    <p>
      Foreløpig kan du ikke endre fila du lasta opp; lag heller en ny<br>
      annonse med navn "v2" og pek visningen til den nye annonsen.
    </p>
  </form>
</div>

{% endblock %}
