{% extends "common/aktiviteter/layout.html" %}
{% block title %}Turer og aktiviteter{% endblock %}
{% block breadcrumb %}<em><a href="{% url 'aktiviteter.views.index' %}">Turer og aktiviteter</a></em>{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/leaflet/leaflet.css" media="screen">
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/leaflet.draw/leaflet.draw.css" media="screen">
  <!--[if lte IE 8]>
      <link rel="stylesheet" href="{{ STATIC_URL }}lib/leaflet/leaflet.ie.css" media="screen">
      <link rel="stylesheet" href="{{ STATIC_URL }}lib/leaflet.draw/leaflet.draw.ie.css" media="screen">
  <![endif]-->
{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}lib/leaflet/leaflet.js"></script>
  <script src="{{ STATIC_URL }}lib/leaflet.draw/leaflet.draw.js"></script>
  <script src="{{ STATIC_URL }}js/aktiviteter/index.js"></script>
{% endblock %}

{% block js_globals %}
  <script>
    window.Turistforeningen = {
      aktivitet_points: JSON.parse("{{ aktivitet_positions_json|escapejs }}")
    };
  </script>
{% endblock %}

{% block body %}

{{ block.super }}

<div class="aktivitet-listing">
  <div class="row">
    <div class="span12">

      <h1>Turer og aktiviteter</h1>

      <p class="lede">
        DNTs lokale medlemsforeninger og turlag over hele landet arrangerer årlig flere tusen aktiviteter og fellesturer både med og uten turledere - alt fra klassiske hytte til hytte-turer, klatrekvelder, villmarksleire, brevandring, toppturer, fjellklatring, ulike typer kurs, BaseCamp for ungdom og trilleturer i nærområdet der du bor.
      </p>

      <div class="search-filters">

        <div class="row-fluid">
          <div class="span6">

            <div class="section">
              <h3>Hva slags tur?</h3>
              <div class="button-selections categories">
                {% for category in categories %}
                  <button class="btn category" data-category="{{ category.0 }}">{{ category.1 }}</button>
                {% endfor %}
              </div>
            </div>

            <div class="section">
              <h3>Hvor vil du gå?</h3>
              <select name="location" data-chosen data-placeholder="Velg turområder..." multiple>
                <option value=""></option>
                {% for location in locations %}
                  <option value="{{ location.id }}">{{ location.name }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="section">
              <h3>Når vil du dra?</h3>
              <div class="input-append date">
                <input type="text" name="travel_date" class="input-medium date" placeholder="Fra og med...">
                <span class="add-on"><i class="icon-th"></i></span>
              </div>
            </div>

          </div>
          <div class="span6">

            <h3>Er turen for deg?</h3>

            <div class="button-selections audiences">
              {% for audience in audiences %}
                <button class="btn audience" data-audience="{{ audience.0 }}">{{ audience.1 }}</button>
              {% endfor %}
            </div>

            <br>
            <div class="button-selections difficulties">
              {% for difficulty in difficulties %}
                <button class="btn difficulty" data-difficulty="{{ difficulty.0 }}">{{ difficulty.1 }}</button>
              {% endfor %}
            </div>
          </div>
        </div>

      </div>

      <div class="results" data-filter-url="{% url 'aktiviteter.views.filter' %}">

        <div class="content">
          {% include 'common/aktiviteter/listing.html' %}
        </div>

        <div class="fail hide alert alert-error">
          <strong>Beklager, det oppstod en teknisk feil!</strong><br>
          Feilen har blitt logget i vårt system, og vi vil rette den så snart som mulig. I mellomtiden kan du forsøke å <a href="javascript:document.location.reload(true);">oppdatere siden</a>.
        </div>

      </div>

      <div id="map" class="leaflet-map"></div>
      <div class="popups hide">
        {% for aktivitet in aktivitet_positions %}
          <div class="popup-content" data-aktivitet-date-id="{{ aktivitet.id }}">
            <h3>{{ aktivitet.title }}</h3>
            <p>{{ aktivitet.description|truncatewords:"30" }}</p>
          </div>
        {% endfor %}
      </div>

    </div>
  </div>
</div>

{% endblock %}
