{% extends "common/aktiviteter/layout.html" %}
{% block title %}Turer og aktiviteter{% endblock %}
{% block breadcrumb %}<em><a href="{% url 'aktiviteter.views.index' %}">Turer og aktiviteter</a></em>{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/leaflet/leaflet.css" media="screen">
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/leaflet.draw/leaflet.draw.css" media="screen">
  <!--[if lte IE 8]>
      <link rel="stylesheet" href="{{ STATIC_URL }}lib/leaflet/leaflet.ie.css" media="screen">
      <link rel="stylesheet" href="{{ STATIC_URL }}lib/leaflet.draw/leaflet.draw.ie.css" media="screen">
  <![endif]-->
{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}lib/leaflet/leaflet.js"></script>
  <script src="{{ STATIC_URL }}lib/leaflet.draw/leaflet.draw.js"></script>
  <script src="{{ STATIC_URL }}js/aktiviteter/index.js"></script>
{% endblock %}

{% block js_globals %}
  <script>
    window.Turistforeningen = {
      aktivitet_points: JSON.parse("{{ aktivitet_positions_json|escapejs }}")
    };
  </script>
{% endblock %}

{% block body %}

{{ block.super }}

<div class="aktivitet-listing">
  <div class="row">
    <div class="span12">

      <h1>Turer og aktiviteter</h1>

      <p class="lede">
        DNTs lokale medlemsforeninger og turlag over hele landet arrangerer årlig flere tusen aktiviteter og fellesturer både med og uten turledere - alt fra klassiske hytte til hytte-turer, klatrekvelder, villmarksleire, brevandring, toppturer, fjellklatring, ulike typer kurs, BaseCamp for ungdom og trilleturer i nærområdet der du bor.
      </p>

      <div class="search-filters">
        <table class="table filters">
          <tr>
            <th>Hva slags tur?</th>
            <td>
              <select name="" class="chosen" data-placeholder="Velg turtype...">
                <option value=""></option>
              </select>
            </td>
          </tr>
          <tr>
            <th>Er turen for deg?</th>
            <td>
              <select name="" class="chosen" data-placeholder="Velg målgruppe...">
                <option value=""></option>
              </select>
              <br>
              <select name="" class="chosen" data-placeholder="Velg vanskelighetsgrad...">
                <option value=""></option>
                {% for difficulty in difficulties %}
                  <option value="{{ difficulty.0 }}">{{ difficulty.1 }}</option>
                {% endfor %}
              </select>
            </td>
          </tr>
          <tr>
            <th>Hvor vil du gå?</th>
            <td>
              <select name="" class="chosen" data-placeholder="Velg turområde...">
                <option value=""></option>
              </select>
            </td>
          </tr>
          <tr>
            <th>Når vil du tidligst dra?</th>
            <td>
              <input type="radio"> Når som helst<br>
              <input type="radio"> Velg: <input type="text" class="input-small">
            </td>
          </tr>
          <tr>
            <th>Når vil du senest tilbake?</th>
            <td>
              <input type="radio"> Når som helst<br>
              <input type="radio"> Velg: <input type="text" class="input-small">
            </td>
          </tr>
        </table>
      </div>

      <table class="table table-striped aktiviteter">
        {% for date in aktivitet_dates %}
          <tr>
            <td>
              <h2>
                <a href="{% url 'aktiviteter.views.show' date.id %}">{{ date.aktivitet.title|default:"(Mangler navn)" }}</a>
              </h2>
              <p class="date">
                {{ date.start_date|date:"j. F Y" }}
              </p>
              <p>
                {{ date.aktivitet.description|truncatewords:"65" }}
              </p>
            </td>
          </tr>
        {% endfor %}
      </table>

      <div id="map" class="leaflet-map"></div>
      <div class="popups hide">
        {% for aktivitet in aktivitet_positions %}
          <div class="popup-content" data-aktivitet-date-id="{{ aktivitet.id }}">
            <h3>{{ aktivitet.title }}</h3>
            <p>{{ aktivitet.description|truncatewords:"30" }}</p>
          </div>
        {% endfor %}
      </div>

    </div>
  </div>
</div>

{% endblock %}
