{% extends "common/aktiviteter/layout.html" %}
{% block title %}Turer og aktiviteter{% endblock %}
{% block breadcrumb %}<em><a href="{% url 'aktiviteter.views.index' %}">Turer og aktiviteter</a></em>{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/leaflet/leaflet.css" media="screen">
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/leaflet.draw/leaflet.draw.css" media="screen">
  <!--[if lte IE 8]>
      <link rel="stylesheet" href="{{ STATIC_URL }}lib/leaflet/leaflet.ie.css" media="screen">
      <link rel="stylesheet" href="{{ STATIC_URL }}lib/leaflet.draw/leaflet.draw.ie.css" media="screen">
  <![endif]-->
{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}lib/leaflet/leaflet.js"></script>
  <script src="{{ STATIC_URL }}lib/leaflet.draw/leaflet.draw.js"></script>
  <script src="{{ STATIC_URL }}js/public/aktiviteter/index.js"></script>
{% endblock %}

{% block body %}

{{ block.super }}

<div class="aktivitet-listing">

  <div class="navbar navbar-default navbar-fixed-bottom visible-xs toggle-filters-results">
    <div class="container">
      <div class="col-xs-12 sm-hidden">
        <button class="btn btn-danger btn-lg btn-block" data-dnt-action="show-activities-filters">Endre søk</button>
        <button class="btn btn-danger btn-lg btn-block jq-hide" data-dnt-action="show-activities-results">Vis resultat</button>
      </div>
    </div>
  </div>

  <h1 class="visible-xs">Finn aktiviteter</h1>

  <div class="row">

    <div class="column-filters col-sm-4 hidden-xs">
      <div class="wrapper">
        <h2 class="hidden-xs">Finn tur</h2>

        <div class="search-filters">
          <div class="section">
            <h3>Jeg vil se</h3>
            <div class="button-selections categories">
              {% for category in categories %}
                <button class="btn category" data-category="{{ category.0 }}">{{ category.1 }}</button>
              {% endfor %}
            </div>
          </div>
        </div>

        <div class="search-filters">
          <div class="section">
            <div class="button-selections" data-dnt-container="category-types">
              {% for category in category_types %}
                {# Note that volunteerwork is excluded, primarily because most of them aren't properly categorized #}
                {% if category.category != 'volunteerwork' %}
                  <div
                    class="category jq-hide"
                    data-dnt-container="category"
                    data-dnt-category="{{ category.category }}">

                    {% for type in category.types %}
                      <button class="btn category-type" data-dnt-category-type="{{ type }}">
                        {{ type }}
                      </button>
                    {% endfor %}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>

        <div class="search-filters">

          <div class="section">
            <div class="input-group">
              <input class="form-control search-query" type="text" name="search">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default">Søk</button>
              </span>
            </div>
          </div>

          <div class="section">
            <h3>Fra-til dato</h3>
            <div class="input-group date" data-dnt-container="start-date">
              <input class="form-control date" type="text" name="start_date" placeholder="">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-calendar"></i>
              </span>
            </div>
            <br>

            <div class="input-group date" data-dnt-container="end-date">
              <input class="form-control date" type="text" name="end_date" placeholder="">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-calendar"></i>
              </span>
            </div>
          </div>

          <div class="section">
            <h3>I nærheten av sted</h3>
            <input type="hidden" name="lat_lng">
            <input class="form-control" name="ssr_id" type="hidden" data-select-show="position-map position-metadata">
          </div>

          <div class="section">
            <h3>Turområde</h3>
            <select class="form-control" name="location" data-placeholder="Velg turområder..." multiple>
              <option value=""></option>
              {% for location in locations %}
                <option value="{{ location.id }}">{{ location.name }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="section">
            <h3>Passer for</h3>
            <div class="button-selections audiences">
              {% for audience in audiences %}
                <button class="btn audience" data-audience="{{ audience.0 }}">{{ audience.1 }}</button>
              {% endfor %}
            </div>
          </div>

          <div class="section">
            <h3>Gradering</h3>
            <div class="button-selections difficulties">
              {% for difficulty in difficulties %}
                <button class="btn difficulty" data-difficulty="{{ difficulty.0 }}">{{ difficulty.1 }}</button>
              {% endfor %}
            </div>
          </div>

          <div class="section">
            <h3>Arrangør</h3>
            <select class="form-control" name="organizers" data-placeholder="Velg arrangør..." multiple>
              <option value=""></option>

              {% for type in all_foreninger %}
                {% if type.foreninger|length > 0 %}
                  <optgroup label="{{ type.name }}">
                    {% for forening in type.foreninger %}
                      <option value="forening:{{ forening.id }}">{{ forening.name }}</option>
                    {% endfor %}
                  </optgroup>
                {% endif %}
              {% endfor %}

              <optgroup label="Hytter">
                {% for cabin in cabins %}
                  {% if aktivitet.forening_cabin == cabin %}
                    <option value="cabin:{{ cabin.id }}" selected>{{ cabin.name }}</option>
                  {% else %}
                    <option value="cabin:{{ cabin.id }}">{{ cabin.name }}</option>
                  {% endif %}
                {% endfor %}
              </optgroup>

            </select>
          </div>

        </div><!-- /.search-filters -->

      </div>

    </div>

    <div class="column-results col-sm-8">
      <div class="wrapper">

        <div class="results" data-filter-url="{% url 'aktiviteter.views.filter' %}">
          <div class="results-view results-view-list">
            <div class="content" data-current-page="{{ aktivitet_dates.number }}">
              {% include 'common/aktiviteter/listing.html' %}
            </div>

            <div class="fail jq-hide alert alert-error">
              <strong>Beklager, det oppstod en teknisk feil!</strong><br>
              Feilen har blitt logget i vårt system, og vi vil rette den så snart som mulig. I mellomtiden kan du forsøke å <a href="javascript:document.location.reload(true);">oppdatere siden</a>.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
