<div class="listing-header clearfix">
  <p>
    Viser {{ aktivitet_dates.object_list|length }} av {{ aktivitet_dates.paginator.count }} aktiviteter
  </p>

  <ul class="pagination pagination-sm">
    <li{% if aktivitet_dates.number == 1 %} class="disabled"{% endif %}>
      <a href="javascript:undefined" class="page" data-page="min">«</a>
    </li>

    {% for number in aktivitet_dates.paginator.page_range %}
      <li{% if number == aktivitet_dates.number %} class="active"{% endif %}>
        <a href="javascript:undefined" class="page" data-page="{{ number }}">{{ number }}</a>
      </li>
    {% endfor %}

    <li{% if aktivitet_dates.number == aktivitet_dates.paginator.num_pages %} class="disabled"{% endif %}>
      <a href="javascript:undefined" class="page" data-page="max">»</a>
    </li>
  </ul>
</div>


  {% for date in aktivitet_dates %}
    <div class="aktivitet-item">
      <div class="image">
        <img src="{{ date.aktivitet.get_image.url }}">
      </div>
      <div class="info">
        <h2>
          <a href="{% url 'aktiviteter.views.show' date.id %}">{{ date.aktivitet.title|default:"(Mangler navn)" }}</a>
        </h2>
        <div class="meta">
          <div class="category">{{ date.aktivitet.get_category }}</div>
          <div class="date">
            <span class="long">{{ date.start_date|date:"j. F Y" }}</span>
            <span class="short" aria-hidden="true">{{ date.start_date|date:"d.m.y" }}</span>
          </div>
        </div>
        <p class="description xs" aria-hidden="true">{{ date.aktivitet.description|truncatewords:"6" }}</p>
        <p class="description sm" aria-hidden="true">{{ date.aktivitet.description|truncatewords:"12" }}</p>
        <p class="description md" aria-hidden="true">{{ date.aktivitet.description|truncatewords:"24" }}</p>
        <p class="description lg">{{ date.aktivitet.description|truncatewords:"48" }}</p>
      </div>
    </div>
  {% endfor %}

<div class="listing-footer clearfix">
  <p>
    Viser {{ aktivitet_dates.object_list|length }} av {{ aktivitet_dates.paginator.count }} aktiviteter
  </p>

  <ul class="pagination pagination-sm">
    <li{% if aktivitet_dates.number == 1 %} class="disabled"{% endif %}>
      <a href="javascript:undefined" class="page" data-page="min">«</a>
    </li>

    {% for number in aktivitet_dates.paginator.page_range %}
      <li{% if number == aktivitet_dates.number %} class="active"{% endif %}>
        <a href="javascript:undefined" class="page" data-page="{{ number }}">{{ number }}</a>
      </li>
    {% endfor %}

    <li{% if aktivitet_dates.number == aktivitet_dates.paginator.num_pages %} class="disabled"{% endif %}>
      <a href="javascript:undefined" class="page" data-page="max">»</a>
    </li>
  </ul>
</div>
