{% load stripcomments %}
{% load aktivitet_destination %}
{% with date.aktivitet.get_image.url as aktivitet_image_url %}
  <a
    class="aktivitet-item{% if aktivitet_image_url %} has-image {% else %} no-image{% endif %}"
    {% with date|aktivitet_destination:request as destination_site %}
      {% if destination_site == site %}

        {# Staying where we are - just link to the URL #}
        href="{% url 'aktiviteter.views.show' date.id %}"

      {% else %}

        {# Going to an external URL - link to the other site, and add a tooltip #}
        data-tooltip
        href="http://{{ destination_site.domain }}{% url 'aktiviteter.views.show' date.id %}"
        title="Vis denne turen på {{ destination_site.forening.name }} sine nettsider."

      {% endif %}
    {% endwith %}>

    {% if aktivitet_image_url %}
      <div class="image-wrapper">
        <div class="image" style="background-image: url('{{ aktivitet_image_url }}');"></div>
      </div>
    {% endif %}

    <div class="info">

      <div class="availability">
        {% if date.aktivitet.is_full %}
          <div class="is-full">
            <span>Fullt!</span>
          </div>
        {% elif date.aktivitet.has_few_spots_left %}
          <div class="few-left">
            <span>{{ date.aktivitet.get_spots_left }} plasser igjen!</span>
          </div>
        {% endif %}
      </div>

      <h2>
        {{ date.aktivitet.title|safe|default:"(Mangler navn)" }}
      </h2>

      <div class="meta">
        <div class="category">{{ date.aktivitet.get_category }}</div>
        <div class="date">
          <span class="long">{{ date.start_date|date:"j. F Y" }}</span>
          <span class="short" aria-hidden="true">{{ date.start_date|date:"d.m.y" }}</span>
        </div>
        <div class="duration">
          <span class="">({{ date.get_duration }})</span>
        </div>
      </div>

      <div class="description">
        {% if date.aktivitet.is_imported %}
          <p>{{ date.aktivitet.description|stripcomments|truncatewords:"20"|safe }}</p>
        {% else %}
          <p>{{ date.aktivitet.description|truncatewords:"20" }}</p>
        {% endif %}
      </div>

      <div class="organizer">
        <p>
          Arrangeres av
          <span class="organizer">{% firstof date.aktivitet.forening.name date.aktivitet.forening_cabin.name %}</span>
        </p>
      </div>

    </div>
  </a>
{% endwith %}
