<table class="table table-striped aktiviteter">
  {% for date in aktivitet_dates %}
    <tr>
      <td>
        <h2>
          <a href="{% url 'aktiviteter.views.show' date.id %}">{{ date.aktivitet.title|default:"(Mangler navn)" }}</a>
        </h2>
        <p class="date">
          {{ date.start_date|date:"j. F Y" }}
        </p>
        <p>
          {{ date.aktivitet.description|truncatewords:"65" }}
        </p>
      </td>
    </tr>
  {% endfor %}
</table>

{% if filter_end_reached %}
  <div class="alert alert-error">
    <strong>Dette var alle aktivitetene som matchet søket ditt.</strong>
  </div>
{% else %}
  <p>
    Viser {{ hits_per_page }} av {{ total_hits }} treff.
  </p>
{% endif %}
