{% extends site.template.name|add:"/layout.html" %}
{% block title %}{{ aktivitet.title }} &mdash; Turer og aktiviteter{% endblock %}
{% block breadcrumb %}<a href="{% url aktiviteter.views.index %}">Turer og aktiviteter</a> / <em><a href="{% url aktiviteter.views.show aktivitet.id %}">{{ aktivitet.title }}</a></em>{% endblock %}

{% block body %}

<div class="row">
  <div class="span12">

    <div class="aktivitet">
      <h2>{{ aktivitet.title }}</h2>

      <div class="meta square-well">
        <table>
          <tr>
            <th>Dato:</th>
            <td>{{ aktivitet.start_date }} - {{ aktivitet.end_date }}</td>
          </tr>
          {% if aktivitet.tags.all|length > 0 %}
            <tr>
              <th>Nøkkelord:</th>
              <td>
                {% for tag in aktivitet.tags.all %}
                  {{ tag.name }}{% if not forloop.last %}, {% endif%}
                {% endfor %}
              </td>
            </tr>
          {% endif %}
        </table>
      </div>

      <p>{{ aktivitet.description|linebreaksbr }}</p>
    </div>

  </div>
</div>

{% endblock %}
