{% extends site.template.name|add:"/layout.html" %}
{% block title %}{{ aktivitet_date.aktivitet.title }} &mdash; Turer og aktiviteter{% endblock %}
{% block breadcrumb %}<a href="{% url aktiviteter.views.index %}">Turer og aktiviteter</a> / <em><a href="{% url aktiviteter.views.show aktivitet_date.id %}">{{ aktivitet_date.aktivitet.title }}</a></em>{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/aktiviteter/show.js"></script>
{% endblock %}

{% block body %}

<div class="row">
  <div class="span12">

    <div class="aktivitet">
      <h2>{{ aktivitet_date.aktivitet.title }}</h2>

      <div class="meta square-well">
        {% if aktivitet_date.accepts_signups %}
          <div class="pull-right">
            <a href="{% url aktiviteter.views.join aktivitet_date.id %}" class="btn btn-danger">Meld deg på!</a>
          </div>
        {% elif aktivitet_date.will_accept_signups %}
          <div class="pull-right signup-countdown">
            Påmelding fra {{ aktivitet_date.signup_start|date:"j. F Y" }}
          </div>
        {% endif %}

        <table>
          <tr>
            <th>Dato:</th>
            <td>{{ aktivitet_date.start_date|date:"j. F Y H:i" }} til {{ aktivitet_date.end_date|date:"j. F Y H:i" }}</td>
          </tr>
          {% if aktivitet_date.other_dates|length > 0 %}
          <tr>
            <th>Alternative datoer</th>
            <td>
              {% if aktivitet_date.other_dates|length > 1 %}
                <a href="javascript:undefined" class="show-alternative-dates">Vis {{ aktivitet_date.other_dates|length }} andre datoer</a>
              {% endif %}
              <div class="alternatives{% if aktivitet_date.other_dates|length > 1 %} hide{% endif %}">
                {% for date in aktivitet_date.get_other_dates_ordered %}
                  <a href="{% url aktiviteter.views.show date.id %}">
                    {{ date.start_date|date:"j. F Y" }}
                    til
                    {{ date.end_date|date:"j. F Y" }}
                  </a>
                  {% if not forloop.last %}<br>{% endif %}
                {% endfor %}
              </div>
            </td>
          </tr>
          {% endif %}
          <tr>
            <th>Vanskelighetsgrad:</th>
            <td>{{ aktivitet_date.aktivitet.get_difficulty }}</td>
          </tr>
          {% if aktivitet_date.aktivitet.category_tags.all|length > 0 %}
            <tr>
              <th>Nøkkelord:</th>
              <td>
                {% for tag in aktivitet_date.aktivitet.category_tags.all %}
                  {{ tag.name }}{% if not forloop.last %}, {% endif%}
                {% endfor %}
              </td>
            </tr>
          {% endif %}
          <tr>
            <th>Påmeldte:</th>
            <td>
              {% if aktivitet_date.participants.all|length == 0 %}
                Ingen
              {% else %}
                {{ aktivitet_date.participants.all|length }}
              {% endif %}
            </td>
          </tr>
        </table>
      </div>

      <p>{{ aktivitet_date.aktivitet.description|linebreaksbr }}</p>
    </div>

  </div>
</div>

{% endblock %}
