{% extends site.template.name|add:"/layout.html" %}
{% block title %}{{ aktivitet_date.aktivitet.title }} &mdash; Turer og aktiviteter{% endblock %}
{% block breadcrumb %}<a href="{% url aktiviteter.views.index %}">Turer og aktiviteter</a> / <a href="{% url aktiviteter.views.show aktivitet_date.id %}">{{ aktivitet_date.aktivitet.title }}</a> / <em>Meld deg av</em> {% endblock %}

{% block body %}

<div class="row">
  <div class="span12">

    <div class="aktivitet">
      <h2>Påmelding: {{ aktivitet_date.aktivitet.title }}</h2>

      <p>
        Er du sikker på at du vil melde deg av denne turen?
      </p>

      <p>
        <a href="{% url aktiviteter.views.signup_cancel_confirm aktivitet_date.id %}" class="btn btn-success">Ja, meld meg av</a>
        <a href="{% url user.views.aktiviteter %}">Nei, avbryt</a>
      </p>
    </div>

  </div>
</div>

{% endblock %}
