{% extends "common/aktiviteter/layout.html" %}
{% block title %}{{ aktivitet_date.aktivitet.title }} &mdash; Turer og aktiviteter{% endblock %}
{% block breadcrumb %}<a href="{% url 'aktiviteter.views.index' %}">Turer og aktiviteter</a> / <a href="{% url 'aktiviteter.views.show' aktivitet_date.id %}">{{ aktivitet_date.aktivitet.title }}</a> / <em>Meld deg på</em> {% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/aktiviteter/signup_not_logged_on.js"></script>
{% endblock %}

{% block body %}

{{ block.super }}

<div class="row">
  <div class="span12">

    <div class="aktivitet-signup">
      <h2><a href="{% url 'aktiviteter.views.show' aktivitet_date.id %}">{{ aktivitet_date.aktivitet.title }}</a>: Påmelding</h2>

      <div class="choices">
        <div class="choice square-well login">
          <p class="title">Jeg har allerede en Min side-bruker.</p>
          <p class="action">
            <a href="{% url 'user.login.views.login' %}?next={% url 'aktiviteter.views.signup_logged_on' aktivitet_date.id %}">Logg på her</a>
          </p>
        </div>

        <div class="choice square-well register">
          <p class="title">Jeg må opprette en Min side-bruker.</p>
          <p class="action">
            <a href="javascript:undefined">Opprett bruker her</a>
          </p>
          <div class="content hide">
            <ul>
              <li>
                <a href="{% url 'user.login.views.login' %}?next={% url 'aktiviteter.views.signup_logged_on' aktivitet_date.id %}#registrering">
                  Jeg er medlem i DNT.
                </a>
              </li>
              <li>
                <a href="">
                  Jeg er ikke medlem i DNT, men vil gjerne melde meg inn!
                </a>
                (TODO)
              </li>
              <li>
                <a href="">
                  Jeg er ikke medlem i DNT, og jeg er ikke klar for å melde meg inn ennå.
                </a>
                (TODO)
              </li>
            </ul>
          </div>
        </div>

        {% if aktivitet_date.allow_simple_signup %}
          {% for message in messages %}
            {% if message.message == 'simple_signup_phone_or_email_required' %}
              <div class="alert alert-error">
                <strong>Du må oppgi enten telefonnummer eller e-postadresse for enkel påmelding.</strong>
              </div>
            {% elif message.message == 'simple_signup_name_invalid' %}
              <div class="alert alert-error">
                <strong>Du må oppgi hele navnet ditt.</strong>
              </div>
            {% elif message.message == 'simple_signup_phone_invalid' %}
              <div class="alert alert-error">
                <strong>Telefonnummeret du oppgav er ugyldig.</strong>
              </div>
            {% elif message.message == 'simple_signup_email_invalid' %}
              <div class="alert alert-error">
                <strong>E-postadressen du oppgav er ugyldig.</strong>
              </div>
            {% endif %}
          {% endfor %}

          <div class="choice square-well simple-signup">
            <p class="title">Jeg vil ikke opprette noen bruker, bare melde meg på turen raskt og enkelt.</p>
            <p class="action">
              <a href="javascript:undefined">Meld deg på her</a>
            </p>
            <div class="content hide">
              <p>
                Her kan du melde deg på ved å legge inn navn og telefonnummer eller e-postadresse. Vurdér å opprette en Min side-bruker i stedet: Da kan du logge på og se historikk over turene du har deltatt på, og mye mer. Du trenger ikke være medlem i DNT.
              </p>

              <form action="{% url 'aktiviteter.views.signup_simple' aktivitet_date.id %}" method="post" class="form-default form-horizontal simple-signup">
                {% csrf_token %}

                <div class="control-group name">
                  <label class="control-label">Ditt navn</label>
                  <div class="controls">
                    <input type="text" class="input-large" name="name">
                  </div>
                </div>

                <div class="control-group phone">
                  <label class="control-label">Telefonnummer:</label>
                  <div class="controls">
                    <input type="text" class="input-large" name="phone">
                  </div>
                </div>

                <div class="control-group email">
                  <label class="control-label">E-postadresse:</label>
                  <div class="controls">
                    <input type="text" class="input-large" name="email">
                  </div>
                </div>

                <div class="control-group submit">
                  <div class="controls">
                    <button type="submit" class="btn btn-success"><i class="icon-ok icon-white"></i> Meld deg på</button>
                  </div>
                </div>

              </form>
            </div>
          </div>
        {% endif %}
      </div>
    </div>

  </div>
</div>

{% endblock %}
