{% extends "common/aktiviteter/layout.html" %}
{% block title %}{{ aktivitet_date.aktivitet.title }} &mdash; Turer og aktiviteter{% endblock %}
{% block breadcrumb %}<a href="{% url 'aktiviteter.views.index' %}">Turer og aktiviteter</a> / <a href="{% url 'aktiviteter.views.show' aktivitet_date.id %}">{{ aktivitet_date.aktivitet.title }}</a> / <em>Meld deg på</em> {% endblock %}

{% block body %}

{{ block.super }}

<div class="row">
  <div class="span12">

    <div class="aktivitet">
      <h2><a href="{% url 'aktiviteter.views.show' aktivitet_date.id %}">{{ aktivitet_date.aktivitet.title }}</a>: Påmelding</h2>

      <p>
        Er du sikker på at du vil melde deg på denne turen?
      </p>

      <p>
        <a href="{% url 'aktiviteter.views.signup_confirm' aktivitet_date.id %}" class="btn btn-success">Ja, meld meg på</a>
        <a href="{% url 'aktiviteter.views.show' aktivitet_date.id %}">Nei, avbryt</a>
      </p>
    </div>

  </div>
</div>

{% endblock %}
