{% extends 'layout.html' %}
{% block extra_js %}
  <script src="{{ STATIC_URL }}js/membership.js"></script>
{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/membership.css" media="screen">
{% endblock %}

{% block title %}Medlemsfordeler{% endblock %}
{% block breadcrumb_title %}Medlemsfordeler{% endblock %}

{% block body %}

<h1>Bli medlem</h1>

{% if not enrollment_active %}
<div class="alert alert-error">
  <a class="close">&times;</a>
  <strong>Online innmeldingsskjema er for øyeblikket ikke tilgjengelig.</strong><br>
  For å bli medlem, vennligst ta kontakt med medlemsservice på tlf. 4000 1870 eller e-post <a href="mailto:medlem@turistforeningen.no">medlem@turistforeningen.no</a>.
</div>

{% endif %}

{% if association %}
  Din lokale medlemsforening blir <strong>{{ association.name }}</strong>. Her er dine medlemsfordeler og priser på medlemskap.
{% else %}
  Her er alle medlemsfordelene og priser på medlemskap.
{% endif %}

<div class="row">
  <div class="span4 benefits-large key" data-popover data-trigger="hover" data-title="Egen DNT-nøkkel" data-content="Som medlem får du DNTs standardnøkkel til alle våre hytter som er låst. Du kan låne den mot et depositum på 100 kroner. Kjøp den via din lokale medlemsforening eller vår nettbutikk.">
    <div class="text">
      Egen DNT-nøkkel
    </div>
  </div>
  <div class="span4 benefits-large magazine" data-popover data-trigger="hover" data-title="Fjell og Vidde" data-content="Fjell og Vidde er landets største friluftsmagasin, og kommer ut 6 ganger i året. Medlemmer (hoved-, student/ungdom- og honnør) får bladet gratis tilsendt i posten.">
    <div class="text">
      Fjell og Vidde
    </div>
  </div>
  <div class="span4 benefits-large cabins" data-popover data-trigger="hover" data-placement="left" data-title="Rabatt på 480 hytter" data-content="Som medlem i DNT får du rabatt på overnatting og mat på alle turistforeningshyttene over hele landet. Barn og ungdom har ekstra gode rabattordninger.">
    <div class="text">
      Rabatt på 480 hytter
    </div>
  </div>
</div>

<div id="benefits">

  <div class="row">
    <div class="span6">
      <h2>Reisen</h2>
      <dl>
        <dt>Billig reise til fjells med NOR-WAY bussekspress</dt>
        <dd>
          <strong>Nye medlemmer</strong> kan bestille et rabattkort med 50% rabatt på bussbillett fra NOR-WAY Bussekspress på én valgfri strekning hvor som helst i Sør-Norge. Bussbilletten må bestilles via <a href="https://www.turistforeningen.no/minside/norway">Min Side</a> etter at du har meldt deg inn.<br><br>
          Bor du utenfor Norge? Vennligst bruk <a href="http://www.turistforeningen.no/nor-way.php">denne siden</a> for å bestille bussbillett.
        </dd>
        <dt>Rabatt på NSBs kundekort</dt>
        <dd>Du får NSBs kundekort for 550 kroner (normal pris er 750 kroner). Kundekortet gir deg 20% rabatt på NSBs avganger. I tillegg kan du ta med deg ett barn under 16 år gratis. Kundekortinnehavere får dessuten 10% rabatt på ordinære overnattingspriser på samtlige Choice Hotels i Norge. <a href="http://www.nsb.no/">www.nsb.no</a></dd>
      </dl>
    </div>

    <div class="span6">
      <h2>Utstyr</h2>
      <dl>
        <dt>
          Turutstyr og kart til medlemspris
        </dt>
        <dd>
          Som medlem i DNT kan du kjøpe <a href="/turutstyr-og-kart/">turutstyr og kart</a> til medlemspriser gjennom DNTs lokale medlemsforeninger.
        </dd>
        <dt>
          15% rabatt på friluftsutstyr hos Amfibi
        </dt>
        <dd>
          Amfibi tilbyr alle DNT-medlemmer å handle til rabatterte priser på <a href="http://www.amfibi.no/">www.amfibi.no</a>. Rabatten utgjør -15% på veiledende priser (vises når man er innlogget), og gjelder på alle ordre uansett størrelse.
        </dd>
        <dt>
          15% rabatt på Åsnesprodukter
        </dt>
        <dd>
          Åsnes tilbyr DNT-medlemmer 15% rabatt på alle Åsnesprodukter ved kjøp gjennom <a href="http://www.whiteplanet.no/index.php?mapping=68&amp;brand=ASNES">Åsnes' nettbutikk</a>. Tast inn medlemsnummeret ditt i rabattkodefeltet i handlevogna når du bestiller.
        </dd>
        <dt>
          10-15% rabatt på varer fra Oslo Sportslager
        </dt>
        <dd>
          Hos <a href="http://www.oslosportslager.no/">Oslo Sportslager</a> får du 10 prosent rabatt ved varekjøp opptil 1500 kroner, og 15 prosent over 1500 kroner. Oppgi medlemsnummer ved kjøp for å få rabatt. NB! Rabatten gjelder ikke ved kjøp av Everest-sykler.
        </dd>
        <dt>
          10% rabatt på fiskeutstyr hos Skitt Fiske
        </dt>
        <dd>
          Nettbutikken <a href="http://www.skittfiske.no/">Skitt Fiske</a> gir DNT-medlemmer 10 prosent rabatt på fiske- og friluftsutstyr.
        </dd>
      </dl>
    </div>
  </div>

  <div class="row">
    <div class="span6">
      <h2>Overnatting</h2>
      <dl>
        <dt>
          Barn bor gratis eller billig på våre hytter
        </dt>
        <dd>
          Medlemmer i Barnas Turlag bor gratis på våre selvbetjente og ubetjente hytter over hele landet, og får gode rabatter på de betjente hyttene.
        </dd>
        <dt>
          Ungdom betaler 1/2 pris og bor gratis på utvalgte hytter
        </dt>
        <dd>
          Ungdomsmedlemmer betaler bare 1/2 pris for overnatting på selvbetjente- og ubetjente hytter og på sovesal på betjente hytter. Ungdom kan dessuten bo gratis på hyttene i Oslomarka og utvalgte hytter i Nord-Norge.
        </dd>
        <dt>
          Rabatt på en rekke private fjellstuer og turisthytter over hele Norge
        </dt>
        <dd>
          Mange private fjellstuer og turisthytter som ligger naturlig i DNTs sti- og rutenett tilbyr DNT-medlemmer rabatt på overnatting. På <a href="http://ut.no/">UT.no</a> kan du sjekke hvilke overnattingssteder som gir rabatt.
        </dd>
        <dt>
          Rabatt på fjellhyttene til turistforeningene i Sverige, Finland og på Island.
        </dt>
        <dd>
          Skal du på tur i våre naboland nyter du godt av ditt medlemskap i DNT. Du får rabatt på fjellhyttene til <a href="http://www.svenskaturistforeningen.se/">Svenska Turistföreningen</a>, <a href="http://www.suomenlatu.fi/">Suomen Latu</a> og <a href="http://www.fi.is/">Ferðafélag Íslands</a>.
        </dd>
        <dt>
          10% rabatt på De Historiske - hotell og spisesteder
        </dt>
        <dd>
          DNT-medlemmer får 10 prosent rabatt ved overnatting på utvalgte hoteller tilknyttet De Historiske - hotell og spisesteder. Bruk <a href="https://gc.synxis.com/rez.aspx?Chain=9083&amp;Dest=DNT%202012&amp;template=HHN_ITIN_TEMPL_NEW&amp;promo=DNT">dette bestillingsskjemaet</a> og oppgi kampanjekoden DNT ved bestilling. Mer informasjon om de enkelte hotellene finner du på <a href="http://www.dehistoriske.no/">www.dehistoriske.no</a>.
        </dd>
        <dt>
          15% rabatt på overnatting på Thon Hotels
        </dt>
        <dd>
          Du får 15 prosent rabatt* på overnatting i standardrom (inkl. frokost) på Thon-hoteller i Norge og utlandet. Rabatten gjelder City- og Conference-hotellene. Fast lavpris på Thon Budget-hoteller. Reservasjon gjør du via Thon Booking på telefon 23 08 02 00, direkte til hvert hotell eller via <a href="http://www.thonhotels.no/">www.thonhotels.no</a>. Kundekoden <strong>DNT2</strong> må alltid benyttes for å få avtaleprisen. Husk å ta med medlemskort.<br><br>
          <em>* Rabatten kan variere noe på enkelte hoteller.</em>
        </dd>
      </dl>
    </div>

    <div class="span6">
      <h2>Festivaler</h2>
      <dl>
        <dt>
          Spesialpris på festivalpass til Vinjerock
        </dt>
        <dd>
          Du kan kjøpe festivalpasset til den årlige musikkfestivalen <a href="http://www.vinjerock.no/">Vinjerock</a> til spesialpris. Det vil også være muligheter for å kjøpe medlemskap ved inngangen til festivalen og inne på festivalen.
        </dd>
        <dt>
          Rabatt på festivalpass til Fjellfilmfestivalen
        </dt>
        <dd>
          Medlemmer i DNT og DNT-ung får rabatt på festivalpass til den årlige Fjellfilmfestivalen. Billetter legges ut for salg på <a href="http://www.fjellfilm.no/">www.fjellfilm.no</a> eller kan kjøpes ved oppmøte på festivalen.
        </dd>
        <dt>
          10% rabatt på billetter til Peer Gynt-stemnet
        </dt>
        <dd>
          DNT-medlemmer får 10% rabatt på billetter til utendørsforestillingen <a href="http://www.peergynt.no/">Peer Gynt ved Gålåvatnet</a>, danseforestillingen TidarÅ og utendørskonserten <em>Ved Rondane</em> under Peer Gynt-stemnet. For å bestille billetter med DNT-rabatt, ring Peer Gynt as på tel. 959 00 770 eller send e-post til <a href="mailto:post@peergynt.no">post@peergynt.no</a>.
        </dd>
        <dt>
          20% rabatt på Førdefestivalen
        </dt>
        <dd>
          Medlemmer i DNT får 20% rabatt på festivalpass på den årlige <a href="http://www.fordefestival.no/">Førdefestivalen</a>. Konsertbillett for barn koster 50,-.
        </dd>
      </dl>
    </div>
  </div>

  <div class="row">
    <div class="span6">
      <h2>Andre tilbud</h2>
      <dl>
        <dt>
          Ungdomsmagasinet UT
        </dt>
        <dd>
          UT er DNT ungs medlemsblad, og kommer ut to ganger i året. Bladet et helstøpt friluftsmagasin med ungdommelig vri. Ungdomsmedlemmer får bladet gratis.
        </dd>
        <dt>
          Rabatt på forsikring fra Danica Pensjon
        </dt>
        <dd>
          Som medlem i DNT får du rabatt på personforsikring og privat pensjonssparing i Danica Pensjon. Se <a href="http://www.danica.no/DNT">www.danica.no/DNT</a> for mer informasjon. Du kan også sende e-post til <a href="mailto:turistforeningen@danica.no">turistforeningen@danica.no</a> eller ringe Danica på telefon 73 56 32 10.
        </dd>
        <dt>
          Fotoprodukter til medlemspriser
        </dt>
        <dd>
          Medlemmer i DNT får fotoprodukter fra Eurofoto til rabatterte priser: fotobok, forstørrelser, print av bilder og mye mer. Tjenesten er kun tilgjengelig fra <a href="{% url user.views.home %}">Min Side</a>.
        </dd>
        <dt>
          20% rabatt på Stryn Sommerski
        </dt>
        <dd>
          Som DNT-medlem får du 20% rabatt på dagskort på <a href="http://www.strynsommerski.no/">Stryn Sommerski</a>. Husk medlemsbeviset!
        </dd>
        {% if association %}
          <dt>
            Lokale tilbud der du bor
          </dt>
          <dd>
            {{ association.name }} tilbyr et stort utvalg av fellesturer, kurs og aktiviteter du kan delta på. Enkelte medlemsforeninger har også egne medlemsfordeler som medlemsblader, årbøker og rabattordninger. Sjekk ditt lokale tilbud på <a href="{{ association.url }}">nettsidene til {{ association.name }}</a>.
          </dd>
        {% endif %}
      </dl>
    </div>
  </div>
</div>

<div class="row">
  <div class="benefits-toggle span12">
    <a class="shower" href="javascript:undefined">Se alle fordelene</a>
    <a class="hider" href="javascript:undefined">Skjul fordelene</a>
    <div class="benefits-toggle-buttons">
      <div class="show-button"></div>
      <div class="hide-button"></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span8">
    <h2>Priser</h2>
    <table class="table prices">
      <tr>
        <td data-popover data-trigger="hover" data-placement="top" data-title="Hovedmedlem" data-content="Er du over 26 år blir du hovedmedlem. Hovedmedlemmer har alle medlemsfordeler."> Hovedmedlem</td>
        <td>{{ price.main }},-</td>
      </tr>
      <tr>
        <td data-popover data-trigger="hover" data-placement="top" data-title="Student/ungdom" data-content="Studenter/ungdommer mellom 19 og 26 år blir medlemmer i DNT ung. Er du i denne medlemskategorien får du både Fjell og Vidde og ungdomsmagasinet UT."> Student/ungdom (19-26 år)</td>
        <td>{{ price.student }},-</td>
      </tr>
      <tr>
        <td data-popover data-trigger="hover" data-placement="top" data-title="Skoleungdom" data-content="Skoleungdom mellom 13 og 18 år blir medlem i DNT ung. Skoleungdom får ungdomsmagasinet UT, men ikke Fjell og Vidde."> Skoleungdom (13-18 år)</td>
        <td>{{ price.school }},-</td>
      </tr>
      <tr>
        <td data-popover data-trigger="hover" data-placement="top" data-title="Barn" data-content="Barn mellom opp til 12 år blir medlemmer i Barnas Turlag. Barn bor gratis eller har gode rabatter på hyttene."> Barn (0-12 år)</td>
        <td>{{ price.child }},-</td>
      </tr>
      <tr>
        <td data-popover data-trigger="hover" data-placement="top" data-title="Honnørmedlem" data-content="Honnørmedlemskap tilbys alle over 67 år, samt til uføre. Kontakt DNTs medlemsservice på telefon 40001870 eller e-post medlem@turistforeningen.no hvis du er ufør og har rett til honnørmedlemskap."> Honnørmedlem (Over 67 år eller uføre)</td>
        <td>{{ price.senior }},-</td>
      </tr>
      <tr>
        <td data-popover data-trigger="hover" data-placement="top" data-title="Husstandsmedlem" data-content="For å få rett til husstandsmedlemskap <strong>må</strong> du bo sammen med enten et hoved-, student- honnør- eller livsvarig medlem. Hvis du melder inn flere i familien (på samme adresse) blir husstandsmedlemskap satt automatisk. Du kan også knytte deg til et <strong>eksisterende</strong> medlem på samme adresse for å få rett til husstandsmedlemskap."> Husstandsmedlem</td>
        <td>{{ price.household }},-</td>
      </tr>
      <tr>
        <td data-popover data-trigger="hover" data-placement="top" data-title="Livsvarig medlem" data-content="Hvis du ønsker å bli livsvarig medlem i DNT må du kontakte medlemsservice på telefon 40001870 eller via e-post medlem@turistforeningen.no."> Livsvarig medlem</td>
        <td>{{ price.lifelong }},-</td>
      </tr>
    </table>

    <p>
      <em>
        {% if association %}
          Prisene gjelder for medlemskap i {{ association.name }}. Andre medlemsforeninger kan ha andre priser.
        {% else %}
          Prisene er kun veiledende da enkelte medlemsforeninger kan ha andre priser.
        {% endif %}
      </em>
    </p>

    <p>
      <strong>Merk:</strong>
      Fra 1. oktober 2012 gjelder medlemskapet resten av dette året, samt hele 2013.
    </p>

  </div>
  <div class="span4 membership">
    {% if enrollment_active %}
      <a href="{% url enrollment.views.index %}" class="btn btn-danger membership">Bli medlem!</a><br>
      <a href="http://{{ old_site }}/form2.php?form=gavemedlemskap">Gi bort medlemskap!</a>
      <div class="alert alert-error" style="text-align: left; margin-top: 20px">
        <strong>Forsinket utsendelse av medlemskort</strong><br>
        Vi avslutter medlemsåret og kan dessverre ikke sende ut medlemskort før i slutten av oktober. Hvis du trenger medlemskortet umiddelbart, kan du kjøpe medlemskap i utsalgsstedene til våre foreninger rundt omkring i landet. <a href="{% url association.views.index %}">Finn din nærmeste forening</a>
      </div>
    {% endif %}
  </div>
</div>

{% if association %}
<div class="row association-data">
  <div class="span8">
    <div class="well">
      <h2>{{ association.name }}</h2>
      {% if association.url %}
        <p><a href="{{ association.url }}">{{ association.url }}</a></p>
      {% endif %}
      {% if association.email %}
        <p>E-post: <a href="{{ association.email }}">{{ association.email }}</a></p>
      {% endif %}
      {% if association.phone %}
        <p>Tlf: {{ association.phone }}</p>
      {% endif %}
      {% if association.facebook %}
        <p><a href="{{ association.facebook }}">Besøk oss på Facebook</a></p>
      {% endif %}
      {% if association.post_address %}
        <p>Postadresse: {{ association.post_address }}, {{ association.zip }} {{ association.ziparea }}</p>
        {% endif %}
      {% if association.visit_address %}
        <p>Besøksadresse: {{ association.visit_address }}</p>
      {% endif %}
      {% if association.map %}
        <iframe class="map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{{ association.map }}"></iframe>
      {% endif %}
    </div>
  </div>
  <div class="span4">
    <div class="well">
      <h2>Medlemsservice</h2>
      Trenger du turtips?<br>
      Finn turer og hytter på <a href="http://ut.no/">UT.no</a><br><br>

      <h3>Har du spørsmål om medlemskap?</h3>
      <a href="{% url membership.views.service %}">Gå til medlemsservice</a><br>
      Ring: 40001870<br>
      <a href="mailto:medlem@turistforeningen.no">medlem@turistforeningen.no</a><br>
      Åpent alle hverdager: kl. 09.00 - 16.00<br><br>

      Ta gjerne kontakt med oss på <a href="http://www.facebook.com/turistforeningen">Facebook</a> eller <a href="https://twitter.com/turistforening">Twitter</a>.
    </div>
  </div>
</div>
{% endif %}

{% endblock %}
