{% extends 'layout.html' %}
{% block extra_js %}
  <script src="{{ STATIC_URL }}js/membership.js"></script>
{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/membership.css" media="screen">
{% endblock %}

{% block title %}Medlemskap{% endblock %}
{% block breadcrumb_title %}Medlemskap{% endblock %}

{% block body %}

{% if invalid_zipcode or unregistered_zipcode %}
  <div class="row">
    <div class="offset2 span8">
      <div class="alert alert-danger">
        <a class="close">x</a>
        <strong>Dette vet vi ikke hvor er.</strong><br>
        Vi kjenner dessverre ikke igjen postnummer <strong>{{ invalid_zipcode }}{{ unregistered_zipcode }}</strong>. Sjekk at du har skrevet riktig eller ta kontakt med DNTs medlemsservice.
      </div>
    </div>
  </div>
{% endif %}

<div class="row">
  <div class="span12">
    <div id="membership-box">
      <div class="wrapper">
        <div id="search-box">
          <p class="intro">
            Som medlem får du nøkkel til 480 hytter, rabatt på overnatting, turutstyr til medlemspriser, friluftsmagasinet Fjell og Vidde, tilbud om turer og kurs over hele landet, og mye mer.
          </p>
          <h2>Se hva DNT tilbyr der du bor:</h2>
          <form method="post" action="{% url membership.views.zipcode_search %}">
            {% csrf_token %}
            <p class="search">
              <input type="text" name="zipcode" class="input-medium" placeholder="Ditt postnummer...">
              <button class="btn btn-danger">OK</button><br>
              <a href="{% url membership.views.benefits %}">Jeg bor ikke i Norge</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span4">
    <h2>Medlemsservice</h2>
    <p>
      Trenger du turtips? Finn turer og hytter på <a href="http://ut.no/">UT.no</a>
    </p>

    <p>
      <strong>Har du spørsmål om medlemskap?</strong><br>
      <a href="{% url membership.views.service %}">Gå til medlemsservice</a>
    </p>

    <p>
      Ring: 4000 1870<br>
      <a href="medlem@turistforeningen.no">medlem@turistforeningen.no</a><br>
      Åpent alle hverdager: kl. 09.00 - 16.00
    </p>

    <p>
      Ta gjerne kontakt med oss på <a href="http://www.facebook.com/turistforeningen">Facebook</a>
    </p>
  </div>
  <div class="span4">
    <h2>Gavemedlemskap</h2>
    <p>
      Et medlemskap i DNT varer lenge og kan brukes så mye man vil.
    </p>

    <p>
      <strong>Du kan velge mellom:</strong>
      <ul>
        <li>Vanlig medlemskap (Ett kalenderår).</li>
        <li>Dåpsgave (Medlemskap i Barnas Turlag fra 0-12 år). Pris: 900,-</li>
        <li>Jubileum (Hovedmedlemskap i 10 år). Pris: 5500,-</li>
      </ul>
      <a href="http://{{ old_site }}/form2.php?form=gavemedlemskap">Bestill gavemedlemskap</a>
    </p>
  </div>
  <div class="span4">
    <h2>Meld inn bedriften</h2>
    <p>
      Med et bedriftsmedlemskap i DNT bedrift får dere:
      <ul>
        <li>en lokal turekspert/bedriftskontakt</li>
        <li>friske, sunne medarbeidere</li>
        <li>årlig fellestur med turleder</li>
        <li>verdikort for fri hytteovernatting</li>
        <li>tilbud om turlederutdanning</li>
        <li>Lokale turtips</li>
        <li>DNTs medlemsfordeler for alle ansatte</li>
      </ul>
      <a href="/bedrift/">Meld inn bedriften</a>
    </p>
  </div>
</div>

{% endblock %}
