{% extends 'layout.html' %}
{% block extra_js %}
  <script src="{{ STATIC_URL }}js/membership.js"></script>
{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/membership.css" media="screen">
{% endblock %}

{% block title %}Medlemsservice{% endblock %}

{% block body %}

<div class="row">
  <div class="span12">
    <h1>Medlemsservice</h1>
  </div>
</div>

<div class="row">
  <div id="faq" class="span8">

    <h3>Medlemskap</h3>
    <dl>
      <dt>Hvor lenge varer medlemskapet?</dt>
      <dd>Medlemskapet gjelder fra 1. januar til 31. desember.</dd>
      <dt>Har DNT gruppemedlemskap?</dt>
      <dd>Nei. Våre medlemskap gjelder per person, og hvert medlem må ha gyldig medlemskort for å få rabatter.</dd>
      <dt>Jeg er utmeldt, men får fortsatt giro og/eller blad. Hvorfor?</dt>
      <dd>Utmeldingen og utsending av blad kan ha krysset hverandre. Det vil si at prosessen med utsending av giro/blad allerede var i gang da vi mottok utmeldingen.</dd>
      <dt>Kan et medlemskap overføres til en annen person?</dt>
      <dd>Medlemskapet er personlig og kan ikke overføres til annen person. Det finnes ingen unntak fra denne regelen.</dd>
      <dt>Hvordan forandrer jeg adressen min?</dt>
      <dd>Du kan selv endre din adresse ved å gå inn på Min side på forsiden. Eller ta kontakt med medlemsservice på telefon 21035720 eller via e-post: <a href="mailto:medlem@turistforeningen.no">medlem@turistforeningen.no</a></dd>
      <dt>Hva gjør jeg om jeg skal flytte til utlandet?</dt>
      <dd>For medlemmer bosatt utenfor Norge må portotillegg betales for å få tilsendt Fjell og Vidde og årbok. Ta kontakt med medlemsservice på telefon 21035720 eller via e-post: <a href="mailto:medlem@turistforeningen.no">medlem@turistforeningen.no</a></dd>
    </dl>

    <h3>Medlemskort</h3>
    <dl>
      <dt>Jeg har mistet mitt gyldige medlemskort. Hvordan får jeg et nytt?</dt>
      <dd>Bekreftelser på medlemskap må skrives ut fra datasystemet og sendes med vanlig post. Ta kontakt med medlemsservice på telefon 21035720 eller via e-post: <a href="mailto:medlem@turistforeningen.no">medlem@turistforeningen.no</a></dd>
      <dt>Kan dere sende bekreftelse på medlemskapet på fax, e-post eller SMS?</dt>
      <dd>Bekreftelser på medlemskap må skrives ut fra datasystemet og sendes med vanlig post, ikke fax eller e-post. Men vi kan sende en bekreftelse på SMS når post ikke er raskt nok.</dd>
      <dt>Jeg glemte å be om oblat/kvittering i nettbanken. Hvordan kan jeg få et nytt?</dt>
      <dd>Ta kontakt med medlemsservice på telefon 21035720 eller via e-post: <a href="mailto:medlem@turistforeningen.no">medlem@turistforeningen.no</a> så sender vi et nytt gyldig medlemskort.</dd>
    </dl>
    <h3>Betaling</h3>
    <dl>
      <dt>Hvordan kan jeg få en ny faktura for innbetaling?</dt>
      <dd>Ta kontakt med medlemsservice på telefon 21035720 eller via e-post <a href="mailto:medlem@turistforeningen.no">medlem@turistforeningen.no</a> så sender vi en ny.</dd>
      <dt>Kan jeg betale uten KID-nummer?</dt>
      <dd>Ja, men husk å oppgi medlemsnummer og/eller navnet på den eller de medlemskapet gjelder i "Melding til mottaker"/Betalingsinformasjon på giroen.<br/>Ved bruk av KID-nummer blir betalingen behandlet elektronisk og lest inn i medlemssystemet første virkedag etter betaling. Betalinger uten KID må behandles manuelt og tar derfor lenger tid å registrere.</dd>
      <dt>Hvofor stemmer ikke beløpet på giroen med oppgitt kontingentpris?</dt>
      <dd>Lokalforeningen din kan ha avvikende kontingent.</dd>
      <dt>Hva gjør jeg dersom medlemskapet er betalt to ganger?</dt>
      <dd>Ta kontakt med medlemsservice på telefon 21035720 eller via e-post: <a href="mailto:medlem@turistforeningen.no">medlem@turistforeningen.no</a> hvis du vil ha beløpet refundert. Husk å oppgi kontonummer.</dd>
      <dt>Har DNT avtaleGiro/Efaktura</dt>
      <dd>Ja. Bruker du nettbank kan du velge å motta AvtaleGiro eller eFaktura hos oss. Registreringen gjør du selv i nettbanken når du betaler kontingenten. Du vi da fra neste år få årskontingenten direkte i nettbanken din. Du vil i januar hvert år få tilsendt gyldig medlemskort.</dd>
      <dt>Hva gjør jeg med giroen når jeg får nytt medlemskort fra DNT?</dt>
      <dd>Har du AvtaleGiro eller eFaktura fungerer giroen kun som adressebærer for årboken.</dd>
    </dl>
    <h3>Hytter</h3>
    <dl>
      <dt>Hvor får jeg tak i nøkkel til hyttene?</dt>
      <dd>Nøkkel til våre selvbetjente og ubetjente hytter får du kjøpt på <a href="http://www.turistforeningen.no/nettbutikk/">www.turistforeningen.no/nettbutikk</a>, betjente hytter, hos våre representanter eller hos lokale medlemsforeninger. Nøkkelen passer til en standardlås som er lik på alle selvbetjente og ubetjente hytter. Du må være medlem i DNT for å få kjøpt nøkkelen.</dd>
    </dl>

  </div>

  <div class="span4">
    <div class="well">
      <h2>Medlemsforedeler og priser</h2>
      <p>For å se dine fordeler og priser må du taste inn ditt postnummer:</p>
      <p>
        Postnummer<br>
        <input type="text" name="zipcode" class="input-small"> <button class="btn">OK</button><br>
        <a href="">Jeg bor ikke i Norge</a>
      </p>
    </div>

    <div class="well">
      <h2>Kontakt oss</h2>

      <p>
        Telefon: 4000 1970<br>
        Åpent alle hverdager: kl. 09.00 - 16.00<br>
        medlem@turistforeningen.no
      </p>
    </div>
  </div>
</div>

{% endblock %}
