<div class="modal zipcode-modal hide">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
    <h3 class="hide fail">Teknisk feil</h3>
    <h3 class="hide missing invalid">Dette vet vi ikke hvor er.</h3>
  </div>
  <div class="modal-body">
      <p class="hide fail">
        Beklager, det oppstod en teknisk feil når vi prøvde å finne medlemsforening basert på ditt postnummer. Hvis feilen vedvarer, vær vennlig og ta kontakt med DNTs medlemsservice.
      </p>
      <p class="hide invalid">
        Vi kjenner dessverre ikke igjen postnummer <strong class="zipcode"></strong>. Sjekk at du har skrevet riktig eller ta kontakt med DNTs medlemsservice.
      </p>
      <p class="hide missing">
        Vennligst fyll inn ditt postnummer. Hvis du bor i utlandet, klikk på "Jeg bor ikke i Norge".
      </p>
  </div>
  <div class="modal-footer">
    <a href="javascript:undefined" class="btn" data-dismiss="modal">Lukk vindu</a>
  </div>
</div>
