{% extends 'central/enrollment/index.html' %}

{% load i18n %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/public/enrollment/registration.js"></script>
{% endblock %}

{% block js_globals %}
  <script>
    Turistforeningen.phone_required = {% if enrollment.users.count == 0 %}true{% else %}false{% endif %};
    Turistforeningen.email_required = {% if enrollment.users.count == 0 %}true{% else %}false{% endif %};

    {% for message in messages %}
      {% if message.message == 'user_invalid' %}
        Turistforeningen.trigger_form_validations = true;
      {% endif %}
    {% endfor %}

  </script>
{% endblock %}

{% block enrollment %}

<div class="enrollment-registration">

  {% if dntconnect %}
    <div class="alert alert-info">
      <strong>{% trans "Innmelding i Den Norske Turistforening" %}</strong><br>
      {% trans "Du er i ferd med å melde deg inn i DNT i forbindelse med at du skal melde deg på en tur eller aktivitet. Når innmeldingen er fullført vil du bli videresendt til påmelding for turen." %}
    </div>
  {% endif %}

  <div class="row">
    <div class="col-md-8">

      {% include 'central/enrollment/progress.html' with step=1 %}

      {% for message in messages %}
        {% if message.message == 'contact_missing' %}
          <div class="alert alert-error">
            <a class="close">x</a><strong><i class="icon-warning-sign"></i> {% trans "Kontaktinformasjon mangler." %}</strong><br>
            {% trans "Minst ett medlem av husstanden må ha gyldig kontaktinformasjon (både telefon og e-post)." %}
          </div>
        {% elif message.message == 'user_invalid' %}
          {# Note that this message also emits a value to the js_globals block #}
          <div class="alert alert-error">
            <a class="close">x</a><strong>{% trans "Vi klarte ikke å lagre opplysningene." %}</strong><br>
            {% trans "Er alt riktig fylt ut? Vennligst sjekk felter som er markert røde og prøv på nytt." %}
          </div>
        {% endif %}
      {% endfor %}

      {% if enrollment.users.count > 0 %}
        <div class="well members">
          <h2>{% trans "Du har registrert:" %}</h2>
          <table class="table table-bordered memberlist">
          {% for user in enrollment.get_users_by_name %}
            <tr>
              <td>
                <a href="{% url 'enrollment.views.registration' user.id %}" title="Rediger {{ user.name }}">
                  {% if user.name %}
                    {{ user.name }}
                  {% else %}
                    {% trans "(Anonym)" %}
                  {% endif %}
                </a>
                <span class="remove pull-right">
                  <a href="{% url 'enrollment.views.remove' user.id %}">
                    <i class="glyphicon glyphicon-remove" title="Ta bort {{ user.name }}"></i>
                  </a>
                </span>
              </td>
            </tr>
          {% endfor %}
          </table>
          <div class="checkbox">
            <label>
              <input type="checkbox" class="conditions"{% if enrollment.accepts_conditions %} checked{% endif %}> {% if enrollment.users.count > 1 %}{% trans "Vi" %}{% else %}{% trans "Jeg" %}{% endif %} {% trans "har lest og godtar" %} <a href="javascript:undefined" data-toggle="modal" data-target=".modal">{% trans "betingelsene" %}</a>
            </label>
          </div>
          <p>
            <a href="{% url 'enrollment.views.household' %}" class="btn btn-danger btn-lg step2{% if current_user %} post{% endif %}" data-conditions-message="{% trans "Du kan ikke gå videre med mindre du har lest og godtatt betingelsene." %}">
              {% trans "Gå videre" %} <i class="icon-arrow-right icon-white"></i>
            </a>
          </p>
        </div>
        <h2>{% trans "Meld inn flere i familien/husstanden:" %}</h2>
        <p>{% trans "Du kan kun melde inn flere samtidig hvis alle bor på samme adresse." %}</p>
        <br>
      {% endif %}

      <form
        class="form-border registration"
        data-dnt-container="registration-form"
        action="{% url 'enrollment.views.registration' %}"
        method="post">

        {% csrf_token %}
        {% if current_user %}
          <input type="hidden" name="user" value="{{ current_user.id }}">
        {% endif %}
        <div class="form-group" data-dnt-form-group="name">
          <label>{% trans "Fullt navn" %} <span class="asterisk red">*</span></label>
          <input type="text" class="form-control" name="name" value="{{ current_user.name }}">
        </div>
        <div class="form-group" data-dnt-form-group="dob">
          <label>{% trans "Fødselsdato (dd.mm.åååå)" %} <span class="asterisk red">*</span></label>
          <div class="input-group date">
            <input type="text" class="form-control dob" name="dob" value="{{ current_user.dob|date:"d.m.Y" }}">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-calendar"></i>
            </span>
          </div>
        </div>
        <div class="form-group" data-dnt-form-group="gender">
          <label> {% trans "Kjønn" %} <span class="asterisk red">*</span></label>
          <div>
            <div class="radio gender">
              <label>
                <input type="radio" name="gender" value="f"{% if current_user.gender == 'f' %} checked{% endif %}> {% trans "Kvinne" %}
              </label>
            </div>
            <div class="radio gender">
              <label>
                <input type="radio" name="gender" value="m"{% if current_user.gender == 'm' %} checked{% endif %}> {% trans "Mann" %}
              </label>
            </div>
          </div>
        </div>
        <div style="clear: both;"></div>
        <div class="form-group" data-dnt-form-group="phone">
          <label> {% trans "Mobiltelefon" %} {% if enrollment.users.count == 0 %}<span class="asterisk red">*</span>{% endif %}</label>
          <input type="text" class="form-control" name="phone" value="{{ current_user.phone }}">
        </div>
        <div class="form-group" data-dnt-form-group="email">
          <label> {% trans "E-post" %} {% if enrollment.users.count == 0 %}<span class="asterisk red">*</span>{% endif %}</label>
          <input type="text" class="form-control" name="email" value="{{ current_user.email }}">
        </div>
        <button type="submit" class="btn btn-default btn-lg"><i class="glyphicon glyphicon-user"></i> {% if current_user %}{% trans "Lagre endringer" %}{% else %}{% trans "Legg til medlem" %}{% endif %}</button><br>
      </form>
    </div>

    <div class="col-md-4">
      {% include 'central/membership/infobox.html' %}
    </div>
  </div>

  {# Conditions modal #}
  <div class="modal conditions jq-hide">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">X</button>
      <h1>{% trans "Betingelser for medlemskap i Den Norske Turistforening" %}</h1>
    </div>
    <div class="modal-body">
    <ul>
      <li>
        {% blocktrans with month=membership_year_start.public_date.date|date:"F" %}
          Medlemskap i Den Norske Turistforening (DNT) følger kalenderåret og gjelder fra 1. januar til 31. desember. Etter 1. {{ month }} kan man kjøpe medlemskap for påfølgende år.
        {% endblocktrans %}
      </li>
      <li>{% trans "Medlemskapet er personlig." %}</li>
      <li>{% trans "Det er ingen angrerett på betalt medlemskap." %}</li>
      <li>{% blocktrans %}Medlemstypene er aldersbegrenset, men uføretrygdede (minst 50%) gis rett til honnørmedlemskap.{% endblocktrans %}</li>
      <li>{% trans "Medlemskapet er ikke gyldig før det er betalt og medlemskortet er kun gyldig med stempel eller oblat fra bank/post." %}</li>
      <li>{% trans "DNT forplikter seg til ikke å videreformidle personlige opplysninger til andre enn våre egne medlemsforeninger, samt enkelte samarbeidspartnere i forbindelse med tilbud på utvalgte medlemsfordeler. Det er mulig å reservere seg mot dette på Min side." %}</li>
    </ul>

    <p>
      {% trans "Sist endret: 9. november 2012." %}<br>
      {% trans "Med forbehold om endringer i løpet av medlemsåret." %}
    </p>

    </div>
    <div class="modal-footer">
      <a href="javascript:undefined" class="btn btn-default" data-dismiss="modal">{% trans "Lukk vindu" %}</a>
    </div>
  </div>
</div>

{% endblock %}
