{% extends 'common/admin/layout.html' %}
{% block title %}Innstillinger — {{ block.super }}{% endblock %}

{% block admin_menu %}{% with 'sites' as active_entry %}{{ block.super }}{% endwith %}{% endblock %}

{% block body %}

<div class="row">
  <div class="col-lg-12">
    <h1>Innstillinger <small>endre oppsettet for {{ active_site.get_title }}</small></h1>
    <ol class="breadcrumb">
      <li class="active"><i class="fa fa-dashboard"></i> <a href="{% url 'admin.views.index' %}">Sherpa</a></li>
      <li><a href="{% url 'admin.sites.views.index' %}">Nettsteder</a></li>
      <li><a href="{% url 'admin.sites.views.show' active_site.id %}">{{ active_site.get_title }}</a></li>
      <li><a href="{% url 'admin.sites.settings.views.index' active_site.id %}">Innstillinger</a></li>
    </ol>
  </div>
</div><!-- /.row -->

<div class="site-settings">
  <div class="row">
    <div class="col-lg-2">
      <a class="navigation-block" href="{% url 'admin.sites.settings.analytics.views.index' active_site.id %}">

        <div class="content-wrapper">
          <div class="row">
            <div class="col-xs-4">
              <div class="icon">
                <i class="fa fa-bar-chart-o fa-5x"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="navigation-block-title">Analyse</div>

      </a>
    </div>
    <div class="col-lg-2">
      <a class="navigation-block" href="{% url 'admin.sites.settings.cache.views.index' active_site.id %}">

        <div class="content-wrapper">
          <div class="row">
            <div class="col-xs-4">
              <div class="icon">
                <i class="fa fa-bolt fa-5x"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="navigation-block-title">Caching</div>

      </a>
    </div>
  </div>

  <form
    class="form-horizontal settings"
    action="{% url 'admin.sites.settings.views.save' active_site.id %}"
    method="post">
    {% csrf_token %}

    {% for message in messages %}
      {% if message.message == 'settings_saved' %}
        <div class="alert alert-success">
          Nettstededsinnstillingene har blitt lagret.
        </div>
      {% elif message.message == 'malformed' %}
        <div class="alert alert-danger">
          Du må fylle inn et gyldig domenenavn. Hør med DNT sentralt dersom du er usikker på hva dette bør være.
        </div>
      {% elif message.message == 'more_than_one_subdir' %}
        <div class="alert alert-danger">
          Du kan ikke ha to undermapper i domenenavnet. Hør med DNT sentralt dersom du er usikker på hva domenenavnet deres er.
        </div>
      {% elif message.message == 'prefix_for_disallowed_domain' %}
        <div class="alert alert-danger">
          Kun domener direkte under <strong>{{ main_site.domain }}</strong> kan ha undermapper. Hør med DNT sentralt dersom du er usikker på hva domenenavnet deres er.
        </div>
      {% elif message.message == 'site_exists' %}
        <div class="alert alert-danger">
          <strong>{{ message_context.existing_forening.name }}</strong> har allerede domenenavnet <strong>http://{{ message_context.existing_forening.get_homepage_site.domain }}/</strong>. Hør med DNT sentralt dersom du er usikker på hva domenenavnet deres er.
        </div>
      {% elif message.message == 'prefix_not_supported_yet' %}
        <div class="alert alert-danger">
          Domenet kan ikke være en undermappe under turistforeningen.no (for eksempel: <strong>{{ main_site.domain }}/mitt-turlag</strong>) fordi vi ikke har satt opp teknisk støtte for det ennå.
        </div>
      {% elif message.message == 'test_period_requires_test_domain' %}
        <div class="alert alert-danger">
          I test-perioden <strong>må</strong> dere ha "<strong>.test.turistforeningen.no</strong>" bak domenet. For eksempel: <strong>http://stf.test.turistforeningen.no</strong>
        </div>
      {% endif %}
    {% endfor %}

    <div class="form-group">
      <label class="col-md-3 control-label">Domenenavn / adresse til nettstedet</label>
      <div class="col-md-4">
        <input class="form-control input-lg" type="text" name="domain" value="http://{{ active_site.domain }}">
        <p class="help-block">
          Hvis du endrer denne adressen vil den gamle adressen <strong>slutte å fungere</strong>.
        </p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3 control-label">Publisering</label>
      <div class="col-md-4">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="published"{% if active_site.is_published %} checked{% endif %}>
            Publiser nettstedet
          </label>
        </div>
        <p class="help-block">
          {% if not active_site.is_published %}
            Nettstedet er ikke publisert. Dere bør ikke publisere nettstedet før dere har bygd opp nettsidene og byttet til riktig domene.
          {% else %}
            Nettstedet er publisert. Du bør ikke avpublisere nettstedet med mindre noe er alvorlig galt.
          {% endif %}
        </p>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-3 col-md-9">
        <button class="btn btn-success">
          Lagre nettstedsinnstillinger
        </button>
      </div>
    </div>
  </form>

</div>

{% endblock %}
