{% extends 'common/admin/layout.html' %}
{% block title %}Innstillinger — {{ block.super }}{% endblock %}

{% block admin_menu %}{% with 'sites' as active_entry %}{{ block.super }}{% endwith %}{% endblock %}

{% block body %}

<div class="row">
  <div class="col-lg-12">
    <h1>Innstillinger <small>endre oppsettet for {{ active_site.domain }}</small></h1>
    <ol class="breadcrumb">
      <li class="active"><i class="fa fa-dashboard"></i> <a href="{% url 'admin.views.index' %}">Sherpa</a></li>
      <li><a href="{% url 'admin.sites.views.index' %}">Nettsteder</a></li>
      <li><a href="{% url 'admin.sites.views.show' active_site.id %}">{{ active_site.get_title }}</a></li>
      <li><a href="{% url 'admin.sites.settings.views.index' active_site.id %}">Innstillinger</a></li>
    </ol>
  </div>
</div><!-- /.row -->

<div class="site-settings">
  <div class="row">
    <div class="col-lg-2">
      <a class="navigation-block" href="{% url 'admin.sites.settings.domain.views.index' active_site.id %}">
        <p><i class="fa fa-link fa-5x"></i></p>
        <p>Domene</p>
      </a>
    </div>
    <div class="col-lg-2">
      <a class="navigation-block" href="{% url 'admin.sites.settings.analytics.views.index' active_site.id %}">
        <p><i class="fa fa-bar-chart-o fa-5x"></i></p>
        <p>Analyse</p>
      </a>
    </div>
    <div class="col-lg-2">
      <a class="navigation-block" href="{% url 'admin.sites.settings.cache.views.index' active_site.id %}">
        <p><i class="fa fa-bolt fa-5x"></i></p>
        <p>Caching</p>
      </a>
    </div>
    <div class="col-lg-2">
      <a class="navigation-block" href="{% url 'admin.sites.settings.publish.views.index' active_site.id %}">
        <p><i class="fa fa-eye fa-5x"></i></p>
        <p>Publisering</p>
      </a>
    </div>
  </div>
</div>

{% endblock %}
