{% extends 'common/admin/layout.html' %}
{% block title %}Turlederregister &mdash; {{ block.super }}{% endblock %}
{% block header %}<a href="{% url 'admin.turledere.views.index' %}">Turlederregister</a>{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/admin/turledere/edit.js"></script>
{% endblock %}

{% load get_turleder_role %}

{% block body %}

<div class="turlederregister turlederregister-edit">
  <div class="row">
    <div class="span12">

      <h2>{{ turleder.get_full_name }}, {% if turleder.is_member %}medlemsnr. {{ turleder.memberid }}{% else %}ikke medlem{% endif %}</h2>

      {% for message in messages %}
        {% if message.message == 'success' %}
          <div class="alert alert-success">
            <strong>Endringene har blitt lagret.</strong><br>
            <a href="{% url 'admin.turledere.views.index' %}">Tilbake til turlederregisteret</a>
          </div>
        {% endif %}
      {% endfor %}

      <form action="{% url 'admin.turledere.views.edit_active_associations' turleder.id %}" method="post" class="active-associations">
        {% csrf_token %}
        <input type="hidden" name="active_association_ids" value="">
        <input type="hidden" name="active_associations_all" value="">

        <h3>Aktiv i følgende foreninger:</h3>
        <p>
          <select name="active_associations" data-chosen data-placeholder="Velg foreninger som denne turlederen er aktiv i..." multiple>
            <option value=""></option>
            <optgroup label="Medlemsforeninger">
              {% for association in all_associations.associations %}
                <option value="{{ association.id }}"{% if association in turleder.turleder_active_associations.all and turleder.turleder_active_associations.count != all_associations.associations|length %} selected{% endif %}>{{ association.name }}</option>
              {% endfor %}
            </optgroup>
          </select>
          <label class="checkbox">
            <input type="checkbox" name="active_associations_all_checkbox"{% if turleder.turleder_active_associations.count == all_associations.associations|length %} checked{% endif %}>
            Aktiv i <strong>alle</strong> foreninger
          </label>
          <button type="submit" class="btn"><i class="icon-ok"></i> Lagre aktive foreninger</button>
        </p>
      </form>

      <div class="role">

        <h3 class="{% if turleder.kursleder %}has-role{% endif %}">
          Kursleder
          {% if turleder.kursleder.is_expired %}
            <span class="expired">(utgått)</span>
          {% endif %}
        </h3>

        {% if not turleder.kursleder %}

          <p class="status-empty">
            Ikke registrert sertifikat.<br>
            {% if user.can_modify_kursleder_status %}
              <a href="javascript:undefined" class="create">Registrer</a>
            {% else %}
              <em>Kurslederstatus forvaltes av DNT sentralt.</em>
            {% endif %}
          </p>

        {% else %}

          <p class="status-exists">
            Godkjent av <strong>Den Norske Turistforening</strong>.<br>
            Fra <strong>{{ turleder.kursleder.date_start|date:"j. F Y"|default:"?" }}</strong> til <strong>{{ turleder.kursleder.date_end|date:"j. F Y"|default:"?" }}</strong>.<br>
            {% if user.can_modify_kursleder_status %}
              <a href="javascript:undefined" class="edit">Endre</a> eller <a href="{% url 'admin.turledere.views.remove_kursleder' turleder.kursleder.id %}" class="remove" data-certificate-name="kursleder">slett</a>
            {% else %}
              <em>Kurslederstatus forvaltes av DNT sentralt.</em>
            {% endif %}
          </p>

        {% endif %}

        {% if user.can_modify_kursleder_status %}
          <form action="{% url 'admin.turledere.views.edit_kursleder_certificate' turleder.id %}" method="post" class="form-default form-horizontal edit-certificate hide">
            {% csrf_token %}
            <input type="hidden" name="kursleder" value="{{ turleder.kursleder.id }}">
            <input type="hidden" name="role" value="kursleder">

            <div class="control-group">
              <label class="control-label">Ble godkjent:</label>
              <div class="controls">
                <div class="input-append date">
                  <input type="text" class="input-medium" name="date_start" value="{% if turleder.kursleder %}{{ turleder.kursleder.date_start|date:"d.m.Y" }}{% else %}{{ today|date:"d.m.Y" }}{% endif %}">
                  <span class="add-on"><i class="icon-th"></i></span>
                </div>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">Løper ut:</label>
              <div class="controls">
                <div class="input-append date">
                  <input type="text" class="input-medium" name="date_end" value="{% if turleder.kursleder %}{{ turleder.kursleder.date_end|date:"d.m.Y" }}{% else %}{{ five_years_from_now|date:"d.m.Y" }}{% endif %}">
                  <span class="add-on"><i class="icon-th"></i></span>
                </div>
              </div>
            </div>

            <div class="control-group">
              <div class="controls">
                <button type="submit" class="btn"><i class="icon-ok"></i> Lagre sertifikat</button>
              </div>
            </div>

          </form>
        {% endif %}

      </div>

      {% for role in turleder_roles %}

        <div class="role">

          {% with turleder_role=turleder|get_turleder_role:role.0 %}

            <h3 class="{% if turleder_role %}has-role{% endif %}">
              {{ role.1 }}
              {% if turleder_role.is_expired %}
                <span class="expired">(utgått)</span>
              {% endif %}
            </h3>

            {% if not turleder_role %}

              <p class="status-empty">
                Ikke registrert sertifikat.<br>
                <a href="javascript:undefined" class="create">Registrer</a>
              </p>

            {% else %}

              <p class="status-exists">
                Godkjent av <strong>{{ turleder_role.association_approved.name }}</strong>.<br>
                {% if turleder_role.role != 'ambassadør' %}
                  Fra <strong>{{ turleder_role.date_start|date:"j. F Y"|default:"?" }}</strong> til <strong>{{ turleder_role.date_end|date:"j. F Y"|default:"?" }}</strong>.
                {% else %}
                  Fra <strong>{{ turleder_role.date_start|date:"j. F Y"|default:"?" }}</strong>.
                {% endif %}
                  <br>
                <a href="javascript:undefined" class="edit">Endre</a> eller <a href="{% url 'admin.turledere.views.remove_turleder' turleder_role.id %}" class="remove" data-certificate-name="{{ role.0 }}">slett</a>
              </p>

            {% endif %}

            <form action="{% url 'admin.turledere.views.edit_turleder_certificate' turleder.id %}" method="post" class="form-default form-horizontal edit-certificate hide">
              {% csrf_token %}
              <input type="hidden" name="turleder" value="{{ turleder_role.id }}">
              <input type="hidden" name="role" value="{{ role.0 }}">

              <div class="control-group">
                <label class="control-label">Godkjent av:</label>
                <div class="controls">
                  <select name="association_approved" data-chosen data-placeholder="Velg foreningen som godkjente turledersertifikatet...">
                    <option value=""></option>
                    <optgroup label="Sentralt/nasjonalt">
                      {% for association in all_associations.central %}
                        <option value="{{ association.id }}"{% if turleder_role.association_approved == association %} selected{% endif %}>{{ association.name }}</option>
                      {% endfor %}
                    </optgroup>
                    <optgroup label="Medlemsforeninger">
                      {% for association in all_associations.associations %}
                        <option value="{{ association.id }}"{% if turleder_role.association_approved == association %} selected{% endif %}>{{ association.name }}</option>
                      {% endfor %}
                    </optgroup>
                  </select>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label">Ble godkjent:</label>
                <div class="controls">
                  <div class="input-append date">
                    <input type="text" class="input-medium" name="date_start" value="{% if turleder_role %}{{ turleder_role.date_start|date:"d.m.Y" }}{% else %}{{ today|date:"d.m.Y" }}{% endif %}">
                    <span class="add-on"><i class="icon-th"></i></span>
                  </div>
                </div>
              </div>

              {% if turleder_role.role != 'ambassadør' %}
                <div class="control-group">
                  <label class="control-label">Løper ut:</label>
                  <div class="controls">
                    <div class="input-append date">
                      <input type="text" class="input-medium" name="date_end" value="{% if turleder_role %}{{ turleder_role.date_end|date:"d.m.Y" }}{% else %}{{ five_years_from_now|date:"d.m.Y" }}{% endif %}">
                      <span class="add-on"><i class="icon-th"></i></span>
                    </div>
                  </div>
                </div>
              {% endif %}

              <div class="control-group">
                <div class="controls">
                  <button type="submit" class="btn"><i class="icon-ok"></i> Lagre sertifikat</button>
                </div>
              </div>

            </form>

          {% endwith %}

        </div>

      {% endfor %}

    </div>
  </div>
</div>

{% endblock %}
