{% extends 'common/admin/layout.html' %}
{% block title %}Turlederregister &mdash; {{ block.super }}{% endblock %}
{% block header %}<a href="{% url 'admin.turledere.views.index' %}">Turlederregister</a>{% endblock %}

{% block body %}

<div class="turlederregister">
  <div class="row">
    <div class="span12">
      <table class="table turledere">
        <tr>
          <th>Medlem</th>
          <th>Turlederroller</th>
          <th>Godkjent av</th>
          <th>Startdato</th>
          <th>Sluttdato</th>
        </tr>
        {% for profile in turledere %}
          {% for turleder in profile.turleder.all %}
            <tr{% if not forloop.first %} class="hide-border"{% endif %}>
              <td>
                {% if forloop.first %}
                  <a href="{% url 'admin.turledere.views.edit' profile.id %}">{{ profile.get_full_name }}</a>
                {% endif %}
              </td>
              <td>
                {{ turleder.get_role }}
              </td>
              <td>
                {{ turleder.association.name }}
              </td>
              <td>
                {{ turleder.date_start|date:"d.m.Y" }}
              </td>
              <td{% if turleder.is_expired %} class="expired"{% endif %}>
                {{ turleder.date_end|date:"d.m.Y" }}
              </td>
            </tr>
          {% endfor %}
        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock %}
