{% extends 'common/admin/layout.html' %}

{% block title %}Turlederregister — {{ block.super }}{% endblock %}

{% block admin_menu %}{% with 'turledere' as active_entry %}{{ block.super }}{% endwith %}{% endblock %}

{% block js_globals %}
  <script>
    Turistforeningen.admin_user_search_char_length = {{ admin_user_search_char_length }};
  </script>
{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/admin/turledere/index.js"></script>
{% endblock %}

{% block body %}

<div class="row">
  <div class="col-lg-12">
    <h1>Turlederregister <small>finn turledere i din forening</small></h1>
    <ol class="breadcrumb">
      <li class="active"><i class="fa fa-dashboard"></i> <a href="{% url 'admin.views.index' %}">Sherpa</a></li>
      <li><a href="{% url 'admin.turledere.views.index' %}">Turledere</a></li>
    </ol>
  </div>
</div><!-- /.row -->

<div class="turlederregister">
  <div class="row">
    <div class="col-md-12">

      <ul class="nav nav-tabs">
        <li class="active"><a href="#search" data-toggle="tab">Søk etter turledere</a></li>
        <li><a href="#create" data-toggle="tab">Legg inn nye turledere</a></li>
      </ul>

      <div class="tab-content tab-content-visible">
        <div class="tab-pane active" id="search">

          <p class="intro-text">
            Søk etter godkjente DNT-ambassadører og -turledere som er utdannet gjennom DNTs turlederutdanning. Du kan endre status og hvilken forening turlederen er aktiv i. Du kan <a href="javascript:undefined" class="toggle-create">legge inn nye turledere her</a>.
          </p>

          <div class="form-border form-default form-horizontal search-area">
            {% csrf_token %}

            <div class="form-group">
              <label class="col-sm-2 control-label">Navn/medlemsnummer</label>
              <div class="col-sm-10">
                <input type="text" name="turleder" class="form-control" placeholder="Søk etter turledere (navn eller medlemsnummer)...">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Turledere som er aktive i en av</label>
              <div class="col-sm-10">
                <select name="forening_active" data-chosen multiple data-placeholder="følgende forening(er)...">
                  <option value=""></option>
                  <optgroup label="Medlemsforeninger">
                    {% for forening in user.all_foreninger_sorted.forening %}
                      <option value="{{ forening.id }}">{{ forening.name }}</option>
                    {% endfor %}
                  </optgroup>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Turledere som har</label>
              <div class="col-sm-10">
                <select name="turleder_roles" class="chosen" data-placeholder="følgende sertifikat...">
                  <option value=""></option>
                  {% for role in turleder_roles %}
                    <option value="{{ role.0 }}">{{ role.1 }}</option>
                  {% endfor %}
                </select>

                <label class="checkbox include-all-certificates jq-hide" data-popover data-trigger="hover" data-placement="left" data-html="true" data-title="Inkluder sertifikat med høyere nivå" data-content="Hvis du har denne på og for eksempel søker etter grunnleggende turlederutdanning, får du også de som har sommerturleder- og vinterturledersertifikat.">
                  <input type="checkbox" name="include_all_certificates" checked>
                  Inkluder de som har sertifikat med høyere nivå
                </label>

                <label class="checkbox" data-popover data-trigger="hover" data-placement="left" data-html="true" data-title="Vis kun kursledere" data-content="Viser kun turledere som også er registrert som kursleder.">
                  <input type="checkbox" name="only_kursledere">
                  Vis kun kursledere
                </label>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Instruktører som er</label>
              <div class="col-sm-10">
                <select name="instruktor_roles" data-chosen data-placeholder="følgende instruktørtype(r)..." multiple>
                  <option value=""></option>
                  {% for role in instruktor_roles %}
                    <option value="{{ role.key }}">{{ role.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Ett av sertifikatene må være godkjent av</label>
              <div class="col-sm-10">
                <select name="forening_approved" class="chosen" data-placeholder="følgende forening...">
                  <option value=""></option>
                  <optgroup label="Sentralt/nasjonalt">
                    {% for forening in user.all_foreninger_sorted.sentral %}
                      <option value="{{ forening.id }}">{{ forening.name }}</option>
                    {% endfor %}
                  </optgroup>
                  <optgroup label="Medlemsforeninger">
                    {% for forening in user.all_foreninger_sorted.forening %}
                      <option value="{{ forening.id }}">{{ forening.name }}</option>
                    {% endfor %}
                  </optgroup>
                </select>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-10">
                <button class="btn btn-default search"><i class="fa fa-search"></i> Søk etter turledere med dette filteret...</button>
              </div>
            </div>
          </div>

          <table class="table turledere" data-infinite-scroll-url="{% url 'admin.turledere.views.turleder_search' %}">
            <tr>
              <th>Turleder</th>
              <th>Aktiv i</th>
            </tr>
            <tr class="short-query jq-hide">
              <td colspan="2">
                Du må bruke minst {{ admin_user_search_char_length }} tegn når du søker, ellers vil du få alt for mange treff.
              </td>
            </tr>
            <tr class="technical-error jq-hide">
              <td colspan="2">
                <div class="alert alert-danger">
                  Beklager, det oppstod en teknisk feil!<br>
                  Feilen har blitt logget og vi vil fikse den så snart som mulig.
                </div>
              </td>
            </tr>
          </table>

          <div class="infinite-scroll-loader jq-hide">
            <img src="{{ STATIC_URL }}img/ajax-loader-large.gif" alt="Laster, vennligst vent..."><br>
            Søker i turlederregisteret, vennligst vent...
          </div>

        </div>

        <div class="tab-pane" id="create">

          <div class="member-search">
            <p class="intro-text">
              Du kan kun registrere DNT-ambassadører eller -turledere som er utdannet gjennom DNTs turlederutdanning. Etter fullført og bestått kurs gis det godkjenning med en varighet på 5 år om gangen for sommer- og vinterturledere. Ambassadørkurset og grunnleggende turlederkurs gir en permanent godkjenning.
            </p>

            <p class="intro-text">
              Turledere som skal registreres må være medlem i DNT, men du kan også legge inn instruktører som ikke nødvendigvis er medlemmer. Disse må i så fall først registrere seg her: <a href="{% url 'user.login.views.register_nonmember' %}">http://{{ site.domain }}{% url 'user.login.views.register_nonmember' %}</a> før du kan søke dem opp nedenfor.
            </p>

            <p>
              <input type="text" name="member-search" placeholder="Søk etter brukere (navn eller medlemsnummer)..." class="form-control">
              <button class="btn btn-default member-search input-button-align"><i class="fa fa-search"></i></button>
            </p>

            <table class="table member-search-list jq-hide" data-search-url="{% url 'admin.turledere.views.member_search' %}">
              <tr>
                <th>Navn</th>
                <th>Medlemsnummer</th>
                <th>Turledersertifikater/instruktørroller</th>
              </tr>

              <tr class="no-hits jq-hide">
                <td colspan="4">Fant ingen medlemmer med dette navnet eller medlemsnummeret.</td>
              </tr>

              <tr class="short-query jq-hide">
                <td colspan="4">
                  Du må bruke minst {{ admin_user_search_char_length }} tegn når du søker, ellers vil du få alt for mange treff.
                </td>
              </tr>

              <tr class="technical-error jq-hide">
                <td colspan="4">Beklager, det oppstod en teknisk feil ved oppslag i databasen. Feilen har blitt logget og vi vil se på problemet så snart som mulig.</td>
              </tr>

              <tr class="loader jq-hide">
                <td colspan="4">
                  Vennligst vent mens vi søker.<br>
                  Medlemsdatabasen er stor, så dette kan ta noen sekunder.<br>
                  <img src="{{ STATIC_URL }}img/ajax-loader-large.gif" alt="Laster, vennligst vent...">
                </td>
              </tr>
            </table>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
