{% extends 'common/admin/layout.html' %}

{% block admin_menu %}{% with 'sites.sites.create' as active_entry %}{{ block.super }}{% endwith %}{% endblock %}

{% block js_globals %}
  <script>
    Turistforeningen.foreninger_with_homepage = JSON.parse("{{ foreninger_with_homepage|escapejs }}");
  </script>
{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/admin/sites/create.js"></script>
{% endblock %}

{% block body %}

<div class="setup-site">
  <div class="row">
    <div class="col-lg-12">

      <h1>Sett opp nytt nettsted <small>foreningens hjemmeside, en hyttes hjemmeside eller en kampanjeside</small></h1>
      <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i> <a href="{% url 'admin.views.index' %}">Sherpa</a></li>
        <li><a href="{% url 'admin.sites.views.index' %}">Nettsteder</a></li>
        <li><a href="{% url 'admin.sites.views.create' %}">Sett opp nytt nettsted</a></li>
      </ol>

      <form
        class="form-dnt-default form-horizontal"
        data-aktivitet-id="{{ aktivitet.id }}"
        action="{% url 'admin.sites.views.create' %}"
        method="post">
        {% csrf_token %}

        <div class="section">

          <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
              <h2>1. Hvilken forening skal nettstedet tilhøre?</h2>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-offset-2 col-md-3">
              <select class="form-control" name="site_forening" id="site_forening">
                {% for type in user.all_foreninger_sorted_with_type_data %}
                  {% if type.foreninger|length > 0 %}
                    <optgroup label="{{ type.name }}">
                      {% for forening in type.foreninger %}
                        <option
                          value="{{ forening.id }}"
                          data-dnt-type="{{ type.code }}"
                          {% if active_forening == forening %}
                            selected
                          {% endif %}>

                          {{ forening.name }}
                        </option>
                      {% endfor %}
                    </optgroup>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>

        </div><!-- /.section -->

        <div class="section">

          <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
              <h2>2. Hva slags nettsted vil du opprette?</h2>
            </div>
          </div>

          <div class="form-group type" data-dnt-form-group="type">
            <div class="col-md-offset-2 col-md-10">
              {% for type in available_site_types %}
                <div class="radio">
                  <label>
                    <input type="radio" name="type" value="{{ type.0 }}">
                    {{ type.1 }}

                    {% if type.0 == 'forening' %}
                      <span
                        class="has-homepage jq-hide"
                        data-dnt-container="has-homepage-info">

                        <span data-dnt-container="forening-name"></span>
                        har allerede en hjemmeside
                      </span>
                    {% elif type.0 == 'mal' %}
                      <span class="help-block display-inline">
                        (kun tilgjengelig for Sherpa-administratorer)
                      </span>
                    {% endif %}
                  </label>
                </div>
              {% endfor %}
            </div>
          </div>

          <div class="form-group title jq-hide">
            <label class="col-md-2 control-label" for="title">Tittel for nettstedet</label>
            <div class="col-md-10">
              <input type="text" class="form-control" name="title" id="title">
            </div>
          </div>

          <div class="form-group jq-hide" data-dnt-form-group="template">
            <label class="col-md-2 control-label">Innhold</label>
            <div class="col-md-6">
              <div class="checkbox">
                <label>
                  <input
                    type="checkbox"
                    name="use-template"
                    data-dnt-uncheck-warning="Er du sikker?\n\nVi anbefaler at du oppretter siden med eksempelinnholdet. Da er det mye lettere å se hvordan nettstedet kan bygges opp, og du slipper å måtte starte med blanke ark.\n\nHvis du er helt sikker på at du ikke vil starte med eksempelinnhold, velg OK eller Ja."
                    checked>
                  Opprett litt eksempelinnhold automatisk
                </label>
              </div>
              <span class="help-block" data-dnt-container="default-template">
                Innholdet hjelper deg å se hvordan nettstedet kan se ut og er enkelt å endre på. Vi velger automatisk innhold som passer til nettstedet for deg, eller så kan du <a href="javascript:undefined" data-dnt-trigger="choose-template">velge selv</a>.
              </span>
              <div class="jq-hide" data-dnt-container="choose-template">
                {% for site_template in site_templates %}
                  <div class="radio">
                    <label>
                      <input
                        data-dnt-template-type="{{ site_template.template_type }}"
                        type="radio"
                        name="template"
                        value="{{ site_template.id }}">

                      {{ site_template.get_title }}

                      {% if site_template.template_description %}
                        <span class="help-block">
                          {{ site_template.template_description|linebreaksbr }}
                        </span>
                      {% endif %}
                    </label>
                  </div>
                {% endfor %}
                {% comment %}
                  The following checkbox will be checked if we're automatically trying to select an expected template
                  which doesn't exist. This is a sherpa-admin error (we should always maintain a set of site templates
                  for each site type a user chooses here). We won't handle it very gracefully, just enough to make
                  sure there are no technical errors.
                  The missing-template-type input will be used to log which template that didn't exist.
                {% endcomment %}
                <input class="jq-hide" type="radio" name="template" value="">
                <input type="hidden" name="missing-template-type" value="">
              </div>
            </div>
          </div>

          {% if user.perms.sherpa_admin %}
            <div
              class="form-group{% if active_site.type != 'mal' %} jq-hide{% endif %}"
              data-dnt-form-group="template-type">

              <label class="col-md-2 control-label" for="template_type">Mal for hva slags nettsted</label>
              <div class="col-md-3">
                <select class="form-control" name="template_type" id="template_type">
                  {% for template_type in template_types %}
                    <option
                      value="{{ template_type.0 }}"
                      {% if active_site.template_type == template_type.0 %}
                        selected
                      {% endif %}>

                      {{ template_type.1 }}
                    </option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="form-group jq-hide" data-dnt-form-group="template-description">
              <label class="col-md-2 control-label" for="template_description">Beskrivelse for malen</label>
              <div class="col-md-5">
                <textarea
                  class="form-control"
                  name="template_description"
                  id="template_description"
                  rows="6"></textarea>
              </div>
            </div>
          {% endif %}

        </div><!-- /.section -->

        <div class="section">

          <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
              <h2>3. Velg et <strong>midlertidig</strong> domene for nettstedet</h2>

              {% for message in messages %}
                {% if message.message == 'malformed' %}
                  <div class="alert alert-danger">
                    Du må fylle inn et gyldig domenenavn. Hør med DNT sentralt dersom du er usikker på hva dette bør være.
                  </div>
                {% elif message.message == 'more_than_one_subdir' %}
                  <div class="alert alert-danger">
                    Du kan ikke ha to undermapper i domenenavnet. Hør med DNT sentralt dersom du er usikker på hva domenenavnet deres er.
                  </div>
                {% elif message.message == 'prefix_for_disallowed_domain' %}
                  <div class="alert alert-danger">
                    Kun domener direkte under <strong>{{ main_site.domain }}</strong> kan ha undermapper. Hør med DNT sentralt dersom du er usikker på hva domenenavnet deres er.
                  </div>
                {% elif message.message == 'site_exists' %}
                  <div class="alert alert-danger">
                    <strong>{{ existing_forening.name }}</strong> har allerede domenenavnet <strong>http://{{ existing_domain }}/</strong>. Hør med DNT sentralt dersom du er usikker på hva domenenavnet deres er.
                  </div>
                {% elif message.message == 'prefix_not_supported_yet' %}
                  <div class="alert alert-danger">
                    Domenet kan ikke være en undermappe under turistforeningen.no (for eksempel: <strong>{{ main_site.domain }}/mitt-turlag</strong>) fordi vi ikke har satt opp teknisk støtte for det ennå.
                  </div>
                {% elif message.message == 'test_period_requires_test_domain' %}
                  <div class="alert alert-danger">
                    I test-perioden <strong>må</strong> dere ha "<strong>.test.turistforeningen.no</strong>" bak domenet. For eksempel: <strong>http://stf.test.turistforeningen.no</strong>.
                  </div>
                {% elif message.message == 'main_site_exists' %}
                  <div class="alert alert-danger">
                    {{ active_forening }} har allerede en hjemmeside, du kan ikke sette opp en ny.
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>

          <div class="form-group domain">
            <div class="col-md-offset-2 col-md-10">

              {# Force subdomains for now. When we're ready, we can let the user choose between subdomain or a FQDN #}
              <input type="hidden" name="domain-type" value="subdomain">

              <p>
                Dette er et midlertidig domene for nettstedet, som kun skal benyttes i en testperiode mens du jobber med å sette det opp.
              </p>

              <p>
                Når dere er klare for å publisere nettstedet, tar dere kontakt med DNT Sentralt for å ta i bruk det faktiske domenet.
              </p>

              <!--
              <div class="radio">
                <label>
                  <input type="radio" name="domain-type" value="subdomain" checked>
                  Domene under turistforeningen.no (vil fungere automatisk). Eksempel: <strong>http://stavanger.test.turistforeningen.no</strong>
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="domain-type" value="fqdn">
                  Et eget domene (må settes opp selv). Eksempel: <strong>http://www.stavanger-turistforening.no</strong>
                </label>
              </div>
              -->

              <p class="domain-input">
                http:// <input type="text" class="form-control" name="domain" value="{{ domain }}" placeholder="forening"> <span class="subdomain-tail">.test.turistforeningen.no</span>
              </p>

            </div>
          </div>

          <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
              <button
                class="btn btn-success btn-lg"
                type="submit"
                data-choose-site-type-warning="Velg hva slags nettsted du vil opprette før du går videre. Du må klikke på en av knappene i punkt 1."
                data-enter-domain-warning="Velg hvilket domene du ønsker at nettstedet skal ha. Kontakt oss via den røde boksen til høyre på skjermen hvis du lurer på hva dette bør være.">

                Opprett nytt nettsted!
              </button>
            </div>
          </div>

        </div><!-- /.section -->

      </form>

    </div>
  </div><!-- /.row -->
</div><!-- /.setup-site -->

{% endblock %}
