{% extends 'common/admin/layout.html' %}

{% block title %}Hjemmesider — {{ block.super }}{% endblock %}

{% block admin_menu %}{% with 'sites' as active_entry %}{{ block.super }}{% endwith %}{% endblock %}

{% block body %}

<div class="row">
  <div class="col-lg-12">
    <h1>{{ active_site.domain }} <small>{{ active_site.get_title }}</small></h1>
    <ol class="breadcrumb">
      <li class="active"><i class="fa fa-dashboard"></i> <a href="{% url 'admin.views.index' %}">Sherpa</a></li>
      <li><a href="{% url 'admin.sites.views.index' active_site.id %}">Nettsteder</a></li>
      <li><a href="{% url 'admin.sites.views.index' active_site.id %}">{{ active_site.domain }}</a></li>
    </ol>
  </div>
</div><!-- /.row -->

<div class="site-admin">
  <div class="row">
    <div class="col-lg-2">
      <div class="navigation-block">
        <p><i class="fa fa-file fa-5x"></i></p>
        <a href="{% url 'admin.sites.pages.page.list' active_site.id %}">Sider</a>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="navigation-block">
        <p><i class="fa fa-bullhorn fa-5x"></i></p>
        <a href="{% url 'admin.sites.articles.views.list' active_site.id %}">Nyheter</a>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="navigation-block">
        <p><i class="fa fa-bars fa-5x"></i></p>
        Navigasjon<br>
        <a href="{% url 'admin.sites.menu.views.index' active_site.id %}">Toppmeny</a>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="navigation-block">
        <p><i class="fa fa-desktop fa-5x"></i></p>
        <a href="{% url 'admin.sites.ads.views.list' active_site.id %}">Annonser</a>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="navigation-block">
        <p><i class="fa fa-wrench fa-5x"></i></p>
        Innstillinger<br>
        <a href="{% url 'admin.sites.domain.views.index' active_site.id %}">Domene</a><br>
        <a href="{% url 'admin.sites.analytics.views.index' active_site.id %}">Analyse</a> <a href="{% url 'admin.sites.cache.views.index' active_site.id %}">Caching</a>
      </div>
    </div>
  </div>

  <p>
    <a href="{% url 'admin.views.setup_site' %}">Sett opp site</a>
  </p>

  {% with sites=active_forening.get_sites_sorted %}
    {% if sites.hytte|length > 0 or sites.kampanje|length > 0 %}

      <h2>Andre nettsteder under {{ active_forening.name }}</h2>

      <table class="table">
        <tr>
          <th>Type</th>
          <th>Nettsted</th>
          <th>Tittel</th>
        </tr>
        {% for site in active_forening.get_sites_sorted.forening %}
          {% if site != active_site %}
            <tr>
              <td>Hjemmeside</td>
              <td><a href="{% url 'admin.sites.views.index' site.id %}">{{ site.domain }}</a></td>
              <td>{{ site.get_title }}</td>
            </tr>
          {% endif %}
        {% endfor %}
        {% for site in active_forening.get_sites_sorted.hytte %}
          {% if site != active_site %}
            <tr>
              <td>Hytteside</td>
              <td><a href="{% url 'admin.sites.views.index' site.id %}">{{ site.domain }}</a></td>
              <td>{{ site.get_title }}</td>
            </tr>
          {% endif %}
        {% endfor %}
        {% for site in active_forening.get_sites_sorted.kampanje %}
          {% if site != active_site %}
            <tr>
              <td>Kampanjeside</td>
              <td><a href="{% url 'admin.sites.views.index' site.id %}">{{ site.domain }}</a></td>
              <td>{{ site.get_title }}</td>
            </tr>
          {% endif %}
        {% endfor %}
      </table>
    {% endif %}
  {% endwith %}

</div>

{% endblock %}
