{% extends 'common/admin/layout.html' %}

{% block title %}Hjemmesider — {{ block.super }}{% endblock %}

{% block admin_menu %}{% with 'sites' as active_entry %}{{ block.super }}{% endwith %}{% endblock %}

{% block body %}

<div class="row">
  <div class="col-lg-12">
    <h1>Hjemmesider <small>for {{ active_forening.name }}</small></h1>
    <ol class="breadcrumb">
      <li class="active"><i class="fa fa-dashboard"></i> <a href="{% url 'admin.views.index' %}">Sherpa</a></li>
      <li><a href="{% url 'admin.sites.views.index' %}">Våre hjemmesider</a></li>
    </ol>
  </div>
</div><!-- /.row -->

<div class="row">
  <div class="col-lg-12">
    <p>
      <a href="{% url 'admin.sites.pages.page.list' %}">Sider</a>
      <a href="{% url 'admin.sites.articles.views.list' %}">Nyheter</a>
      <a href="{% url 'admin.sites.ads.views.list' %}">Annonser</a>
    </p>
  </div>
</div>

{% endblock %}
