{% extends 'common/admin/layout.html' %}

{% load role_for %}

{% block title %}Hjemmesider — {{ block.super }}{% endblock %}

{% block admin_menu %}{% with 'sites' as active_entry %}{{ block.super }}{% endwith %}{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/admin/sites/index.js"></script>
{% endblock %}

{% block body %}

<div class="row">
  <div class="col-lg-12">
    <h1>{{ active_site.domain }} <small>{{ active_site.get_title }}</small></h1>
    <ol class="breadcrumb">
      <li class="active"><i class="fa fa-dashboard"></i> <a href="{% url 'admin.views.index' %}">Sherpa</a></li>
      <li><a href="{% url 'admin.sites.views.index' %}">Nettsteder</a></li>
      <li><a href="{% url 'admin.sites.views.show' active_site.id %}">{{ active_site.domain }}</a></li>
    </ol>
  </div>
</div><!-- /.row -->

<div class="site-admin">
  <div class="row">
    <div class="col-lg-2">
      <a class="navigation-block" href="{% url 'admin.sites.pages.page.list' active_site.id %}" data-toogle="tooltip" title="Opprett eller rediger nettsidene for dette nettstedet">
        <p><i class="fa fa-file fa-5x"></i></p>
        <p>Sider</p>
      </a>
    </div>
    <div class="col-lg-2">
      <a class="navigation-block" href="{% url 'admin.sites.articles.views.list' active_site.id %}" data-toogle="tooltip" title="Legg ut nyheter">
        <p><i class="fa fa-bullhorn fa-5x"></i></p>
        <p>Nyheter</p>
      </a>
    </div>
    <div class="col-lg-2">
      <a class="navigation-block" href="{% url 'admin.sites.navigation.views.index' active_site.id %}" data-toogle="tooltip" title="Endre lenkene i toppmenyen og hva slags innhold som skal vises i footeren på alle sidene">
        <p><i class="fa fa-bars fa-5x"></i></p>
        <p>Navigasjon</p>
      </a>
    </div>
    <div class="col-lg-2">
      <a class="navigation-block" href="{% url 'admin.sites.campaigns.views.index' active_site.id %}" data-toogle="tooltip" title="Legg ut kampanjer som kan inkluderes på nettsidene">
        <p><i class="fa fa-picture-o fa-5x"></i></p>
        <p>Kampanjer</p>
      </a>
    </div>
    <div class="col-lg-2">
      <a class="navigation-block" href="{% url 'admin.sites.ads.views.list' active_site.id %}" data-toogle="tooltip" title="Legg ut reklameannonser som vises på nettisdene">
        <p><i class="fa fa-desktop fa-5x"></i></p>
        <p>Annonser</p>
      </a>
    </div>
    <div class="col-lg-2">
      <a class="navigation-block" href="{% url 'admin.sites.settings.views.index' active_site.id %}" data-toogle="tooltip" title="Vis avanserte innstillinger for nettstedet som for eksempel domeneadresse, google analytics og annen statistikk, med mer">
        <p><i class="fa fa-wrench fa-5x"></i></p>
        <p>Innstillinger</p>
      </a>
    </div>
  </div>

</div>

{% endblock %}
