{% extends 'common/admin/layout.html' %}

{% load role_for %}

{% block title %}Hjemmesider — {{ block.super }}{% endblock %}

{% block admin_menu %}{% with 'sites' as active_entry %}{{ block.super }}{% endwith %}{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/admin/sites/index.js"></script>

  {% if ga_profile_id %}

    <script>
      (function(w,d,s,g,js,fjs){
        g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(cb){this.q.push(cb)}};
        js=d.createElement(s);fjs=d.getElementsByTagName(s)[0];
        js.src='https://apis.google.com/js/platform.js';
        fjs.parentNode.insertBefore(js,fjs);js.onload=function(){g.load('analytics')};
      }(window,document,'script'));

      gapi.analytics.ready(function() {

        var CLIENT_ID = '299030988045-03dengnm0jm7tk92c56qprbkvog84fb3.apps.googleusercontent.com';

        gapi.analytics.auth.authorize({
          container: 'auth-button',
          clientid: CLIENT_ID,
        });

        var viewSelector = new gapi.analytics.ViewSelector({
          container: 'view-selector'
        });

        var timeline = new gapi.analytics.googleCharts.DataChart({
          reportType: 'ga',
          query: {
            'ids': ['{{ ga_profile_id }}'],
            'dimensions': 'ga:date',
            'metrics': 'ga:sessions',
            'start-date': '30daysAgo',
            'end-date': 'yesterday',
          },
          chart: {
            type: 'LINE',
            container: 'timeline'
          }
        });

        gapi.analytics.auth.on('success', function(response) {
          timeline.execute();
        });

      });
    </script>

  {% endif %}
{% endblock %}

{% block body %}

<div class="row">
  <div class="col-lg-12">
    <h1>{{ active_site.get_title }} <small>{{ active_site.domain }}</small></h1>
    <ol class="breadcrumb">
      <li class="active"><i class="fa fa-dashboard"></i> <a href="{% url 'admin.views.index' %}">Sherpa</a></li>
      <li><a href="{% url 'admin.sites.views.index' %}">Nettsteder</a></li>
      <li><a href="{% url 'admin.sites.views.show' active_site.id %}">{{ active_site.get_title }}</a></li>
    </ol>
  </div>
</div><!-- /.row -->

<div class="site-admin">
  <div class="row">
    <div class="col-lg-2">
      <a class="navigation-block" href="{% url 'admin.sites.pages.page.list' active_site.id %}" data-toogle="tooltip" title="Opprett eller rediger websidene for dette nettstedet">

        <div class="content-wrapper">
          <div class="row">
            <div class="col-xs-4">
              <div class="icon">
                <i class="fa fa-file fa-5x"></i>
              </div>
            </div>
            <div class="col-xs-8">
              <div class="pull-right text-right">
                <p class="status">{{ active_site.get_page_count }}</p>
              </div>
            </div>
          </div>
          <p class="caption">publiserte sider</p>
        </div>
        <div class="navigation-block-title">Websider</div>

      </a>
    </div>

    <div class="col-lg-2">
      <a class="navigation-block" href="{% url 'admin.sites.articles.views.list' active_site.id %}" data-toogle="tooltip" title="Legg ut nyheter">

        <div class="content-wrapper">
          <div class="row">
            <div class="col-xs-4">
              <div class="icon">
                <i class="fa fa-bullhorn fa-5x"></i>
              </div>
            </div>
            <div class="col-xs-8">
              <div class="pull-right text-right">
                <p class="status">{{ active_site.get_news_count }}</p>
              </div>
            </div>
          </div>
          <p class="caption">publiserte nyheter</p>
        </div>
        <div class="navigation-block-title">Nyheter</div>

      </a>
    </div>

    <div class="col-lg-2">
      <a class="navigation-block" href="{% url 'admin.sites.navigation.views.index' active_site.id %}" data-toogle="tooltip" title="Endre lenkene i toppmenyen og hva slags innhold som skal vises i footeren på alle sidene">

        <div class="content-wrapper">
          <div class="row">
            <div class="col-xs-4">
              <i class="fa fa-bars fa-5x"></i>
            </div>
            <div class="col-xs-8">
              <div class="pull-right text-right">
                <p class="status">{{ active_site.get_menu_count }}</p>
              </div>
            </div>
          </div>
          <p class="caption">menyelementer</p>
        </div>
        <div class="navigation-block-title">Navigasjon</div>

      </a>
    </div>

    <div class="col-lg-2">
      <a class="navigation-block" href="{% url 'admin.sites.campaigns.views.index' active_site.id %}" data-toogle="tooltip" title="Legg ut kampanjer som kan inkluderes på nettsidene">

        <div class="content-wrapper">
          <div class="row">
            <div class="col-xs-4">
              <i class="fa fa-picture-o fa-5x"></i>
            </div>
            <div class="col-xs-8">
              <div class="pull-right text-right">
                <p class="status">{{ active_site.get_campaign_count }}</p>
              </div>
            </div>
          </div>
          <p class="caption">kampanjer</p>
        </div>
        <div class="navigation-block-title">Kampanjer</div>

      </a>
    </div>

    <div class="col-lg-2">
      <a class="navigation-block" href="{% url 'admin.sites.ads.views.list' active_site.id %}" data-toogle="tooltip" title="Legg ut reklameannonser som vises på nettisdene">

        <div class="content-wrapper">
          <div class="row">
            <div class="col-xs-4">
              <i class="fa fa-desktop fa-5x"></i>
            </div>
            <div class="col-xs-8">
              <div class="pull-right text-right">
                <p class="status">{{ active_site.get_ad_count }}</p>
              </div>
            </div>
          </div>
          <p class="caption">i rotasjon</p>
        </div>
        <div class="navigation-block-title">Annonser</div>

      </a>
    </div>

    <div class="col-lg-2">
      <a class="navigation-block" href="{% url 'admin.sites.settings.views.index' active_site.id %}" data-toogle="tooltip" title="Vis avanserte innstillinger for nettstedet som for eksempel domeneadresse, google analytics og annen statistikk, med mer">

        <div class="content-wrapper">
          <div class="row">
            <div class="col-xs-4">
              <i class="fa fa-wrench fa-5x"></i>
            </div>
          </div>
        </div>
        <div class="navigation-block-title">Innstillinger</div>

      </a>
    </div>
  </div>

  {% if ga_profile_id %}

    {# This is just a quick and dirty test to see how it looks if we fetch some GA data with the Embed API #}
    <hr>

    <h2>Besøksstatistikk</h2>

    <div class="row">
      <div class="col-md-6">
        <p>
          Her kan du se antall besøk på nettsiden de siste 30 dagene direkte i Sherpa hentet fra <a href="http://www.google.com/analytics">Google Analytics</a>.
        </p>

        <p>
          Brukernavn: <strong>{{ ga_account_username }}</strong><br>
          Passord: <strong>{{ ga_account_password }}</strong>
        </p>

        <div id="auth-button"></div>
      </div>
      <div class="col-md-6">
        <div id="timeline"></div>
      </div>
    </div>

  {% endif %}

</div>

{% endblock %}
