{% extends 'main/layout.html' %}

{% block body %}

<div class="fotokonkurranse-root">
  <div class="row">
    <div class="span12">

      <h1>KNIPS DEG TIL FLAX!</h1>
      <p class="lede">Grip stemningen i DNTs fotokonkurranse 2014</p>

      <p>
        Del dine naturopplevelser i 2013 med oss og send inn dine beste bilder til vår store fotokonkurranse, som arrangeres i samarbeid med DNTs turpartner Norsk Tipping . Finalistene er med i konkurransen om flotte premier - førstpremien er 10 000 kr og 100 Flax-lodd fra Norsk Tipping, andre-, og tredjepremie er ryggsekk og overnatting på våre hytter.
      </p>

      <p>
        <strong>Last opp dine fineste bilder med tema: «Turglede – høst» innen 30. november. Bruk opplastingsskjemaet nedenfor.</strong>
      </p>

      <p>
        Husk å ta med kamera når du er på tur. Lykke til!
      </p>

      <h3>Premier</h3>

      <p>
        <p>
          <strong>Turglede – vinter/vår (mars-mai)</strong><br>
          1. premie: 10 000 kr og 100 Flax-lodd fra <a href="https://www.norsk-tipping.no/">Norsk Tipping</a><br>
          2. premie: Tursekk og 8 overnattinger på DNT-hytte<br>
          3. premie: Dagstursekk og 4 overnattinger på DNT-hytte
        </p>

        <p>
          <strong>Turglede – sommer (juni-august)</strong><br>
          1. premie: 10 000 kr og 100 Flax-lodd fra <a href="https://www.norsk-tipping.no/">Norsk Tipping</a><br>
          2. premie: Tursekk og 8 overnattinger på DNT-hytte<br>
          3. premie: Dagstursekk og 4 overnattinger på DNT-hytte
        </p>

        <p>
          <strong>Turglede – høst (september-november)</strong><br>
          1. premie: 10 000 kr og 100 Flax-lodd fra <a href="https://www.norsk-tipping.no/">Norsk Tipping</a><br>
          2. premie: Tursekk og 8 overnattinger på DNT-hytte<br>
          3. premie: Dagstursekk og 4 overnattinger på DNT-hytte
        </p>

      </p>

      <h3>Regler</h3>

      <ul>
        <li>Det er til sammen 3 konkurranser: Det overordnede temaet i hver konkurranse er «Turglede» og vi kårer beste vinter-/vårbilde, beste sommerbilde og beste høstbilde.</li>
        <li>Frist for innsending av foto til første runde er 31. mai, andre runde er 31. august og den tredje runden avsluttes den 30. november</li>
        <li>Bilder som sendes inn etter innleveringsfrist blir ikke med i konkurransen</li>
        <li>Hver deltager kan sende inn <strong>maksimalt 3 bilder</strong> per konkurranse.</li>
        <li>Bildene må være i <strong>så stor oppløsning som mulig</strong> (minimum 1MB/800px) og i <strong>jpg-format</strong>.</li>
        <li>Bildene må være tatt i <strong>Norge</strong>.</li>
        <li>Du kan kun delta med <strong>bilder du selv har fotografert</strong>.</li>
        <li>Det er innsenders ansvar å sørge for å få <strong>tillatelse til offentliggjøring</strong> av eventuelt andre personer på bildet.</li>
        <li><strong>Navn på personer</strong> på bildet må være med hvis personene er identifiserbare.</li>
        <li><strong>Personopplysninger</strong> vil bli lagret i forbindelse med bilder som arkiveres i Den Norske Turistforeningens fotoarkiv.</li>
        <li>Ved bilder av barn må foreldre <strong>samtykke på barnets vegne inntil barnet er 15 år</strong>.</li>
        <li>DNT forbeholder seg retten til å <strong>offentliggjøre</strong> innsendte bilder samt <strong>bruke</strong> bildene i DNTs egne kommunikasjonskanaler (magasiner, nettsider, sosiale medier), i PR og for bruk av DNTs sponsorer.</li>
      </ul>

      <p>
        <strong>Juryen består av:</strong>
      </p>

      <ul>
        <li><strong>Nils Øveraas</strong>, generalsekretær i Den Norske Turistforening</li>
        <li><strong>Roger Brendhagen</strong>, fotograf</li>
        <li><strong>Sindre Thoresen Lønnes</strong>, fotoansvarlig i Den Norske Turistforening</li>
      </ul>

      <p>
        <a href="http://ut.no/artikkel/1.7654872">10 tips til bedre turbilder (UT.no)</a>
      </p>

    </div>
  </div>
</div>

{% endblock %}
