{% extends 'common/admin/layout.html' %}

{% block body %}

<div class="row">
  <div class="span12">

    {% if focus_downtime.is_currently_down %}
      <div class="alert alert-error">
        <strong>Focus er nede for midlertidig vedlikehold {{ focus_downtime.period_message }}.</strong><br>
        Sherpa er tilgjengelig, men vi er avhengige av Focus for mange av funksjonene her.<br>
        Derfor er det <strong>stor sannsynlighet for at du kan oppleve teknisk feil</strong> mens du bruker Sherpa.<br>
        Det er også derfor vi ikke kan vise navnet ditt oppe i høyre hjørne!
      </div>
    {% endif %}

    <nav class="dashboard">
      <ul>

        {% if active_association.site %}

          <li>
            <a href="{% url 'admin.cms.views.page.list' %}">
              <img class="icon" src="{{ STATIC_URL }}img/icons/sherpa-dashboard/webpages.jpg">
            </a>
            <h2><a href="{% url 'admin.cms.views.page.list' %}">Websider</a></h2>
            <p>
              Endre på hovedinnholdet på websidene.
            </p>
            <div style="clear: both;"></div>
          </li>

          <li>
            <a href="{% url 'admin.articles.views.list' %}">
              <img class="icon" src="{{ STATIC_URL }}img/icons/sherpa-dashboard/articles.jpg">
            </a>
            <h2><a href="{% url 'admin.articles.views.list' %}">Nyheter</a></h2>
            <p>Skriv og publiser artikler som vises under <a href="{% url 'articles.views.index' %}">/nyheter/</a></p>
            <div style="clear: both;"></div>
          </li>

          <li>
            <a href="{% url 'admin.aktiviteter.views.index' %}">
              <img class="icon" src="{{ STATIC_URL }}img/icons/sherpa-dashboard/activity.jpg">
            </a>
            <h2><a href="{% url 'admin.aktiviteter.views.index' %}">Aktiviteter (prototype!)</a></h2>
            <p>
              <strong>Dette er en prototype som ikke er i bruk.</strong> Vi sikter på å lansere det nye systemet høsten 2013, men <strong>i mellomtiden må du <a href="http://{{ old_site }}/admin/activity.php">bruke gamle Sherpa</a></strong> om du vil behandle aktiviteter som publiseres på nettsidene.
            </p>
            <p>
              Du kan imidlertid gjerne prøve ut det nye systemet, men vær obs på at aktiviteter som legges inn <strong>vil bli slettet</strong> før den offentlige lanseringen. Du kan besøke test-visningen av disse på <a href="http://{{ site.domain }}/aktiviteter-beta/">http://{{ site.domain }}/aktiviteter-beta/</a>.
            </p>
            <div style="clear: both;"></div>
          </li>

          <li>
            <a href="{% url 'admin.publications.views.index' %}">
              <img class="icon" src="{{ STATIC_URL }}img/icons/sherpa-dashboard/magazine.png">
            </a>
            <h2><a href="{% url 'admin.publications.views.index' %}">Publikasjoner</a></h2>
            <p>Legg ut blader, årbøker, brosjyrer eller liknende som blir tilgjengelige for medlemmer via Min side.</p>
            <div style="clear: both;"></div>
          </li>

          <li>
            <a href="{% url 'admin.ads.views.list' %}">
              <img class="icon" src="{{ STATIC_URL }}img/icons/sherpa-dashboard/ads.png">
            </a>
            <h2><a href="{% url 'admin.ads.views.list' %}">Annonser</a></h2>
            <p>Last opp og legg ut annonser. Hvilke sider annonsene vises på velges under "<a href="{% url 'admin.cms.views.page.list' %}">Websider</a>".</p>
            <div style="clear: both;"></div>
          </li>

        {% endif %}

        <li>
          <a href="{% url 'admin.images.views.index' %}">
            <img class="icon" src="{{ STATIC_URL }}img/icons/sherpa-dashboard/imagearchive.jpg">
          </a>
          <h2><a href="{% url 'admin.images.views.index' %}">Bildearkiv</a></h2>
          <p>Finn bilder eller last opp nye. Det gamle bildearkivet finner du foreløpig i <a href="https://{{ old_site }}/admin/">gamle sherpa</a>, mens vi jobber med å flytte dem hit.</p>
          <div style="clear: both;"></div>
        </li>

        {% if active_association.site %}
          <li>
            <a href="{% url 'admin.analytics.views.index' %}">
              <img class="icon" src="{{ STATIC_URL }}img/icons/sherpa-dashboard/statistics.jpg">
            </a>
            <h2><a href="{% url 'admin.analytics.views.index' %}">Analyse</a></h2>
            <p>Statistikk og analyse av bruksmønstre på siden. Foreløpig finner man kun søkestatistikk her, men vi ønsker å utvide funksjonaliteten etter hvert.</p>
            <div style="clear: both;"></div>
          </li>
        {% endif %}

        <li>
          <a href="{% url 'admin.users.views.index' %}">
            <img class="icon" src="{{ STATIC_URL }}img/icons/sherpa-dashboard/users.png">
          </a>
          <h2><a href="{% url 'admin.users.views.index' %}">Medlemmer og brukere</a></h2>
          <p>Søk etter og finn opplysninger om medlemmer eller Sherpa-brukere.</p>
          <div style="clear: both;"></div>
        </li>

        {% if active_association.site %}
          <li>
            <a href="{% url 'admin.cache.views.index' %}">
              <img class="icon" src="{{ STATIC_URL }}img/icons/sherpa-dashboard/cache.png">
            </a>
            <h2><a href="{% url 'admin.cache.views.index' %}">Caching</a></h2>
            <p>
              Vi benytter <a href="http://en.wikipedia.org/wiki/Cache_(computing)">caching</a> for å gjøre sidene våre raskere å laste. Her kan du slette cachede sider for å se endringer kjapt.
            </p>
            <div style="clear: both;"></div>
          </li>
        {% endif %}

        {% if active_association.id == 56 %}
          {# Applies only to DNT Central #}
          <li>
            <a href="{% url 'admin.enrollment.views.index' %}">
              <img class="icon" src="{{ STATIC_URL }}img/icons/sherpa-dashboard/enrollment.jpg">
            </a>
            <h2><a href="{% url 'admin.enrollment.views.index' %}">Innmelding</a></h2>
            <p>Her kan medlemsservice deaktivere kortinnbetaling, eller hele innmeldingsskjemaet, ved behov.</p>
            <div style="clear: both;"></div>
          </li>
        {% endif %}

        {% if user.perms.sherpa_admin %}
          <li>
            <a href="{% url 'admin.memberid_sms.views.list' %}">
              <img class="icon" src="{{ STATIC_URL }}img/icons/sherpa-dashboard/memberid-sms.png">
            </a>
            <h2><a href="{% url 'admin.memberid_sms.views.list' %}">Medlemsnummer SMS-tjeneste</a></h2>
            <p>Medlemmer kan få tilsendt sitt medlemsnummer på SMS, her logges bruk av tjenesten for overvåkning og avslørelse av eventuelt misbruk. Kun Sherpa-admins har tilgang til denne tjenesten.</p>
            <div style="clear: both;"></div>
          </li>
        {% endif %}
      </ul>

      <h2 style="margin-top: 40px;">Gamle Sherpa</h2>
      <p>
        Mens vi jobber med funksjonalitet i nye Sherpa, må du fremdeles logge på gamle Sherpa for enkelte ting. Her er noe av det du fremdeles finner i gamle Sherpa:
      </p>

      <ul>
        <li>
          <a href="http://www.turistforeningen.no/admin/cabin.php">
            <img class="icon" src="{{ STATIC_URL }}img/icons/sherpa-dashboard/cabin.jpg">
          </a>
          <h2><a href="http://www.turistforeningen.no/admin/cabin.php">Hytter</a></h2>
          <p>
            Forvaltning av hytteinfo, åpningstider etc.
          </p>
          <div style="clear: both;"></div>
        </li>

        <li>
          <a href="http://www.turistforeningen.no/admin/trip.php">
            <img class="icon" src="{{ STATIC_URL }}img/icons/sherpa-dashboard/trail.jpg">
          </a>
          <h2><a href="http://www.turistforeningen.no/admin/trip.php">Turer</a></h2>
          <p>
            Turforslag som publiseres på <a href="http://ut.no/">UT.no</a>
          </p>
          <div style="clear: both;"></div>
        </li>

        <li>
          <a href="http://www.turistforeningen.no/admin/conditions.php">
            <img class="icon" src="{{ STATIC_URL }}img/icons/sherpa-dashboard/weather.jpg">
          </a>
          <h2><a href="http://www.turistforeningen.no/admin/conditions.php">Føremeldinger</a></h2>
          <p>
            Føremeldinger forvaltes fremdeles i gamle Sherpa.
          </p>
          <div style="clear: both;"></div>
        </li>

        {# Don't link directly to the file manager, there's some security stuff in place in case you're not logged in to the old sherpa which will block you from the entire domain for a short period. #}
        <li>
          <a href="http://www.turistforeningen.no/admin/">
            <img class="icon" src="{{ STATIC_URL }}img/icons/sherpa-dashboard/folders.jpg">
          </a>
          <h2><a href="http://www.turistforeningen.no/admin/">Filer</a></h2>
          <p>
            Filarkivet skal flyttes over, men i mellomtiden finner man alt av filer i det gamle arkivet.
          </p>
          <div style="clear: both;"></div>
        </li>
      </ul>
    </nav>
  </div>
</div>

{% endblock %}
