{% extends 'common/admin/layout.html' %}

{% block admin_menu %}{% with 'dashboard' as active_entry %}{{ block.super }}{% endwith %}{% endblock %}

{% block body %}

<div class="row">
  <div class="col-lg-12">
    <h1>Sherpa <small>velkommen til nye Sherpa</small></h1>
    <ol class="breadcrumb">
      <li class="active"><i class="fa fa-dashboard"></i> <a href="{% url 'admin.views.index' %}">Sherpa</a></li>
    </ol>
  </div>
</div><!-- /.row -->

{% if focus_downtime.is_currently_down %}
  <div class="alert alert-danger">
    <strong>Focus er nede for midlertidig vedlikehold {{ focus_downtime.period_message }}.</strong><br>
    Sherpa er tilgjengelig, men vi er avhengige av Focus for mange av funksjonene her.<br>
    Derfor er det <strong>stor sannsynlighet for at du kan oppleve teknisk feil</strong> mens du bruker Sherpa.<br>
    Det er også derfor vi ikke kan vise navnet ditt oppe i høyre hjørne!
  </div>
{% endif %}

<div class="row">

  {% if active_forening.get_homepage_site %}
    <div class="col-lg-3">
      <div class="dashboard-panel green">
        <div class="content">
          <div class="row">
            <div class="col-xs-12 text-right">
              <span class="pull-left">
                <i class="fa fa-file fa-5x"></i>
              </span>
              <p class="announcement-heading">{{ dashboard_stats.pages }}</p>
              <p class="announcement-text">publiserte websider</p>
            </div>
          </div>
        </div>
        <a href="{% url 'admin.sites.pages.page.list' %}" class="action">
          <div class="row">
            <div class="col-xs-6">
              Publisér flere sider
            </div>
            <div class="col-xs-6 text-right">
              <i class="fa fa-arrow-circle-right"></i>
            </div>
          </div>
        </a>
      </div>
    </div>
  {% endif %}

  <div class="col-lg-3">
    <div class="dashboard-panel yellow">
      <div class="content">
        <div class="row">
          <div class="col-xs-12 text-right">
            <span class="pull-left">
              <i class="fa fa-globe fa-5x"></i>
            </span>
            <p class="announcement-heading">{{ dashboard_stats.aktiviteter }}</p>
            <p class="announcement-text">publiserte aktiviteter</p>
          </div>
        </div>
      </div>
      <a href="{% url 'admin.aktiviteter.views.index' %}" class="action">
        <div class="row">
          <div class="col-xs-6">
            Legg ut en ny aktivitet
          </div>
          <div class="col-xs-6 text-right">
            <i class="fa fa-arrow-circle-right"></i>
          </div>
        </div>
      </a>
    </div>
  </div>

<div class="col-lg-3">
  <div class="dashboard-panel blue">
    <div class="content">
      <div class="row">
        <div class="col-xs-12 text-right">
          <span class="pull-left">
            <i class="fa fa-user fa-inverse fa-5x"></i>
          </span>
          <p class="announcement-heading">
            {{ dashboard_stats.members.local }}
          </p>
          <p class="announcement-text">
            av totalt {{ dashboard_stats.members.total }} medlemmer
          </p>
        </div>
      </div>
    </div>
    <a href="{% url 'admin.users.views.index' %}" class="action">
      <div class="row">
        <div class="col-xs-6">
          Søk i medlemsregisteret
        </div>
        <div class="col-xs-6 text-right">
          <i class="fa fa-arrow-circle-right"></i>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="col-lg-3">
  <div class="dashboard-panel purple">
    <div class="content">
      <div class="row">
        <div class="col-xs-12 text-right">
          <span class="pull-left">
            <i class="fa fa-users fa-5x"></i>
          </span>
          <p class="announcement-heading">{{ dashboard_stats.turledere }}</p>
          <p class="announcement-text">turledere i turlederregisteret</p>
        </div>
      </div>
    </div>
    <a href="{% url 'admin.turledere.views.index' %}" class="action">
      <div class="row">
        <div class="col-xs-6">
          Gå til turlederregisteret
        </div>
        <div class="col-xs-6 text-right">
          <i class="fa fa-arrow-circle-right"></i>
        </div>
      </div>
    </a>
  </div>
</div>

</div><!-- /.row -->

{# Operator precedence is not supported in Django templates, use two if-tags #}
{% if not active_forening.get_homepage_site %}
  {% if active_forening.type == 'sentral' or active_forening.type == 'forening' %}
    <div class="row">
      <div class="col-md-12">

        <div class="panel panel-primary">
          <div class="panel-heading">
            <h2 class="panel-title">Sett opp {{ active_forening.name }}s hjemmeside</h2>
          </div>

          <div class="panel-body">
            <p>
              Deres forening har ingen hjemmeside i nye Sherpa. <a href="{% url 'admin.views.setup_site' %}">Sett opp en testside!</a>
          </div>
        </div>

      </div>
    </div>
  {% endif %}
{% endif %}


<div class="row">
  <div class="col-md-6">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">Savner du noe?</h2>
      </div>

      <div class="panel-body">
        <p>
          Mens vi jobber med funksjonaliteten i nye Sherpa, må du fremdeles logge på gamle Sherpa for enkelte ting, som for eksempel forvaltning av hytter og ruter, turer og aktiviteter, bildearkiv/filarkiv, føremeldinger og så videre. Medlemsforeningenes nettsteder forvaltes også i gamle Sherpa enn så lenge.
        </p>
        <p>
          Logg på gamle Sherpa på denne adressen: <a href="http://www2.turistforeningen.no/admin/">http://www2.turistforeningen.no/admin/</a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-6">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">DNT beta</h2>
      </div>
      <div class="panel-body">
        {% for entry in betablog %}
          <div class="media">
            {% if entry.image %}
              <a class="pull-left" href="#">
                <img class="media-object" src="{{ entry.image }}" alt="{{ entry.title }}">
              </a>
            {% endif %}
            <div class="media-body">
              <h3 class="media-heading">
                <a href="{{ entry.link }}">{{ entry.title }}</a>
                <small>{{ entry.pub_date|date:"d.m.Y" }}</small>
              </h3>
              {{ entry.content|truncatewords:50 }}
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="panel-footer">
        Les mer om hva vi jobber med på <a href="http://beta.turistforeningen.no/">DNT beta</a>!
      </div>
    </div>

  </div>
</div><!-- /.row -->

{% endblock %}
