{% extends 'common/admin/layout.html' %}

{% block admin_menu %}{% with 'dashboard' as active_entry %}{{ block.super }}{% endwith %}{% endblock %}

{% block body %}

<div class="row">
  <div class="col-lg-12">
    <h1>Sherpa <small><a href="{% url 'admin.views.intro' %}">velkommen til nye Sherpa</a></small></h1>
    <ol class="breadcrumb">
      <li class="active"><i class="fa fa-dashboard"></i> <a href="{% url 'admin.views.index' %}">Sherpa</a></li>
    </ol>
  </div>
</div><!-- /.row -->

{% if focus_downtime.is_currently_down %}
  <div class="alert alert-danger">
    <strong>Focus er nede for midlertidig vedlikehold {{ focus_downtime.period_message }}.</strong><br>
    Sherpa er tilgjengelig, men vi er avhengige av Focus for mange av funksjonene her.<br>
    Derfor er det <strong>stor sannsynlighet for at du kan oppleve teknisk feil</strong> mens du bruker Sherpa.<br>
    Det er også derfor vi ikke kan vise navnet ditt oppe i høyre hjørne!
  </div>
{% endif %}

<div class="row">
  <div class="col-lg-3">
    <div class="dashboard-panel blue">
      <div class="content">
        <div class="row">
          <div class="col-xs-6">
            <i class="fa fa-comments fa-inverse fa-5x"></i>
          </div>
          <div class="col-xs-6 text-right">
            <p class="announcement-heading">456</p>
            <p class="announcement-text">New Mentions!</p>
          </div>
        </div>
      </div>
      <a href="#">
        <div class="row">
          <div class="col-xs-6">
            View Mentions
          </div>
          <div class="col-xs-6 text-right">
            <i class="fa fa-arrow-circle-right"></i>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="dashboard-panel green">
      <div class="content">
        <div class="row">
          <div class="col-xs-6">
            <i class="fa fa-check fa-5x"></i>
          </div>
          <div class="col-xs-6 text-right">
            <p class="announcement-heading">12</p>
            <p class="announcement-text">To-Do Items</p>
          </div>
        </div>
      </div>
      <a href="#">
        <div class="row">
          <div class="col-xs-6">
            Complete Tasks
          </div>
          <div class="col-xs-6 text-right">
            <i class="fa fa-arrow-circle-right"></i>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="dashboard-panel purple">
      <div class="content">
        <div class="row">
          <div class="col-xs-6">
            <i class="fa fa-tasks fa-5x"></i>
          </div>
          <div class="col-xs-6 text-right">
            <p class="announcement-heading">18</p>
            <p class="announcement-text">Crawl Errors</p>
          </div>
        </div>
      </div>
      <a href="#">
        <div class="row">
          <div class="col-xs-6">
            Fix Issues
          </div>
          <div class="col-xs-6 text-right">
            <i class="fa fa-arrow-circle-right"></i>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="dashboard-panel yellow">
      <div class="content">
        <div class="row">
          <div class="col-xs-6">
            <i class="fa fa-comments fa-5x"></i>
          </div>
          <div class="col-xs-6 text-right">
            <p class="announcement-heading">56</p>
            <p class="announcement-text">New Orders!</p>
          </div>
        </div>
      </div>
      <a href="#">
        <div class="row">
          <div class="col-xs-6">
            Complete Orders
          </div>
          <div class="col-xs-6 text-right">
            <i class="fa fa-arrow-circle-right"></i>
          </div>
        </div>
      </a>
    </div>
  </div>
</div><!-- /.row -->

<div class="row">
  <div class="col-lg-12">
    <h2>Savner du noe?</h2>
    <p>
      Mens vi jobber med funksjonaliteten i nye Sherpa, må du fremdeles logge på gamle Sherpa for enkelte ting, som for eksempel forvaltning av hytter og ruter, turer og aktiviteter, bildearkiv/filarkiv, føremeldinger og så videre. Medlemsforeningenes nettsteder forvaltes også i gamle Sherpa enn så lenge.
    </p>
    <p>
      Logg på gamle Sherpa på denne adressen: <a href="http://www2.turistforeningen.no/admin/">http://www2.turistforeningen.no/admin/</a>
    </p>
  </div>
</div><!-- /.row -->

{% endblock %}
