{% load debug %}
{% load gravatar %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Sherpa{% endblock %} — Turistforeningen</title>

  {# Fonts #}
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300">

  {# Bootstrap core #}
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/bootstrap3/css/bootstrap.min.css" media="screen">

  {# Other 3rd party plugins #}
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/bootstrap-modal/css/bootstrap-modal-bs3patch.css" media="screen">
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/bootstrap-modal/css/bootstrap-modal.css" media="screen">
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/bootstrap-datepicker/css/datepicker3.css" media="screen">
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/sb-admin/css/sb-admin.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/chosen/chosen.css" media="screen">
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/font-awesome-4.1.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/outdatedBrowser/outdatedBrowser.min.css" media="screen">

  {# Our libs #}
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/imgareaselect/css/imgareaselect-default.css">

  {# Our styles #}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/admin.css" media="screen">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/print.css" media="print">
  {% block extra_css %}{% endblock %}
</head>

<body>

  <div id="wrapper">

    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="{% url 'admin.views.index' %}" class="navbar-brand">
          <img src="{{ STATIC_URL }}img/dnt_logo.png" alt="{{ active_forening.name }}">
          <span class="title">Sherpa</span>
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">

          {% block admin_menu %}

            {% if not active_forening %}

              {# If active forening isn't chosen, hide the main admin menu. Notice the empty href, which will work as a refresh #}
              <li class="active"><a href=""><i class="fa fa-bookmark-o"></i> Velg aktiv forening</a></li>

            {% else %}

              <li{% if active_entry == 'dashboard' %} class="active"{% endif %}><a href="{% url 'admin.views.index' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
              <li{% if active_entry == 'forening' %} class="active"{% endif %}><a href="{% url 'admin.forening.views.index' active_forening.id %}"><i class="fa fa-bookmark-o"></i> Foreninger og turgrupper</a></li>

              {% with sites=active_forening.get_sites_sorted %}
                {% if sites.hytte|length == 0 and sites.kampanje|length == 0 %}

                  {% if sites.forening|length == 0 %}

                    {# No sites - link to setup_site #}
                    <li{% if active_entry == 'sites' or active_entry == 'sites.setup_site'%} class="active"{% endif %}><a href="{% url 'admin.views.setup_site' %}"><i class="fa fa-file"></i> Hjemmeside</a></li>

                  {% else %}

                    {# Only homepage - let the link go directly there #}
                    <li{% if active_entry == 'sites' or active_entry == 'sites.setup_site'%} class="active"{% endif %}><a href="{% url 'admin.sites.views.index' sites.forening.0.id %}"><i class="fa fa-file"></i> Hjemmeside</a></li>

                  {% endif %}

                {% else %}

                  {# More than one site which is not homepage - use a dropdown #}
                  <li{% if active_entry == 'sites.setup_site' %} class="active"{% endif %}>
                    <a href="javascript:undefined" data-toggle="sites">
                      <i class="fa fa-file"></i> Nettsteder
                      <span class="pull-right">
                        <i class="fa fa-toggle-down"></i>
                      </span>
                    </a>
                  </li>

                  {% for site in sites.forening %}
                    <li class="submenu{% if active_entry == 'sites' %} visible{% endif %}{% if active_site == site %} active{% endif %}" data-type="sites">
                      <a href="{% url 'admin.sites.views.index' site.id %}">
                        {{ site.domain }}
                      </a>
                    </li>
                  {% endfor %}
                  {% for site in sites.hytte %}
                    <li class="submenu{% if active_entry == 'sites' %} visible{% endif %}{% if active_site == site %} active{% endif %}" data-type="sites">
                      <a href="{% url 'admin.sites.views.index' site.id %}">
                        {{ site.domain }}
                      </a>
                    </li>
                  {% endfor %}
                  {% for site in sites.kampanje %}
                    <li class="submenu{% if active_entry == 'sites' %} visible{% endif %}{% if active_site == site %} active{% endif %}" data-type="sites">
                      <a href="{% url 'admin.sites.views.index' site.id %}">
                        {{ site.domain }}
                      </a>
                    </li>
                  {% endfor %}

                {% endif %}
              {% endwith %}

              <li{% if active_entry == 'aktiviteter' %} class="active"{% endif %}><a href="{% url 'admin.aktiviteter.views.index' %}"><i class="fa fa-globe"></i> Aktiviteter (prototype)</a></li>
              <li{% if active_entry == 'publications' %} class="active"{% endif %}><a href="{% url 'admin.publications.views.index' %}"><i class="fa fa-font"></i> Publikasjoner</a></li>

              {# Explicitly hide images for non-sentral users for now #}
              {% if active_forening.id == 56 %}{# DNT Central #}
                <li{% if active_entry == 'images' %} class="active"{% endif %}><a href="{% url 'admin.images.views.index' %}"><i class="fa fa-picture-o"></i> Bildearkiv</a></li>
              {% endif %}

              <li{% if active_entry == 'users' %} class="active"{% endif %}><a href="{% url 'admin.users.views.index' %}"><i class="fa fa-user"></i> Medlemmer og brukere</a></li>
              <li{% if active_entry == 'turledere' %} class="active"{% endif %}><a href="{% url 'admin.turledere.views.index' %}"><i class="fa fa-users"></i> Turledere og instruktører</a></li>

              {# Applies only to DNT Central #}
              {% if active_forening.id == 56 %}
                <li{% if active_entry == 'enrollment' %} class="active"{% endif %}><a href="{% url 'admin.enrollment.views.index' %}"><i class="fa fa-pencil"></i> Innmelding</a></li>
              {% endif %}

              {% if user.perms.sherpa_admin %}
                <li{% if active_entry == 'memberid_sms' %} class="active"{% endif %}><a href="{% url 'admin.memberid_sms.views.list' %}"><i class="fa fa-phone"></i> SMS-tjenester</a></li>
              {% endif %}

            {% endif %}

          {% endblock %}
        </ul>

        <ul class="nav navbar-nav navbar-right navbar-user">
          <li class="dropdown alerts-dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell"></i> Beskjeder <span class="badge jq-hide">0</span> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="#">
                  Du har ingen beskjeder! Det er ikke så rart,<br>
                  siden det ikke finnes noe beskjedsystem i Sherpa<br>
                  ennå. Synes du vi bør ha et? Ta kontakt og si<br>
                  litt om hva du mener det kan brukes til!
                </a>
              </li>
            </ul>
          </li>
          <li class="dropdown user-dropdown">
            <a href="#" class="dropdown-toggle dropdown-with-gravatar" data-toggle="dropdown">
              {% if not focus_downtime.is_currently_down %}
                <img src="{% gravatar user.get_sherpa_email 35 %}">
                <span>
                  {{ user.get_full_name }} <b class="caret"></b>
                </span>
              {% else %}
                <img src="{% gravatar "" 35 %}">{# Yields an anonymous gravatar #}
                <span>
                  N.N. <b class="caret"></b>
                </span>
              {% endif %}
            </a>
            <ul class="dropdown-menu">
              {% if active_forening.get_homepage_site %}
                <li><a href="http://{{ active_forening.get_homepage_site.domain }}/"><i class="fa fa-home"></i> {{ active_forening.name }}</a></li>
              {% endif %}
              <li><a href="{% url 'user.views.home' %}"><i class="fa fa-user"></i> Min side</a></li>
              <li><a href="{% url 'user.views.account' %}"><i class="fa fa-pencil-square-o"></i> Dine opplysninger</a></li>
              <li><a href="{% url 'user.views.account_password' %}"><i class="fa fa-key"></i> Endre passord</a></li>
              <li class="divider"></li>
              <li><a href="{% url 'user.login.views.logout' %}"><i class="fa fa-power-off"></i> Logg ut</a></li>
            </ul>
          </li>

          {# Choose active forening. Those users who have 1 forening don't need to choose manually. #}
          {% if user.all_foreninger|length > 1 %}
            <li class="dropdown forening-dropdown">
              <select name="user_forening" data-placeholder="Velg aktiv forening...">
                <option value=""></option>
                {% if user.all_foreninger_sorted.sentral|length > 0 %}
                  <optgroup label="Sentralt/nasjonalt">
                    {% for forening in user.all_foreninger_sorted.sentral %}
                      <option value="{{ forening.id }}" data-href="/sherpa/aktiv-forening/{{ forening.id }}/"{% if active_forening == forening %} selected{% endif %}>{{ forening.name }}</option>
                    {% endfor %}
                  </optgroup>
                {% endif %}
                {% if user.all_foreninger_sorted.forening|length > 0 %}
                  <optgroup label="Medlemsforeninger">
                    {% for forening in user.all_foreninger_sorted.forening %}
                      <option value="{{ forening.id }}" data-href="/sherpa/aktiv-forening/{{ forening.id }}/"{% if active_forening == forening %} selected{% endif %}>{{ forening.name }}</option>
                    {% endfor %}
                  </optgroup>
                {% endif %}
                {% if user.all_foreninger_sorted.turlag|length > 0 %}
                  <optgroup label="Lokale turlag">
                  {% for forening in user.all_foreninger_sorted.turlag %}
                      <option value="{{ forening.id }}" data-href="/sherpa/aktiv-forening/{{ forening.id }}/"{% if active_forening == forening %} selected{% endif %}>{{ forening.name }}</option>
                    {% endfor %}
                  </optgroup>
                {% endif %}
                {% if user.all_foreninger_sorted.turgruppe|length > 0 %}
                  <optgroup label="Turgrupper">
                  {% for forening in user.all_foreninger_sorted.turgruppe %}
                      <option value="{{ forening.id }}" data-href="/sherpa/aktiv-forening/{{ forening.id }}/"{% if active_forening == forening %} selected{% endif %}>{{ forening.name }}</option>
                    {% endfor %}
                  </optgroup>
                {% endif %}
              </select>
            </li>
          {% endif %}
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">
      {% block body %}{% endblock %}
    </div><!-- /#page-wrapper -->

  </div><!-- /#wrapper -->

  {# Outdated browser warning #}
  <div id="outdated" class="outdated-browser">
    <h2>Nettleseren din er alt for gammel!</h2>
    <p class="highlight">
      <strong>Du må oppgradere nettleseren for å bruke Sherpa.</strong>
    </p>

    <p>
      Gjør deg selv en tjeneste og kontakt din IT-ansvarlig, eller oppgrader den selv hvis du har anledning.
      <a id="btnUpdateBrowser" href="http://outdatedbrowser.com/">Oppgrader nettleseren nå!</a>
    </p>
    <p class="last"><a href="#" id="btnCloseUpdateBrowser" title="Close">&times;</a></p>
  </div>

  {# "Global" csrf_token for AJAX-requests #}
  {% csrf_token %}

  {# Raven for client-side debugging - should always be first #}
  {% if not debug %}
    <script src="{{ STATIC_URL }}lib/raven-js/raven.min.js"></script>
    <script src="{{ STATIC_URL }}js/raven.js"></script>
    {% if user.is_authenticated %}
      <script>
        Raven.setUser({
            id: {{ user.id }}
        });
      </script>
    {% endif %}
  {% endif %}

  {# Rendered globals may be needed by other scripts #}
  {% block js_globals %}{% endblock %}

  {# Polyfill and fixups #}
  <!--[if lt IE 9]><script src="{{ STATIC_URL }}lib/html5shiv/html5.js"></script><![endif]-->
  <!--[if lt IE 8]><script src="{{ STATIC_URL }}lib/json/json2.js"></script><![endif]-->
  <script src="{{ STATIC_URL }}js/polyfill.js"></script>

  {# Core libraries (jquery and bootstrap) #}
  <script src="{{ STATIC_URL }}lib/jquery/jquery-1.10.2.min.js"></script>
  <script src="{{ STATIC_URL }}lib/bootstrap3/js/bootstrap.min.js"></script>

  {# 3rd party libs that depend on core #}
  <script src="{{ STATIC_URL }}lib/jquery-sortable/jquery-sortable-min.js"></script>
  <script src="{{ STATIC_URL }}lib/jquery-draggable/jquery.draggable.min.js"></script>
  <script src="{{ STATIC_URL }}lib/jquery/jQuery.ajaxQueue.min.js"></script>
  <script src="{{ STATIC_URL }}lib/jQuery.Hashtag/jQuery.Hashtag.js"></script>
  <script src="{{ STATIC_URL }}lib/bootstrap-modal/js/bootstrap-modalmanager.js"></script>
  <script src="{{ STATIC_URL }}lib/bootstrap-modal/js/bootstrap-modal.js"></script>
  <script src="{{ STATIC_URL }}lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
  <script src="{{ STATIC_URL }}lib/bootstrap-datepicker/js/locales/bootstrap-datepicker.nb.js"></script>
  <script>
    $.fn.datepicker.defaults.language = '{{ LANGUAGE_CODE }}';
  </script>

  {# Other 3rd party libs #}
  <script src="{{ STATIC_URL }}lib/typeahead/typeahead.min.js"></script>
  <script src="{{ STATIC_URL }}lib/chosen/chosen.jquery.min.js"></script>
  <script src="{{ STATIC_URL }}lib/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script>
    window.User = {
      email: '{{ user.get_sherpa_email }}',
      name: '{{ user.get_full_name }}',
      id: {{ user.id }},
    };
  </script>
  <script src="{{ STATIC_URL }}js/uservoice.js"></script>
  <script src="{{ STATIC_URL }}lib/outdatedBrowser/outdatedBrowser.min.js"></script>

  {# Our libs #}
  <script src="{{ STATIC_URL }}js/admin/sites/editor/image-utils.js"></script>
  <script src="{{ STATIC_URL }}lib/imagesloaded/jquery.imagesloaded.min.js"></script>
  <script src="{{ STATIC_URL }}lib/imgareaselect/js/jquery.imgareaselect.min.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/image-cropper.js"></script>{# Deprecated - to be removed #}
  <script src="{{ STATIC_URL }}js/image-cropping.js"></script>
  <script src="{{ STATIC_URL }}js/zipcode.js"></script>

  {# Our scripts #}
  <script src="{{ STATIC_URL }}js/admin/main.js"></script>
  <script src="{{ STATIC_URL }}js/common.js"></script>
  <script src="{{ STATIC_URL }}js/widgets.js"></script>
  <script src="{{ STATIC_URL }}js/infinite-scroller.js"></script>
  <script src="{{ STATIC_URL }}js/admin/tagger.js"></script>
  <script src="{{ STATIC_URL }}js/validator.js"></script>

  {% block extra_js %}{% endblock %}


</body>
</html>
