<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Sherpa{% endblock %} &mdash; Turistforeningen</title>
  <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">

  <link rel="stylesheet" href="{{ STATIC_URL }}lib/jquery-ui/jquery-ui-1.9.2.custom.min.css" media="screen">
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/bootstrap/css/bootstrap.min.css" media="screen">
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/bootstrap/css/bootstrap-responsive.min.css" media="screen">
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/bootstrap-modal/css/bootstrap-modal.css" media="screen">
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/bootstrap-datepicker/css/datepicker.css" media="screen">
  <!--[if lt IE 8]><link rel="stylesheet" href="{{ STATIC_URL }}lib/bootstrap-datepicker/css/datepicker-ie7fix.css" media="screen"><![endif]-->
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/chosen/chosen.css" media="screen">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/admin.css" media="screen">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/print.css" media="print">

  {# image cropping #}
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/imgareaselect/css/imgareaselect-default.css">

  {% block extra_css %}{% endblock %}

  {# Set rendered JS globals before anything else #}
  {% block js_globals %}{% endblock %}
  <!--[if lt IE 9]><script src="{{ STATIC_URL }}lib/html5shiv/html5.js"></script><![endif]-->
  <script src="{{ STATIC_URL }}lib/jquery/jquery-1.9.1.min.js"></script>
  <script src="{{ STATIC_URL }}lib/jquery-ui/jquery-ui-1.9.2.custom.min.js"></script>
  <script src="{{ STATIC_URL }}lib/jquery/jQuery.ajaxQueue.min.js"></script>
  <script src="{{ STATIC_URL }}lib/jQuery.Hashtag/jQuery.Hashtag.js"></script>
  <script src="{{ STATIC_URL }}lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="{{ STATIC_URL }}lib/bootstrap-modal/js/bootstrap-modalmanager.js"></script>
  <script src="{{ STATIC_URL }}lib/bootstrap-modal/js/bootstrap-modal.js"></script>
  <script src="{{ STATIC_URL }}lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
  <script src="{{ STATIC_URL }}lib/bootstrap-datepicker/js/locales/bootstrap-datepicker.nb.js"></script>
  <script src="{{ STATIC_URL }}lib/chosen/chosen.jquery.min.js"></script>
  <script src="{{ STATIC_URL }}js/admin/editor/image-utils.js"></script>

  {# image cropping #}
  <script src="{{ STATIC_URL }}lib/imagesloaded/jquery.imagesloaded.min.js"></script>
  <script src="{{ STATIC_URL }}lib/imgareaselect/js/jquery.imgareaselect.min.js"></script>
  <script src="{{ STATIC_URL }}js/admin/editor/image-cropper.js"></script>

  <!--[if lte IE 9]><script src="{{ STATIC_URL }}js/ie/placeholder.js"></script><![endif]-->
  <!--[if lt IE 9]><script src="{{ STATIC_URL }}js/ie/trim.js"></script><![endif]-->
  <!--[if lt IE 8]><script src="{{ STATIC_URL }}lib/json/json2.js"></script><![endif]-->
  <script src="{{ STATIC_URL }}js/admin/main.js"></script>
  <script src="{{ STATIC_URL }}js/common.js"></script>
  <script src="{{ STATIC_URL }}js/widgets.js"></script>
  <script src="{{ STATIC_URL }}js/infinite-scroller.js"></script>
  <script src="{{ STATIC_URL }}js/admin/tagger.js"></script>
  {% block extra_js %}{% endblock %}
</head>
<body class="container">

<header class="row">
  <div class="span2 logo">
    <a href="{% url 'admin.views.index' %}">
      <img src="{{ STATIC_URL }}img/dnt_logo.gif" alt="Den Norske Turistforening" title="Tilbake til Sherpa-forsiden">
    </a>
  </div>
  <div class="span6">
    <h1 class="sherpa">
      {% block header %}<a href="{% url 'admin.views.index' %}">Sherpa</a>{% endblock %}
    </h1>
  </div>
  <div class="span4 right">
    {# Skip user-data section if Focus is down because the unavailable-template extends this layout #}
    {% if not focus_downtime.is_currently_down %}
      <p class="userline">
        <a href="{% url 'user.views.home' %}">{{ user.get_full_name }}</a> <span class="logout">(<a href="{% url 'user.login.views.logout' %}">Logg ut</a>)</span>
      </p>
    {% else %}
      <p class="userline">
        <a href="{% url 'user.views.home' %}">N.N.</a> <span class="logout">(<a href="{% url 'user.login.views.logout' %}">Logg ut</a>)</span><br>
      </p>
    {% endif %}
    <select name="user_association" data-placeholder="Velg en forening...">
      <option value=""></option>
      {% if user.all_associations_sorted.central|length > 0 %}
        <optgroup label="Sentralt/nasjonalt">
          {% for association in user.all_associations_sorted.central %}
            <option value="{{ association.id }}" data-href="/sherpa/aktiv-forening/{{ association.id }}/"{% if active_association == association %} selected{% endif %}>{{ association.name }}</option>
          {% endfor %}
        </optgroup>
      {% endif %}
      {% if user.all_associations_sorted.associations|length > 0 %}
        <optgroup label="Medlemsforeninger">
          {% for association in user.all_associations_sorted.associations %}
            <option value="{{ association.id }}" data-href="/sherpa/aktiv-forening/{{ association.id }}/"{% if active_association == association %} selected{% endif %}>{{ association.name }}</option>
          {% endfor %}
        </optgroup>
      {% endif %}
      {% if user.all_associations_sorted.small_associations|length > 0 %}
        <optgroup label="Lokale turlag">
        {% for association in user.all_associations_sorted.small_associations %}
            <option value="{{ association.id }}" data-href="/sherpa/aktiv-forening/{{ association.id }}/"{% if active_association == association %} selected{% endif %}>{{ association.name }}</option>
          {% endfor %}
        </optgroup>
      {% endif %}
      {% if user.all_associations_sorted.hike_groups|length > 0 %}
        <optgroup label="Turgrupper">
        {% for association in user.all_associations_sorted.hike_groups %}
            <option value="{{ association.id }}" data-href="/sherpa/aktiv-forening/{{ association.id }}/"{% if active_association == association %} selected{% endif %}>{{ association.name }}</option>
          {% endfor %}
        </optgroup>
      {% endif %}
    </select>
  </div>
</header>

<hr>

{% block body %}{% endblock %}
<footer>
</footer>

{# "Global" csrf_token for AJAX-requests #}
{% csrf_token %}

</body>
</html>
