{% extends 'common/admin/layout.html' %}

{% block body %}

<div class="row">
  <div class="offset2 span8">
    <div class="alert alert-error">
      <a class="close">x</a>
      <strong>{{ active_association.name}} har ingen nettside.</strong><br><br>
      Du kan ikke bruke Sherpa-funksjonaliteten på denne siden fordi {{ active_association.name }} har ingen tilknyttet nettside.<br><br>
      <a href="{% url admin.views.index %}">Gå tilbake til Sherpa-hovedsiden</a>, eller velg en annen forening i boksen oppe til høyre.
    </div>
  </div>
</div>

{% endblock %}
