{% extends 'common/admin/layout.html' %}

{% block admin_menu %}{% with 'dashboard' as active_entry %}{{ block.super }}{% endwith %}{% endblock %}

{% block body %}

<div class="row">
  <div class="col-lg-12">
    <h1>{{ active_forening.name}} har ingen nettside</h1>
    <ol class="breadcrumb">
      <li class="active"><i class="fa fa-dashboard"></i> <a href="{% url 'admin.views.index' %}">Sherpa</a></li>
    </ol>

    <p>
      Du kan ikke bruke Sherpa-funksjonaliteten på denne siden fordi {{ active_forening.name }} har ingen tilknyttet nettside.
    </p>
    <p>
      Dere kan <a href="{% url 'admin.views.setup_site' %}">sette opp en hjemmeside her</a>!
    </p>
  </div>
</div><!-- /.row -->

{% endblock %}
