{% extends 'common/admin/layout.html' %}

{% block title %}Velg aktiv forening — {{ block.super }}{% endblock %}
{% block admin_menu %}{% with 'dashboard' as active_entry %}{{ block.super }}{% endwith %}{% endblock %}

{% block body %}

{% if user.all_associations|length == 0 %}

  {# Has sherpa access, but no associations #}

  <div class="row">
    <div class="col-lg-12">
      <h1>Du har tilgang til Sherpa, men ikke til noen foreninger!</h1>
      <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i> <a href="{% url 'admin.views.index' %}">Sherpa</a></li>
      </ol>
      <p>
        Du må snakke med den som gav deg tilgang til Sherpa, og be ham/henne også gi deg tilgang til foreningen du tilhører.<br>
        Innen du får gjort det, kan du ikke gjøre noe i Sherpa.
      </p>
      <p>
        <a href="{% url 'user.views.home' %}">Gå tilbake til Min side</a>
      </p>
    </div>
  </div><!-- /.row -->

{% else %}

  <div class="row">
    <div class="col-lg-12">
      <h1>Velg aktiv forening <small>foreningen du jobber med i Sherpa</small></h1>
      <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i> <a href="{% url 'admin.views.index' %}">Sherpa</a></li>
      </ol>
      <p>
        For å få tilgang til Sherpa må du velge en av foreningene du har tilgang til.
      </p>

      <p>
        Du kan endre aktiv forening når som helst i lista oppe til høyre.
      </p>

      {% if user.all_associations_sorted.central|length > 0 %}
        <h2>Sentralt/nasjonalt</h2>
        <ul class="active-association-list">
        {% for association in user.all_associations_sorted.central %}
          <li><a href="/sherpa/aktiv-forening/{{ association.id }}/?next={{ next }}">{{ association.name }}</a></li>
        {% endfor %}
        </ul>
      {% endif %}
      {% if user.all_associations_sorted.associations|length > 0 %}
        <h2>Medlemsforeninger</h2>
        <ul class="active-association-list">
        {% for association in user.all_associations_sorted.associations %}
          <li><a href="/sherpa/aktiv-forening/{{ association.id }}/?next={{ next }}">{{ association.name }}</a></li>
        {% endfor %}
        </ul>
      {% endif %}
      {% if user.all_associations_sorted.small_associations|length > 0 %}
        <h2>Lokale turlag</h2>
        <ul class="active-association-list">
        {% for association in user.all_associations_sorted.small_associations %}
          <li><a href="/sherpa/aktiv-forening/{{ association.id }}/?next={{ next }}">{{ association.name }}</a></li>
        {% endfor %}
        </ul>
      {% endif %}
      {% if user.all_associations_sorted.hike_groups|length > 0 %}
        <h2>Turgrupper</h2>
        <ul class="active-association-list">
        {% for association in user.all_associations_sorted.hike_groups %}
          <li><a href="/sherpa/aktiv-forening/{{ association.id }}/?next={{ next }}">{{ association.name }}</a></li>
        {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
{% endif %}

{% endblock %}
