{% extends 'common/admin/layout.html' %}

{% block body %}

<div class="row">
  <div class="span12">

    {% if user.get_profile.all_associations|length == 0 %}

      {# Has sherpa access, but no associations #}

      <div class="alert alert-error">
        <strong>Du har tilgang til Sherpa, men ikke til noen foreninger!</strong><br>
        Du må snakke med den som gav deg tilgang til Sherpa, og be ham/henne også gi deg tilgang til foreningen du tilhører.<br>
        Innen du får gjort det, kan du ikke gjøre noe i Sherpa.
      </div>

      <p><a href="{% url user.views.home %}">Gå tilbake til Min side</a></p>

    {% else %}

      <div class="alert alert-error">
        <strong>Du har ikke valgt aktiv forening!</strong><br>
        For å få tilgang til Sherpa må du velge en av foreningene du har tilgang til.<br>
        Du kan endre aktiv forening når som helst i lista oppe til høyre, under navnet ditt.
      </div>

      {% if user.get_profile.all_associations_sorted.central|length > 0 %}
        <h2>Sentralt/nasjonalt</h2>
        <ul class="active-association-list">
        {% for association in user.get_profile.all_associations_sorted.central %}
          <li><a href="/sherpa/aktiv-forening/{{ association.id }}/?next={{ next }}">{{ association.name }}</a></li>
        {% endfor %}
        </ul>
      {% endif %}
      {% if user.get_profile.all_associations_sorted.associations|length > 0 %}
        <h2>Medlemsforeninger</h2>
        <ul class="active-association-list">
        {% for association in user.get_profile.all_associations_sorted.associations %}
          <li><a href="/sherpa/aktiv-forening/{{ association.id }}/?next={{ next }}">{{ association.name }}</a></li>
        {% endfor %}
        </ul>
      {% endif %}
      {% if user.get_profile.all_associations_sorted.small_associations|length > 0 %}
        <h2>Lokale turlag</h2>
        <ul class="active-association-list">
        {% for association in user.get_profile.all_associations_sorted.small_associations %}
          <li><a href="/sherpa/aktiv-forening/{{ association.id }}/?next={{ next }}">{{ association.name }}</a></li>
        {% endfor %}
        </ul>
      {% endif %}
      {% if user.get_profile.all_associations_sorted.hike_groups|length > 0 %}
        <h2>Turgrupper</h2>
        <ul class="active-association-list">
        {% for association in user.get_profile.all_associations_sorted.hike_groups %}
          <li><a href="/sherpa/aktiv-forening/{{ association.id }}/?next={{ next }}">{{ association.name }}</a></li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endif %}
  </div>
</div>

{% endblock %}
