{% extends 'common/admin/layout.html' %}

{% block admin_menu %}{% with 'sites.setup_site' as active_entry %}{{ block.super }}{% endwith %}{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/admin/setup_site.js"></script>
{% endblock %}

{% block body %}

<div class="setup-site">
  <div class="row">
    <div class="col-lg-12">

      <h1>Sett opp nytt nettsted <small>foreningens hjemmeside, en hyttes hjemmeside eller en kampanjeside</small></h1>
      <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i> <a href="{% url 'admin.views.index' %}">Sherpa</a></li>
        <li><a href="{% url 'admin.views.setup_site' %}">Sett opp nytt nettsted</a></li>
      </ol>

      <form action="{% url 'admin.views.setup_site' %}" method="post" class="form-default form-horizontal" data-aktivitet-id="{{ aktivitet.id }}">
        {% csrf_token %}

        <div class="section">

          <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
              <h2>1. Hva slags hjemmeside vil du opprette?</h2>
            </div>
          </div>

          <div class="form-group type">
            <div class="col-md-offset-2 col-md-10">
              <div class="btn-group" data-toggle="buttons">
                {% for type in site_types %}
                  {# If this forening as a main site, don't show the main site-button #}
                  {% if type.0 != 'forening' or active_forening.get_homepage_site == None %}
                    <label class="btn btn-default btn-lg" data-type="{{ type.0 }}">
                      <input type="radio" name="type" value="{{ type.0 }}"> {{ type.1 }}
                    </label>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>

          <div class="form-group title jq-hide">
            <label class="col-md-2 control-label" for="title">Tittel for nettstedet:</label>
            <div class="col-md-10">
              <input type="text" class="form-control" name="title" id="title">
            </div>
          </div>

        </div><!-- /.section -->

        <div class="section">

          <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
              <h2>2. Hvilket domene skal hjemmesiden ha?</h2>

              {% for message in messages %}
                {% if message.message == 'malformed' %}
                  <div class="alert alert-danger">
                    Du må fylle inn et gyldig domenenavn. Hør med DNT sentralt dersom du er usikker på hva dette bør være.
                  </div>
                {% elif message.message == 'more_than_one_subdir' %}
                  <div class="alert alert-danger">
                    Du kan ikke ha to undermapper i domenenavnet. Hør med DNT sentralt dersom du er usikker på hva domenenavnet deres er.
                  </div>
                {% elif message.message == 'prefix_for_disallowed_domain' %}
                  <div class="alert alert-danger">
                    Kun domener direkte under <strong>www.turistforeningen.no</strong> kan ha undermapper. Hør med DNT sentralt dersom du er usikker på hva domenenavnet deres er.
                  </div>
                {% elif message.message == 'site_exists' %}
                  <div class="alert alert-danger">
                    <strong>{{ existing_forening.name }}</strong> har allerede domenenavnet <strong>http://{{ existing_forening.get_homepage_site.domain }}/</strong>. Hør med DNT sentralt dersom du er usikker på hva domenenavnet deres er.
                  </div>
                {% elif message.message == 'prefix_not_supported_yet' %}
                  <div class="alert alert-danger">
                    Domenet kan ikke være en undermappe under turistforeningen.no (for eksempel: <strong>www.turistforeningen.no/mitt-turlag</strong>) fordi vi ikke har satt opp teknisk støtte for det ennå.
                  </div>
                {% elif message.message == 'test_period_requires_test_domain' %}
                  <div class="alert alert-danger">
                    I test-perioden <strong>må</strong> dere ha "<strong>.test.turistforeningen.no</strong>" bak domenet. For eksempel: <strong>http://stf.test.turistforeningen.no</strong>.
                  </div>
                {% elif message.message == 'main_site_exists' %}
                  <div class="alert alert-danger">
                    {{ active_forening }} har allerede en hjemmeside, du kan ikke sette opp en ny.
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>

          <div class="form-group domain">
            <div class="col-md-offset-2 col-md-10">

              {# Force subdomains for now. When we're ready, we can let the user choose between subdomain or a FQDN #}
              <input type="hidden" name="domain-type" value="subdomain">
              <!--
              <div class="radio">
                <label>
                  <input type="radio" name="domain-type" value="subdomain" checked>
                  Domene under turistforeningen.no (vil fungere automatisk). Eksempel: <strong>http://stavanger.test.turistforeningen.no</strong>
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="domain-type" value="fqdn">
                  Et eget domene (må settes opp selv). Eksempel: <strong>http://www.stavanger-turistforening.no</strong>
                </label>
              </div>
              -->

              <p class="domain-input">
                http:// <input type="text" class="form-control" name="domain" value="{{ domain }}" placeholder="forening"> <span class="subdomain-tail">.test.turistforeningen.no</span>
              </p>

            </div>
          </div>

        </div><!-- /.section -->

        <div class="section">

          <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
              <h2>3. Hvordan skal forsiden se ut?</h2>
            </div>
          </div>

          <div class="form-group template">
            <div class="col-md-offset-2 col-md-10">
              <input type="hidden" name="template">
              Velg en forhåndsdefinert mal under. Dette blir et utgangspunkt som du kan endre etterpå.

              <div class="row">
                <div class="col-lg-3">
                  <div class="template-block" data-template="1">
                    <h3>Tom mal</h3>
                    <p>
                      <img src="{{ STATIC_URL }}img/templates/empty.jpg" alt="Ferdigdefinert mal" data-template="1">
                    </p>
                    <p>
                      En helt tom side, slik at du kan strukturere opp innholdet selv.
                    </p>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="template-block" data-template="2">
                    <h3>Én kolonne</h3>
                    <p>
                      <img src="{{ STATIC_URL }}img/templates/full-width.jpg" alt="Ferdigdefinert mal" data-template="2">
                    </p>
                    <p>
                      Én stor kolonne med en tittel, et par bilder, og litt brødtekst.
                    </p>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="template-block" data-template="3">
                    <h3>Sidebar</h3>
                    <p>
                      <img src="{{ STATIC_URL }}img/templates/sidebar.jpg" alt="Ferdigdefinert mal" data-template="3">
                    </p>
                    <p>
                      Et stort bilde etterfulgt av to kolonner, en hovedkolonne og en "sidebar" som for eksempel vise faktainformasjon eller små bilder.
                    </p>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="template-block" data-template="4">
                    <h3>Tre kolonner</h3>
                    <p>
                      <img src="{{ STATIC_URL }}img/templates/3-columns.jpg" alt="Ferdigdefinert mal" data-template="4">
                    </p>
                    <p>
                      En side delt i 3 kolonner, med fullbredde-bilde øverst og nederst.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
              <button type="submit" class="btn btn-danger btn-lg" data-choose-site-type-warning="Velg hva slags hjemmeside du vil opprette før du går videre. Du må klikke på en av knappene i punkt 1." data-enter-domain-warning="Velg hvilket domene dere ønsker at hjemmesiden deres skal ha. Kontakt oss via den røde boksen til høyre på skjermen hvis du lurer på hva dette bør være." data-choose-template-warning="Velg hvordan forsiden skal se ut før du går videre. Klikk på en av malene under punkt 3.">Opprett ny hjemmeside!</button>
            </div>
          </div>

        </div><!-- /.section -->

      </form>

    </div>
  </div><!-- /.row -->
</div><!-- /.setup-site -->

{% endblock %}
