<div class="modal jq-hide widget-editor" data-widget="campaign" data-width="auto">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
    <h3>Kampanje</h3>
  </div>
  <div class="modal-body">

    <p>
      En kampanje lar deg vise et stort bilde med en kort tekst på, og en knapp som sender brukeren videre til det kampanjen omhandler.
      <br>
      Her kan du legge til et sett med kampanjer, og velge hvor lenge hver av dem skal vises.
      <br>
      Kampanjene må lages på forhånd, under <strong>Hjemmeside &gt; Kampanjer</strong> i Sherpa.
    </p>

    <p>
      <strong>Viktig: Du må kun bruke kampanjer i en fullbredde-kolonne!</strong>
    </p>

    <div class="campaigns form-default form-horizontal" data-dnt-container="campaigns" data-dnt-invalid-date-format="Ugyldig datoformat. Vennligst sjekk at datoene ser slik ut: dd.mm.yyyy (for eksempel: 21.03.2014)" data-dnt-missing-campaign="Sett inn minst én kampanje før du lagrer!">
      {# Will be filled out with javascript #}
    </div>

    <div class="form-default form-horizontal">
      <div class="control-group">
        <div class="controls">
          <button class="btn btn-default add-campaign" data-dnt-toggle="add-campaign">
            <i class="icon-plus"></i> Legg til flere kampanjer...
          </button>
        </div>
      </div>
    </div>

    <div class="form-default form-horizontal">
      <div class="control-group">
        <div class="controls">
          <div class="control-as-text">
            Når slutt-dato for siste kampanje er passert, vil jeg at:
          </div>
          <label class="radio">
            <input type="radio" name="hide-when-expired" value="true">
            Kampanjen forsvinner av seg selv når datoen passeres
          </label>
          <label class="radio">
            <input type="radio" name="hide-when-expired" value="false">
            Siste kampanje blir liggende selv om datoen er passert
          </label>
        </div>
      </div>
    </div>

    <div class="form-default form-horizontal{% if site != main_site %} jq-hide{% endif %}">
      <div class="control-group">
        <div class="controls">
          <div class="control-as-text">
            Kjerneinnhold-meny (kun tilgjengelig for {{ site.domain }})
          </div>
          <label class="checkbox">
            <input type="checkbox" name="display-core-menu">
            Vis meny for kjerneinnhold
          </label>

          {# Inform about potential wrong menu label when editing the front page #}
          {% if version.variant.page.slug == '' %}
            <p>
              <em>
                Merk: Du redigerer nå forsiden. Det øverste menyfeltet vil settes til tittelen for kampanjen,<br>
                men den vil vise feil tittel frem til du har lagret siden, og laster kampanjen på nytt.
              </em>
            </p>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="campaign jq-hide" data-dnt-template="campaign">

      <div class="control-group">
        <label class="control-label">Kampanje</label>
        <div class="controls">
          <select name="campaign" class="chosen" data-placeholder="Velg blant eksisterende kampanjer...">
            <option value=""></option>
            {% for campaign in widget_data.campaign.campaigns %}
              <option value="{{ campaign.id }}">{{ campaign.title }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Periode</label>
        <div class="controls">
          <div class="input-append date" data-dnt-container="datepicker">
            <input type="text" class="input-medium" name="start-date" value="{{ now|date:"d.m.Y" }}">
            <span class="add-on">
              <i class="icon-th"></i>
            </span>
          </div>
          til og med
          <div class="input-append date" data-dnt-container="datepicker">
            <input type="text" class="input-medium" name="stop-date" value="{{ now|date:"d.m.Y" }}">
            <span class="add-on">
              <i class="icon-th"></i>
            </span>
          </div>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <button class="btn btn-danger" data-dnt-toggle="remove-campaign">
            <i class="icon-remove icon-white"></i> Ta bort
          </button>
        </div>
      </div>

    </div>

  </div>
  <div class="modal-footer" style="clear: both;">
    <button class="btn btn-success save"><i class="icon-ok icon-white"></i> Lagre kampanjen</button>
    <button class="btn" data-dismiss="modal">Avbryt</button>
  </div>
</div>
