{% extends 'common/admin/layout.html' %}
{% block title %}Aktiviteter &mdash; {{ block.super }}{% endblock %}
{% block header %}<a href="{% url admin.aktiviteter.views.index %}">Aktiviteter</a>{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/bootstrap-datepicker/css/datepicker.css" media="screen">
  <!--[if lt IE 8]><link rel="stylesheet" href="{{ STATIC_URL }}lib/bootstrap-datepicker/css/datepicker-ie7fix.css" media="screen"><![endif]-->
{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
  <script src="{{ STATIC_URL }}lib/bootstrap-datepicker/js/locales/bootstrap-datepicker.nb.js"></script>
  <script src="{{ STATIC_URL }}js/admin/tags.js"></script>
  <script src="{{ STATIC_URL }}js/admin/aktiviteter.js"></script>
{% endblock %}

{% block body %}

<div class="row">
  <div class="span12">

    <h2>Rediger aktivitet</h2>

    {# TODO: Client-side validations #}
    <form action="{% url admin.aktiviteter.views.edit aktivitet.id %}" method="post" class="edit-aktivitet form-border form-horizontal">
      {% csrf_token %}

      <div class="control-group title">
        <label class="control-label" for="title">Tittel:</label>
        <div class="controls">
          <input type="text" class="input-xxlarge" name="title" value="{{ aktivitet.title }}">
        </div>
      </div>

      <div class="control-group description">
        <label class="control-label" for="description">Beskrivelse:</label>
        <div class="controls">
          <textarea rows="6" cols="80" name="description" class="input-xxlarge">{{ aktivitet.description }}</textarea>
        </div>
      </div>

      <div class="control-group start_date">
        <label class="control-label" for="start_date">Starter:</label>
        <div class="controls">
          <div class="input-append date">
            <input type="text" class="input-medium" name="start_date" value="{{ aktivitet.start_date|date:"d.m.Y" }}">
            <span class="add-on"><i class="icon-th"></i></span>
          </div>
          <input type="text" class="input-small" name="start_time" value="{{ aktivitet.start_date|date:"H:i" }}">
        </div>
      </div>

      <div class="control-group end_date">
        <label class="control-label" for="end_date">Slutter:</label>
        <div class="controls">
          <div class="input-append date">
            <input type="text" class="input-medium" name="end_date" value="{{ aktivitet.end_date|date:"d.m.Y" }}">
            <span class="add-on"><i class="icon-th"></i></span>
          </div>
          <input type="text" class="input-small" name="end_time" value="{{ aktivitet.end_date|date:"H:i" }}">
        </div>
      </div>

      <div class="control-group tags">
        <label class="control-label" for="tags">Nøkkelord:</label>
        <div class="controls">
          <p><input type="text" class="input-large" name="tags"></p>
          <div class="tag-box">
            {% for tag in aktivitet.tags.all %}
              <div class="tag">
                <a href="javascript:undefined"><img src="/static/img/so/close-default.png"></a>
                {{ tag.name }}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <div style="clear: both;"></div>

      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success"><i class="icon-ok icon-white"></i> Lagre aktivitet</button>
        </div>
      </div>

    </form>

    <h3>Påmeldte</h3>
    {% if aktivitet.participants.all|length > 0 %}
      <table class="table">
        {% for profile in aktivitet.participants.all %}
          <tr>
            <td>{{ profile.get_full_name }}</td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>Turen har ingen påmeldte deltakere.</p>
    {% endif %}

  </div>
</div>

{% endblock %}
