{% extends 'common/admin/layout.html' %}
{% block title %}Aktiviteter &mdash; {{ block.super }}{% endblock %}
{% block header %}<a href="{% url admin.aktiviteter.views.index %}">Aktiviteter</a>{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/bootstrap-datepicker/css/datepicker.css" media="screen">
  <!--[if lt IE 8]><link rel="stylesheet" href="{{ STATIC_URL }}lib/bootstrap-datepicker/css/datepicker-ie7fix.css" media="screen"><![endif]-->
{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
  <script src="{{ STATIC_URL }}lib/bootstrap-datepicker/js/locales/bootstrap-datepicker.nb.js"></script>
  <script src="{{ STATIC_URL }}js/admin/tags.js"></script>
  <script src="{{ STATIC_URL }}js/admin/aktiviteter.js"></script>
{% endblock %}

{% block body %}

<div class="row">
  <div class="span12">

    <h2>Rediger aktivitet</h2>

    {# TODO: Client-side validations #}
    <form action="{% url admin.aktiviteter.views.edit aktivitet.id %}" method="post" class="edit-aktivitet form-default form-horizontal" data-aktivitet-id="{{ aktivitet.id }}">
      {% csrf_token %}

      <ul class="nav nav-tabs">
        <li class="active"><a href="#beskrivelse" data-toggle="tab">Beskrivelse og informasjon</a></li>
        <li><a href="#datoer" data-toggle="tab">Datoer og påmelding</a></li>
        <li><a href="#synlighet" data-toggle="tab">Synlighet</a></li>
      </ul>

      <div class="tab-content tab-content-visible">

        <div id="beskrivelse" class="tab-pane active">

          <div class="control-group title">
            <label class="control-label" for="title">Tittel:</label>
            <div class="controls">
              <input type="text" class="input-xxlarge" name="title" value="{{ aktivitet.title }}">
            </div>
          </div>

          <div class="control-group description">
            <label class="control-label" for="description">Beskrivelse:</label>
            <div class="controls">
              <textarea rows="6" cols="80" name="description" class="input-xxlarge">{{ aktivitet.description }}</textarea>
            </div>
          </div>

          <div class="control-group difficulty">
            <label class="control-label" for="difficulty">Vanskelighetsgrad:</label>
            <div class="controls">
              <select name="difficulty" class="chosen" data-placeholder="Velg vanskelighetsgrad...">
                <option value=""></option>
                {% for difficulty in difficulties %}
                  <option value="{{ difficulty.0 }}"{% if aktivitet.difficulty == difficulty.0 %} selected{% endif %}>{{ difficulty.1 }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="control-group tags">
            <label class="control-label" for="tags">Nøkkelord:</label>
            <div class="controls">
              <p><input type="text" class="input-large" name="tags"></p>
              <div class="tag-box">
                {% for tag in aktivitet.tags.all %}
                  <div class="tag">
                    <a href="javascript:undefined"><img src="/static/img/so/close-default.png"></a>
                    {{ tag.name }}
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div style="clear: both;"></div>
        </div>

        <div id="datoer" class="tab-pane">

          {% for date in aktivitet.get_dates_ordered %}
            {% include 'common/admin/aktiviteter/date-form.html' %}
          {% endfor %}

          <div class="control-group">
            <div class="controls">
              <div class="control-as-text">
                <a class="add-aktivitet-date" href="javascript:undefined" data-url="{% url admin.aktiviteter.views.new_aktivitet_date %}">
                  Legg til flere datoer
                </a>
                <img class="ajaxloader hide" src="{{ STATIC_URL }}img/ajax-loader-small.gif" alt="Lagrer, vennligst vent...">
              </div>
            </div>
          </div>
        </div>

        <div id="synlighet" class="tab-pane">
          <div class="control-group hide_aktivitet">
            <label class="control-label" for="hide_aktivitet">Tilgjengelighet:</label>
            <div class="controls">
              <input type="hidden" name="hidden">
              <div class="btn-group" data-toggle="buttons-radio">
                <button class="btn show_aktivitet{% if not aktivitet.hidden %} active{% endif %}">Offentlig</button>
                <button class="btn hide_aktivitet{% if aktivitet.hidden %} active{% endif %}">Privat</button>
              </div>
              <div class="hints">
                En privat aktivitet kommer ikke frem i <a href="{% url aktiviteter.views.index %}">søket</a>, men kan sees av hvem som helst på følgende adresse:<br>
                <a href="{% url aktiviteter.views.show aktivitet.id %}">http://{{ site.domain }}{% url aktiviteter.views.show aktivitet.id %}</a>
              </div>
            </div>
          </div>

          <div class="control-group pub_date">
            <label class="control-label" for="pub_date">Publiseres:</label>
            <div class="controls">
              <div class="input-append date">
                <input type="text" class="input-medium" name="pub_date" value="{{ aktivitet.pub_date|date:"d.m.Y" }}">
                <span class="add-on"><i class="icon-th"></i></span>
              </div>
              <div class="hints">
                En upublisert aktivitet vises ikke på nettsidene (selv om den er privat).
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="control-group submit">
        <div class="controls">
          <button type="submit" class="btn btn-success btn-large"><i class="icon-ok icon-white"></i> Lagre alle endringer</button>
          <div class="hints save-date-first hide">
            Du må lagre datoen over før du kan lagre hele aktiviteten.
          </div>
        </div>
      </div>

    </form>

    {% for date in aktivitet.get_dates_ordered %}
      {% if date.signup_enabled %}
        <h3>Påmeldte {{ date.start_date|date:"j. F Y" }} - {{ date.end_date|date:"j. F Y" }}</h3>
        {% if date.participants.all|length > 0 %}
          <table class="table">
            {% for profile in date.participants.all %}
              <tr>
                <td>{{ profile.get_full_name }}</td>
              </tr>
            {% endfor %}
          </table>
        {% else %}
          <p>Ingen påmeldte for denne turen.</p>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</div>

{% endblock %}
