{% extends 'common/admin/layout.html' %}

{% load rowiterator %}
{% load date_fromto %}
{% load query_transform %}
{% load highlight %}

{% block title %}Aktiviteter — {{ block.super }}{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/admin/aktiviteter/failed_imports.js"></script>
{% endblock %}

{% block admin_menu %}{% with 'aktiviteter' as active_entry %}{{ block.super }}{% endwith %}{% endblock %}

{% block body %}

<div class="row">
  <div class="col-lg-12">
    <h1>Turer og aktiviteter <small>publisér turer, aktiviteter, kurs og dugnadsarbeid</small></h1>
    <ol class="breadcrumb">
      <li class="active"><i class="fa fa-dashboard"></i> <a href="{% url 'admin.views.index' %}">Sherpa</a></li>
      <li><a href="{% url 'admin.aktiviteter.views.index' %}">Turer og aktiviteter</a></li>
      <li><a href="{% url 'admin.aktiviteter.views.index' %}">Manglende turer</a></li>
    </ol>
  </div>
</div><!-- /.row -->

<div class="aktivitet-failed-imports" data-dnt-container="aktivitet-failed-imports">

  <p>
    Viser {{ failed_imports.object_list|length }} av {{ failed_imports.paginator.count }} feilede importeringer
  </p>

  {% include "common/admin/aktiviteter/failed_imports_pagination.html" %}

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Arrangør</th>
          <th>Aktivitet</th>
          <th>Problem</th>
        </tr>
      </thead>

      {% for fail in failed_imports %}

        <tr>
          <td>
            {% for forening in fail.foreninger.all %}
              {{ forening.name }}
              {% if not forloop.last %}
                <br>
              {% endif %}
            {% endfor %}
          </td>
          <td>
            <a href="http://{{ old_site }}/admin/activity.php?ac_id={{ fail.sherpa2_id }}&amp;act=egenskaper">{{ fail.name }}</a>
          </td>
          <td>
            {{ fail.get_reason }} <a href="javascript:undefined" data-dnt-trigger="helptext">Les mer...</a>
            <div class="helptext jq-hide" data-dnt-container="helptext">
              {{ fail.get_reason_helptext|safe }}
            </div>
          </td>
        </tr>

      {% endfor %}
    </table>
  </div>

  {% include "common/admin/aktiviteter/failed_imports_pagination.html" %}

</div>

{% endblock %}
