<ul class="pagination pagination-sm">
  <li{% if failed_imports.number == 1 %} class="disabled"{% endif %}>
    <a href="?page=1" class="page">«</a>
  </li>

  {% for number in failed_imports.paginator.page_range %}
    <li{% if number == failed_imports.number %} class="active"{% endif %}>
      <a href="?page={{ number }}" class="page">{{ number }}</a>
    </li>
  {% endfor %}

  <li{% if failed_imports.number == failed_imports.paginator.num_pages %} class="disabled"{% endif %}>
    <a href="?page={{ failed_imports.paginator.num_pages }}" class="page">»</a>
  </li>
</ul>
