{% extends 'common/admin/layout.html' %}
{% block title %}Aktiviteter &mdash; {{ block.super }}{% endblock %}
{% block header %}<a href="{% url admin.aktiviteter.views.index %}">Aktiviteter</a>{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/admin/aktiviteter/index.js"></script>
  <script src="{{ STATIC_URL }}js/admin/aktiviteter/tagger-adhoc.js"></script>
{% endblock %}

{% load rowiterator %}

{% block body %}

<div class="aktivitet-listing">

  <div class="new-categories">
    <div class="initial-category">
      <div class="row">
        <div class="span12">
          <h3>Opprett en ny aktivitet (velg type):</h3>
        </div>
      </div>

      {% rowiterator 4 %}
        {% for category in categories %}
          {% column %}
            <button class="btn category" data-tag-name="{{ category.0 }}">{{ category.1 }}</button>
          {% endcolumn %}
        {% endfor %}
      {% endrowiterator %}
    </div>

    <div class="pick-subcategories hide">
      <div class="picked">
        {# Subcategories will be appended here when picked, to get the chosen order. #}
      </div>

      <div class="subcategories trip hide">
        <div class="row">
          <div class="span12">
            <div class="square-well">
              <h3 class="chosen hide">Hva slags tur/aktivitet er dette?</h3>
              <h3 class="extra hide">Kategorier for turer/aktiviteter:</h3>
              {% for subcategory in subcategories.trip %}
                <button class="btn subcategory">{{ subcategory }}</button>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="subcategories course hide">
        <div class="row">
          <div class="span12">
            <div class="square-well">
              <h3 class="chosen hide">Hva slags kurs er dette?</h3>
              <h3 class="extra hide">Kategorier for kurs:</h3>
              {% for subcategory in subcategories.course %}
                <button class="btn subcategory">{{ subcategory }}</button>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="subcategories event hide">
        <div class="row">
          <div class="span12">
            <div class="square-well">
              <h3 class="chosen hide">Hva slags arrangement er dette?</h3>
              <h3 class="extra hide">Kategorier for arrangement:</h3>
              {% for subcategory in subcategories.event %}
                <button class="btn subcategory">{{ subcategory }}</button>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="subcategories volunteerwork hide">
        <div class="row">
          <div class="span12">
            <div class="square-well">
              <h3 class="chosen hide">Hva slags dugnad er dette?</h3>
              <h3 class="extra hide">Kategorier for dugnad:</h3>
              {% for subcategory in subcategories.volunteerwork %}
                <button class="btn subcategory">{{ subcategory }}</button>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

      <div class="subcategories custom hide">
        <div class="row">
          <div class="span12">
            <h3>Legg inn dine egne kategorier:</h3>
            <input type="text" name="tagger" class="input-large">
          </div>
        </div>
      </div>

      <div class="more-categories">
        <div class="row">
          <div class="span12">
            <h3>Finner du ikke kategorien du leter etter?</h3>
            <p class="choices">
              Vis forslag for
              <span><a href="javascript:undefined" data-category="trip">turer</a>,</span>
              <span><a href="javascript:undefined" data-category="course">kurs</a>,</span>
              <span><a href="javascript:undefined" data-category="event">arrangement</a>,</span>
              <span><a href="javascript:undefined" data-category="volunteerwork">dugnadsarbeid</a>,</span>
              eller <a href="javascript:undefined" data-category="custom">legg inn dine egne kategorier</a>.
            </p>
          </div>
        </div>
      </div>

      <form action="{% url admin.aktiviteter.views.new %}" method="post" class="create-new-category">
        {% csrf_token %}
        <input type="hidden" name="category" value="">
        <input type="hidden" name="tags" value="">

        <div class="row">
          <div class="span12">
            <input type="submit" value="Opprett aktiviteten" class="btn btn-large btn-success">
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="list-wrapper">
    <div class="row">
      <div class="span12">
        <table class="table table-striped">
          {% for aktivitet in aktiviteter %}
            <tr>
              <td>
                <a href="{% url admin.aktiviteter.views.edit aktivitet.id %}">{{ aktivitet.title|default:"(Mangler navn)" }}</a>
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>

</div>

{% endblock %}
