{% extends 'common/admin/layout.html' %}
{% block title %}Aktiviteter &mdash; {{ block.super }}{% endblock %}
{% block header %}<a href="{% url 'admin.aktiviteter.views.index' %}">Aktiviteter</a>{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/admin/aktiviteter/index.js"></script>
{% endblock %}

{% load rowiterator %}
{% load date_fromto %}

{% block body %}

<div class="row">
  <div class="span12">
    <div class="alert alert-info">
      <a class="close">x</a>
      <strong>Dette er en prototype som ikke er i bruk.</strong><br>
      Vi sikter på å lansere det nye systemet høsten 2013, men <strong>i mellomtiden må du <a href="http://{{ old_site }}/admin/activity.php">bruke gamle Sherpa</a></strong> om du vil behandle aktiviteter som publiseres på nettsidene.<br>
      Du kan imidlertid gjerne prøve ut det nye systemet, men vær obs på at aktiviteter som legges inn <strong>vil bli slettet</strong> før den offentlige lanseringen. Du kan besøke test-visningen av disse på <a href="http://{{ site.domain }}/aktiviteter-beta/">http://{{ site.domain }}/aktiviteter-beta/</a>.
    </div>
  </div>
</div>

<div class="aktivitet-listing">

  <div class="row">
    <div class="span12">
      <div class="new-aktivitet">
        <a href="{% url 'admin.aktiviteter.views.new' %}" class="btn">Opprett en ny aktivitet</a>
      </div>
    </div>
  </div>

  <div class="list-wrapper">

    <p>
      <em>
        {% if not exclude_filter %}

          Viser aktiviteter tilhørende {{ active_association.name }}.<br>
          {% if user.perms.sherpa_admin %}
            <a href="{% url 'admin.aktiviteter.views.index' %}?forening=alle">Vis alle aktiviteter</a> (kun Sherpa-administratorer har tilgang til dette)
          {% endif %}

        {% else %}

          Viser alle aktiviteter. <a href="{% url 'admin.aktiviteter.views.index' %}">Vis kun for {{ active_association.name }}</a>

        {% endif %}
      </em>
    </p>

    <div class="row">
      <div class="span12">
        <table class="table table-striped aktivitet-listing">
          {% for aktivitet in aktiviteter %}
            <tr>
              <td class="aktivitet-container">
                <h3>
                  <a href="{% url 'admin.aktiviteter.views.edit' aktivitet.id %}">{{ aktivitet.title|default:"(Mangler navn)" }}</a>
                  {{ aktivitet.code }}
                </h3>

                <p>
                  {% if aktivitet.hidden %}
                    <span class="label label-important">Privat aktivitet</span>
                  {% elif not aktivitet.is_published %}
                    <span class="label label-warning">Publiseres {{ aktivitet.pub_date|date:"j. F Y" }}</span>
                  {% else %}
                    <span class="label label-success">Publisert {{ aktivitet.pub_date|date:"j. F Y" }}</span>
                  {% endif %}
                </p>


                {% for date in aktivitet.get_dates_ordered %}
                  <div class="row-fluid">
                    <div class="span6">

                      {{ date.start_date|date_fromto:date.end_date }}
                      <a href="{% url 'aktiviteter.views.show' date.id %}">(direkte lenke)</a>

                    </div>
                    <div class="span6">
                      <a href="{% url 'admin.aktiviteter.views.participants' aktivitet.id %}">{{ date.total_signup_count }} påmeldte</a>

                      {% if date.accepts_signups %}
                        <span class="label label-success">Åpen til {{ date.signup_deadline|date:"j. F Y" }}</span>
                      {% elif date.will_accept_signups %}
                        <span class="label label-warning">Åpner {{ date.signup_start|date:"j. F Y" }}</span>
                      {% elif date.signup_deadline_passed %}
                        <span class="label label-important">Frist utløpt</span>
                      {% endif %}
                    </div>
                  </div>

                {% empty %}

                  <p>
                    <em>Ingen turdatoer er registrert på denne aktiviteten! Den kommer ikke frem i søket før minst én turdato registreres.</em>
                  </p>

                {% endfor %}
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>

</div>

{% endblock %}
