{% extends 'common/admin/layout.html' %}
{% block title %}Aktiviteter — {{ block.super }}{% endblock %}
{% block header %}<a href="{% url 'admin.aktiviteter.views.index' %}">Aktiviteter</a>{% endblock %}

{% block body %}

<div class="row">
  <div class="span12">

    <h2>Påmeldte</h2>

    {% for aktivitet_date in aktivitet.get_dates_ordered %}
      {% include 'common/admin/aktiviteter/participants_common_content.html' %}
    {% empty %}
      <p>Aktiviteten har ingen turdatoer.</p>
    {% endfor %}


  </div>
</div>

{% endblock %}
