{% load i18n %}

<div class="well">
  <h3>{% trans "Spørsmål?" %}</h3>
  <p>
    {% trans "Kontakt medlemsservice:" %}<br>
    {% trans "Tlf: 40001870" %}<br>
    <a href="mailto:medlem@turistforeningen.no">medlem@turistforeningen.no</a><br>
    {% trans "Åpent alle hverdager:" %}<br>
    {% trans "kl. 09.00 - 16.00" %}<br>
    {% trans "Tirsdager kl. 10.00 - 16.00" %}<br>
    {% trans "Eller" %} <a href="{% url 'membership.views.service' %}">{% trans "gå til medlemsservice" %}</a>
  </p>
</div>
