<div class="well memberid-sms">
  <h3>Glemt medlemsnummeret?</h3>

  <p>
    Få medlemsnummeret tilsendt gratis på SMS.
  </p>

  <input type="text" name="phone_mobile" class="input-medium" placeholder="Ditt mobilnummer...">
  <button class="btn input-button-align" data-href="{% url 'membership.views.memberid_sms' %}">Send</button>
  <img class="hide ajaxloader" src="{{ STATIC_URL }}img/ajax-loader-small.gif" alt="Laster, vennligst vent...">

  <div class="results">
    <p class="hide ok">
      SMS med ditt medlemsnummer har blitt sendt til <span class="number"></span>.
    </p>
    <p class="hide no-match">
      Vi fant ikke mobilnummer <span class="number"></span> i vårt medlemssystem. Vennligst kontakt DNTs medlemsservice på <a href="mailto:medlem@turistforeningen.no">medlem@turistforeningen.no</a> for å registrere ditt mobilnummer.
    </p>
    <p class="hide error">
      Beklager, det oppstod en teknisk feil. Vennligst prøv igjen senere, eller ta kontakt med medlemsservice på <a href="mailto:medlem@turistforeningen.no">medlem@turistforeningen.no</a> dersom feilen vedvarer.
    </p>
    <p class="hide too-high-frequency">
      Du har sendt for mange SMS-forespørsler på kort tid! Vennligst vent en stund før du prøver igjen.
    </p>
  </div>
</div>
