{# Note that this template is rendered in the site layout #}
{% extends active_site.template|add:"/layout.html" %}

{% block title %}Nyheter — {{ block.super }}{% endblock %}

{% load taglist %}
{% load advertisement %}

{% block extra_js %}
  {# 3rd party libs #}
  <script src="{{ STATIC_URL }}lib/jquery-draggable/jquery.draggable.min.js"></script>
  <script src="{{ STATIC_URL }}lib/rangy/rangy-core.js"></script>
  <script src="{{ STATIC_URL }}lib/imagesloaded/jquery.imagesloaded.min.js"></script>
  <script src="{{ STATIC_URL }}lib/imgareaselect/js/jquery.imgareaselect.min.js"></script>
  <script src="{{ STATIC_URL }}lib/jcrop/js/jquery.Jcrop.min.js"></script>

  {# Custom libs #}
  <script src="{{ STATIC_URL }}js/lib/select2-tagger.js"></script>
  <script src="{{ STATIC_URL }}js/lib/select2-input-lookup.js"></script>
  <script src="{{ STATIC_URL }}js/admin/util/url-picker.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/image-utils.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/image-cropper.js"></script>
  <script src="{{ STATIC_URL }}js/admin/images/util/image-archive-picker.js"></script>
  <script src="{{ STATIC_URL }}js/admin/images/util/image-upload-dialog.js"></script>

  {# Editor specific scripts #}
  <script src="{{ STATIC_URL }}js/admin/sites/editor/main.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/content.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/content-move.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/save.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/image-dialog.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/widgets/articles.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/widgets/aktivitet_listing.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/widgets/carousel.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/widgets/embed.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/widgets/fact.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/widgets/quote.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/widgets/button.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/widgets/main.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/widgets/table.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/widgets/campaign.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/article.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/toolbar.js"></script>
  <script src="{{ STATIC_URL }}js/admin/sites/editor/sticky.js"></script>
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/jcrop/css/jquery.Jcrop.min.css" media="screen">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/editor.css" media="screen">
{% endblock %}

{% block js_globals %}
  <script>
    Turistforeningen.image_search_length = {{ image_search_length }};
  </script>
{% endblock %}

{% block advertisement %}
  {% if version.ads %}
    {% advertisement count_view=False %}
  {% endif %}
{% endblock %}

{% block editor_header %}
  <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/sherpa/" class="navbar-brand">
          <span class="title">Sherpa</span>
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right navbar-user">
          <li class="dropdown alerts-dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell"></i> Beskjeder <span class="badge jq-hide">0</span> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="#">
                  Du har ingen beskjeder! Det er ikke så rart,<br>
                  siden det ikke finnes noe beskjedsystem i Sherpa<br>
                  ennå. Synes du vi bør ha et? Ta kontakt og si<br>
                  litt om hva du mener det kan brukes til!
                </a>
              </li>
            </ul>
          </li>
          <li class="dropdown user-dropdown">
            <a href="#"
              class="dropdown-toggle dropdown-with-gravatar"
              data-toggle="dropdown"
              style="
                background-image: url(https://www.gravatar.com/avatar/7b2a08abcea097594d5a4d9a4d53925d?s=35&amp;d=mm);
                background-repeat: no-repeat;
                background-position: left center;
                background-size: 30px;
                padding-left: 40px;">
              <span>
                Ola Nordmann <b class="caret"></b>
              </span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="http://dnt.privat/"><i class="fa fa-home"></i> Den Norske Turistforening</a></li>
              <li><a href="/minside/"><i class="fa fa-user"></i> Min side</a></li>
              <li><a href="/minside/konto/"><i class="fa fa-pencil-square-o"></i> Dine opplysninger</a></li>
              <li><a href="/minside/konto/passord/"><i class="fa fa-key"></i> Endre passord</a></li>
              <li class="divider"></li>
              <li><a href="/minside/logg-ut/"><i class="fa fa-power-off"></i> Logg ut</a></li>
            </ul>
          </li>
          <li class="dropdown forening-dropdown">
            <select name="user_forening" data-placeholder="Velg aktiv forening..." style="margin-top: 15px;">
              <option value=""></option>
              <optgroup label="Sentralt/nasjonalt">
                <option value="56" data-href="/sherpa/aktiv-forening/56/" selected="">Den Norske Turistforening</option>
                <option value="60" data-href="/sherpa/aktiv-forening/60/">DNT fjellsport</option>
                <option value="1180" data-href="/sherpa/aktiv-forening/1180/">DNT ung</option>
              </optgroup>
              <optgroup label="Medlemsforeninger">
                <option value="5" data-href="/sherpa/aktiv-forening/5/">Alta og Omegn Turlag</option>
                <option value="6" data-href="/sherpa/aktiv-forening/6/">Aust-Agder Turistforening</option>
              </optgroup>
            </select>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>

  <div
    class="editor-header article"
    data-article-id="{{ version.variant.article.id }}"
    data-version-id="{{ version.id }}">

    <div class="form-horizontal label-align-left">
      <div class="static">
        <div class="container">
          <div class="fields">
            <div class="row">
              <div class="col-sm-6">

                <div class="form-group publish">
                  <label for="publish" class="col-sm-4 control-label">
                    <input type="checkbox" name="publish"{% if version.variant.article.published %} checked="checked"{% endif %}>
                    &nbsp; Publiseres
                  </label>
                  <div class="col-sm-5">
                    <div class="input-group date">
                      <input class="form-control" type="text" name="date" value="{{ version.variant.article.pub_date|date:"d.m.Y" }}" placeholder="dd.mm.åååå">
                      <span class="input-group-addon">
                        <i class="glyphicon glyphicon-calendar"></i>
                      </span>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <input class="form-control" type="text" name="time" value="{{ version.variant.article.pub_date|date:"H:i" }}" placeholder="tt:mm">
                  </div>
                </div>

                <div class="form-group author">
                  <label for="tags" class="col-sm-4 control-label">Forfattere</label>
                  <div class="col-sm-8">
                    <select name="authors" multiple="multiple" class="form-control">
                      {% with version.publishers.all as publishers %}
                        {% for user in users %}
                          <option value="{{ user.id }}"{% if user in publishers %} selected="selected"{% endif %}>{{ user.get_full_name }}</option>
                        {% endfor %}
                      {% endwith %}
                    </select>
                  </div>
                </div>

                <div class="form-group tags">
                  <label for="tags" class="col-sm-4 control-label">Nøkkelord</label>
                  <div class="col-sm-8">
                    <input
                      class="form-control"
                      name="tags"
                      data-dnt-existing-tags="{{ version.tags.all|taglist }}"
                      data-dnt-tags-url="{% url 'core.views.filter_tags' %}">
                    </div>
                </div>
                <div style="clear: both;"></div>
              </div>
              <div class="col-sm-6">
                <div class="preview-image">
                  <div class="row">
                    <div class="col-sm-3">
                      Minibilde til forhåndsvisninger:
                    </div>
                    <div class="col-sm-9">
                      <input type="radio" name="thumbnail" value="none"{% if version.get_thumbnail.hide %} checked{% endif %}> Ikke vis minibilde<br>
                      <input type="radio" name="thumbnail" value="default"{% if not version.get_thumbnail.hide and not version.variant.article.thumbnail %} checked{% endif %}> Bruk liten versjon av hovedbildet<br>
                      <input type="radio" name="thumbnail" value="new"{% if not version.get_thumbnail.hide and version.variant.article.thumbnail %} checked{% endif %}> Bruk et annet bilde<br>

                      <div style="width:200px; overflow:hidden; margin-bottom: 10px;">
                        <img class="article-thumbnail" src="{% if not version.variant.article.thumbnail %}{{ editor_placeholder_image }}{% else %}{{ version.variant.article.thumbnail }}{% endif %}" alt="{{ title|striptags }}">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sticky">
        <div class="wrapper">
          <div class="actions">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="pull-left">
                    <a class="btn btn-link quit" href="{% url 'admin.sites.pages.page.list' active_site.id %}" class="btn btn-default quit" data-confirm="Er du sikker på at du vil gå tilbake til Sherpa uten å lagre?">Avslutt redigering uten å lagre</a>
                  </div>
                  <div class="pull-right">
                    <div class="status">
                      <div class="inline-label last-saved-msg"><span data-dnt-container="last-saved-msg"></span></div>
                      <button class="btn btn-success save">
                        <i class="glyphicon glyphicon-heart"></i> Lagre
                      </button>
                      <button
                        class="btn btn-success preview"
                        data-href="{% url 'admin.sites.articles.views.preview' active_site.id version.id %}"
                        data-toggle="tooltip"
                        data-placement="bottom"
                        title="OBS! Når du forhåndsviser nyheten lagres den først, slik at alle endringer du har gjort blir lagret og evt. publisert dersom nyheten er publisert.">
                        <i class="glyphicon glyphicon-search"></i> Forhåndsvisning
                      </button>
                      <button
                        class="btn btn-danger delete-article"
                        href="{% url 'admin.sites.articles.views.confirm_delete' active_site.id version.variant.article.id %}">
                        <i class="glyphicon glyphicon-warning-sign"></i> Slett
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="absolutes">
            <div class="wrapper">
              <div class="toolbar">
                <div class="wrapper jq-hide">
                  <div class="container" data-dnt-container="toolbar"></div>
                </div>
              </div>
              <div class="alerts">
                <div class="wrapper" data-dnt-container="alerts"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="clear: both;"></div>

  </div>
{% endblock %}

{% block body %}

{% load dategtnow %}

<div class="cms-editor">
  {% include 'common/admin/sites/editor/editor.html' with toolbar_article=1 %}
</div><!-- /.cms-editor -->

{% endblock %}
