{% extends "layout.html" %}
{% block title %}Min side{% endblock %}
{% block breadcrumb_title %}Min side{% endblock %}

{% block body %}
<h1>Min side</h1>

<p>Velkommen {{ user.first_name }}!</p>

<p>
  Siden du har konto i <strong>nye</strong> Sherpa, er du nå kommet til den nye Min side. Disse sidene er ikke klare ennå, men når de blir det, vil de være felles for både medlemmer og Sherpa-brukere.
</p>

<p>
  Du kan gå til <a href="https://{{ old_site }}/minside/">dagens min side</a>, endre <a href="{% url user.views.account %}">brukeropplysningene dine</a>, eller gå til <a href="{% url admin.views.index %}">Sherpa</a>.
</p>

{% endblock %}
