{% extends 'layout.html' %}
{% block title %}Logg inn{% endblock %}
{% block breadcrumb_title %}Innlogging{% endblock %}

{% block body %}

<div id="login">
  <div class="row">
    <div class="span12">
      <h1>Logg inn</h1>
    </div>
  </div>

  <div class="row">
    <div class="span6">
      <form action="{% url user.views.login %}{% if next %}?next={{ next }}{% endif %}" method="post">
        {% csrf_token %}
        <table class="table">
          <tr>
            <td>
              E-postadresse:
            </td>
            <td><input type="text" name="email" class="input-large"></td>
          </tr>
          <tr>
            <td>Passord:</td>
            <td><input type="password" name="password" class="input-large"></td>
          </tr>
          <tr>
            <td><a href="javascript:undefined" class="forgot">Glemt passord?</a></td>
            <td><button type="submit" class="btn btn-danger btn-large login">Logg inn</button></td>
          </tr>
        </table>
      </form>

      <div id="forgot-password">
        <h3>Har du glemt ditt passord?</h3>
        <input type="text" name="email" placeholder="Fyll ut din e-post adresse...">
        <button class="btn restore-password">Gjenopprett passord</button>
        <p class="info"></p>
      </div>
    </div>
    <div class="span6">
      {% if invalid_credentials %}
        <div class="alert alert-danger">
          <a class="close">x</a>
          <strong>Feil e-postadresse eller passord</strong><br>
          Vennligst prøv igjen.
        </div>
      {% endif %}
      <h2>Velkommen til nye Sherpa!</h2>
      <p>
        Her kan du logge på nye Sherpa. Hvis du ikke har fått bruker må du foreløpig kontakte Ali eller Hans; du kan ikke bruke din gamle Sherpa-bruker her.
      </p>
      <p>
        Vi håper du blir fornøyd! Husk at veldig mye gjenstår før vi er ferdige, men ikke nøl med å ta kontakt dersom du har tilbakemeldinger.
      </p>
    </div>
  </div>
</div>

{% endblock %}
