{% extends 'common/admin/layout.html' %}

{% block title %}Domene — {{ block.super }}{% endblock %}

{% block admin_menu %}{% with 'sites' as active_entry %}{{ block.super }}{% endwith %}{% endblock %}

{% block body %}

<div class="row">
  <div class="col-lg-12">
    <h1>Domene <small>endre domene for {{ active_site.domain }}</small></h1>
    <ol class="breadcrumb">
      <li class="active"><i class="fa fa-dashboard"></i> <a href="{% url 'admin.views.index' %}">Sherpa</a></li>
      <li><a href="{% url 'admin.sites.views.index' %}">Nettsteder</a></li>
      <li><a href="{% url 'admin.sites.views.show' active_site.id %}">{{ active_site.get_title }}</a></li>
      <li><a href="{% url 'admin.sites.settings.views.index' active_site.id %}">Innstillinger</a></li>
      <li><a href="{% url 'admin.sites.settings.domain.views.index' active_site.id %}">Domene</a></li>
    </ol>
  </div>
</div><!-- /.row -->

<div class="row">
  <div class="col-lg-12">
    {% for message in messages %}
      {% if message.message == 'domain_updated' %}
        <div class="alert alert-success">
          Domeneadressen har blitt oppdatert.
        </div>
      {% elif message.message == 'malformed' %}
        <div class="alert alert-danger">
          Du må fylle inn et gyldig domenenavn. Hør med DNT sentralt dersom du er usikker på hva dette bør være.
        </div>
      {% elif message.message == 'more_than_one_subdir' %}
        <div class="alert alert-danger">
          Du kan ikke ha to undermapper i domenenavnet. Hør med DNT sentralt dersom du er usikker på hva domenenavnet deres er.
        </div>
      {% elif message.message == 'prefix_for_disallowed_domain' %}
        <div class="alert alert-danger">
          Kun domener direkte under <strong>{{ main_site.domain }}</strong> kan ha undermapper. Hør med DNT sentralt dersom du er usikker på hva domenenavnet deres er.
        </div>
      {% elif message.message == 'site_exists' %}
        <div class="alert alert-danger">
          <strong>{{ existing_forening.name }}</strong> har allerede domenenavnet <strong>http://{{ existing_forening.get_homepage_site.domain }}/</strong>. Hør med DNT sentralt dersom du er usikker på hva domenenavnet deres er.
        </div>
      {% elif message.message == 'prefix_not_supported_yet' %}
        <div class="alert alert-danger">
          Domenet kan ikke være en undermappe under turistforeningen.no (for eksempel: <strong>{{ main_site.domain }}/mitt-turlag</strong>) fordi vi ikke har satt opp teknisk støtte for det ennå.
        </div>
      {% elif message.message == 'test_period_requires_test_domain' %}
        <div class="alert alert-danger">
          I test-perioden <strong>må</strong> dere ha "<strong>.test.turistforeningen.no</strong>" bak domenet. For eksempel: <strong>http://stf.test.turistforeningen.no</strong>
        </div>
      {% endif %}
    {% endfor %}

    <p>
      {{ active_forening.name }} har hjemmesideadresse <strong>http://{{ active_site.domain }}</strong>. Du kan endre denne hvis du vet hva du gjør. <strong>Hvis du endrer domenet, vil den gamle adressen slutte å fungere</strong>. Man endrer veldig sjeldent domenet for en hjemmeside.
    </p>

    <form action="{% url 'admin.sites.settings.domain.views.index' active_site.id %}" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label>Ny domeneadresse:</label>
        <input type="text" name="domain" class="form-control" value="http://{{ active_site.domain }}">
      </div>
      <button class="btn btn-success save-menu">
        Lagre nytt domene
      </button>
    </form>

  </div>
</div>

{% endblock %}
