{% extends current_layout %}

{% load i18n %}

{% block title %}{% trans "Innmelding" %}{% endblock %}
{% block breadcrumb %}<em><a href="{% url 'enrollment.views.registration' %}">{% trans "Innmelding" %}</a></em>{% endblock %}
{% block body %}

{% if not skip_header %}
<div class="row">
  <div class="span12">
    <h1>
      {% trans "Bli medlem for" %}
      {% if today >= new_membership_year %}
        {{ today|date:"Y"|add:1 }}
      {% else %}
        {{ today|date:"Y" }}
      {% endif %}
    </h1>
  </div>
</div>
{% endif %}

{% block enrollment %}{% endblock %}
{% endblock %}
