{% extends 'main/enrollment/index.html' %}

{% load i18n %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/enrollment/payment.js"></script>
{% endblock %}

{% block enrollment %}

<div class="enrollment-payment-method">
  <div class="row">
    <div class="span8">

      {% include 'main/enrollment/progress.html' with step=4 %}

      {% for message in messages %}
        {% if message.message == 'invalid_payment_method' %}
          <div class="alert alert-error">
            <a class="close">x</a>
            <strong><i class="icon-warning-sign"></i> {% trans "Ugyldig betalingsmåte" %}</strong><br>
            {% trans "Du må velge hvilken betalingsmetode du ønsker å bruke før du går videre." %}
          </div>
        {% elif message.message == 'nets_register_connection_error' %}
          <div class="alert alert-error">
            <a class="close">x</a>
            <strong>{% trans "Teknisk feil ved nettbetaling" %}</strong><br>
            {% trans "Beklager, det oppstod en feil når vi forsøkte å koble til vår betalingsleverandør. Du kan prøve igjen, eller velge å få tilsendt faktura i stedet." %}
          </div>
        {% endif %}
      {% endfor %}

      {% if not card_available and not membership_year_start.initiation_date.has_passed %}
        <div class="alert alert-error">
          <strong><i class="icon-info-sign"></i> {% trans "Kortbetaling utilgjengelig" %}</strong><br>
          {% blocktrans %}
            Beklager, kortbetaling er midlertidig utilgjengelig. Vennligst vent og prøv igjen litt senere, eller velg å få tilsendt faktura.<br>
            Vi beklager dette og takker for din tålmodighet. Eventuelle spørsmål kan rettes til medlemsservice, se kontaktboksen til høyre.
          {% endblocktrans %}
        </div>
      {% endif %}

      {% if card_available and card_required %}
        <div class="alert alert-error">
          <strong><i class="icon-info-sign"></i> {% trans "Må betales med VISA/MASTERCARD" %}</strong><br>
          {% trans "Siden innmeldingen er i forbindelse med at du skal melde deg på en aktivitet i regi av DNT, må du betale på nett slik at vi kan bekrefte innbetalingen og eventuelt tilby rabatt." %}
        </div>
      {% endif %}

      <form method="post" action="{% url 'enrollment.views.payment' %}" class="payment">
        {% csrf_token %}
        <input type="hidden" name="main-member" value="">
        <h2>{% trans "Velg betalingsmåte:" %}</h2>
        <div class="control-group">
          <label class="radio">
            <input type="radio" name="payment_method" value="card" {% if card_available %}checked{% else %}disabled{% endif %}> VISA / MASTERCARD
          </label>
          <label class="radio">
            <input type="radio" name="payment_method" value="invoice"{% if card_required %} disabled{% elif not card_required and not card_available %} checked{% endif %}> {% trans "Få tilsendt faktura" %}
          </label>
        </div>

        <div class="alert alert-info invoice-info hide">
          {% trans "<strong>Merk:</strong> Velger du å betale med faktura blir ikke medlemskapet gyldig før betalingen er registrert i vårt system." %}
        </div>

        <p>
          <a class="btn btn-large" href="{% url 'enrollment.views.verification' %}"><i class="icon-arrow-left"></i> {% trans "Tilbake" %}</a>
          <button type="submit" class="btn btn-danger btn-large payment card{% if not card_available %} hide{% endif %}">
            {% trans "Til betaling" %} <i class="icon-arrow-right"></i>
          </button>
          <button type="submit" class="btn btn-danger btn-large payment invoice{% if card_available %} hide{% endif %}">
            {% trans "Send bestilling" %} <i class="icon-ok"></i>
          </button>
          <img class="ajaxloader hide" src="{{ STATIC_URL }}img/ajax-loader-small.gif" alt="{% trans "Laster, vennligst vent..." %}">
        </p>
      </form>

    </div>

    <div class="span4">
      {% include 'main/membership/infobox.html' %}
    </div>
  </div>
</div>

{% endblock %}
