{% extends 'main/enrollment/index.html' %}

{% load i18n %}

{% block extra_js %}
  <script src="https://track.adform.net/serving/scripts/trackpoint"></script>
  <script src="{{ STATIC_URL }}js/enrollment/registration.js"></script>
{% endblock %}

{% block js_globals %}
  <script>
    window.Turistforeningen = {
      phone_required: {% if users|length == 0 %}true{% else %}false{% endif %},
      email_required: {% if users|length == 0 %}true{% else %}false{% endif %}
    };
  </script>
{% endblock %}

{% block enrollment %}

<div class="enrollment-registration">

  {% if dntconnect %}
    <div class="row">
      <div class="span12">
        <div class="alert alert-info">
          <strong>{% trans "Innmelding i Den Norske Turistforening" %}</strong><br>
          {% trans "Du er i ferd med å melde deg inn i DNT i forbindelse med at du skal melde deg på en tur eller aktivitet. Når innmeldingen er fullført vil du bli videresendt til påmelding for turen." %}
        </div>
      </div>
    </div>
  {% endif %}

  {# Hardcode for 2013 - however, we'll likely want this message to reoccur at the appropriate time next year #}
  {% if display_membership_year_warning %}
    <div class="row">
      <div class="span12">
        <div class="alert alert-error">
          <strong>Vi nærmer oss slutten for salg av medlemskap for {{ today.year }}!</strong><br>
          Trenger du medlemskapet akkurat nå, kan du betale med kort. Vær oppmerksom på at medlemskapet følger kalenderåret og utgår {{ end_of_year|date:"j. F Y" }}.<br>
          Vil du bli medlem for {{ today.year|add:"1" }}, ber du om å få tilsendt faktura. Vi sender deg innbetalingsgiroen i begynnelsen av november. Dette inkluderer medlemskap for resten av {{ today.year }}.
        </div>
      </div>
    </div>
  {% endif %}

  <div class="row">
    <div class="span8">

      {% include 'main/enrollment/progress.html' with step=1 %}

      {% if errors %}
        <script>
          window.trigger_form_validations = true;
        </script>
        <div class="alert alert-error">
          <a class="close">x</a><strong>{% trans "Vi klarte ikke å lagre opplysningene." %}</strong><br>
          {% trans "Er alt riktig fylt ut? Vennligst sjekk felter som er markert røde og prøv på nytt." %}
        </div>
      {% endif %}
      {% for message in messages %}
        {% if message.message == 'too_many_underage' %}
          <div class="notice-alert">
            <h2>{% trans "Beklager, men du kan ikke registrere disse medlemmene!" %}</h2>
            <p>
              {% blocktrans with count=users|length %}
                Du har registrert {{ count }} medlemmer, hvorav ingen er gammel nok til å være hovedmedlem. Av tekniske årsaker kan du melde inn maks 3 slike medlemmer av gangen.
              {% endblocktrans %}
            </p>
            <p>{% trans "Vi beklager ulempene dette medfører og vi arbeider med å unngå en slik begrensning." %}</p>
          </div>
        {% elif message.message == 'contact_missing' %}
          <div class="alert alert-error">
            <a class="close">x</a><strong><i class="icon-warning-sign"></i> {% trans "Kontaktinformasjon mangler." %}</strong><br>
            {% trans "Minst ett medlem av husstanden må ha gyldig kontaktinformasjon (både telefon og e-post)." %}
          </div>
        {% endif %}
      {% endfor %}

      {% if users %}
        <div class="well members">
          <h2>{% trans "Du har registrert:" %}</h2>
          <table class="table table-bordered memberlist">
          {% for user in users %}
            <tr>
              <td>
                <a href="{% url 'enrollment.views.registration' user.index %}" title="Rediger {{ user.name }}">
                  {% if user.name %}
                    {{ user.name }}
                  {% else %}
                    {% trans "(Anonym)" %}
                  {% endif %}
                </a>
                <span class="remove">
                  <a href="{% url 'enrollment.views.remove' user.index %}"><i class="icon-remove" title="Fjern {{ user.name }}"></i></a>
                </span>
              </td>
            </tr>
          {% endfor %}
          </table>
          <label class="checkbox">
            <input type="checkbox" class="conditions"{% if conditions %} checked{% endif %}> {% if users|length > 1 %}{% trans "Vi" %}{% else %}{% trans "Jeg" %}{% endif %} {% trans "har lest og godtar" %} <a href="javascript:undefined" data-toggle="modal" data-target=".modal">{% trans "betingelsene" %}</a>
          </label>
          <p>
            <a href="{% url 'enrollment.views.household' %}" class="btn btn-danger btn-large step2{% if user.index >= 0 %} post{% endif %}" data-conditions-message="{% trans "Du kan ikke gå videre med mindre du har lest og godtatt betingelsene." %}">
              {% trans "Gå videre" %} <i class="icon-arrow-right icon-white"></i>
            </a>
          </p>
        </div>
        <h2>{% trans "Meld inn flere i familien/husstanden:" %}</h2>
        <p>{% trans "Du kan kun melde inn flere samtidig hvis alle bor på samme adresse." %}</p>
        <br>
      {% endif %}

      <form id="registration" class="form-border" action="{% url 'enrollment.views.registration' %}" method="post">
        {% csrf_token %}
        {% if person.index >= 0 %}
          <input type="hidden" name="user" value="{{ person.index }}">
        {% endif %}
        <div class="control-group name">
          <label>{% trans "Fullt navn" %} <span class="asterisk red">*</span></label>
          <input type="text" class="input-large" name="name" value="{{ person.name }}">
        </div>
        <div class="control-group dob">
          <label>{% trans "Fødselsdato (dd.mm.åååå)" %} <span class="asterisk red">*</span></label>
          <div class="date input-append">
            <input type="text" class="input-medium dob" name="dob" value="{{ person.dob|date:"d.m.Y" }}">
            <span class="add-on">
              <i class="icon-th"></i>
            </span>
          </div>
        </div>
        <div class="control-group gender">
          <label> {% trans "Kjønn" %} <span class="asterisk red">*</span></label>
          <label class="radio gender">
            <input type="radio" name="gender" value="f"{% if person.gender == 'f' %} checked{% endif %}> {% trans "Kvinne" %}
          </label>
          <label class="radio gender">
            <input type="radio" name="gender" value="m"{% if person.gender == 'm' %} checked{% endif %}> {% trans "Mann" %}
          </label>
        </div>
        <div style="clear: both;"></div>
        <div class="control-group phone">
          <label> {% trans "Mobiltelefon" %} {% if users|length == 0 %}<span class="asterisk red">*</span>{% endif %}</label>
          <input type="text" class="input-medium" name="phone" value="{{ person.phone }}">
        </div>
        <div class="control-group email">
          <label> {% trans "E-post" %} {% if users|length == 0 %}<span class="asterisk red">*</span>{% endif %}</label>
          <input type="text" class="input-large" name="email" value="{{ person.email }}">
        </div>
        <button type="submit" class="btn btn-large"><i class="icon-user"></i> {% if person.index >= 0 %}{% trans "Lagre endringer" %}{% else %}{% trans "Legg til medlem" %}{% endif %}</button><br>
      </form>
    </div>

    <div class="span4">
      {% include 'main/membership/infobox.html' %}
    </div>
  </div>

  {# Conditions modal #}
  <div class="modal conditions hide">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">X</button>
      <h1>{% trans "Betingelser for medlemskap i Den Norske Turistforening" %}</h1>
    </div>
    <div class="modal-body">
    <ul>
      <li>
        {% blocktrans with month=new_membership_year|date:"F" %}
          Medlemskap i Den Norske Turistforening (DNT) følger kalenderåret og gjelder fra 1. januar til 31. desember. Etter 1. {{ month }} kan man kjøpe medlemskap for påfølgende år.
        {% endblocktrans %}
      </li>
      <li>{% trans "Medlemskapet er personlig." %}</li>
      <li>{% trans "Det er ingen angrerett på betalt medlemskap." %}</li>
      <li>{% blocktrans %}Medlemstypene er aldersbegrenset, men uføretrygdede (minst 50%) gis rett til honnørmedlemskap.{% endblocktrans %}</li>
      <li>{% trans "Medlemskapet er ikke gyldig før det er betalt og medlemskortet er kun gyldig med stempel eller oblat fra bank/post." %}</li>
      <li>{% trans "DNT forplikter seg til ikke å videreformidle personlige opplysninger til andre enn våre egne medlemsforeninger, samt enkelte samarbeidspartnere i forbindelse med tilbud på utvalgte medlemsfordeler. Det er mulig å reservere seg mot dette på Min side." %}</li>
    </ul>

    <p>
      {% trans "Sist endret: 9. november 2012." %}<br>
      {% trans "Med forbehold om endringer i løpet av medlemsåret." %}
    </p>

    </div>
    <div class="modal-footer">
      <a href="javascript:undefined" class="btn" data-dismiss="modal">{% trans "Lukk vindu" %}</a>
    </div>
  </div>
</div>

{% endblock %}
