{% extends 'main/layout.html' %}
{% block title %}Innmelding{% endblock %}
{% block breadcrumb_title %}Innmelding{% endblock %}
{% block body %}

<div class="row">
  <div class="span12">
    <h1>Innmelding utilgjengelig</h1>

    <p>
      <strong>Online innmeldingsskjema er dessverre ikke tilgjengelig på grunn av midlertidig vedlikehold.</strong>
    </p>

    <p>
      For å bli medlem, vennligst ta kontakt med medlemsservice på tlf. 4000 1870 eller e-post <a href="mailto:medlem@turistforeningen.no">medlem@turistforeningen.no</a>.
    </p>
  </div>
</div>

{% endblock %}
