/**
 * Listing of aktiviteter is shared between the canonical site (public/aktiviteter.less)
 * and the listing widget (public/widgets/aktivitet_listing.less)
 */

.aktivitet-item() {
  display: block;
  position: relative;
  margin-bottom: 20px;
  background-color: #fff;

  // This is an anchor element, but default to displaying text as normal...
  color: @default-text-color;
  text-decoration: none;

  // The disabled class is added when loading new items from search
  &.disabled {
    opacity: 0.5;
    cursor: wait;

    &:hover h2 {
      text-decoration: none;
    }
  }

  // Except for the header, which should look and behave like an anchor
  h2 {
    .header3();
    margin-bottom: 0;
    line-height: 1.4;
    color: @profile-red;
  }

  &:hover h2 {
    text-decoration: underline;
  }

  &.has-image {

    .image-wrapper {
      position: relative;
      // padding-bottom is setting the aspect ratio of content inside wrapper.
      // Example: To create a 16:9 ratio, divide 9 by 16 (0.5625 or 56.25%).
      padding-bottom: 33%;
      height: 0;
    }

    .image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center center;
      background-size: cover;
    }

  }

  .category { // Is displayed none in less/public/aktiviteter.less for .has-image aktivitet
    &:after {
      content: ' |';
      color: #e5e5e5;
      margin-left: 1px;
      margin-right: 1px;
    }
  }

  .availability {
    > div {
      display: inline-block;
      position: relative;
      float: right;
      margin-right: -20px;
      margin-top: -5px;
      padding: 7px 9px;
      font-size: 14px;
      font-family: "DTL Nobel" !important;
      color: #fff;

      &:before {
        position: absolute;
        top: -5px;
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 0 0 5px;
        content: '';
      }

      &.few-left {
        background-color: @profile-red;
        &:before {
          border-color: transparent transparent transparent darken(@profile-red, 25%);
        }
      }

      &.is-full {
        background-color: #000;
        &:before {
          border-color: transparent transparent transparent #000;
        }
      }
    }
  }

  .info {
    padding: 15px;

    .meta {
      margin-top: 3px;
      margin-bottom: 4px;
      font-family: "DTL Nobel" !important;
      font-weight: bold;
      font-size: 14px;
      color: #1d1d1d;

      .date, .duration, .category {
        display: inline-block;
      }

      .date {
        span.short {
          display: none;
        }
      }
    }

    div.description {
      p {
        margin-bottom: 5px;
      }
    }

    div.organizer {
      p {
        margin-bottom: 0;
        font-family: "DTL Nobel" !important;
        font-size: 15px;
        font-weight: bold;
        color: #959595;
      }
    }

  }
}
