/**
 * Listing of aktiviteter is shared between the canonical site (public/aktiviteter.less)
 * and the listing widget (public/widgets/aktivitet_listing.less)
 */

.aktivitet-item() {
  position: relative;
  margin-bottom: 20px;
  background-color: #fff;
  overflow: hidden;

  h2 {
    .header3();
    margin-bottom: 0;
    line-height: 1.4;
  }

  div.image {
    display: none;
    float: left;
    overflow: hidden;
    margin-right: 15px;
    background-color: #999;
    position: relative;
    text-align: center;

    > img {
      max-width: none;
      max-height: 100%;
      display: block;
      position: relative;
      z-index: 100;

      &.image-replacement {
        display: inline-block;
        height: 53%;
        margin-top: 25%;
      }
    }

  }

  div.meta {
    font-family: "DTL Nobel" !important;
    font-size: 14px;
    color: #1d1d1d;
  }

  div.date span.short {
    display: none;
  }

  div.category {
    font-weight: bold;
  }

  p.description {
    display: none;
  }


  // Up to 1/4
  &[max-width~="239px"] {
    div.date {
      span.short {
        display: inline-block;
      }
      span.long {
        display: none;
      }
    }
    p.description.xs {
      display: block;
    }
  }

  &[min-width~="240px"] {
    p.description.sm {
      display: block;
    }
  }

  &[max-width~="439px"] {
    div.meta div {
      display: inline-block;
    }
  }

  // Min width 1/2
  &[min-width~="440px"] {
    @height: 120px;
    height: @height;

    .image {
      display: block;
      height: @height;
      width: @height;
    }

    div.category {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 150;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 7px 9px;
      font-family: "DTL Nobel" !important;
      font-weight: normal;
      color: #fff;
    }

    p.description {
      &.xs, &.md, &.lg {
        display: none;
      }
      &.sm {
        display: block;
      }
    }

  }

  &[min-width~="550px"] {
    @height: 150px;
    height: @height;

    h2 {
      margin-bottom: 2px;
    }

    .image {
      height: @height;
      width: @height;
    }

    .meta {
      margin-bottom: 2px;
    }
  }

  // From 2/3
  &[min-width~="640px"] {

    h2 {
      .header2();
      margin-bottom: 0px;
      line-height: 1.6;
    }

    div.meta {
      font-size: 16px;
      margin-bottom: 2px;
    }

    p.description {
      &.xs, &.sm, &.lg {
        display: none;
      }
      &.md {
        display: block;
      }
    }

  }

  // Full width only
  &[min-width~="900"] {
    p.description {
      &.xs, &.sm, &.md {
        display: none;
      }
      &.lg {
        display: block;
      }
    }
  }

}
