/**
 * Listing of aktiviteter is shared between the canonical site (public/aktiviteter.less)
 * and the listing widget (public/widgets/aktivitet_listing.less)
 */

.aktivitet-item() {
  display: block;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #fff;

  // This is an anchor element, but default to displaying text as normal...
  color: @default-text-color;
  text-decoration: none;

  // Except for the header, which should look and behave like an anchor
  h2 {
    .header3();
    margin-bottom: 0;
    line-height: 1.4;
    color: @profile-red;
  }

  &:hover h2 {
    text-decoration: underline;
  }

  div.image {
    position: relative;
    display: none;
    float: left;
    margin-right: 15px;
    overflow: hidden;
    text-align: center;

    background-color: #999;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    &.image-replacement {
      background-position: 30px 40px;
      background-size: 60%;
    }

  }

  .info {
    .meta {
      font-family: "DTL Nobel" !important;
      font-size: 14px;
      color: #1d1d1d;

      .category {
        font-weight: bold;
      }

      .date, .duration {
        display: inline-block;
      }

      .date {
        span.short {
          display: none;
        }
      }
    }

    .description {
      display: none;
    }
  }


  // Up to 1/4
  &[max-width~="239px"] {
    div.date {
      span.short {
        display: inline-block;
      }
      span.long {
        display: none;
      }
    }
    p.description.xs {
      display: block;
    }
  }

  &[min-width~="240px"] {
    p.description.sm {
      display: block;
    }
  }

  &[max-width~="439px"] {
    div.meta div {
      display: inline-block;
    }
  }

  // Min width 1/2
  &[min-width~="440px"] {
    @height: 120px;
    height: @height;

    .image {
      display: block;
      height: @height;
      width: @height;
    }

    div.category {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 150;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 7px 9px;
      font-family: "DTL Nobel" !important;
      font-weight: normal;
      color: #fff;
    }

    p.description {
      &.xs, &.md, &.lg {
        display: none;
      }
      &.sm {
        display: block;
      }
    }

  }

  &[min-width~="550px"] {
    @height: 150px;
    height: @height;

    h2 {
      margin-bottom: 2px;
    }

    .image {
      height: @height;
      width: @height;
    }

    .meta {
      margin-bottom: 2px;
    }
  }

  // From 2/3
  &[min-width~="640px"] {

    h2 {
      .header2();
      margin-bottom: 0px;
      line-height: 1.6;
    }

    div.meta {
      font-size: 16px;
      margin-bottom: 2px;
    }

    p.description {
      &.xs, &.sm, &.lg {
        display: none;
      }
      &.md {
        display: block;
      }
    }

  }

  // Full width only
  &[min-width~="900"] {
    p.description {
      &.xs, &.sm, &.md {
        display: none;
      }
      &.lg {
        display: block;
      }
    }
  }

}
