{% extends 'common/admin/layout.html' %}
{% block title %}Brukere &mdash; {{ block.super }}{% endblock %}
{% block header %}<a href="{% url 'admin.users.views.index' %}">Brukere</a>{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/admin/user_search.js"></script>
{% endblock %}

{% block js_globals %}
  <script>
    var password_length = {{ password_length }};
  </script>
{% endblock %}

{% block body %}

<div class="row">
  <div class="span12">
    <h2>Finn brukere/medlemmer</h2>
  </div>
</div>

<div class="row">
  <div class="span6">
    <input type="text" name="user-search" class="input-xlarge" placeholder="Navn eller medlemsnummer">
    <button class="btn input-button-align"><i class="icon-search"></i></button>
  </div>

  <div class="span6">
  </div>
</div>

<div class="row">
  <div class="span12">
    <table class="table user-search-list">
      <tr>
        <th>Navn</th>
        <th>Medlemsnummer</th>
        <th>Min side-konto</th>
        <th>Sherpa-tilgang</th>
      </tr>

      <tr class="initial">
        <td colspan="4">Søk etter medlemmer/brukere i søkeboksen over...</td>
      </tr>

      <tr class="no-hits hide">
        <td colspan="4">Fant ingen med navn eller medlemsnummer <span class="result-mirror"></span>.</td>
      </tr>

      <tr class="error hide">
        <td colspan="4">Beklager, det oppstod en teknisk feil ved oppslag i databasen. Feilen har blitt logget og vi vil se på problemet så snart som mulig.</td>
      </tr>

      <tr class="loader hide">
        <td colspan="4">
          Vennligst vent mens vi søker.<br>
          Medlemsdatabasen er stor, så dette kan ta noen sekunder.<br>
          <img src="{{ STATIC_URL }}img/ajax-loader-large.gif" alt="Laster, vennligst vent...">
        </td>
      </tr>
    </table>
  </div>
</div>

{% endblock %}
