{% extends 'common/admin/layout.html' %}
{% block title %}Brukere &mdash; {{ block.super }}{% endblock %}
{% block header %}<a href="{% url 'admin.users.views.index' %}">Brukere</a>{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/admin/user_management.js"></script>
{% endblock %}

{% load association_role %}
{% load friendlyrole %}

{% block body %}

<div class="row">
  <div class="span6">
    {% if other_user.is_member and other_user.should_be_expired %}

      <h3>Personopplysninger</h3>

      <p>
        Denne brukeren har medlemsnummer <strong>{{ other_user.memberid }}</strong>, men medlemsnummeret finnes ikke i medlemsregisteret lengre, så vi har ingen personopplysninger.
      </p>

      <p>
        Brukeren er merket som <em>utgått</em> og kan ikke logge på Min side. Dersom brukeren har fått nytt medlemsnummer kan du endre det under.
      </p>

    {% else %}

      <h3>Personopplysninger</h3>
      <table class="table">
        <tr>
          <th>Navn</th>
          <td>{{ other_user.get_full_name }}</td>
        </tr>
        <tr>
          <th>E-post</th>
          <td>
            {% if other_user.get_email %}
              <a href="mailto:{{ other_user.get_email }}">{{ other_user.get_email }}</a>
            {% else %}
              <em>Ikke oppgitt</em>
            {% endif %}
          </td>
        </tr>
        {% if other_user.perms.sherpa and other_user.sherpa_email != '' %}
          <tr>
            <th>E-post i Sherpa</th>
            <td>{{ other_user.sherpa_email }}</td>
          </tr>
        {% endif %}

        {% if other_user.is_member %}
          <tr>
            <th>Telefon</th>
            <td>{{ other_user.get_phone_home }}</td>
          </tr>
          <tr>
            <th>Mobiltelefon</th>
            <td>{{ other_user.get_phone_mobile }}</td>
          </tr>
          <tr>
            <th>Født</th>
            <td>{{ other_user.get_birth_date|date:"j. F Y" }}</td>
          </tr>

          <tr>
            <th>Adresse</th>
            <td>
              {{ other_user.get_address.format_with_newlines|linebreaksbr }}
            </td>
          </tr>
        {% endif %}

        <tr>
          <th>Min side-bruker</th>
          <td>
            {% if other_user.is_active %}
              Ja
            {% else %}
              Nei
            {% endif %}
          </td>
        </tr>
      </table>

      <h3>Medlemsinformasjon</h3>
      <table class="table">
        {% if not other_user.is_member %}
          <tr>
            <th>Status</th>
            <td>
              <em>Ikke registrert medlemskap</em>
            </td>
          </tr>
        {% else %}
          <tr>
            <th>Status</th>
            <td>
              {% if other_user.has_paid %}
                Betalt for
                {% if next_year %}
                  {{ year|add:"1" }}
                {% else %}
                  {{ year }}
                {% endif %}
              {% else %}
                Ikke betalt for
                {% if next_year %}
                  {{ year|add:"1" }}
                {% else %}
                  {{ year }}
                {% endif %}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th>Medlemsnummer</th>
            <td>{{ other_user.memberid }}</td>
          </tr>
          <tr>
            <th>Lokalforening</th>
            <td>
              {% if other_user.main_association.site %}<a href="http://{{ other_user.main_association.site.domain }}/">{% endif %}
                {{ other_user.main_association.name }}
              {% if other_user.main_association.site %}</a>{% endif %}
            </td>
          </tr>
          <tr>
            <th>Medlemstype</th>
            <td>{{ other_user.membership_type.name }}</td>
          </tr>
          {% if other_user.get_parent %}
            <tr>
              <th>Hovedmedlem</th>
              <td>{{ other_user.get_parent.get_full_name }} ({{ other_user.get_parent.memberid }})</td>
            </tr>
          {% endif %}
          {% if other_user.get_children|length > 0 %}
            <tr>
              <th>Husstandsmedlemmer</th>
              <td>
                {% for child in other_user.get_children %}
                  {{ child.get_full_name }} ({{ child.memberid }}){% if not forloop.last %}<br>{% endif %}
                {% endfor %}
              </td>
            </tr>
          {% endif %}
          <tr>
            <th>Betalingsavtale</th>
            <td>
              {% if other_user.get_invoice_type_text == 'avtalegiro' %}
                AvtaleGiro
              {% elif other_user.get_invoice_type_text == 'efaktura' %}
                E-faktura
              {% else %}
                Ingen
              {% endif %}
            </td>
          </tr>
          {% if other_user.is_eligible_for_publications %}
            <tr>
              <th>Fjell og Vidde</th>
              <td>
                {% if other_user.get_address.country.code != 'NO' %}

                  {% if other_user.has_foreign_fjellogvidde_service %}
                    Ja
                  {% else %}
                    Nei
                  {% endif %}

                {% elif other_user.is_household_member %}

                  {% if other_user.get_parent.get_reserved_against_fjellogvidde %}
                    Nei (husstanden)
                  {% else %}
                    Ja (husstanden)
                  {% endif %}

                {% else %}

                  {% if other_user.get_reserved_against_fjellogvidde %}
                    Nei
                  {% else %}
                    Ja
                  {% endif %}

                {% endif %}
              </td>
            </tr>
            <tr>
              <th>Årboken</th>
              <td>
                {% if other_user.get_address.country.code != 'NO' %}

                  {% if other_user.has_foreign_yearbook_service %}
                    Ja
                  {% else %}
                    Nei
                  {% endif %}

                {% elif other_user.is_household_member %}

                  {% if other_user.get_parent.get_reserved_against_fjellogvidde %}
                    Nei (husstanden)
                  {% else %}
                    Ja (husstanden)
                  {% endif %}

                {% else %}

                  {% if other_user.get_reserved_against_yearbook %}
                    Nei
                  {% else %}
                    Ja
                  {% endif %}

                {% endif %}
              </td>
            </tr>
          {% endif %}
          <tr>
            <th>E-post fra DNT</th>
            <td>
              {% if other_user.receive_email %}
                Ja
              {% else %}
                Nei
              {% endif %}
            </td>
          </tr>
          <tr>
            <th>Medlemsfordeler fra partnere</th>
            <td>
              {% if other_user.reserved_against_partneroffers %}
                Nei
              {% else %}
                Ja
              {% endif %}
            </td>
          </tr>
        {% endif %}
      </table>

    {% endif %}

    {% if other_user.is_member %}

      <div class="change-memberid">
        <a href="javascript:undefined" class="change-memberid">Endre brukerens medlemsnummer</a>

        <form action="{% url 'admin.users.views.change_memberid' %}" method="post" class="form-default form-border form-horizontal hide">
          {% csrf_token %}
          <input type="hidden" name="old-user" value="{{ other_user.id }}">

          <p class="info">
            Her kan du endre medlemsnummeret for Min side-brukeren. Dette endrer <strong>ikke</strong> noe i medlemsregisteret (Focus).
          </p>

          <p class="info">
            <em>Ikke bruk denne funksjonen med mindre du er 100% sikker på hva du gjør.</em>
          </p>

          <p>
            <input type="text" class="input-large" name="new-memberid" placeholder="Nytt medlemsnummer...">
          </p>

          <div class="step1">
            <p class="check">
              <button class="btn check" data-check-url="{% url 'admin.users.views.check_memberid' %}" data-user-id="{{ other_user.id }}"><i class="icon-search"></i> Sjekk...</button>
            </p>

            <div class="loading hide">
              <img src="{{ STATIC_URL }}img/ajax-loader-small.gif" class="ajaxloader" alt="Laster..." title="Laster...">
              Sjekker medlemsnummeret...
            </div>

            <div class="alert alert-error hide">
              Beklager, det oppstod en teknisk feil ved oppslag i databasen. Feilen har blitt logget og vi vil se på problemet så snart som mulig.
            </div>
          </div>

          <div class="step2">
          </div>
        </form>

      </div>

    {% endif %}

  </div>

  <div class="span6">
    <h3>Tilganger</h3>
    {% if other_user.perms.sherpa_admin %}
      <p>Sherpa-administrator — har tilgang til alle foreninger.</p>
    {% elif other_user.perms.sherpa %}

      {% if other_user.all_associations|length == 0 %}
        <div class="alert alert-error">
          <strong>{{ other_user.get_full_name }} har ikke tilgang til noen foreninger!</strong><br>
          Gi ham/henne tilgang til minst én forening, ellers gir det ikke mening at han/henne har tilgang til Sherpa.
        </div>
      {% else %}

        <table class="table user-permissions">
          {% if other_user.all_associations_sorted.central|length > 0 %}
            <tr>
              <td colspan="2" class="group">Sentralt</td>
            </tr>
            {% for association in other_user.all_associations_sorted.central %}
              <tr>
                <td>{{ association.name }}</td>
                <td>
                  {% if association.role == 'user' %}<i class="icon-user"></i>{% endif %}
                  {% if association.role == 'admin' %}<i class="icon-star"></i>{% endif %}
                  {{ association.role|friendlyrole }}
                </td>
              </tr>
            {% endfor %}
          {% endif %}

          {% if other_user.all_associations_sorted.associations|length > 0 %}
            <tr>
              <td colspan="2" class="group">Foreninger</td>
            </tr>
            {% for association in other_user.all_associations_sorted.associations %}
              <tr>
                <td>{{ association.name }}</td>
                <td>
                  {% if association.role == 'user' %}<i class="icon-user"></i>{% endif %}
                  {% if association.role == 'admin' %}<i class="icon-star"></i>{% endif %}
                  {{ association.role|friendlyrole }}
                </td>
              </tr>
            {% endfor %}
          {% endif %}

          {% if other_user.all_associations_sorted.small_associations|length > 0 %}
            <tr>
              <td colspan="2" class="group">Turlag</td>
            </tr>
            {% for association in other_user.all_associations_sorted.small_associations %}
              <tr>
                <td>{{ association.name }}</td>
                <td>
                  {% if association.role == 'user' %}<i class="icon-user"></i>{% endif %}
                  {% if association.role == 'admin' %}<i class="icon-star"></i>{% endif %}
                  {{ association.role|friendlyrole }}
                </td>
              </tr>
            {% endfor %}
          {% endif %}

          {% if other_user.all_associations_sorted.hike_groups|length > 0 %}
            <tr>
              <td colspan="2" class="group">Turgrupper</td>
            </tr>
            {% for association in other_user.all_associations_sorted.hike_groups %}
              <tr>
                <td>{{ association.name }}</td>
                <td>
                  {% if association.role == 'user' %}<i class="icon-user"></i>{% endif %}
                  {% if association.role == 'admin' %}<i class="icon-star"></i>{% endif %}
                  {{ association.role|friendlyrole }}
                </td>
              </tr>
            {% endfor %}
          {% endif %}
        </table>
      {% endif %}

    {% else %}
      <p>{{ other_user.get_full_name }} har ikke tilgang til Sherpa.</p>
    {% endif %}

    {% if user == other_user %}                   {# Don't let a user modify his/her own permissions #}
    {% elif other_user.perms.sherpa_admin %} {# Permissions for sherpa admins aren't modifiable #}
    {% elif not other_user.perms.sherpa %}

      {# Hasn't got Sherpa access at all #}
      <p><button class="btn btn-danger make-sherpa-user">Gi tilgang til Sherpa</button></p>
      <div class="alert alert-error hide make-sherpa-user">
        <p>
          <strong>Gjør {{ other_user.get_full_name }} til Sherpa-bruker?</strong> Husk:<br>
        </p>
        <ol>
          <li>Du må gi brukeren tilgang til minst én forening etterpå, ellers gir det ikke mening at han/henne er Sherpa-bruker.</li>
          <li>Turledere trenger ikke nødvendigvis tilgang til Sherpa. Hvis du setter en bruker som turleder på en aktivitet, får han/henne tilgang fra Min side.</li>
        </ol>
        <p><a href="{% url 'admin.users.views.give_sherpa_access' other_user.id %}" class="btn btn-success"><i class="icon-ok"></i> Ja, gjør {{ other_user.get_full_name }} til Sherpa-bruker</a></p>
        <p><a href="javascript:undefined" class="btn cancel"><i class="icon-remove"></i> Nei, avbryt</a></p>
      </div>

    {% else %}

      {# Normal sherpa-user #}
      <h3>Endre tilganger</h3>

      {% if user.perms.sherpa_admin %}
        <p class="admin-buttons">
          <button class="btn btn-danger make-sherpa-admin"><i class="icon-exclamation-sign"></i> Gjør til Sherpa-admin</button>
          <button class="btn btn-danger revoke-sherpa-access"><i class="icon-remove"></i> Ta bort Sherpa-tilgang</button>
        </p>
        <div class="alert alert-error hide make-sherpa-admin">
          <p>
            <strong>Gjør brukeren til Sherpa-administrator?</strong><br>
            Sherpa-administratorer har tilgang til absolutt alt, og kan gjøre andre brukere til Sherpa-administratorer.
          </p>
          <p><a href="{% url 'admin.users.views.make_sherpa_admin' other_user.id %}" class="btn btn-success"><i class="icon-ok"></i> Ja, gjør {{ other_user.get_full_name }} til Sherpa-administrator</a></p>
          <p><a href="javascript:undefined" class="btn cancel"><i class="icon-remove"></i> Nei, avbryt</a></p>
        </div>
        <div class="alert alert-error hide revoke-sherpa-access">
          <p>
            <strong>Ta bort Sherpa-tilgang!?</strong><br>
            {{ other_user.get_full_name }} vil ikke ikke lengre ha noen form for tilgang til Sherpa, uavhengig av hvilke foreninger de er brukere/administratorer i.
          </p>
          <p><a href="{% url 'admin.users.views.revoke_sherpa_access' other_user.id %}" class="btn btn-success"><i class="icon-ok"></i> Ja, ta bort Sherpa-tilgang fullstendig</a></p>
          <p><a href="javascript:undefined" class="btn cancel"><i class="icon-remove"></i> Nei, avbryt</a></p>
        </div>

      {% endif %}

      <div class="association-permission">
        <select name="association-permission" data-placeholder="Gi tilgang til en forening...">
          <option value=""></option>
          {% if assignable_associations.central|length > 0 %}
            <optgroup label="Sentralt/nasjonalt">
              {% for association in assignable_associations.central %}
                <option value="{{ association.id }}" data-role="{{ association.role }}">{{ association.name }}</option>
              {% endfor %}
            </optgroup>
          {% endif %}
          {% if assignable_associations.associations|length > 0 %}
            <optgroup label="Medlemsforeninger">
              {% for association in assignable_associations.associations %}
                <option value="{{ association.id }}" data-role="{{ association.role }}">{{ association.name }}</option>
              {% endfor %}
            </optgroup>
          {% endif %}
          {% if assignable_associations.small_associations|length > 0 %}
            <optgroup label="Lokale turlag">
              {% for association in assignable_associations.small_associations %}
                <option value="{{ association.id }}" data-role="{{ association.role }}">{{ association.name }}</option>
              {% endfor %}
            </optgroup>
          {% endif %}
          {% if assignable_associations.hike_groups|length > 0 %}
            <optgroup label="Turgrupper">
              {% for association in assignable_associations.hike_groups %}
                <option value="{{ association.id }}" data-role="{{ association.role }}">{{ association.name }}</option>
              {% endfor %}
            </optgroup>
          {% endif %}
        </select>
      </div>

      <div class="association-role hide row-fluid">
        <div class="span6 user">
          <p class="button"><button class="btn btn-large user"><i class="icon-user"></i> Vanlig bruker</button></p>
          <p class="permission-description">
            Vanlige brukere kan gjøre endringer på sin egen forening.
          </p>
        </div>

        <div class="span6 admin">
          <p class="button"><button class="btn btn-large admin"><i class="icon-star"></i> Administrator</button></p>
          <p class="permission-description">
            Administratorer kan i tillegg gjøre endringer på foreninger/turlag som er underlagt sin forening, og opprette nye turlag/foreninger.
          </p>
        </div>
      </div>

      <div class="alert alert-error verify-association-permission hide">
        <form action="{% url 'admin.users.views.add_association_permission' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="user" value="{{ other_user.id }}">
          <input type="hidden" name="association" value="">
          <input type="hidden" name="role" value="">
          <p>
            <strong>Gi {{ other_user.get_full_name }} <span class="role"></span> til <span class="association"></span>?</strong>
          </p>
          <p><button type="submit" class="btn btn-success"><i class="icon-ok"></i> Ja, gi tilgang</button></p>
          <p><a href="javascript:undefined" class="btn cancel"><i class="icon-remove"></i> Nei, avbryt</a></p>
        </form>
      </div>

      {% if revokable_associations.central|length > 0 or revokable_associations.associations|length > 0 or revokable_associations.small_associations|length > 0 or revokable_associations.hike_groups|length > 0 %}
        <div class="association-permission-revoke">
          <select name="association-permission-revoke" data-placeholder="Ta bort tilgangen til en forening...">
            <option value=""></option>
            {% if revokable_associations.central|length > 0 %}
              <optgroup label="Sentralt/nasjonalt">
                {% for association in revokable_associations.central %}
                  <option value="{{ association.id }}" data-role="{{ association.role }}">{{ association.name }}</option>
                {% endfor %}
              </optgroup>
            {% endif %}
            {% if revokable_associations.associations|length > 0 %}
              <optgroup label="Medlemsforeninger">
                {% for association in revokable_associations.associations %}
                  <option value="{{ association.id }}" data-role="{{ association.role }}">{{ association.name }}</option>
                {% endfor %}
              </optgroup>
            {% endif %}
            {% if revokable_associations.small_associations|length > 0 %}
              <optgroup label="Lokale turlag">
                {% for association in revokable_associations.small_associations %}
                  <option value="{{ association.id }}" data-role="{{ association.role }}">{{ association.name }}</option>
                {% endfor %}
              </optgroup>
            {% endif %}
            {% if revokable_associations.hike_groups|length > 0 %}
              <optgroup label="Turgrupper">
                {% for association in revokable_associations.hike_groups %}
                  <option value="{{ association.id }}" data-role="{{ association.role }}">{{ association.name }}</option>
                {% endfor %}
              </optgroup>
            {% endif %}
          </select>

          <div class="association-permission-revoke-verify hide alert alert-error">
            <form action="{% url 'admin.users.views.revoke_association_permission' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="user" value="{{ other_user.id }}">
              <input type="hidden" name="association" value="">
              <p>
                <strong>Ta bort {{ other_user.get_full_name }}s tilgang til <span class="association"></span>?</strong>
              </p>
              <p><button type="submit" class="btn btn-success"><i class="icon-ok"></i> Ja, ta bort tilgangen</button></p>
              <p><a href="javascript:undefined" class="btn cancel"><i class="icon-remove"></i> Nei, avbryt</a></p>
            </form>
          </div>
        </div>
      {% endif %}

    {% endif %}
  </div>
</div>

{% endblock %}
