{% extends "admin/page/edit.html" %}
{% block editorscript %}
  <script src="{{ STATIC_URL }}js/editor.js"></script>
  <script src="{{ STATIC_URL }}js/editor-iframe.js"></script>
  <script src="{{ STATIC_URL }}js/editor-jquery-fn.js"></script>
  <script src="{{ STATIC_URL }}js/rangy-1.2.2.min.js"></script>
{% endblock %}
{% block editorcss %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/admin-editor.css" media="screen">
{% endblock %}
{% block edit %}

{# This csrf_token will be picked up by javascript and used for ajax requests. There is a fairly large chance that a csrf_token will exist for some other form too, and could have been available instead, but just to be absolutely certain there IS one available, this one is here. #}
{% csrf_token %}
<!--
<table id="version">
<thead>
<tr>
  <th>Versjon</th>
  <th>Aktiv versjon</th>
  <th>Endringer</th>
  <th>Skribent</th>
  <th>Forhåndsvisning</th>
  <th>Rediger</th>
</tr>
</thead>
<tbody>
{% for version in versions %}
<tr>
  <td>{{ version.version }}</td>
  <td>
    {% if version.active %}
      Aktiv!
    {% else %}
      <a href="{% url admin.views.version_activate version.id %}">Aktivér</a>
    {% endif %}</td>
  <td>todo</td>
  <td>todo</td>
  <td>todo</td>
  <td><a href="{% url admin.views.version_edit version.id %}">Rediger</a></td>
</tr>
{% endfor %}
</tbody>
<tfoot>
</tfoot>
</table>
<br>
<p><a href="{% url admin.views.version_new page.id %}">Ny versjon</a> (lager en kopi av den nyeste versjonen)</p>
-->

{% include "admin/page/widgets/quote_edit.html" %}

<div id="editarea">
  <div id="buttons">
    <button class="header" type="button"><img src="{{ STATIC_URL }}img/editorbuttons/header.png"></button>
    <button class="lede" type="button">Ingress</button>
    <button class="body" type="button">Brødtekst</button>
    <button class="bold" type="button"><img src="{{ STATIC_URL }}img/editorbuttons/bold.png"></button>
    <button class="italic" type="button"><img src="{{ STATIC_URL }}img/editorbuttons/italic.png"></button>
    <button class="underline" type="button"><img src="{{ STATIC_URL }}img/editorbuttons/underline.png"></button>
    <button class="ol" type="button"><img src="{{ STATIC_URL }}img/editorbuttons/ol.png"></button>
    <button class="ul" type="button"><img src="{{ STATIC_URL }}img/editorbuttons/ul.png"></button>
    <button class="anchor" type="button">Link</button>
    <button class="image" type="button"><img src="{{ STATIC_URL }}img/editorbuttons/image.png"></button>
    <button class="left" type="button"><img src="{{ STATIC_URL }}img/editorbuttons/left.png"></button>
    <button class="center" type="button"><img src="{{ STATIC_URL }}img/editorbuttons/center.png"></button>
    <button class="right" type="button"><img src="{{ STATIC_URL }}img/editorbuttons/right.png"></button>
    <button class="full" type="button"><img src="{{ STATIC_URL }}img/editorbuttons/full.png"></button>
    <br>
    <button id="savebutton">Lagre</button>
  </div>

{% for layout in layouts %}
{% include layout.template %}
{% endfor %}

<div id="add-layouts">
<h2>Legg til flere kolonner:</h2>
<table>
<tr>
  <th>Én kolonne</th>
  <th>Hovedkolonne + sidebar</th>
  <th>2 kolonner</th>
  <th>3 kolonner</th>
</tr>
<tr>
  <td><a href="{% url admin.views.layout_add version.id 'full' %}"><img src="{{ STATIC_URL }}img/layouts/full.png"></td>
  <td><a href="{% url admin.views.layout_add version.id 'sidebar' %}"><img src="{{ STATIC_URL }}img/layouts/sidebar.png"></td>
  <td><a href="{% url admin.views.layout_add version.id '2-columns' %}"><img src="{{ STATIC_URL }}img/layouts/2-columns.png"></td>
  <td><a href="{% url admin.views.layout_add version.id '3-columns' %}"><img src="{{ STATIC_URL }}img/layouts/3-columns.png"></td>
</tr>
</table>
</div>
</div>

{% endblock %}
