{% extends "admin/layout.html" %}
{% block title %}Admin: Page{% endblock %}
{% block body %}

{% if error %}<p><em>{{ error }}</em></p>{% endif %}

<h1>Redigerer artikkel '{% firstof version.content.content active.content.content %}'
({% if active.page.published %}Publisert{% else %}Ikke publisert{% endif %})</h1>

<form action="{% url admin.views.page_edit active.page.id %}" method="post">
{% csrf_token %}
<p>Slug: <input type="text" name="slug" value="{{ active.page.slug }}"> <input type="submit"></p>
</form>

<table id="version">
<thead>
<tr>
  <th>Versjon</th>
  <th>Aktiv versjon</th>
  <th>Endringer</th>
  <th>Skribent</th>
  <th>Forhåndsvisning</th>
</tr>
</thead>
<tbody>
{% for version in versions %}
<tr>
  <td>{{ version.version }}</td>
  <td>
    {% if version.active %}
      Aktiv!
    {% else %}
      <a href="{% url admin.views.page_version_activate version.id %}">Aktivér</a>
    {% endif %}</td>
  <td>todo</td>
  <td>todo</td>
  <td>Todo: Vis (<a href="{% url admin.views.page_version_edit version.id %}">Rediger</a>)</td>
</tr>
{% endfor %}
</tbody>
<tfoot>
</tfoot>
</table>
<br>
<p><a href="{% url admin.views.page_version_new active.page.id %}">Ny versjon</a> (lager en kopi av den nyeste versjonen)</p>

{% block edit %}{% endblock %}
{% endblock %}
