{% extends "admin/layout.html" %}
{% block title %}Admin: Page{% endblock %}
{% block body %}

{% if error %}<p><em>{{ error }}</em></p>{% endif %}

<h1>Redigerer artikkel '{{ active.content.content }}'</h1>
<table>
<thead>
<tr>
  <th>Versjon:</th>
  <td>Aktiv versjon: {{ active.version }}</td>
  {% if version %}
  <td>Du redigerer nå versjon {{ version.version }} ({% if not version.active %}ikke {% endif %}aktiv) - <a href="{% url admin.views.page_version version.page.id %}">endre versjon</a></td>
  {% endif %}
</tr>
</thead>
<tbody>
<tr>
  <th>Variant:</th>
  <td><a href="{% url admin.views.variant_list version.page.id version.id %}">Rediger varianter</a></td>
</tr>
</tbody>
</table>

<hr>

{% block edit %}{% endblock %}
{% endblock %}
