{% extends "admin/page/edit.html" %}
{% block edit %}

<table id="version">
<thead>
<tr>
  <th>Versjon</th>
  <th>Aktiv versjon</th>
  <th>Endringer</th>
  <th>Skribent</th>
  <th>Forhåndsvisning</th>
  <th>Rediger</th>
</tr>
</thead>
<tbody>
{% for version in versions %}
<tr>
  <td>{{ version.version }}</td>
  <td>
    {% if version.active %}
      Aktiv!
    {% else %}
      <a href="{% url admin.views.page_version_activate version.id %}">Aktivér</a>
    {% endif %}</td>
  <td>todo</td>
  <td>todo</td>
  <td>todo</td>
  <td><a href="{% url admin.views.page_version_edit version.id %}">Rediger</a></td>
</tr>
{% endfor %}
</tbody>
<tfoot>
</tfoot>
</table>
<br>
<p><a href="{% url admin.views.page_version_new page.id %}">Ny versjon</a> (lager en kopi av den nyeste versjonen)</p>

<div id="editarea">
{% for layout in layouts %}
{% include layout.template %}
{% endfor %}
</div>

{% endblock %}
