{% extends "admin/layout.html" %}
{% block title %}Admin: Page{% endblock %}
{% block body %}

{% if error %}<p><em>{{ error }}</em></p>{% endif %}

{% if active.page.published %}
  <p class="published">Publisert</p>
{% else %}
  <p class="not-published">Ikke publisert</p>
{% endif %}

<h1>Redigerer artikkel '{{ active.content.content }}'</h1>

{% if version %}
<table>
<thead>
  <tr>
    <th>Versjon</th>
    <th>Nyest</th>
    <th>Aktiv</th>
    <th>Endre versjon</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>{{ version.version }}</td>
    <td>{{ versioncount }}</td>
    <td>{{ active.version }}</td>
    <td><a href="{% url admin.views.page_version version.page.id %}">Endre versjon</a></td>
  </tr>
</tbody>
</table>
<br>
{% endif %}

{% block edit %}{% endblock %}
{% endblock %}
