{% extends "admin/layout.html" %}
{% block title %}Admin: Page{% endblock %}
{% block body %}

{% if error %}<p><em>{{ error }}</em></p>{% endif %}

<h1>Artikler</h1>
{% if not versions %}
<p>Tomt!</p>
{% else %}
<ul>
{% for version in versions %}
  <li>{{ version.content.content }}
      [ <a href="{% url admin.views.page_edit version.variant.page.id %}">Rediger</a> ]
      [ <a href="{% url admin.views.page_delete version.variant.page.id %}">Slett</a> ]</li>
{% endfor %}
</ul>
{% endif %}

<p><a href="#" id="new_page">Ny artikkel</a></p>
<p>
<form action="{% url admin.views.page_new %}" method="post" id="new_page_form">
{% csrf_token %}
  Vennligst oppgi foreløpig slug (du kan endre denne senere):<br>
  <input type="text" name="slug" value=""><br>
  <input type="submit" value="Opprett ny artikkel">
</form>
</p>
{% endblock %}
